<ion-header>
  <ion-navbar hideBackButton>
		<div class="headToolbar">
			<span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#282333"/></svg></span>
			<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
		</div>
		<div class="navList">
			<div class="yourPowrscore">
				<div class="title">POWRSCORE</div>
				<div class="count">{{powerScore}}</div>
			</div>
			<div class="progressBar hide">
				<span class="active"></span>
				<span class="active"></span>
				<span></span>
				<span></span>
			</div>
			<div id="headerStrocke"></div>
		</div>
  </ion-navbar>
</ion-header>
<ion-content parallax-header scroll-events="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()" no-padding class="mySupport" >
  <div class="addCause-top header-image">
    <div class="HeaderBox">
      <div class="headTitles">
        <div class="logotitle">CIVIC PROFILE</div>
        <h2>MY SUPPORT</h2>
        <p>Follow the organizations below to discover ways to become engaged.</p>
      </div>
    </div>
  </div>
  <div class="main-content">
      <ion-list>
      <!-- <ion-item *ngFor="let event of Events; let i = index" [ngClass]="{'isChecked':event.isChecked}" (click)="addRemoveEvent(event)">
        <div class="orgs_contentBox">

          <div class="orgActionWrap" [ngClass]="{'topposition':event.isChecked}">
            <span class="orgActionBtn orgAdd" *ngIf="event.isChecked==false"
              >+
            </span>
            <span class="orgActionBtn orgRemove" *ngIf="event.isChecked" >-
            </span>
          </div>
          <div class="orgs_titleBox">
            <div class="titleWrap">
              <div class="titleBox">
                <div class="title">{{event.event_name | uppercase}}</div>
              </div>
            </div>
            <div class="orgs_captions events">
              <div class="orgs_caption event" *ngFor="let org of event.OrgNames">{{org.name}}</div>
            </div>
          </div>
        </div>
      </ion-item> -->
      <ion-item *ngFor="let org of Organization; let i = index" [ngClass]="{'isChecked':org.isChecked}" (click)="addRemoveOrg(org)">
        <div class="orgs_contentBox">

          <div class="orgActionWrap" [ngClass]="{'topposition':org.isChecked}">
            <span class="orgActionBtn orgAdd" *ngIf="org.isChecked==false"
              >+
              <!-- <img src="./assets/img/icon-orgAdd.svg" width="33" height="33" alt="" /> -->

            </span>
            <span class="orgActionBtn orgRemove" *ngIf="org.isChecked" >-
              <!-- <img src="./assets/img/icon-orgRemove.svg" width="33" height="33" alt="" /> -->
            </span>
          </div>

          <div class="orgs_contentBoxBadges">

            <div class="badge"><span class="icon"><svg class="message-icon" xmlns="http://www.w3.org/2000/svg" width="15"
                  height="15" viewBox="0 0 12.643 15.3">
                  <g id="Group_5" data-name="Group 5" transform="translate(1.8 1.8)">
                    <path id="Shape"
                      d="M0,7.035V6.17c0-1,.326-1.576,1.528-1.576H5.06a.825.825,0,0,1,.827.853A.825.825,0,0,1,5.06,6.3h-2.5a.336.336,0,0,0,0,.671h2.5A1.5,1.5,0,0,0,6.538,5.447a1.544,1.544,0,0,0-.355-.988,1.471,1.471,0,0,0,.875-.545,1.46,1.46,0,0,0,1.153.573,1.434,1.434,0,0,0,.831-.266V7.035A4.594,4.594,0,0,1,4.522,11.7,4.6,4.6,0,0,1,0,7.035ZM7.381,3.067V2.046a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.248a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V.855a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.678A.841.841,0,0,1,1.287.823a.841.841,0,0,1,.829.855v1.39a.84.84,0,0,1-.829.855A.84.84,0,0,1,.458,3.067Z"
                      fill="#fff" stroke="#7846A9" stroke-miterlimit="10" stroke-width="3.6" />
                    <g id="noun_Fist_1261452" transform="translate(0 0)">
                      <g id="Group">
                        <path id="Shape-2" data-name="Shape"
                          d="M0,7.035V6.17c0-1,.326-1.576,1.528-1.576H5.06a.825.825,0,0,1,.827.853A.825.825,0,0,1,5.06,6.3h-2.5a.336.336,0,0,0,0,.671h2.5A1.5,1.5,0,0,0,6.538,5.447a1.544,1.544,0,0,0-.355-.988,1.471,1.471,0,0,0,.875-.545,1.46,1.46,0,0,0,1.153.573,1.434,1.434,0,0,0,.831-.266V7.035A4.594,4.594,0,0,1,4.522,11.7,4.6,4.6,0,0,1,0,7.035ZM7.381,3.067V2.046a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.248a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V.855a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.678A.841.841,0,0,1,1.287.823a.841.841,0,0,1,.829.855v1.39a.84.84,0,0,1-.829.855A.84.84,0,0,1,.458,3.067Z"
                          fill="#fff" />
                      </g>
                    </g>
                  </g>
                </svg></span><span class="text">{{org.message_count}}</span></div>
                <div class="badge">
                  <span class="icon" *ngIf="org.isChecked"><svg height="15" viewBox="0 0 12.806 10.157"
                      width="14" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z"
                        fill="#7846A9" id="Shape"></path>
                    </svg></span>
                  <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 14 14"><g fill="none" fill-rule="evenodd"><g transform="translate(-123 -514) translate(20 468) translate(94 42) translate(9.342 4.725)"><ellipse cx="6.658" cy="6.525" fill="#F5F2FD" rx="5.4" ry="4.95"/><path fill="#7846A9" d="M2.312 6.07c.932-.555 1.678-1.367 2.313-2.279l.14-.191c.698.951 1.385 1.873 2.484 2.334 1.061.443 2.176.53 3.331.465.013.447-.064.87-.196 1.29-.597 1.903-2.457 3.36-4.423 3.215-2.035-.149-3.675-1.77-4.063-3.73-.096-.484-.077-.813.414-1.105zm3.882 6.305c3.201.016 5.78-2.983 5.862-5.93C12.146 3.32 9.5.791 6.369.675 3.053.624.348 3.222.359 6.268c.007 3.067 2.575 6.082 5.835 6.108z"/></g></g></svg></span>
                  <span class="text"><span *ngIf="org.isChecked">YOU + </span> {{org.followers}}</span>
                </div>
          </div>
          <div class="orgs_titleBox">
            <div class="titleWrap">
             
              <div class="titleBox">
                <div class="title">{{org.name | uppercase}}</div>
                <div class="badge hide">
                  <span *ngIf="org.isChecked">YOU + </span>
                  <span>{{org.followers}}</span>
                  <span class="icon" *ngIf="org.isChecked"><svg xmlns="http://www.w3.org/2000/svg" width="13.855" height="13.855" viewBox="0 0 13.855 13.855"><g id="Group_8" data-name="Group 8" transform="matrix(1, 0.017, -0.017, 1, 0.622, 0.418)"><circle id="Oval" cx="6.093" cy="6.093" r="6.093" transform="translate(0.325 0.305)" fill="#2c2c3e" stroke="#fff" stroke-miterlimit="10" stroke-width="1.434"/><path id="Shape" d="M1.653,4.341a.651.651,0,0,0,.482.209.679.679,0,0,0,.482-.209L5.539,1.229a.752.752,0,0,0,0-1.018.647.647,0,0,0-.956,0L2.127,2.81l-.973-.894a.647.647,0,0,0-.956,0,.752.752,0,0,0,0,1.018Z" transform="translate(3.551 4.248)" fill="#fff"/></g></svg></span>
                </div>
              </div>
            </div>
            <div class="orgs_captions">
              <div class="orgs_caption">{{org.causes | uppercase}}</div>
              <!-- <div class="orgs_caption">ENERGY EQUITY,</div>
              <div class="orgs_caption">CLIMATE,</div>
              <div class="orgs_caption">+5</div> -->
            </div>
            <div class="orgs_descWrap text-wrap" *ngIf="org.description!=''">
              <div *ngIf="org.show_short_description==false" class="orgs_desc">{{org.description}} <b (click)="org.show_short_description=true">read less</b></div>
              <div *ngIf="org.show_short_description==true" class="orgs_desc">{{org.short_description}} <b (click)="org.show_short_description=false">read more</b></div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="loaderWrap" *ngIf="loaderShow">
        <ion-spinner name="dots"></ion-spinner>
        <!-- <ion-spinner name="bubbles"></ion-spinner> -->
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="btnArea">
    <button ion-button class="btn btn-primary" *ngIf="updatedOrg==false" (click)="goBack()">CANCEL</button>
    <div class="btnGroup" *ngIf="updatedOrg==true">
      <button ion-button class="btn btn-primary" *ngIf="showall=='1' && totalOrgSelected!=0" (click)="showAll()">VIEW ALL</button>
      <button ion-button class="btn btn-primary" *ngIf="showall=='0' && totalOrgSelected!=0" (click)="showSelected()">VIEW [{{totalOrgSelected}}]</button>
      <button ion-button class="btn btn-success" *ngIf="totalOrgSelected!=0" (click)="GoToNext('yes')">Update</button>
    </div>
  </div>
</ion-footer>