page-selected-event-activities {
	ion-content{
		.scroll-content {
			padding: 16px 36px !important;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 0px !important;
        
			.headToolbar {
				position: absolute;
			    top: 49px;
		    	right: 40px;
			    width: fit-content;

				.closeBtn {
					svg {
						fill: #282233;
					}
				}
			}
			.HeaderBox {
				padding: 66px 0px 0px;

				.headTitles {
					position: relative;
					.logotitle {
						font-family: 'Gibson';
					    font-size: 11px;
					    font-weight: 600;
					    font-stretch: normal;
					    font-style: normal;
					    line-height: 18px;
					    letter-spacing: 5px;
					    color: #282333;
					    text-transform: uppercase;
					}
					h2 {
						    color: #282333;
						    font-family: 'Museo Slab';
						    font-weight: 700;
						    font-size: 33px;
						    text-align: left;
						    line-height: 32px;
						    letter-spacing: 0.81px;
						    margin: 8px auto 18px;
						    padding: 0;
					}
					p{
						font-weight: normal;
					    font-stretch: normal;
					    font-style: normal;
					    text-align: left;
					    font-family: 'Gibson';
					    font-size: 14px;
					    line-height: 21px;
					    letter-spacing: 1px;
					    color: #19171F;
					    margin: 0;
					}
				}
			}
			.scheudle-content {
			    width: 100%;
				padding-top: 38px;
				.scheudle-box-list {
					width: 100%;
					display: flex;
					flex-flow: column;
					.scheudle-box {
						max-width: 341px;
						width: 100%;
						display: flex;
						flex-flow: column;
						background-color: #fff;
						border-radius: 5px;
						margin: 0px auto 20px;
						padding: 0px 20px 24px 24px;
						.scheudle-box-header {
							width: 100%;
							display: flex;
							flex-flow: row;
							padding: 20px 0px 16px;
							margin: 0px 0px 26px;
							border-bottom: 0.5px solid #B6B6B6;
							position: relative;
							.date {
								width: 50%;
								text-align: left;
								font-size: 11px;
							    line-height: 17px;
							    color: #4F4E5F;
							    letter-spacing: 1px;
							    font-family: 'Gibson';
							    font-weight: bold;
							    text-transform: uppercase;
							}
							.time {
								width: 50%;
							    text-align: right;
								font-size: 11px;
							    line-height: 17px;
							    color: #19171F;
							    letter-spacing: 1px;
							    font-family: 'Gibson';
							    font-weight: bold;
							    text-transform: uppercase;
							}
						}
						.scheudle-box-body {
							width: 100%;
							display: flex;
							flex-flow: column;
							position: relative;
							button {
							    background-color: transparent;
							    width: auto;
							    height: -webkit-fit-content;
							    height: -moz-fit-content;
							    height: auto;
							    padding: 0;
							    margin: 0;
							    position: absolute;
							    top: 6px;
		    					right: -4px;
								&.three-dots-btn {
									img {
										max-width: 100%;
									}
								}
							}
							.sub-title {
								width: 100%;
							    font-size: 11px;
							    line-height: 20px;
							    color: #19171F;
							    font-family: 'Gibson';
							    font-weight: normal;
							    text-transform: uppercase;
							    margin-bottom: 10px;
							    & span {
							    	margin-left: 11px;
									font-size: 11px;
								    line-height: 17px;
								    color: #6EA379;
								    letter-spacing: 1px;
								    font-family: 'Gibson';
								    font-weight: bold;
								    text-transform: uppercase;
							    }
							}
							.title {
								width: 100%;
							    font-size: 18px;
							    line-height: 26px;
							    color: #19171F;
							    font-family: 'Museo Slab';
							    font-weight: 700;
							    text-transform: capitalize;
							    margin-bottom: 10px;
							}
							.text {
								width: 100%;
							    font-size: 11px;
							    line-height: 20px;
							    color: #19171F;
							    font-family: 'Gibson';
							    font-weight: normal;
							    margin-bottom: 14px;
							}
						}
						&.happening-now {
							.scheudle-box-header {
								position: relative;
								&:before {
									position: absolute;
									content: '';
									left: 5px;
									bottom: -3px;
									width: 148px;
									height: 3px;
									background-color: #6EA379;
								}
								.date {
									color: #6EA379;
									padding-left: 6px;
								}
								.time {
									color: #6EA379;
								}
							}
						}
					}
				}
			}
		}
		.fixedfooter {
			&.btnArea {
				width: fit-content;
				width: -webkit-fit-content;
				width: -moz-fit-content;
				width: -ms-fit-content;
				width: -o-fit-content;
				button {
					&.add-item-icon {
					    padding: 0px;
					    margin: 0px;
					    width: 65px;
					    height: 65px;
					    line-height: 65px;
					    border-radius: 100%;
					    border: 1px solid #979797;
					    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.18);
					    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.18);
					    background-color: #272736;
					    img {
					    	width: 100%;
					    	height: 100%;
					    }
					}
				}
			}
		}
	}
	.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		height:0px;
		display:none;
	}
	ion-footer {
		border: 0 none;
		background: transparent;
		text-align: center;
		margin: 0;
		padding: 0 5.3% 28px;
		position: fixed;
	    left: unset;
	    right: 0;
	    bottom: 0;
	    z-index: 10;
        &:before {
            border: 0 none;
            background: transparent;
        }
		.btnArea {
			max-width: none;
			width: auto;

			margin-left: 0;
			margin-right: 0;
			display: flex;
			justify-content: center;
            text-align: center;
            justify-content: flex-end;
    		text-align: right;
			button {
				&.add-item-icon {
				    padding: 0px;
				    margin: 0px;
				    width: 65px;
				    height: 65px;
				    line-height: 65px;
				    border-radius: 100%;
				    border: 1px solid #979797;
				    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.18);
				    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.18);
				    background-color: #272736;
				    img {
				    	width: 100%;
				    	height: 100%;
				    }
				}
			}
		}
	}

	.eventlist-bg {
		background: #e7e7e7;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		display: flex;
		flex-direction: column;
		
		padding: 0 7px 7px 6px;

		.eventlistHeader {
			margin: 0 -7px 5px -7px;
			border-radius: 0px;
			padding: 14px 19px 14px 19px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background: #262533;
			border-top: 1px solid #494762;

			h3 {
				color: #fff;
				// font-family: 'Gibson';
				font-family: Yanone Kaffeesatz;
				font-weight: normal;
				font-size: 17.5px;
				letter-spacing: 0.585px;
				margin: 0;
				text-transform: uppercase;
			}

			.btnArea {
				max-width: none;
				width: auto;
				margin-left: 0;
				margin-right: 0;
				display: flex;
				justify-content: space-between;

				button.btn {
					font-family: 'Yanone Kaffeesatz';
					font-weight: bold;
					// font-family: 'Museo Slab';
					// font-weight: 700;
					font-size: 16px;
					font-stretch: normal;
					font-style: normal;
					letter-spacing: 5px;
					border-radius: 24px;
					height: 51px;
					line-height: 45px;
					padding-left: 1.5em;
					padding-right: 1.5em;
					background: #e2b159;
					color: #24242d;
					width: auto;
					margin: auto 0;
					display: block;
	                flex: 1 0 auto;
	                text-transform: uppercase;
					span {
						display: inline-block;
					}
					&.btn-primary {
						border-radius: 5px;
						border: solid 3px #282333;
						background-color: #e6decc;
	                    color: #282333;
					}

	                &.btn-success {
	                    border-radius: 5px;
	                    border: solid 3px #282333;
	                    background-color: #282333;
	                    color: #ffffff;
	                }
	            }
			}
			.goBackBtn {
	        	right: 30px;
			    margin-left: 3px;
	        }
		}

		.eventlistbox {
			background: #f7f7f7;
			padding-bottom: 28px;
			margin-top: 6px;
			position: relative;

			&.event-status-1 {
				background-color: #fff;

				.eventlistbox-header {
					background-color: #fff;
					;
				}
			}

			.eventlistbox-header {
				background: #fafafa;
				min-height: 40px;
				padding: 9px 9px 16px;
				border-bottom: 1px solid #eaeaea;
				letter-spacing: 0.46px;
				font-weight: 500;
				color: #4f4e5f;
				font-size: 10px;
				font-family: Gibson;
				line-height: 21px;

				.eventdate {
					float: left;
					letter-spacing: 0.46px;
					font-weight: bold;
					color: #4f4e5f;
					font-size: 10px;
					font-family: Gibson;
					line-height: 21px;
				}

				.eventTime {
					float: right;
					letter-spacing: 0.46px;
					font-weight: bold;
					color: #4f4e5f;
					font-size: 10px;
					font-family: Gibson;
					line-height: 21px;

					&.event-complete {
						color: #559e88;
					}

					&.event-running {
						color: #e2b159;
					}

					&.submitted {
						background-image: url(../img/checkmark_w.svg);
						background-position: left center;
						background-repeat: no-repeat;
						background-size: 13px;
						padding-left: 18px;
					}

					&.incomplete {
						background-image: url(../img/exclamation-mark.svg);
						background-position: left center;
						background-repeat: no-repeat;
						background-size: 13px;
						padding-left: 18px;
						color: #ba3515;
					}
				}
			}

			.eventlistbox-content {
				padding: 18px 17px 0 18px;

				h4 {
					margin: 0;
					font-weight: normal;
					font-size: 16px;
					color: #4f4e5f;
					font-family: 'Gibson';
					text-transform: none;
					letter-spacing: 0;
				}

				h5 {
					letter-spacing: 0;
					margin: 0;
					color: #4f4e5f;
					font-size: 10px;
					font-weight: bold;
					letter-spacing: 0.46px;
					line-height: 14px;

					span.event-complete {
						color: #559e88;
					}

					span.event-running {
						color: #e2b159;
					}

					span.event-pending {
						color: #9f9eb1;
					}
				}
				h3{
					margin: auto;
					font-size: 28px;
					font-weight: 500;
				}
				p {
					font-size: 10px;
					color: #4f4e5f;
					line-height: 14.5px;
					margin: 3px 0 0;
					letter-spacing: 0;
					font-family: 'Gibson';
					font-weight: 600;
				}
			}

			.event-status {
				height: 2px;
				display: block;
				margin: 0;
				background: #f7c05d;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
}
