<!--
  Generated template for the SelectedEventActivitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>selectedEventActivities</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
	<div class="headToolbar">
	    <span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
	</div>
	<div class="HeaderBox">
	    <div class="headTitles">
	      <div class="logotitle">YOU ARE ATTENDING</div>
	      <h2>{{ eventName | uppercase }}</h2>
	      <p>Thank you for attending this event, to get<br> started, check-in below and get started</p>
	    </div>
	</div>
	<!-- <div class="eventlist-bg">
		<div class="eventlistHeader">
        	<span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#e6decc"/></svg></span>
        </div>
		<div *ngFor="let activity of activityList" (click)="goToActivityDetails(activity)" class="eventlistbox event-status-{{activity.status}}">
			<div class="eventlistbox-header" *ngIf="activity.type!=''">
				<div class="eventdate">{{activity.date}}</div>
				<div class="eventTime submitted" *ngIf="activity.eventevaluation !=0 && activity.status=='2'">SUBMITTED</div>
				<div class="eventTime incomplete" *ngIf="activity.eventevaluation ==0 && activity.status=='2'">EVALUATION INCOMPLETE</div>
				<div class="eventTime" *ngIf="activity.status=='0'">{{activity.eventtime}}</div>
				<div class="eventTime" *ngIf="activity.status=='1'">{{activity.endEventTime}}</div>
			</div>
			<div class="eventlistbox-header" *ngIf="activity.type==''">
				<div class="eventdate">{{activity.date}}</div>
				<div class="eventTime" >{{activity.eventtime}}</div>
			</div>
			<div class="eventlistbox-content" *ngIf="activity.type!=''">
				<h5>ACTIVITY 
					<span class="event-complete event-complete" *ngIf="activity.status=='2'">COMPLETE!</span>
					<span class="event-complete event-running" *ngIf="activity.status=='1'">HAPPENING NOW</span>
					<span class="event-complete event-pending" *ngIf="activity.status=='0'">NOT STARTED</span>
				</h5>
				<h4>{{activity.activity_title}}</h4>
				<p>{{activity.administator_name}}</p>
				<p>{{activity.location}}</p>
			</div>
			<div class="eventlistbox-content" *ngIf="activity.type==''">
					<h5>{{activity.agenda_item}}</h5>
					<h3>{{activity.activity_title}}</h3>
			</div>
			<div class="event-status" *ngIf="activity.status=='1'" style="width: {{activity.width}}%;"></div>

		</div>
	</div> -->
	<div class="scheudle-content">
		<div class="scheudle-box-list">
			<div *ngFor="let activity of activityList; let i = index"  class="scheudle-box event-status-{{activity.status}}" [ngClass]="{' happening-now ' : activity.status=='1'}" >
			<!-- <div class="scheudle-box happening-now"> -->
				<div class="scheudle-box-header" *ngIf="activity.status=='1'" (click)="goToActivityDetails(activity)">
					<div class="date">HAPPENING NOW</div>
					<div class="time">{{activity.eventtime}}</div>
				</div>

				<div class="scheudle-box-header" *ngIf="activity.status=='0'" (click)="goToActivityDetails(activity)">
					<div class="date" *ngIf="todayDate!=activity.date">{{activity.date}}</div>
            		<div class="date" *ngIf="todayDate==activity.date">TODAY</div>
					<div class="time">{{activity.eventtime}}</div>
				</div>
				<div class="scheudle-box-header"  *ngIf="activity.status=='2'" (click)="goToActivityDetails(activity)">
            		<div class="date" >COMPLETE</div>
					<div class="time">{{activity.eventtime}}</div>
				</div>
				<div class="scheudle-box-body">
					<button ion-button class="three-dots-btn" (click)="openMenuPopup($event, activity, i)"><img src="./assets/img/three-dots-icon-1.svg"></button>
					<div class="sub-title" (click)="goToActivityDetails(activity)">ACTIVITY EVALUATION<span *ngIf="activity.status=='1'">HAPPENING NOW</span></div>
					<div class="title" (click)="goToActivityDetails(activity)">{{activity.activity_title}}</div>
					<div class="text" (click)="goToActivityDetails(activity)">{{activity.formatted_address}} <br/> {{activity.location}}</div>
				</div>
			</div>

			<!-- <div class="scheudle-box">
				<div class="scheudle-box-header">
					<div class="date">TODAY</div>
					<div class="time">2:00PM - 5:00PM</div>
				</div>
				<div class="scheudle-box-body">
					<button ion-button class="three-dots-btn"><img src="./assets/img/three-dots-icon-1.svg"></button>
					<div class="sub-title">ACTIVITY EVALUATION</div>
					<div class="title">12 Leads ECG’s: The<br> Basics of Interpretation</div>
					<div class="text">Sharon Reynolds,DNP, CNM, FNP-BC, FACNM</div>
				</div>
			</div>
			<div class="scheudle-box">
				<div class="scheudle-box-header">
					<div class="date">TODAY</div>
					<div class="time">2:00PM - 5:00PM</div>
				</div>
				<div class="scheudle-box-body">
					<button ion-button class="three-dots-btn"><img src="./assets/img/three-dots-icon-1.svg"></button>
					<div class="sub-title">ACTIVITY EVALUATION</div>
					<div class="title">12 Leads ECG’s: The<br> Basics of Interpretation</div>
					<div class="text">Sharon Reynolds,DNP, CNM, FNP-BC, FACNM</div>
				</div>
			</div>
			<div class="scheudle-box">
				<div class="scheudle-box-header">
					<div class="date">TODAY</div>
					<div class="time">2:00PM - 5:00PM</div>
				</div>
				<div class="scheudle-box-body">
					<button ion-button class="three-dots-btn"><img src="./assets/img/three-dots-icon-1.svg"></button>
					<div class="sub-title">ACTIVITY EVALUATION</div>
					<div class="title">12 Leads ECG’s: The<br> Basics of Interpretation</div>
					<div class="text">Sharon Reynolds,DNP, CNM, FNP-BC, FACNM</div>
				</div>
			</div> -->
		</div>
	</div>
</ion-content>
<ion-footer>
	<div class="btnArea">
		<button ion-button class="add-item-icon" (click)="goToActivityList()"><img src="./assets/img/plus-icon-1.svg"></button>
	</div>
</ion-footer>