page-leader-list-onboarding {
	.leaders_list_content{
		min-height: 100%;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding:0;
		transition: all 0.3s linear;
		height: 100%;
		margin-top: 0px;
		&.animationOut {
		    height: 0;
		    min-height: 0;
		}
		ion-item.item.item-block.item-checkbox{
			flex: 1 1 auto;
			margin: 0;
			padding:16px;
			border:0 none;
			color:#48485A;
			background:#FCFCFC;
			border-top: 1px solid #F2F2F2;
			ion-checkbox.checkbox{
				order:2;
				margin:0;
				position:relative;
				.checkbox-icon{
				    width: 20px;
				    height: 20px;
				    background-color: rgba(0, 0, 0, 0.14);
				    border-radius: 0;
				    border: 0;
				    transition: all 0.3s linear;
				    padding:1px;	
					    .checkbox-inner{
				    		transition: all 0.3s linear;
						    width: 100%;
						    height: 100%;
						    background: #529984;
						    border: 2px solid #E6E6E6;
						    transform: none;
						    margin: auto;
						    padding: 0;
						    position:static;
						    opacity: 0;
					    }
				    &.checkbox-checked{
				    	background-color: rgba(255,255,255,1);
					    .checkbox-inner{
						    opacity: 1;
					    }
				    }
				}
			}
			.item-inner{
				margin: 0;
				padding:0;
				border:0 none;
				.input-wrapper{
					ion-label{
						display: flex;
						> svg{
							flex: 0 0 65px;
							align-self: flex-start;
							width:  65px;
						}
						.info{padding-left: 4vw;}
						.titleWrap{
							display: flex;
							align-items:center;
							span.checkIcon {
							    height: 20px;
							    display: block;
								transition:all 0.3s linear;
							    overflow: hidden;
							    width: 0;
							    svg{
									transition:all 0.3s linear 0.3s;
									opacity: 0;
							    }
							}
							h5{
							    font-family: 'Yanone Kaffeesatz';
							    font-weight: bold;
							    font-size: 6vw;
							    text-align: left;
							    color: #272736;
							    margin-top: 6px;
							}
						}
						.classWrap{
							.class{
								border-radius: 2.83px;
								background: #6844b7;
								font-weight: 700;
								font-size: 3.5vw;
								letter-spacing: 0.05em;
								text-align: left;
								color: #fff;
								display: inline-block;
								padding:2px 4px;
							}
						}
						p{
							font-family: 'Gibson';
							font-weight: 500;
							font-size:3.2vw;
							letter-spacing: 0.07em;
							text-align: left;
							color: #48485A;
							svg{
								margin-left: 5px;
								width: 1.1vw;
								height: auto;
							}
						}
					}
				}
			}
			&.item-checkbox-checked {
				background:#EEEBF2;
				.item-inner .input-wrapper ion-label{
					span.checkIcon {
						text-align: left;
				    	width: 20px;
				    	svg {
				    		opacity: 1;
				    	}
					}
				}
			}
		}
	}
}
