@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }

  :-moz-placeholder {
    @content
  }

  ::-moz-placeholder {
    @content
  }

  :-ms-input-placeholder {
    @content
  }
}

page-steptwoprofile {
  background-color: #F9F0E0;

  ion-content.content {
    &.registrationProcess {
      .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0 !important;
      }


      ion-footer.footer {
        background-color: transparent;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='415.774' height='31.231' viewBox='0 0 415.774 31.231' fill='%23eee'%3E%3Cpath class='a' d='M503.336,685.477c75.675-26.6,140.315-18.693,212.744-8.892l11.367,1.54c55.807,7.546,116.7,15.2,191.325,8.528,0-20.221.339-9.176.339-28.674h-414S503.336,663.633,503.336,685.477Z' transform='translate(-503.336 -657.979)'/%3E%3C/svg%3E");
        background-position: top center;
        background-repeat: no-repeat;
        border: 0 none;
        text-align: center;
        position: relative;
        margin: auto auto 0;
        padding: 16% 0 6%;

        &:before {
          border: 0 none;
          background: transparent;
        }

        /*
        .registration-vector {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 139.583 147.354'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Mask' width='139.578' height='147.352' transform='translate(65.162 44.056)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='registration-vector' transform='translate(-65.797 -44.056)'%3E%3Cg id='Group_8' data-name='Group 8' transform='translate(0.319)'%3E%3Cg id='Group_5' data-name='Group 5' transform='translate(0.315)'%3E%3Crect id='Mask-2' data-name='Mask' width='139.58' height='147.35' rx='69.79' transform='translate(65.166 44.06)' fill='none'/%3E%3Cg id='Group_5-2' data-name='Group 5' clip-path='url(%23clip-path)'%3E%3Cg id='_816_R0lVIEFORyA0ODAtMDU' data-name='816_R0lVIEFORyA0ODAtMDU' transform='matrix(0.999, -0.035, 0.035, 0.999, 202.529, 55.562)'%3E%3Cpath id='Fill_5' data-name='Fill 5' d='M-43.606,10.306C-89.122,10.342-88.419.166-88.419.166L-.01,0S1.832,10.27-43.606,10.306Z' transform='translate(-4.033 88.243)' fill='none'/%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-0.55 0.056)'%3E%3Cpath id='Fill_6' data-name='Fill 6' d='M-13.1,25.114a9.621,9.621,0,0,0,6.963-.127c2.123-1.038,3.526-3.618,2.581-5.721A4.376,4.376,0,0,0-.309,16.217a9.325,9.325,0,0,0,.053-4.549c-.152-.828-.731-1.885-1.562-1.623A3.174,3.174,0,0,0-1.392,6.63a2.35,2.35,0,0,0-3.213-.844,6.741,6.741,0,0,0,.153-3.311A3.125,3.125,0,0,0-6.711.158a2.071,2.071,0,0,0-2.5,1.691C-9.222.429-11.184-.423-12.5.215a3.5,3.5,0,0,0-1.691,3.646,3.645,3.645,0,0,0-3.715-.072,3.347,3.347,0,0,0-1.619,3.216c-.567-2.19-3.669-3.128-5.713-2.02a5.571,5.571,0,0,0-2.516,5.872,10.016,10.016,0,0,0-6.753.707,8.337,8.337,0,0,0-4.217,3.185,3.619,3.619,0,0,0,.762,4.738,4.981,4.981,0,0,0-5.052,2.989,3.746,3.746,0,0,0,2.686,4.774,6.09,6.09,0,0,0,2.724-.275,21.865,21.865,0,0,0,6.43-2.995,1.289,1.289,0,0,1,.739-.306,1.367,1.367,0,0,1,.836.522,6.929,6.929,0,0,0,7.013,1.542,1.682,1.682,0,0,1,.595-.141,1.629,1.629,0,0,1,.91.473,8.085,8.085,0,0,0,10.238-.5l-2.255-.451' transform='translate(-5.373 26.14)' fill='%2312a88c'/%3E%3Cpath id='Fill_7' data-name='Fill 7' d='M-1.653,18.5c.018.132.033.262.04.391.129,2.167-1.433,3.187-3.34,3.276C-7.232,22.272-7.488,22.48-7.6,25c-.114,2.548-2.581,4.577-5.214,5.1a15.757,15.757,0,0,1-7.905-.965c-1.507-.5-3.2-1.051-4.635-.383-.473.22-.873.56-1.328.812-2.209,1.223-5.063.1-7.031-1.446s-3.635-3.559-6.015-4.449a24.592,24.592,0,0,1-2.758-.947,4.234,4.234,0,0,1-2.153-4.762,2.7,2.7,0,0,0,.218-1.331c-.138-.574-.733-.922-1.156-1.354-1.628-1.663-.6-4.354.671-6.278,1.1-1.664,2.741-3.442,4.8-3.2a2.639,2.639,0,0,1,.957-2.789,8.615,8.615,0,0,1,2.894-1.416C-33.989.811-31.4.046-29.246,1.083a5.009,5.009,0,0,0,1.2.52A4.233,4.233,0,0,0-25.5.786,7.7,7.7,0,0,1-18.684.8a3.184,3.184,0,0,1,1.5,1.353c.215.455.242.971.44,1.433.574,1.34,2.4,1.795,3.9,1.524a38.813,38.813,0,0,0,4.287-1.5c1.453-.441,3.244-.453,4.287.6,1.156,1.169.757,2.758,1.215,4.154.5,1.51,1.872,2.085,2.642,3.505a2.837,2.837,0,0,1-.3,3.38,7.409,7.409,0,0,0-.795.7c-.553.7-.265,1.644-.143,2.538' transform='translate(-0.83 1.143)' fill='%235a9885'/%3E%3Cpath id='Fill_8' data-name='Fill 8' d='M-22.557,24.637a2.246,2.246,0,0,0-.81-.726,1.906,1.906,0,0,0-1.21.072,12.824,12.824,0,0,1-3.175.7,3.4,3.4,0,0,1-2.88-1.2,8.892,8.892,0,0,1-.66-1.34c-.65-1.337-1.881-2.32-2.667-3.585a6.306,6.306,0,0,1-.359-5.9c-1.6-.635-3.15-1.852-3.352-3.521s1.742-3.421,3.234-2.577a11.629,11.629,0,0,1,.829-4.071,4.12,4.12,0,0,1,3.2-2.475c1.423-.114,2.932,1.072,2.776,2.455A19.493,19.493,0,0,1-20.781.2,5.932,5.932,0,0,1-17.2.576a2.4,2.4,0,0,1,1.231,3,24.026,24.026,0,0,0,4.84.389A8.3,8.3,0,0,1-6.522,5.253,3.417,3.417,0,0,1-5.268,9.434,8.892,8.892,0,0,1-2.1,9.676,2.9,2.9,0,0,1-.021,11.836C.222,13.583-1.7,14.823-3.4,15.441a2.057,2.057,0,0,0-.831.455c-.553.594-.164,1.522-.124,2.323a3.968,3.968,0,0,1-2.066,3.236c-3.986,2.634-11.629,8.468-16.138,3.182' transform='translate(-22.09 5.907)' fill='%2312a88c'/%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M-2.134,22.673a36.82,36.82,0,0,0-6.714-9.032c-.916-1.707-2.134-3.677-2.582-4.571C-12.416,7.1-14.284,4.621-15,2.554A8.122,8.122,0,0,1-15.583,0a2.225,2.225,0,0,0-.849,1.729,4.291,4.291,0,0,0,.524,1.727c.917,1.971,1.862,3.934,2.752,5.917a7.814,7.814,0,0,1,.3.818c-3.569-2.669-7.671-4.912-10.1-8.522l-1.288.071c5.666,5.521,11.358,11.08,16.083,17.349,2.02,2.68,4.3,5.592,5.32,8.76.47,1.457.378,4.241,1.569,5.283C1.409,30.641-.767,25.277-2.134,22.673Z' transform='matrix(0.999, 0.035, -0.035, 0.999, -24.354, 18.056)' fill='%23987347'/%3E%3Cpath id='Fill_15' data-name='Fill 15' d='M-9.87,26.555c.2-1.4.1-3.207-1.227-4.1-1.586-1.065-3.861-.277-5.527.191-1.731.487-3.8,1.013-5.353-.2C-23.2,21.5-23.54,19.855-24.041,18.5a5.954,5.954,0,0,0-3.313-3.883c-1.933-.686-4.065.074-5.888.736a13.005,13.005,0,0,1-3.116.941,6.521,6.521,0,0,1-3.86-.972,8.335,8.335,0,0,1-2.641-2.309,8,8,0,0,1-1.223-2.9,11.3,11.3,0,0,1-.2-1.283c1-1.351,2.347-2.518,4-2.383a2.661,2.661,0,0,1,.857-2.833,8.576,8.576,0,0,1,2.837-1.523c2.239-.86,4.795-1.718,6.979-.752a4.983,4.983,0,0,0,1.213.48A4.206,4.206,0,0,0-25.878.912a7.638,7.638,0,0,1,6.794-.22A3.186,3.186,0,0,1-17.541,2c.231.449.275.967.489,1.424.62,1.325,2.461,1.718,3.947,1.394A38.571,38.571,0,0,0-8.881,3.162c1.434-.494,3.22-.567,4.3.456,1.194,1.134.852,2.742,1.358,4.128.547,1.5,1.941,2.028,2.758,3.427a2.864,2.864,0,0,1-.184,3.4,7.41,7.41,0,0,0-.768.734c-.527.722-.207,1.66-.054,2.553.023.132.042.262.054.391.2,2.171-1.317,3.249-3.217,3.4-2.27.187-2.518.4-2.542,2.937-.02,2.135-1.683,3.963-3.745,4.873A6.961,6.961,0,0,0-9.87,26.555' transform='matrix(0.999, 0.035, -0.035, 0.999, -0.307, 1.583)' fill='%2312a88c'/%3E%3Cpath id='Fill_16' data-name='Fill 16' d='M-34.611,6.981a11.614,11.614,0,0,1,.687-4.1A4.12,4.12,0,0,1-30.813.3c1.418-.164,2.968.968,2.86,2.355a19.5,19.5,0,0,1,6.768-2.5,5.935,5.935,0,0,1,3.592.253,2.4,2.4,0,0,1,1.335,2.955,24.036,24.036,0,0,0,4.851.219A8.3,8.3,0,0,1-6.759,4.707,3.415,3.415,0,0,1-5.36,8.84a8.9,8.9,0,0,1,3.177.131,2.9,2.9,0,0,1,2.15,2.085c.3,1.737-1.577,3.043-3.249,3.72-.1.042-.207.084-.309.131a3.976,3.976,0,0,1,.27-.949A2.219,2.219,0,0,0-3.153,12.1a3.157,3.157,0,0,0-1.681-1.32,7,7,0,0,0-2.618-.672,5.207,5.207,0,0,0-2.348.456A15.7,15.7,0,0,0-11.95,11.98a9.72,9.72,0,0,1-4.95,1.737,7.547,7.547,0,0,1-2.684-.395,8.123,8.123,0,0,0-2.41-.647,3.622,3.622,0,0,0-2.152.649,3.927,3.927,0,0,0-1.275,1.617,7.422,7.422,0,0,1-1.072,1.92,2.763,2.763,0,0,1-1.455.795c-.917.228-2.084.305-2.557,1.245a4.415,4.415,0,0,0-.217,2.1A7.244,7.244,0,0,1-30.8,22.7c-.041-.086-.083-.171-.127-.255-.7-1.313-1.961-2.252-2.791-3.488a6.3,6.3,0,0,1-.565-5.884c-1.619-.578-3.213-1.74-3.473-3.4s1.622-3.478,3.142-2.687' transform='matrix(0.999, 0.035, -0.035, 0.999, -22.019, 6.735)' fill='%2334ca9e'/%3E%3C/g%3E%3Cpath id='Fill_9' data-name='Fill 9' d='M-1.13,33.065C-1.292,30.836-1.13,0-1.13,0h-.807l-3.23,51.146s3.068.867,5.167,0C0,51.146-.969,35.294-1.13,33.065Z' transform='translate(-25.175 32.251)' fill='%23987347'/%3E%3Cpath id='Fill_146_Copy' data-name='Fill 146 Copy' d='M25.591,1.41c0,.793-5.732,1.447-12.8,1.461S0,2.254,0,1.462,5.732.015,12.8,0,25.592.617,25.591,1.41' transform='matrix(0.999, 0.035, -0.035, 0.999, -38.177, 81.494)' fill='rgba(0,0,0,0.21)' opacity='0.206'/%3E%3Cpath id='Fill_146_Copy-2' data-name='Fill 146 Copy' d='M25.591,1.41c0,.793-5.732,1.447-12.8,1.461S0,2.254,0,1.462,5.732.015,12.8,0,25.593.617,25.591,1.41' transform='matrix(0.999, 0.035, -0.035, 0.999, -82.334, 80.505)' fill='rgba(0,0,0,0.21)' opacity='0.206'/%3E%3Cpath id='Fill_11' data-name='Fill 11' d='M0,1.2a59.7,59.7,0,0,1-1.421,9.466,52.485,52.485,0,0,1-2.792,9.685c-.941,2.217-2.6,6.064-4.928,7.136-.549-3.144,4.166-7.986,5.335-10.8A43.915,43.915,0,0,0-.882.066C-.372-.244.027.609,0,1.2Z' transform='translate(-19.335 41.543)' fill='%23987347'/%3E%3Cpath id='Fill_13' data-name='Fill 13' d='M-.024,0A10.885,10.885,0,0,1-.652,3.971C-2.076,8.918-4.451,16.9-6.89,21.758c.126-1.255.21-2.465.411-3.92.348-2.522,2.209-6.678,3.034-8.712C-3.128,8.343-.746,0-.82,0Z' transform='translate(-21.11 29.488)' fill='%23987347'/%3E%3Cg id='Group_10' data-name='Group 10' transform='translate(-42.928 29.055)'%3E%3Cpath id='Fill_26' data-name='Fill 26' d='M-1.462,16.623c.016.118.029.236.035.351.114,1.947-1.267,2.863-2.953,2.943-2.015.1-2.242.283-2.342,2.546-.1,2.29-2.283,4.113-4.611,4.586a13.727,13.727,0,0,1-6.991-.868c-1.333-.445-2.833-.944-4.1-.344-.418.2-.772.5-1.174.73-1.954,1.1-4.477.092-6.218-1.3s-3.215-3.2-5.319-4a21.5,21.5,0,0,1-2.438-.851,3.827,3.827,0,0,1-1.9-4.279,2.463,2.463,0,0,0,.193-1.2c-.123-.516-.648-.828-1.022-1.217-1.439-1.494-.528-3.913.593-5.641.97-1.5,2.424-3.093,4.241-2.878A2.392,2.392,0,0,1-34.625,2.7a7.56,7.56,0,0,1,2.559-1.273c2.009-.7,4.3-1.387,6.2-.454A4.386,4.386,0,0,0-24.8,1.44,3.7,3.7,0,0,0-22.545.706a6.709,6.709,0,0,1,6.023.016A2.832,2.832,0,0,1-15.2,1.938c.19.409.214.873.389,1.288.508,1.2,2.126,1.613,3.452,1.37A34.048,34.048,0,0,0-7.565,3.248a3.791,3.791,0,0,1,3.791.541c1.023,1.05.669,2.478,1.075,3.733.438,1.357,1.656,1.873,2.336,3.15A2.582,2.582,0,0,1-.632,13.71a6.56,6.56,0,0,0-.7.632c-.489.629-.235,1.477-.127,2.281' transform='translate(-0.008 0)' fill='%2334ca9e'/%3E%3Cpath id='Fill_27' data-name='Fill 27' d='M-20.428,21.406a2.009,2.009,0,0,0-.734-.631,1.8,1.8,0,0,0-1.1.063,12.032,12.032,0,0,1-2.876.606A3.137,3.137,0,0,1-27.741,20.4a7.591,7.591,0,0,1-.6-1.165c-.589-1.162-1.7-2.015-2.416-3.115a5.285,5.285,0,0,1-.325-5.128c-1.447-.551-2.853-1.609-3.036-3.059s1.578-2.972,2.929-2.239a9.748,9.748,0,0,1,.751-3.537,3.711,3.711,0,0,1,2.9-2.15c1.288-.1,2.655.931,2.514,2.132a18.177,18.177,0,0,1,6.2-1.967A5.584,5.584,0,0,1-15.576.5a2.051,2.051,0,0,1,1.115,2.607,22.677,22.677,0,0,0,4.383.338A7.749,7.749,0,0,1-5.906,4.564,2.9,2.9,0,0,1-4.771,8.2a8.385,8.385,0,0,1,2.871.21,2.572,2.572,0,0,1,1.88,1.876c.219,1.518-1.523,2.6-3.058,3.133a1.884,1.884,0,0,0-.753.395c-.5.516-.148,1.322-.112,2.019a3.438,3.438,0,0,1-1.871,2.811C-9.422,20.93-16.345,26-20.428,21.406' transform='translate(-19.505 5.176)' fill='%2334ca9e'/%3E%3Cpath id='Path' d='M-7.929,14.5l.042-9.3h-.649l-.881,12.726c-.225-.392-.451-.748-.656-1.052A29.345,29.345,0,0,0-17.4,9.465l-.259-.37-.529-.744-.64-.9-.2-.289-.119-.174-.151-.229-.042-.067c-.188-.3-.41-.621-.649-.949l-.294-.4-.613-.815-.307-.413A12.6,12.6,0,0,1-22.6,1.9l-.125-.286A4.76,4.76,0,0,1-23.175,0a1.581,1.581,0,0,0-.669,1.317,2.522,2.522,0,0,0,.383,1.076l.118.205.509.872,1.021,1.744q.508.873,1,1.75a4.685,4.685,0,0,1,.232.493c-.4-.225-.8-.447-1.2-.668l-1.228-.673-.482-.268-.479-.27a18.572,18.572,0,0,1-5.015-3.79l-1.125.084,1.541,1.189,1.026.8,1.023.8a103.691,103.691,0,0,1,11.05,9.7l.727.759.367.386.366.391a17.917,17.917,0,0,1,3.48,4.837,5.671,5.671,0,0,1,.275.915l.159.707a9.021,9.021,0,0,0,.3,1.062L-11.13,42.674l.2.046.259.052.27.047.153.024.163.023.173.022.181.02.094.009.192.016.2.012.2.008a5.555,5.555,0,0,0,2.067-.279L-7.7,32.049A11.386,11.386,0,0,0-4.626,28.4l.189-.326.176-.312.24-.434a32.112,32.112,0,0,0,2.664-7.116A34.609,34.609,0,0,0,0,13.259c.027-.432-.354-1.058-.84-.831a25.776,25.776,0,0,1-2.79,12.209A10.771,10.771,0,0,1-4.906,26.35l-.277.32-.878,1-.3.341-.294.344a18.305,18.305,0,0,0-1.2,1.553l-.04-.54-.01-.224-.012-.465-.012-.835-.01-1.2-.01-3.791,0-3.612,0-1.633c.722-1.54,1.421-3.3,2.061-5.055l.253-.7.246-.7.12-.345.234-.682.114-.336.222-.661.316-.957.2-.61.418-1.305.1-.335a6.1,6.1,0,0,0,.347-2.382l-.639,0v0l0,.023-.028.113-.079.279-.131.439-.325,1.058L-4.9,6.709l-.321,1-.461,1.41L-5.88,9.7-6,10.036l-.041.105-.19.419-.511,1.112-.242.537-.247.56-.163.382-.081.192-.158.386-.077.193-.148.384Z' transform='translate(-14.553 10.514)' fill='%23987347'/%3E%3Cpath id='Fill_33' data-name='Fill 33' d='M-9.3,24.2c.222-1.249.191-2.872-.974-3.712-1.392-1-3.46-.369-4.971,0-1.57.382-3.443.79-4.8-.345-1.072-.894-1.324-2.375-1.731-3.606a5.344,5.344,0,0,0-2.855-3.585c-1.715-.675-3.655-.061-5.313.476a11.723,11.723,0,0,1-2.829.746,5.874,5.874,0,0,1-3.438-.992,7.493,7.493,0,0,1-2.3-2.153A7.169,7.169,0,0,1-39.52,8.389a10.16,10.16,0,0,1-.143-1.156c.943-1.18,2.187-2.184,3.671-2.011a2.383,2.383,0,0,1,.859-2.513,7.707,7.707,0,0,1,2.6-1.276C-30.5.731-28.174.041-26.242.976a4.477,4.477,0,0,0,1.075.468A3.785,3.785,0,0,0-22.876.708a6.879,6.879,0,0,1,6.111.016A2.861,2.861,0,0,1-15.42,1.943c.193.41.217.876.395,1.291.515,1.207,2.158,1.617,3.5,1.374A34.817,34.817,0,0,0-7.676,3.258,3.883,3.883,0,0,1-3.83,3.8c1.038,1.054.679,2.485,1.09,3.743.445,1.36,1.68,1.879,2.37,3.159a2.565,2.565,0,0,1-.272,3.046,6.658,6.658,0,0,0-.713.634c-.5.631-.238,1.481-.128,2.287.016.118.029.236.036.352.116,1.953-1.285,2.872-3,2.952-2.045.1-2.275.283-2.376,2.553a5.173,5.173,0,0,1-3.518,4.252A6.239,6.239,0,0,0-9.3,24.2' transform='translate(0 0.023)' fill='%2334ca9e'/%3E%3Cpath id='Fill_34' data-name='Fill 34' d='M-39.013,7.26a12.632,12.632,0,0,1,.939-4.51A4.652,4.652,0,0,1-34.448.008C-32.836-.118-31.127,1.2-31.3,2.727A22.435,22.435,0,0,1-23.542.219a6.863,6.863,0,0,1,4.057.419,2.633,2.633,0,0,1,1.394,3.324,27.847,27.847,0,0,0,5.484.431A9.556,9.556,0,0,1-7.388,5.819C-5.924,6.877-5.1,8.907-5.968,10.45a10.3,10.3,0,0,1,3.592.268A3.249,3.249,0,0,1-.024,13.11c.275,1.936-1.906,3.309-3.825,3.995-.118.042-.238.085-.354.134A4.3,4.3,0,0,1-3.86,16.2,2.412,2.412,0,0,0-3.6,14.148a3.557,3.557,0,0,0-1.851-1.527,8.068,8.068,0,0,0-2.938-.845,6.016,6.016,0,0,0-2.677.415,17.84,17.84,0,0,0-2.489,1.482A11.186,11.186,0,0,1-19.226,15.4a8.716,8.716,0,0,1-3.023-.541,9.359,9.359,0,0,0-2.7-.809,4.172,4.172,0,0,0-2.462.635,4.373,4.373,0,0,0-1.508,1.741,8.207,8.207,0,0,1-1.29,2.085,3.158,3.158,0,0,1-1.679.824c-1.048.217-2.371.258-2.944,1.28a4.793,4.793,0,0,0-.329,2.32,7.856,7.856,0,0,1-.154,1.871c-.043-.1-.087-.193-.134-.287-.736-1.481-2.131-2.569-3.022-3.971a6.85,6.85,0,0,1-.407-6.538c-1.81-.7-3.569-2.051-3.8-3.9s1.974-3.79,3.663-2.855' transform='translate(-11.774 2.384)' fill='%2312a88c'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_38' data-name='Group 38' transform='translate(70.719 48)'%3E%3Cpath id='Fill_146' data-name='Fill 146' d='M-69.414,3.9c0,2.185,15.547,3.984,34.715,4.018S0,6.2,0,4.018-15.547.034-34.714,0s-34.7,1.71-34.7,3.9' transform='matrix(0.999, -0.035, 0.035, 0.999, 69.566, 127.77)' fill='%2316201e' opacity='0.206'/%3E%3Cpath id='Fill_147' data-name='Fill 147' d='M-.294,5.832q-.064-.287-.142-.572C-.9,3.552-1.865,1.066-3.717.178c-.952-.456-1.822.087-2.771.27C-8.368.81-10.406.594-11.964,1.78a4.608,4.608,0,0,0-1.709,3.213,9.005,9.005,0,0,0,.5,3.614,11.044,11.044,0,0,0,3.7,5.719,7.037,7.037,0,0,0,5.722,1.315c1.865-.537,2.87-2.394,3.315-3.989a11.972,11.972,0,0,0,.137-5.82' transform='matrix(0.999, -0.035, 0.035, 0.999, 40.158, 3.03)' fill='%234e2f25'/%3E%3Cpath id='Fill_148' data-name='Fill 148' d='M-.011,2.265C-.121,3.4-1.629,5.043-2.149,4.133A5.677,5.677,0,0,1-2.72,1.184c.111-1.133-.1-1.257.974-1.156A2,2,0,0,1-.011,2.265' transform='matrix(0.999, -0.035, 0.035, 0.999, 37.62, 11.126)' fill='%23684032'/%3E%3Cpath id='Fill_149' data-name='Fill 149' d='M-.5.012-.514.051A6.537,6.537,0,0,0-.537.824l0,.143.017.123A5.291,5.291,0,0,1-.48,2.213a2.341,2.341,0,0,0-.009.425A2.442,2.442,0,0,0-.264,1.43,4.438,4.438,0,0,0-.385.18C-.413.1-.465-.042-.5.012' transform='matrix(0.999, -0.035, 0.035, 0.999, 36.681, 12.04)' fill='%23522b24'/%3E%3Cpath id='Fill_150' data-name='Fill 150' d='M-.98.651C-1.145-1.4-7.317,2.064-7.317,2.064l.807,6.754s-.07.774,2.957.849C-1.708,9.713.091,8.928,0,7.241-.062,6.2-.924,1.362-.98.651' transform='matrix(0.999, -0.035, 0.035, 0.999, 37.536, 16.326)' fill='%23684032'/%3E%3Cpath id='Fill_151' data-name='Fill 151' d='M-1.933,4.219C-2.953,5.136-4.4,6.238-5.862,6.14l-.529-4.073S-.175-1.406-.01.652l.01.1A6.14,6.14,0,0,1-1.933,4.219' transform='matrix(0.999, -0.035, 0.035, 0.999, 36.674, 16.342)' fill='%23684032'/%3E%3Cpath id='Fill_152' data-name='Fill 152' d='M-6.47,17.587A8.632,8.632,0,0,0-3,16.563,13.728,13.728,0,0,0-1.053,15.4c.529-.384.955-.406,1.038-1.115a3.891,3.891,0,0,0-.041-.936C-.2,12.214-.282,10.841-.414,9.7a43.866,43.866,0,0,0-.737-4.394A9.6,9.6,0,0,0-1.713,3.44,5.424,5.424,0,0,0-3.721,1.1,7.694,7.694,0,0,0-6.593.324c-.934-.176-2.1-.587-2.992-.08-.437.247-1.111.349-1.4.775a4.839,4.839,0,0,0-.861,2.421,8.129,8.129,0,0,0,.213,2.877c.133.594.633,1.42.727,2.022a6.514,6.514,0,0,1-.01,2.486,5.943,5.943,0,0,0-.258,1.116c.066.378.563.689,1.465.824.223.033.2.926.237,1.149.161.935.167,2.218.851,2.95a2.246,2.246,0,0,0,1.129.624,4.013,4.013,0,0,0,1.024.1' transform='matrix(0.999, -0.035, 0.035, 0.999, 36.483, 4.81)' fill='%23684032'/%3E%3Cpath id='Fill_154' data-name='Fill 154' d='M-.267.388C-.255.432-.305.473-.379.48S-.522.457-.533.412-.495.327-.421.32s.143.023.155.068' transform='matrix(0.999, -0.035, 0.035, 0.999, 27.58, 13.833)' fill='%23321a0d'/%3E%3Cpath id='Fill_155' data-name='Fill 155' d='M-3.34.332c.03,0,.451-.017,1.079-.017C-1.7.315-.975.328-.236.379c.217.015.3.049.183.077a2.623,2.623,0,0,1-.6.023C-1.236.439-1.81.428-2.26.428c-.252,0-.463,0-.607.007l-.163,0h-.045L-3.1.428l.03.012h0L-3.1.428l.03.012A2.018,2.018,0,0,1-3.634.4c-.073-.03.058-.061.293-.071' transform='matrix(0.999, -0.035, 0.035, 0.999, 29.462, 11.147)' fill='%23321a0d'/%3E%3Cpath id='Fill_156' data-name='Fill 156' d='M-5.78,3.347l.1.093a5.329,5.329,0,0,1,.838.955c.334.461.986.614,1.516.887a2.815,2.815,0,0,1,1.492,1.91c.045.228.078.494.295.62a.752.752,0,0,0,.288.081c.311.038,1.116.084,1.172-.332A13.259,13.259,0,0,0-.95,1.373c-.17-.458-1.237-1-1.7-1.245C-3.633-.395-5.993.786-6.333,1.7a1.638,1.638,0,0,0,.553,1.65' transform='matrix(0.999, -0.035, 0.035, 0.999, 35.733, 4.909)' fill='%234e2f25'/%3E%3Cpath id='Fill_157' data-name='Fill 157' d='M-5.975,6.858a1.148,1.148,0,0,1-1-.046A1.039,1.039,0,0,1-7.8,7.56a1.3,1.3,0,0,1-1.165-.336c-.124.6-1.247.821-1.691.337a1.849,1.849,0,0,1-2.182-.03,1.108,1.108,0,0,1-1.55-.264,1.862,1.862,0,0,1-1.049.354A.624.624,0,0,1-16.04,7c-.7-.013-1.5-.509-1.269-1.155a1.084,1.084,0,0,1,.568-.065c-.395-.532.223-1.337.974-1.269a1.481,1.481,0,0,1,.463-.791.877.877,0,0,1,.979-.076c-.132-.629.789-1.216,1.494-.953a.7.7,0,0,1,.193-.864,2.959,2.959,0,0,1,.931-.517l1.172-.479a2.027,2.027,0,0,1,.773-.2c.273,0,.566.144.609.367A1.508,1.508,0,0,1-7.13.334,1.713,1.713,0,0,1-4.79.623,1.427,1.427,0,0,1-3.548.13,1.3,1.3,0,0,1-2.471.846c.591-.014,1.115.5,1,.975a2.719,2.719,0,0,1,1.339.792A.713.713,0,0,1-.573,3.736c.4.432-.205,1.167-.838,1.022-.082.657-1.2,1.032-1.814.611a4.608,4.608,0,0,1-1.966.75.356.356,0,0,1-.149-.37,1.042,1.042,0,0,1-.415.988,1.043,1.043,0,0,1-.219.121' transform='matrix(0.999, -0.035, 0.035, 0.999, 39.375, 0.326)' fill='%232a1608'/%3E%3Cpath id='Fill_158' data-name='Fill 158' d='M-9.818,5.486c-.046-.258-.111-.51-.166-.765-.025-.117-.048-.234-.066-.351a6.076,6.076,0,0,1,1.971.077,5.428,5.428,0,0,0,1.672.244A2.827,2.827,0,0,0-4.591,3.5,11.162,11.162,0,0,0-2.3.007c.209.032.441-.058.626.042a.579.579,0,0,1,.178.173,2.49,2.49,0,0,1,.441.977c.075.362.153.71.242,1.064A27.572,27.572,0,0,1-.086,5.5c.038.3.112.306.076.608C-.092,6.8-.884,7.16-1.4,7.533A13.461,13.461,0,0,1-3.309,8.667c-.993.492-1.519,2.012-2.7,2.04-.342.008-2.176,1.754-2.468,1.444' transform='matrix(0.999, -0.035, 0.035, 0.999, 36.616, 13.413)' fill='%232a1608'/%3E%3Cpath id='Fill_159' data-name='Fill 159' d='M-2.135,2.281A2.091,2.091,0,0,0-.009,0l-2.4.42Z' transform='translate(29.308 19.043) rotate(-8)' fill='%23fffffe'/%3E%3Cpath id='Fill_160' data-name='Fill 160' d='M-10.064,1.441-9.771,0-.287,8.413,0,10.568-10.064,1.441' transform='matrix(0.999, -0.035, 0.035, 0.999, 11.044, 34.716)' fill='%23a3d9eb'/%3E%3Cpath id='Fill_161' data-name='Fill 161' d='M-10.062.887l9.14,8.8L0,8.8-9.14,0l-.922.887' transform='matrix(0.999, -0.035, 0.035, 0.999, 10.145, 36.475)' fill='%23373736'/%3E%3Cpath id='Fill_162' data-name='Fill 162' d='M-21.982,6.155a26.918,26.918,0,0,0,2.461,9.419c4.92,12.546,9.487,21.6,11.567,25.012C-5.679,44.322,0,40.471,0,40.471S-9.3,3.085-11.429.68-22.154,2.765-21.982,6.155' transform='matrix(0.999, -0.035, 0.035, 0.999, 50.728, 64.428)' fill='%23684032'/%3E%3Cpath id='Fill_163' data-name='Fill 163' d='M-18.305,4.989s1.436,5.884,15.361,22.105C-1.083,29.263,0,25.691,0,25.691a58.284,58.284,0,0,1-4.243-7.272c-1.515-3.316-1.343-7.7-3.624-11.6C-11.234,1.057-13.4,1.356-14.091.483c-1.851-2.327-4.214,4.505-4.214,4.505l9.394,8.679' transform='matrix(0.999, -0.035, 0.035, 0.999, 61.964, 98.26)' fill='%23684032'/%3E%3Cpath id='Fill_164' data-name='Fill 164' d='M-6.13,0c.707.807,2.069,14.952,2.069,14.952,1.506,4.725,2.907,9.716,4.008,13.84a1.574,1.574,0,0,1-.674,1.733,44.723,44.723,0,0,1-8.18,4.509,1.617,1.617,0,0,1-2.07-.9c-.34-.846-.7-1.683-1.1-2.5-1.487-2.984-2.746-6.023-3.987-9.106-.6-1.485-2.026-7.15-2.6-8.643' transform='matrix(0.999, -0.035, 0.035, 0.999, 48.174, 62.702)' fill='%23375a92'/%3E%3Cpath id='Fill_165' data-name='Fill 165' d='M-.463,0l.418.8a.382.382,0,0,1-.09.469A16.276,16.276,0,0,1-4.512,3.889a23.907,23.907,0,0,1-6.22,2.239.69.69,0,0,1-.633-.211l-.5-.824L-.463,0' transform='matrix(0.999, -0.035, 0.035, 0.999, 64.13, 125.278)' fill='%23fffffe'/%3E%3Cpath id='Fill_166' data-name='Fill 166' d='M-7.82,5.069A16.2,16.2,0,0,0-6.262,3.279c.2-.276.387-.558.58-.837.164-.237.532-1.025.825-1.058a.785.785,0,0,1,.3.044c.657.184,1.669.708,2.271.2A1.169,1.169,0,0,0-1.873.836,2.143,2.143,0,0,1-1.835.377c.29-.95.974.147,1.155.525.264.552.4,1.147.664,1.7.276.572-3.166,2.505-3.712,2.784a31.273,31.273,0,0,1-6,2.368c-.372.089-1.261.3-1.219-.05a.546.546,0,0,1,.182-.289c.313-.322,2.634-2.022,2.947-2.344' transform='matrix(0.999, -0.035, 0.035, 0.999, 63.188, 123.533)' fill='%23323851'/%3E%3Cpath id='Fill_167' data-name='Fill 167' d='M-2.715,4.97c-1.122.887-2.727,1.822-3.67.58.25-.2.438-.354.519-.438A20.6,20.6,0,0,0-3.89,2.858a2.88,2.88,0,0,0,.445-.831c.188-.5.554-1.236.775-1.737A.479.479,0,0,1-2.486.043.532.532,0,0,1-2.2,0,3.759,3.759,0,0,1-.358.608c.338.223.433.3.3.669a5.218,5.218,0,0,1-.376.8A18.913,18.913,0,0,1-2.674,4.924l-.04.046' transform='matrix(0.999, -0.035, 0.035, 0.999, 61.391, 123.607)' fill='%234c5477'/%3E%3Cpath id='Fill_168' data-name='Fill 168' d='M-.466,0c.03.235.055.517.067.684.05.666.076,1.386.126,2.051A7.47,7.47,0,0,1-.53,4.4,37.37,37.37,0,0,0-.466,0' transform='matrix(0.999, -0.035, 0.035, 0.999, 63.199, 122.825)' fill='%234d5678'/%3E%3Cpath id='Fill_169' data-name='Fill 169' d='M-4.563,2.354a.831.831,0,0,1,.214-.419C-4.146,1.677-3.217.8-2.368,0-1.582.42-.8.828,0,1.162A21.764,21.764,0,0,1-3.132,2.426c-.437.128-1.479.432-1.43-.072' transform='matrix(0.999, -0.035, 0.035, 0.999, 56.892, 129.789)' fill='%234d5678'/%3E%3Cpath id='Fill_170' data-name='Fill 170' d='M-2.546.314l.116,0c.3.009,1.244.045,2.315.116.1.006.142.023.1.038A.912.912,0,0,1-.275.484C-.866.445-1.423.416-1.841.4l-.51-.021-.152,0h-.05l.007-.01v.01h-.007l.007-.01v.01c-.108,0-.2-.013-.2-.028s.087-.029.195-.028' transform='matrix(0.999, -0.035, 0.035, 0.999, 59.663, 125.466)' fill='%23fffffe'/%3E%3Cpath id='Fill_171' data-name='Fill 171' d='M-2.547.314l.117,0c.3.009,1.244.045,2.315.116.1.006.142.023.1.038A.916.916,0,0,1-.275.484C-.867.445-1.422.416-1.841.4l-.51-.021-.151,0h-.051l.007-.01v.01h-.007l.007-.01v.01c-.108,0-.195-.013-.195-.028s.087-.029.194-.028' transform='matrix(0.999, -0.035, 0.035, 0.999, 58.75, 126.345)' fill='%23fffffe'/%3E%3Cpath id='Fill_172' data-name='Fill 172' d='M-2.546.314l.116,0c.3.009,1.244.045,2.315.116.1.006.142.023.1.038A.912.912,0,0,1-.275.484C-.867.445-1.423.416-1.841.4l-.51-.021-.151,0h-.05l.007-.01v.01h-.007l.007-.01v.01c-.108,0-.2-.013-.2-.028s.087-.029.195-.028' transform='matrix(0.999, -0.035, 0.035, 0.999, 58.751, 128.103)' fill='%23fffffe'/%3E%3Cpath id='Fill_173' data-name='Fill 173' d='M-2.547.314l.117,0c.305.009,1.244.045,2.315.116.1.006.142.023.1.038A.916.916,0,0,1-.275.484C-.867.445-1.422.416-1.84.4L-2.351.377l-.151,0h-.05l.006-.01v.01h-.006l.006-.01v.01c-.108,0-.195-.013-.195-.028s.087-.029.194-.028' transform='matrix(0.999, -0.035, 0.035, 0.999, 58.751, 128.103)' fill='%23fffffe'/%3E%3Cpath id='Fill_174' data-name='Fill 174' d='M-11.936,1.516a27.178,27.178,0,0,0-3.823,9.053C-19.52,23.6-21.41,33.6-21.834,37.582c-.464,4.358,6.517,4.607,6.517,4.607S.239,6.532,0,3.333-9.982-1.321-11.936,1.516' transform='matrix(0.999, -0.035, 0.035, 0.999, 40.613, 66.194)' fill='%23684032'/%3E%3Cpath id='Fill_175' data-name='Fill 175' d='M-5.322,26.958c.661,2.705,3.9-.59,3.9-.59a33.54,33.54,0,0,1-.458-9.959c.434-3.1,1.842-4.655,1.876-7.583C.048,4.569-1.874,2.489-2.089,1.447-2.677-1.4-9.057.827-9.057.827S-10.267,6.725-5.322,26.958Z' transform='matrix(0.999, -0.035, 0.035, 0.999, 29.069, 104.175)' fill='%23684032'/%3E%3Cpath id='Fill_176' data-name='Fill 176' d='M-28.2,36.275c.367-1.21.722-2.422.968-3.654.648-3.238,1.524-6.386,2.445-9.559.444-1.529,1.378-8.337,1.923-9.8,1.065-2.869,2.617-5.287,4.344-9.027C-16.24-.716-9.872-.348-5.106.531a7.055,7.055,0,0,1,2.3.7,5.188,5.188,0,0,1,2.1,3.033c1.038,3.195,1.067,6.184-.765,8.9C-3.463,16.1-6.823,17.589-8.621,20.64c-3.331,5.652-3.561,12.26-6.274,18.138a1.568,1.568,0,0,1-1.63.858c-3.238-.414-7.681-.532-10.744-1.633A1.417,1.417,0,0,1-28.2,36.275Z' transform='matrix(0.999, -0.035, 0.035, 0.999, 46.13, 59.961)' fill='%23375a92'/%3E%3Cpath id='Fill_177' data-name='Fill 177' d='M0,0-.016,1.064A.522.522,0,0,1-.3,1.542a13.455,13.455,0,0,1-4.859.965c-3.36.221-4.9.122-6.23-.26a.632.632,0,0,1-.434-.51L-11.872.61,0,0' transform='matrix(0.999, -0.035, 0.035, 0.999, 27.659, 132.294)' fill='%23fffffe'/%3E%3Cpath id='Fill_178' data-name='Fill 178' d='M-9.217,2.328A20.2,20.2,0,0,0-6.76,1.25c.338-.183.668-.376,1-.565C-5.476.525-4.711-.08-4.4.009a.819.819,0,0,1,.277.165c.561.445,1.3,1.36,2.161,1.116A1.424,1.424,0,0,0-1.154.7,2.416,2.416,0,0,1-.884.279c.77-.791.895.539.884.976-.016.636-.184,1.261-.2,1.9-.015.66-4.42,1.107-5.1,1.15a37.067,37.067,0,0,1-7.173-.183c-.415-.067-1.406-.228-1.187-.546a.667.667,0,0,1,.328-.2c.474-.18,3.646-.862,4.12-1.042' transform='matrix(0.999, -0.035, 0.035, 0.999, 29.454, 129.619)' fill='%23323851'/%3E%3Cpath id='Fill_179' data-name='Fill 179' d='M-3.489,4.128c-1.152.351-2.676.568-2.9-.834.257-.079.453-.144.544-.186A17.578,17.578,0,0,0-3.558,1.9a2.676,2.676,0,0,0,.636-.549C-2.6.993-2.054.493-1.706.146A.421.421,0,0,1-1.479,0a.383.383,0,0,1,.225.069A2.949,2.949,0,0,1-.134,1.255c.164.313.2.415-.03.68a4.883,4.883,0,0,1-.573.545A16.386,16.386,0,0,1-3.442,4.1l-.047.024' transform='matrix(0.999, -0.035, 0.035, 0.999, 25.803, 128.867)' fill='%234c5477'/%3E%3Cpath id='Fill_180' data-name='Fill 180' d='M-.082,0A2.767,2.767,0,0,1,0,.722c-.02.668-.224,1.324-.242,1.991-.008.321-1.169.594-2.492.8A5.968,5.968,0,0,0-.082,0' transform='matrix(0.999, -0.035, 0.035, 0.999, 29.473, 129.811)' fill='%234d5678'/%3E%3Cpath id='Fill_181' data-name='Fill 181' d='M-4.536,1.32A.758.758,0,0,1-4.189.982C-3.912.816-2.755.394-1.695,0-1.144.915-.6,1.812,0,2.641a16.962,16.962,0,0,1-3.28-.418c-.439-.11-1.487-.377-1.256-.9' transform='matrix(0.999, -0.035, 0.035, 0.999, 20.359, 131.531)' fill='%234d5678'/%3E%3Cpath id='Fill_182' data-name='Fill 182' d='M-2.414.315l.074,0c.125.005.419.02.834.045S-.58.42-.059.46C.029.466.018.476-.084.482a3.136,3.136,0,0,1-.344,0C-.967.44-1.5.406-1.911.382l-.5-.028L-2.563.346l-.038,0h0l.081-.01-.057.01h-.024l.081-.01-.057.01c-.127,0-.192-.012-.145-.021A2.286,2.286,0,0,1-2.414.315' transform='matrix(0.999, -0.035, 0.035, 0.999, 24.955, 129.845)' fill='%23fffffe'/%3E%3Cpath id='Fill_183' data-name='Fill 183' d='M-2.414.315l.074,0c.125.005.419.02.834.045S-.58.42-.059.46C.029.466.018.476-.084.482a3.164,3.164,0,0,1-.344,0C-.967.44-1.5.406-1.911.382l-.5-.028L-2.563.346l-.038,0h0l.081-.009-.057.01h-.024l.081-.009-.057.01c-.127,0-.192-.012-.146-.02A2.3,2.3,0,0,1-2.414.315' transform='matrix(0.999, -0.035, 0.035, 0.999, 24.956, 131.604)' fill='%23fffffe'/%3E%3Cpath id='Fill_184' data-name='Fill 184' d='M-2.414.315l.074,0c.125.005.42.02.834.045S-.58.42-.059.46C.029.466.018.476-.084.482a3.163,3.163,0,0,1-.344,0C-.966.44-1.5.406-1.911.382l-.5-.028L-2.563.346l-.038,0h0l.081-.01-.057.01h-.024l.081-.01-.057.01c-.127,0-.192-.012-.146-.021A2.3,2.3,0,0,1-2.414.315' transform='matrix(0.999, -0.035, 0.035, 0.999, 23.129, 131.603)' fill='%23fffffe'/%3E%3Cpath id='Fill_185' data-name='Fill 185' d='M-2.414.315l.074,0c.125.005.419.02.834.045S-.581.42-.06.46C.029.466.018.476-.084.482a3.134,3.134,0,0,1-.344,0C-.967.44-1.5.406-1.911.382l-.5-.028L-2.563.346l-.038,0h0l.081-.01-.057.01h-.024l.081-.01-.057.01c-.127,0-.192-.012-.146-.021A2.3,2.3,0,0,1-2.414.315' transform='matrix(0.999, -0.035, 0.035, 0.999, 22.216, 131.602)' fill='%23fffffe'/%3E%3Cpath id='Fill_186' data-name='Fill 186' d='M-15.566,38.284c-.1-7.805-1.412-23.673,1.12-32.086.911-3.028-.311-5.379.187-5.348,3.743.235,4.741-2.7,7.966,1.139,4,4.759,4.661,8.336,4.9,9.361C-.718,14.285-.13,33.728,0,41.859Z' transform='matrix(0.999, -0.035, 0.035, 0.999, 45.207, 22.975)' fill='%23684032'/%3E%3Cpath id='Fill_187' data-name='Fill 187' d='M-16.79,7.394c1.748-3,1.852-.733,5.055-3.651C-9.49,1.7-9.309-.13-9.14.007c.832.675,4.132,3.976,4.93,4.687A11.525,11.525,0,0,1-1.381,7.889c2.5,5.039.794,8.1,1.049,13.659.165,3.595-.289,7.289-.112,10.883C-.4,33.3-.538,42.686-.872,42.884c-.176.1-.732,4.764-.936,4.8-.959.163-7.106-7.893-8.773-7.185-2.451,1.04-10.947,8.592-13.444,8.717-.7.036,4.426-9.027,5.381-12.818s2.813-9.847-.221-16.835S-17.548,8.694-16.79,7.394Z' transform='matrix(0.999, -0.035, 0.035, 0.999, 46.396, 23.237)' fill='%23ce7b7b'/%3E%3Cpath id='Fill_188' data-name='Fill 188' d='M-2.706,11.458C-1.89,10.972.278,9.167-.03,7.788-.287,6.632-.839,6.445-.838,6.445-6.523,3.369-11.911,2.026-16.444.456-20.9-1.087-18.6,1.779-18.6,1.779c4.269,3.109,8.042,6.392,15.894,9.679' transform='matrix(0.999, -0.035, 0.035, 0.999, 33.862, 46.866)' fill='%23684032'/%3E%3Cpath id='Fill_189' data-name='Fill 189' d='M-12.316,27.971c.321.3,4.274,1.89,5,.42A128.813,128.813,0,0,0-1.3,14.109C.912,8.052.309,2.3-3.159.055-4.577-.862-8.8,9.811-10.212,17.117c-.3,1.553.555.7-2.249,7.725,0,0-2.8,1.834.145,3.129' transform='matrix(0.999, -0.035, 0.035, 0.999, 43.584, 30.291)' fill='%23684032'/%3E%3Cpath id='Fill_190' data-name='Fill 190' d='M-9.866,10.131c1.177-3.145-.416-4.907,1.789-7.619.353-.434,2.762-2.733,3.91-2.494C-.286.827.009,5.81,0,8.48-.015,13.042-3.128,16.773-5.045,21c-1.076,2.37-7.305-.079-7.782-1.782C-13.18,17.955-10.921,12.949-9.866,10.131Z' transform='matrix(0.999, -0.035, 0.035, 0.999, 44.574, 28.402)' fill='%23bb6f6f'/%3E%3Cpath id='Fill_192' data-name='Fill 192' d='M-2.358,7.053-9.864,4.531-13.7.583s-.194-1.314,1.533,0,2.878,2.109,2.878,2.109L-3.97,2.7,0,5.824-2.358,7.053' transform='matrix(0.999, -0.035, 0.035, 0.999, 18.409, 42.563)' fill='%23684032'/%3E%3Cpath id='Fill_193' data-name='Fill 193' d='M0,6.09A8.186,8.186,0,0,0-2.162,3.045C-3.6,2.13-5.714-.363-6.268.045S-5.535,1.956-5.03,2.5A4.372,4.372,0,0,1-3.669,4.691a2.813,2.813,0,0,1,.927,1C-2.3,6.419,0,6.09,0,6.09' transform='matrix(0.999, -0.035, 0.035, 0.999, 14.774, 40.939)' fill='%23684032'/%3E%3Cpath id='Fill_194' data-name='Fill 194' d='M-.274,0-.33,1.609l-.2,1.027L-.432.672-.274,0' transform='matrix(0.999, -0.035, 0.035, 0.999, 1.07, 35.762)' fill='%23464645'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            width: 140px;
            height: 148px;
            position: absolute;
            top: -76px;
            left: auto;
            right: 10px;
            bottom: auto;
        }
        */
        .registrationProcess-bottom {
          .cmessage {
            margin: auto auto;
            max-width: 370px;
            width: 78%;

            svg {
              display: block;
              margin: auto auto 0;
            }

            h4 {
              margin-top: 8px;
              font-family: 'Yanone Kaffeesatz';
              font-size: 23px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 28px;
              letter-spacing: 0.27px;
              text-align: center;
              color: #282333;
            }

            p {
              font-family: 'Gibson';
              font-size: 15px;
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.41;
              letter-spacing: 0.3px;
              text-align: center;
              color: #282333;
              max-width: 250px;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }

        .not-receive {
          font-family: 'Yanone Kaffeesatz';
          text-align: center;
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          color: #e2596d;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 1.2px;
        }

        .error {
          font-family: Yanone Kaffeesatz;
          color: #e2596d;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          display: block;
          margin-top: 20px;
        }
      }

      .registrationProcess-top {
        padding-top: 63px;
        /* padding-top: calc(env(safe-area-inset-top) + 63px); */
        padding-bottom: 0;

        .headTitles {
          margin: auto auto 30px;
          width: auto;

          .headToolbar {
            zoom: 1;
            padding: 0 11% 30px;

            &:before,
            &:after {
              content: "";
              display: table;
            }

            &:after {
              clear: both;
            }

            .goBackBtn {
              float: left;
            }

            .closeBtn {
              float: right;
            }
          }

          h3 {
            color: #f9bf00;
            font-family: 'Fjalla One';
            text-align: center;
            margin: auto auto 10px;
            padding: 0;
            font-weight: normal;
            letter-spacing: 0.5px;
            font-size: 5vw;
          }

          h2 {
            color: #282333;
            font-family: Yanone Kaffeesatz;
            font-weight: bold;
            font-size: 37px;
            text-align: center;
            letter-spacing: 1px;
            margin: auto auto 12px;
            padding: 0;
            line-height: normal;
          }

          p {
            font-family: 'Yanone Kaffeesatz';
            font-size: 17px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.96px;
            text-align: center;
            color: #282333;
            margin-top: 0;
          }
        }


        .register-container {
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;

          .your-address {
            .input-wrapper {
              padding: 0px;
              border-radius: 4px;
              border: solid 3px #322e51;
              background-color: #ffffff;
              margin: auto auto 12px;
              position: relative;

              ion-item.item.item-block {
                margin: 0;
                padding: 0;
                background: transparent;
                border: 0 none;

                .item-inner {
                  margin: 0;
                  padding: 0;
                  background: transparent;
                  border: 0 none;
                  box-shadow: none;

                  .input-wrapper {
                    margin: 0;
                    padding: 0;
                    background: transparent;
                    border: 0 none;
                  }
                }
              }

              input.text-input {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 11'%3E%3Cpath fill='%23282333' d='M4,11a.722.722,0,0,1-.584-.294C1.181,7.542,0,5.233,0,4.03a4,4,0,1,1,8,0C8,5.83,5.385,9.6,4.584,10.706A.722.722,0,0,1,4,11ZM4,2.063A1.772,1.772,0,0,0,2.182,3.781,1.773,1.773,0,0,0,4,5.5,1.773,1.773,0,0,0,5.819,3.781,1.773,1.773,0,0,0,4,2.063Z' /%3E%3C/svg%3E");
                background-position: 16px center;
                background-repeat: no-repeat;
                background-size: auto 12px;
                margin: 0;
                width: 100%;
                height: 57px;
                color: #282333;
                font-family: 'Yanone Kaffeesatz';
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 18px;
                padding: 0 15px 0 40px;
              }

              @include placeholder {
                color: #282333;
                opacity: 1;
              }

              // &.has-value input.text-input {}

              &.has-focus {
                background: #1b1b29;
                border-color: #fff;
              }

              &.has-success {
                background: #111114;
                border-color: #190b41;

                &:after {
                  content: "";
                  background-image: url('../assets/img/icon_check-mark.svg');
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
                  right: 15px;
                  top: 12px;
                }
              }

              &.has-error {
                background: #741c29;
                border-color: #a1304a;

                &:after {
                  content: "";
                  background-image: url('../assets/img/icon-exclamation-mark.svg');
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
                  right: 15px;
                  top: 12px;
                }
              }
            }
          }

          p {
            font-family: 'Gibson';
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 21px;
            letter-spacing: 0.3px;
            text-align: center;
            color: #282333;
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .address-img {
          max-width: none;
          width: 77%;
          margin: auto auto 0;
          position: relative;
          z-index: -1;

          img {
            max-width: 100%;
            margin: 3em auto auto;
            display: block;
            width: 100%;
          }
        }


      }
    }
  }
}