@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

page-login {
  background-color: #F9F0E0;

  ion-content.content {
    &.registrationProcess {
      .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0 !important;
      }

      ion-footer.footer {
        background-color: transparent;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='415.774' height='31.231' viewBox='0 0 415.774 31.231' fill='%23eee'%3E%3Cpath class='a' d='M503.336,685.477c75.675-26.6,140.315-18.693,212.744-8.892l11.367,1.54c55.807,7.546,116.7,15.2,191.325,8.528,0-20.221.339-9.176.339-28.674h-414S503.336,663.633,503.336,685.477Z' transform='translate(-503.336 -657.979)'/%3E%3C/svg%3E");
        background-position: top center;
        background-repeat: no-repeat;
        border: 0 none;
        text-align: center;
        position: relative;
        margin: auto auto 0;
        padding: 16% 0 6%;

        &:before {
          border: 0 none;
          background: transparent;
        }

        .registrationProcess-bottom {
          .cmessage {
            margin: auto auto;
            max-width: 370px;
            width: 78%;

            svg {
              display: block;
              margin: auto auto 0;
            }

            h4 {
              margin-top: 8px;
              font-family: 'Yanone Kaffeesatz';
              font-size: 23px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 28px;
              letter-spacing: 0.27px;
              text-align: center;
              color: #282333;
          }

          p {
              font-family: 'Gibson';
              font-size: 15px;
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.41;
              letter-spacing: 0.3px;
              text-align: center;
              color: #282333;
              max-width: 250px;
              margin-left: auto;
              margin-right: auto;
          }
          }
        }

        .not-receive {
          font-family: 'Yanone Kaffeesatz';
          text-align: center;
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          color: #e2596d;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 1.2px;
        }

        .error {
          font-family: Yanone Kaffeesatz;
          color: #e2596d;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          display: block;
          margin-top: 20px;
        }
      }
      .registrationProcess-top {
        padding-top: 63px;
        /* padding-top: calc(env(safe-area-inset-top) + 63px);*/
        padding-bottom: 0;

        .headTitles {
            margin: auto auto 30px;
            width: auto;

          .headToolbar {
            zoom: 1;
            padding: 0 11% 30px;

            &:before,
            &:after {
              content: "";
              display: table;
            }

            &:after {
              clear: both;
            }

            .goBackBtn {
              float: left;
            }

            .closeBtn {
              float: right;
            }
          }

          h3 {
            color: #f9bf00;
            font-family: 'Fjalla One';
            text-align: center;
            margin: auto auto 10px;
            padding: 0;
            font-weight: normal;
            letter-spacing: 0.5px;
            font-size: 5vw;
          }
          h2 {
            color: #282333;
            font-family: Yanone Kaffeesatz;
            font-weight: bold;
            font-size: 37px;
            text-align: center;
            letter-spacing: 1px;
            margin: auto auto 12px;
            padding: 0;
            line-height: normal;
        }

        p {
            font-family: 'Yanone Kaffeesatz';
            font-size: 17px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.96px;
            text-align: center;
            color: #282333;
            margin-top: 0;
        }
        }

        .register-container {
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;

          .shadowWRap {
            position: relative;
            margin-bottom: 30px;

            &:before {
              content: "";
              background: url(../assets/img/shadow-Oval.png);
              background-repeat: no-repeat;
              width: 100%;
              position: absolute;
              top: 0;
              z-index: -1;
              padding-top: 100%;
              background-size: 140%;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              background-position: center;
              opacity: 0;
              display: none;
            }

            &.shadow-show {
              &:before {
                opacity: 1;
              }
            }
          }
          ion-list.list{
            margin: 0;

            .input-wrapper {
              padding: 0px;
              margin: auto auto 18px;
              position: relative;
              z-index: 1;
              border-radius: 4px;
              border: solid 3px #282333;
              background-color: #ffffff;
              overflow: initial;
              contain: initial;
              ion-item.item.item-block {
                margin: 0;
                padding: 0;
                /* background: transparent; */
                border: 0 none;
                box-shadow: none;
                overflow: initial;
                contain: initial;
                  .item-inner {
                  margin: 0;
                  padding: 0;
                  /* background: transparent; */
                  border: 0 none;
                  box-shadow: none;
                  overflow: initial;
                  contain: initial;
                  .input-wrapper {
                    margin: 0;
                    padding: 0;
                    background: transparent;
                    border: 0 none;
                  }
                  button.btn.btn-secondary.btn-half{
                    background: transparent;
                    border-width: 0 0 0 3px;
                    border-style: solid;
                    border-color: #282333;
                    box-shadow: none;
                    position: absolute;
                    right: 0;
                    top: -1px;
                    bottom: -1px;
                    height: auto;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                    width: 42px;
                    z-index: 10;
                    &:nth-of-type(2){
                      right: 42px;
                    }
                    &:nth-of-type(3){
                      right: 84px;
                    }
                    svg{
                      width: 18px;
                      height: 18px;
                    }
                  }
                }
                
                  .item-inner{
                    .input-wrapper input.text-input{
                      padding-right: 48px;
                    }
                    button.btn.btn-secondary.btn-half{
                      display: none;
                    }
                  }
                
              }
  
              input.text-input {
                padding: 0 126px 0 20px;
                margin: 0;
                width: 100%;
                height: 44px;
                font-family: 'Yanone Kaffeesatz';
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 1px;
                font-stretch: normal;
                font-style: normal;
                color: #282333;
              }
              @include placeholder {
                opacity: 1;
                color: #282333;
              }
              /*
              &.has-focus {
                background: #a0a0a3;
                border-color: #fff;
              }
              */
              
              &.has-success {
                /*
                background: #111114;
                border-color: #190b41;
                */
                ion-item.item.item-block .item-inner button.btn.btn-secondary.btn-half{
                  display: none;
                }
                .input-wrapper input.text-input{
                  padding-right: 48px;
                }
                &:after {
                  content: "";
                  background-image: url('../assets/img/icon_check-mark.svg');
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.81' height='18.81' viewBox='0 0 18.81 18.81'%3E%3Cg id='Group_5' data-name='Group 5' transform='translate(0.855 0.855)'%3E%3Cg id='Group_7' data-name='Group 7'%3E%3Crect id='Rectangle' width='17.1' height='17.1' rx='5.13' fill='%2334ca9e' stroke='%23493b70' stroke-miterlimit='10' stroke-width='1.71'/%3E%3C/g%3E%3Cg id='Group_8' data-name='Group 8' transform='matrix(1, 0.017, -0.017, 1, 5.062, 5.939)'%3E%3Cpath id='Shape' d='M1.606,4.469a.616.616,0,0,0,.468.216.643.643,0,0,0,.468-.216l2.84-3.2a.809.809,0,0,0,0-1.048.6.6,0,0,0-.929,0L2.067,2.893l-.945-.921a.6.6,0,0,0-.929,0,.809.809,0,0,0,0,1.048Z' transform='translate(0.432 0.374)' fill='%234a3d72' stroke='%2354457e' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='0.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
                  right: 15px;
                  top: 12px;
                }
              }
  
              &.has-error {
                background: transparent;
                border-color: #eb4242;
              }
              &:placeholder {
                color:#fff;
              }
            }
  
          }
         


          button.btn-primary {
            height: 45px;
            padding-left: 26px;
            padding-right: 26px;
            display: block;
            margin: auto;
            width: auto;
            font-size: 15px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 41px;
            letter-spacing: 4.15px;
            text-align: center;
            font-family: 'Yanone Kaffeesatz';
            border-radius: 5px;
            background: #282333;
            color: #fff;
            box-shadow: none;

            &.color-dark {
                background: #e6decc;
                border: 3px solid #282333;
                color: #282333;
                width: auto;
                padding-left: 50px;
                padding-right: 50px;
            }

            &[disabled] {
                display: none;
            }

          }

          a.link1 {
            font-family: 'Yanone Kaffeesatz';
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            color: #282333;
          }

        }

        .orWrap {
          max-width: 370px;
          width: auto;
          margin-left: 19%;
          margin-right: 19%;

          .orBox {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 100%;
            margin: 30px auto 26px;

            .or-line {
              display: block;
              height: 1px;
              width: auto;
              background: rgba(255, 255, 255, 0.2);
              flex: 1 1 auto;
            }

            .or-text {
              text-transform: uppercase;
              color: #fff;
              padding: 0 20px;
              font-size: 3.2vw;
              font-weight: normal;
              letter-spacing: 0.04em;
              font-weight: normal;
              font-family: 'Fjalla One';
            }
          }
        }

        .btnArea {
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;

          button.btn {
            font-family: Yanone Kaffeesatz;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 0.06em;
            line-height: 41px;
            text-align: center;
            border-radius: 10px;
            height: 45px;
            padding-left: 0.6em;
            padding-right: 0.6em;
            display: block;
            margin: 20px auto auto;
            width: 100%;

            &.btn-half {
              max-width: calc(50% - 10px);
            }

            &.btn-secondary {
              background: #fff;
              border: 2px solid #d0d0d0;
              color: #444;
            }

            span.button-inner {
              justify-content: flex-start;

              svg {
                width: 20px;
                height: 20px;
                fill: #fff;
                margin-right: auto;
                flex: 0 0 20px;
                margin-left: 0;
                fill: #3B5998;
              }

              span {
                flex: 1 1 auto;
              }
            }
          }
        }
      }

    }
  }
}