<ion-content no-padding class="registrationProcess" *ngIf="loginShowContent">
	<div class="registrationProcess-top" >
		<div class="headTitles">
			<div class="headToolbar">
				<span class="goBackBtn" (click)="goBack()" *ngIf="backEnabled"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#282333"/></svg></span>
				<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
			</div>
			<h2>WELCOME BACK!</h2>
			<p>ENTER EMAIL</p>
		</div>

		<form method="post" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" name="loginForm" class="logform">
			<div class="register-container ">
				<div class="shadowWRap  " [ngClass]="{'shadow-show' : loginForm.controls['email'].valid }">

					<ion-list>
					<div class="input-wrapper {{emailFocusClass}} {{ successEmailClass}}"  >
					 <ion-item>
						  <ion-input (focus)="inputFocusEmail()" #emailAddress (blur)="inputBlurEmail()" class="input_5" type="email" formControlName="email" name="email" id="loignemail"  placeholder="Email Address" ></ion-input>
						  
							<button *ngIf="showAppleLoginButton" ion-button type="button" class="btn btn-secondary btn-half" item-end  (click)="appleLogin()"><svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1187.198" viewBox="0 0 1000 1187.198"><path id="path4" d="M979.042,925.188a645.457,645.457,0,0,1-63.828,114.759q-50.344,71.779-82.222,99.37-49.245,45.288-105.672,46.534c-27.041,0-59.651-7.695-97.611-23.3q-57.127-23.3-105.086-23.23-50.344,0-108.061,23.23-57.841,23.413-93.375,24.549-54.181,2.308-108.061-47.78-34.406-30.009-86-102.887Q73.817,958.6,38.187,855.79.033,744.66,0,640.5,0,521.161,51.627,434.817q40.594-69.283,108.127-109.373c45.061-26.748,93.749-40.378,146.182-41.25,28.69,0,66.313,8.874,113.066,26.315,46.622,17.5,76.557,26.374,89.682,26.374,9.812,0,43.068-10.377,99.443-31.064q79.969-28.778,135.168-24,149.824,12.091,224.828,118.372-134,81.189-132.64,227.188,1.209,113.627,82.3,188.839A270.437,270.437,0,0,0,1000,870.154q-9.893,28.69-20.958,55.034ZM749.964,23.751q0,89.06-64.927,166.122c-52.177,61-115.287,96.248-183.724,90.686a184.836,184.836,0,0,1-1.378-22.5c0-57,24.813-118,68.877-167.873q33-37.879,83.907-63Q703.5,2.438,748.718,0a215.759,215.759,0,0,1,1.246,23.75Z" transform="translate(0 -0.001)"/></svg></button>
							<button ion-button type="button" class="btn btn-secondary btn-half" item-end  (click)="fbLogin()"><svg xmlns="http://www.w3.org/2000/svg" width="19.368" height="36" viewBox="0 0 19.368 36" fill="#4267B2"><path d="M13.257,19.332V12.457H18.8V9a9.047,9.047,0,0,1,2.429-6.372A7.727,7.727,0,0,1,27.117,0h5.508V6.876H27.117a1.213,1.213,0,0,0-.971.594,2.412,2.412,0,0,0-.432,1.458v3.528h6.911v6.875H25.713V36H18.8V19.332Z" transform="translate(-13.257)"/></svg></button>
							<button ion-button type="button" class="btn btn-secondary btn-half" item-end  (click)="googleLogin()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.102 36.089"><g id="Google__G__Logo" transform="translate(-0.064 -0.065)"><path id="Path" d="M17.687,3.666A20.8,20.8,0,0,0,17.369,0H0V6.948H9.947a8.343,8.343,0,0,1-3.681,5.483V16.94H12.2A17.445,17.445,0,0,0,17.687,3.666Z" transform="translate(18.479 14.858)" fill="#4285f4"/><path id="Path-2" data-name="Path" d="M16.456,14.586A17.841,17.841,0,0,0,28.662,10.23L22.728,5.722a11.185,11.185,0,0,1-6.266,1.724A11,11,0,0,1,6.124,0H0V4.648A18.461,18.461,0,0,0,16.456,14.586Z" transform="translate(2.023 21.568)" fill="#34a853"/><path id="Path-3" data-name="Path" d="M8.076,11.556a10.6,10.6,0,0,1,0-6.908V0H1.959a17.734,17.734,0,0,0,0,16.2Z" transform="translate(0.064 10.011)" fill="#fbbc04"/><path id="Path-4" data-name="Path" d="M16.456,7.142A10.12,10.12,0,0,1,23.52,9.847h0L28.777,4.7A17.9,17.9,0,0,0,16.456,0,18.455,18.455,0,0,0,0,9.946l6.117,4.648A10.992,10.992,0,0,1,16.456,7.142Z" transform="translate(2.023 0.065)" fill="#ea4335"/></g></svg></button>
					</ion-item>
					</div>
					</ion-list>
					<p class="forgotInfo"><a  (tap)="onForgotEmailPage()" class="link1">Forgot Your Info? Click Here</a></p>
				</div>
					<div class="login-page-btn">
						<button ion-button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"><span translate>GET STARTED</span></button>
						<button ion-button type="button" class="btn btn-primary color-dark"  [disabled]="loginForm.valid"  (click)="goToRoot()"   ><span translate>CANCEL</span></button>
						<div class="loaderWrap" *ngIf="showLoader">
						<ion-spinner name="ios" ></ion-spinner>
						</div>
					</div>


				</div>
		</form>
	  	
	</div>


	<ion-footer>
		<div class="registrationProcess-bottom" >
			<div class="cmessage ">
				<svg xmlns="http://www.w3.org/2000/svg" width="33.075" height="35.018" viewBox="0 0 33.075 35.018" fill="#282333"><path d="M3.675,35.018H0V20.58A3.679,3.679,0,0,1,3.675,16.9h.919c0-3.108.2-7.113,1.723-10.519C8.215,2.148,11.716,0,16.721,0s8.507,2.148,10.4,6.385C28.653,9.794,28.849,13.8,28.849,16.9H29.4a3.679,3.679,0,0,1,3.675,3.676V35.016H29.4V20.58H3.675V35.017ZM16.721,3.675c-6.055,0-8.267,3.462-8.453,13.23H25.174c0-4.872-.619-8.109-1.946-10.185S19.834,3.675,16.721,3.675Zm2.074,31.343H15.12V31.631a3.236,3.236,0,0,1-1.47-2.757,3.308,3.308,0,1,1,6.615,0,3.236,3.236,0,0,1-1.471,2.757v3.385Z" transform="translate(0 0)"/></svg>
				<h4>Your Email is Safe.</h4>
				<p>We do not share your email address with third parties without asking your permission first.</p>
			</div>
		</div>
	</ion-footer>
</ion-content>
