<!--
  Generated template for the ValidatedaddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
	<form method="post" name="customSearchform" >
		<div class="app-container  stepTwoProfile">
			


			<div class="confirm-voter-ad ValidateAdd">
				<button ion-button (click)="hideModal()" class="md-icon-button closeStepThreeProfile">
                    <img src="./assets/img/closebtn1.svg" />
                </button >
				<div class="registerd-confirm">
					<div>
						<div class="registerd-confirm-icon">
							<img src="./assets/img/confirmed/validate_voting/drawable-mdpi/group_24_copy_4.png" srcset="./assets/img/confirmed/validate_voting/drawable-hdpi/group_24_copy_4.png 2x, ./assets/img/confirmed/validate_voting/drawable-xhdpi/group_24_copy_4.png 3x, ./assets/img/confirmed/validate_voting/drawable-xxhdpi/group_24_copy_4.png 4x">
						</div>
					</div>
					<h3>CONGRATS!<br>WE FOUND YOU!</h3>
					<h4>You are an official Empowrd Validated Voter in Georgia<br><span>{{user.first_name | uppercase }} {{user.last_name | uppercase }}</span></h4>
				</div>
				<button  ion-button (click)="registerAddress('Validated Voting Address')" class="registerd-btn">CONTINUE TO NEXT STEP</button>

			</div>  
		</div>        
	</form>
</ion-content>
