<ion-header  >
	<ion-navbar hideBackButton>
		<div class="headToolbar">
			<span class="goBackBtn" (click)="goBack()" ><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#282333"/></svg></span>
			<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
		</div>
		<div class="navList">
			<div class="yourPowrscore">
				<div class="title">POWRSCORE</div>
				<div class="count">{{powerScore}}</div>
			</div>
			<div class="progressBar">
				<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="headerStrocke"></div>
		</div>
	</ion-navbar>
</ion-header>
<ion-content parallax-header scroll-events="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
	(ionScrollEnd)="logScrollEnd()" no-padding class="workWithOrganizations" >
	<div class="workWithOrganizations-top header-image">
		<div class="HeaderBox">
			<div class="headTitles">
				<div class="logotitle">MY CIVIC PROFILE</div>
				<h2>ABOUT ME…</h2>
				<p>Help us connect you to community partners and peers who can add value to your civic engagement.</p>
			</div>
		</div>
	</div>
	<div class="main-content">
		<div class="prifleCardList">
			<div class="prifleCardItem" *ngIf="profileImage==''">
				<div class="prifleCard" (click)="uploadProfileImage()">
					<div class="title">
						<h6>{{initial}}</h6>
						<span class="editImg">Add</span>
					</div>
					<p>Profile Photo</p>
				</div>
			</div>
			<div class="prifleCardItem" *ngIf="profileImage!=''">
				<div class="prifleCard profileImg" (click)="uploadProfileImage()">
					<span class="img"  [ngStyle]="{'background-image': 'url(' + profileImageUrl + ')'}" ></span>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':pronoun!=''}">
				<div class="prifleCard"  (click)="togglePronoun()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					<p>PRONOUN</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':pronoun==''}">
				<div class="prifleCard pronoun checked" (click)="togglePronoun()">
					<div class="title">
						<!-- <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path id="_copy" data-name="+ copy" d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z" fill="#4b4761"/></svg>   -->
						<h6>{{pronounShortName | uppercase}}</h6>
						<ion-item class="hide">
						<ion-label>SELECT YOUR PRONOUNS</ion-label>
						<ion-select #pronounSelect [(ngModel)]="pronoun"  [selectOptions]="selectOptions" okText="UPDATE" cancelText="CANCEL" (ionChange)="changePronoun()"  >
							<ion-option value="Him/He">Him/He</ion-option>
							<ion-option value="She/Her">She/Her</ion-option>
							<ion-option value="They/Their">They/Their</ion-option>
						</ion-select>
						</ion-item>
					</div>
					<p>PRONOUN</p>
				</div>
			</div>
			<div class="prifleCardItem"  [ngClass]="{'hide':age!=''}">
				<div class="prifleCard" (click)="toggleAge()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					
					<p>AGE</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':age==''}">
				<div class="prifleCard checked" (click)="toggleAge()">
					<div class="title">
						<h6>{{ageNumeric}}</h6>
						<ion-item class="hide">
						<ion-datetime #ageSelect displayFormat="MM/DD/YYYY" cancelText="CANCEL" doneText="UPDATE" [pickerOptions]="customPickerOptions" pickerFormat="MMM DD YYYY"
						[(ngModel)]="age" (ionChange)="changeAgeValue()"></ion-datetime>
						</ion-item>
					</div>
					<p>AGE</p>
				</div>
			</div>
			<div class="prifleCardItem"  [ngClass]="{'hide':gender!=''}">
				<div class="prifleCard" (click)="toggleGender()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					<p>GENDER</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':gender==''}">
				<div class="prifleCard checked" (click)="toggleGender()">
					<div class="title">
						<h6>{{genderText | uppercase}}</h6>
						<ion-item class="hide">
						<ion-label>GENDER</ion-label>
						<ion-select #genderSelect [selectOptions]="selectOptions" okText="UPDATE" cancelText="CANCEL" [(ngModel)]="gender" (ionChange)="changeGender()"  >
							<ion-option value="1">Male</ion-option>
							<ion-option value="0">Female</ion-option>
							<ion-option value="3">Trans Male</ion-option>
							<ion-option value="4">Trans Female</ion-option>
							<ion-option value="2">Non-Binary</ion-option>
						</ion-select>
						</ion-item>
					</div>
					<p>GENDER</p>
				</div>
			</div>
			<div class="prifleCardItem"  [ngClass]="{'hide':engamentLevelText!=''}">
				<div class="prifleCard" (click)="toggleEngagementLevel()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					<p>ENGAGEMENT LEVEL</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':engamentLevelText==''}">
				<div class="prifleCard checked" (click)="toggleEngagementLevel()">
					<div class="title">
						<h6>{{engamentLevelText | uppercase}}</h6>
						<ion-item class="hide">
						<ion-label>ENGAGEMENT LEVEL</ion-label>
						<ion-select [selectOptions]="selectOptions" okText="UPDATE" cancelText="CANCEL" #engamentLevelSelect [(ngModel)]="engamentLevel" (ionChange)="changeEngagementLevel()"  >
							<ion-option value="Elected">Elected</ion-option>
							<ion-option value="Organizer">Organizer</ion-option>
							<ion-option value="Lobbyist">Lobbyist</ion-option>
							<ion-option value="Appointee">Appointee</ion-option>
							<ion-option value="Staffer">Staffer</ion-option>
							<ion-option value="Candidate">Candidate</ion-option>
							<ion-option value="Student">Student</ion-option>
							<ion-option value="Newbie">Newbie</ion-option>
							<ion-option value="Engaged">Engaged</ion-option>
							<ion-option value="Informed">Informed</ion-option>
						</ion-select>
						</ion-item>
					</div>
					<p>ENGAGEMENT LEVEL</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':party!=''}">
				<div class="prifleCard" (click)="toggleParty()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					<p>PARTY ASSOC.</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':party==''}">
				<div class="prifleCard checked" (click)="toggleParty()">
					<div class="title">
						<h6>{{partyText | uppercase}}</h6>
						<ion-item class="hide">
						<ion-label>PARTY ASSOCIATION</ion-label>
						<ion-select #partySelect [(ngModel)]="party" [selectOptions]="selectOptions" okText="UPDATE" cancelText="CANCEL"  (ionChange)="changeParty()" >
							<ion-option value="democrat">Democratic Party</ion-option>
							<ion-option value="republican">Republican Party</ion-option>
							<ion-option value="libertarian">Libertarian Party</ion-option>
							<ion-option value="green">Green Party</ion-option>
							<ion-option value="independent">Independent</ion-option>
							<ion-option value="notsure">Not Sure</ion-option>
						</ion-select>
						</ion-item>
					</div>
					<p>PARTY ASSOC.</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':interestText!=''}">
				<div class="prifleCard" (click)="toggleInterest()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					<p>MOST INTERESTED IN</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':interestText==''}">
				<div class="prifleCard checked" (click)="toggleInterest()">
					<div class="title">
						<h6>{{interestText | uppercase}}</h6>
						<ion-item class="hide">
						<ion-label>MOST INTERESTED IN</ion-label>
						<ion-select [selectOptions]="selectOptions" okText="UPDATE" cancelText="CANCEL"  #interestSelect [(ngModel)]="interest" (ionChange)="changeInterest()" multiple="true" >
							<ion-option value="Voting">Voting</ion-option>
							<ion-option value="Charity">Charity</ion-option>
							<ion-option value="Advocacy">Advocacy</ion-option>
							<ion-option value="Community">Community</ion-option>
							<ion-option value="Campaigns">Campaigns</ion-option>
							<ion-option value="Volunteering">Volunteering</ion-option>
							<ion-option value="Candidacy">Candidacy</ion-option>
						</ion-select>
						</ion-item>
					</div>
					<p>MOST INTEREST IN</p>
				</div>
			</div>
			<div class="prifleCardItem hide">
				<div class="prifleCard"  (click)="toggleDisability()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					<p>DISABILITY</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':disability==''}">
				<div class="prifleCard checked" (click)="toggleDisability()">
					<div class="title">
						<h6>{{disability | uppercase }}</h6>
						<ion-item class="hide">
						<ion-label>DISABILITY</ion-label>
						<ion-select #disabilitySelect [(ngModel)]="disability" [selectOptions]="selectOptions" okText="UPDATE" cancelText="CANCEL"  (ionChange)="changeDisability()" >
							<ion-option value="Yes">Yes</ion-option>
							<ion-option value="No">No</ion-option>
						</ion-select>
						</ion-item>
					</div>
					<p>DISABILITY</p>
				</div>
			</div>
			<div class="prifleCardItem "  [ngClass]="{'hide':employment!=''}">
				<div class="prifleCard"  (click)="toggleEmployment()">
					<div class="title">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
							<path id="_copy" data-name="+ copy"
								d="M12.32,28A18.931,18.931,0,0,0,15,27.88a.758.758,0,0,0,.68-.84h0V15.68H26.96a.811.811,0,0,0,.9-.605l.025-.115A19.03,19.03,0,0,0,28,12.32H15.68V0a21.306,21.306,0,0,0-2.522.1L13.04.12a.77.77,0,0,0-.72.84h0V12.32H.96a.749.749,0,0,0-.813.562L.12,13A18.931,18.931,0,0,0,0,15.68H12.32Z"
								fill="#4b4761" />
						</svg>
					</div>
					<p>EMPLOYMENT</p>
				</div>
			</div>
			<div class="prifleCardItem" [ngClass]="{'hide':employment==''}">
				<div class="prifleCard checked" (click)="toggleEmployment()">
					<div class="title">
						<h6>{{employmentText | uppercase }}</h6>
						<ion-item class="hide">
						<ion-label>Employment</ion-label>
						<ion-select #employmentSelect [(ngModel)]="employment" [selectOptions]="selectOptions" okText="UPDATE" cancelText="CANCEL" (ionChange)="changeEmployment()" >
							<ion-option *ngFor="let employeement of employeements" value="{{employeement.name}}">{{employeement.name}}</ion-option>
						</ion-select>
						</ion-item>
					</div>
					<p>EMPLOYMENT</p>
				</div>
			</div>

		</div>

	</div>

</ion-content>
<ion-footer  *ngIf="createProfileContent">
	<div class="btnArea">
		<button ion-button class="btn btn-primary" flex="50" *ngIf="disability=='' && interestText=='' && party=='' && engamentLevelText=='' && gender=='' && age=='' && employment=='' && pronoun=='' && profileImage==''" (click)="GoToNext('later')">UPDATE THIS LATER</button>
		<div class="btnGroup" *ngIf="disability!='' || interestText!='' || party!='' || engamentLevelText!='' || gender!='' || age!='' || pronoun!='' || profileImage!='' || employment!=''">
			<button ion-button class="btn btn-primary" flex="50" (click)="GoToNext('later')">CANCEL</button>
			<button ion-button class="btn btn-success" flex="50" (click)="updateProfile()">SAVE & CONTINUE</button>
		</div>
	</div>
</ion-footer>