page-selected-events {
	background-color: #F9F0E0;

	ion-content {

		.msg-list {
	        background: #f4eee2;
	        padding: 16px 30px 36px;
	        .msgs {
	            padding: 0;
	            padding: 0 0 0px;

	            .msg {
	                padding: 50px 0px 35px 36px ;
	                transition: transform 0.3s linear;
	                height: auto;
	                margin: 0 auto;
	                align-self: stretch;
	                background-color: #FFFBF5;
	                border-radius: 10px;
	                border: 3px solid #282333;
	                position: relative;

	                &:nth-of-type(1n+2) {
	                    margin-top: 30px;
	                }

	                .slide-zoom {
	                    align-self: flex-start;
	                }

	                .educationBox {
	                    margin-top: 0;
	                    padding: 0 ;
	                    text-align: left;
	                    .closeBtn {
	                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.928' height='10.828' viewBox='0 0 10.928 10.828'%3E%3Cg id='close' transform='translate(0.964 0.914)'%3E%3Cg id='Group_4' data-name='Group 4' transform='translate(0.45 0.5)'%3E%3Cpath id='Line_18' data-name='Line 18' d='M.9,1,9,9' transform='translate(-0.9 -1)' fill='none' stroke='%23343448' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Line_18-2' data-name='Line 18' d='M-9,1l-8.1,8' transform='translate(17.1 -1)' fill='none' stroke='%23343448' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	                        background-size: contain;
	                        background-position: center;
	                        background-repeat: no-repeat;
	                        width: 10px;
	                        height: 10px;
	                        position: absolute;
	                        top: 29px;
	                        right: 27px;
	                        left: auto;
	                        bottom: auto;
	                    }

	                    h2 {
	                        letter-spacing: 0px;
	                        // font-family: 'Museo Slab';
	                        // line-height: 22px;
	                        font-family: 'Fjalla One';
	                        line-height: 26px;
	                        font-size: 22px;
	                        font-weight: normal;
	                        color: #282333;
	                        margin: 0;
	                        position: relative;
	                        padding: 0 42px 0 0;
	                        .dropDownBtn {
	                            background-image: url("data:image/svg+xml,%3Csvg id='Group_19' data-name='Group 19' xmlns='http://www.w3.org/2000/svg' width='4.8' height='23.2' viewBox='0 0 4.8 23.2'%3E%3Ccircle id='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 0)' fill='%23282333'/%3E%3Ccircle id='Oval-2' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 8.8)' fill='%23282333'/%3E%3Ccircle id='Oval-3' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 18.4)' fill='%23282333'/%3E%3C/svg%3E%0A");
	                            background-color: #FFFBF5;
	                            background-size: auto;
	                            background-position: center;
	                            background-repeat: no-repeat;
	                            width: 36px;
	                            height: 36px;
	                            position: absolute;
	                            top: 0;
	                            right: 6px;
	                            left: auto;
	                            bottom: auto;
	                            display: block;
	                        }
	                    }

	                    h3 {
	                        margin-bottom: -15px;
	                        font-family: 'Gibson';
	                        font-size: 10px;
	                        font-weight: 500;
	                        font-stretch: normal;
	                        font-style: normal;
	                        line-height: 12px;
	                        letter-spacing: 0;
	                        color: #282333;
	                        margin: 6px 0 8px;
	                        padding-right: 36px;
	                        b {
	                            font-weight: 500;
	                        }
	                    }

	                    p {
	                        margin: 0;
	                        font-family: 'Gibson';
	                        font-size: 15px;
	                        font-weight: 300;
	                        font-stretch: normal;
	                        font-style: normal;
	                        line-height: 22px;
	                        letter-spacing: -0.55px;
	                        color: #282333;
	                        padding-right: 36px;
	                        .readmore {
	                            font-weight: 500;
	                            color: #282333;
	                            font-size: 10px;
	                            letter-spacing: 0.33px;
	                            border-bottom: solid 3px #282333;
	                            display: inline-block;
	                        }
	                    }

	                    .badgeList {
	                        list-style: none;
	                        margin: 0px -3px 10px;
	                        padding: 0 36px 0 0;
	                        display: flex;
	                        flex-wrap: wrap;
	                        li {
	                            margin: 3px;
	                            padding: 0;

	                            .blank-badge {
	                                display: block;
	                                // font-family: 'Gibson';
	                                font-family: 'Fjalla One';
	                                font-size: 13px;
	                                font-weight: normal;
	                                font-stretch: normal;
	                                font-style: normal;
	                                line-height: 28px;
	                                letter-spacing: 0.61px;
	                                padding: 0 10px;
	                                color: #fff;
	                                border-radius: 4px;
	                                margin: 0;
	                                height: 30px;
	                            }

	                            .badge {
	                                display: block;
	                                // font-family: 'Gibson';
	                                font-family: 'Fjalla One';
	                                font-size: 13px;
	                                font-weight: normal;
	                                font-stretch: normal;
	                                font-style: normal;
	                                line-height: 28px;
	                                letter-spacing: 0.61px;
	                                padding: 0 10px;
	                                background-color: #24232d;
	                                color: #fff;
	                                border-radius: 4px;
	                                margin: 0;

	                                &.bg-members {
	                                    background-color: #282333;
	                                }

	                                &.bg-new {
	                                    background-color: #9bd29f;
	                                    color: #282333;
	                                }

	                                &.bulletin{color: #282333;background-color: #d2d2d2;}
	                                &.civic-job{color: #282333;background-color: #a8ccc2;}
	                                &.donate{color: #282333;background-color: #f4bc88;}
	                                &.education{color: #282333;background-color: #d7c896;}
	                                &.events{color: #282333;background-color: #afe0e1;}
	                                &.invite{color: #282333;background-color: #fde0ae;}
	                                &.lobby{color: #282333;background-color: #e1d0af;}
	                                &.rewards{color: #282333;background-color: #e9839b;}
	                                &.volunteer{color: #282333;background-color: #c4d1b3;}
	                                &.vote{color: #282333;background-color: #d5afe1;}
	                            }
	                        }
	                    }

	                    .viewMessage {
	                        font-family: 'Gibson';
	                        font-size: 10px;
	                        font-weight: 600;
	                        font-stretch: normal;
	                        font-style: normal;
	                        line-height: normal;
	                        letter-spacing: 0.33px;
	                        color: #282333;
	                        border-bottom: solid 2px #282333;
	                        display: inline-block;
	                    }
	                }
	            }
	        }
	    }
	    
		&.event-view {
			position: relative;
			background-color: #F9F0E0 !important;

			.headToolbar {
				position: absolute;
			    top: 49px;
			    right: 40px;
			    width: fit-content;

				.closeBtn {
					svg {
						fill: #282233;
					}
				}
			}
			.HeaderBox {
				padding: 66px 16px 0px;

				.headTitles {
					.logotitle {
						font-family: 'Gibson';
					    font-size: 11px;
					    font-weight: 600;
					    font-stretch: normal;
					    font-style: normal;
					    line-height: 18px;
					    letter-spacing: 5px;
					    color: #282333;
					    text-transform: uppercase;
					}
					h2 {
						    color: #282333;
						    font-family: 'Museo Slab';
						    font-weight: 700;
						    font-size: 33px;
						    text-align: left;
						    line-height: 32px;
						    letter-spacing: 0.81px;
						    margin: 8px auto 18px;
						    padding: 0;
					}
					p{
						font-weight: normal;
					    font-stretch: normal;
					    font-style: normal;
					    text-align: left;
					    font-family: 'Gibson';
					    font-size: 14px;
					    line-height: 21px;
					    letter-spacing: 1px;
					    color: #19171F;
					    margin: 0;
					}
				}
			}
			.main-content {
				padding-top: 40px;

				ion-list {
					margin: 0px;
					--margin: 0px;
					--inner-margin: 0px;

					&.icon-list-sec {
						ion-col {
							text-align: center;
							position: relative;

							svg {
							    max-width: 100%;
							    max-height: 100%;
							    width: auto;
							    height: 40px;
							    object-fit: contain;
							    &.active {
							    	opacity: 1;
							    }
								&.disable {
									opacity: 0.5;
								}
							}

							ion-img {
								width: 44px;
							    height: 52px;
							    fill: #36332E;
							    background: transparent;

							    &.active {
							    	opacity: 1;
							    }
								&.disable {
									opacity: 0.5;
								}

								img {
									width: 100%;
									height: 100%;
								}
							}
							img {
								width: 44px;
							    height: 52px;
							    fill: #36332E;
							    background: transparent;

							    &.active {
							    	opacity: 1;
							    }
								&.disable {
									opacity: 0.5;
								}

								img {
									width: 100%;
									height: 100%;
								}
							}

							ion-img.pos-icon {
								position: absolute;
							    top: 16px;
							    left: -16px;
							    right: 0px;
							    width: 30px;
							    height: 30px;
							    margin: 0px auto;
							}
							img.pos-icon {
								position: absolute;
							    top: 16px;
							    left: -16px;
							    right: 0px;
							    width: 30px;
							    height: 30px;
							    margin: 0px auto;
							}

							.tab-badge {
							    height: 16px;
							    border-radius: 5.1px;
							    border: solid 2px #282333;
							    font-family: 'Museo Slab';
							    font-size: 9px;
							    font-weight: 800;
							    font-stretch: normal;
							    font-style: normal;
							    letter-spacing: -0.42px;
							    padding: 0;
							}
							.tab-badge-1 {
							    line-height: 13.7px;
								background-color: #9bd29f;
							    color: #282333;
								width: 36px;
								right: 20px;
							    top: 16px;
							}
							.tab-badge-2 {
							    line-height: 13px;
							    background-color: #19171f;
							    color: #f5ede2;
							    width: fit-content;
							    top: unset;
							    bottom: 32px;
							    right: 0px;
							    left: 0px;
							    margin: 0px auto 0px;
							    padding: 0px 2px;
							}

							.name-of-block {
								margin: 6px 0px 0px;
								color: #625e58;
								font-size: 10px;
								letter-spacing: 1px;
								line-height: 26px;
								font-family: "Museo Slab";

								&.disable {
									color: #282333;
								}
							}
						}
					}
					.getting-started-box {
					    margin: 30px 0px 0px;
					    padding: 52px 0px 40px;
					    border-top: 1px solid rgba(40,35,51,0.19);
					    background-color: transparent;
					    position: relative;
					    border-bottom: 1px solid rgba(40, 35, 51, 0.19);

						.sub-title {
							font-size: 11px;
							line-height: 20px;
							color: #19171F;
							font-weight: 700;
							font-family: 'Gibson';
							text-transform: uppercase;
							width: calc(100% - 40px);
    						margin: 0px auto 7px;
							padding: 0px;
						}
						.title {
							font-size: 18px;
							line-height: 20px;
							letter-spacing: -1px;
							color: #19171f;
							font-weight: 400;
							font-family: 'Museo Slab';
							// font-family: "Fjalla One";
							text-transform: uppercase;
							width: calc(100% - 40px);
    						margin: 0px auto 7px;
							padding: 0px;
						}
						.text {
							width: calc(100% - 40px);
    						margin: 0px auto;
							font-size: 14px;
							line-height: 22px;
							color: #19171f;
							font-family: "Gibson";
							font-weight: normal;
							word-break: break-word;
							padding: 0px;
						}
						button {
							width: auto;
	                        height: 33px;
	                        line-height: 27px;
	                        border-radius: 30px;
	                        border: 3px solid #19171F;
	                        background-color: #F1E9D5;
	                        color: #2B2635;
	                        font-size: 11px;
	                        font-family: 'Museo Slab';
	                        font-weight: 900;
	                        text-transform: uppercase;
	                        padding: 0px 16px;
	                        .rit-arw-btn {
	                        	background-color: transparent;
							    width: auto;
							    height: fit-content;
							    padding: 0;
							    margin: 0;
							    position: absolute;
							    right: 20px;
							    bottom: 40%;
	                        }
						}
						.add-agenda-item-box {
							max-width: calc(100% - 24px);
						    width: 100%;
						    margin: 40px auto 0px;
						    padding: 42px 26px;
						    background-color: #ffffff;
						    border: 3px solid #19171f;

							.sub-title {
								width: 100%;
								padding: 0px;
							}
							.title {
								width: 100%;
								padding: 0px;
							}
							.text {
								width: 100%;
								margin-bottom: 18px;
								padding: 0px;
							}
							button {
								width: auto;
		                        height: 33px;
		                        line-height: 27px;
		                        border-radius: 30px;
		                        border: 3px solid #19171F;
		                        background-color: #F1E9D5;
		                        color: #2B2635;
		                        font-size: 11px;
		                        font-family: 'Museo Slab';
		                        font-weight: 900;
		                        text-transform: uppercase;
		                        padding: 0px 16px;
							}
						}
					}
					.add-agenda-item-box {
						max-width: calc(100% - 24px);
					    width: 100%;
					    margin: 40px auto 0px;
					    padding: 42px 26px;
					    background-color: #ffffff;
					    border: 3px solid #19171f;

						.sub-title {
							width: 100%;
							padding: 0px;
						}
						.title {
							width: 100%;
							padding: 0px;
						}
						.text {
							width: 100%;
							margin-bottom: 18px;
							padding: 0px;
						}
						button {
							width: auto;
	                        height: 33px;
	                        line-height: 27px;
	                        border-radius: 30px;
	                        border: 3px solid #19171F;
	                        background-color: #F1E9D5;
	                        color: #2B2635;
	                        font-size: 11px;
	                        font-family: 'Museo Slab';
	                        font-weight: 900;
	                        text-transform: uppercase;
	                        padding: 0px 16px;
						}
					}
					.nxt-agenda-item-box {
						margin: 30px 0px 0px;
					    padding: 52px 0px 0px;
					    border-top: 1px solid #cec6c0;

					    .nxt-agnd-title {
					    	width: 100%;
					    	display: -webkit-box;
						    display: -webkit-flex;
						    display: -ms-flexbox;
						    display: flex;
						    -webkit-box-pack: space-between;
						    -webkit-justify-space-between: space-between;
						    -ms-flex-pack: space-between;
						    justify-content: space-between;
						    -webkit-box-align: center;
						    -webkit-align-items: center;
						    -ms-flex-align: center;
						    align-items: center;
						    padding: 0px 16px 16px;

					    	.title {
					    		font-size: 20px;
								line-height: 26px;
								letter-spacing: 1px;
								color: #282333;
								font-weight: 400;
								font-family: 'Museo Slab';
								// font-family: "Yanone Kaffeesatz";
								text-transform: capitalize;
					    	}
					    	button.simple-txt-btn {
					    		font-size: 11px;
								line-height: 18px;
								letter-spacing: 0px;
								color: #282333;
								font-weight: bold;
								font-family: "Gibson";
								text-transform: uppercase;
								background-color: transparent;
							    margin: 0px;
							    padding: 0px;
							    height: fit-content;
					    	}
					    }
					    .nxt-agnd-item {
					    	width: 100%;
					    	box-shadow: 2.121px 2.121px 1.5px #ccc4b8;
					    	margin-bottom: 20px;

					    	.nxt-agnd-item-title-box {
					    		width: 100%;
						    	display: -webkit-box;
							    display: -webkit-flex;
							    display: -ms-flexbox;
							    display: flex;
							    -webkit-box-pack: space-between;
							    -webkit-justify-space-between: space-between;
							    -ms-flex-pack: space-between;
							    justify-content: space-between;
							    -webkit-box-align: center;
							    -webkit-align-items: center;
							    -ms-flex-align: center;
							    align-items: center;
					    		background-color: #fff;
					    		padding: 18px 16px;

					    		.day {
					    			font-size: 11px;
									line-height: 18px;
									letter-spacing: 1px;
									color: #4f4e5f;
									font-weight: bold;
									font-family: "Gibson";
									text-transform: uppercase;
					    		}
					    		.time {
					    			font-size: 11px;
									letter-spacing: 1px;
									line-height: 18px;
									color: #6ea379;
									font-weight: bold;
									font-family: "Gibson";
									text-transform: uppercase;
					    		}
					    	}
					    	.nxt-agnd-item-cnt-box {
					    		width: 100%;
								background-color: #f8f8f8;
								padding: 22px 25px 30px;

					    		.sub-title {
					    			font-size: 11px;
									line-height: 20px;
									color: #19171f;
									font-weight: bold;
									font-family: "Gibson";
									text-transform: uppercase;
									margin-bottom: 8px;
									word-break: break-word;

					    			&.sub-title-in-txt {
										letter-spacing: 1px;
										color: #6ea379;
					    			}
					    		}
					    		.title {
					    			font-size: 19px;
									line-height: 26px;
									color: #19171f;
									font-family: "Gibson";
									font-weight: normal;
									text-transform: initial;
									word-break: break-word;
									margin-bottom: 10px;
					    		}
					    		.tag-nms {
					    			font-size: 11px;
									line-height: 20px;
									color: #19171f;
									font-weight: bold;
									font-family: "Gibson";
					    			word-break: break-word;
					    		}
					    	}
					    }
					}
				}
			}
		}

		&.get-started {
			position: relative;
			background-color: #F9F0E0 !important;

			.scroll-content {
				padding: 16px 35px !important;

				.headToolbar {
					position: absolute;
				    top: 49px;
			    	right: 40px;
				    width: fit-content;

					.closeBtn {
						svg {
							fill: #282233;
						}
					}
				}
				.HeaderBox {
					padding: 66px 16px 0px;

					.headTitles {
						.logotitle {
							font-family: 'Gibson';
						    font-size: 11px;
						    font-weight: 600;
						    font-stretch: normal;
						    font-style: normal;
						    line-height: 18px;
						    letter-spacing: 5px;
						    color: #282333;
						    text-transform: uppercase;
						}
						h2 {
							    color: #282333;
							    font-family: 'Museo Slab';
							    font-weight: 700;
							    font-size: 33px;
							    text-align: left;
							    line-height: 32px;
							    letter-spacing: 0.81px;
							    margin: 8px auto 18px;
							    padding: 0;
						}
						p{
							font-weight: normal;
						    font-stretch: normal;
						    font-style: normal;
						    text-align: left;
						    font-family: 'Gibson';
						    font-size: 14px;
						    line-height: 21px;
						    letter-spacing: 1px;
						    color: #19171F;
						    margin: 0;
						}
					}
				}
				.main-content {
					padding: 40px 0px 0px;

					ion-list {
						margin: 0px;
						--margin: 0px;
						--inner-margin: 0px;

						&.icon-list-sec {
							ion-col {
								text-align: center;
								position: relative;
								svg {
									max-width: 100%;
									max-height: 100%;
									width: auto;
									height: 40px;
									object-fit: contain;
									&.active {
								    	opacity: 1;
								    }
									&.disable {
										opacity: 0.5;
									}
								}

								ion-img {
									width: 36px;
								    height: 100%;
								    max-height: 40px;
								    object-fit: contain;
								    background: transparent;

								    &.active {
								    	opacity: 1;
								    }
									&.disable {
										opacity: 0.5;
									}

									img {
										width: 100%;
										height: 100%;
										object-fit: contain;
									}
								}
								img {
									width: 36px;
								    height: 100%;
								    max-height: 40px;
								    object-fit: contain;
								    background: transparent;

								    &.active {
								    	opacity: 1;
								    }
									&.disable {
										opacity: 0.5;
									}

									img {
										width: 100%;
										height: 100%;
										object-fit: contain;
									}
								}

								ion-img.pos-icon {
									position: absolute;
								    top: 0px;
								    left: 0px;
								    right: -25px;
								    width: 18px;
								    height: 18px;
								    margin: 0px auto;
								}
								img.pos-icon {
									position: absolute;
								    top: 0px;
								    left: 0px;
								    right: -25px;
								    width: 18px;
								    height: 18px;
								    margin: 0px auto;
								}

								.tab-badge {
								    height: 16px;
								    border-radius: 5.1px;
								    border: solid 2px #282333;
								    font-family: 'Museo Slab';
								    font-size: 9px;
								    font-weight: 800;
								    font-stretch: normal;
								    font-style: normal;
								    letter-spacing: -0.42px;
								    padding: 0;
								}
								.tab-badge-1 {
								    line-height: 13.7px;
									background-color: #9bd29f;
								    color: #282333;
									width: 36px;
									right: 20px;
								    top: -2px;
								}
								.tab-badge-2 {
								    line-height: 13px;
								    background-color: #19171f;
								    color: #f5ede2;
								    width: fit-content;
								    top: unset;
								    bottom: 32px;
								    right: 0px;
								    left: 0px;
								    margin: 0px auto 0px;
								    padding: 0px 2px;
								}

								.name-of-block {
								    margin: 6px 0px 0px;
								    color: #19171F;
								    font-size: 9px;
								    letter-spacing: 1px;
								    line-height: normal;
								    font-family: "Museo Slab";
								    font-weight: 900;
								    &.txt-clr-light-red {
								    	color: #AC627A !important;
								    }

									&.disable {
										color: #282333;
									}
								}
							}
						}
						.getting-started-box {
					        margin: 30px 0px 0px;
						    padding: 52px 0px 40px;
						    border-top: 1px solid rgba(40,35,51,0.19);
						    background-color: transparent;
						    position: relative;
						    border-bottom: 1px solid rgba(40, 35, 51, 0.19);

						    .sub-title {
						    	width: calc(100% - 40px);
    							margin: 0px auto 7px;
								font-size: 11px;
								line-height: 20px;
								color: #19171F;
								font-weight: 700;
								font-family: 'Gibson';
								text-transform: uppercase;
								padding: 0px;
							}
							.title {
								width: calc(100% - 40px);
    							margin: 0px auto 7px;
								font-size: 18px;
							    line-height: 22px;
							    letter-spacing: -1px;
							    color: #19171F;
							    font-family: 'Museo Slab';
							    font-weight: 700;
							    text-transform: uppercase;
							    padding: 0px;
							    position: relative;
							    display: flex;
							    justify-content: flex-start;
							    align-items: center;
							    ion-badge {
							    	height: 16px;
								    border-radius: 5.1px;
								    border: solid 2px #282333;
								    font-family: 'Museo Slab';
								    font-size: 9px;
								    font-weight: 800;
								    font-stretch: normal;
								    font-style: normal;
								    letter-spacing: -0.42px;
								    padding: 0;
								    margin: 0px 0px 0px 10px;
								    line-height: 13.7px;
									background-color: #9bd29f;
								    color: #282333;
									width: 36px;
									position: unset;
									right: 0px;
								    top: 0px;
							    }
							}
							.text {
								width: calc(100% - 40px);
    							margin: 0px auto;
								font-size: 14px;
								line-height: 22px;
								color: #19171f;
								font-family: "Gibson";
								font-weight: normal;
								word-break: break-word;
								padding: 0px;
								&.mb-28 {
									margin-bottom: 28px;
								}
							}
							button {
								&.btns {
									width: auto;
			                        height: 33px;
			                        line-height: 27px;
			                        border-radius: 30px;
			                        border: 3px solid #19171F;
			                        background-color: #F1E9D5;
			                        color: #2B2635;
			                        font-size: 11px;
			                        font-family: 'Museo Slab';
			                        font-weight: 900;
			                        text-transform: uppercase;
			                        padding: 0px 16px;
			                        margin: 0px 16px;
			                    }
		                        &.rit-arw-btn {
		                        	background-color: transparent;
								    width: auto;
								    height: fit-content;
								    padding: 0;
								    margin: 0;
								    position: absolute;
								    right: 20px;
								    bottom: 40%;
		                        }
							}
							.add-agenda-item-box {
								max-width: 326px;
								width: 100%;
								margin: 40px auto 0px;
								padding: 42px 26px;
								background-color: #ffffff;
								border: 3px solid #19171f;

								.sub-title {
									margin: 0px;
								}
								.title {
									margin: 0px;
									padding: 0px;
									font-weight: 500;
								}
								.text {
									margin: 0px;
									margin-bottom: 18px;
									padding: 0px;
								}
								button {
									width: auto;
			                        height: 33px;
			                        line-height: 27px;
			                        border-radius: 30px;
			                        border: 3px solid #19171F;
			                        background-color: #F1E9D5;
			                        color: #2B2635;
			                        font-size: 11px;
			                        font-family: 'Museo Slab';
			                        font-weight: 900;
			                        text-transform: uppercase;
			                        padding: 0px 16px;
								}
							}
						}
						.add-agenda-item-box {
								max-width: 326px;
								width: 100%;
								margin: 40px auto 40px;
								padding: 42px 26px;
								background-color: #ffffff;
								border: 3px solid #19171f;

								.sub-title {
									margin: 0px;
								}
								.title {
									margin: 0px;
									padding: 0px;
									font-weight: 500;
								}
								.text {
									margin: 0px;
									margin-bottom: 18px;
									padding: 0px;
								}
								button {
									width: auto;
			                        height: 33px;
			                        line-height: 27px;
			                        border-radius: 30px;
			                        border: 3px solid #19171F;
			                        background-color: #F1E9D5;
			                        color: #2B2635;
			                        font-size: 11px;
			                        font-family: 'Museo Slab';
			                        font-weight: 900;
			                        text-transform: uppercase;
			                        padding: 0px 16px;
								}
							}
						.nxt-agenda-item-box {
							margin: 30px 0px 0px;
						    padding: 52px 0px 0px;
						    border-top: 1px solid #cec6c0;

						    .nxt-agnd-title {
						    	width: 100%;
						    	display: -webkit-box;
							    display: -webkit-flex;
							    display: -ms-flexbox;
							    display: flex;
							    -webkit-box-pack: space-between;
							    -webkit-justify-space-between: space-between;
							    -ms-flex-pack: space-between;
							    justify-content: space-between;
							    -webkit-box-align: center;
							    -webkit-align-items: center;
							    -ms-flex-align: center;
							    align-items: center;
							    padding: 0px 16px 16px;

						    	.title {
						    		font-size: 20px;
									line-height: 26px;
									letter-spacing: 1px;
									color: #282333;
									font-weight: 400;
									font-family: 'Museo Slab';
									text-transform: capitalize;
						    	}
						    	button.simple-txt-btn {
						    		font-size: 11px;
									line-height: 18px;
									letter-spacing: 0px;
									color: #282333;
									font-weight: bold;
									font-family: 'Museo Slab';
									text-transform: uppercase;
									background-color: transparent;
								    margin: 0px;
								    padding: 0px;
								    height: fit-content;
						    	}
						    }
						    .nxt-agnd-item {
						    	width: 100%;
						    	box-shadow: 2.121px 2.121px 1.5px #ccc4b8;
						    	margin-bottom: 20px;

						    	.nxt-agnd-item-title-box {
						    		width: 100%;
							    	display: -webkit-box;
								    display: -webkit-flex;
								    display: -ms-flexbox;
								    display: flex;
								    -webkit-box-pack: space-between;
								    -webkit-justify-space-between: space-between;
								    -ms-flex-pack: space-between;
								    justify-content: space-between;
								    -webkit-box-align: center;
								    -webkit-align-items: center;
								    -ms-flex-align: center;
								    align-items: center;
						    		background-color: #fff;
						    		padding: 18px 16px;

						    		.day {
						    			font-size: 11px;
										line-height: 18px;
										letter-spacing: 1px;
										color: #4f4e5f;
										font-weight: bold;
										font-family: "Gibson";
										text-transform: uppercase;
						    		}
						    		.time {
						    			font-size: 11px;
										letter-spacing: 1px;
										line-height: 18px;
										color: #6ea379;
										font-weight: bold;
										font-family: "Gibson";
										text-transform: uppercase;
						    		}
						    	}
						    	.nxt-agnd-item-cnt-box {
						    		width: 100%;
									background-color: #f8f8f8;
									padding: 22px 25px 30px;

						    		.sub-title {
						    			font-size: 11px;
										line-height: 20px;
										color: #19171f;
										font-weight: bold;
										font-family: "Gibson";
										text-transform: uppercase;
										margin-bottom: 8px;
										word-break: break-word;

						    			&.sub-title-in-txt {
											letter-spacing: 1px;
											color: #6ea379;
						    			}
						    		}
						    		.title {
						    			font-size: 19px;
										line-height: 26px;
										color: #19171f;
										font-family: "Gibson";
										font-weight: normal;
										text-transform: initial;
										word-break: break-word;
										margin-bottom: 10px;
						    		}
						    		.tag-nms {
						    			font-size: 11px;
										line-height: 20px;
										color: #19171f;
										font-weight: bold;
										font-family: "Gibson";
						    			word-break: break-word;
						    		}
						    	}
						    }
						}
						.no-msg-box {
							margin: 30px 0px 0px;
						    padding: 40px 0px 45px;
						    border-top: 1px solid rgba(40, 35, 51, 0.19);
						    border-bottom: 1px solid rgba(40, 35, 51, 0.19);
						    background-color: transparent;
						    .title {
						    	width: calc(100% - 40px);
    							margin: 0px auto 7px;
						    	font-size: 18px;
							    line-height: 22px;
							    letter-spacing: -1px;
							    color: #19171F;
							    font-family: 'Museo Slab';
							    font-weight: 700;
							    text-transform: uppercase;
							    padding: 0px;
						    }
						    .text {
						    	width: calc(100% - 40px);
    							margin: 0px auto;
						    	font-size: 14px;
							    line-height: 22px;
							    color: #19171f;
							    font-family: "Gibson";
							    font-weight: normal;
							    word-break: break-word;
							    padding: 0px;
						    }
						}
						.agenda-item-box {
						    width: 100%;
						    padding: 40px 16px;
						    margin: 0px auto;
						    position: relative;
						    .agenda-item-date-time {
						    	width: 100%;
						    	display: flex;
						    	flex-flow: row;
						    	justify-content: space-between;
						    	align-items: center;
						    	padding: 8px 0px;
		    					border-bottom: 0.5px solid #B6B6B6;
						    	.date {
						    		font-size: 11px;
						    		line-height: 17px;
						    		color: #4F4E5F;
						    		letter-spacing: 1px;
						    		font-family: 'Gibson';
						    		font-weight: bold;
						    		text-transform: uppercase;
						    	}
						    	.time {
						    		font-size: 11px;
						    		line-height: 17px;
						    		color: #19171F;
						    		letter-spacing: 1px;
						    		font-family: 'Gibson';
						    		font-weight: bold;
						    		text-transform: uppercase;
						    	}
						    }
						    .agenda-item-main-cnt {
						    	width: 100%;
						    	display: flex;
						    	flex-wrap: wrap;
						    	padding: 26px 0px;
						    	.sub-title {
						    		width: 100%;
						    		font-size: 11px;
						    		line-height: 20px;
						    		color: #19171F;
						    		font-family: 'Gibson';
						    		font-weight: normal;
						    		text-transform: uppercase;
						    		margin-bottom: 6px;
						    	}
						    	.title {
						    		width: 100%;
						    		font-size: 18px;
						    		line-height: 26px;
						    		color: #19171F;
						    		font-family: 'Museo Slab';
						    		font-weight: 700;
						    		text-transform: capitalize;
						    		margin-bottom: 8px;
						    	}
						    	.text {
						    		width: 100%;
						    		font-size: 11px;
						    		line-height: 20px;
						    		color: #19171F;
						    		font-family: 'Gibson';
						    		font-weight: normal;
						    	}
						    }
						    button {
						    	&.rit-arw-btn {
								    background-color: transparent;
								    width: auto;
								    height: fit-content;
								    padding: 0;
								    margin: 0;
								    position: absolute;
								    right: 20px;
								    bottom: 40%;
						    	}
						    	&.view-schedule-btn {
						    		width: auto;
			                        height: 33px;
			                        line-height: 27px;
			                        border-radius: 30px;
			                        border: 3px solid #19171F;
			                        background-color: #F1E9D5;
			                        color: #2B2635;
			                        font-size: 11px;
			                        font-family: 'Museo Slab';
			                        font-weight: 900;
			                        text-transform: uppercase;
			                        padding: 0px 16px;
						    	}
						    }
						    &.happening-now {
								.agenda-item-date-time {
									position: relative;
									&:before {
										position: absolute;
										content: '';
										left: 5px;
										bottom: -3px;
										width: 148px;
										height: 3px;
										background-color: #6EA379;
									}
									.date {
										color: #6EA379;
										padding-left: 6px;
									}
									.time {
										color: #6EA379;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
