<!--
  Generated template for the SelectedEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="get-started" [ngClass]="{'hide': hideEventContent==true }">
  <div class="headToolbar">
    <span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
  </div>
  <div class="HeaderBox">
    <div class="headTitles">
      <div class="logotitle">YOU ARE ATTENDING</div>
      <h2>{{selectedEvents.event_name | uppercase}}</h2>
      <p>Thank you for attending this event, to get<br> started, check-in below and get started</p>
    </div>
  </div>
  <div class="main-content">
      <ion-list class="icon-list-sec">
        <ion-row>
          <ion-col size="4" (click)="selectedSection='message'">
            <svg height="40" width="40">
              <path fill="#fffaf0" id="Rectangle" class="shp0" d="M5.27 2.5L34.46 2.5L34.46 27.35L18.45 27.35L12.8 35L11.86 27.35L5.27 27.35L5.27 2.5Z" />
              <path fill="#000000" id="Shape" fill-rule="evenodd" class="shp1" d="M37 2.46L37 25.24C37 26.6 35.87 27.7 34.48 27.7L19 27.7L14 33.53C13.85 33.67 13.66 33.75 13.45 33.75C13.35 33.75 13.25 33.73 13.16 33.69C12.87 33.58 12.68 33.3 12.68 32.99L12.68 27.7L6.52 27.7C5.13 27.7 4 26.6 4 25.24L4 2.46C4 1.1 5.13 0 6.52 0L34.48 0C35.87 0 37 1.1 37 2.46ZM35.45 2.46C35.45 1.94 35.01 1.51 34.48 1.51L6.52 1.51C5.99 1.51 5.55 1.94 5.55 2.46L5.55 25.24C5.55 25.76 5.99 26.19 6.52 26.19L13.45 26.19C13.88 26.19 14.23 26.53 14.23 26.95L14.23 31.17L18.13 26.41C18.27 26.27 18.47 26.19 18.68 26.19L34.48 26.19C35.01 26.19 35.45 25.76 35.45 25.24L35.45 2.46Z" />
              <path fill="#000000" id="Path" class="shp1" d="M30.01 7.84L10.99 7.84C10.56 7.84 10.21 8.05 10.21 8.31C10.21 8.57 10.56 8.78 10.99 8.78L30.01 8.78C30.44 8.78 30.79 8.57 30.79 8.31C30.79 8.05 30.44 7.84 30.01 7.84Z" />
              <path fill="#000000" id="Path" class="shp1" d="M30.01 13.34L10.99 13.34C10.56 13.34 10.21 13.55 10.21 13.81C10.21 14.07 10.56 14.28 10.99 14.28L30.01 14.28C30.44 14.28 30.79 14.07 30.79 13.81C30.79 13.55 30.44 13.34 30.01 13.34Z" />
              <path fill="#000000" id="Path" class="shp1" d="M30.01 18.85L10.99 18.85C10.56 18.85 10.21 19.06 10.21 19.32C10.21 19.58 10.56 19.79 10.99 19.79L30.01 19.79C30.44 19.79 30.79 19.58 30.79 19.32C30.79 19.06 30.44 18.85 30.01 18.85Z" />
              <path filter="blur(1.5px)" fill="none" stroke=" #51504d" stroke-linecap="square" stroke-width="0.703" id="Line Copy 4" class="shp2" d="M3.53 36.25L36.27 36.25" />
            </svg>
            <!-- <ion-img class="icon-img" src="./assets/img/messages-icon-1.svg" >
            </ion-img> -->
            <ion-badge class="tab-badge tab-badge-1" *ngIf="lastMessage.status==0">NEW</ion-badge>
            <p class="name-of-block">MESSAGES</p>
          </ion-col>
          <ion-col size="4"  (click)="gotoSelectedActivity()">
            <svg width="36" height="41">
              <path id="Rectangle" class="shp0" d="M2 0L32 0L32 25L2 25L2 0Z" fill="#fffaf0" />
              <path id="Line Copy 4" class="shp1" d="M3.5 37.5L32.27 37.25" filter="blur(1.5px)" fill="none" stroke="#51504d" stroke-linecap="square" stroke-width="0.703" />
              <path id="Shape" fill-rule="evenodd" class="shp2" d="M34 2.74L34 27.84C34 28.28 33.71 28.58 33.26 28.58L19.75 28.58L25.42 34.74C25.64 35.04 25.64 35.48 25.35 35.78C25.2 35.93 24.98 36 24.83 36C24.68 36 24.46 35.93 24.32 35.78L18.94 29.77L18.94 35.26C18.94 35.7 18.65 36 18.21 36C17.76 36 17.47 35.7 17.47 35.26L17.47 29.77L12.09 35.78C11.95 35.93 11.8 36 11.58 36C11.36 36 11.21 35.93 11.06 35.78C10.77 35.48 10.7 35.04 10.99 34.74L16.51 28.58L3.74 28.58C3.29 28.58 3 28.28 3 27.84L3 2.74C3 2.3 3.29 2 3.74 2L33.26 2C33.71 2 34 2.3 34 2.74ZM32.53 3.48L4.47 3.48L4.47 27.1L32.53 27.1L32.53 3.48Z" fill="#19171f" />
              <path id="Path" class="shp2" d="M8.64 8.14C8.64 8.42 8.93 8.61 9.37 8.61L27.63 8.61C28.07 8.61 28.36 8.42 28.36 8.14C28.36 7.86 28.07 7.67 27.63 7.67L9.37 7.67C8.93 7.67 8.64 7.86 8.64 8.14Z" fill="#19171f" />
              <path id="Path" class="shp2" d="M27.63 12.39L9.37 12.39C8.93 12.39 8.64 12.58 8.64 12.86C8.64 13.14 8.93 13.33 9.37 13.33L27.63 13.33C28.07 13.33 28.36 13.14 28.36 12.86C28.36 12.58 28.07 12.39 27.63 12.39Z" fill="#19171f" />
              <path id="Path" class="shp2" d="M27.63 17.11L9.37 17.11C8.93 17.11 8.64 17.3 8.64 17.58C8.64 17.87 8.93 18.06 9.37 18.06L27.63 18.06C28.07 18.06 28.36 17.87 28.36 17.58C28.36 17.3 28.07 17.11 27.63 17.11Z" fill="#19171f" />
              <path id="Path" class="shp2" d="M27.63 21.83L9.37 21.83C8.93 21.83 8.64 22.02 8.64 22.31C8.64 22.59 8.93 22.78 9.37 22.78L27.63 22.78C28.07 22.78 28.36 22.59 28.36 22.31C28.36 22.02 28.07 21.83 27.63 21.83Z" fill="#19171f" />
            </svg>
            <!-- <ion-img class="icon-img" src="./assets/img/scheudle-icon-1.svg">
            </ion-img> -->
            <p class="name-of-block">SCHEUDLE</p>
          </ion-col>
          <ion-col size="4" (click)="checkInModal()" [ngClass]="{'hide':selectedEvents.checkin==true}">
            <!-- <svg width="35" height="59" class="icon-img"> -->
            <svg width="24" height="40">
              <path id="Line Copy 4" class="shp0" d="M2.15 37.93L21.92 37.93" filter="blur(1.5px)" fill="none" stroke=" #51504d" stroke-linecap="square" stroke-width="0.384" />
              <path id="Shape" fill-rule="evenodd" class="shp1" d="M21.94 10.51C21.94 12.13 21.55 13.65 20.85 15C18.75 20.27 13.14 26.84 12 32.54C10.86 26.84 5.25 20.27 3.15 15C2.45 13.65 2.06 12.13 2.06 10.51C2.06 5.08 6.51 0.68 12 0.68C17.49 0.68 21.94 5.08 21.94 10.51ZM15.73 10.48C15.73 8.45 14.06 6.81 12 6.81C9.94 6.81 8.27 8.45 8.27 10.48C8.27 12.51 9.94 14.16 12 14.16C14.06 14.16 15.73 12.51 15.73 10.48Z" fill="#fffaf0" stroke="#272736" stroke-width="1.364" />
            </svg>
            <!-- <img class="icon-img" src="./assets/img/map-pin-icon-1.svg" /> -->
            <img class="pos-icon" src="./assets/img/exclamation-mark-icon-1.svg" />
            <p class="name-of-block">CHECK-IN</p>
          </ion-col>
          <ion-col size="4"  [ngClass]="{'hide':selectedEvents.checkin==false}">
            <img class="icon-img" src="./assets/img/map-pin-icon-1.svg" />
            <img class="pos-icon" src="./assets/img/check-mark-icon-1.svg"/>
            <p class="name-of-block txt-clr-light-red">ON-SITE</p>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list *ngIf="selectedSection=='agenda'">
       
      </ion-list>
     <!--  <ion-list>
        <div class="no-msg-box">
          <div class="title">GETTING STARTED..</div>
          <div class="text">Thank you for attending this event, to get <br>started, check-in below and get </div>
        </div>
        
      </ion-list> -->
      <ion-list>
        <div class="no-msg-box" *ngIf="messageList.length==0 && selectedActivity.date==undefined">
          <div class="title">GETTING STARTED..</div>
          <div class="text">To participate in this activity and get your<br>POWRPOINTS for attending you must do a <br/> few things first.</div>
        </div>
        <div class="no-msg-box" *ngIf="messageList.length==0 && selectedActivity.date!=undefined">
          <div class="title">NO MESSAGES</div>
          <div class="text">Thank you for attending this event, to get <br>started, check-in below and get </div>
        </div>
        <div class="getting-started-box" *ngIf="messageList.length > 0">
          <div class="sub-title">{{lastMessage.org_name}}</div>
          <div class="title">{{lastMessage.subject}}<ion-badge class="tab-badge" *ngIf="lastMessage.status==0">NEW</ion-badge></div>
          <div class="text mb-28" [innerHTML]="lastMessage.body"> </div>
          <button ion-button class="rit-arw-btn"><img src="./assets/img/rit-arw-icon-1.svg"></button>
          <button ion-button class="btns"  (click)="gotoMessageList()">VIEW ALL MESSAGES</button>
        </div>
        <div class="getting-started-box1" *ngIf="selectedActivity.date==undefined" >
        <div class="add-agenda-item-box" >
          <div class="title">CREATE/MODIFY EVENT SCHEDULE</div>
          <div class="text">To participate in this activity and get your POWRPOINTS </div>
          <button ion-button (click)="goToActivityList(selectedEvents)">VIEW & ADD AGENDA ITEMS</button>
        </div>
        </div>
        <div class="agenda-item-box" *ngIf="selectedActivity.date!=undefined">
          <div class="agenda-item-date-time" *ngIf="selectedActivity.status=='0'"  (click)="goToActivityDetails(selectedActivity)">
            <div class="date" *ngIf="todayDate!=selectedActivity.date">{{selectedActivity.date}}</div>
            <div class="date" *ngIf="todayDate==selectedActivity.date">TODAY</div>
            <div class="time">{{selectedActivity.eventtime}}</div>
          </div>
          <div class="agenda-item-date-time" *ngIf="selectedActivity.status=='2'"  (click)="goToActivityDetails(selectedActivity)">
            <div class="date" >COMPLETE</div>
            <div class="time">{{selectedActivity.eventtime}}</div>
          </div>
          <div class="agenda-item-date-time" *ngIf="selectedActivity.status=='1'"  (click)="goToActivityDetails(selectedActivity)">
            <div class="date">HAPPENING NOW</div>
            <div class="time">{{selectedActivity.eventtime}}</div>
          </div>
          <div class="agenda-item-main-cnt"  (click)="goToActivityDetails(selectedActivity)">
            <div class="sub-title">{{selectedActivity.agenda_item}}</div>
            <div class="title">{{selectedActivity.activity_title}}</div>
            <div class="text">{{selectedActivity.formatted_address}} <br/> {{selectedActivity.location}}</div>
          </div>
          <!-- <button ion-button class="rit-arw-btn"><img src="./assets/img/rit-arw-icon-1.svg"></button> -->
          <button ion-button class="view-schedule-btn"  (click)="gotoSelectedActivity()">VIEW FULL SCHEDULE</button>
        </div>
       
      </ion-list>
  </div>
</ion-content>