
<ion-tabs class="bg-warning" [ngClass]="{'thishome': showsHomeTab==true}"
id="hidetabs" #mainTabs [selectedIndex]="selectedIndex" (ionChange)="transition($event)" >
 	<ion-tab tabIcon="tab-icon-1" [show]="showsHomeTab==false"  (ionSelect)="goBack()"></ion-tab>
 	<ion-tab tabIcon="tab-icon-2" [show]="showsHomeTab==true"   (ionSelect)="openMenu()"></ion-tab>
	<ion-tab [show]="showsHomeTab==true && showOpportunity==true" [root]="tab1Root"  [tabBadge]="engagedNewMessage!=0 ? 'NEW' : null" tabIcon="tab1-get-engaged"></ion-tab>
	<!-- <ion-tab [show]="showsHomeTab==true && showOpportunity==false" [root]="tab3Root" class="get-engaged-tab" >
	</ion-tab> 
	 -->

	<!-- Home Page -->
	<!-- new Icon Page -->
	<!-- <ion-tab  [show]="showsHomeTab==true"   [root]="tab6Root"></ion-tab> -->
	<!-- new Icon Page -->
	 <!-- [tabBadge]="countNewMessage!='0' ? countNewMessage : null" -->
	 <ion-tab [show]="showsHomeTab==true" class="elected-tab" [root]="tab3Root"tabIcon="tab1-open-block" ></ion-tab>
	<ion-tab [show]="showsHomeTab==true && showDetailsTab==false && showRepsTab==true" class="elected-tab" [root]="tab2Root" [rootParams]="electionRacesParams" tabIcon="tab1-elected"></ion-tab>
	<ion-tab [show]="showsHomeTab==true && showDetailsTab==true && showRepsTab==true" [root]="tab4Root" tabTitle="ELECTED REPS"></ion-tab>
	<ion-tab [show]="showsHomeTab==false" [root]="tabMessageRoot" tabTitle="INBOX"></ion-tab>
	
	<ion-tab [show]="showsHomeTab==false && showDetailsTab==false"   [root]="newHomeRoot" tabTitle="ELECTIONS"></ion-tab>
		
	<ion-tab [show]="showsHomeTab==false"></ion-tab>

	<ion-tab [show]="showsHomeTab==false" [root]="tab5Root"></ion-tab>
	<ion-tab [show]="showsHomeTab==true" [tabTitle]="initial" (ionSelect)="goToProfilePage()"></ion-tab>
</ion-tabs>