page-main-tab {
    .tabbar.show-tabbar {
        position: absolute;
        bottom: 30px !important;
        height: 50px;
        top: auto !important;
        z-index: 1;
        border-radius: 5px;
        border: solid 3px #282333;
        background-color: #f3f3f3;
        width: auto;
        transition: bottom 0.4s ease-in-out 0s;
        padding: 0 !important;
        justify-content: space-between;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width:303px;
        @media(max-width:360px){
            width: 268px;
            bottom: 24px !important;
            height: 45px;
            // left: 20px;
            // right: 20px;
        }
        &:before{display: none;}
        .tab-button {
            opacity: 1;
            transform: none;
            min-height: 45px;
            flex: 0 0 auto;
            width: auto;
            border: 0 none;
            overflow: initial;
            @media(max-width:360px){
                min-height: 39px;
            }
            &:last-of-type{
                border-left: solid 3px #282333;
                background-color: #ffb357;
                max-width: 50px;
                width: 50px;
                @media(max-width:360px){
                    max-width: 40px;
                    width: 40px;
                }
                span.tab-button-text{
                    color:#282333;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            span.tab-button-text{
                font-family: 'Yanone Kaffeesatz';
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                color: #282333;
                transform: none;
                position: relative;
                overflow: initial;
                @media(max-width:360px){
                    font-size: 12px;
                }
                &:after{
                    height:2px;
                    background:#282333;
                    content:"";
                    display:block;
                    position:absolute;
                    top:auto;
                    bottom:-5px;
                    right:50%;
                    left:50%;
                    width:auto;
                    transition: all 0.3s linear;
                    opacity: 0;
                    margin: auto;
                    transform: none;
                }
            }
            &[aria-selected="true"]{
                span.tab-button-text{
                    /*
                    &:before{
                        content: "";
                        width: 7px;
                        height: 7px;
                        border-radius: 7px;
                        background-color: #6cac71;
                        display: inline-block;
                        margin-right: 6px;
                        margin-left: -5px;
                    }
                    */
                    &:after{
                        width:auto;
                        opacity: 1;
                        left: 0px;
                        right: 0px;
                    }
                }
            }
            &.icon-only {
                width: auto;
                background-color: transparent;
                
                &:first-of-type{
                    max-width: 50px;
                    background-color: #f9f0e0;
                    border-right: 3px solid #282333;
                    @media(max-width:360px){
                        max-width: 40px;
                        width: 40px;
                    }
                }
                &:nth-of-type(2){
                    max-width: 50px;
                    background-color: #f9f0e0;
                    border-right: 3px solid #282333;
                    width: 50px;
                    margin-left: 0;
                    margin-right: 0;
                    @media(max-width:360px){
                        max-width: 40px;
                        width: 40px;
                    }
                }
                &:nth-of-type(10){
                    // width: 16%;
                    background-color: #f9f0e0;
                    border-left: 2px solid #282333;
                }

                

                ion-icon.tab-button-icon.icon {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 16px;
                    height: 16px;
                    display: block;
                    min-width: 0;
                    margin: 0;
                    transform: translate3d(0,  -2px,  0);

                    &[aria-label*="get-engaged"]{
                        width: 18px;
                        height: 21px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='30' viewBox='0 0 28 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-136 -809) translate(45 787.429) translate(92 22.571)'%3E%3Cpath fill='%23D8D8D8' stroke='%23979797' d='M20.5 3.5v11.436c-.775-.521-1.52-.685-2.228-.543-.935.187-1.853.937-2.7 2.35-1.464 2.439-2.467 5.357-3.002 8.757h0H1.5v-22h19z'/%3E%3Ccircle cx='20' cy='21' r='6' fill='%23F9F0E0'/%3E%3Cg stroke='%23282333' transform='translate(.515)'%3E%3Cpath fill='%23414141' stroke-width='.962' d='M17.417 0c.302 0 .548.234.563.528l.001.029V2.26h1.786c1.33 0 2.415 1.056 2.44 2.364v5.717c0 .307-.252.557-.563.557-.301 0-.548-.234-.563-.528v-5.7c0-.702-.569-1.276-1.275-1.296h-1.825v1.414c0 .308-.252.557-.564.557-.301 0-.547-.234-.562-.528l-.001-.029V3.373h-11.5v1.415c0 .308-.252.557-.564.557-.301 0-.548-.234-.563-.528V3.373H2.44c-.71 0-1.292.562-1.312 1.259v19.843c0 .702.567 1.276 1.274 1.296h6.815v1.113H2.44c-1.33 0-2.415-1.055-2.44-2.363V4.67c0-1.314 1.07-2.386 2.393-2.41l.047-.001h1.787V.557c0-.308.252-.557.563-.557.302 0 .548.234.563.528V2.26h11.5V.557c0-.308.253-.557.564-.557z'/%3E%3Cpath fill='%23282333' stroke-width='.825' d='M5.636 20.212h.032c.438.017.788.373.788.81 0 .447-.367.809-.82.809-.453 0-.82-.362-.82-.81 0-.436.35-.792.789-.808l.031-.001zm3.645 0c.453 0 .82.362.82.81 0 .447-.367.809-.82.809-.452 0-.82-.362-.82-.81 0-.447.368-.809.82-.809zm-3.645-5.34c.453 0 .82.362.82.81 0 .446-.367.809-.82.809-.453 0-.82-.363-.82-.81 0-.447.367-.81.82-.81zm3.645 0c.453 0 .82.362.82.81 0 .446-.367.809-.82.809-.452 0-.82-.363-.82-.81 0-.447.368-.81.82-.81zm0-4.378c.453 0 .82.362.82.81 0 .446-.367.809-.82.809-.452 0-.82-.363-.82-.81 0-.447.368-.81.82-.81zm3.646 0c.452 0 .82.362.82.81 0 .446-.368.809-.82.809-.453 0-.82-.363-.82-.81 0-.447.367-.81.82-.81zm3.645 0c.452 0 .82.362.82.81 0 .446-.368.809-.82.809-.453 0-.82-.363-.82-.81 0-.447.367-.81.82-.81zm-1.924-3.98c.311 0 .563.25.563.557 0 .298-.236.541-.534.556H7.56c-.311 0-.564-.249-.564-.556 0-.298.237-.541.535-.556h7.117z'/%3E%3Ccircle cx='18.76' cy='21.372' r='6.253' stroke-width='1.924'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='1.924' d='M18.005 19.791L18.005 22.265 20.478 22.265'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                    &[aria-label*="elected"]{
                        width: 18px;
                        height: 21px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='33' viewBox='0 0 27 33'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23F9F0E0' d='M3.786 18h20c-2.667-6.667-5.778-10-9.334-10-3.555 0-7.11 3.333-10.666 10z' transform='translate(-263 -806) translate(45 787.429) translate(218 19.571)'/%3E%3Cpath fill='%23D8D8D8' d='M4 18H23V31H4z' transform='translate(-263 -806) translate(45 787.429) translate(218 19.571)'/%3E%3Cg stroke='%23282333'%3E%3Cg%3E%3Cpath fill='%23282333' stroke-width='.706' d='M3.862 30.493H2.688V15.486h1.508c.338-4.56 3.983-8.214 8.535-8.552V.692c0-.382.309-.692.69-.692.376 0 .682.3.691.675V1.84h2.969v2.217h-2.969v2.876c4.552.338 8.197 3.992 8.535 8.553l1.17-.001v15.007h-1.173v-11.84h.277v-1.782h-19v1.199h-.059v12.423zm9.56-22.2c-4.107 0-7.489 3.169-7.84 7.194h15.679c-.351-4.025-3.733-7.194-7.84-7.194zm6.86-6.452l-.524 1.109.525 1.108H18.07V1.841h2.212z' transform='translate(-263 -806) translate(45 787.429) translate(218 19.571)'/%3E%3Cpath stroke-linejoin='round' stroke-width='1.976' d='M26.413 30.109L0.587 30.109' transform='translate(-263 -806) translate(45 787.429) translate(218 19.571)'/%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M.587.367L.587 5.503M5.283.367L5.283 5.503M9.978.367L9.978 5.503' transform='translate(-263 -806) translate(45 787.429) translate(218 19.571) translate(8.217 21.13)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                    &[aria-label*="open-block"]{
                        width: 18px;
                        height: 21px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='30' viewBox='0 0 26 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23C6C6C6' d='M13 21L1 14 2 26 26 27 24 14z' transform='translate(-202 -808) translate(45 787.429) translate(157 21.571)'/%3E%3Cg%3E%3Cpath fill='%23F9F1E0' d='M12.458 18.928l-6.5-1.778c-.434-.119-.736-.514-.736-.964V10c0-.552.448-1 1-1h13c.553 0 1 .448 1 1v6.186c0 .45-.301.845-.736.964l-6.5 1.778c-.173.047-.355.047-.528 0z' transform='translate(-202 -808) translate(45 787.429) translate(157 21.571)'/%3E%3Cg fill='%23282333' stroke='%23282333' stroke-width='.601'%3E%3Cg%3E%3Cpath d='M12.33.28c.668-.373 1.754-.373 2.42 0h0l8.715 5.414c1.179.66 2.102 2.071 2.102 3.213h0v16.38c0 1.483-1.207 2.69-2.69 2.69h0-19.67c-1.484 0-2.692-1.207-2.692-2.69h0V8.907c0-1.142.924-2.554 2.103-3.213h0zm1.212 1.073c-.212 0-.415.043-.546.115h0L3.283 6.883c-.805.45-1.406 1.44-1.406 2.024h0l.002 16.38c0 .732.595 1.327 1.327 1.327h19.67c.732 0 1.328-.595 1.328-1.327h0V8.907c0-.586-.575-1.56-1.404-2.024h0l-8.715-5.415c-.13-.072-.332-.115-.543-.115zm5.432 7.236c.908 0 1.647.738 1.647 1.646h0v4.23l1.761-.81h.12v.84l-7.48 4.922c-.66.7-1.539 1.086-2.481 1.086-.94 0-1.821-.386-2.48-1.086h0l-6.48-4.922v-.84h1.08l.763.81v-4.23c0-.908-.224-1.646.685-1.646h0zm0 1.363H7.11c-.155 0-.285.13-.285.283h0V15l4.231 3.484c.398.423.924.656 1.487.656.561 0 1.088-.233 1.485-.656h0L19 15v-4.765c0-.153.127-.283-.026-.283h0z' transform='translate(-202 -808) translate(45 787.429) translate(157 21.571)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                    &[aria-label*="icon-1"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='19' viewBox='0 0 11 19'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000' stroke='%23000' stroke-width='.81'%3E%3Cg%3E%3Cpath d='M42 29.012L33.351 20 33 20.364 41.322 29.012 33 37.66 33.351 38z' transform='translate(-32 -20) matrix(-1 0 0 1 75 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        transform: translate3d(0, 0px, 0);

                    }
                    &[aria-label*="icon-2"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 15 14'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M1.307,14a1.307,1.307,0,0,1,0-2.615H13.693a1.307,1.307,0,1,1,0,2.615Zm0-5.693a1.307,1.307,0,0,1,0-2.615H13.693a1.307,1.307,0,1,1,0,2.615Zm0-5.693A1.307,1.307,0,0,1,1.307,0H13.693a1.307,1.307,0,1,1,0,2.615Z' fill='%232B2B2B'/%3E%3C/svg%3E%0A");
                        background-size: auto 14px;
                        transform: translate3d(0, 0px, 0);
                    }
                    &[aria-label*="icon-3"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.324' height='15.532' viewBox='0 0 16.324 15.532' fill='%23383357'%3E%3Cpath class='a' d='M6.094,15.532V13.816H4.136V8.668h8.052v5.148H10.23v1.716h6.094V13.816H14.388V1.694h1.936V0H10.23V1.694h1.958v5.17H4.136V1.694H6.094V0H0V1.694H1.936V13.816H0v1.716Z'/%3E%3C/svg%3E");
                        background-size: auto 15px;
                    }
                    &[aria-label*="icon-4"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='20.345' viewBox='0 0 23 20.345' fill='%23383357'%3E%3Cpath d='M4.533,20.345a.931.931,0,0,1-.134-.01c-.1.006-.2.01-.293.01A4.092,4.092,0,0,1,0,16.278V6.242A1.366,1.366,0,0,1,1.371,4.883H6.845V1.357A1.365,1.365,0,0,1,8.215,0H21.63A1.366,1.366,0,0,1,23,1.359V14.92a5.457,5.457,0,0,1-5.476,5.425ZM8.215,2c0,2.556,0,11.888,0,11.888v2.393a4.036,4.036,0,0,1-1.045,2.711H17.524a4.093,4.093,0,0,0,4.107-4.069V2.035A.683.683,0,0,0,21,1.358l-12.107,0A.683.683,0,0,0,8.215,2ZM1.37,6.89c0,2.223,0,9.389,0,9.389a2.738,2.738,0,0,0,5.477,0V13.564H5.75a2.456,2.456,0,0,1-2.464-2.442v-4.2A.682.682,0,0,0,2.6,6.24H2.054A.679.679,0,0,0,1.37,6.89Zm3.285,4.23a1.093,1.093,0,0,0,1.1,1.088h1.1V6.24H4.655Zm6.154,4.343a.678.678,0,0,1,0-1.356h8.227a.678.678,0,1,1,0,1.356Zm0-2.984a.678.678,0,0,1,0-1.356h8.227a.678.678,0,1,1,0,1.356Zm8.22-2.984H10.816a.69.69,0,0,1-.485-.2.676.676,0,0,1-.2-.482V3.935h0a.675.675,0,0,1,.012-.129l0-.008h0a.681.681,0,0,1,.67-.541h8.213a.688.688,0,0,1,.485.2.673.673,0,0,1,.2.482v4.88h0a.669.669,0,0,1-.046.245v0l0,0a.683.683,0,0,1-.636.426ZM11.5,8.138h6.845V4.612H11.5Z'/%3E%3C/svg%3E");
                        background-size: auto 20px;
                    }
                    &[aria-label*="icon-5"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26.11' height='25.979' viewBox='0 0 26.11 25.979'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bclip-path:url(%23a);%7D.c%7Bfill:%2323232e;stroke:%23000;stroke-miterlimit:10;stroke-width:0.571px;%7D%3C/style%3E%3CclipPath id='a'%3E%3Crect class='a' width='26.11' height='25.979' transform='translate(7 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(-7 -5)'%3E%3Cg class='b'%3E%3Cg transform='translate(6.572 6.991)'%3E%3Cpath class='c' d='M22993.949,15965.163h-24.914a.619.619,0,0,1-.605-.6v-11.108a.619.619,0,0,1,.605-.6h2.137v-10.5a.616.616,0,0,1,.6-.6h2.707v-1.235a6.9,6.9,0,0,1,1.84-4.7,6.993,6.993,0,0,1,4.525-2.213v-.957h-3.3a.62.62,0,0,1-.607-.6v-2.638a.62.62,0,0,1,.607-.6h3.3v-.2a.65.65,0,0,1,.646-.6.619.619,0,0,1,.605.6v4.991a7.015,7.015,0,0,1,4.516,2.213,6.883,6.883,0,0,1,1.855,4.7v1.235h2.7a.619.619,0,0,1,.605.6v10.5h2.135a.687.687,0,0,1,.646.6v11.108A.619.619,0,0,1,22993.949,15965.163Zm-24.354-11.109h0v9.909h23.713v-9.909Zm2.746-11.1h0v9.908h18.18v-9.908Zm9.107-8.148a5.745,5.745,0,0,0-5.766,5.713v1.235h11.531v-1.235A5.745,5.745,0,0,0,22981.449,15934.8Zm-3.3-4.8h0v1.437h2.7v-1.437Z' transform='translate(-22968.146 -15927.81)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(5.322 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.569.569,0,0,0,.6,0Z' transform='translate(8.991 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.569.569,0,0,0,.6,0Z' transform='translate(20.079 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(16.41 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(12.701 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.569.569,0,0,0,.6,0Z' transform='translate(7.137 17.097)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(10.846 17.097)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(18.265 17.097)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(14.556 17.097)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                        background-size: auto 22px;
                    }
                    &[aria-label*="icon-6"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 26.11 25.979'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bclip-path:url(%23a);%7D.c%7Bfill:%23282333;stroke:%23282333;stroke-miterlimit:10;stroke-width:0.571px;%7D%3C/style%3E%3CclipPath id='a'%3E%3Crect class='a' width='26.11' height='25.979' transform='translate(7 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(-7 -5)'%3E%3Cg class='b'%3E%3Cg transform='translate(6.572 6.991)'%3E%3Cpath class='c' d='M22993.949,15965.163h-24.914a.619.619,0,0,1-.605-.6v-11.108a.619.619,0,0,1,.605-.6h2.137v-10.5a.616.616,0,0,1,.6-.6h2.707v-1.235a6.9,6.9,0,0,1,1.84-4.7,6.993,6.993,0,0,1,4.525-2.213v-.957h-3.3a.62.62,0,0,1-.607-.6v-2.638a.62.62,0,0,1,.607-.6h3.3v-.2a.65.65,0,0,1,.646-.6.619.619,0,0,1,.605.6v4.991a7.015,7.015,0,0,1,4.516,2.213,6.883,6.883,0,0,1,1.855,4.7v1.235h2.7a.619.619,0,0,1,.605.6v10.5h2.135a.687.687,0,0,1,.646.6v11.108A.619.619,0,0,1,22993.949,15965.163Zm-24.354-11.109h0v9.909h23.713v-9.909Zm2.746-11.1h0v9.908h18.18v-9.908Zm9.107-8.148a5.745,5.745,0,0,0-5.766,5.713v1.235h11.531v-1.235A5.745,5.745,0,0,0,22981.449,15934.8Zm-3.3-4.8h0v1.437h2.7v-1.437Z' transform='translate(-22968.146 -15927.81)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(5.322 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.569.569,0,0,0,.6,0Z' transform='translate(8.991 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.569.569,0,0,0,.6,0Z' transform='translate(20.079 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(16.41 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(12.701 28.202)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.569.569,0,0,0,.6,0Z' transform='translate(7.137 17.097)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(10.846 17.097)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(18.265 17.097)'/%3E%3Cpath class='c' d='M.6,0A.617.617,0,0,0,0,.6V5.433a.617.617,0,0,0,.6.6.617.617,0,0,0,.6-.6V.6A.591.591,0,0,0,.6,0Z' transform='translate(14.556 17.097)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }
                    &[aria-label*="icon-7"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='22.902' viewBox='0 0 36 22.902'%3E%3Cpath fill='%231a1919' d='M20.253,17.25h-1.5V.75A.749.749,0,0,0,18,0H3a.75.75,0,0,0-.75.75v3c0,.415,1.5.415,1.5,0V1.5h13.5V17.25H3.75V7.5c0-.415-1.5-.415-1.5,0v9.75H.75a.75.75,0,0,0,0,1.5h19.5a.75.75,0,1,0,0-1.5' transform='translate(14.997 4.152)' /%3E%3Cpath fill='%231a1919' d='M3,7.5H2.969A.753.753,0,0,1,2.4,7.2L.15,4.2a.75.75,0,1,1,1.2-.9L3.042,5.558l4.64-5.3a.75.75,0,0,1,1.129.987l-5.25,6A.749.749,0,0,1,3,7.5' transform='translate(21.75 10.903)' /%3E%3Cpath fill='%231a1919' d='M5.25,13.5H.75A.751.751,0,0,1,0,12.75V.75A.751.751,0,0,1,.75,0h4.5A.751.751,0,0,1,6,.75v12A.751.751,0,0,1,5.25,13.5ZM1.5,1.5V12h3V1.5Z' transform='translate(0 1.902)' /%3E%3Cpath fill='%231a1919' d='M17.581,4.231,9.923.4A4.6,4.6,0,0,0,6.578.241L0,2.771V4.378L7.115,1.64a3.186,3.186,0,0,1,2.138.1l6.495,3.247s2.2-.575,1.834-.76' transform='translate(5.251 0)' /%3E%3Cpath fill='%231a1919' d='M15.747,3H9a.982.982,0,0,1-.606-.586A1.055,1.055,0,0,1,8.777,1.28.75.75,0,0,0,7.717.22a2.5,2.5,0,0,0-.7,2.792A2.361,2.361,0,0,0,9,4.5h6.75a.751.751,0,0,1,.75.75V6a.751.751,0,0,1-.75.75H8.25a.743.743,0,0,0-.286.058.757.757,0,0,0-.244.162A5.554,5.554,0,0,1,2.771,8.86,4.635,4.635,0,0,1,0,7.38V9.344a6.7,6.7,0,0,0,1.088.581,6.573,6.573,0,0,0,2.506.509A7.139,7.139,0,0,0,8.541,8.25h7.206A2.253,2.253,0,0,0,18,6V5.25A2.253,2.253,0,0,0,15.747,3' transform='translate(5.25 4.152)' /%3E%3C/svg%3E");
                        /* margin-left: -14px; */
                    }
                    &[aria-label*="icon-8"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='22.8' viewBox='0 0 18 22.8'%3E%3Cpath fill='%231a1919' d='M16.2,22.8H1.8A1.8,1.8,0,0,1,0,21V4.2a.6.6,0,0,1,.047-.23.592.592,0,0,1,.131-.194l3.6-3.6A.6.6,0,0,1,4.2,0h12A1.8,1.8,0,0,1,18,1.8V21A1.8,1.8,0,0,1,16.2,22.8ZM1.2,5.4V21a.6.6,0,0,0,.6.6H16.2a.6.6,0,0,0,.6-.6V1.8a.6.6,0,0,0-.6-.6H5.4V4.8a.6.6,0,0,1-.6.6Zm3-3.952L1.449,4.2H4.2Z' /%3E%3Cpath fill='%231a1919' d='M3.6,1.2H.6A.6.6,0,0,1,.6,0h3a.6.6,0,1,1,0,1.2' transform='translate(9.6 7.2)' /%3E%3Cpath fill='%231a1919' d='M4.8,1.2H.6A.6.6,0,0,1,.6,0H4.8a.6.6,0,0,1,0,1.2' transform='translate(9.6 9.6)' /%3E%3Cpath fill='%231a1919' d='M3.005,3.6H.6a.6.6,0,0,1-.6-.6V.6A.6.6,0,0,1,.6,0h2.4a.6.6,0,0,1,.6.6v2.4A.6.6,0,0,1,3.005,3.6ZM1.2,1.2V2.4H2.406V1.2Z' transform='translate(3.598 14.398)' /%3E%3Cpath fill='%231a1919' d='M.6,1.2A.6.6,0,0,1,.6,0H4.8a.6.6,0,0,1,0,1.2Z' transform='translate(9.6 14.4)' /%3E%3Cpath fill='%231a1919' d='M1.8,1.2H.6A.6.6,0,0,1,.6,0H1.8a.6.6,0,1,1,0,1.2' transform='translate(9.6 16.8)' /%3E%3Cpath fill='%231a1919' d='M1.8,4.2a.6.6,0,0,1-.424-.176l-1.2-1.2a.6.6,0,1,1,.85-.847l.723.725L3.729.225a.6.6,0,1,1,.937.75l-2.4,3A.6.6,0,0,1,1.83,4.2H1.8' transform='translate(3.603 6.6)' /%3E%3C/svg%3E");
                    }
                    &[aria-label*="icon-9"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.66' height='23.159' viewBox='0 0 19.66 23.159'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(-0.375 0.125)'%3E%3Cg id='Combined_Shape' data-name='Combined Shape'%3E%3Cpath id='Combined_Shape-2' data-name='Combined Shape' d='M9.791,22.909A9.554,9.554,0,0,1,.248,13.366V9.694A.638.638,0,0,1,.257,9.6,2.89,2.89,0,0,1,0,8.363V4.218A2.935,2.935,0,0,1,2.912,1.343h.054a2.884,2.884,0,0,1,1.73.611A2.925,2.925,0,0,1,7.439,0h.054A2.9,2.9,0,0,1,9.539.891c.066.068.123.137.171.2A2.9,2.9,0,0,1,11.966,0h.054a2.907,2.907,0,0,1,2.7,1.957,2.869,2.869,0,0,1,1.774-.614h.054a2.914,2.914,0,0,1,2.862,2.969c0,.146,0,4.716,0,4.794,0,.044-.031,4.375-.079,4.465a9.554,9.554,0,0,1-9.54,9.337ZM1.554,10.987v2.379a8.233,8.233,0,0,0,16.465.185c0-.029,0-.058,0-.088s.005-.066.005-.1a.4.4,0,0,1,0-.052l0-.014a2.053,2.053,0,0,0-.521-1.338L14.673,8.786a11.2,11.2,0,0,0-2.025-1.922,2.416,2.416,0,0,0-.887-.182,1.765,1.765,0,0,0-1.252.5l-.01.01a2.051,2.051,0,0,0-.165,2.9l4.117,4.6a.657.657,0,0,1,.117.2.644.644,0,0,1-.168.722.653.653,0,0,1-.922-.051l-3.133-3.5a9.488,9.488,0,0,1-2.249,5.275.653.653,0,1,1-.991-.85,8.229,8.229,0,0,0,1.983-5.359.652.652,0,0,1,.111-.365l-.01-.012-.007-.009a2.876,2.876,0,0,1-1.737.585H7.391a2.9,2.9,0,0,1-2.046-.891c-.052-.055-.106-.117-.17-.2a2.9,2.9,0,0,1-2.258,1.086H2.864A2.88,2.88,0,0,1,1.554,10.987ZM7.47,1.306a1.632,1.632,0,0,0-1.637,1.58l0,5.487a1.609,1.609,0,0,0,1.579,1.649h.03a1.6,1.6,0,0,0,1.157-.5A3.363,3.363,0,0,1,9.05,6.9V2.956A1.609,1.609,0,0,0,7.47,1.306ZM2.942,2.648h0a1.631,1.631,0,0,0-1.636,1.58V8.374a1.617,1.617,0,0,0,1.58,1.649h.029A1.615,1.615,0,0,0,4.524,8.444l0-4.144A1.609,1.609,0,0,0,2.943,2.649Zm13.582,0a1.632,1.632,0,0,0-1.637,1.58V7.069l2.434,2.718a1.6,1.6,0,0,0,.784-1.344l0-4.143a1.609,1.609,0,0,0-1.58-1.651Zm-4.653,2.72c.061,0,.124,0,.186.005a3.357,3.357,0,0,1,1.521.464V2.956A1.608,1.608,0,0,0,12,1.306a1.631,1.631,0,0,0-1.637,1.58v2.84A3.334,3.334,0,0,1,11.871,5.369Z' transform='translate(0.5)' fill='%23242428' stroke='%23242428' stroke-miterlimit='10' stroke-width='0.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        &[ng-reflect-is-active="true"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.66' height='23.159' viewBox='0 0 19.66 23.159'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(-0.375 0.125)'%3E%3Cg id='Combined_Shape' data-name='Combined Shape'%3E%3Cpath id='Combined_Shape-2' data-name='Combined Shape' d='M9.791,22.909A9.554,9.554,0,0,1,.248,13.366V9.694A.638.638,0,0,1,.257,9.6,2.89,2.89,0,0,1,0,8.363V4.218A2.935,2.935,0,0,1,2.912,1.343h.054a2.884,2.884,0,0,1,1.73.611A2.925,2.925,0,0,1,7.439,0h.054A2.9,2.9,0,0,1,9.539.891c.066.068.123.137.171.2A2.9,2.9,0,0,1,11.966,0h.054a2.907,2.907,0,0,1,2.7,1.957,2.869,2.869,0,0,1,1.774-.614h.054a2.914,2.914,0,0,1,2.862,2.969c0,.146,0,4.716,0,4.794,0,.044-.031,4.375-.079,4.465a9.554,9.554,0,0,1-9.54,9.337ZM1.554,10.987v2.379a8.233,8.233,0,0,0,16.465.185c0-.029,0-.058,0-.088s.005-.066.005-.1a.4.4,0,0,1,0-.052l0-.014a2.053,2.053,0,0,0-.521-1.338L14.673,8.786a11.2,11.2,0,0,0-2.025-1.922,2.416,2.416,0,0,0-.887-.182,1.765,1.765,0,0,0-1.252.5l-.01.01a2.051,2.051,0,0,0-.165,2.9l4.117,4.6a.657.657,0,0,1,.117.2.644.644,0,0,1-.168.722.653.653,0,0,1-.922-.051l-3.133-3.5a9.488,9.488,0,0,1-2.249,5.275.653.653,0,1,1-.991-.85,8.229,8.229,0,0,0,1.983-5.359.652.652,0,0,1,.111-.365l-.01-.012-.007-.009a2.876,2.876,0,0,1-1.737.585H7.391a2.9,2.9,0,0,1-2.046-.891c-.052-.055-.106-.117-.17-.2a2.9,2.9,0,0,1-2.258,1.086H2.864A2.88,2.88,0,0,1,1.554,10.987ZM7.47,1.306a1.632,1.632,0,0,0-1.637,1.58l0,5.487a1.609,1.609,0,0,0,1.579,1.649h.03a1.6,1.6,0,0,0,1.157-.5A3.363,3.363,0,0,1,9.05,6.9V2.956A1.609,1.609,0,0,0,7.47,1.306ZM2.942,2.648h0a1.631,1.631,0,0,0-1.636,1.58V8.374a1.617,1.617,0,0,0,1.58,1.649h.029A1.615,1.615,0,0,0,4.524,8.444l0-4.144A1.609,1.609,0,0,0,2.943,2.649Zm13.582,0a1.632,1.632,0,0,0-1.637,1.58V7.069l2.434,2.718a1.6,1.6,0,0,0,.784-1.344l0-4.143a1.609,1.609,0,0,0-1.58-1.651Zm-4.653,2.72c.061,0,.124,0,.186.005a3.357,3.357,0,0,1,1.521.464V2.956A1.608,1.608,0,0,0,12,1.306a1.631,1.631,0,0,0-1.637,1.58v2.84A3.334,3.334,0,0,1,11.871,5.369Z' transform='translate(0.5)' fill='%23393259' stroke='%23393259' stroke-miterlimit='10' stroke-width='0.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");    
                        }
                    }
                    &[aria-label*="icon-10"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.66' height='23.159' viewBox='0 0 19.66 23.159'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(-0.375 0.125)'%3E%3Cg id='Combined_Shape' data-name='Combined Shape'%3E%3Cpath id='Combined_Shape-2' data-name='Combined Shape' d='M9.791,22.909A9.554,9.554,0,0,1,.248,13.366V9.694A.638.638,0,0,1,.257,9.6,2.89,2.89,0,0,1,0,8.363V4.218A2.935,2.935,0,0,1,2.912,1.343h.054a2.884,2.884,0,0,1,1.73.611A2.925,2.925,0,0,1,7.439,0h.054A2.9,2.9,0,0,1,9.539.891c.066.068.123.137.171.2A2.9,2.9,0,0,1,11.966,0h.054a2.907,2.907,0,0,1,2.7,1.957,2.869,2.869,0,0,1,1.774-.614h.054a2.914,2.914,0,0,1,2.862,2.969c0,.146,0,4.716,0,4.794,0,.044-.031,4.375-.079,4.465a9.554,9.554,0,0,1-9.54,9.337ZM1.554,10.987v2.379a8.233,8.233,0,0,0,16.465.185c0-.029,0-.058,0-.088s.005-.066.005-.1a.4.4,0,0,1,0-.052l0-.014a2.053,2.053,0,0,0-.521-1.338L14.673,8.786a11.2,11.2,0,0,0-2.025-1.922,2.416,2.416,0,0,0-.887-.182,1.765,1.765,0,0,0-1.252.5l-.01.01a2.051,2.051,0,0,0-.165,2.9l4.117,4.6a.657.657,0,0,1,.117.2.644.644,0,0,1-.168.722.653.653,0,0,1-.922-.051l-3.133-3.5a9.488,9.488,0,0,1-2.249,5.275.653.653,0,1,1-.991-.85,8.229,8.229,0,0,0,1.983-5.359.652.652,0,0,1,.111-.365l-.01-.012-.007-.009a2.876,2.876,0,0,1-1.737.585H7.391a2.9,2.9,0,0,1-2.046-.891c-.052-.055-.106-.117-.17-.2a2.9,2.9,0,0,1-2.258,1.086H2.864A2.88,2.88,0,0,1,1.554,10.987ZM7.47,1.306a1.632,1.632,0,0,0-1.637,1.58l0,5.487a1.609,1.609,0,0,0,1.579,1.649h.03a1.6,1.6,0,0,0,1.157-.5A3.363,3.363,0,0,1,9.05,6.9V2.956A1.609,1.609,0,0,0,7.47,1.306ZM2.942,2.648h0a1.631,1.631,0,0,0-1.636,1.58V8.374a1.617,1.617,0,0,0,1.58,1.649h.029A1.615,1.615,0,0,0,4.524,8.444l0-4.144A1.609,1.609,0,0,0,2.943,2.649Zm13.582,0a1.632,1.632,0,0,0-1.637,1.58V7.069l2.434,2.718a1.6,1.6,0,0,0,.784-1.344l0-4.143a1.609,1.609,0,0,0-1.58-1.651Zm-4.653,2.72c.061,0,.124,0,.186.005a3.357,3.357,0,0,1,1.521.464V2.956A1.608,1.608,0,0,0,12,1.306a1.631,1.631,0,0,0-1.637,1.58v2.84A3.334,3.334,0,0,1,11.871,5.369Z' transform='translate(0.5)' fill='%23242428' stroke='%23242428' stroke-miterlimit='10' stroke-width='0.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        &[ng-reflect-is-active="true"]{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.66' height='23.159' viewBox='0 0 19.66 23.159'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(-0.375 0.125)'%3E%3Cg id='Combined_Shape' data-name='Combined Shape'%3E%3Cpath id='Combined_Shape-2' data-name='Combined Shape' d='M9.791,22.909A9.554,9.554,0,0,1,.248,13.366V9.694A.638.638,0,0,1,.257,9.6,2.89,2.89,0,0,1,0,8.363V4.218A2.935,2.935,0,0,1,2.912,1.343h.054a2.884,2.884,0,0,1,1.73.611A2.925,2.925,0,0,1,7.439,0h.054A2.9,2.9,0,0,1,9.539.891c.066.068.123.137.171.2A2.9,2.9,0,0,1,11.966,0h.054a2.907,2.907,0,0,1,2.7,1.957,2.869,2.869,0,0,1,1.774-.614h.054a2.914,2.914,0,0,1,2.862,2.969c0,.146,0,4.716,0,4.794,0,.044-.031,4.375-.079,4.465a9.554,9.554,0,0,1-9.54,9.337ZM1.554,10.987v2.379a8.233,8.233,0,0,0,16.465.185c0-.029,0-.058,0-.088s.005-.066.005-.1a.4.4,0,0,1,0-.052l0-.014a2.053,2.053,0,0,0-.521-1.338L14.673,8.786a11.2,11.2,0,0,0-2.025-1.922,2.416,2.416,0,0,0-.887-.182,1.765,1.765,0,0,0-1.252.5l-.01.01a2.051,2.051,0,0,0-.165,2.9l4.117,4.6a.657.657,0,0,1,.117.2.644.644,0,0,1-.168.722.653.653,0,0,1-.922-.051l-3.133-3.5a9.488,9.488,0,0,1-2.249,5.275.653.653,0,1,1-.991-.85,8.229,8.229,0,0,0,1.983-5.359.652.652,0,0,1,.111-.365l-.01-.012-.007-.009a2.876,2.876,0,0,1-1.737.585H7.391a2.9,2.9,0,0,1-2.046-.891c-.052-.055-.106-.117-.17-.2a2.9,2.9,0,0,1-2.258,1.086H2.864A2.88,2.88,0,0,1,1.554,10.987ZM7.47,1.306a1.632,1.632,0,0,0-1.637,1.58l0,5.487a1.609,1.609,0,0,0,1.579,1.649h.03a1.6,1.6,0,0,0,1.157-.5A3.363,3.363,0,0,1,9.05,6.9V2.956A1.609,1.609,0,0,0,7.47,1.306ZM2.942,2.648h0a1.631,1.631,0,0,0-1.636,1.58V8.374a1.617,1.617,0,0,0,1.58,1.649h.029A1.615,1.615,0,0,0,4.524,8.444l0-4.144A1.609,1.609,0,0,0,2.943,2.649Zm13.582,0a1.632,1.632,0,0,0-1.637,1.58V7.069l2.434,2.718a1.6,1.6,0,0,0,.784-1.344l0-4.143a1.609,1.609,0,0,0-1.58-1.651Zm-4.653,2.72c.061,0,.124,0,.186.005a3.357,3.357,0,0,1,1.521.464V2.956A1.608,1.608,0,0,0,12,1.306a1.631,1.631,0,0,0-1.637,1.58v2.84A3.334,3.334,0,0,1,11.871,5.369Z' transform='translate(0.5)' fill='%23393259' stroke='%23393259' stroke-miterlimit='10' stroke-width='0.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");    
                        }
                    }
                    &[aria-label*="icon-11"]{
                        background-image: url("data:image/svg+xml,%3Csvg height='22.173' viewbox='0 0 21.731 22.173' width='21.731' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2323232e' d='M17.624,22.173l-3.236-.985-.2.074a10.384,10.384,0,0,1-2.832.517l-.488.011A10.895,10.895,0,1,1,21.731,10.895a10.616,10.616,0,0,1-.744,3.952,10.253,10.253,0,0,1-1.614,2.782l.567,2.365-.142.537a2.208,2.208,0,0,1-2.134,1.642Zm-2.92-3.1,3.068.934-.51-2.149a1.365,1.365,0,0,1,.155-1.138l.1-.167a8.365,8.365,0,0,0,1.5-2.484,8.54,8.54,0,0,0,.6-3.179,8.754,8.754,0,1,0-8.754,8.783,8.324,8.324,0,0,0,3.011-.548l-.109.038a1.044,1.044,0,0,1,.427-.131l.2-.005ZM7.564,13.958a.91.91,0,0,1,0-1.821h4.248a.91.91,0,1,1,0,1.821Zm0-4.045a.91.91,0,0,1,0-1.821H14.24a.91.91,0,0,1,0,1.821Z'%3E%3C/path%3E%3Cpath fill='none' d='M17.624,22.173l-3.236-.985-.2.074a10.384,10.384,0,0,1-2.832.517l-.488.011A10.895,10.895,0,1,1,21.731,10.895a10.616,10.616,0,0,1-.744,3.952,10.253,10.253,0,0,1-1.614,2.782l.567,2.365-.142.537a2.208,2.208,0,0,1-2.134,1.642Zm-2.92-3.1,3.068.934-.51-2.149a1.365,1.365,0,0,1,.155-1.138l.1-.167a8.365,8.365,0,0,0,1.5-2.484,8.54,8.54,0,0,0,.6-3.179,8.754,8.754,0,1,0-8.754,8.783,8.324,8.324,0,0,0,3.011-.548l-.109.038a1.044,1.044,0,0,1,.427-.131l.2-.005ZM7.564,13.958a.91.91,0,0,1,0-1.821h4.248a.91.91,0,1,1,0,1.821Zm0-4.045a.91.91,0,0,1,0-1.821H14.24a.91.91,0,0,1,0,1.821Z'%3E%3C/path%3E%3C/svg%3E");
                        transform: translate3d(0, 0px, 0);
                    }
                }

                ion-badge.tab-badge.badge{
                    width: 36px;
                    height: 16px;
                    border-radius: 5.1px;
                    border: solid 2px #282333;
                    background-color: #9bd29f;
                    font-family: 'Museo Slab';
                    font-size: 9.6px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 14px;
                    letter-spacing: -0.42px;
                    color: #282333;
                    padding: 0;
                    right: calc(50% - 21px);
                    top: -2px;
                }

                &:after{
                    height:2px;
                    background:#282333;
                    content:"";
                    display:block;
                    position:absolute;
                    top:auto;
                    right:0;
                    bottom:7px;
                    // left:0;
                    left: -2px;
                    width:0;
                    transition: all 0.3s linear;
                    opacity: 0;
                    margin: auto;
                    transform: none;
                }
                &[aria-selected="true"]{
                    &:after{
                        width:25px;
                        opacity: 1;
                    }
                }
            }
            .tab-badge{
                left: 50%;
                right: auto;
                transform: translate(-50%, -50%);
                top: 0;
                font-family: 'Museo Slab';
                font-size: 10px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.44px;
                color: #282333;
                border-radius: 2px;
                border: solid 2px #282333;
                background-color: #9bd29f;
            }
        }
    }
    /*
    .thishome .tabbar.show-tabbar {
        left: 100px;
        .tab-button.icon-only:nth-of-type(2) {
            position: absolute;
            top: -2px;
            left: -70px;
            z-index: 5;
            flex: 0 0 50px;
            width: 50px;
            height: 50px;
            border-radius: 3px;
            border: solid 2px #282333;
            background: #fff;
        }
    }
    */
    .inProgress .tabbar.show-tabbar{
        transform: translateY(30vh);
       transition: all 0.4s ease-in-out 0s;
        &:after {
          //  transition: all 0s;
            opacity: 0;
        }
    } 


    ion-header.header{
        top: 60px;
        left: 36px;
        right: 36px;
        width: auto;
        &:after{display: none;}
        ion-navbar.toolbar{
            overflow: unset;
            transform: none !important;
            contain: none !important;
            padding: 0 !important;
            min-height: 0 !important;
        }
        .toolbar-background{
            display: none;
        }
        .neweader {
            display: flex;
            z-index: 1;
            border-radius: 4px;
            background: #fff;
            border: 2px solid #2a2536;
            padding: 0px;
           transition: all 0.4s ease-in-out 0s;
            transform: translateY(0);
        // box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.17);
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 96%;
                left: 0;
                right: 0;
                z-index: -2;
                bottom: auto;
                height: 23px;
                background: #000;
                opacity: 0;
                transition: all 0s;
                filter: blur(16px);
            }
            &.fadeUp{
                transform: translateY(-30vh);
               transition: all 0.3s ease-in-out 0s;
            }
            /*
            &.shadow {
                &:after {
                    transition: all 0.65s ease-in-out 0s;
                    opacity: 0.33;
                }
            }
            */

            .neweaderBox {
                padding:11px 10px;
                border-width: 0 2px;
                border-style: solid;
                border-color: #fff #342f42 #fff #fff;
                background: #fff;
                flex: 0 0 0;
                display: flex;
                align-items: center;
                &:nth-of-type(1) {
                    flex: 1 1 0;
                    border-left: 0 none;
                }

                &:first-of-type {
                    border-radius: 4px 0 0 4px;
                }

                &:last-of-type {
                    border-right: 0 none;
                    border-radius: 0 4px 4px 0;
                }
                .dropDown{
                    padding:0;
                    position: static;
                    button{
                        padding:0;
                        &.toggleBtns{
                            padding: 0 28px 0 0;
                            background-position: center right 8px;
                        }
                    }
                }
                &.no-gutters{
                    padding:0;
                    .dropDown{
                        button.toggleBtns{
                            padding: 11px  45px 11px 10px;
                        }
                    }
                }
                .titleText {
                    .badge {
                        height: auto;
                        border-radius: 9px;
                        background: #4e4074;
                        font-family: 'Gibson';
                        font-weight: 500;
                        font-size: 9px;
                        letter-spacing: 0.09em;
                        color: #fff;
                        display: inline-flex;
                        padding: 2px 5px 3px 3px;
                        align-items: center;
                        text-transform: uppercase;
                        span {
                            display: block;
                            margin-right: 5px;
                            svg {
                                display: block;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }

                    h6 {
                        margin: 5px 0 0;
                        padding: 0;
                        font-family: 'Fjalla One';
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: 0.31px;
                        color: #23232e;
                    }
                }

                .btn {
                    width: auto;
                    padding: 0 12px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Yanone Kaffeesatz';
                    font-weight: bold;
                    position: relative;
                    text-transform: uppercase;
                    &.btn-link {
                        padding: 0 0px;
                        margin: auto 10px;

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &.btn-light {
                        background: #f6f6f6;
                        border: 2px solid #363D51;
                        color: #23232E;
                    }

                    &.btn-danger {
                        background: #DD3B97;
                        border: 2px solid #363D51;
                        color: #fff;
                    }

                    span.badge {
                        border-radius: 5px;
                        background: #34ca9e;
                        border: 2px solid #493b70;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: auto;
                        display: block;
                        width: 20px;
                        height: 20px;
                        line-height: 18px;
                        font-family: 'Museo Slab';
                        font-weight: 900;
                        font-size: 10px;
                        letter-spacing: -0.04em;
                        text-align: center;
                        color: #493b70;
                        transform: translate(-10px, -3px);
                    }
                }

                .btnGroup {
                    display: flex;

                    .btn {
                        border-radius: 0;

                        span {
                            display: block;
                            line-height: 29px;
                            letter-spacing: 1px;
                        }

                        &:first-of-type {
                            border-radius: 6px 0 0 6px;
                            margin-right: -2px;
                            font-size:13px;
                        }

                        &:last-of-type {
                            border-radius: 0 6px 6px 0;
                        }
                    }
                }
            }
            .btn.backbtn{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.846 10.815'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(6.661 0.607) rotate(90)'%3E%3Cg id='Group' transform='translate(0 6.16) rotate(-90)'%3E%3Cg id='Path'%3E%3Cpath id='Path-2' data-name='Path' d='M3.346.46A1.4,1.4,0,0,1,5.287.328,1.31,1.31,0,0,1,5.5,2.118l-.078.1L3.108,4.8,5.423,7.386a1.31,1.31,0,0,1-.136,1.886A1.4,1.4,0,0,1,3.346,9.14L.338,5.778A1.308,1.308,0,0,1,0,4.8,1.3,1.3,0,0,1,.25,3.931l.088-.109Z' fill='%23514e66'/%3E%3Cpath id='Path-3' data-name='Path' d='M3.346.46A1.4,1.4,0,0,1,5.287.328,1.31,1.31,0,0,1,5.5,2.118l-.078.1L3.108,4.8,5.423,7.386a1.31,1.31,0,0,1-.136,1.886A1.4,1.4,0,0,1,3.346,9.14L.338,5.778A1.308,1.308,0,0,1,0,4.8,1.3,1.3,0,0,1,.25,3.931l.088-.109Z' fill='none' stroke='%23f6f6f6' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-size: auto 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-color:#fff;
                border-right: 1px solid #342F42;
                width: 16%;
                flex: 0 0 16%;
                border-radius: 3px 0 0 3px;
            }
            .btn.actionbtn{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.66' height='23.159' viewBox='0 0 19.66 23.159'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(-0.375 0.125)'%3E%3Cg id='Combined_Shape' data-name='Combined Shape'%3E%3Cpath id='Combined_Shape-2' data-name='Combined Shape' d='M9.791,22.909A9.554,9.554,0,0,1,.248,13.366V9.694A.638.638,0,0,1,.257,9.6,2.89,2.89,0,0,1,0,8.363V4.218A2.935,2.935,0,0,1,2.912,1.343h.054a2.884,2.884,0,0,1,1.73.611A2.925,2.925,0,0,1,7.439,0h.054A2.9,2.9,0,0,1,9.539.891c.066.068.123.137.171.2A2.9,2.9,0,0,1,11.966,0h.054a2.907,2.907,0,0,1,2.7,1.957,2.869,2.869,0,0,1,1.774-.614h.054a2.914,2.914,0,0,1,2.862,2.969c0,.146,0,4.716,0,4.794,0,.044-.031,4.375-.079,4.465a9.554,9.554,0,0,1-9.54,9.337ZM1.554,10.987v2.379a8.233,8.233,0,0,0,16.465.185c0-.029,0-.058,0-.088s.005-.066.005-.1a.4.4,0,0,1,0-.052l0-.014a2.053,2.053,0,0,0-.521-1.338L14.673,8.786a11.2,11.2,0,0,0-2.025-1.922,2.416,2.416,0,0,0-.887-.182,1.765,1.765,0,0,0-1.252.5l-.01.01a2.051,2.051,0,0,0-.165,2.9l4.117,4.6a.657.657,0,0,1,.117.2.644.644,0,0,1-.168.722.653.653,0,0,1-.922-.051l-3.133-3.5a9.488,9.488,0,0,1-2.249,5.275.653.653,0,1,1-.991-.85,8.229,8.229,0,0,0,1.983-5.359.652.652,0,0,1,.111-.365l-.01-.012-.007-.009a2.876,2.876,0,0,1-1.737.585H7.391a2.9,2.9,0,0,1-2.046-.891c-.052-.055-.106-.117-.17-.2a2.9,2.9,0,0,1-2.258,1.086H2.864A2.88,2.88,0,0,1,1.554,10.987ZM7.47,1.306a1.632,1.632,0,0,0-1.637,1.58l0,5.487a1.609,1.609,0,0,0,1.579,1.649h.03a1.6,1.6,0,0,0,1.157-.5A3.363,3.363,0,0,1,9.05,6.9V2.956A1.609,1.609,0,0,0,7.47,1.306ZM2.942,2.648h0a1.631,1.631,0,0,0-1.636,1.58V8.374a1.617,1.617,0,0,0,1.58,1.649h.029A1.615,1.615,0,0,0,4.524,8.444l0-4.144A1.609,1.609,0,0,0,2.943,2.649Zm13.582,0a1.632,1.632,0,0,0-1.637,1.58V7.069l2.434,2.718a1.6,1.6,0,0,0,.784-1.344l0-4.143a1.609,1.609,0,0,0-1.58-1.651Zm-4.653,2.72c.061,0,.124,0,.186.005a3.357,3.357,0,0,1,1.521.464V2.956A1.608,1.608,0,0,0,12,1.306a1.631,1.631,0,0,0-1.637,1.58v2.84A3.334,3.334,0,0,1,11.871,5.369Z' transform='translate(0.5)' fill='%23242428' stroke='%23242428' stroke-miterlimit='10' stroke-width='0.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-size: auto 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-color:#fff;
                border-left: 2px solid #342F42;
                width: 18%;
                flex: 0 0 18%;
                border-radius: 0 3px 3px 0;
                position: relative;
                span.badge{
                    width: 17px;
                    height: 17px;
                    border-radius: 5.1px;
                    border: solid 2px #493b70;
                    background-color: #34ca9e;
                    font-family: 'Museo Slab';
                    font-size: 9.6px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 14px;
                    letter-spacing: -0.42px;
                    color: #493b70;
                    padding: 0;
                    right: calc(50% - 22px);
                    top: 11px;
                    display: block;
                    position: absolute;
                    text-align: center;
                }
            }
            .btn.badgeBtn{
                background-size: auto 25%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #df45a2;
                border-left: 0px solid #342F42;
                width: 18%;
                flex: 0 0 18%;
                border-radius: 0 3px 3px 0;
                font-family: 'Yanone Kaffeesatz';
                font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 63px;
                letter-spacing: 1.69px;
                text-align: center;
                color: #ffffff;
            }
            .btn.blankBtn{
                background-size: auto 25%;
                background-position: center;
                background-repeat: no-repeat;
                background-color:#fff;
                border-left: 2px solid #342F42;
                width: 18%;
                flex: 0 0 18%;
                border-radius: 0 3px 3px 0;
            }
            .btn.closebtn{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg transform='translate(23.72 0.708)'%3E%3Cpath fill='none' stroke='%23000' stroke-linejoin='miter' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' /%3E%3Cpath fill='none' stroke='%23000' stroke-linejoin='miter' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' /%3E%3C/g%3E%3C/svg%3E");
                background-size: auto 25%;
                background-position: center;
                background-repeat: no-repeat;
                background-color:#fff;
                border-left: 2px solid #342F42;
                width: 18%;
                flex: 0 0 18%;
                border-radius: 0 3px 3px 0;
                &.noBorder{
                    border: 0 none;
                }
            }
            .dropDown{
                width: 100%;
                position: relative;
                z-index: 1;
                button{
                    background-color: #fff;
                    border: 0;
                    border-radius: 4px;
                    box-shadow: none;
                    text-align: left;
                    line-height: normal;
                    margin: auto 0;
                    display: block;
                    width: 100%;
                    padding: 10px 20px 16px;
                    &.toggleBtns{
                        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='21' viewBox='0 0 11 21'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg fill='%23292535' fill-rule='nonzero'%3E%3Cpath d='M3.423.526c.267-.298.742-.33 1.05-.07.272.23.322.606.136.889l-.063.082L1.849 4.44l2.678 2.991.06.073c.192.258.173.604-.036.844l-.077.075-.088.064c-.272.168-.63.146-.876-.051l-.087-.082L.436 5.016l-.068-.082c-.08-.11-.122-.236-.127-.424l.001-.228c.01-.107.044-.21.104-.304l.068-.089L3.423.526z' transform='translate(-339 -83) translate(339 83) translate(0 13) rotate(-90 3.5 2.5)'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg fill='%23292535' fill-rule='nonzero'%3E%3Cpath d='M3.423.526c.267-.298.742-.33 1.05-.07.272.23.322.606.136.889l-.063.082L1.849 4.44l2.678 2.991.06.073c.192.258.173.604-.036.844l-.077.075-.088.064c-.272.168-.63.146-.876-.051l-.087-.082L.436 5.016l-.068-.082c-.08-.11-.122-.236-.127-.424l.001-.228c.01-.107.044-.21.104-.304l.068-.089L3.423.526z' transform='translate(-339 -83) translate(339 83) matrix(1 0 0 -1 0 8) rotate(-90 3.5 2.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        background-size: auto 21px;
                        background-position: center right 18px;
                        background-repeat: no-repeat;
                        padding-right: 45px;
                    }
                    h6{
                        font-family: 'Gibson';
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 18px;
                        text-align: left;
                        color: #000;
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                    }
                    h5{
                        font-family: 'Fjalla One';
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        color: #23232e;
                        text-align: left;
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                    }
                }
                ul.showDropDown {
                    margin: auto;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    top: calc(100% - 1px);
                    left: -1px;
                    right: -1px;
                    background: #fff;
                    border: 0 solid #353647;
                    border-radius: 0 0 4px 4px;
                    z-index: 0;
                    transition: all 0.3s ease-in-out;
                    max-height: 0;
                    overflow: hidden;
                    &.open{
                        max-height: 100vh;
                        border-width: 1px;
                    }                    

                    li{
                        border-top:0 none;
                        padding: 10px 20px;
                        font-family: 'Fjalla One';
                        font-size: 12px;
                        line-height: normal;
                        letter-spacing: 0.26px;
                        color: #23232e;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: 0.61px;
                        text-align: left;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-self: start;
                        &.active{
                            background-color: #f3f3f3;
                        }
                        &.currentAddress{
                            background-color: #f3f3f3;
                            &:after{
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.799' height='9.242' viewBox='0 0 10.799 9.242'%3E%3Cpath id='Path_6' data-name='Path 6' d='M0,3.789,2.085,6,7,0' transform='translate(1.904 1.895)' fill='none' stroke='%2358497f' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2.693'/%3E%3C/svg%3E%0A");
                                content: "";
                                width: 10px;
                                height: 10px;
                                display: inline-block;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: auto;
                                margin: auto;
                            }
                        }
                        &:nth-of-type(1n+2){
                            border-top: 1px solid #3d3e4f;
                        }
                        &.addNewLocation{
                            background-color: #F5E7FF;
                            font-family: 'Fjalla One';
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.26px;
                            color: #525472;
                            position: relative;
                            padding-right: 30px;
                            &:after{
                                content: "+";
                                font-family: 'Fjalla One';
                                font-size: 28px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: 0.6px;
                                color: #5c5f7e;
                                position: absolute;
                                right: 11px;
                                top: 0;
                            }
                        }
                        &.svgIcon{
                            padding-left: 50px;
                            background-size:auto 21px;
                            background-position: left 20px center;
                            background-repeat: no-repeat;
                            &.svg_W {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.932 21.812'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234e4074;%7D.b%7Bfill:%23fff;font-size:8.311px;font-family:MuseoSlab-900, 'Museo Slab 900';font-weight:900;letter-spacing:0.091em;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.5)'%3E%3Cpath class='a' d='M17.623,0a2.308,2.308,0,0,1,2.308,2.308V16.626a2.308,2.308,0,0,1-2.308,2.308h-5l-2.3,2.878-2.3-2.878H2.308A2.308,2.308,0,0,1,0,16.626V2.308A2.308,2.308,0,0,1,2.308,0Z' transform='translate(0.5 0)'/%3E%3Ctext class='b' transform='translate(5.5 4)'%3E%3Ctspan x='1.11' y='8'%3EH%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");}
                            &.svg_V {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.932 21.812'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234e4074;%7D.b%7Bfill:%23fff;font-size:8.311px;font-family:MuseoSlab-900, 'Museo Slab 900';font-weight:900;letter-spacing:0.091em;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.5)'%3E%3Cpath class='a' d='M17.623,0a2.308,2.308,0,0,1,2.308,2.308V16.626a2.308,2.308,0,0,1-2.308,2.308h-5l-2.3,2.878-2.3-2.878H2.308A2.308,2.308,0,0,1,0,16.626V2.308A2.308,2.308,0,0,1,2.308,0Z' transform='translate(0.5 0)'/%3E%3Ctext class='b' transform='translate(5.5 4)'%3E%3Ctspan x='1.11' y='8'%3EV%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");}
                            &.svg_U {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.932 21.812'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234e4074;%7D.b%7Bfill:%23fff;font-size:8.311px;font-family:MuseoSlab-900, 'Museo Slab 900';font-weight:900;letter-spacing:0.091em;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.5)'%3E%3Cpath class='a' d='M17.623,0a2.308,2.308,0,0,1,2.308,2.308V16.626a2.308,2.308,0,0,1-2.308,2.308h-5l-2.3,2.878-2.3-2.878H2.308A2.308,2.308,0,0,1,0,16.626V2.308A2.308,2.308,0,0,1,2.308,0Z' transform='translate(0.5 0)'/%3E%3Ctext class='b' transform='translate(5.5 4)'%3E%3Ctspan x='1.11' y='8'%3EU%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");}
                            &.svg_P {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.932 21.812'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234e4074;%7D.b%7Bfill:%23fff;font-size:8.311px;font-family:MuseoSlab-900, 'Museo Slab 900';font-weight:900;letter-spacing:0.091em;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.5)'%3E%3Cpath class='a' d='M17.623,0a2.308,2.308,0,0,1,2.308,2.308V16.626a2.308,2.308,0,0,1-2.308,2.308h-5l-2.3,2.878-2.3-2.878H2.308A2.308,2.308,0,0,1,0,16.626V2.308A2.308,2.308,0,0,1,2.308,0Z' transform='translate(0.5 0)'/%3E%3Ctext class='b' transform='translate(5.5 4)'%3E%3Ctspan x='1.11' y='8'%3EP%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");}
                            &.svg_E {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.932 21.812'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234e4074;%7D.b%7Bfill:%23fff;font-size:8.311px;font-family:MuseoSlab-900, 'Museo Slab 900';font-weight:900;letter-spacing:0.091em;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.5)'%3E%3Cpath class='a' d='M17.623,0a2.308,2.308,0,0,1,2.308,2.308V16.626a2.308,2.308,0,0,1-2.308,2.308h-5l-2.3,2.878-2.3-2.878H2.308A2.308,2.308,0,0,1,0,16.626V2.308A2.308,2.308,0,0,1,2.308,0Z' transform='translate(0.5 0)'/%3E%3Ctext class='b' transform='translate(5.5 4)'%3E%3Ctspan x='1.11' y='8'%3EE%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");}
                        }
                    }
                }
            }
        }
    }
    ion-content.content {
        background-color: #fff !important;
        .fixed-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        .scroll-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        .candidatesGrid {
            display: block;
            padding: 15px 0px;
            background-color: #ececec;
            padding-bottom: 100px;
            padding-top: 0;
            .candidatesIteam {
                max-width: 500px;
                display: block;
                padding: 4px 7px 0px;
                position: relative;
                margin-bottom: 0px;
                .candidateHeader {
                    .embed {
                        background: #342F42;
                        span {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.62);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 1;
                            font-family: 'Fjalla One';
                            font-weight: normal;
                            font-size: 84px;
                            text-align: center;
                            color: #fff;
                        }
                    }

                    .candidateHeaderHeader {
                        background: #2D283B;
                        border-radius: 0 0 20px 20px;
                        min-height: 200px;
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        font-family: 'Fjalla One';
                        font-weight: normal;
                        font-size: 35px;
                        line-height: 32px;
                        text-align: center;
                        color: #fff;
                    }

                }
                &.candidateactive {
                    span.candidateStatus {
                        display: inline-block !important;
                    }

                    .candidatesInfo .candidateHead {
                        background: #dd3b97;
                        display: inline-block;
                        border-radius: 3px;

                        h6 {
                            &.candidate {
                                display: block;
                            }

                            &.incumbernt {
                                display: none;
                            }
                        }
                    }
                }
                .candidateInner {
                    border-radius: 2px;
                    background: #F2F2F2;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    &.measureDetail{
                        flex-direction: column;
                        padding: 20px;
                        align-items: flex-start;
                        .badgeList {
                            list-style: none;
                            margin: 20px 0px 0px 0;
                            padding: 0;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            .badge {
                                display: block;
                                font-family: 'Fjalla One';
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 28px;
                                letter-spacing: 0.61px;
                                padding: 0 10px;
                                color: #fff;
                                border-radius: 4px;
                                margin: 0 6px 0 0 ;
                                &.badge-yes {
                                    background-color: #91b090;
                                }
                                &.badge-no {
                                    background-color: #b07789;
                                }
                            }
                        }
                        p{
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 15px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 30px;
                            letter-spacing: 1px;
                            color: #353343;
                        }
                    }


                    .embed {
                        display: block;
                        // padding-bottom: 118%;
                        position: relative;
                        border-radius: 50%;
                        // overflow: hidden;
                        border-width: 0;
                        border-style: solid;
                        flex: 0 0 75px;
                        width: 75px;
                        height: 75px;
                        align-self: center;
                        border: 6px solid #393752;
                        background-color: #47455b;
                        margin-left: 15px;
                        .embedBg {
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            bottom: -1px;
                            left: -1px;
                            border-radius: 50%;
                            display: block;
                            z-index: 1;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            object-fit: cover;
                            width: auto;
                            height: auto;
                            max-width: none;
                            &.saturate{
                                filter: saturate(25%);
                                filter: saturate(25%) grayscale(1);
                            }
                            span{
                                font-family: Gibson;
                                font-size: 28px;
                                font-weight: 600;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: -5px;
                                text-align: center;
                                color: #fff;
                                position: absolute;
                                top: 49%;
                                left: 10%;
                                right: 10%;
                                transform: translateY(-50%);
                                letter-spacing: -2px;
                            }
                        }
    
                        .char {
                            position: absolute;
                            bottom: -5px;
                            right: -5px;
                            top: auto;
                            left: auto;
                            display: block;
                            width: 28px;
                            height: 28px;
                            z-index:1;
                            background-repeat: no-repeat;
                            background-size: contain;
                            @include partys();
                        }
                        .votingDate {
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            padding: 0px 15px 0px;
                            min-height: 22px;
                            z-index: 2;
                            border: 0 none;
                            text-align: center;
                            font-family: 'Fjalla One';
                            font-weight: normal;
                            font-size: 10px;
                            letter-spacing: 0.31px;
                            line-height: 22px;
                            color: #fff;
                            text-transform: uppercase;
                            border-radius:0 0  0 6px;
                            background-color: #342f42;
                            display: none;
                            &.orange{
                                background: #FFC66D;
                                color: #342F42;
                            }
                            &.lightorange{
                                background: #FFDB7D;
                                color: #342F42;
                            }
                        }
                        
                        .candidateHeadWrapper {
                            margin: 0;
                            position: absolute;
                            top: auto;
                            right: 10px;
                            bottom: 10px;
                            left: 10px;
                            z-index: 1;
                           
                            .candidateHead{
                                border-radius: 2px;
                                background: #342f42;
                                padding: 7px 15px 7px;
                                position: relative;
                                &.has-char{
                                    padding-right: 50px;
                                }
                                h5 {
                                    color: #fff;
                                    font-family: "Yanone Kaffeesatz", sans-serif;
                                    font-size: 14px;
                                    font-stretch: normal;
                                    font-style: normal;
                                    font-weight: bold;
                                    letter-spacing: 1.04px;
                                    line-height: 1.03;
                                    margin: 0;
                                    padding: 3px 0 0;
                                    text-align: left;
                                    text-transform: none;
                                }
                            }
                            h6{
                                border-radius: 0px;
                                background: #ffbb41;
                                font-family: 'Yanone Kaffeesatz';
                                font-size: 11px;
                                font-weight: 600;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: 2px;
                                color: #342f42;
                                text-align: left;
                                padding: 5px 15px 4px;
                                margin:0;                 
                            }
    
                        }
    
                    }
    
                    .candidatesInfo {
                        border:0;
                        border-radius: 0;
                        /*
                        border-width: 3px 1px 1px;
                        border-style: solid;
                        border-color: #242042 #d7d7d7 #d7d7d7;
                        border-radius: 0 0 7px 7px;
                        */
                        padding: 0px;
                        flex: 1 1 auto;
                        .candidatesInfoBox {
                            padding: 26px 15px;
                            position: relative;
                            border-radius: 0 ;
                            // min-height:156px;
                            display:flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            .exeIcon {
                                border-radius: 3px;
                                border: solid 1px #242042;
                                background-color: #f6f6f6;
                                width: auto;
                                height: auto;
                                display: inline-block;
                                background-position: left 2px bottom 2px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                color: #342F42;
                                font-family: 'Fjalla One';
                                font-weight: normal;
                                font-size: 8px;
                                letter-spacing: 0.1em;
                                text-align: left;
                                padding: 2px 6px 2px 21px;
                                position: relative;
                                text-transform: uppercase;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 14.227 14.059'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cellipse id='Mask' cx='7.114' cy='7.029' rx='7.114' ry='7.029' transform='translate(0.365 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Executive' transform='translate(-0.365 0)'%3E%3Cellipse id='Mask-2' data-name='Mask' cx='5.114' cy='5.529' rx='5.114' ry='5.529' transform='translate(2.365 3)' fill='none'/%3E%3Cg id='Group_17' data-name='Group 17' clip-path='url(%23clip-path)'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M.274,11.9A.272.272,0,0,1,0,11.625V10.543a.272.272,0,0,1,.274-.27h.821v-2.7H.547A.273.273,0,0,1,.274,7.3V6.219a.271.271,0,0,1,.2-.261l.9-.248a3.705,3.705,0,0,1,3-3.15V1.622a.272.272,0,0,1,.274-.27H5.2V.27A.272.272,0,0,1,5.472,0H6.84a.27.27,0,1,1,0,.541H5.746v.811h.547a.272.272,0,0,1,.274.27v.939a3.705,3.705,0,0,1,3,3.15l.9.248a.271.271,0,0,1,.2.261V7.3a.273.273,0,0,1-.274.271H9.85v2.7h.821a.272.272,0,0,1,.274.27v1.082a.272.272,0,0,1-.274.27Zm.274-.54H10.4v-.541H.547ZM9.3,10.274v-2.7H8.208v2.7Zm-1.642,0v-2.7H6.566v2.7Zm-1.642,0v-2.7H4.925v2.7Zm-1.642,0v-2.7H3.283v2.7Zm-1.642,0v-2.7H1.642v2.7ZM10.123,7.03V6.424L5.472,5.147.821,6.424V7.03h9.3ZM1.946,5.554,5.4,4.606A.251.251,0,0,1,5.472,4.6a.246.246,0,0,1,.073.011L9,5.554a3.411,3.411,0,0,0-3.526-2.58A3.411,3.411,0,0,0,1.946,5.554Zm2.978-3.12H6.019V1.893H4.925Z' transform='translate(2.006 4.326)' fill='%23242042'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                &.legislative{
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 14.227 14.059'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cellipse id='Mask' cx='7.114' cy='7.029' rx='7.114' ry='7.029' transform='translate(2.33 -2.298)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='BRANCH_ICON' transform='translate(-2.33 2.298)' clip-path='url(%23clip-path)'%3E%3Cg id='noun_Pen_1216082' transform='translate(6.288 2)'%3E%3Cpath id='Shape' d='M4.816,10H1.2a.278.278,0,0,1-.274-.281V7.151L.059,6.027a.286.286,0,0,1-.032-.3L2.654.158A.276.276,0,0,1,2.9,0h.2a.277.277,0,0,1,.247.158L5.972,5.731a.284.284,0,0,1-.03.294L5.09,7.15V9.719A.278.278,0,0,1,4.816,10ZM1.479,8.487v.952H4.542V8.487ZM2.726,1.3.595,5.817l.824,1.062a.289.289,0,0,1,.059.175v.873H4.542V7.053A.281.281,0,0,1,4.6,6.881l.806-1.063L3.273,1.3V4.925a.289.289,0,0,1-.08.2A.273.273,0,0,1,3,5.206a.268.268,0,0,1-.158-.052.28.28,0,0,1-.116-.229Z' transform='translate(0 0.5)' fill='%23242042'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                    width: 46px;
                                }
                                &.judicial{
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22.627' height='22.627' viewBox='0 0 22.627 22.627'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Ccircle id='Mask' cx='8' cy='8' r='8' transform='translate(0.586 0.586)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='noun_Law_1692295' transform='translate(11.314 -0.828) rotate(45)'%3E%3Ccircle id='Mask-2' data-name='Mask' cx='8' cy='8' r='8' transform='translate(0.586 0.586)' fill='none'/%3E%3Cg id='noun_Law_1692295-2' data-name='noun_Law_1692295' clip-path='url(%23clip-path)'%3E%3Cg id='noun_Law_1692295-3' data-name='noun_Law_1692295' transform='translate(6 6.25)'%3E%3Cg id='Group'%3E%3Cpath id='Shape' d='M16.7,19.006h-.029a1.7,1.7,0,0,1-1.189-.658L7.846,9.892H7.795a.907.907,0,0,1-.64-.267l-.366-.366a16.948,16.948,0,0,1-1.642.954,1.006,1.006,0,0,1-.205.815l-.021.025-.111.11a.913.913,0,0,1-.646.27,1.008,1.008,0,0,1-.656-.253L.272,7.948a.936.936,0,0,1-.018-1.3l.128-.132A.921.921,0,0,1,1.339,6.3,9.911,9.911,0,0,1,6.266,1.365.953.953,0,0,1,6.46.412L6.606.28A.936.936,0,0,1,7.923.262L11.156,3.5a.939.939,0,0,1,0,1.319l-.111.109a.877.877,0,0,1-.844.246A16.3,16.3,0,0,1,9.28,6.772l.365.364a.906.906,0,0,1,.261.76L18.3,15.529a1.718,1.718,0,0,1,.661,1.192,2.125,2.125,0,0,1-.826,1.461A2.159,2.159,0,0,1,16.7,19.006ZM9.546,8.558h0L8.533,9.567l7.5,8.292a1.06,1.06,0,0,0,.666.417c.268,0,.56-.268.914-.618.337-.339.615-.641.6-.9a1.073,1.073,0,0,0-.421-.669L9.546,8.558ZM1.025,6.976a.185.185,0,0,0-.132.059l-.109.109a.215.215,0,0,0,0,.285L4,10.644a.215.215,0,0,0,.145.058.212.212,0,0,0,.145-.058l.095-.095a.3.3,0,0,0-.008-.31l-3.2-3.2A.277.277,0,0,0,1.025,6.976ZM6.74,1.958A9.437,9.437,0,0,0,1.928,6.742L4.777,9.588A14.419,14.419,0,0,0,6.566,8.521h.021A9.471,9.471,0,0,0,9.579,4.8L6.742,1.964v0Zm2.1,5.406A8.506,8.506,0,0,1,7.381,8.825l.288.284a.222.222,0,0,0,.308-.017L9.126,7.941a.129.129,0,0,0,.022-.03.216.216,0,0,1,.021-.047.181.181,0,0,0-.043-.208ZM7.012.907h0a.218.218,0,0,0,0,.285l3.219,3.214a.209.209,0,0,0,.288,0L10.63,4.3a.22.22,0,0,0-.022-.306L7.41.8A.274.274,0,0,0,7.254.74.2.2,0,0,0,7.122.8L7.011.915Z' transform='translate(-3.622 -3.463)' fill='%23363144'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                    background-size: auto 21px;
                                    background-position: -1px -4px;
                                }
                                &:after{
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    left: 17px;
                                    top: 0;
                                    bottom: 0;
                                    width: 1px;
                                    background: #3F3C59;
                                }
                            }
                            .jurisdictionType{
                                display:block;
                                h6 {
                                    font-family: 'Fjalla One';
                                    font-size: 20px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.42;
                                    letter-spacing: normal;
                                    color: #242042;
                                    text-align: left;
                                    margin: 0px 0 2px;
                                    padding: 2px 5px 0;
                                    position: relative;
                                    text-transform: uppercase;
                                    display: flex;
                                    // flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: center;
                                    // background-color: #4a3b70 !important;
                                    color: #fff;
                                    span{
                                        display: inline;
                                        padding: 2px 0 0;
                                    }
                                    &.city{
                                        background: #4a3b70;
                                    }
                                    &.federal{
                                        background: #374793;
                                    }
                                    &.county{
                                        background: #87b8d1;
                                    }
                                    &.state{
                                        background: #b46cb7;
                                    }
        
                                    .btnToggle {
                                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.137' height='11.406' viewBox='0 0 7.137 11.406'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23201c3d;%7D.b%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(7.368 11.878) rotate(-180)'%3E%3Crect class='a' width='7.6' height='2.85' rx='1.425' transform='translate(2.382 4.272) rotate(49)'/%3E%3Crect class='b' width='7.6' height='2.85' rx='1.425' transform='translate(2.382 4.272) rotate(49)'/%3E%3Crect class='a' width='7.6' height='2.85' rx='1.425' transform='translate(0.232 6.208) rotate(-49)'/%3E%3Crect class='b' width='7.6' height='2.85' rx='1.425' transform='translate(0.232 6.208) rotate(-49)'/%3E%3C/g%3E%3C/svg%3E");
                                        display: none;
                                        position: absolute;
                                        top: 4px;
                                        right: 10px;
                                        width: 8px;
                                        height: 12px;
                                        background-size: contain;
                                        background-position: center;
                                    }
                                }
                            }
                            h5{
                                font-family: 'Fjalla One';
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 20px;
                                letter-spacing: 0.61px;
                                color: #363547;
                                text-transform: uppercase;
                                margin: 0;
                                padding: 0;
                            }
                            p {
                                margin: 0;
                                padding: 0;
                                font-family: 'Fjalla One';
                                font-weight: normal;
                                text-align: left;
                                text-transform: uppercase;
                                font-size: 11px;
                                letter-spacing: 0.05em;
                                line-height: 15.87px;
                                color: #242042;
                            }
                        }
                    }
                }
            }
        }
    }
       
}



ion-popover.select-popover {
    .popover-arrow {
        left: 50px !important;
        right: auto;
        margin-right: auto;
        margin-left: 0;
    }

    .popover-content {
        left: 30px !important;

        ion-list.list {
            ion-item.item.item-block.item-radio {
                ion-label {
                    font-family: 'Gibson';
                    font-weight: 500;
                    font-size: 13px;
                    letter-spacing: 0.03em;
                    line-height: 17px;
                    text-align: left;
                    color: #3a3a3a;
                }
            }
        }
    }
}

