<!--
  Generated template for the InviteContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>inviteContacts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<button ion-button (click)="addAll()">Add All</button>
<button ion-button (click)="clearAll()">Clear All</button>

<div *ngFor="let contact of contactlist" (click)="inviteContacts(contact)">
	{{contact.name.formatted}}
</div>
</ion-content>
<ion-footer>
	<button ion-button (click)="inviteFriends()">Invite {{inviteContactsCount}} Friends</button>

</ion-footer>
