<ion-content no-padding>
	<div class="landing_pageBox">
		<div class="landing-content">
			<div class="empowrd_logo_y">
				<div class="oval"></div>
				<lottie-animation-view [options]="option"></lottie-animation-view>
				<div id="containerdiv"></div>
			</div>   
		</div>
		<div class="btnWrap">
			<div class="btnCol btnColLarge">
				<button ion-button (click)="gotoSignupPage()" class="btn btn-warning">BECOME A MEMBER</button>
			</div>
			<div class="btnCol">
				<p>ALREADY A MEMBER? <span (click)="gotoLogin()">LOG-IN</span></p>
			</div>
		</div>
	</div>
</ion-content>