page-landing {
    background-color: #F9F0E0;

    .landing_pageBox {
        min-height: 100vw;
        position: relative;
        overflow: auto;
        height: 100%;
        /*
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            // background-image: linear-gradient(to top, rgba(249, 240, 223, 1) 0%,  rgba(249, 240, 223, 0) 37.6%, rgba(249, 240, 223, 0) 41.3%, rgba(249, 240, 223, 1) 100%);
            background-image: linear-gradient(to top, 
                rgba(249, 240, 223, 1) 0%,
                rgba(249, 240, 223, 1) 22%,
                rgba(249, 240, 223, 0.2) 34%,
                rgba(249, 240, 223, 1) 46%,
                rgba(249, 240, 223, 1) 100%
                );
            }
            ion-slides {
                ion-slide {
                position: relative;
                background-position: center top;
                background-size: cover;
                background-repeat: no-repeat;
                filter: blur(6px);
                opacity: 0.5;
            }
        }
        */
        .landing-content {
            position: absolute;
            z-index: 3;
            padding: 0;
            top: 10%;
            top: calc(10% + env(safe-area-inset-bottom));
            right: 0;
            bottom: auto;
            left: 0;
            text-align: center;

            h6 {
                font-family: 'Yanone Kaffeesatz';
                font-size: 37px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 37px;
                letter-spacing: 1px;
                color: #f9f0e0;

                .text-orange {
                    color: #e5b239;
                }
            }

            .empowrd_logo_y {
                margin: 15px auto 0;
                max-width: 90%;
                position: relative;
                .oval{
                    object-fit: contain;
                    opacity: 0.81;
                    -webkit-filter: blur(75px);
                    filter: blur(75px);
                    background-color: #ffffff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
                lottie-animation-view{
                    position: relative;
                    z-index: 2;
                }
            }
        }

        .btnWrap {
            width: 100%;
            position: absolute;
            z-index: 5;
            margin: auto;
            bottom: 10vh;
            display: flex;
            flex-direction: column;

            .btnCol {
                display: flex;
                justify-content: center;

                .button.btn {
                    border-radius: 5px;
                    background: #282333;
                    border: 3px solid #282333;
                    color: #fff;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 16px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 5px;
                    text-align: center;
                    height: 51px;
                    line-height: 45px;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                    width: auto;

                    span {
                        display: inline-block;
                    }
                }

                p {
                    margin: 25px 0 0;
                    padding: 0;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 5.5px;
                    text-align: center;
                    color: #282333;

                    span {
                        color: #B97C00;
                        display: inline-block;
                        padding-bottom: 6px;
                        border-bottom: solid 1px currentColor;
                    }
                }
            }
        }
    }
}