page-number-submitted {
	background-color: #F9F0E0;

	ion-content.content{
		&.number-submitted {
			.scroll-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-bottom: 0 !important;
			}

			ion-footer.footer {
				background-color: transparent;
				// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='415.774' height='31.231' viewBox='0 0 415.774 31.231' fill='%23eee'%3E%3Cpath class='a' d='M503.336,685.477c75.675-26.6,140.315-18.693,212.744-8.892l11.367,1.54c55.807,7.546,116.7,15.2,191.325,8.528,0-20.221.339-9.176.339-28.674h-414S503.336,663.633,503.336,685.477Z' transform='translate(-503.336 -657.979)'/%3E%3C/svg%3E");
				background-position: top center;
				background-repeat: no-repeat;
				border: 0 none;
				text-align: center;
				position: relative;
				margin: auto auto 0;
				padding: 16% 0 6%;
		
				&:before {
				  border: 0 none;
				  background: transparent;
				}
		
				.registrationProcess-bottom {
				  .cmessage {
					margin: auto auto;
					max-width: 370px;
					width: 78%;
		
					svg {
					  display: block;
					  margin: auto auto 0;
					}
		
					h4 {
					  margin-top: 0;
					  font-family: 'Yanone Kaffeesatz';
					  font-size: 23px;
					  font-weight: 600;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.89;
					  letter-spacing: 0.27px;
					  text-align: center;
					  color: #282333;
				  }
		
				  p {
					  font-family: 'Gibson';
					  font-size: 15px;
					  font-weight: 300;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.41;
					  letter-spacing: 0.3px;
					  text-align: center;
					  color: #282333;
					  max-width: 250px;
					  margin-left: auto;
					  margin-right: auto;
				  }
				  }
				}
		
				.not-receive {
				  font-family: 'Yanone Kaffeesatz';
				  text-align: center;
				  max-width: 370px;
				  width: 78%;
				  margin-left: auto;
				  margin-right: auto;
				  margin-top: 20px;
				  color: #e2596d;
				  font-size: 20px;
				  font-weight: bold;
				  letter-spacing: 1.2px;
				}
		
				.error {
				  font-family: Yanone Kaffeesatz;
				  color: #e2596d;
				  font-weight: bold;
				  font-size: 18px;
				  text-align: center;
				  display: block;
				  margin-top: 20px;
				}
			  }
			.verify-email-form-top {
				padding-top: 63px;
				padding-top: calc(env(safe-area-inset-top) + 63px);
				padding-bottom: 0;
		
				.headTitles {
					margin: auto auto 30px;
					width: auto;
		
				  .headToolbar {
					zoom: 1;
					padding: 0 11% 30px;
		
					  &:before,
					  &:after {
						  content: "";
						  display: table;
					  }
		
					  &:after {
						  clear: both;
					  }
		
					  .goBackBtn {
						  float: left;
					  }
		
					  .closeBtn {
						  float: right;
					  }
				  }
		
				  h3 {
					  color: #f9bf00;
					  font-family: 'Fjalla One';
					  text-align: center;
					  margin: auto auto 10px;
					  padding: 0;
					  font-weight: normal;
					  letter-spacing: 0.5px;
					  font-size: 5vw;
				  }
		
				  h2 {
					color: #282333;
					font-family: Yanone Kaffeesatz;
					font-weight: bold;
					font-size: 37px;
					text-align: center;
					letter-spacing: 1px;
					margin: auto auto 12px;
					padding: 0;
					line-height: normal;
				}
		
				p {
					font-family: 'Yanone Kaffeesatz';
					font-size: 17px;
					font-weight: 600;
					font-stretch: normal;
					font-style: normal;
					line-height: normal;
					letter-spacing: 0.96px;
					text-align: center;
					color: #282333;
					margin-top: 0;
				}
			  }
		
				.cmessageWrap{
					width: 78%;
					margin: 6vh auto 2em;
					h4{
						font-family: 'Yanone Kaffeesatz';
						font-size: 23px;
						font-weight: 600;
						font-stretch: normal;
						font-style: normal;
						line-height: 23px;
						letter-spacing: 0.27px;
						text-align: center;
						color: #282333;
						margin: 0;
					}
					p{
						font-family: 'Gibson';
						font-size: 15px;
						font-weight: 300;
						letter-spacing: 0.3px;
						text-align: center;
						color: #282333;
						line-height: normal;
						max-width: 250px;
						margin-left: auto;
						margin-right: auto;
					}
				}
			   
				
				
				.btnArea {
                    max-width: none;
					width: auto;
                    margin-left: 10%;
					margin-right: 10%;
					display: flex;
					justify-content: center;
					align-items: flex-start;
					flex-wrap: wrap;
                    button.btn-primary {
						height: 45px;
						padding-left: 26px;
						padding-right: 26px;
						display: block;
						margin: auto;
						width: auto;
						font-size: 15px;
						font-weight: 600;
						font-stretch: normal;
						font-style: normal;
						line-height: 41px;
						letter-spacing: 4.15px;
						text-align: center;
						font-family: 'Yanone Kaffeesatz';
						border-radius: 5px;
						background: #282333;
						color: #fff;
						box-shadow: none;
						margin-bottom: 10px;
						&.color-dark {
							background: #e6decc;
							border: 3px solid #282333;
							color: #282333;
							width: auto;
							padding-left: 50px;
							padding-right: 50px;
						}
			
						&[disabled] {
							display: none;
						}
                    }
                }
			}
			
			.number-verificationWrap{
				margin: auto auto;
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: auto;
				max-height: 524px;
				overflow: auto;
				padding:20px 0;
			}
		}
	}

}
