<!--
  Generated template for the NumberSubmittedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding class="number-submitted" >
	<div class="verify-email-form-top" >
		
		<div class="headTitles">
			<!--
				<div class="headToolbar">
					<span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11.121" height="19.414" viewBox="0 0 11.121 19.414"><path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/></svg></span>
					<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></span>
				</div>
			-->
			<h2>Check Your Mobile Device</h2>
			
			
		</div>
		<div class="cmessageWrap">
			
			<p>If your mobile number is associated with an account, you'll receive a link via SMS to view your account email.</p>
		</div>
		<div class="btnArea">
			<button ion-button class="btn btn-primary" (click)="goBack()">CHANGE MOBILE NUMBER</button>
			<button ion-button type="submit" class="btn btn-primary color-dark" (click)="goToRoot()"><span translate>CANCEL</span></button>
		</div>
	</div>

	<ion-footer>
		<div class="registration-vector"></div>
		<div class="registrationProcess-bottom" >
			<div class="cmessage ">
				<svg xmlns="http://www.w3.org/2000/svg" width="33.075" height="35.018" viewBox="0 0 33.075 35.018" fill="#282333"><path d="M3.675,35.018H0V20.58A3.679,3.679,0,0,1,3.675,16.9h.919c0-3.108.2-7.113,1.723-10.519C8.215,2.148,11.716,0,16.721,0s8.507,2.148,10.4,6.385C28.653,9.794,28.849,13.8,28.849,16.9H29.4a3.679,3.679,0,0,1,3.675,3.676V35.016H29.4V20.58H3.675V35.017ZM16.721,3.675c-6.055,0-8.267,3.462-8.453,13.23H25.174c0-4.872-.619-8.109-1.946-10.185S19.834,3.675,16.721,3.675Zm2.074,31.343H15.12V31.631a3.236,3.236,0,0,1-1.47-2.757,3.308,3.308,0,1,1,6.615,0,3.236,3.236,0,0,1-1.471,2.757v3.385Z" transform="translate(0 0)"/></svg>
				<h4>Your Name & Email are Safe.</h4>
				<p>Mobile numbers allow you to secure your account and log in without a password.</p>
			</div>
		</div>
	</ion-footer>
</ion-content>

