<ion-content parallax-header no-padding (ionScroll)="logScrolling($event)" (ionScrollStart)="logScrollStart()"
  (ionScrollEnd)="logScrollEnd()">
  <div class="accordian_list">
    <div class="accordian_listIteam iteamHeader header-image">
      <div class="newHeaderBox">
        <div class="headerBox">
          <div class="logotitle">GET ENGAGED</div>
          <!-- <div class="logotitle">EMPOWRD</div> -->
          <div class="getEngaged">{{currentDay}}<br>{{currentDate}}</div>
          <!-- <div class="tagLine">Community Engagement Your home address to ensures we provide you acce</div> -->

          <!-- <div class="loctionWrap">
            <div class="loctionBox" (click)="editAddress()">
              <span class="checkIcon"></span>
              <span class="locationText">{{shortAddress | uppercase}}</span>
              <span class="editIcon" ></span>
            </div>
          </div> -->
          <ul class="address-btn-list">
            <li (click)="editAddress()"><button ion-button type="button">{{shortAddress | uppercase}}</button></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="main-content">
      <!--  <div class="main-contentBG1"></div>
    <div class="main-contentBG2"></div> -->
      <div class="voting_info tabs tab-support" [ngClass]="{'hide':navMenu!='support' && loadPage==true}">
        <ion-spinner name="ios" class="share-card" [ngClass]="{ 'event-card': eventCard==true}" *ngIf="showCardLoader" ></ion-spinner>
        <div class="dataCarouselWRap">
          <div class="dataCarousel">
            <ion-slides #mainOneSlider id="mainOneSlider" class="carousel" (ionSlideDidChange)="slideChanged(slides)" [ngClass]="{'hide':sliderLength>1}" id="voterCardNew">
              
              <ion-slide class="carouselBox boxStyle-1 "
                [ngClass]="{'padding-top':firstmoredays!= 0}"
                *ngIf="hideFirstSlide==false">
                <span class="share"><ion-icon name="share-alt" class="social-share" (click)="showVoterCardSpinner=true; shareCard('voterCardNew','This is my verify voter status card \n'+addressOnHeader+' \n'+firstmoredaysText+' \nBelow link to find your verify voter status card', showVoterCardSpinner)" ></ion-icon></span>
                <div class="badge" *ngIf="firstmoredaysText!=''">{{firstmoredaysText}}</div>
                <div class="title" [innerHTML]="firstSlideTitle"></div>
                <div class="loaderWrap" *ngIf="showLoader">
                  <ion-spinner name="ios" ></ion-spinner>
                </div>
                <div  class="btn btn-light"  *ngIf="showVoterCardSpinner">
                  VERIFY VOTER STATUS
                </div>
                <button ion-button class="btn btn-light" (click)="verifyLocation()" *ngIf="showVoterCardSpinner==false">VERIFY VOTER STATUS</button>
                <div class="rte">
                  <p [innerHTML]="firstSlideText"></p>
                </div>
               
              </ion-slide>

            </ion-slides>
            <ion-slides #mainSlider id="mainSlide" class="carousel" (ionSlideDidChange)="slideChanged(slides)" [ngClass]="{'hide':sliderLength<=1}">
              <!-- Loop End -->
              
              <ion-slide class="carouselBox pt-52" *ngFor="let election of allElectionsCards; let i = index" [ngClass]="{ ' bck-clr-design ':election.card_type=='event', ' swiper-slide-active active ': activeIndex==true, ' boxStyle-2 upcomingElection':election.card_type=='primary' || election.card_type=='local' || election.card_type=='general' || election.card_type=='special' || election.card_type=='event', ' boxStyle-2 ': election.card_type=='earlyVoting' || election.card_type=='earlyMailInVoting', ' boxStyle-3 ':election.card_type=='lobbyCard' || election.card_type=='congrationalCard',' boxStyle-1 ':election.card_type=='voterCard' ,'padding-top':firstmoredays!= 0 && election.card_type=='voterCard' }" id="{{getCardId(election)}}" >
                <div *ngIf="election.card_type=='primary'">
                  <div class="badge badge-lightorange">{{election.daysText}}</div>
                  <!-- <button ion-button class="three-dots-btn"><img src="./assets/img/three-dots-icon-1.svg"></button> -->
                  <span class="share"><!-- <ion-spinner name="ios" *ngIf="election.showLoader" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="election.showLoader=true; shareCard('primaryelection_'+election.id,'This is my primary election card \n'+election.date+' primary election \n'+addressOnHeader+' \n'+election.daysText+' \nBelow link to find your primary election card', election)" ></ion-icon></span>
                  <div class="title">UPCOMING ELECTION: <br/> <span class="date">{{election.date | uppercase}}</span> PRIMARY ELECTION</div>
                  <div  class="ballotBtn" ion-button *ngIf="election.showLoader==true" (click)="viewBallotDetails(election.date,'primary')" >
                    WHO’S ON MY BALLOT?
                  </div>
                  <button class="ballotBtn" ion-button (click)="viewBallotDetails(election.date,'primary')"  *ngIf="election.showLoader==false">WHO’S ON MY BALLOT?</button>
                  <div class="goToContactUs">Select polling location(s) below for directons.
                  </div>
                  <svg class="curvedLine" xmlns="http://www.w3.org/2000/svg" width="314.199" height="10.557"
                    viewBox="0 0 314.199 10.557">
                    <path id="Line_2" data-name="Line 2" d="M0,0S85.647,9.5,160.795,9.5,313.09,0,313.09,0"
                      transform="translate(0.552 0.557)" fill="none" stroke="#23125a" stroke-linecap="square"
                      stroke-miterlimit="10" stroke-width="1" /></svg>
                  <div class="mapBox">
                    <div class="map-item" id="slideFourthMapElement_{{election.id}}"></div>
                    <img class="map-item" id="slideFourthMapElement_{{election.id}}_image" src="" style="display: none;" />
                  </div>
                  <div class="boxFooter">
                    <div class="fboxIteam" *ngIf="primarySelectedData.location_address!=undefined">
                      <img src="./assets/img/early_vote_4-1.svg" alt=""
                        (click)="openMapPopUp(primarySelectedData.location_address)" />
                      <div class="boxFooterInfo">

                        <div class="milesAway" (click)="openMapPopUp(primarySelectedData.location_address)">
                          {{primarySelectedData.miles}} MILES AWAY</div>
                        <div class="place" (click)="openMapPopUp(primarySelectedData.location_address)">
                          {{primarySelectedData.location_address}}</div>
                        <div *ngIf="(primarySelectedIndex+1) <= primaryLocationData.length" class="backbtn" (click)="nextAddress('primary')"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="election.card_type=='local'">
                  <div class="badge badge-lightorange">{{election.daysText}}</div>
                  <span class="share"><ion-icon name="share-alt" class="social-share" (click)="shareCard('localelection_'+election.id,'This is my neighborhood election card \n'+election.date+' neighborhood election \n'+addressOnHeader+' \n'+election.daysText+' \nBelow link to find your neighborhood election card', election)" ></ion-icon></span>
                  <div class="title">UPCOMING ELECTION: <br/> <span class="date">{{election.date | uppercase}}</span> NEIGHBORHOOD ELECTIONS</div>
                  <div  class="ballotBtn" ion-button *ngIf="election.showLoader==true" (click)="viewBallotDetails(election.date,'local')" >
                    WHO’S ON MY BALLOT?
                  </div>
                  <button class="ballotBtn" ion-button (click)="viewBallotDetails(election.date,'local')" *ngIf="election.showLoader==false">WHO’S ON MY BALLOT?</button>
                  <div class="goToContactUs">Select polling location(s) below for directons.
                  </div>
                  <svg class="curvedLine" xmlns="http://www.w3.org/2000/svg" width="314.199" height="10.557"
                    viewBox="0 0 314.199 10.557">
                    <path id="Line_2" data-name="Line 2" d="M0,0S85.647,9.5,160.795,9.5,313.09,0,313.09,0"
                      transform="translate(0.552 0.557)" fill="none" stroke="#23125a" stroke-linecap="square"
                      stroke-miterlimit="10" stroke-width="1" /></svg>
                  <div class="mapBox">
                    <div class="map-item" id="slideSixMapElement_{{election.id}}"></div>
                    <img class="map-item" id="slideSixMapElement_{{election.id}}_image" src="" style="display: none;" />
                  </div>
                  <div class="boxFooter">
                    <div class="fboxIteam" *ngIf="localSelectedData.location_address!=undefined">
                      <img src="./assets/img/early_vote_4.svg" alt=""
                        (click)="openMapPopUp(localSelectedData.location_address)" />
                      <div class="boxFooterInfo">
                        <div class="milesAway" (click)="openMapPopUp(localSelectedData.location_address)">
                          {{localSelectedData.miles}} MILES AWAY</div>
                        <div class="place" (click)="openMapPopUp(localSelectedData.location_address)">
                          {{localSelectedData.location_address}}</div>
                        <div class="backbtn" *ngIf="(localSelectedIndex+1) <= localLocationData.length" (click)="nextAddress('local')"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="election.card_type=='general'">
                  <div class="badge badge-lightorange">{{election.daysText}}</div>
                    <span class="share"><!-- <ion-spinner name="ios" *ngIf="election.showLoader" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="shareCard('generalelection_'+election.id,'This is my general election card \n'+election.date+' general election \n'+addressOnHeader+' \n'+election.daysText+' \nBelow link to find your general election card', election)" ></ion-icon></span>
                    <div class="title">UPCOMING ELECTION: <br/> <span class="date">{{election.date | uppercase}}</span> GENERAL ELECTION</div>
                    <div  class="ballotBtn" ion-button *ngIf="election.showLoader==true" (click)="viewBallotDetails(election.date,'general')" >
                      WHO’S ON MY BALLOT?
                    </div>
                    <button class="ballotBtn" ion-button (click)="viewBallotDetails(election.date,'general')" *ngIf="election.showLoader==false">WHO’S ON MY BALLOT?</button>
                    <div class="goToContactUs">Select polling location(s) below for directons.
                    </div>
                    <svg class="curvedLine" xmlns="http://www.w3.org/2000/svg" width="314.199" height="10.557"
                      viewBox="0 0 314.199 10.557">
                      <path id="Line_2" data-name="Line 2" d="M0,0S85.647,9.5,160.795,9.5,313.09,0,313.09,0"
                        transform="translate(0.552 0.557)" fill="none" stroke="#23125a" stroke-linecap="square"
                        stroke-miterlimit="10" stroke-width="1" /></svg>
                    <div class="mapBox">
                      <div class="map-item" id="slideThirdMapElement_{{election.id}}"></div>
                      <img class="map-item" id="slideThirdMapElement_{{election.id}}_image" src="" style="display: none;" />
                    </div>
                    <div class="boxFooter">
                      <div class="fboxIteam" *ngIf="generalSelectedData.location_address!=undefined">
                        <img src="./assets/img/early_vote_4.svg" alt=""
                          (click)="openMapPopUp(generalSelectedData.location_address)" />
                        <div class="boxFooterInfo">
                          <div class="milesAway" (click)="openMapPopUp(generalSelectedData.location_address)">
                            {{generalSelectedData.miles}} MILES AWAY</div>
                          <div class="place" (click)="openMapPopUp(generalSelectedData.location_address)">
                            {{generalSelectedData.location_address}}</div>
                          <div class="backbtn" *ngIf="(generalSelectedIndex+1) <= generalLocationData.length" (click)="nextAddress('general')"></div>
                        </div>
                      </div>
                    </div>
                </div>
                <div *ngIf="election.card_type=='special'">
                  <div class="badge badge-orange">{{election.daysText}}</div>
                  <span class="share"><!-- <ion-spinner name="ios" *ngIf="election.showLoader" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="election.showLoader=true; shareCard('specialelection_'+election.id,'This is my special election card \n'+election.date+' special election \n'+addressOnHeader+' \n'+election.daysText+' \nBelow link to find your special election card', election)" ></ion-icon></span>
                  <div class="title">UPCOMING ELECTION: <br/> <span class="date">{{election.date | uppercase}}</span> SPECIAL ELECTION</div>
                  <div  class="ballotBtn" ion-button *ngIf="election.showLoader==true" (click)="viewBallotDetails(election.date,'special')" >
                    WHO’S ON MY BALLOT?
                  </div>
                  <button class="ballotBtn" ion-button  (click)="viewBallotDetails(election.date,'special')" *ngIf="election.showLoader==false" >WHO’S ON MY BALLOT?</button>
                  <div class="goToContactUs">Select polling location(s) below for directons.
                  </div>
                  <svg class="curvedLine" xmlns="http://www.w3.org/2000/svg" width="314.199" height="10.557"
                    viewBox="0 0 314.199 10.557">
                    <path id="Line_2" data-name="Line 2" d="M0,0S85.647,9.5,160.795,9.5,313.09,0,313.09,0"
                      transform="translate(0.552 0.557)" fill="none" stroke="#23125a" stroke-linecap="square"
                      stroke-miterlimit="10" stroke-width="1" /></svg>
                  <div class="mapBox">
                    <div class="map-item" id="slideSecondMapElement_{{election.id}}"></div>
                    <img class="map-item" id="slideSecondMapElement_{{election.id}}_image" src="" style="display: none;" />
                  </div>
                  <div class="boxFooter">
                    <div class="fboxIteam" *ngIf="specialSelectedData.location_address!=undefined">
                      <img src="./assets/img/early_vote_4-1.svg" alt=""
                        (click)="openMapPopUp(specialSelectedData.location_address)" />
                      <div class="boxFooterInfo">
                        <div class="milesAway" (click)="openMapPopUp(specialSelectedData.location_address)">
                          {{specialSelectedData.miles}} MILES AWAY</div>
                        <div class="place" (click)="openMapPopUp(specialSelectedData.location_address)">
                          {{specialSelectedData.location_address}}</div>
                        <div class="backbtn" *ngIf="(specialSelectedIndex+1) <= specialLocationData.length" (click)="nextAddress('special')"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="election.card_type=='event'">
                  <div class="badge badge-orange">{{election.daysText}}</div>
                  <span class="share event-card"><!-- <ion-spinner name="ios" *ngIf="election.showLoader" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="election.showLoader=true; shareCard('event_'+election.id,'This is my \n event card', election)" ></ion-icon></span>
                   <span class="date">{{election.start_time_format}} {{election.end_time_format}}</span>
                  <div class="title">{{election.event_name}}</div>
                  <div class="orgs_captions events">
                    <div class="orgs_caption event" *ngFor="let org of election.OrgNames">{{org.name}}</div>
                  </div>
                  
                  <div class="confirm-popup" *ngIf="election.user_group>0 && election.user_activity==0">
                    <div class="title">
                      You’re Already Signed Up.
                    </div>
                    <p class="text">
                    We already have you signed up for this event, would you like to attend & participate from EMPOWRD?
                    </p>
                    <button ion-button type="button" (click)="gotoEvent(election)">CONFIRM</button>
                  </div>

                  <div class="confirm-popup registested-popup" *ngIf="election.user_group==0">
                    <div class="title">
                      Have you already registered or do you have the Event Code?
                    </div>
                    <!-- <p class="text">
                    Check-in, View or Modify Your Agenda for this activity & Participate right here in
                    </p> -->
                    <button ion-button type="button" (click)="confirmEvent(election)">VERIFY REGISTRATION</button>
                  </div>

                  <div class="confirm-popup event-popup" *ngIf="election.user_group>0 && election.user_activity>0">
                    <div class="title">
                      You’re Attending
                    </div>
                    <p class="text">
                    Check-in, View or Modify Your Agenda for this activity & Participate right here in
                    </p>
                    <button ion-button type="button" (click)="gotoEvent(election)">GO TO EVENT</button>
                    <h6 class="link" (click)="removeEventCard(election, i)">Can’t Attend</h6>
                  </div>
                </div>
                <div *ngIf="election.card_type=='earlyVoting'">
                  <div class="badge" *ngIf="election.earlyVotingDaysText!=''">{{election.earlyVotingDaysText}}</div>
                   <span class="share"><!-- <ion-spinner name="ios" *ngIf="showEarlyVotingCardSpinner" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="showEarlyVotingCardSpinner=true; shareCard('earlyVoting','This is my Early Voting Registration Card \n'+election.votingaddressdate+' '+election.electionDateType+' election \n'+addressOnHeader+' \n'+election.earlyVotingDaysText+' \nBelow link to find your early voting registration card', showEarlyVotingCardSpinner)" ></ion-icon></span>
                  <div class="title">VOTE EARLY FOR:<br><span [innerHTML]="earlyVotingLocationDate"></span></div>
                  <div  class="ballotBtn" ion-button *ngIf="showEarlyVotingCardSpinner==true" (click)="viewBallotDetails(election.votingaddressdate,election.electionDateType)" >
                    WHO’S ON MY BALLOT?
                  </div>
                  <button class="ballotBtn" ion-button (click)="viewBallotDetails(election.votingaddressdate,election.electionDateType)" *ngIf="showEarlyVotingCardSpinner==false">WHO’S ON MY BALLOT?</button>
                  <div class="goToContactUs">Select polling location(s) below for directons.</div>
                  <svg class="curvedLine" xmlns="http://www.w3.org/2000/svg" width="314.199" height="10.557"
                    viewBox="0 0 314.199 10.557">
                    <path id="Line_2" data-name="Line 2" d="M0,0S85.647,9.5,160.795,9.5,313.09,0,313.09,0"
                      transform="translate(0.552 0.557)" fill="none" stroke="#23125a" stroke-linecap="square"
                      stroke-miterlimit="10" stroke-width="1" /></svg>
                  <div class="mapBox">
                    <div class="map-item" #slideFirstMapElement id="slideFirstMapElement"></div>
                    <img class="map-item" id="slideFirstMapElement_image" src="" style="display: none;" />

                  </div>
              
                  <div class="boxFooter has_slider">
                    <div class="boxFooterSlider"  *ngIf="voting.location_address!=undefined">
                      <div class="prevbtn" (click)="backAddress('voting')"></div>
                      <div class="fboxIteam" (click)="openMapPopUp(voting.location_address)">
                        <span class="iteamIndex">{{(votingSelectedIndex+1)}}</span>
                        <img class="early_vote_3" src="./assets/img/early_vote_3.svg" alt="" />
                        <div class="boxFooterInfo">
                          <div class="milesAway">{{voting.miles}} MILES AWAY</div>
                          <div class="place">{{voting.location_address}}</div>
                        </div>
                      </div>
                      <div *ngIf="votingSelectedIndex < votingLocationData.length" class="backbtn" (click)="nextAddress('voting')"></div>
                    </div>
                  </div>
                </div>
                <div *ngIf="election.card_type=='earlyMailInVoting'">
                  <div class="badge" *ngIf="election.earlyMailInVotingDaysText!=''">{{election.earlyMailInVotingDaysText}}</div>
                  <span class="share"><!-- <ion-spinner name="ios" *ngIf="showEarlyMailInVotingCardSpinner" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="showEarlyMailInVotingCardSpinner=true; shareCard('earlyMailInVoting','This is my Early Mail-in Voting Registration Card \n'+election.mailInvotingaddressdate+' '+election.mailInelectionDateType+' election \n'+addressOnHeader+' \n'+election.earlyMailInVotingDaysText+' \nBelow link to find your early mail-in voting registration card', showEarlyMailInVotingCardSpinner)" ></ion-icon></span>
                  <div class="title">BALLOT DROP OFF LOCATIONS:<br><span [innerHTML]="election.earlyMailInVotingLocationDate"></span></div>
                  <div  class="ballotBtn" ion-button *ngIf="showEarlyMailInVotingCardSpinner==true" (click)="viewBallotDetails(election.mailInvotingaddressdate,election.mailInelectionDateType)" >
                    WHO’S ON MY BALLOT?
                  </div>
                  <button class="ballotBtn" ion-button (click)="viewBallotDetails(mailInvotingaddressdate,mailInelectionDateType)" *ngIf="showEarlyMailInVotingCardSpinner==false">WHO’S ON MY BALLOT?</button>
                  <div class="goToContactUs">Select polling location(s) below for directons.</div>
                  <svg class="curvedLine" xmlns="http://www.w3.org/2000/svg" width="314.199" height="10.557"
                    viewBox="0 0 314.199 10.557">
                    <path id="Line_2" data-name="Line 2" d="M0,0S85.647,9.5,160.795,9.5,313.09,0,313.09,0"
                      transform="translate(0.552 0.557)" fill="none" stroke="#23125a" stroke-linecap="square"
                      stroke-miterlimit="10" stroke-width="1" /></svg>
                  <div class="mapBox">
                    <div class="map-item" #slideFiveMapElement id="slideFiveMapElement"></div>
                    <img class="map-item" id="slideFiveMapElement_image" src="" style="display: none;" />
                  </div>
                  <div class="boxFooter">
                    <div class="fboxIteam" *ngIf="mailInVoting.location_address!=undefined">
                      <img src="./assets/img/early_vote_4-1.svg" alt=""
                        (click)="openMapPopUp(mailInVoting.location_address)" />
                      <div class="boxFooterInfo">
                        <div class="milesAway" (click)="openMapPopUp(mailInVoting.location_address)">
                          {{mailInVoting.miles}} MILES AWAY</div>
                        <div class="place" (click)="openMapPopUp(mailInVoting.location_address)">
                          {{mailInVoting.location_address}}</div>
                        <div *ngIf="mailInVotingSelectedIndex < mailInVotingLocationData.length" class="backbtn" (click)="nextAddress('mailInVoting')"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="election.card_type=='lobbyCard'">
                  <div class="badge" *ngIf="lobbyCardMoreDaysText!=''">{{lobbyCardMoreDaysText}}</div>
                  <div class="title" *ngIf="!showLoader">{{lobbyCardState}}. LEGISLATIVE SESSIONS <span class="share"><!-- <ion-spinner name="ios" *ngIf="showLobbyCardSpinner" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="showLobbyCardSpinner=true; shareCard('lobbyCard','This is my '+lobbyCardState+' legislative sessions card \n'+addressOnHeader+' \n'+lobbyCardMoreDaysText+' \n'+lobbyCardDate+' \nBelow link to find your legislative sessions card', showLobbyCardSpinner)" ></ion-icon></span><br/><span class="date">{{lobbyCardDate}}</span></div>
                  <div class="loaderWrap" *ngIf="showLoader">
                    <ion-spinner name="ios" ></ion-spinner>
                  </div>
                  <div class="btn " [ngClass]="{'new-msg-btn':lobbyMessageCount!='0'}" (click)="showMessages('LOBBY', lobbyMessageCount)"  *ngIf="!showLoader">
                    <div class="msgbadge" *ngIf="lobbyNewMessageCount!='0'">NEW</div>
                    <div class="new-msg-icon" *ngIf="lobbyMessageCount!='0'"></div>
                    <h5 *ngIf="lobbyMessageCount!='0'">VIEW <br>MESSAGES</h5>
                    <h5 *ngIf="lobbyMessageCount=='0'">YOU HAVE NO<br>ACTIONS FOR THIS ITEM.</h5>
                  </div>
                  <div class="rte">
                    <h6>{{lobbyTextTitle}}</h6>
                    <p>{{lobbyText}}</p>
                  </div>
                </div>
                <div *ngIf="election.card_type=='congrationalCard'">
                  <div class="badge" *ngIf="congrationalCardMoreDaysText!=''">{{congrationalCardMoreDaysText}}</div>

                  <div class="title">CONGRESSIONAL SESSIONS <br/><span class="date">{{congrationalCardDate}}</span> <span class="share"><!-- <ion-spinner name="ios" *ngIf="showCongrassionCardSpinner" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="showCongrassionCardSpinner=true; shareCard('congrationalCard','This is my congressional sessions card \n'+addressOnHeader+' \n'+congrationalCardMoreDaysText+' \nBelow link to find your congressional sessions card',showCongrassionCardSpinner)" ></ion-icon></span></div>

                  <div class="btn" (click)="showMessages('LOBBY', lobbyMessageCount)">
                    <div class="msgbadge" *ngIf="lobbyNewMessageCount!='0'">{{lobbyMessageCount}}</div>
                    <h5 *ngIf="lobbyMessageCount!='0'">YOU HAVE {{lobbyMessageCount}}<br>RELATED TASKS</h5>
                    <h5 *ngIf="lobbyMessageCount=='0'">YOU HAVE NO<br>RELATED TASK</h5>                  
                  </div>
                  <div class="rte">

                    <h6>{{congressionalTextTitle}}</h6>
                    <p (click)="handleClick($event)" [innerHTML]="getSafehtml(congressionalText)" ></p>
                  </div>
                </div>
                <div *ngIf="election.card_type=='voterCard'">
                  <span class="share"><!-- <ion-spinner name="ios" *ngIf="showVoterCardSpinner" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="showVoterCardSpinner=true; shareCard('voterCard','This is my verify voter status card \n'+addressOnHeader+' \n'+firstmoredaysText+' \nBelow link to find your verify voter status card', showVoterCardSpinner)" ></ion-icon></span>
                  <div class="badge" *ngIf="firstmoredaysText!=''">{{firstmoredaysText}}</div>
                  <div class="title" [innerHTML]="firstSlideTitle"></div>
                  <div class="loaderWrap" *ngIf="showLoader">
                    <ion-spinner name="ios" ></ion-spinner>
                  </div>
                  <div  class="btn btn-light"  *ngIf="showVoterCardSpinner">
                    VERIFY VOTER STATUS
                  </div>
                  <button ion-button class="btn btn-light" (click)="verifyLocation()" *ngIf="showVoterCardSpinner==false">VERIFY VOTER STATUS</button>
                  <div class="rte">
                    <p [innerHTML]="firstSlideText"></p>
                  </div>
                </div>
              </ion-slide>
              
              <ion-slide class="carouselBox boxStyle-3" [ngClass]="{'hide':showLoaderCard==false}" *ngIf="forceHideCard">
                <div class="badge" *ngIf="lobbyCardMoreDaysText!=''">{{lobbyCardMoreDaysText}}</div>
                <div class="title"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <ion-spinner name="ios" *ngIf="showLobbyCardSpinner" ></ion-spinner> --><span class="share"><ion-icon name="share-alt" class="social-share" (click)="showLobbyCardSpinner=true; shareCard('lobbyCard','This is my '+lobbyCardState+' legislative sessions card \n'+addressOnHeader+' \n'+lobbyCardMoreDaysText+' \n'+lobbyCardDate+' \nBelow link to find your legislative sessions card', showLobbyCardSpinner)" ></ion-icon></span><br/><span class="date">&nbsp;&nbsp;&nbsp;</span></div>
                <div class="loaderWrap" *ngIf="showLoader">
                  <ion-spinner name="ios" ></ion-spinner>
                </div>
                
                <div class="rte">
                  <h6>&nbsp;&nbsp;&nbsp;</h6>
                  <p>&nbsp;&nbsp;&nbsp;</p>
                </div>
              </ion-slide>
              <ion-slide class="carouselBox boxStyle-1 "
                 [ngClass]="{'hide':showLoaderCard==false}"   *ngIf="forceHideCard"
               >
                <span class="share"><!-- <ion-spinner name="ios" *ngIf="showVoterCardSpinner" ></ion-spinner> --><ion-icon name="share-alt" class="social-share" (click)="showVoterCardSpinner=true; shareCard('voterCard','This is my verify voter status card \n'+addressOnHeader+' \n'+firstmoredaysText+' \nBelow link to find your verify voter status card', showVoterCardSpinner)" ></ion-icon></span>
                <div class="badge" *ngIf="firstmoredaysText!=''">{{firstmoredaysText}}</div>
                <div class="title" [innerHTML]="firstSlideTitle"></div>
                <div class="loaderWrap" *ngIf="showLoader">
                  <ion-spinner name="ios" ></ion-spinner>
                </div>
                <div  class="btn btn-light"  *ngIf="showVoterCardSpinner">
                  VERIFY VOTER STATUS
                </div>
                <button ion-button class="btn btn-light" (click)="verifyLocation()" *ngIf="showVoterCardSpinner==false">VERIFY VOTER STATUS</button>
                <div class="rte">
                  <p [innerHTML]="firstSlideText"></p>
                </div>
              </ion-slide>

              <!-- <ion-slide class="carouselBox boxStyle-2 hiddenSlide"></ion-slide> -->
            </ion-slides>

          </div>
        </div>
      </div>

      
      <div class="tabs tab-politics" [ngClass]="{'hide':navMenu!='community'}">
        <h4>Empowrd wants to hear from you.</h4>
        <p>Select from the list below and give us your feedback.</p>
        <ion-list class="customeStyle">
          <ion-item>
            <ion-select [(ngModel)]="problem" placeholder="Select a category below">
              <ion-option value="wronginformation">My Elected Official's Information Is Wrong</ion-option>
              <ion-option value="missinginformation">My Elected Official's Information Is Missing</ion-option>
              <ion-option value="other">Other</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-textarea [(ngModel)]="text" placeholder="Enter a description"></ion-textarea>
          </ion-item>
        </ion-list>
        <div class="btnArea">
          <button ion-button type="button" (click)="sendCommunity()" class="btn btn-primary">SEND</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>