page-home-opportunity {
    .accordian_list {
        background-color: #f4eee2;
        display: flex;
        flex-direction: column;
        min-height: 100%;

        .accordian_listIteam {
            flex: 0 0 auto;
            @include clearfix();

            &.iteamHeader {
                flex: 0 0 auto;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 35px 0 0px;
                /* padding: calc(env(safe-area-inset-top) + 37px) 0 0px; */
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0px;
                margin-right: 0px;

                .newHeaderBox {
                    padding: 0;
                    flex: 1 1 auto;

                    .headerBox {
                        padding: 0 42px 0px;

                        @media(max-width:360px) {
                            padding: 0 20px 0px 36px;
                        }

                        .logotitle {
                            font-family: 'Gibson';
                            font-size: 11px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 18px;
                            letter-spacing: 5px;
                            color: #282333;
                            text-transform: uppercase;
                        }

                        .getEngaged {
                            font-family: 'Museo Slab';
                            font-size: 33px;
                            font-weight: 700;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 31px;
                            letter-spacing: normal;
                            color: #282333;
                            margin-bottom: 10px;
                            margin-top: 10px;
                            text-transform: uppercase;
                        }

                        .tagLine {
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 17px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 25px;
                            letter-spacing: 1px;
                            color: #282333;
                        }

                        ul.address-btn-list {
                            width: 100%;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                width: auto;
                                display: flex;
                                button {
                                    width: auto;
                                    height: 33px;
                                    margin: 0 10px 0 0;
                                    padding: 0px 16px;
                                    border-radius: 30px;
                                    border: solid 3px #35313f;
                                    background-color: #fffaf0;
                                    font-family: 'Gibson';
                                    font-size: 12px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 27px;
                                    letter-spacing: normal;
                                    color: #282333;
                                    text-align: center;
                                }
                            }
                        }

                        .dropDown {
                            position: relative;
                            display: inline-block;

                            button.toggleBtns {
                                padding: 0 40px 0 10px;
                                border: solid 2px #353647;
                                background-color: #efe7d4;
                                background-position: right 10px center;
                                background-repeat: no-repeat;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.32 4.48'%3E%3Cg id='Group' transform='translate(-0.28 4.72) rotate(-90)'%3E%3Cg id='Path'%3E%3Cpath id='Path-2' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='%23292535'/%3E%3Cpath id='Path-3' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                background-size: auto 6px;

                                h5 {
                                    font-family: 'Gibson';
                                    font-size: 14px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 26px;
                                    letter-spacing: normal;
                                    color: #282333;
                                    text-align: left;
                                    margin: 0;
                                    padding: 0;
                                }
                            }

                            ul.showDropDown {
                                margin: auto;
                                padding: 0;
                                list-style: none;
                                position: absolute;
                                top: calc(100% - 1px);
                                left: -1px;
                                right: -1px;
                                background: #fff;
                                border: 0 solid #46465b;
                                border-radius: 0 0 4px 4px;
                                z-index: 0;
                                transition: all 0.3s ease-in-out;
                                max-height: 0;
                                overflow: hidden;

                                &.open {
                                    max-height: 100vh;
                                    border-width: 1px;
                                }

                                li {
                                    border-top: 0 none;
                                    padding: 10px 20px;
                                    font-family: 'Fjalla One';
                                    font-size: 12px;
                                    line-height: normal;
                                    letter-spacing: 0.26px;
                                    color: #23232e;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    letter-spacing: 0.61px;
                                    text-align: left;
                                    text-transform: uppercase;
                                    display: flex;
                                    align-items: center;
                                    justify-self: start;
                                    
                                    &.active {
                                        background-color: #f3f3f3;
                                    }

                                    &:nth-of-type(1n+2) {
                                        border-top: 1px solid #3d3e4f;
                                    }
                                }
                            }
                        }
                        .loctionWrap {
                            display: flex;
                            align-items: center;
                            padding-right: 16px;
                            .loctionBox {
                                font-family: 'Gibson';
                                font-size: 13px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 26px;
                                letter-spacing: normal;
                                color: #282333;
                                text-align: left;
                                margin: 0;
                                padding: 0 30px 0 10px;
                                border: solid 2px #353647;
                                background-color: #efe7d4;
                                display: inline-block;
                                border-radius: 15px;
                                flex: 1 0 auto;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='11' viewBox='0 0 12 11'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cg%3E%3Cg%3E%3Cpath d='M1.22 9.63C.545 8.896 0 8.162 0 7.992c0-.14 1.323-1.666 2.932-3.389 2.75-2.965 3.01-3.19 4.93-3.897C9.004.282 9.938-.028 9.99.028c.052.057-.208 1.102-.571 2.344-.623 2.203-.7 2.344-3.529 5.45-1.583 1.724-3.01 3.164-3.166 3.164-.155 0-.83-.621-1.504-1.356z' transform='translate(-328 -244) matrix(-1 0 0 1 339.906 244) matrix(1 0 0 -1 .906 11)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                background-position: calc(100% - 10px) center;
                                background-repeat: no-repeat;
                                background-size: 11px;
                                @media(max-width:360px){
                                    font-size: 12px;
                                }
                            }
                            
                            ion-segment.segment {
                                border: 0 none;
                                padding: 0 0px 0px;
                                flex: 0 0 auto;
                                margin-right: -16px;
                                margin-left: 16px;
                                width: 100px;
                                justify-content: space-between;
                                @media(max-width:360px){
                                    margin-left: 0;
                                    width: auto;
                                    margin-right: 0;
                                    justify-content: flex-start;
                                    flex: 1 0 auto;
                                }
                                ion-segment-button.segment-button {
                                    display: inline-block;
                                    font-family: 'Gibson';
                                    font-size: 13px;
                                    font-weight: 600;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: normal;
                                    letter-spacing: 0px;
                                    text-align: center;
                                    color: #282333;
                                    background: transparent;
                                    border-radius: 0;
                                    contain: inherit;
                                    width: auto;
                                    border: 0 none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 0 auto -3px;
                                    padding: 10px ;
                                    height: auto;
                                    flex: 0 0 auto;
                                    opacity: 1;
                                    overflow: inherit;
                                    @media(max-width:360px){
                                        padding: 10px 5px;
                                    }
                                    &:after{
                                        content: "";
                                        height: 3px;
                                        background-color: rgba(108, 168, 112, 0);
                                        display: block;
                                        position: absolute;
                                        bottom: 2px;
                                        left: 0;
                                        right: 0;
                                        top: auto;
                                        width: 30px;
                                        margin: auto;
                                    }
                                    span.title {
                                        width: 30px;
                                        height: 28px;
                                        display: block;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        text-align: center;
                                        &.civicAgenda{
                                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='24' viewBox='0 0 28 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23282333' fill-rule='nonzero' stroke='%23282333' stroke-width='1.19'%3E%3Cg%3E%3Cpath d='M25.207 0c.32 0 .653.243.653.65h0v18.202c0 .408-.332.651-.653.651-.21 0-.403-.099-.53-.272-1.124-1.534-3.45-3.363-8.143-3.363h0-2.696l1.712 5.357c.074.23.034.474-.108.67-.143.195-.364.308-.606.308h0-3.22c-.327 0-.614-.21-.714-.522h0l-1.858-5.813H6.266c-.035 0-.066-.008-.096-.022-2.308-.045-4.217-1.73-4.613-3.937h0-.242C.59 11.91 0 11.32 0 10.595h0V8.891c0-.724.59-1.314 1.315-1.314h.242c.401-2.237 2.358-3.942 4.709-3.942h10.268c4.693 0 7.02-1.829 8.144-3.363.126-.173.32-.272.529-.272zm-10.28 20.789H11.1l.24.752c.04.12.15.2.276.2h3.22c.092 0 .177-.043.232-.118.055-.075.07-.17.042-.258h0l-.185-.576zm-1.548-4.841H9.554l1.4 4.379h3.825l-1.4-4.379zM25.207.462c-.044 0-.107.014-.157.083-1.188 1.62-3.63 3.552-8.516 3.552h0H6.496v11.31h10.038c4.886 0 7.328 1.931 8.516 3.552.05.068.113.083.157.083.077 0 .191-.05.191-.19h0V.651c0-.14-.114-.19-.191-.19zM6.035 4.102c-2.279.121-4.096 2.013-4.096 4.321h0v2.64c0 2.308 1.817 4.2 4.096 4.32h0zM1.497 8.04h-.182c-.47 0-.853.382-.853.852h0v1.704c0 .47.382.853.853.853h.182c-.01-.128-.02-.255-.02-.385h0v-2.64c0-.13.01-.257.02-.384h0zm20.127-1.983c.09-.071.212-.045.273.06.061.106.038.25-.052.322C20.296 7.678 18.32 8.28 15.8 8.28h0-5.577c-.109 0-.197-.103-.197-.23 0-.128.088-.231.197-.231H15.8c2.437 0 4.342-.577 5.824-1.763z' transform='translate(-321 -231) translate(322 232)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                        }
                                        &.engagement{
                                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23282333' stroke='%23282333' stroke-width='.655'%3E%3Cg%3E%3Cpath d='M18.967 0c.308 0 .563.227.607.523l.006.09v1.878h1.945c1.41 0 2.566 1.103 2.653 2.49l.005.168v16.53c0 1.41-1.102 2.565-2.49 2.652l-.168.006H2.658c-1.41 0-2.566-1.102-2.653-2.49L0 21.68V5.15c0-1.41 1.102-2.566 2.49-2.653l.168-.005h1.945V.614c0-.34.275-.614.614-.614.308 0 .563.227.607.523l.006.09v1.878h12.523V.614c0-.34.275-.614.614-.614zM4.603 3.719H2.658c-.742 0-1.354.568-1.424 1.292l-.006.138v16.53c0 .742.568 1.354 1.292 1.423l.138.007h18.867c.742 0 1.354-.568 1.424-1.292l.006-.138V5.15c0-.742-.568-1.354-1.292-1.424l-.138-.006H19.58v1.56c0 .339-.274.614-.613.614-.308 0-.564-.227-.608-.523l-.006-.091v-1.56H5.83v1.56c0 .339-.274.614-.613.614-.308 0-.564-.227-.608-.523l-.006-.091v-1.56zm1.534 13.83l.105.006c.444.052.788.43.788.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.97 0c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0c.492 0 .892.4.892.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.399-.893.892-.893zm-7.94-3.766l.105.006c.444.052.788.43.788.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.97 0c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0l.103.006c.444.052.789.43.789.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.968 0c.493 0 .893.4.893.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.4-.893.892-.893zm-7.938-3.766c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0l.103.006c.444.052.789.429.789.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.968 0c.493 0 .893.4.893.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.4-.893.892-.893zm-2.095-4.86c.34 0 .614.274.614.613 0 .308-.227.563-.523.607l-.09.007H8.232c-.34 0-.614-.275-.614-.614 0-.308.227-.563.523-.607l.09-.007h7.718z' transform='translate(-264 -230) translate(265 231)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                        }
                                    }

                                    span.badge {
                                        min-width: 24px;
                                        line-height: 20px;
                                        border-radius: 4px;
                                        border: solid 2px #282333;
                                        background-color: #282333;
                                        font-family: 'Museo Slab';
                                        font-size: 12px;
                                        font-weight: 800;
                                        font-stretch: normal;
                                        font-style: normal;
                                        letter-spacing: -0.59px;
                                        color: #efe7d4;
                                        padding: 0 2px;
                                        margin: 0 10px 0px 0;
                                        display: inline-block;
                                        text-align: center;
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        transform: translate(16px, -3px);
                                        @media(max-width:360px){
                                            font-size: 10px;
                                            transform: translate(8px, -2px);
                                            line-height: 16px;
                                            min-width: 20px;
                                        }
                                        &.newmsg {
                                            color: #282333;
                                            background-color: #9bd29f;
                                        }
                                    }
                                    
                                    &.segment-activated {
                                        &:after{
                                            background-color:  rgba(108, 168, 112, 1);
                                        }
                                    }
                                }
                            }
                        }

                        .badgeList {
                            list-style: none;
                            margin: 0px 0px 0;
                            padding: 0;
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                margin: 0;
                                padding: 0;

                                .badge {
                                    display: block;
                                    font-family: 'Fjalla One';
                                    font-size: 19px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.59;
                                    letter-spacing: normal;
                                    color: #fff;
                                    padding: 0 10px;
                                    margin: 0px;
                                    text-transform: uppercase;

                                    &.bg-purple {
                                        background-color: #4a3b70;
                                    }

                                    &.bg-lightblue {
                                        background-color: #87b8d1;
                                    }

                                    &.bg-violet {
                                        background-color: #b46cb7;
                                    }

                                    &.bg-lightpink {
                                        background-color: #f7d1d1;
                                    }

                                    &.bg-pink {
                                        background-color: #ff9797;
                                    }

                                    &.bg-republican {
                                        background-color: #C94643
                                    }

                                    &.bg-democrat {
                                        background-color: #405AA6
                                    }

                                    &.bg-libertarian {
                                        background-color: #7F3FD6
                                    }

                                    &.bg-green {
                                        background-color: #39A337
                                    }

                                    &.bg-green-party {
                                        background-color: #39A337
                                    }

                                    &.bg-independent {
                                        background-color: #737373
                                    }

                                    &.bg-nonpartisan {
                                        background-color: #000;
                                    }

                                    &.bg-non-partisan {
                                        background-color: #000;
                                    }

                                    &.bg-write-in {
                                        background-color: #000;
                                    }

                                    &.bg-gray {
                                        background-color: #5F5F5F;
                                    }

                                    &.bg-blue {
                                        background-color: #374793;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .orgs_captions.events {
            color: #282333;
        }
        .confirm-popup .text {
            color: #282333;
        }
        .main-content {
            // background-image: linear-gradient(to bottom, #daeada, #dbe9fb 29%, #eae4f3 65%, #f9f0e0 100%, #d8d8d8);
            background-color: #f4eee2;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding: 24px 0px 0px;
            flex: 1 1 auto;

            .tab-support {
                position: relative;
                ion-spinner.share-card {
                    position: absolute;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    top: 12px;
                    right: 24%;
                    z-index: 9;
                    font-size:20px;
                    color: #000;
                    &.event-card {
                        color: white;
                    }
                }
                .msgs {
                    padding: 0;

                    .msg {
                        padding: 15px 0px;
                        align-self: center;

                        // width: 100%;
                        // flex: 0 0 100%;
                        .educationBox {
                            margin-top: 0;
                            background-color: #FFFBF5;
                            padding: 50px 20px 35px;
                            border-radius: 10px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.461' height='30.521' viewBox='0 0 28.461 30.521'%3E%3Cpath fill='%23ffac00' d='M28.461,0,0,30.521V10A10,10,0,0,1,10,0Z'/%3E%3C/svg%3E");
                            background-position: top left;
                            background-repeat: no-repeat;
                            text-align: left;
                            position: relative;

                            .closeBtn {
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg id='noun_Arrow_2335736' transform='translate(23.72 0.708)'%3E%3Cpath id='Path_Copy' data-name='Path Copy' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' stroke='%23343448' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_Copy_2' data-name='Path Copy 2' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' stroke='%23343448' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                left: auto;
                                bottom: auto;
                            }

                            h2 {
                                font-family: 'Fjalla One';
                                font-size: 30px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 32px;
                                letter-spacing: 0.16px;
                                color: #282333;
                                margin: 0;
                            }

                            h4 {
                                margin-bottom: -15px;
                                font-family: 'Gibson';
                                font-size: 10px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 28px;
                                letter-spacing: 0.39px;
                                color: #282333;
                                margin: 0;

                                b {
                                    font-weight: 500;
                                }
                            }

                            p {
                                margin: 0;
                                font-family: 'Gibson';
                                font-size: 15px;
                                font-weight: 300;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 22px;
                                letter-spacing: -0.55px;
                                color: #282333;

                                .readmore {
                                    font-weight: 500;
                                    color: #282333;
                                    font-size: 10px;
                                    letter-spacing: 0.33px;
                                    border-bottom: solid 3px #282333;
                                    display: inline-block;
                                }
                            }

                            .badgeList {
                                list-style: none;
                                margin: 0px -3px 10px;
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;

                                li {
                                    margin: 3px;
                                    padding: 0;

                                    .blank-badge {
                                        display: block;
                                        font-family: 'Fjalla One';
                                        font-size: 13px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 28px;
                                        letter-spacing: 0.61px;
                                        padding: 0 10px;
                                        color: #fff;
                                        border-radius: 4px;
                                        margin: 0;
                                        height: 30px;
                                    }

                                    .badge {
                                        display: block;
                                        font-family: 'Fjalla One';
                                        font-size: 13px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 28px;
                                        letter-spacing: 0.61px;
                                        padding: 0 10px;
                                        background-color: #24232d;
                                        color: #fff;
                                        border-radius: 4px;
                                        margin: 0;

                                        &.bg-members {
                                            background-color: #282333;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .dataCarouselWRap {
                    position: relative;

                    // min-height: 100vh;
                    .dataCarousel {

                        // overflow: auto;
                        // position: absolute;
                        // z-index: 3;
                        // left:0;
                        // right:0;
                        // top: auto;
                        // height: auto;
                        // bottom:0;
                        .carousel {
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: column;
                            margin-left: auto;
                            margin-right: auto;

                            .swiper-container {
                                height: 100%;
                                padding-top: 0px;
                                height: 100%;
                                padding-bottom: 100px;
                                min-height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) - 242px);
                                .swiper-wrapper{
                                    height: auto;
                                    margin-top: auto;
                                    margin-bottom: auto;
                                }
                                .carouselBox {
                                    border: solid 4px #282333;
                                    background: #fff;
                                    border-radius: 6px;
                                    color: #fff;
                                    padding: 60px 22px 0px;
                                    width: auto;
                                    margin: 0 auto;
                                    align-self: center;
                                    position: relative;
                                    height: auto;
                                    align-self: stretch;
                                    width: calc(100% - 84px);
                                    box-shadow: none;
                                    @media(max-width:360px) {
                                        width: calc(100% - 56px);
                                    }

                                    &.pt-52 {
                                        padding-top: 52px;
                                    }

                                    // min-height: 450px;
                                    // height:auto !important;/*ADDED BY MAULIK*/
                                    /*
                                    &:after{
                                        content:"";
                                        width: auto;
                                        height: 59px;
                                        object-fit: contain;
                                        -webkit-filter: blur(10px);
                                        filter: blur(10px);
                                        background-color: #bcb4a4;
                                        position: absolute;
                                        bottom: 0;
                                        left: 10%;
                                        right: 10%;
                                        z-index: -1;
                                        transform: translateY(50%);
                                    }
                                    */
                                    &.upcomingElection {
                                        background-color: #f4eee2;
                                    }
                                    &.invisible {
                                        visibility: hidden;
                                        opacity: 0;
                                    }

                                    &.hiddenSlide {
                                        visibility: visible;
                                        padding: 0;
                                        border: 0 none;
                                    }

                                    .slide-zoom {
                                        text-align: left;
                                    }

                                    /*
                                    &:first-of-type{
                                        margin-top: 24vh;
                                        margin-top: calc(env(safe-area-inset-top) + 24vh);
                                    }
                                    &:last-of-type{
                                        margin-bottom: 24vh;
                                        margin-bottom: calc(env(safe-area-inset-bottom) + 24vh);
                                    }
                                    */
                                    .badge {
                                        border-radius: 2px;
                                        background: #f05a5a;
                                        font-family: 'Fjalla One';
                                        font-weight: normal;
                                        font-size: 13px;
                                        line-height: 13px;
                                        color: #fff;
                                        position: absolute;
                                        top: 12px;
                                        left: -6px;
                                        padding: 8px 10px 8px;
                                        text-transform: uppercase;

                                        &.badge-lg {
                                            border-radius: 3px;
                                            font-family: 'Fjalla One';
                                            font-weight: normal;
                                            font-size: 27px;
                                            line-height: 26px;
                                            text-align: left;
                                            color: #fff;
                                            padding: 10px 15px 9px;
                                            background: #F05A5A;
                                        }

                                        /*
                                        &.badge-orange{
                                            background: #FF6210;
                                        }
                                        &.badge-lightorange{
                                            background: #FFB357;
                                        }
                                        */
                                    }
                                    &.swiper-slide-active{
                                        .badge{
                                            left:-12px;
                                        }
                                        
                                    }
                                    span.share { 
                                        position: absolute;
                                        top: 12px;
                                        right: 12px;
                                        z-index:99;
                                        font-size:20px;
                                        color: #000;
                                        &.event-card {
                                            color: white;
                                        }
                                        ion-spinner {
                                            margin-right: 5px;
                                            height: 20px;
                                            width: 20px;
                                        }
                                    }
                                    button {
                                        &.three-dots-btn {
                                            background-color: transparent;
                                            width: auto;
                                            height: -webkit-fit-content;
                                            height: -moz-fit-content;
                                            height: auto;
                                            padding: 0;
                                            margin: 0;
                                            position: absolute;
                                            top: 25px;
                                            right: 26px;
                                            img {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                    .title {
                                        // font-family: 'Fjalla One';
                                        // font-weight: normal;
                                        font-family: 'Museo Slab';
                                        font-weight: 700;
                                        font-size: 19px;
                                        line-height: 22px;
                                        text-align: left;
                                        color: #282333;
                                        text-transform: uppercase;
                                        margin-bottom: 10px;
                                        min-height: 46px;
                                        @media(max-width:360px){
                                            font-size: 16px;
                                        }

                                        span.date {
                                            color: #f05a5a;
                                            font-family: 'Museo Slab';
                                            font-weight: 900;
                                        }

                                    }
                                    div.ballotBtn.button.button-default{
                                        background-color: #fffaf0;
                                        background-image: url('../assets/img/ezgif.com-gif-maker.png');
                                        background-position: center right 10px;
                                        background-size: auto 12px;
                                        background-repeat: no-repeat;
                                        height: auto;
                                        border-radius: 5px;
                                        font-family: 'Gibson';
                                        font-size: 13px;
                                        font-weight: 500;
                                        letter-spacing: 0px;
                                        text-align: left;
                                        color: #2b2635;
                                        padding: 0;
                                        border: 2px solid #2b2635;
                                        line-height: 27px;
                                        margin: 0 0 10px;
                                        padding-right: 40px;
                                        padding-left: 10px;         
                                        @media(max-width:360px){
                                            font-size: 12px;
                                            padding-right: 30px;
                                        }
                                    }
                                    button.ballotBtn.button.button-default{
                                        background-color: #fffaf0;
                                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5.1 9.35'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23282333;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M-3.913.216a.667.667,0,0,0-.984,0,.772.772,0,0,0-.048.988l.048.056,3.217,3.415L-4.9,8.09a.772.772,0,0,0-.048.988l.048.056a.666.666,0,0,0,.931.051l.053-.051L-.2,5.2a.772.772,0,0,0,.048-.988L-.2,4.153Z' transform='translate(5.1)'/%3E%3C/svg%3E");
                                        background-position: center right 10px;
                                        background-size: auto 12px;
                                        background-repeat: no-repeat;
                                        height: auto;
                                        border-radius: 5px;
                                        font-family: 'Gibson';
                                        font-size: 13px;
                                        font-weight: 500;
                                        letter-spacing: 0px;
                                        text-align: left;
                                        color: #2b2635;
                                        padding: 0;
                                        border: 2px solid #2b2635;
                                        line-height: 27px;
                                        margin: 0 0 10px;
                                        padding-right: 40px;
                                        padding-left: 10px;          
                                        @media(max-width:360px){
                                            font-size: 12px;
                                            padding-right: 30px;
                                        }
                                    }
                                    .date {
                                        text-align: left;
                                        font-family: 'Gibson';
                                        font-size: 20px;
                                        font-weight: 500;
                                        line-height: 1.32;
                                        letter-spacing: normal;
                                        color: #282333;
                                        margin-bottom: 10px;
                                    }

                                    .rte {
                                        margin-top: 10px;
                                        margin-bottom: 20px;

                                        p {
                                            font-family: 'Gibson';
                                            font-weight: normal;
                                            font-size: 10px;
                                            letter-spacing: 0.03em;
                                            line-height: 15px;
                                            text-align: left;
                                            color: #575377;
                                            b{
                                                font-weight: 500;
                                            }
                                        }
                                    }

                                    svg.curvedLine {
                                        margin: 0 -22px -5px;
                                        width: calc(100% + 44px);
                                        display: none;
                                    }

                                    .goToContactUs {
                                        font-family: 'Gibson';
                                        font-size: 13px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.32;
                                        letter-spacing: 0.32px;
                                        color: #282333;
                                        display: none;
                                        b {
                                            font-weight: 600;
                                        }
                                    }

                                    .mapBox {
                                        border-width: 4px 0;
                                        border-style: solid;
                                        border-color: #282333;
                                        background: #ccc;
                                        padding-bottom: 55%;
                                        margin: 15px -22px auto;
                                        position: relative;

                                        .map-item {
                                            position: absolute !important;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;

                                        }
                                    }

                                    .boxFooter {
                                        margin: 0 -22px;
                                        // background-color: #f3f3f3;
                                        border-radius: 0 0 0 0;
                                        height: 70px;

                                        .fboxIteam {
                                            padding: 0 22px;
                                            height: 70px;
                                            display: flex;
                                            justify-items: flex-start;
                                            align-items: center;

                                            >img {
                                                margin: auto 8px auto 0;
                                                flex: 0 0 36px;
                                                width: 36px;
                                                &.early_vote_3{
                                                    margin-top: -8px;
                                                    display: block;
                                                }
                                            }

                                            .boxFooterInfo {
                                                position: relative;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: flex-start;
                                                flex: 0 0 calc(100% - 40px);
                                                white-space: nowrap;
                                                text-transform: uppercase;
                                                width: calc(100% - 40px);

                                                .milesAway {
                                                    background-color: #282333;
                                                    font-family: 'Gibson';
                                                    font-size: 6.5px;
                                                    font-weight: 600;
                                                    font-stretch: normal;
                                                    font-style: normal;
                                                    line-height: 11px;
                                                    letter-spacing: 0.71px;
                                                    color: #ffffff;
                                                    display: block;
                                                    padding: 0 4px;
                                                    margin: 0 0 4px;
                                                }

                                                .pollingPlace {
                                                    line-height: 16px;
                                                    background-color: #e1b5fe;
                                                    display: block;
                                                    padding: 0 4px;
                                                    font-family: 'Gibson';
                                                    font-size: 9px;
                                                    font-weight: 600;
                                                    font-stretch: normal;
                                                    font-style: normal;
                                                    line-height: normal;
                                                    letter-spacing: 0.82px;
                                                    color: #282333;
                                                    margin: 0 0 4px;
                                                }
                                                
                                                .place {
                                                    font-family: 'Fjalla One';
                                                    font-size: 12px;
                                                    font-weight: normal;
                                                    font-stretch: normal;
                                                    font-style: normal;
                                                    line-height: 1.24;
                                                    letter-spacing: 0.5px;
                                                    color: #36313f;
                                                    margin: 0 0;
                                                    white-space: nowrap;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    width: 100%;
                                                }

                                                .backbtn {
                                                    background-image: url('../assets/img/path-3.svg');
                                                    background-color: transparent;
                                                    background-size: auto 17px;
                                                    background-position: center;
                                                    background-repeat: no-repeat;
                                                    width: 17px;
                                                    height: 17px;
                                                    position: absolute;
                                                    right: 0;
                                                    background-size: auto 100%;
                                                    background-position: center;
                                                    top: 0;
                                                    bottom: 0;
                                                    margin: auto;
                                                    left: auto;
                                                }
                                            }
                                        }

                                        &.has_slider {
                                            padding: 14px 16px;
                                            background-color: #f3f3f3;
                                            border-radius: 0;

                                            .boxFooterSlider {
                                                // overflow: auto;
                                                max-width: 100%;
                                                display: flex;
                                                flex-wrap: nowrap;
                                                margin-top: 8px;
                                                align-items: center;
                                                .fboxIteam {
                                                    // background-color: #F4E3FF;
                                                    flex: 0 0 calc(100% - 66px);
                                                    width: calc(100% - 66px);
                                                    // border: 3px solid #282333;
                                                    // padding: 6px 12px 6px 25px;
                                                    height: auto;
                                                    margin: 0px 16px 0px;
                                                    position: relative;
                                                    padding-left: 0;
                                                    padding-right: 0;

                                                    @media(max-width:360px) {
                                                        width: calc(100% - 64px);
                                                        flex: 0 0 calc(100% - 64px);
                                                        margin: 0px 6px 0px;
                                                        // border-width: 2px;
                                                    }

                                                    span.iteamIndex {
                                                        width: auto;
                                                        height: 20px;
                                                        border-radius: 1.5px;
                                                        background: #ffb357;
                                                        border: 1.88px solid #312d4d;
                                                        font-family: 'Museo Slab';
                                                        font-weight: 800;
                                                        font-size: 8px;
                                                        letter-spacing: 0.03em;
                                                        text-align: center;
                                                        color: #312d4d;
                                                        position: absolute;
                                                        top: -1px;
                                                        left: -1px;
                                                        line-height: 18px;
                                                        padding: 0 6px;
                                                        display: none;
                                                    }
                                                    .place {
                                                        font-size: 10px;
                                                    }
                                                }

                                                .prevbtn {
                                                    background-image: url('../assets/img/path-4.svg');
                                                    background-size: auto 17px;
                                                    background-position: center;
                                                    background-repeat: no-repeat;
                                                    width: 17px;
                                                    height: 17px;
                                                    flex: 0 0 auto;
                                                    // border: 3px solid #282333;
                                                    // padding: 6px 12px 6px 25px;
                                                    // height: auto;
                                                    margin: 0px 0px;
                                                    position: relative;

                                                    @media(max-width:360px) {
                                                        // padding: 6px 7px 6px 15px;
                                                        // border-width: 2px;
                                                    }
                                                }

                                                .backbtn {
                                                    background-image: url('../assets/img/path-3.svg');
                                                    background-size: auto 17px;
                                                    background-position: center;
                                                    background-repeat: no-repeat;
                                                    width: 17px;
                                                    height: 17px;
                                                    flex: 0 0 auto;
                                                    // border: 3px solid #282333;
                                                    // padding: 6px 12px 6px 25px;
                                                    // height: auto;
                                                    margin: 0px 0px 0px auto;
                                                    position: relative;

                                                    @media(max-width:360px) {
                                                        // padding: 6px 7px 6px 15px;
                                                        // border-width: 2px;
                                                    }
                                                }
                                            }
                                        }

                                    }


                                    &.boxStyle-1 {
                                        background-color: #f4f4f4;
                                        padding: 54px 36px;

                                        @media(max-width:360px) {
                                            padding: 54px 25px;
                                        }

                                        .title {
                                            font-family: 'Fjalla One';
                                            font-weight: normal;
                                            font-size: 20px;
                                            line-height: 26px;
                                            text-align: left;
                                            color: #2b2635;
                                            text-transform: uppercase;
                                            .date{
                                                color: #f05a5a;
                                            }
                                        }

                                        .rte {
                                            margin-top: 0px;
                                            margin-bottom: 0px;

                                            p {
                                                font-size: 14px;
                                                font-weight: normal;
                                                font-stretch: normal;
                                                font-style: normal;
                                                letter-spacing: 0.5px;
                                                color: #2b2635;
                                                line-height: 22px;
                                                text-align: left;
                                                margin-bottom: 0;
                                            }
                                        }

                                        .goToContactUs {
                                            font-family: 'Gibson';
                                            font-size: 10px;
                                            font-weight: normal;
                                            font-stretch: normal;
                                            font-style: normal;
                                            line-height: 13px;
                                            letter-spacing: 0.32px;
                                            color: #f9f0e0;

                                            b {
                                                font-weight: 600;
                                            }

                                        }
                                        div.btn.btn-light {
                                            background-image: url('../assets/img/ezgif.com-gif-maker.png');
                                            width: 201px;
                                            background-position: center right 10px;
                                            background-size: auto 12px;
                                            background-repeat: no-repeat;
                                            border-radius: 7px;
                                            border: solid 3px #2b2635;
                                           
                                            height: auto;
                                            font-family: 'Fjalla One';
                                            font-size: 17px;
                                            letter-spacing: 0.38px;
                                            text-align: left;
                                            color: #2b2635;
                                            padding: 0;
                                            line-height: 35px;
                                            margin: 0 0 10px;
                                            padding-right: 40px;
                                            padding-left: 10px;
                                        }
                                        button.btn.btn-light {
                                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5.1 9.35'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23282333;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M-3.913.216a.667.667,0,0,0-.984,0,.772.772,0,0,0-.048.988l.048.056,3.217,3.415L-4.9,8.09a.772.772,0,0,0-.048.988l.048.056a.666.666,0,0,0,.931.051l.053-.051L-.2,5.2a.772.772,0,0,0,.048-.988L-.2,4.153Z' transform='translate(5.1)'/%3E%3C/svg%3E");
                                            background-position: center right 10px;
                                            background-size: auto 12px;
                                            background-repeat: no-repeat;
                                            border-radius: 7px;
                                            border: solid 3px #2b2635;
                                            background-color: #f4eee2;
                                            height: auto;
                                            font-family: 'Fjalla One';
                                            font-size: 17px;
                                            letter-spacing: 0.38px;
                                            text-align: left;
                                            color: #2b2635;
                                            padding: 0;
                                            line-height: 35px;
                                            margin: 0 0 10px;
                                            padding-right: 40px;
                                            padding-left: 10px;
                                        }
                                    }
                                    &.boxStyle-3{
                                        .btn{
                                            padding: 20px 25px 17px 25px;
                                            border-radius: 15px;
                                            border: solid 3px #282333;
                                            background-color: #f2f2f2;
                                            height: auto;
                                            margin: 15px 0 30px;
                                            display: flex;
                                            align-items: center;
                                            position: relative;
                                            .msgbadge {
                                                position: absolute;
                                                line-height: 28px;
                                                font-family: 'Museo Slab';
                                                font-size: 18px;
                                                font-weight: 900;
                                                font-stretch: normal;
                                                font-style: normal;
                                                letter-spacing: -0.79px;
                                                padding: 0 5px;
                                                transform: translate(35%, -50%);
                                                right: 0;
                                                top: 5px;
                                                border-radius: 4.5px;
                                                border: solid 3px #282333;
                                                background-color: #9bd29f;
                                                color: #282333;
                                            }
                                            .vector{
                                                background-position: center;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                padding: 0;
                                                display: block;
                                                margin-right: 10px;
                                                width: 45px;
                                                height: 55px;
                                                @media(max-width:360px) {
                                                    width: 40px;
                                                    height: 50px;
                                                }
                                            }
                                            h5{
                                                font-family: 'Yanone Kaffeesatz';
                                                font-size: 25px;
                                                font-weight: 500;
                                                font-stretch: normal;
                                                font-style: normal;
                                                line-height: 0.89;
                                                letter-spacing: 1px;
                                                color: #282333;
                                                opacity: 0.76;
                                                margin: 0;
                                            }
                                            .curveSVG {
                                                position: absolute;
                                                bottom: 4px;
                                                right: 4px;
                                                svg {
                                                    display: block;
                                                }
                                                &.bulletin{color: #d2d2d2;}
                                                &.civic-job{color: #a8ccc2;}
                                                &.donate{color: #f4bc88;}
                                                &.education{color: #d7c896;}
                                                &.events{color: #afe0e1;}
                                                &.invite{color: #fde0ae;}
                                                &.lobby{color: #e1d0af;}
                                                &.rewards{color: #e9839b;}
                                                &.volunteer{color: #c4d1b3;}
                                                &.vote{color: #d5afe1;}
                                            }

                                            &.new-msg-btn{
                                                padding:15px 41px 15px 15px;
                                                background-color: #ffe1a6;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.11' height='12.065' viewBox='0 0 7.11 12.065'%3E%3Cpath id='Path_9' data-name='Path 9' d='M-4.6.254a.785.785,0,0,0-1.157,0,.908.908,0,0,0-.056,1.162l.056.066L-1.975,5.5-5.76,9.518a.908.908,0,0,0-.056,1.162l.056.066a.784.784,0,0,0,1.095.06l.062-.06L-.24,6.114A.908.908,0,0,0-.183,4.952L-.24,4.886Z' transform='translate(6.555 0.5)' fill='%23282333' stroke='%23282333' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
                                                background-position: center right 20px;
                                                background-size: auto 12px;
                                                background-repeat: no-repeat;
                                                box-shadow: 2px 3px 1px 0 #cacaca;
                                                border-radius: 15px;
                                                
                                                .new-msg-icon{
                                                    background-position: center;
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    padding: 0;
                                                    display: block;
                                                    margin-right: 10px;
                                                    width: 45px;
                                                    height: 55px;
                                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='30' viewBox='0 0 26 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23C6C6C6' d='M13 21L1 14 2 26 26 27 24 14z' transform='translate(-202 -808) translate(45 787.429) translate(157 21.571)'/%3E%3Cg%3E%3Cpath fill='%23F9F1E0' d='M12.458 18.928l-6.5-1.778c-.434-.119-.736-.514-.736-.964V10c0-.552.448-1 1-1h13c.553 0 1 .448 1 1v6.186c0 .45-.301.845-.736.964l-6.5 1.778c-.173.047-.355.047-.528 0z' transform='translate(-202 -808) translate(45 787.429) translate(157 21.571)'/%3E%3Cg fill='%23282333' stroke='%23282333' stroke-width='.601'%3E%3Cg%3E%3Cpath d='M12.33.28c.668-.373 1.754-.373 2.42 0h0l8.715 5.414c1.179.66 2.102 2.071 2.102 3.213h0v16.38c0 1.483-1.207 2.69-2.69 2.69h0-19.67c-1.484 0-2.692-1.207-2.692-2.69h0V8.907c0-1.142.924-2.554 2.103-3.213h0zm1.212 1.073c-.212 0-.415.043-.546.115h0L3.283 6.883c-.805.45-1.406 1.44-1.406 2.024h0l.002 16.38c0 .732.595 1.327 1.327 1.327h19.67c.732 0 1.328-.595 1.328-1.327h0V8.907c0-.586-.575-1.56-1.404-2.024h0l-8.715-5.415c-.13-.072-.332-.115-.543-.115zm5.432 7.236c.908 0 1.647.738 1.647 1.646h0v4.23l1.761-.81h.12v.84l-7.48 4.922c-.66.7-1.539 1.086-2.481 1.086-.94 0-1.821-.386-2.48-1.086h0l-6.48-4.922v-.84h1.08l.763.81v-4.23c0-.908-.224-1.646.685-1.646h0zm0 1.363H7.11c-.155 0-.285.13-.285.283h0V15l4.231 3.484c.398.423.924.656 1.487.656.561 0 1.088-.233 1.485-.656h0L19 15v-4.765c0-.153.127-.283-.026-.283h0z' transform='translate(-202 -808) translate(45 787.429) translate(157 21.571)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                                    @media(max-width:360px) {
                                                        width: 40px;
                                                        height: 50px;
                                                    }
                                                }
                                                h5{
                                                    opacity: 1;
                                                }
                                                .msgbadge{
                                                    font-size: 15px;
                                                    font-weight: 800;
                                                    font-stretch: normal;
                                                    font-style: normal;
                                                    line-height: normal;
                                                    letter-spacing: -0.65px;
                                                    color: #282333;
                                                    right: 30px;
                                                    top: 0;
                                                }
                                            }
                                        }
                                        .rte {
                                            margin-top: 0px;
                                            margin-bottom: 0px;
                                            padding-bottom: 30px;
                                            h6{
                                                font-family: 'Fjalla One';
                                                font-size: 15px;
                                                font-weight: normal;
                                                line-height: 20px;
                                                letter-spacing: 0.08px;
                                                color: #282333;
                                                margin: 0;
                                            }
                                            p {
                                                font-size: 14px;
                                                font-weight: 400;
                                                font-stretch: normal;
                                                font-style: normal;
                                                letter-spacing: 0.5px;
                                                color: #282333;
                                                line-height: 18px;
                                                text-align: left;
                                                margin: 5px 0 0;
                                            }
                                        }

                                    }
                                }

                                .bck-clr-design {
                                    background-color: #19171F !important;
                                    padding: 60px 0px 0px;
                                    position: relative;
                                    -webkit-box-align: flex-start;
                                    -webkit-align-items: flex-start;
                                    -ms-flex-align: flex-start;
                                    align-items: flex-start;
                                    -webkit-box-pack: flex-start;
                                    -webkit-justify-content: flex-start;
                                    -ms-flex-pack: flex-start;
                                    justify-content: flex-start;

                                    .date {
                                        font-size: 12px;
                                        line-height: 18px;
                                        color: #EDEDED;
                                        padding: 0px 22px;
                                        letter-spacing: 2.5px;
                                        font-family: 'Fjalla One';
                                        font-weight: normal;
                                        display: flex;
                                        flex-wrap: wrap;
                                    }
                                    .title {
                                        font-size: 22px;
                                        line-height: 27px;
                                        color: #EDEDED;
                                        padding: 0px 22px;
                                        letter-spacing: normal;
                                        font-family: 'Museo Slab';
                                        font-weight: 700;
                                        min-height: auto;
                                        margin-top: 4px;
                                        text-transform: capitalize;
                                    }
                                    .event {
                                        font-size: 14px;
                                        line-height: 18px;
                                        color: #EDEDED;
                                        padding: 0px 22px;
                                        letter-spacing: 2.5px;
                                        font-family: 'Gibson';
                                        font-weight: lighter;
                                    }
                                    .confirm-popup {
                                        width: 95%;
                                        margin: 35px auto 12px;
                                        background-color: #F5EDE2;
                                        padding: 34px 24px 26px;
                                        border-radius: 6px;

                                        .title {
                                            font-size: 18px;
                                            line-height: 20px;
                                            color: #19171F;
                                            // font-family: 'Fjalla One';
                                            // font-weight: normal;
                                            // letter-spacing: 0px;
                                            font-family: 'Museo Slab';
                                            font-weight: 700;
                                            letter-spacing: -0.66px;
                                            padding: 0px;
                                            margin-top: 0px;
                                        }
                                        .text {
                                            font-size: 14px;
                                            line-height: 20px;
                                            color: #19171F;
                                            font-family: 'Gibson';
                                            font-weight: normal;
                                            margin-bottom: 20px;
                                        }
                                        button {
                                            width: auto;
                                            height: 33px;
                                            line-height: 27px;
                                            border-radius: 30px;
                                            border: 3px solid #19171F;
                                            background-color: #F1E9D5;
                                            color: #2B2635;
                                            font-size: 12px;
                                            font-family: 'Museo Slab';
                                            font-weight: 900;
                                            text-transform: uppercase;
                                            padding: 0px 16px;
                                        }
                                    }

                                    
                                    .event-popup {
                                        
                                        background-color: #fff;
                                        margin: 35px auto 0px;
                                        width: calc(100% + 8px);
                                        position: absolute;
                                        bottom: 12px;
                                        left: -4px;
                                        right: 0px;
                                        
                                        border-top-left-radius: 0px;
                                        border-top-right-radius: 0px;

                                        .title {
                                            font-size: 18px;
                                            line-height: 20px;
                                            color: #19171F;
                                            font-family: 'Museo Slab';
                                            // font-weight: normal;
                                            // letter-spacing: 0px;
                                            font-weight: 700;
                                            letter-spacing: -0.66px;
                                            text-transform: capitalize;
                                            padding: 0px;
                                            margin-top: 0px;
                                        }
                                        .text {
                                            font-size: 14px;
                                            line-height: 20px;
                                            color: #19171F;
                                            font-family: 'Gibson';
                                            font-weight: normal;
                                            margin-bottom: 20px;
                                        }
                                        button {
                                            width: auto;
                                            height: 33px;
                                            line-height: 27px;
                                            border-radius: 30px;
                                            border: 3px solid #19171F;
                                            background-color: #F1E9D5;
                                            color: #2B2635;
                                            font-size: 12px;
                                            font-family: 'Museo Slab';
                                            font-weight: 900;
                                            text-transform: uppercase;
                                            padding: 0px 16px;
                                        }
                                        .link {
                                            text-align: right;
                                            font-size: 14px;
                                            line-height: 16px;
                                            color: #19171F;
                                            font-family: 'Gibson';
                                            font-weight: 600;
                                            padding-bottom: 2px;
                                            margin: 0px;
                                            text-decoration-color: #19171F;
                                            text-decoration-line: underline;
                                            text-decoration-style: solid;
                                            text-decoration-thickness: 2px;
                                        }
                                    }
                                    .registested-popup {
                                        background-color: #19171F;
                                        margin: 35px auto 0px;
                                        width: 100%;
                                        // width: calc(100% + 8px);
                                        // border-top: solid 1px #979797;
                                        // position: absolute;
                                        // bottom: -4px;
                                        // left: -4px;
                                        // right: 0px;
                                        // margin-left: -4px;
                                        // margin-right: -4px;
                                        // margin-bottom: -4px;
                                        // border-top-left-radius: 0px;
                                        // border-top-right-radius: 0px;
                                        position: relative;
                                        &:before {
                                            position: absolute;
                                            content: '';
                                            top: 0px;
                                            left: 22px;
                                            width: 45%;
                                            height: 1px;
                                            background-color: #979797;
                                        }

                                        .title {
                                            color: #f9f1e0;
                                            font-size: 16px;
                                            line-height: 1.63;
                                            font-weight: 500;
                                        }
                                        .text {
                                            color: #f5ede2;
                                        }
                                        button {
                                            width: auto;
                                            height: 33px;
                                            line-height: 27px;
                                            border-radius: 30px;
                                            border: 3px solid #19171F;
                                            background-color: #F1E9D5;
                                            color: #2B2635;
                                            font-size: 12px;
                                            font-family: 'Museo Slab';
                                            font-weight: 900;
                                            text-transform: uppercase;
                                            padding: 0px 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .tab-politics {
                padding: 30px 42px calc(env(safe-area-inset-bottom) + 110px);

                h4 {
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 30px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 36px;
                    letter-spacing: 0.75px;
                    color: #282333;
                    text-transform: uppercase;
                }

                p {
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 17px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 25px;
                    letter-spacing: 1px;
                    color: #282333;
                }

                ion-list.customeStyle.list {
                    margin: auto;
                    padding: 0 0;
                    border: 0;
                    background: transparent;

                    ion-item.item.item-block {
                        margin: 0 0 15px;
                        padding: 0;
                        border: 0;
                        background: transparent;

                        &.item-select {
                            .item-inner {
                                margin: 0;
                                padding: 0;
                            }

                            ion-select {
                                margin: 0;
                                // padding: 25px 15px;
                                border: solid 1px #181818;
                                background-color: #fcf8f2;
                                max-width: none;
                                width: 100%;
                                padding-right: 14px;

                                .select-text {
                                    font-family: 'Yanone Kaffeesatz';
                                    font-size: 17px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 25px;
                                    letter-spacing: 1px;
                                    color: #282333;
                                }
                            }
                        }

                        &.item-textarea {
                            .item-inner {
                                margin: 0;
                                padding: 25px 15px;
                                border: solid 1px #181818;
                                background-color: #fcf8f2;
                            }

                            ion-label {
                                color: #FDFCF1;
                                opacity: 0.7;
                            }

                            ion-textarea {
                                border: 0;
                                background: transparent;

                                textarea {
                                    border: 0;
                                    background: transparent;
                                    margin: 0;
                                    width: 100%;
                                    height: 200px;
                                    font-family: 'Yanone Kaffeesatz';
                                    font-size: 17px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 25px;
                                    letter-spacing: 1px;
                                    color: #282333;
                                }
                            }
                        }
                    }
                }

                .btnArea {
                    max-width: none;
                    width: auto;
                    margin-left: -6px;
                    margin-right: -6px;
                    display: flex;
                    justify-content: space-between;

                    button.btn {
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 15px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: 1.64px;
                        border-radius: 24px;
                        height: 48px;
                        line-height: 48px;
                        padding-left: 1.5em;
                        padding-right: 1.5em;
                        background: #e2b159;
                        color: #24242d;
                        width: auto;
                        margin: auto 6px;
                        display: block;
                        flex: 1 0 auto;

                        span {
                            display: inline-block;
                        }

                        &.btn-primary {
                            border-radius: 4px;
                            border: solid 2px #282333;
                            background-color: #4a4080;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

// page-home-opportunity .accordian_list .main-content .tab-support .dataCarouselWRap .dataCarousel .carousel .swiper-container .bck-clr-design < .confirm-popup.event-popup {
//     -webkit-box-shadow: 0px 3px 2px 0 #c1b294;
//     box-shadow: 0px 3px 2px 0 #c1b294;
// }
// page-home-opportunity .accordian_list .main-content .tab-support .dataCarouselWRap .dataCarousel .carousel .swiper-container .bck-clr-design < .confirm-popup.registested-popup {
//     -webkit-box-shadow: 0px 0px 0px 0 #c1b294;
//     box-shadow: 0px 0px 0px 0 #c1b294;
// }