<ion-header>
	<ion-navbar hideBackButton>
		<div class="headToolbar">
			<span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19"
					viewBox="0 0 11 19">
					<path id="Path_9" data-name="Path 9"
						d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z"
						fill="#282333" /></svg></span>
			<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg" width="20.267"
					height="20.056" viewBox="0 0 20.267 20.056">
					<g id="close" transform="translate(0.633 0.528)">
						<path id="Path"
							d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z"
							transform="translate(-0.633 -0.528)" fill="#282333" />
					</g>
				</svg></span>
		</div>
		<div class="navList">
			<div class="yourPowrscore">
				<div class="title">POWRSCORE</div>
				<div class="count">{{powerScore}}</div>
			</div>
			<div class="progressBar hide">
				<span class="active"></span>
				<span class="active"></span>
				<span></span>
				<span></span>
			</div>
			<div id="headerStrocke"></div>
		</div>
	</ion-navbar>
</ion-header>


<ion-content no-padding class="mySupport">
	<div class="addCause-top header-image">
		<div class="HeaderBox">
			<div class="headTitles">
				<div class="logotitle">CIVIC PROFILE</div>
				<h2>MY POWERSCORE</h2>
				<p>Follow the organizations below to discover ways to become engaged.</p>
			</div>
		</div>
	</div>
	<div class="main-content">
		<ion-list class="customeStyle">
			<ion-item *ngFor="let powerscore of powerScoreList">
				<ion-label>{{powerscore.type}} {{powerscore.point}}</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>