<!--
  Generated template for the LocationverifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<div class="confirm-voter-ad">
		<button ion-button (click)="hideModal()" class="ion-icon-button closeStepThreeProfile">
            <img src="./assets/img/closebtn1.svg" />
        </button >
		<div class="registerd-confirm">
			<div>
				<div class="registerd-confirm-icon">
					<img src="./assets/img/confirmed/voting/drawable-mdpi/group_24_copy.png" srcset="./assets/img/confirmed/voting/drawable-hdpi/group_24_copy.png 2x, ./assets/img/confirmed/voting/drawable-xhdpi/group_24_copy.png 3x, ./assets/img/confirmed/voting/drawable-xxhdpi/group_24_copy.png 4x" >
				</div>
			</div>
			<h3>ARE YOU A REGISTERED TO VOTE AT:</h3>
			<h4>{{addressDisplay}}</h4>
		</div>
		<button ion-button *ngIf="showValidateVoterButton" (click)="validateAddress()" class="registerd-btn validateBtn">VALIDATE VOTER REGISTRATION</button>
		<button ion-button (click)="registerAddress('registered')" class="registerd-btn">YES I AM REGISTERED HERE</button>
		<button ion-button (click)="registerAddress('voter')" class="registerd-btn">NO, BUT ITS MY PRIMARY LOCATION</button>
		<button ion-button (click)="hideModal()" class="not-registerd-btn">SEARCH AGAIN</button>
	</div>  
</ion-content>
