<!--
  Generated template for the NewSignUpWebPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>NewSignUpWeb</ion-title>
  </ion-navbar>
</ion-header>
 -->
<ion-content padding>
	<div class="newsignupPageWeb">
			<div class="newsignupContainerWeb">

				<div class="signupWebLeft">
					<div class="bx1">
						<h3>SIGN UP BELOW </h3>
						<ion-item>
							<ion-input type="text" [(ngModel)]="name" name="name" placeholder="First Name"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Last Name"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input id="googlePlaces" #Address name="address" [(ngModel)]="address" placeholder="Street Address…" type="text" ng value=""></ion-input>
						</ion-item>

						<button class="ValidateVoterReg" *ngIf="showvalidatebutton" (click)="checkVoterValidation()">VALIDATE VOTER REGISTRATION</button>

						<div class="TryAgainSection" *ngIf="voterValidationNotConfirm">
							<h4>SORRY! WE COULD NOT CONFIRM YOUR REGISTRATION</h4>
							<div><button class="TryAgain" (click)="checkVoterValidation()">TRY AGAIN?</button></div>
						</div>

						<div class="readyToVote" *ngIf="voterValidationConfirm">
							<span>
								<img src="img/confirmed/validate_voting/drawable-mdpi/group_24_copy_4.png" srcset="img/confirmed/validate_voting/drawable-hdpi/group_24_copy_4.png, img/confirmed/validate_voting/drawable-xhdpi/group_24_copy_4.png 3x, img/confirmed/validate_voting/drawable-xxhdpi/group_24_copy_4.png 4x">
							</span>
							<h4>VOTER REGISTRATION CONFRIMED!<br>YOUR READY TO VOTE!</h4>
						</div>
					</div>


					<div class="bx1">
						<ion-item>
							<ion-select [(ngModel)]="party" name="party" placeholder="Select One">
								<ion-option value="independent" >INDEPENDENT</ion-option>
								<ion-option value="libertarian" >LIBERTARIAN</ion-option>
								<ion-option value="republican" >REPUBLICAN</ion-option>
								<ion-option value="democrat" >DEMOCRAT</ion-option>
								<ion-option value="green" >GREEN</ion-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-input type="email" [(ngModel)]="email" name="email" placeholder="Email Address"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input type="number" [(ngModel)]="number" placeholder="Phone Number"></ion-input>
						</ion-item>
					</div>
				</div>
				<div class="signupWebRight">
					<div class="bx2">
						<h3>PRIVACY RULES</h3>

						<p>The information you have provided {{voiceYourVote}} in this form will be exclusively used to:</p>

						<p>Validate your voter's registration, update you on future {{voiceYourVote}} events, and provide you ongoing updates from {{voiceYourVote}}.</p>

						<ion-checkbox [(ngModel)]="privacycheckbox" name="privacycheckbox" aria-label="Checkbox 1" (ionChange)="privacyChange()">
				            <span class="checkbox-text1">LET’S DO IT.</span>
			          	</ion-checkbox>

					</div>
					
					<div class="bx1" *ngIf="insert">
						<button ion-button (click)="newSignup()" class="signupWebBtn signupWebBtn1" [disabled]="disableButton">I PLEDGE TO VOTE</button>
						<button ion-button (click)="cancelregister()" class="signupWebBtn" [disabled]="disableButton">SIGN UP WITHOUT PLEDGE</button>
						<button ion-button (click)="registered()" class="signupWebBtn">REGISTER / VALIDATE REGISTRATION</button>
					</div>
					<div class="btnbar1 btnbar2" *ngIf="edit">
						<button ion-button (click)="cancelInEdit()" class="submitBtnSignUp">Cancel</button>
						<button ion-button (click)="delete()" class="submitBtnSignUp">DELETE</button>
					</div>
				</div>

			</div>
		</div>
</ion-content>
