<ion-content parallax-header no-padding (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()" scroll-events=“true”>
  <div class="accordian_list">
    <div class="accordian_listIteam iteamHeader header-image">
      <div class="newHeaderBox">
        <div class="headerBox">
          <div class="logotitle">MY REPS & RACES</div>
          <div class="getEngaged">MY ELECTED LEADERS</div>
          <!-- <div class="loctionWrap">
            <div class="loctionBox" (click)="editAddress()">
              <span class="checkIcon"></span>
              <span class="locationText">{{shortAddress | uppercase}}</span>
              <span class="editIcon" ></span>
            </div>
          </div> -->
          <div class="dropDownWrap">
            <!-- <div class="dropDown" [ngClass]="{'hide':navMenu!='UPCOMING RACES'}">
              <button class="toggleBtns" (click)="toggleElectionDropDown()">
                <h5>{{selectedDateType | uppercase}} ELECTION - {{selectedDate | date : "MM.dd.yyyy" }}</h5>
              </button>

              <ion-item class="hide">
                <ion-label>UPCOMING ELECTIONS</ion-label>
                <ion-select #electionDrownDown [selectOptions]="ElectionDateOptions" [(ngModel)]="selectedDate">
                  <ion-option *ngFor="let electionDate of electionDates"
                    (ionSelect)="selectElectionDate(electionDate.date,electionDate.type)" value="{{electionDate.date}}">
                    {{electionDate.type | uppercase}} ELECTION - {{electionDate.date | date : "MM.dd.yyyy" }}
                  </ion-option>
                </ion-select>
              </ion-item>
            </div> -->

            <ul class="badgeList">
              <li [ngClass]="{'hide':navMenu!='CURRENT REPS'}">
                <div class="badge bg-purple">{{totalcity}} {{cityname | uppercase}}</div>
              </li>
              <li [ngClass]="{'hide':navMenu!='CURRENT REPS'}">
                <div class="badge bg-lightblue">{{totalcounty }} {{ countyname | uppercase}}</div>
              </li>
              <li [ngClass]="{'hide':navMenu!='CURRENT REPS'}">
                <div class="badge bg-violet">{{totalstate}} {{statename | uppercase }}</div>
              </li>
              <li [ngClass]="{'hide':navMenu!='CURRENT REPS'}">
                <div class="badge bg-blue">{{totalusleaders}} UNITED STATES</div>
              </li>
              <li [ngClass]="{'hide':navMenu!='UPCOMING RACES'}">
                <div class="badge bg-violet">{{racesCount}} RACES</div>
              </li>
              <li [ngClass]="{'hide':navMenu!='UPCOMING RACES'}">
                <div class="badge bg-blue">{{measureCount}} MEASURES</div>
              </li>
            </ul>
          </div>
          <!-- 
            <div class="loctionWrap">
            <div class="loctionBox" (click)="editAddress()">
              <span class="checkIcon"></span>
              <span class="locationText">{{shortAddress | uppercase}}</span>
              <span class="editIcon"></span>
            </div>
            <ion-segment [(ngModel)]="navMenu" color="primary" (ionChange)="segmentChanged($event)">
              <ion-segment-button value="CURRENT REPS">
                <span class="title civicAgenda"></span>
              </ion-segment-button>
              <ion-segment-button value="UPCOMING RACES">
                <span class="title engagement"></span>
              </ion-segment-button>
            </ion-segment>
          </div>
         -->
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="candidatesGrid" [ngClass]="{'hide':navMenu!='CURRENT REPS'}">
        <div class="loaderWrap" [ngClass]="{'hide':leaderLoaderShow==false}">
          <!-- <ion-spinner name="dots"></ion-spinner> -->
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <!-- Loop start -->
        <div *ngFor="let leader of leadersdata" class="candidatesIteam"
          [ngClass]="leader.showCandidate!='0'?'candidateactive':''" (click)="leaderDetailPage(leader)">
          <div class="candidateInner">
            <div class="embed">
              <div class="embedBg" *ngIf="leader.photo_url==''"
                [ngStyle]="{'background-image': 'url('+ leader.photo_url +')'}">
                <span>{{leader.first_name[0]}}{{leader.last_name[0]}}</span>
              </div>
              <div class="embedBg saturate" *ngIf="leader.photo_url!=''"
                [ngStyle]="{'background-image': 'url('+ leader.photo_url +')'}"></div>
             
              <span class="char bg-{{leader.party | lowercase}}" [ngClass]="{'bg-nonpartisan':leader.party==''}">r</span>
              
              <div class="votingDate  " [ngClass]="{'orange': leader.next_election_yes=='1'  }">
                {{leader.next_election_format}} <span *ngIf="leader.showCandidate!='0'" class="candidateStatus"></span>
              </div>
              <div class="candidateHeadWrapper hide">
               
                <div class="candidateHead"
                  [ngClass]="{'has-char':leader.party.trim().toLowerCase()=='democrat' || leader.party.trim().toLowerCase()=='green' || leader.party.trim().toLowerCase()=='independent' || leader.party.trim().toLowerCase()=='libertarian' || leader.party.trim().toLowerCase()=='republican' }">
                  <h5>{{leader.first_name}} {{leader.middle_name}}<br>{{leader.last_name}}</h5>
                </div>
              </div>
            </div>
            <div class="candidatesInfo">
              <div class="candidatesInfoBox">
                
              
                <h5>{{leader.prefix}}{{(leader.prefix!='')?' ':''}}{{leader.first_name}}
                  {{leader.nick_name}}{{(leader.nick_name!='')?' ':''}}{{leader.last_name}}{{(leader.suffix!='')?'
                  ':''}}{{leader.suffix}}</h5>
                <div class="jurisdictionType">
                  <h6 class="{{leader.jurisdiction_type | lowercase}}">
                    {{leader.position_title}}
                 
                  </h6>
                </div>
                <p>{{leader.coverage_area}}{{(leader.coverage_area!=''?',':'')}} {{leader.jurisdiction_name}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Loop End -->

      </div>
      <div class="elections accordian_list" [ngClass]="{'hide':navMenu!='UPCOMING RACES'}">
        <div class="loaderWrap" [ngClass]="{'hide':racesLoaderShow==false}">
          <!-- <ion-spinner name="dots"></ion-spinner> -->
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div class="accordian_listIteam" *ngFor="let measure of measuresData" (click)="measureDetail(measure)">
          <div class="iteamBox">
            <ul class="badgeList">
              <li>
                <div class="badge bg-members">BALLOT MEASURE</div>
              </li>
              <li>
                <div class="badge {{measure.jurisdiction_type | lowercase}}">{{measure.jurisdiction_name | uppercase}}
                </div>
              </li>
            </ul>
            <h2>{{measure.measure_title}}</h2>
          </div>

        </div>
        <div class="accordian_listIteam" *ngFor="let race of racesResult" (click)="raceDetail(race)">
          <div class="iteamBox">
            <p>{{race.coverage_area}}{{(race.coverage_area.trim()!='')?',':''}} {{(race.jurisdiction_type =='City' ||
              race.jurisdiction_type.trim() =='County')?race.jurisdiction_name:''}} {{race.state | uppercase}}</p>
            <h2>{{race.position_title}}</h2>
            <div class="embed-responsive">
              <div class="embed-responsive-1by1" *ngFor="let leader of getLeaders(race.leaders)">
                <div class="embed">
                  <span class="embedBg saturate" *ngIf="leader.photo_url!=''"
                    [ngStyle]="{'background-image': 'url('+ leader.photo_url +')'}"></span>
                  <span class="embedBg"
                    *ngIf="leader.photo_url==''">{{leader.first_name[0]}}{{leader.last_name[0]}}</span>
                </div>
                <span class="indicators bg-{{leader.party | lowercase}}"
                  [ngClass]="{'bg-nonpartisan':leader.party==''}"></span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>