<!--
  Generated template for the ActivityCompletedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>activityCompleted</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content> -->
<div class="activityComplete">
    <div class="activityCompleteCentered">
        <h1>ACTIVITY COMPLETE!</h1>
        <img src="img/activityComplete_icon.png" alt="" />
        <p>CHECK YOUR INBOX FOR YOUR CERTIFICATE!</p>
        <button ion-button type="button" class="finishedBtn finishedBtn-half" flex="50" (click)="goToEventCompleted()">MY INBOX
        </button>
        <button ion-button type="button" class="skipBtn finishedBtn-half" flex="50" (click)="goToEventList()">RETURN TO SCHEDULE
        </button>
    </div>
</div>