page-activity-completed {
	background-image: linear-gradient(178deg, rgba(61, 60, 76, 0.94), rgba(75, 72, 113, 0.94));
	.activityComplete {
		padding: 0px;
		color: #4f4e5f;
		font-family: 'Gibson';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99;
		object-fit: contain;
		opacity: 1;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;


		.activityCompleteCentered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
			max-height: 10%;
			margin: auto;
			display: table;
			h1 {
				color: #f7c05d;
				font-family: 'Museo Slab';
				font-weight: 700;
				font-size: 32px;
			}

			p {
				color: #fff;
				font-family: 'Museo Slab';
				font-weight: 500;
				font-size: 32px;
				margin: 30px auto 70px;
				max-width: 280px;
			}


			.finishedBtn-half {
				display: block;
				margin: 28px auto;
				width: 80%;
				max-width: none;
			}

			.finishedBtn {
				font-family: 'Museo Slab';
				font-weight: bold;
				font-size: 16px;
				line-height: 44px;
				border-radius: 24px;
				text-align: center;
				letter-spacing: 2px;
				border-radius: 24px;
				height: 42.5px;
				background: rgb(226, 177, 89) !important;
				color: rgb(36, 36, 45);
			}

			.skipBtn {
				font-family: 'Museo Slab';
				font-weight: bold;
				font-size: 16px;
				line-height: 42px;
				border-radius: 24px;
				text-align: center;
				letter-spacing: 2px;
				border-radius: 24px;
				height: 42.5px;
				background: none;
				color: #fff;
				border: 1px solid #fff;
			}
		}

	}
}
