<!--
  Generated template for the MsgDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding parallax-header #content>
    <div class="msgDetailHeader header-image">
        <!-- <a (click)="goToMailList()" class="closebtn1 "></a> -->
        <div class="back-button" (click)="returnInbox()"></div>
        <h2 *ngIf="mailDetail.type!=1 || userCompose==true">{{mailDetail.subject}}</h2>
        <h2 *ngIf="mailDetail.type==1">Poll Question</h2>
        <!--
            <h5 *ngIf="mailDetail.subject=='YOUR VOTER CONCERT PASS IS HERE'">Voice Your Vote Team,{{mailDetail.date}}</h5>
            <h5 *ngIf="mailDetail.subject!='YOUR VOTER CONCERT PASS IS HERE'">{{adminname}},{{mailDetail.date}}</h5>
        -->
    </div>
    <div class="app-container msg-detail-app-container main-content">

        <div class="msgdetail-bg">
            <div class="MsgDetailContent">
                <div id="divClipboard">
                    <div class="mainhead">
                        <p class="dateofmsg" *ngIf="userCompose==false">{{mailDetail.date}}</p>
                        
                        <h5 *ngIf="mailDetail.subject=='YOUR VOTER CONCERT PASS IS HERE'">Voice Your Vote Team</h5>
                        <h5 *ngIf="mailDetail.subject!='YOUR VOTER CONCERT PASS IS HERE'">{{(mailDetail.type==2)?mailDetail.body:adminname}}</h5>
                        <div class="poll-question" *ngIf="mailDetail.type==1">{{mailDetail.subject}}</div>
                        <div class="mailDetail" (click)="handleClick($event)" [innerHTML]="getSafehtml(mailDetail.full_body)" *ngIf="mailDetail.body!=undefined && mailDetail.type!=2"></div>
                        <div id="htmltoimage" class="mailDetail" [innerHTML]="getSafehtml(activityCertificateContent)"  *ngIf="mailDetail.type==2"></div>
                    </div>
                    <div class="mailDetail" *ngIf="mailDetail.type==1">
                        <form name="vote" id="vote">
                            <ion-list *ngIf="multipleAnswer">
                                <ion-item *ngFor="let options of mailDetail.options">
                                    <ion-label>{{options.options}}</ion-label>
                                    <ion-checkbox slot="start" name="optionllist" [(ngModel)]="typeValues[options.id]">
                                    </ion-checkbox>
                                </ion-item>
                            </ion-list>
                            <ion-list *ngIf="singleAnswer" radio-group name="optionllist" [(ngModel)]="optionValues">
                                <ion-item *ngFor="let options of mailDetail.options">
                                    <ion-label>{{options.options}}</ion-label>
                                    <ion-radio value="{{options.id}}"></ion-radio>
                                </ion-item>
                            </ion-list>

                        </form>
                    </div>
                    <div class="candidatesGrid">
                        <div *ngFor="let leader of searchdata"  (click)="showFormMailDetail(leader)" class="candidatesIteam " [ngClass]="leader.showCandidate!='0'?'candidateactive':''" >
                            <div class="candidateInner">
                                <div class="embed">
                                  <div class="embedBg" *ngIf="leader.photo_url==''"
                                    [ngStyle]="{'background-image': 'url('+ leader.photo_url +')'}">
                                    <span>{{leader.first_name[0]}}{{leader.last_name[0]}}</span>
                                  </div>
                                  <div class="embedBg saturate" *ngIf="leader.photo_url!=''"
                                    [ngStyle]="{'background-image': 'url('+ leader.photo_url +')'}"></div>
                                  
                                  <span class="char bg-{{leader.party | lowercase}}" [ngClass]="{'bg-nonpartisan':leader.party==''}">
                                   
                                  </span>
                                  <div class="votingDate  " [ngClass]="{'orange': leader.next_election_yes=='1'  }">
                                    {{leader.next_election_format}} <span *ngIf="leader.showCandidate!='0'" class="candidateStatus"></span>
                                  </div>
                                  <div class="candidateHeadWrapper hide">
                                  
                                    <div class="candidateHead"
                                      [ngClass]="{'has-char':leader.party.trim().toLowerCase()=='democrat' || leader.party.trim().toLowerCase()=='green' || leader.party.trim().toLowerCase()=='independent' || leader.party.trim().toLowerCase()=='libertarian' || leader.party.trim().toLowerCase()=='republican' }">
                                      <h5>{{leader.first_name}} {{leader.middle_name}}<br>{{leader.last_name}}</h5>
                                    </div>
                                  </div>
                                </div>
                                <div class="candidatesInfo">
                                  <div class="candidatesInfoBox">
                                    <span class="exeIcon judicial hide">JUDICIAL</span>
                                    <h5>{{leader.prefix}}{{(leader.prefix!='')?' ':''}}{{leader.first_name}}
                                      {{leader.nick_name}}{{(leader.nick_name!='')?' ':''}}{{leader.last_name}}{{(leader.suffix!='')?'
                                      ':''}}{{leader.suffix}}</h5>
                                    <div class="jurisdictionType">
                                      <h6 class="{{leader.jurisdiction_type | lowercase}}">
                                        {{leader.position_title}}
                                        
                                      </h6>
                                    </div>
                                    <p>{{leader.coverage_area}}{{(leader.coverage_area!=''?',':'')}} {{leader.jurisdiction_name}}</p>
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    
                    <div *ngFor="let maildata of usermaildetails" class="maildata">
                        <div class="MsgDetailContent1 clear">
                            <p class="dateofmsg">{{maildata.date}}</p>
                            <h5>
                                {{(maildata.user_id==user.id)?'You':maildata.first_name+ ' '+ maildata.last_name}}
                            </h5>
                            <div class="txtofmsg">
                                {{maildata.message}}
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div *ngIf="showThanx" class="poll-answer">
            <h1>
                <span>GREAT JOB!</span><br>
                THANKS FOR ANSWERING<br>
                OUR POLL!
            </h1>
            <div>
                <button ion-button (click)="returnInbox()" class="return-btn">RETURN TO INBOX</button>
                <button ion-button (click)="gotoCivicDashboard()" class="goto-btn">GO TO CIVIC DASHBOARD</button>
            </div>
        </div>
        <div class="loaderWrap" *ngIf="loaderShow">
            <ion-spinner name="dots"></ion-spinner>
            <!-- <ion-spinner name="bubbles"></ion-spinner> -->
        </div>

    </div>
</ion-content>
<ion-footer [style.height]="showEmojiPicker ? '255px' : '55px'">
    <ion-toolbar>

        <div *ngIf="mailDetail.type==1" class="btnArea">
            <button ion-button class="btn btn-success" (click)="getValues()" type="submit">SUBMIT!</button>
        </div>
        <div *ngIf="mailDetail.type==2" class="btnArea">
            <button ion-button class="btn btn-success" (click)="SaveCertificate()" type="submit">SAVE!</button>
        </div>
        <!-- *ngIf="mailDetail.type==0" -->
        <ion-list class="respondHere" id="respondHere" >
            <ion-item>
            <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
              <ion-icon name="md-happy"></ion-icon>
            </button>
            <textarea id="chat_input" #chat_input [(ngModel)]="editorMsg" (keyup.enter)="sendResponse()" (focusin)="onFocus()" placeholder="{{user.first_name}}, you can respond here!"></textarea>
            <button ion-button clear icon-only item-right (click)="sendResponse()">
              <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
            </button>
            </ion-item>
        </ion-list>
        <emoji-picker [(ngModel)]="editorMsg" ></emoji-picker>
    </ion-toolbar>
</ion-footer>