@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}  
}
page-msg-detail {
	background-color: #ececec;
	ion-footer.footer {
		border: 0 none;
		background: #f7f7f7;
	    text-align: center;
	    margin: 0;
	    padding: 0;
	    &:before {border: 0 none;background: #f7f7f7;}
		ion-toolbar.toolbar{
			background: transparent;
			padding:0;
			border: 0;
			box-shadow: none;
			.toolbar-background{display: none;}
            .btnArea {
                max-width: none;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-between;

                button.btn {
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 16px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: 5px;
                    border-radius: 24px;
                    height: 51px;
                    line-height: 45px;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                    background: #e2b159;
                    color: #24242d;
                    width: auto;
                    margin: auto 0;
                    display: block;
                    flex: 1 0 auto;
                    text-transform: uppercase;
                    span {
                        display: inline-block;
                    }
                    &.btn-primary {
                        border-radius: 5px;
                        border: solid 3px #282333;
                        background-color: #e6decc;
                        color: #282333;
                    }

                    &.btn-success {
                        border-radius: 5px;
                        border: solid 3px #282333;
                        background-color: #282333;
                        color: #ffffff;
                    }
                }
            }
			ion-list.list {
				margin: 0;
				padding: 0;
				ion-item.item.item-block{
					margin: 0 30px;
					/* padding: 20px 0; */
					border-radius: 0;
					border: 0 none;
					background: #f7f7f7;
					position: relative;
					width: auto;
					.item-inner{
						margin: 0;
						padding: 0;
						border: 0 none;
						background: transparent;
						.input-wrapper {
							margin: 0;
							padding: 0;
							background: transparent;
							border: 0 none;
							ion-textarea.input{
								textarea.text-input{
									font-family: 'Gibson';
                                    font-size: 15px;
                                    font-weight: 300;
                                    font-stretch: normal;
                                    font-style: normal;
                                    letter-spacing: normal;
                                    color: #4d4560;
                                    opacity: 1;
                                    padding: 10px 0px 0;
                                    margin: 0;
                                    height: 30px;
								}
								@include placeholder {
									color: #4d4560;
									opacity: 0.55;
								}
							}
                            textarea {
                                position: static;
                                font-family: 'Gibson';
                                font-size: 15px;
                                font-weight: 300;
                                font-stretch: normal;
                                font-style: normal;
                                letter-spacing: normal;
                                color: #4d4560;
                                opacity: 1;
                                padding: 10px 0px 0;
                                margin: 0;
                                height: 30px;
                                display: block;
                                -webkit-box-flex: 1;
                                -webkit-flex: 1;
                                -ms-flex: 1;
                                flex: 1;
                                width: 100%;
                                width: calc(100% - 8px - 8px);
                                border-radius: 0;
                                -webkit-appearance: none;
                                overflow: auto;
                                border: 0;
                                background: transparent;
                             }
						}

						button.btn.btn-secondary.btn-half {
							background: rgba(75, 60, 117, 0.03);
							border-width: 0 0 0 2px;
							border-style: solid;
							border-color: #4B3C75;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							height: auto;
							border-radius: 0;
							padding: 0;
							margin: 0;
							width: 53px;
							z-index: 10;

							svg {
								width: 18px;
								height: 18px;
							}
						}
					}
				}
	
			}

		}

	}
	ion-header.header {
		background-color: #f9f0e0;
		&:after {
			display: none;
		}
		ion-navbar.toolbar {
			overflow: unset;
			transform: none;
			contain: none;
			min-height: 0;
			.toolbar-content{
				padding: 100px 36px 10px;
			}
			button.back-button.show-back-button{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg id='noun_Arrow_2335736' transform='translate(23.72 0.708)'%3E%3Cpath id='Path_Copy' data-name='Path Copy' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_Copy_2' data-name='Path Copy 2' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
				position: absolute;
				top: 60px;
				right: 36px;
				left: auto;
				bottom: auto;
				span.button-inner{
					display: none;
				}
			}
			.menuClostBtn {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg id='noun_Arrow_2335736' transform='translate(23.72 0.708)'%3E%3Cpath id='Path_Copy' data-name='Path Copy' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_Copy_2' data-name='Path Copy 2' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
				position: absolute;
				top: 60px;
				right: 36px;
				left: auto;
				bottom: auto;
			}

		}
		.toolbar-background {
			display: none;
		}
	}
	ion-content.content{
		.msgDetailHeader{
			background-color: #f9f0e0;
			padding:80px 36px 36px;
			.back-button{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg id='noun_Arrow_2335736' transform='translate(23.72 0.708)'%3E%3Cpath id='Path_Copy' data-name='Path Copy' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_Copy_2' data-name='Path Copy 2' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
				margin: 0 0 20px auto;
				display: block;
				span.button-inner{
					display: none;
				}
			}
			h2{
				font-family: 'Fjalla One';
                font-size: 29px;
                font-weight: normal;
                line-height: 1.28;
                letter-spacing: -1.26px;
                color: #46465b;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
			}
		}


        .candidatesGrid {
            display: block;
            padding: 0px;
            background-color: #ececec;
            margin: 0 -36px;
            .candidatesIteam {
                max-width: 500px;
                display: block;
                padding: 4px 7px 0px;
                position: relative;
                margin-bottom: 0px;
                .candidateHeader {
                    .embed {
                        background: #342F42;
                        span {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.62);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 1;
                            font-family: 'Fjalla One';
                            font-weight: normal;
                            font-size: 84px;
                            text-align: center;
                            color: #fff;
                        }
                    }

                    .candidateHeaderHeader {
                        background: #2D283B;
                        border-radius: 0 0 20px 20px;
                        min-height: 200px;
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        font-family: 'Fjalla One';
                        font-weight: normal;
                        font-size: 35px;
                        line-height: 32px;
                        text-align: center;
                        color: #fff;
                    }

                }
                &.candidateactive {
                    span.candidateStatus {
                        display: inline-block !important;
                    }

                    .candidatesInfo .candidateHead {
                        background: #dd3b97;
                        display: inline-block;
                        border-radius: 3px;

                        h6 {
                            &.candidate {
                                display: block;
                            }

                            &.incumbernt {
                                display: none;
                            }
                        }
                    }
                }
                .candidateInner {
                    border-radius: 2px;
                    background: #F2F2F2;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    &.measureDetail{
                        flex-direction: column;
                        padding: 20px;
                        align-items: flex-start;
                        .badgeList {
                            list-style: none;
                            margin: 20px 0px 0px 0;
                            padding: 0;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            .badge {
                                display: block;
                                font-family: 'Fjalla One';
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 28px;
                                letter-spacing: 0.61px;
                                padding: 0 10px;
                                color: #fff;
                                border-radius: 4px;
                                margin: 0 6px 0 0 ;
                                &.badge-yes {
                                    background-color: #91b090;
                                }
                                &.badge-no {
                                    background-color: #b07789;
                                }
                            }
                        }
                        p{
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 15px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 30px;
                            letter-spacing: 1px;
                            color: #353343;
                        }
                    }


                    .embed {
                        display: block;
                        // padding-bottom: 118%;
                        position: relative;
                        border-radius: 50%;
                        // overflow: hidden;
                        border-width: 0;
                        border-style: solid;
                        flex: 0 0 75px;
                        width: 75px;
                        height: 75px;
                        align-self: center;
                        border: 6px solid #393752;
                        background-color: #47455b;
                        margin-left: 15px;
                        .embedBg {
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            bottom: -1px;
                            left: -1px;
                            border-radius: 50%;
                            display: block;
                            z-index: 1;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            object-fit: cover;
                            width: auto;
                            height: auto;
                            max-width: none;
                            &.saturate{
                                filter: saturate(25%);
                                filter: saturate(25%) grayscale(1);
                            }
                            span{
                                font-family: Gibson;
                                font-size: 28px;
                                font-weight: 600;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: -5px;
                                text-align: center;
                                color: #fff;
                                position: absolute;
                                top: 49%;
                                left: 10%;
                                right: 10%;
                                transform: translateY(-50%);
                                letter-spacing: -2px;
                            }
                        }
    
                        .char {
                            position: absolute;
                            bottom: -5px;
                            right: -5px;
                            top: auto;
                            left: auto;
                            display: block;
                            width: 28px;
                            height: 28px;
                            z-index:1;
                            background-repeat: no-repeat;
                            background-size: contain;
                            @include partys();
                        }
                        .votingDate {
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            padding: 0px 15px 0px;
                            min-height: 22px;
                            z-index: 2;
                            border: 0 none;
                            text-align: center;
                            font-family: 'Fjalla One';
                            font-weight: normal;
                            font-size: 10px;
                            letter-spacing: 0.31px;
                            line-height: 22px;
                            color: #fff;
                            text-transform: uppercase;
                            border-radius:0 0  0 6px;
                            background-color: #342f42;
                            display: none;
                            &.orange{
                                background: #FFC66D;
                                color: #342F42;
                            }
                            &.lightorange{
                                background: #FFDB7D;
                                color: #342F42;
                            }
                        }
                        
                        .candidateHeadWrapper {
                            margin: 0;
                            position: absolute;
                            top: auto;
                            right: 10px;
                            bottom: 10px;
                            left: 10px;
                            z-index: 1;
                           
                            .candidateHead{
                                border-radius: 2px;
                                background: #342f42;
                                padding: 7px 15px 7px;
                                position: relative;
                                &.has-char{
                                    padding-right: 50px;
                                }
                                h5 {
                                    color: #fff;
                                    font-family: "Yanone Kaffeesatz", sans-serif;
                                    font-size: 14px;
                                    font-stretch: normal;
                                    font-style: normal;
                                    font-weight: bold;
                                    letter-spacing: 1.04px;
                                    line-height: 1.03;
                                    margin: 0;
                                    padding: 3px 0 0;
                                    text-align: left;
                                    text-transform: none;
                                }
                            }
                            h6{
                                border-radius: 0px;
                                background: #ffbb41;
                                font-family: 'Yanone Kaffeesatz';
                                font-size: 11px;
                                font-weight: 600;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: 2px;
                                color: #342f42;
                                text-align: left;
                                padding: 5px 15px 4px;
                                margin:0;                 
                            }
    
                        }
    
                    }
    
                    .candidatesInfo {
                        border:0;
                        border-radius: 0;
                        /*
                        border-width: 3px 1px 1px;
                        border-style: solid;
                        border-color: #242042 #d7d7d7 #d7d7d7;
                        border-radius: 0 0 7px 7px;
                        */
                        padding: 0px;
                        flex: 1 1 auto;
                        .candidatesInfoBox {
                            padding: 26px 15px;
                            position: relative;
                            border-radius: 0 ;
                            // min-height:156px;
                            display:flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            .exeIcon {
                                border-radius: 3px;
                                border: solid 1px #242042;
                                background-color: #f6f6f6;
                                width: auto;
                                height: auto;
                                display: inline-block;
                                background-position: left 2px bottom 2px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                color: #342F42;
                                font-family: 'Fjalla One';
                                font-weight: normal;
                                font-size: 8px;
                                letter-spacing: 0.1em;
                                text-align: left;
                                padding: 2px 6px 2px 21px;
                                position: relative;
                                text-transform: uppercase;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 14.227 14.059'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cellipse id='Mask' cx='7.114' cy='7.029' rx='7.114' ry='7.029' transform='translate(0.365 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Executive' transform='translate(-0.365 0)'%3E%3Cellipse id='Mask-2' data-name='Mask' cx='5.114' cy='5.529' rx='5.114' ry='5.529' transform='translate(2.365 3)' fill='none'/%3E%3Cg id='Group_17' data-name='Group 17' clip-path='url(%23clip-path)'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M.274,11.9A.272.272,0,0,1,0,11.625V10.543a.272.272,0,0,1,.274-.27h.821v-2.7H.547A.273.273,0,0,1,.274,7.3V6.219a.271.271,0,0,1,.2-.261l.9-.248a3.705,3.705,0,0,1,3-3.15V1.622a.272.272,0,0,1,.274-.27H5.2V.27A.272.272,0,0,1,5.472,0H6.84a.27.27,0,1,1,0,.541H5.746v.811h.547a.272.272,0,0,1,.274.27v.939a3.705,3.705,0,0,1,3,3.15l.9.248a.271.271,0,0,1,.2.261V7.3a.273.273,0,0,1-.274.271H9.85v2.7h.821a.272.272,0,0,1,.274.27v1.082a.272.272,0,0,1-.274.27Zm.274-.54H10.4v-.541H.547ZM9.3,10.274v-2.7H8.208v2.7Zm-1.642,0v-2.7H6.566v2.7Zm-1.642,0v-2.7H4.925v2.7Zm-1.642,0v-2.7H3.283v2.7Zm-1.642,0v-2.7H1.642v2.7ZM10.123,7.03V6.424L5.472,5.147.821,6.424V7.03h9.3ZM1.946,5.554,5.4,4.606A.251.251,0,0,1,5.472,4.6a.246.246,0,0,1,.073.011L9,5.554a3.411,3.411,0,0,0-3.526-2.58A3.411,3.411,0,0,0,1.946,5.554Zm2.978-3.12H6.019V1.893H4.925Z' transform='translate(2.006 4.326)' fill='%23242042'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                &.legislative{
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 14.227 14.059'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cellipse id='Mask' cx='7.114' cy='7.029' rx='7.114' ry='7.029' transform='translate(2.33 -2.298)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='BRANCH_ICON' transform='translate(-2.33 2.298)' clip-path='url(%23clip-path)'%3E%3Cg id='noun_Pen_1216082' transform='translate(6.288 2)'%3E%3Cpath id='Shape' d='M4.816,10H1.2a.278.278,0,0,1-.274-.281V7.151L.059,6.027a.286.286,0,0,1-.032-.3L2.654.158A.276.276,0,0,1,2.9,0h.2a.277.277,0,0,1,.247.158L5.972,5.731a.284.284,0,0,1-.03.294L5.09,7.15V9.719A.278.278,0,0,1,4.816,10ZM1.479,8.487v.952H4.542V8.487ZM2.726,1.3.595,5.817l.824,1.062a.289.289,0,0,1,.059.175v.873H4.542V7.053A.281.281,0,0,1,4.6,6.881l.806-1.063L3.273,1.3V4.925a.289.289,0,0,1-.08.2A.273.273,0,0,1,3,5.206a.268.268,0,0,1-.158-.052.28.28,0,0,1-.116-.229Z' transform='translate(0 0.5)' fill='%23242042'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                    width: 46px;
                                }
                                &.judicial{
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22.627' height='22.627' viewBox='0 0 22.627 22.627'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Ccircle id='Mask' cx='8' cy='8' r='8' transform='translate(0.586 0.586)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='noun_Law_1692295' transform='translate(11.314 -0.828) rotate(45)'%3E%3Ccircle id='Mask-2' data-name='Mask' cx='8' cy='8' r='8' transform='translate(0.586 0.586)' fill='none'/%3E%3Cg id='noun_Law_1692295-2' data-name='noun_Law_1692295' clip-path='url(%23clip-path)'%3E%3Cg id='noun_Law_1692295-3' data-name='noun_Law_1692295' transform='translate(6 6.25)'%3E%3Cg id='Group'%3E%3Cpath id='Shape' d='M16.7,19.006h-.029a1.7,1.7,0,0,1-1.189-.658L7.846,9.892H7.795a.907.907,0,0,1-.64-.267l-.366-.366a16.948,16.948,0,0,1-1.642.954,1.006,1.006,0,0,1-.205.815l-.021.025-.111.11a.913.913,0,0,1-.646.27,1.008,1.008,0,0,1-.656-.253L.272,7.948a.936.936,0,0,1-.018-1.3l.128-.132A.921.921,0,0,1,1.339,6.3,9.911,9.911,0,0,1,6.266,1.365.953.953,0,0,1,6.46.412L6.606.28A.936.936,0,0,1,7.923.262L11.156,3.5a.939.939,0,0,1,0,1.319l-.111.109a.877.877,0,0,1-.844.246A16.3,16.3,0,0,1,9.28,6.772l.365.364a.906.906,0,0,1,.261.76L18.3,15.529a1.718,1.718,0,0,1,.661,1.192,2.125,2.125,0,0,1-.826,1.461A2.159,2.159,0,0,1,16.7,19.006ZM9.546,8.558h0L8.533,9.567l7.5,8.292a1.06,1.06,0,0,0,.666.417c.268,0,.56-.268.914-.618.337-.339.615-.641.6-.9a1.073,1.073,0,0,0-.421-.669L9.546,8.558ZM1.025,6.976a.185.185,0,0,0-.132.059l-.109.109a.215.215,0,0,0,0,.285L4,10.644a.215.215,0,0,0,.145.058.212.212,0,0,0,.145-.058l.095-.095a.3.3,0,0,0-.008-.31l-3.2-3.2A.277.277,0,0,0,1.025,6.976ZM6.74,1.958A9.437,9.437,0,0,0,1.928,6.742L4.777,9.588A14.419,14.419,0,0,0,6.566,8.521h.021A9.471,9.471,0,0,0,9.579,4.8L6.742,1.964v0Zm2.1,5.406A8.506,8.506,0,0,1,7.381,8.825l.288.284a.222.222,0,0,0,.308-.017L9.126,7.941a.129.129,0,0,0,.022-.03.216.216,0,0,1,.021-.047.181.181,0,0,0-.043-.208ZM7.012.907h0a.218.218,0,0,0,0,.285l3.219,3.214a.209.209,0,0,0,.288,0L10.63,4.3a.22.22,0,0,0-.022-.306L7.41.8A.274.274,0,0,0,7.254.74.2.2,0,0,0,7.122.8L7.011.915Z' transform='translate(-3.622 -3.463)' fill='%23363144'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                    background-size: auto 21px;
                                    background-position: -1px -4px;
                                }
                                &:after{
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    left: 17px;
                                    top: 0;
                                    bottom: 0;
                                    width: 1px;
                                    background: #3F3C59;
                                }
                            }
                            .jurisdictionType{
                                display:block;
                                h6 {
                                    font-family: 'Fjalla One';
                                    font-size: 20px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.42;
                                    letter-spacing: normal;
                                    color: #242042;
                                    text-align: left;
                                    margin: 0px 0 2px;
                                    padding: 2px 5px 0;
                                    position: relative;
                                    text-transform: uppercase;
                                    display: flex;
                                    // flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: center;
                                    // background-color: #4a3b70 !important;
                                    color: #fff;
                                    span{
                                        display: inline;
                                        padding: 2px 0 0;
                                    }
                                    &.city{
                                        background: #4a3b70;
                                    }
                                    &.federal{
                                        background: #374793;
                                    }
                                    &.county{
                                        background: #87b8d1;
                                    }
                                    &.state{
                                        background: #b46cb7;
                                    }
        
                                    .btnToggle {
                                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.137' height='11.406' viewBox='0 0 7.137 11.406'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23201c3d;%7D.b%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(7.368 11.878) rotate(-180)'%3E%3Crect class='a' width='7.6' height='2.85' rx='1.425' transform='translate(2.382 4.272) rotate(49)'/%3E%3Crect class='b' width='7.6' height='2.85' rx='1.425' transform='translate(2.382 4.272) rotate(49)'/%3E%3Crect class='a' width='7.6' height='2.85' rx='1.425' transform='translate(0.232 6.208) rotate(-49)'/%3E%3Crect class='b' width='7.6' height='2.85' rx='1.425' transform='translate(0.232 6.208) rotate(-49)'/%3E%3C/g%3E%3C/svg%3E");
                                        display: none;
                                        position: absolute;
                                        top: 4px;
                                        right: 10px;
                                        width: 8px;
                                        height: 12px;
                                        background-size: contain;
                                        background-position: center;
                                    }
                                }
                            }
                            h5{
                                font-family: 'Fjalla One';
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 20px;
                                letter-spacing: 0.61px;
                                color: #363547;
                                text-transform: uppercase;
                                margin: 0;
                                padding: 0;
                            }
                            p {
                                margin: 0;
                                padding: 0;
                                font-family: 'Fjalla One';
                                font-weight: normal;
                                text-align: left;
                                text-transform: uppercase;
                                font-size: 11px;
                                letter-spacing: 0.05em;
                                line-height: 15.87px;
                                color: #242042;
                            }
                        }
                    }
                }
            }
        }

		.app-container.msg-detail-app-container{
			padding: 30px 36px;
			background-color: #ececec;
            height: auto;
			.closebtn1{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg id='noun_Arrow_2335736' transform='translate(23.72 0.708)'%3E%3Cpath id='Path_Copy' data-name='Path Copy' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_Copy_2' data-name='Path Copy 2' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				width: 15px;
				height: 15px;
				margin: 0 0 0 auto;
				display: block;
			}
		
			h4{
				font-family: 'Gibson';
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 20px;
				letter-spacing: 0.39px;
				color: #48485d;
				margin: 0;
			}
			h5{
				font-family: 'Gibson';
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 20px;
				letter-spacing: 0.39px;
				color: #48485d;
				margin: 0;
			}
			.mailDetail{
				font-family: 'Gibson';
				font-size: 15px;
				font-weight: 300;
				color: #48485d;
				padding-bottom: 1px;
			}
			p{
				font-family: 'Gibson';
				font-size: 15px;
				font-weight: 300;
				line-height: 23px;
				letter-spacing: normal;
				color: #48485d;
				margin-top: 0;
			}
			.dateofmsg{
				font-family: 'Gibson';
				font-size: 12px;
				font-weight: 300;
				line-height: 12px;
				letter-spacing: normal;
				color: #48485d;
				margin: 0;
				display: none;
			}
			img{
				display: block;
				margin: auto;
				max-width: 100%;
			}
			.maildata{
				margin-bottom: 34px;
			}
			.mainhead{
				margin-bottom: 34px;
			}
		}

	}
}
