page-leaders {
	.leaders_contentWrap{
		.leaders_content{
			min-height: 100%;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding:0;
			transition: all 0.3s linear;
			height: 100%;
			margin-top: 0px;
			&.animationOut {
				overflow: hidden;
			    height: 0;
			    min-height: 0;
			}
			&.footerIn {
				padding-bottom: 86px;
			}
			ion-item.item.item-block.item-checkbox{
				flex: 1 1 auto;
				margin: 0;
				padding:16px;
				border:0 none;
				color:#fff;
				&:nth-of-type(1){background-color: rgba(104, 68, 183, 1);}
				&:nth-of-type(2){background-color: rgba(183, 68, 68, 1);}
				&:nth-of-type(3){background-color: rgba(169, 68, 183, 1);}
				&:nth-of-type(4){background-color: rgba(68, 154, 183, 1);}
				&.item-checkbox-checked:nth-of-type(1){background-color: rgba(104, 68, 183, 0.3);}
				&.item-checkbox-checked:nth-of-type(2){background-color: rgba(183, 68, 68, 0.3);}
				&.item-checkbox-checked:nth-of-type(3){background-color: rgba(169, 68, 183, 0.3);}
				&.item-checkbox-checked:nth-of-type(4){background-color: rgba(68, 154, 183, 0.3);}
				ion-checkbox.checkbox{
					order:2;
					margin:0;
					position:relative;
					.checkbox-icon{
					    width: 20px;
					    height: 20px;
					    background-color: rgba(0, 0, 0, 0.14);
					    border-radius: 0;
					    border: 0;
					    transition: all 0.3s linear;
					    padding:1px;	
						    .checkbox-inner{
					    		transition: all 0.3s linear;
							    width: 100%;
							    height: 100%;
							    background: #529984;
							    border: 2px solid #E6E6E6;
							    transform: none;
							    margin: auto;
							    padding: 0;
							    position:static;
							    opacity: 0;
						    }
					    &.checkbox-checked{
					    	background-color: rgba(255,255,255,1);
						    .checkbox-inner{
							    opacity: 1;
						    }
					    }
					}
				}
				.item-inner{
					margin: 0;
					padding:0;
					border:0 none;
					.input-wrapper{
						ion-label{
							display: flex;
							span.checkIcon {
							    height: 20px;
							    display: block;
								transition:all 0.3s linear;
							    overflow: hidden;
							    width: 0;
							    svg{
									transition:all 0.3s linear 0.3s;
									opacity: 0;
							    }
							}
							h5{
								font-family: 'Fjalla One';
								font-weight: normal;
								font-size: 4vw;
								text-align: left;
								color: #fff;
								text-transform: uppercase;
							}
							h6{
								font-family: 'Gibson';
								font-weight: 500;
								font-size: 2.8vw;
								letter-spacing: 0.07em;
								text-align: left;
								color: #fff;
								svg{
									margin-left: 5px;
									width: 1.1vw;
									height: auto;
								}
							}
						}
					}
				}
				&.item-checkbox-checked .item-inner .input-wrapper ion-label {
					span.checkIcon {
						text-align: left;
				    	width: 35px;
				    	svg {
							// transition:all 0.3s linear 0.3s;
				    		opacity: 1;
				    	}
					}
				}
			}
				.charBoxWrap{
					display: flex;
					justify-content: flex-start;
					background-color:#f9f9f9;
					align-items: center;
					padding: 10px;
					.item-inner{
						padding:0;
						ion-label.label{
							padding:0;
							margin: auto;
							display: flex;
							display: flex;
							justify-content: flex-start;
							align-items:center;
						}
					}
					.charBox {
					  width: 42px;
					  height: 42px;
					  border: solid 2px #812e7c;
					  background-color: #bb35ae;
					  font-family: 'Museo Slab', MuseoSlab-900, Museo Slab;
					  font-size: 19px;
					  font-weight: bold;
					  color:#fff;
					  letter-spacing: 1px;
					  text-align: center;
					  line-height:38px; 
					}
					.charBoxTitle{
						padding-left:10px;
						h3{
							font-family: Gibson;
							font-size: 3.8vw;
							font-weight:500;
							font-stretch: normal;
							font-style: normal;
							line-height: normal;
							letter-spacing: -0.22px;
							color: #4a4a4a;
							margin: 0;
						}
						p{
							font-family: Gibson;
							font-size: 3.8vw;
							font-weight: 300;
							font-stretch: normal;
							font-style: normal;
							line-height: normal;
							letter-spacing: normal;
							color: #222222;
							margin: 0;
						}
					}
					.polygonBtn{
						margin-left: auto;
					}
				}
		}
		.leaders_list_content{
		min-height: 100%;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding:0;
		transition: all 0.3s linear;
		min-height: 100%;
		margin-top: 0px;
		&.animationOut {
			overflow: hidden;
		    height: 0;
		    min-height: 0;
		}
		&.footerIn {
			padding-bottom: 86px;
		}
		ion-item.item.item-block.item-checkbox{
			flex: 1 1 auto;
			margin: 0;
			padding:16px;
			border:0 none;
			color:#48485A;
			background:#FCFCFC;
			border-top: 1px solid #F2F2F2;
			ion-checkbox.checkbox{
				order:2;
				margin:0;
				position:relative;
				.checkbox-icon{
				    width: 20px;
				    height: 20px;
				    background-color: rgba(0, 0, 0, 0.14);
				    border-radius: 0;
				    border: 0;
				    transition: all 0.3s linear;
				    padding:1px;	
					    .checkbox-inner{
				    		transition: all 0.3s linear;
						    width: 100%;
						    height: 100%;
						    background: #529984;
						    border: 2px solid #E6E6E6;
						    transform: none;
						    margin: auto;
						    padding: 0;
						    position:static;
						    opacity: 0;
					    }
				    &.checkbox-checked{
				    	background-color: rgba(255,255,255,1);
					    .checkbox-inner{
						    opacity: 1;
					    }
				    }
				}
			}
			.item-inner{
				margin: 0;
				padding:0;
				border:0 none;
				.input-wrapper{
					ion-label{
						display: flex;
						> .svgWrap{
							flex: 0 0 65px;
							align-self: flex-start;
							width: 65px;
							height: 65px;
							position:relative;
							svg{
								width: 100%;
								height: 100%;
								position:absolute;
								top:0;
								left:0;
								z-index: 1;
							}
							img{
							    width: 65px;
							    height: 65px;
							    object-fit: cover;
							    object-position: center;
							    border-radius:50%;
							}
						}
						.info{padding-left: 4vw;}
						.titleWrap{
							display: flex;
							align-items:center;
							span.checkIcon {
							    height: 20px;
							    display: block;
								transition:all 0.3s linear;
							    overflow: hidden;
							    width: 0;
							    svg{
									transition:all 0.3s linear 0.3s;
									opacity: 0;
							    }
							}
							h5{
							    font-family: 'Yanone Kaffeesatz';
							    font-weight: bold;
							    font-size: 6vw;
							    text-align: left;
							    color: #272736;
							    margin-top: 6px;
							}
						}
						.classWrap{
							.class{
								border-radius: 2.83px;
								background: #6844b7;
								font-weight: bold;
								font-size: 3.5vw;
								letter-spacing: 0.05em;
								text-align: left;
								color: #fff;
								display: inline-block;
								padding:2px 4px;
							}
						}
						p{
							font-family: 'Gibson';
							font-weight: 500;
							font-size:3.2vw;
							letter-spacing: 0.07em;
							text-align: left;
							color: #48485A;
							svg{
								margin-left: 5px;
								width: 1.1vw;
								height: auto;
							}
						}
					}
				}
			}
			&.item-checkbox-checked {
				background:#EEEBF2;
				.item-inner .input-wrapper ion-label{
					span.checkIcon {
						text-align: left;
				    	width: 20px;
				    	svg {
				    		opacity: 1;
				    	}
					}
				}
			}
		}
	}

	}

		.btnArea{
					max-width: none;
					width: auto;
				    margin-left: 5%;
				    margin-right: 5%;
				    display: flex;
				    justify-content:center;
					button.btn{
					    font-family: Yanone Kaffeesatz;
					    font-weight: bold;
					    font-size: 17px;
					    text-align: center;
					    letter-spacing: 2px;
					    border-radius: 24px;
					    height: 48px;
					    line-height: 48px;
					    padding-left: 1em;
					    padding-right: 1em;
					    background: #e2b159;
					    color: #24242d;
					    display: block;
					    width: 100%;
					    margin:15px 5px;
						span{display:inline-block;}
						&.btn-half{
							flex: 1 0 auto;
						    // max-width: calc(50% - 10px);
						    width: auto;
						}
						&.btn-warning{
							background: #529984;
							border: 2px solid #fff;
							box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
							color: #fff;
						}
						&.btn-secondary{
							background: #efefef;
							border: 2px solid #fff;
							box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
							color: #2d2d3c;
							&:disabled{
								opacity: 0.7;
							}
						}
					}
				}	
ion-footer.footer {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    &.animationIn {
	    height: 86px;
	}
}
	ion-footer.footer.animationOut{
		ion-toolbar.toolbar{
			.toolbar-background{
				background: #f8f8f8;
				border-top: 1px solid #fff;			
			}
		}
	}
}
