<!--
  Generated template for the LeadersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
      <div class="btnsWrap">
        <div class="btn btn-menu" *ngIf="!showLeaders" menuToggle start left><svg xmlns="http://www.w3.org/2000/svg" width="16" height="14.911" viewBox="0 0 16 14.911"><g id="Combined_Shape" data-name="Combined Shape" transform="translate(366 6118)"><path id="Combined_Shape-2" data-name="Combined Shape" d="M1.1,14.911a1.1,1.1,0,0,1,0-2.2H14.9a1.1,1.1,0,0,1,0,2.2Zm0-6.356a1.1,1.1,0,1,1,0-2.2H14.9a1.1,1.1,0,1,1,0,2.2ZM1.1,2.2A1.1,1.1,0,1,1,1.1,0H14.9a1.1,1.1,0,1,1,0,2.2Z" transform="translate(-366 -6118)" fill="#493b70"/><path id="Combined_Shape-3" data-name="Combined Shape" d="M1.1,14.911a1.1,1.1,0,0,1,0-2.2H14.9a1.1,1.1,0,0,1,0,2.2Zm0-6.356a1.1,1.1,0,1,1,0-2.2H14.9a1.1,1.1,0,1,1,0,2.2ZM1.1,2.2A1.1,1.1,0,1,1,1.1,0H14.9a1.1,1.1,0,1,1,0,2.2Z" transform="translate(-366 -6118)" fill="none"/></g></svg></div>
    <div class="btn btn-goBackBtn" *ngIf="showLeaders" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" viewBox="0 0 11.121 19.414"><path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none" stroke="#493b70" stroke-miterlimit="10" stroke-width="2"/></svg></div>
      <div class="locationSearch">
        <form class="searL"><ion-item><ion-input disabled slot="start" name="search" placeholder="{{addressOnHeader}}"></ion-input></ion-item></form>
      </div>
      <custom-header [headerData]="header_data"></custom-header>
      <div class="btn btn-search" (click)="showSearchBarSection()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22"><path fill="#493B70" fill-rule="nonzero" d="M10.554 0c5.828 0 10.554 4.725 10.554 10.554 0 2.51-.876 4.814-2.339 6.625l3.08 2.682a1.227 1.227 0 0 1-1.538 1.908l-.104-.084-3.186-2.775-.01-.008a10.508 10.508 0 0 1-6.457 2.206C4.725 21.108 0 16.382 0 10.554 0 4.725 4.725 0 10.554 0zm0 1.963a8.59 8.59 0 1 0 0 17.181 8.59 8.59 0 0 0 0-17.18zm-.107 3.704a.982.982 0 0 1-.712 1.192c-.818.206-1.454.526-1.924.954-.437.398-.77 1.027-.982 1.91a.982.982 0 0 1-1.91-.456c.298-1.242.815-2.219 1.57-2.906.724-.659 1.65-1.125 2.766-1.406a.982.982 0 0 1 1.192.712z"/></svg></div>


    </div>
  </ion-navbar>
</ion-header>
<ion-content no-padding class="leaders_contentWrap">
  <div class="searchBarSection" [ngClass]="{'animated':searchBarSection}">
    <form class="searForm">
      <ion-item>
        <ion-input slot="start" [(ngModel)]="searchValue" name="searchValue" placeholder="Search by Name or Keyword…"></ion-input>
        <ion-label position="fixed" slot="end">
          <button ion-button class="btn btn-search">
            <img class="inactive" src="./assets/img/search_inactive.svg" width="40" height="40" alt="" />
            <img class="active" (click)="searchLeader()" src="./assets/img/search_active.svg" width="40" height="40" alt="" />
          </button>
        </ion-label>
        </ion-item>
    </form>
    <!-- <div *ngIf="searchBarSection" (click)="showSearchBarSection()" class="overlaySearch"></div> -->
    <div (click)="showSearchBarSection()" class="overlaySearch"></div>
  </div>
  <ion-list class="leaders_content"  [ngClass]="{'animationOut':showLeaders, 'animationIn':!showLeaders,'footerIn':totalLeaderSelected> 0 && showLeaders==false}">
    <ion-item  *ngIf="totalcity > 0">
      <ion-label>
        <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5>{{cityname | uppercase}}, {{statename | uppercase}} </h5>
        <h6 (click)="viewAll('city')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
      </div>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="cityCheckbox" (click)="changeCheckbox(cityCheckbox,'city')" ></ion-checkbox>
    </ion-item>
    <ion-item  *ngIf="totalcounty > 0">
      <ion-label>
        <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5> <span class="countyheader" [innerHTML]="countyname"></span>, {{statename | uppercase}} </h5>
        <h6 (click)="viewAll('county')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
      </div>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="countyCheckbox"  (click)="changeCheckbox(countyCheckbox,'county')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5>{{statename | uppercase}}, USA </h5>
        <h6  (click)="viewAll('state')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
      </div>
      </ion-label>
      <ion-checkbox slot="end"  [(ngModel)]="stateCheckbox"  (click)="changeCheckbox(stateCheckbox,'state')"></ion-checkbox>
      
    </ion-item>
    <ion-item>
      <ion-label>
        <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5>UNITED STATES OF AMERICA</h5>
        <h6  (click)="viewAll('country')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
      </div>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="countryCheckbox"  (click)="changeCheckbox(countryCheckbox,'country')"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list  class="leaders_list_content" [ngClass]="{'animationIn':showCityLeaders, 'animationOut':!showCityLeaders, 'footerIn':totalLeaderSelected> 0 && showCityLeaders}">
      <ion-item  *ngFor="let citydata of leadercitydata" >
        <ion-label (click)="goToDetail(citydata.pid)">
          
          <div class="svgWrap" *ngIf="citydata.photo_url != null && citydata.photo_url != '' && citydata.photo_url != 'n/a'">
            <img alt="{{citydata.first_name}}" src="{{citydata.photo_url}}" height="65" width="65"/>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_2" *ngIf="citydata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle  cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D"  transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{citydata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
           </div>
          
          <div class="svgWrap" *ngIf="citydata.photo_url == null  || citydata.photo_url == '' || citydata.photo_url == 'n/a'">
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_3" data-name="Group 3" transform="translate(-0.999 -1.001)">
                <circle id="Oval_2" data-name="Oval 2" cx="32.5" cy="32.5" r="32.5" transform="translate(0.999 1.001)" fill="#503192"/>
                <text id="{{citydata.first_name.substring(0,1)}}{{citydata.last_name.substring(0,1)}}" transform="translate(23.001 40)" fill="#fff" font-size="20.41" font-family="Gibson-Regular, Gibson"><tspan x="0" y="0">{{citydata.first_name.substring(0,1)}}{{citydata.last_name.substring(0,1)}}</tspan></text>
                 
              </g>
              <g id="Group_2" *ngIf="citydata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D" transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{citydata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
            </div>
           

          <div class="info">
            <div class="classWrap">
              <div class="class">{{citydata.abbreviation}}</div>
            </div>
            <div class="titleWrap">
            <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
            <h5>{{citydata.position_title}}</h5>
          </div>
            <p> {{citydata.prefix}} {{citydata.first_name.replace(" ","")}} {{citydata.middle_name.replace(" ","")}} {{citydata.nick_name.replace(" ","")}} {{ citydata.last_name === null ? '':citydata.last_name.replace(" ","")}}</p>
            <p>{{ citydata.state }}, {{ citydata.coverage_area.replace(' 0', ' ') }}</p>
        </div>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="citydata.checked" (click)="changeLeaderCheckbox(citydata.checked,citydata,'city')" ></ion-checkbox>
      </ion-item>
      
  </ion-list>
  <ion-list class="leaders_list_content" [ngClass]="{'animationIn':showStateLeaders, 'animationOut':!showStateLeaders, 'footerIn':totalLeaderSelected> 0 && showStateLeaders}">
      <ion-item  *ngFor="let statedata of leaderstatedata" >
        <ion-label (click)="goToDetail(statedata.pid)">
          <div class="svgWrap" *ngIf="statedata.photo_url != null && statedata.photo_url != '' && statedata.photo_url != 'n/a'">
            <img alt="{{statedata.first_name}}" src="{{statedata.photo_url}}" height="65" width="65"/>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_2" *ngIf="statedata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle  cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D"  transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{statedata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
           </div>
          
          <div class="svgWrap" *ngIf="statedata.photo_url == null  || statedata.photo_url == '' || statedata.photo_url == 'n/a'">
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_3" data-name="Group 3" transform="translate(-0.999 -1.001)">
                <circle id="Oval_2" data-name="Oval 2" cx="32.5" cy="32.5" r="32.5" transform="translate(0.999 1.001)" fill="#503192"/>
                <text id="{{statedata.first_name.substring(0,1)}}{{statedata.last_name.substring(0,1)}}" transform="translate(23.001 40)" fill="#fff" font-size="20.41" font-family="Gibson-Regular, Gibson"><tspan x="0" y="0">{{statedata.first_name.substring(0,1)}}{{statedata.last_name.substring(0,1)}}</tspan></text>
                 
              </g>
              <g id="Group_2" *ngIf="statedata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D" transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{statedata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
            </div>
           

          <div class="info">
            <div class="classWrap">
              <div class="class">{{statedata.abbreviation}}</div>
            </div>
            <div class="titleWrap">
            <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
            <h5>{{statedata.position_title}}</h5>
          </div>
            <p> {{statedata.prefix}} {{statedata.first_name.replace(" ","")}} {{statedata.middle_name.replace(" ","")}} {{statedata.nick_name.replace(" ","")}} {{ statedata.last_name === null ? '':statedata.last_name.replace(" ","")}}</p>
            <p>{{ statedata.state }}, {{ statedata.coverage_area.replace(' 0', ' ') }}</p>
        </div>
        </ion-label>
        
        <ion-checkbox slot="end" [(ngModel)]="statedata.checked" (click)="changeLeaderCheckbox(statedata.checked,statedata,'state')" ></ion-checkbox>
      </ion-item>
  </ion-list>
  <ion-list class="leaders_list_content" [ngClass]="{'animationIn':showCountyLeaders, 'animationOut':!showCountyLeaders, 'footerIn':totalLeaderSelected> 0 && showCountyLeaders}">
      <ion-item  *ngFor="let countydata of leadercountydata" >
        <ion-label (click)="goToDetail(countydata.pid)">
          <div class="svgWrap" *ngIf="countydata.photo_url != null && countydata.photo_url != '' && countydata.photo_url != 'n/a'">
            <img alt="{{countydata.first_name}}" src="{{countydata.photo_url}}" height="65" width="65"/>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_2" *ngIf="countydata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle  cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D"  transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{countydata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
           </div>
          
          <div class="svgWrap" *ngIf="countydata.photo_url == null  || countydata.photo_url == '' || countydata.photo_url == 'n/a'">
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_3" data-name="Group 3" transform="translate(-0.999 -1.001)">
                <circle id="Oval_2" data-name="Oval 2" cx="32.5" cy="32.5" r="32.5" transform="translate(0.999 1.001)" fill="#503192"/>
                <text id="{{countydata.first_name.substring(0,1)}}{{countydata.last_name.substring(0,1)}}" transform="translate(23.001 40)" fill="#fff" font-size="20.41" font-family="Gibson-Regular, Gibson"><tspan x="0" y="0">{{countydata.first_name.substring(0,1)}}{{countydata.last_name.substring(0,1)}}</tspan></text>
                 
              </g>
              <g id="Group_2" *ngIf="countydata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D" transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{countydata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
            </div>
           

          <div class="info">
            <div class="classWrap">
              <div class="class">{{countydata.abbreviation}}</div>
            </div>
            <div class="titleWrap">
            <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
            <h5>{{countydata.position_title}}</h5>
          </div>
            <p> {{countydata.prefix}} {{countydata.first_name.replace(" ","")}} {{countydata.middle_name.replace(" ","")}} {{countydata.nick_name.replace(" ","")}} {{ countydata.last_name === null ? '':countydata.last_name.replace(" ","")}}</p>
            <p>{{ countydata.state }}, {{ countydata.coverage_area.replace(' 0', ' ') }}</p>
        </div>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="countydata.checked" (click)="changeLeaderCheckbox(countydata.checked,countydata,'county')" ></ion-checkbox>
      </ion-item>
  </ion-list>
  
  <ion-list class="leaders_list_content" [ngClass]="{'animationIn':showCountryLeaders, 'animationOut':!showCountryLeaders, 'footerIn':totalLeaderSelected> 0 && showCountryLeaders}">
      <ion-item  *ngFor="let usdata of leaderusdata" >
        <ion-label (click)="goToDetail(usdata.pid)">
          <div class="svgWrap" *ngIf="usdata.photo_url != null && usdata.photo_url != '' && usdata.photo_url != 'n/a'">
            <img alt="{{usdata.first_name}}" src="{{usdata.photo_url}}" height="65" width="65"/>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_2" *ngIf="usdata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle  cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D"  transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{usdata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
           </div>
          
          <div class="svgWrap" *ngIf="usdata.photo_url == null  || usdata.photo_url == '' || usdata.photo_url == 'n/a'">
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
              <g id="Group_3" data-name="Group 3" transform="translate(-0.999 -1.001)">
                <circle id="Oval_2" data-name="Oval 2" cx="32.5" cy="32.5" r="32.5" transform="translate(0.999 1.001)" fill="#503192"/>
                <text id="{{usdata.first_name.substring(0,1)}}{{usdata.last_name.substring(0,1)}}" transform="translate(23.001 40)" fill="#fff" font-size="20.41" font-family="Gibson-Regular, Gibson"><tspan x="0" y="0">{{usdata.first_name.substring(0,1)}}{{usdata.last_name.substring(0,1)}}</tspan></text>
                 
              </g>
              <g id="Group_2" *ngIf="usdata.party !=''" data-name="Group 2" transform="translate(2.001 -9.001)">
                <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                  <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                  <circle cx="12.5" cy="12.5" r="10.565" fill="none"/>
                </g>
                <text id="D" transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{usdata.party.substring(0,1) | uppercase }}</tspan></text>
              </g>
            </svg>
            </div>
           

          <div class="info">
            <div class="classWrap">
              <div class="class">{{usdata.abbreviation}}</div>
            </div>
            <div class="titleWrap">
            <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
            <h5>{{usdata.position_title}}</h5>
          </div>
            <p> {{usdata.prefix}} {{usdata.first_name.replace(" ","")}} {{usdata.middle_name.replace(" ","")}} {{usdata.nick_name.replace(" ","")}} {{ usdata.last_name === null ? '':usdata.last_name.replace(" ","")}}</p>
            <p>{{ usdata.state }}, {{ usdata.coverage_area.replace(' 0', ' ') }}</p>
        </div>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="usdata.checked" (click)="changeLeaderCheckbox(usdata.checked,usdata,'country')" ></ion-checkbox>
      </ion-item>
  </ion-list>
  <ion-list class="leaders_list_content" [ngClass]="{'animationIn':showSelectedLeaders, 'animationOut':!showSelectedLeaders, 'footerIn':totalLeaderSelected> 0 && showSelectedLeaders}">
      <ion-item  *ngFor="let selectedleader of selectedLeaders" >
        <ion-label>
          <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
            <g id="Group_3" data-name="Group 3" transform="translate(-0.999 -1.001)">
              <circle id="Oval_2" data-name="Oval 2" cx="32.5" cy="32.5" r="32.5" transform="translate(0.999 1.001)" fill="#503192"/>
              <text id="{{selectedleader.first_name.substring(0,1)}}{{selectedleader.last_name.substring(0,1)}}" transform="translate(23.001 40)" fill="#fff" font-size="20.41" font-family="Gibson-Regular, Gibson"><tspan x="0" y="0">{{selectedleader.first_name.substring(0,1)}}{{selectedleader.last_name.substring(0,1)}}</tspan></text>
            </g>
            <g id="Group_2" data-name="Group 2" transform="translate(2.001 -9.001)">
              <g id="Oval_2-2" data-name="Oval 2" transform="translate(36.999 48)" fill="#527a96" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="3.87">
                <circle cx="12.5" cy="12.5" r="12.5" stroke="none"/>
                <circle cx="12.5" cy="12.5" r="10.565" fill="none"/>
              </g>
              <text id="D" transform="translate(45.001 65.001)" fill="#fff" font-size="12" font-family="MuseoSlab-900, 'Museo Slab 900'" font-weight="900"><tspan x="0" y="0">{{selectedleader.party.substring(0,1) | uppercase }}</tspan></text>
            </g>
          </svg>

          <div class="info">
            <div class="classWrap">
              <div class="class">{{selectedleader.abbreviation}}</div>
            </div>
            <div class="titleWrap">
            <span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
            <h5>{{selectedleader.position_title}}</h5>
          </div>
            <p> {{selectedleader.prefix}} {{selectedleader.first_name.replace(" ","")}} {{selectedleader.middle_name.replace(" ","")}} {{selectedleader.nick_name.replace(" ","")}} {{ selectedleader.last_name === null ? '':selectedleader.last_name.replace(" ","")}}</p>
            <p>{{ selectedleader.state }}, {{ selectedleader.coverage_area.replace(' 0', ' ') }}</p>
        </div>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="selectedleader.checked" (click)="changeLeaderCheckbox(selectedleader.checked,selectedleader,'country')" ></ion-checkbox>
      </ion-item>
      
  </ion-list>


</ion-content>
<ion-footer [ngClass]="{'animationIn':totalLeaderSelected> 0,'animationOut':totalLeaderSelected==0}">
    <ion-toolbar>
        <div class="btnArea">
      <button ion-button class="btn btn-secondary btn-half" (click)="viewSelected()" flex="50">VIEW ({{totalLeaderSelected}}) SELECTED</button>
      <button ion-button class="btn btn-warning btn-half" (click)="addSelected()" flex="50">ADD SELECTED</button>
    </div>
  </ion-toolbar>
</ion-footer>