<!--
  Generated template for the LeadersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<!-- hideBackButton -->
	<ion-navbar hideBackButton>
		
      <div class="btnsWrap">
        <div class="btn btn-menu" menuToggle start left><svg xmlns="http://www.w3.org/2000/svg" width="16" height="14.911" viewBox="0 0 16 14.911"><g id="Combined_Shape" data-name="Combined Shape" transform="translate(366 6118)"><path id="Combined_Shape-2" data-name="Combined Shape" d="M1.1,14.911a1.1,1.1,0,0,1,0-2.2H14.9a1.1,1.1,0,0,1,0,2.2Zm0-6.356a1.1,1.1,0,1,1,0-2.2H14.9a1.1,1.1,0,1,1,0,2.2ZM1.1,2.2A1.1,1.1,0,1,1,1.1,0H14.9a1.1,1.1,0,1,1,0,2.2Z" transform="translate(-366 -6118)" fill="#493b70"/><path id="Combined_Shape-3" data-name="Combined Shape" d="M1.1,14.911a1.1,1.1,0,0,1,0-2.2H14.9a1.1,1.1,0,0,1,0,2.2Zm0-6.356a1.1,1.1,0,1,1,0-2.2H14.9a1.1,1.1,0,1,1,0,2.2ZM1.1,2.2A1.1,1.1,0,1,1,1.1,0H14.9a1.1,1.1,0,1,1,0,2.2Z" transform="translate(-366 -6118)" fill="none"/></g></svg></div>
        <div class="btn btn-msg">
            <div class="msgCountWrap">
                <span>2</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="21.484" height="21.921" viewBox="0 0 21.484 21.921"><g id="Combined_Shape" data-name="Combined Shape" transform="translate(112.778 6118)"><path id="Combined_Shape-2" data-name="Combined Shape" d="M17.424,21.921l-3.2-.974-.2.073a10.3,10.3,0,0,1-2.8.511l-.482.01a10.771,10.771,0,1,1,10.742-10.77,10.488,10.488,0,0,1-.736,3.907,10.106,10.106,0,0,1-1.6,2.751l.562,2.337-.14.531a2.413,2.413,0,0,1-2.119,1.624ZM14.537,18.86l3.034.923-.5-2.125a1.349,1.349,0,0,1,.152-1.125l.1-.165a8.524,8.524,0,0,0,2.074-5.6,8.654,8.654,0,1,0-8.654,8.683,8.243,8.243,0,0,0,2.977-.542l-.108.038a1.033,1.033,0,0,1,.423-.13l.2-.005ZM7.478,13.8a.9.9,0,1,1,0-1.8h4.2a.9.9,0,0,1,0,1.8Zm0-4a.9.9,0,1,1,0-1.8h6.6a.9.9,0,0,1,0,1.8Z" transform="translate(-112.778 -6118)" fill="#493b70"/><path id="Combined_Shape-3" data-name="Combined Shape" d="M17.424,21.921l-3.2-.974-.2.073a10.3,10.3,0,0,1-2.8.511l-.482.01a10.771,10.771,0,1,1,10.742-10.77,10.488,10.488,0,0,1-.736,3.907,10.106,10.106,0,0,1-1.6,2.751l.562,2.337-.14.531a2.413,2.413,0,0,1-2.119,1.624ZM14.537,18.86l3.034.923-.5-2.125a1.349,1.349,0,0,1,.152-1.125l.1-.165a8.524,8.524,0,0,0,2.074-5.6,8.654,8.654,0,1,0-8.654,8.683,8.243,8.243,0,0,0,2.977-.542l-.108.038a1.033,1.033,0,0,1,.423-.13l.2-.005ZM7.478,13.8a.9.9,0,1,1,0-1.8h4.2a.9.9,0,0,1,0,1.8Zm0-4a.9.9,0,1,1,0-1.8h6.6a.9.9,0,0,1,0,1.8Z" transform="translate(-112.778 -6118)" fill="none"/></g></svg>
            </div>

        </div>
        <div class="btn btn-search"><svg xmlns="http://www.w3.org/2000/svg" width="20.778" height="22" viewBox="0 0 20.778 22"><path id="Combined_Shape" data-name="Combined Shape" d="M19.782,22a.974.974,0,0,1-.686-.285l-4.5-4.509-.257.16-.375.223a9.442,9.442,0,1,1,2.389-1.929l-.239.269,4.376,4.387.1.123a.966.966,0,0,1-.122,1.269A.987.987,0,0,1,19.782,22ZM9.375,1.968A7.432,7.432,0,1,0,16.763,9.4,7.43,7.43,0,0,0,9.375,1.968Z" fill="#493b70"/></svg></div>
    </div>
    <!-- 
        <ion-title>{{header_data.title}}</ion-title>
        <custom-header [headerData]="header_data"></custom-header>
     -->
	</ion-navbar>
</ion-header>
 <!-- (ionScroll)="logScrolling($event)"  (ionScrollStart)="logScrollStart($event)" (ionScrollEnd)="logScrollEnd($event)" -->
<ion-content padding>
   <div class="app-container">
      <div class="content-wrapper">


<!-- List of Input Items -->
<ion-list>

  <ion-item>
    <ion-label>
      <h5>Atlanta, Georgia </h5>
      <h6>View all</h6>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>
      <h5>Atlanta, Georgia </h5>
      <h6>View all</h6>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>
      <h5>Atlanta, Georgia </h5>
      <h6>View all</h6>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>
      <h5>Atlanta, Georgia </h5>
      <h6>View all</h6>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
</ion-list>














          <address-dropdown></address-dropdown>
          <ion-list>
            <ion-item-group   *ngIf="totalcity > 0">
              <ion-item-divider (click)="ShowHideCity()" no-padding no-lines color="transparent" sticky>
                <a class="accordion-header purple">
                        <i>
                            {{totalcity}}
                        </i>
                        Leaders in {{cityname}}
                        <span class="Arrow-ic">
                        </span>
                    </a>
              </ion-item-divider>
              <ion-item [ngClass]="{'hide': IsVisibleCity==false}" *ngFor="let citydata of leadercitydata" (click)="showForm(citydata.pid)" >
                <div class="accordion-content" id="accordion-content-city">
                      <div  class="related-user purple-profile" >
                          <div class="related-user-img">
                              <p class="photo_size" *ngIf="citydata.photo_url == null  || citydata.photo_url == '' || citydata.photo_url == 'n/a'">
                                  {{citydata.first_name.substring(0,1)}}{{citydata.last_name.substring(0,1)}}
                              </p>
                              <p *ngIf="citydata.photo_url != null && citydata.photo_url != '' && citydata.photo_url != 'n/a'">
                                  <img src="{{citydata.photo_url}}"/>
                              </p>
                              <span *ngIf="citydata.party" [ngStyle]="citydata.party == 'Republican' ? {'background-image':'url(img/republican.png)'} : citydata.party == 'Democrat' ? {'background-image':'url(img/democrat.png)'} : citydata.party == 'Green' ? {'background-image':'url(img/green.png)'} : citydata.party == 'Libertarian' ? {'background-image':'url(img/libertarian.png)'} : citydata.party == 'Independent' ? {'background-image':'url(img/independant.png)'} : ''">
                              </span>
                          </div>
                          <div class="related-user-info ">
                              <div class="related-user-role cc-label ">
                                  <span class="cc ssl-cc ">
                                      {{citydata.abbreviation}}
                                  </span>
                                  <span *ngIf="citydata.showCandidate=='1' && showCityData=='true'" class="campaign_season">CAMPAIGN SEASON</span>
                                 
                                  <div class="c1c">
                                      
                                      {{citydata.prefix}} {{citydata.first_name.replace(" ","")}}
                     {{citydata.middle_name.replace(" ","")}}
                                  <span *ngIf="citydata.nick_name!=''">
                                      "{{citydata.nick_name.replace(" ","")}}"
                                  </span>
                                  {{ citydata.last_name === null ? '':citydata.last_name.replace(" ","")}}
                                  <span *ngIf="citydata.last_name!=''">
                                  </span>
                                  {{citydata.suffix === null ? '':citydata.suffix.replace(" ","")}}
                                  </div>
                              </div>
                              <strong class="related-user-name ">
                                  {{citydata.position_title}}
                              </strong>
                              <span class="related-user-location">
                                  <span *ngIf="citydata.jurisdiction_name!=''">
                                      {{ citydata.jurisdiction_name }},
                                  </span>
                                  {{ citydata.state_code }}
                                  <span *ngIf="citydata.coverage_area!=''">
                                      -
                                  </span>
                                  {{ citydata.coverage_area.replace(' 0', ' ') }}
                                  <span *ngIf="citydata.supplemental_title!=''">
                                      <br/>
                                      {{ citydata.supplemental_title }}
                                  </span>
                              </span>
                          </div>
                      </div>
                  </div>
              </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="totalcounty > 0">
              <ion-item-divider (click)="ShowHideCounty()" no-padding no-lines color="transparent" sticky>
                <a class="accordion-header purple">
                        <i>
                            {{totalcounty}}
                        </i>
                        Leaders in <span class="countyheader" [innerHTML]="countyname"></span>
                        <span class="Arrow-ic">
                        </span>
                    </a>
              </ion-item-divider>
              <ion-item [ngClass]="{'hide': IsVisibleCounty==false}" *ngFor="let countydata of leadercountydata" (click)="showForm(countydata.pid)" >
                <div class="accordion-content">
                        <div animated-if="IsVisibleCounty" animated-if-enter-callback="" animated-if-leave-callback="" class="related-user red-profile ">
                            <div class="related-user-img">
                                <p class="photo_size" *ngIf="countydata.photo_url == null || countydata.photo_url == '' || countydata.photo_url == 'n/a'">
                                    {{countydata.first_name.substring(0,1)}}{{countydata.last_name.substring(0,1)}}
                                </p>
                                <p *ngIf="countydata.photo_url != null && countydata.photo_url != '' && countydata.photo_url != 'n/a'">
                                    <img src="{{countydata.photo_url}}"/>
                                </p>
                                <span *ngIf="countydata.party" [ngStyle]="countydata.party == 'Republican' ? {'background-image':'url(img/republican.png)'} : countydata.party == 'Democrat' ? {'background-image':'url(img/democrat.png)'} : countydata.party == 'Green' ? {'background-image':'url(img/green.png)'} : countydata.party == 'Libertarian' ? {'background-image':'url(img/libertarian.png)'} : countydata.party == 'Independent' ? {'background-image':'url(img/independant.png)'} : ''">
                                </span>
                            </div>
                            <div class="related-user-info ">
                                <div class="related-user-role cc-label ">
                                    <span class="cc ssl-cc">
                                        {{countydata.abbreviation}}
                                    </span>
                                    <span *ngIf="countydata.showCandidate=='1' && showCountyData=='true'" class="campaign_season">CAMPAIGN SEASON</span>
                                    <div class="c1c">
                                        
                                        {{countydata.prefix}} {{countydata.first_name.replace(" ","")}}
                       {{countydata.middle_name.replace(" ","")}}
                                    <span *ngIf="countydata.nick_name!=''">
                                        "{{countydata.nick_name.replace(" ","")}}"
                                    </span>
                                    {{countydata.last_name === null ? '':countydata.last_name.replace(" ","")}}
                                    <span *ngIf="countydata.last_name!=''">
                                    </span>
                                    {{countydata.suffix === null ? '':countydata.suffix.replace(" ","")}}
                                    </div>
                                </div>
                                <strong class="related-user-name ">
                                    {{countydata.position_title}}
                                </strong>
                                <span class="related-user-location">
                                    <span *ngIf="countydata.jurisdiction_name!=''">
                                        {{ countydata.jurisdiction_name }} 
                                    </span>
                                    <span *ngIf="countydata.state_code=='LA'">
                                        Parish,
                                    </span>
                                    <span *ngIf="countydata.state_code=='AK'">
                                        Borough,
                                    </span>
                                    <span *ngIf="countydata.state_code!='AK' && countydata.state_code!='LA'">
                                        County,
                                    </span>
                                    {{countydata.state_code}}
                                    <span *ngIf="countydata.coverage_area!=''">
                                        -
                                    </span>
                                    {{countydata.coverage_area.replace(' 0', ' ')}}
                                    <span *ngIf="countydata.supplemental_title!=''">
                                        <br/>
                                        {{ countydata.supplemental_title }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
              </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="totalstate > 0">
              <ion-item-divider (click)="ShowHideState()" no-padding no-lines color="transparent" sticky>
                <a class="accordion-header purple">
                        <i>
                            {{totalstate}}
                        </i>
                        Leaders in {{statename}}
                        <span class="Arrow-ic">
                        </span>
                    </a>
              </ion-item-divider>
              <ion-item [ngClass]="{'hide': IsVisibleState==false}" *ngFor="let statedata of leaderstatedata" (click)="showForm(statedata.pid)" >
                <div class="accordion-content">
                        <div animated-if="IsVisibleState" animated-if-enter-callback="" animated-if-leave-callback="" class="related-user green-profile "  >
                            <div class="related-user-img">
                                <p class="photo_size" *ngIf="statedata.photo_url == null || statedata.photo_url == '' || statedata.photo_url == 'n/a'">
                                    {{statedata.first_name.substring(0,1)}}{{statedata.last_name.substring(0,1)}}
                                </p>
                                <p *ngIf="statedata.photo_url != null && statedata.photo_url != '' && statedata.photo_url != 'n/a'">
                                    <img src="{{statedata.photo_url}}"/>
                                </p>
                                <span *ngIf="statedata.party" [ngStyle]="statedata.party == 'Republican' ? {'background-image':'url(img/republican.png)'} : statedata.party == 'Democrat' ? {'background-image':'url(img/democrat.png)'} : statedata.party == 'Green' ? {'background-image':'url(img/green.png)'} : statedata.party == 'Libertarian' ? {'background-image':'url(img/libertarian.png)'} : statedata.party == 'Independent' ? {'background-image':'url(img/independant.png)'} : ''">
                                </span>
                            </div>
                            <div class="related-user-info ">
                                <div class="related-user-role cc-label ">
                                    <span class="cc ssl-cc ">
                                        {{statedata.abbreviation}}
                                    </span>
                                    <span *ngIf="statedata.showCandidate=='1' && showStateData=='true'" class="campaign_season">CAMPAIGN SEASON</span>
                                    <div class="c1c">
                                       
                                         {{statedata.prefix}} {{statedata.first_name.replace(" ","")}}
                       {{statedata.middle_name.replace(" ","")}}
                                    <span *ngIf="statedata.nick_name!=''">
                                        "{{statedata.nick_name.replace(" ","")}}"
                                    </span>
                                    {{statedata.last_name === null ? '':statedata.last_name.replace(" ","")}}
                                    <span *ngIf="statedata.last_name!=''">
                                    </span>
                                    {{statedata.suffix === null ? '':statedata.suffix.replace(" ","")}}
                                    </div>
                                </div>
                                <strong class="related-user-name ">
                                    {{statedata.position_title}}
                                </strong>
                                <span class="related-user-location">
                                    {{statename}}
                                    <span *ngIf="statedata.coverage_area!=''">
                                        -
                                    </span>
                                    {{statedata.coverage_area.replace(' 0', ' ')}}
                                    <span *ngIf="statedata.supplemental_title!=''">
                                        <br/>
                                        {{ statedata.supplemental_title }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
              </ion-item>
            </ion-item-group>

      <ion-item-group *ngIf="totalusleaders > 0">
              <ion-item-divider (click)="ShowHideUSA()" no-padding no-lines color="transparent" sticky>
                <a class="accordion-header purple">
                        <i>
                            {{totalusleaders}}
                        </i>
                        Leaders in the US
                        <span class="Arrow-ic">
                        </span>
                    </a>
              </ion-item-divider>
              <ion-item [ngClass]="{'hide': IsVisibleUSA==false}" *ngFor="let usdata of leaderusdata" (click)="showForm(usdata.pid)" >
                <div class="accordion-content">
                        <div animated-if="IsVisibleUSA" animated-if-enter-callback="" animated-if-leave-callback="" class="related-user blue-profile " >
                            <div class="related-user-img">
                                <p class="photo_size" *ngIf="usdata.photo_url == null || usdata.photo_url == '' || usdata.photo_url == 'n/a'">
                                    {{usdata.first_name.substring(0,1)}}{{usdata.last_name.substring(0,1)}}
                                </p>
                                <p *ngIf="usdata.photo_url != null && usdata.photo_url != '' && usdata.photo_url != 'n/a'">
                                    <img src="{{usdata.photo_url}}"/>
                                </p>
                                <span *ngIf="usdata.party" [ngStyle]="usdata.party == 'Republican' ? {'background-image':'url(img/republican.png)'} : usdata.party == 'Democrat' ? {'background-image':'url(img/democrat.png)'} : usdata.party == 'Green' ? {'background-image':'url(img/green.png)'} : usdata.party == 'Libertarian' ? {'background-image':'url(img/libertarian.png)'} : usdata.party == 'Independent' ? {'background-image':'url(img/independant.png)'} : ''">
                                </span>
                            </div>
                            <div class="related-user-info ">
                                <div class="related-user-role cc-label ">
                                    <span class="cc ssl-cc">
                                        {{usdata.abbreviation}}
                                    </span>
                                    <span *ngIf="usdata.showCandidate=='1' && showusData=='true'" class="campaign_season">CAMPAIGN SEASON</span>
                                    <div class="c1c">
                                        
                                         {{usdata.prefix}} {{usdata.first_name.replace(" ","")}}
                       {{usdata.middle_name.replace(" ","")}}
                                    <span *ngIf="usdata.nick_name!=''">
                                        "{{usdata.nick_name.replace(" ","")}}"
                                    </span>
                                    {{usdata.last_name === null ? '':usdata.last_name.replace(" ","")}}
                                    <span *ngIf="usdata.last_name!=''">
                                    </span>
                                    {{usdata.suffix === null ? '':usdata.suffix.replace(" ","")}}
                                    </div>
                                </div>
                                <strong class="related-user-name ">
                                   {{usdata.position_title}}
                                </strong>
                                <span class="related-user-location">
                                    <span *ngIf="usdata.jurisdiction_name!=''">
                                        {{usdata.jurisdiction_name}}
                                    </span>
                                    <span *ngIf="usdata.jurisdiction_name!='' && usdata.coverage_area!=''">-</span>
                                    <span *ngIf="usdata.coverage_area!=''">
                                        {{usdata.coverage_area.replace(' 0', ' ')}}
                                    </span>
                                    <span *ngIf="usdata.supplemental_title!=''">
                                        <br/>
                                        {{ usdata.supplemental_title }}
                                    </span>

                                </span>
                            </div>
                        </div>
                    </div>
              </ion-item>
            </ion-item-group>

          </ion-list>

        
      </div>    
  </div>
  
</ion-content>

