<!--
  Generated template for the ConfirmAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
	<form method="post" name="customSearchform" >
		<div class="app-container Influprofiletwo">

			<div class="confirm-voter-ad">
				<div class="registerd-confirm">
					<div>
						<div class="registerd-confirm-icon">
							<img src="./assets/img/home-ic.svg" width="41.55">
							<img class="confirm-ic" src="./assets/img/registerd-confirm.png" width="24.05">
						</div>
					</div>
					<h3>SAVE & LABEL THE LOCATION BELOW</h3>
					<h4>{{address}} 

						<button ion-button class="ion-icon-button">
							<ion-icon>
								<img src="./assets/img/pencil-edit.png">
							</ion-icon>
						</button>
					</h4>
					
						<ion-select [(ngModel)]="location" name="location" placeholder="SAVE LOCATION AS…">
							<ion-option value="Registered Voting Location">
								<img src="./assets/img/multiple/voting/drawable-mdpi/group_3.png"
	                                srcset="./assets/img/multiple/voting/drawable-hdpi/group_3.png 2x,
	                                ./assets/img/multiple/voting/drawable-xhdpi/group_3.png 3x, ./assets/img/multiple/voting/drawable-xxhdpi/group_3.png 4x"> Registered Voting Location
							</ion-option>
							<ion-option value="Work Location">
								<img src="./assets/img/multiple/work/drawable-mdpi/group_3.png"
	                                srcset="./assets/img/multiple/work/drawable-hdpi/group_3.png 2x,
	                                ./assets/img/multiple/work/drawable-xhdpi/group_3.png 3x, ./assets/img/multiple/work/drawable-xxhdpi/group_3.png 4x"> Work Location
							</ion-option>
							<ion-option value="Primary Residence">
								<img src="./assets/img/multiple/primary/drawable-mdpi/group_3_copy_19.png"
	                                srcset="./assets/img/multiple/primary/drawable-hdpi/group_3_copy_19.png 2x,
	                                ./assets/img/multiple/primary/drawable-xhdpi/group_3_copy_19.png 3x, ./assets/img/multiple/primary/drawable-xxhdpi/group_3_copy_19.png 4x"> Primary Residence
							</ion-option>
							<ion-option value="School Location">
								<img src="./assets/img/multiple/university/drawable-mdpi/group_3_copy_16.png"
	                                srcset="./assets/img/multiple/university/drawable-hdpi/group_3_copy_16.png 2x,
	                                ./assets/img/multiple/university/drawable-xhdpi/group_3_copy_16.png 3x, ./assets/img/multiple/university/drawable-xxhdpi/group_3_copy_16.png 4x"> School Location
							</ion-option>
							<ion-option *ngFor=" let volunteer of volunteerList" value="{{volunteer.id}}">
								<img src="./assets/img/multiple/volunteer/drawable-mdpi/group_23.png"
	                                srcset="./assets/img/multiple/volunteer/drawable-hdpi/group_23.png 2x,
	                                ./assets/img/multiple/volunteer/drawable-xhdpi/group_23.png 3x, ./assets/img/multiple/volunteer/drawable-xxhdpi/group_23.png 4x">{{volunteer.name}} Volunteer
							</ion-option>
							
							

							<ion-option value="Custom Location">
								<img src="./assets/img/multiple/custom/drawable-mdpi/group_3_copy_15.png"
	                                srcset="./assets/img/multiple/custom/drawable-hdpi/group_3_copy_15.png 2x,
	                                ./assets/img/multiple/custom/drawable-xhdpi/group_3_copy_15.png 3x, ./assets/img/multiple/custom/drawable-xxhdpi/group_3_copy_15.png 4x"> Custom Location
							</ion-option>
						</ion-select>
						<label>LOCATION NAME</label>
					

					
						<ion-input name="customLocation" [(ngModel)]="customLocation" id="customAddress" *ngIf="location == 'Custom Location'" placeholder="Enter Location Title"></ion-input>
					

					<button ion-button (click)="registeredHere(location)" class="registerd-btn">SAVE LOCATION</button>
				</div>


				<div class="skipBottom"></div>
				<div class="skipBottomFix"><button ion-button (click)="donotsaveaddress()" class="not-registerd-btn">SKIP & DON’T SAVE</button></div>

			</div>  
		</div>        
	</form>
</ion-content>
