<!--
  Generated template for the FollowLeaderModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
	<div class="followPopup">
		<div class="followPopupHeader">Please Select One Option.</div>


		<div class="followPopupContent">
			<ul>
				<li id="onlyfollowers"  [ngClass]="{'active':onlyfollowers==true}" class="active" (click)="followedLeader('0')">
					<h5>Only Following <div><img src="./assets/imgstart_1.svg"></div></h5>
					<h6>PRIVATE</h6>
					<p>Get news mentions, events, and updates about this official, Privately.</p>
				</li>
				<li id="followers" [ngClass]="{'active':followers==true}" (click)="followedLeader('1')">
					<h5>Follow & Endorse <div><img src="./assets/imgheart_1.svg"></div></h5>
					<h6>PUBLIC</h6>
					<p>Updates, News & Events with a <b>Public Endorsement that lets everyone know you support this official.</b></p>
				</li>
			</ul>
			<button ion-button [disabled]="followers==false && onlyfollowers==false" (click)="finishedfollowprocess()">FINISHED</button>
		</div>
	</div>
</ion-content>
