page-endorse-modal {
    &.ion-page.show-page {
        background: rgba(71, 69, 91, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ion-footer.footer {
        border: 0 none;
        background: transparent;
        text-align: center;
        margin:50px 0 0;
        padding: 0;
        position: static;

        &:before {
            border: 0 none;
            background: transparent;
        }

        .btnArea {
            max-width: none;
            width: auto;
            margin-left: -6px;
            margin-right: -6px;
            display: flex;
            justify-content: space-between;

            button.btn {
                height: 66px;
                line-height: 66px;
                padding-left: 1.5em;
                padding-right: 1.5em;
                width: auto;
                margin: auto 6px;
                display: block;
                flex: 1 0 auto;
                text-transform: uppercase;
                font-family: 'Fjalla One';
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0.34px;
                border: solid 2px #181818;
                background-color: #181818;
                color: #ffffff;
                border-radius: 0px;

                span {
                    display: inline-block;
                }
            }
        }

    }

    .endorseInformation {
        background: #f9f0e0;
        border: 0px none #f9f0e0;
        width: 82%;
        span.closeModel {
            width: 14px;
            height: 14px;
            display: block;
            margin: 35px 30px 20px auto;
            svg{
                height: 14px;
                width: 14px;
                display: block;
            }
        }
        h2 {
            margin: 0px 30px 20px;
            padding: 0;
            text-transform: uppercase;
            font-family: 'Fjalla One';
            font-size: 25px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #181818;
        }

        ion-list.customeStyle.list {
            margin: auto;
            padding: 0 30px;
            border: 0;
            background: transparent;
            ion-note.note {
                font-size: 12px;
                line-height: 12px;
                text-align: left;
                color: rgba(253, 252, 241, 0.7);
                opacity: 1;
                margin-top: 10px;
            }
            p {
                font-family: 'Gibson';
                font-size: 13.6px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #3c3c3c;
            }
            ion-item.item.item-block {
                margin: 0;
                padding: 0;
                border: 0;
                background: transparent;
                &.item-textarea{
                    .item-inner {
                        margin: 0;
                        padding: 25px 15px;
                        border: solid 1px #181818;
                        background-color: #fcf8f2;
                    }
                    ion-label {
                        color: #FDFCF1;
                        opacity: 0.7;
                    }
                    ion-textarea {
                        border: 0;
                        background: transparent;
                        textarea {
                            border: 0;
                            background: transparent;
                            margin: 0;
                            width: 100%;
                            color: #FDFCF1;
                            font-size: 16px;
                            height: 200px;
                            font-family: 'Gibson';
                            font-weight: 300;
                            font-size: 17px;
                            line-height: 24.87px;
                            color: #3c3c3c;
                        }
                    }
                }
            }
            &.inline {
                display: flex;
                justify-content: flex-start;

                ion-item.item.item-block.item-checkbox {
                    flex: 0 1 auto;
                    width: auto;
                    &:nth-of-type(1n+2){
                        margin-left: 22px;
                    }
                    ion-checkbox.checkbox {
                        order: 0;
                        margin-right: 10px;
                        .checkbox-icon {
                            border-radius: 0;
                            background: transparent;
                            border: solid 1px #181818;
                            .checkbox-inner {
                                border-color: #000;
                            }
                        }
                    }

                    .item-inner {
                        border: 0 none;
                    }

                    ion-label {
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 1.83px;
                        color: #222222;
                        opacity: 1;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}