<div class="endorseInformation">
  <span class="closeModel" (click)="closeModel()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
  
  <h2>FOLLOW &/OR ENDORSE<br>{{leaderDetail.first_name | uppercase}} {{leaderDetail.last_name | uppercase}}</h2>


  <ion-list class="customeStyle inline">
    <ion-item>
      <ion-label>ENDORSE<br>& FOLLOW</ion-label>
      <ion-checkbox [(ngModel)]="endorseFollow" (ionChange)="onlyFollow=!endorseFollow" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>ONLY<br>FOLLOW</ion-label>
      <ion-checkbox [(ngModel)]="onlyFollow" (ionChange)="endorseFollow=!onlyFollow"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-list class="customeStyle">
    <p>Endorse with a positive and public statement for our community & follow for updates and communication from this
      official.</p>
    <ion-item>
      <ion-textarea [(ngModel)]="statement" placeholder="Type a public statement that support the great work {{leaderDetail.first_name}} has done for you or your community…"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-footer>
    <div class="btnArea">
      <button ion-button class="btn btn-warning" (click)="submitDetails()">SUBMIT ENDORSEMENT</button>
    </div>
  </ion-footer>
</div>