page-take-action {
    ion-content.content {
        .accordian_list {
            background-color: #f6f6f6 !important;
            display: flex;
            flex-direction: column;
            min-height: 100%;

            .accordian_listIteam {
                flex: 0 0 auto;
                @include clearfix();

                &.iteamHeader {
                    flex: 0 0 auto;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    padding: 162px 28px 24px;
                    background-color: #f0eaff;
                    border-radius: 0 0 12px 12px;
                    margin-left: 7px;
                    margin-right: 7px;

                    h2 {
                        font-family: 'Fjalla One';
                        font-size: 40px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.08;
                        letter-spacing: normal;
                        color: #353647;
                        text-transform: uppercase;
                    }

                    >svg {
                        margin-top: 30px;
                        margin-bottom: 16px;
                    }

                    .badgeList {
                        list-style: none;
                        margin: 0 -7px 0;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            margin: 0;
                            padding: 0;

                            .badge {
                                display: block;
                                font-family: 'Fjalla One';
                                font-size: 19px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.59;
                                letter-spacing: normal;
                                color: #fff;
                                padding: 0 10px;
                                margin: 0px;
                                text-transform: uppercase;

                                &.bg-purple {
                                    background-color: #4a3b70;
                                }

                                &.bg-lightblue {
                                    background-color: #87b8d1;
                                }

                                &.bg-violet {
                                    background-color: #b46cb7;
                                }

                                &.bg-lightpink {
                                    background-color: #f7d1d1;
                                }

                                &.bg-pink {
                                    background-color: #ff9797;
                                }

                                &.bg-republican {
                                    background-color: #C94643
                                }

                                &.bg-democrat {
                                    background-color: #405AA6
                                }

                                &.bg-libertarian {
                                    background-color: #7F3FD6
                                }

                                &.bg-green {
                                    background-color: #39A337
                                }

                                &.bg-green-party {
                                    background-color: #39A337
                                }

                                &.bg-independent {
                                    background-color: #737373
                                }

                                &.bg-nonpartisan {
                                    background-color: #000;
                                }

                                &.bg-non-partisan {
                                    background-color: #000;
                                }

                                &.bg-write-in {
                                    background-color: #000;
                                }

                                &.bg-gray {
                                    background-color: #5F5F5F;
                                }

                                &.bg-blue {
                                    background-color: #374793;
                                }
                            }
                        }
                    }
                }
            }
            .main-content{
                background-color: #f6f6f6;
                display: flex;
                flex-wrap: wrap;
                padding: 15px 14% 110px;
                padding: 15px 14%  calc(env(safe-area-inset-bottom) + 110px);
                .accordian_listIteam{
                    flex: 0 0 50%;
                    padding: 25px 0;
                    border-bottom: 1px solid #c0c0c0;
                    &:nth-of-type(2n+2){
                        border-left: 1px solid #c0c0c0;
                    }
                    .icon{
                        height: 50px;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: block;
                        position: relative;
                        max-width:95px;
                        margin: auto;
                        &.icon_1{
                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 74 42'%3E%3Cdefs%3E%3Cpath id='p1cltsh4ma' d='M0.583 9.119L7.241 8.965 17.504 0.022 34.236 1.696 32.222 17.568 23.685 16.782 19.793 17.96 18.614 24.637 0.636 24.635z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%233E3D52' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.041' d='M0.782 27.615L31.652 29.157' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) rotate(-3.108 16.217 28.386)'/%3E%3Cpath stroke='%233E3D52' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.041' d='M42.439 27.697L70.294 29.075' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) rotate(-3.108 56.366 28.386)'/%3E%3Cpath stroke='%23A1A0B5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.57' d='M1.117 30.021L70.151 33.509' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) rotate(-3.108 35.634 31.765)'/%3E%3Cg%3E%3Cpath fill='%233E3D52' fill-rule='nonzero' stroke='%23FFF' stroke-width='.78' d='M33.144 16.839l-1.909 2.067L19.622 31.48 8.009 18.906 6.1 16.839c-1.415-1.529-2.206-3.607-2.198-5.771-.008-2.165.783-4.243 2.198-5.771 1.412-1.532 3.331-2.389 5.33-2.38 2.02 0 3.913.846 5.33 2.38l1.91 2.066c.526.57 1.379.57 1.905 0l1.909-2.066c1.412-1.532 3.331-2.388 5.33-2.38 2.02 0 3.914.846 5.33 2.38 1.415 1.529 2.206 3.607 2.197 5.77.009 2.165-.782 4.243-2.197 5.772M35.05 3.234C33.133 1.153 30.528-.012 27.814 0c-2.74 0-5.31 1.149-7.235 3.234l-.957 1.035-.956-1.035C16.75 1.153 14.144-.011 11.43 0 8.716-.012 6.11 1.153 4.194 3.234c-1.922 2.074-2.997 4.895-2.986 7.834-.011 2.938 1.064 5.76 2.986 7.834l1.91 2.067L18.67 34.574c.263.285.607.427.952.427s.69-.142.953-.427L33.14 20.97l1.908-2.067c1.923-2.075 2.998-4.896 2.987-7.834 0-2.967-1.06-5.749-2.987-7.834' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) translate(16.693)'/%3E%3Cpath stroke='%23A1A0B5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.811' d='M20.052 9.226L19.307 27.676' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) translate(16.693) rotate(-3.108 19.68 18.451)'/%3E%3Ctext fill='%23000' fill-rule='nonzero' font-family='Helvetica-Bold, Helvetica' font-size='.151' font-weight='bold' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) translate(16.693)'%3E%3Ctspan x='.186' y='38.819'%3ECreated by Duncan Cleary%3C/tspan%3E%3C/text%3E%3Ctext fill='%23000' fill-rule='nonzero' font-family='Helvetica-Bold, Helvetica' font-size='.151' font-weight='bold' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) translate(16.693)'%3E%3Ctspan x='.186' y='38.819'%3Efrom the Noun Project%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cpath stroke='%23A1A0B5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.64' d='M5.75 18.325l8.572-.028M8.252 15.3h2.963M2.59 11.496H14.95m-.686-3.66h1.118' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863)'/%3E%3Cpath fill='%23FFF' d='M45.628 26.81c7.764 0 19.738-.97 19.738-9.154S62.308 3.263 54.544 3.263c-7.764 0-17.294 6.209-17.294 14.393 0 8.183.614 9.153 8.378 9.153z' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863)'/%3E%3Cg transform='translate(-79 -502) translate(51 313) translate(29.14 190.863) translate(36.199 .636)'%3E%3Cmask id='6olphks7hb' fill='%23fff'%3E%3Cuse xlink:href='%23p1cltsh4ma'/%3E%3C/mask%3E%3Cg fill='%233E3D52' fill-rule='nonzero' stroke='%233E3D52' stroke-linejoin='round' stroke-width='.604' mask='url(%236olphks7hb)'%3E%3Cpath d='M2.991 25.48c0-.205.178-.372.398-.372.22 0 .398.167.398.373v3.729c0 .206-.179.372-.398.372H.207c-.22 0-.398-.166-.398-.372V4.598c0-.206.178-.373.398-.373h3.182c.22 0 .398.167.398.373v3.729c0 .206-.179.373-.398.373-.22 0-.398-.167-.398-.373V4.97H.605v4.848h7.994l5.103-4.378c.073-.063.168-.097.267-.097h20.444c.22 0 .397.167.397.373s-.178.373-.397.373H14.128L9.753 9.819h3.866l2.052-1.76c.163-.14.415-.129.563.024.148.152.137.388-.026.527l-6.153 5.288.024.436 2.211.571 2.22-1.119 1.678-1.435c.098-.084.234-.116.362-.086l2.72.619 2.248-1.067 1.909-1.626c.105-.09.253-.12.39-.08.135.04.237.146.268.276.03.13-.016.266-.121.356L22.03 12.4c-.026.022-.056.041-.088.056l-2.426 1.152c-.085.04-.182.051-.274.03l-.74-.168v2.689h.314l3.58-2.58c.083-.061.19-.088.294-.075l3.226.373c.2.024.348.184.346.373v.044c-.013.099-.067.189-.15.25-.085.06-.19.087-.296.075l-3.062-.373-3.58 2.566c-.07.05-.157.078-.246.078h-.426v5.608c0 .824-.712 1.492-1.591 1.492H.605v4.848H2.99V25.48zm13.921-2.237c.44 0 .795-.334.795-.746v-9.21l-1.137-.258-1.555 1.335c-.024.02-.051.038-.08.052l-2.386 1.22c-.09.045-.196.056-.295.03l-2.66-.683c-.165-.043-.282-.18-.29-.34l-.053-.883c-.006-.11.04-.219.128-.294l.342-.295H7.764c-.22 0-.398-.167-.398-.373s.178-.373.398-.373h2.82l2.184-1.864H.605v7.83h1.193c.22 0 .398.168.398.374 0 .205-.179.372-.398.372H.605v1.492h1.193c.22 0 .398.167.398.373s-.179.373-.398.373H.605v1.868h16.307zm-12.25-4.102h2.784c.22 0 .397-.167.397-.373s-.178-.373-.397-.373H4.662c-.22 0-.398.167-.398.373s.178.373.398.373zm0 2.238h4.375c.22 0 .397-.167.397-.373s-.178-.373-.397-.373H4.662c-.22 0-.398.167-.398.373s.178.373.398.373zm7.875-1.12v-2.237c0-.206.178-.372.398-.372h2.386c.22 0 .398.166.398.372v2.238c0 .206-.178.373-.398.373h-2.386c-.22 0-.398-.167-.398-.373zm2.386-.372v-1.492h-1.59v1.492h1.59z'/%3E%3C/g%3E%3C/g%3E%3Cpath stroke='%23A1A0B5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.811' d='M23.995 11.863c-.022-1.34.307-2.468.987-3.383.68-.915 1.5-1.469 2.46-1.66' transform='translate(-79 -502) translate(51 313) translate(29.14 190.863)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            background-size: auto 42px;
                        }
                        &.icon_2{
                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 95 42'%3E%3Cdefs%3E%3Cpath id='dt8p2z882a' d='M0 0H93.15V40.803H0z'/%3E%3Cpath id='j8jaa6q10c' d='M0 0H76.763V34.456H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-262 -666) translate(51 313) translate(211.414 353.3)'%3E%3Cmask id='088f0ycbnb' fill='%23fff'%3E%3Cuse xlink:href='%23dt8p2z882a'/%3E%3C/mask%3E%3Cg mask='url(%23088f0ycbnb)'%3E%3Cg transform='translate(2.587 .907)'%3E%3Cg fill-rule='nonzero'%3E%3Cpath fill='%233E3D52' d='M16.575 78.388V17.73c-3.314-.208-5.932-2.99-5.932-6.396h1.637c0 2.492 1.881 4.527 4.295 4.734v-5.15h1.637v67.47c0 3.53-2.864 6.438-6.342 6.438v-1.662c2.578 0 4.705-2.16 4.705-4.776z' transform='translate(42.336)'/%3E%3Cpath fill='%23A1A0B5' d='M29.48 27.715c1.307-1.18 2.092-2.784 2.179-4.556.087-1.73-.567-3.417-1.787-4.682l-1.264 1.139c.915.97 1.351 2.193 1.307 3.501-.043 1.308-.61 2.49-1.612 3.375l1.177 1.223z' transform='translate(42.336)'/%3E%3Cpath fill='%233E3D52' d='M26.58 19.801h-1.627c0 2.462-1.872 4.472-4.273 4.677v-8.082c1.546-.082 2.97-.738 4.07-1.846 1.18-1.19 1.87-2.79 1.87-4.472h-1.627c0 1.272-.488 2.462-1.383 3.323-.814.78-1.831 1.272-2.93 1.354v-2.749h-1.628v67.3c0 3.488 2.849 6.36 6.308 6.36v-1.641c-2.564 0-4.68-2.134-4.68-4.718V26.119c3.296-.205 5.9-2.954 5.9-6.318z' transform='translate(42.336)'/%3E%3Cpath fill='%23A1A0B5' d='M14.936 5.692l.753-1.634c-2.76-1.587-6.147-.373-7.569 2.66l1.464.84c.502-1.026 1.296-1.82 2.3-2.146 1.045-.374 2.132-.28 3.052.28z' transform='translate(42.336)'/%3E%3Cpath fill='%23A2A1B5' d='M13.254 25.715l.753-1.634c-2.76-1.587-6.147-.373-7.569 2.66l1.464.84c.502-1.026 1.296-1.82 2.3-2.146 1.045-.374 2.132-.28 3.052.28z' transform='translate(42.336) matrix(1 0 0 -1 0 50.964)'/%3E%3Cpath fill='%233E3D52' d='M33.422 16.777c.33-.944.535-1.97.535-2.995 0-3.445-1.977-6.522-5.066-7.998C28.685 2.584 25.966 0 22.712 0c-1.647 0-3.213.656-4.366 1.805C16.7.575 14.598-.041 12.456.123c-2.307.205-4.407 1.272-5.932 3.035C5 4.922 4.3 7.178 4.506 9.475c.083.82.247 1.641.577 2.42C2.24 13.865.552 17.023.552 20.51c0 5.825 4.737 10.542 10.586 10.542 1.277 0 2.512-.246 3.707-.656l-.577-1.518c-.988.37-2.06.574-3.13.574-4.902-.082-8.939-4.06-8.939-8.942 0-3.117 1.607-5.988 4.284-7.588l.66-.37-.33-.656c-.37-.779-.618-1.64-.7-2.502-.165-1.887.411-3.691 1.647-5.127s2.925-2.297 4.82-2.461c3.089-.246 6.013 1.559 7.125 4.43l1.524-.615c-.411-1.026-.988-1.887-1.688-2.667.823-.82 1.977-1.271 3.13-1.271 2.513 0 4.531 2.01 4.531 4.512l-.041.738.535.205c2.801 1.067 4.572 3.692 4.572 6.645 0 .944-.164 1.887-.535 2.749l-.165.41.247.369c1.03 1.559 1.607 3.363 1.607 5.21 0 5.209-4.243 9.434-9.474 9.434-.494 0-.947-.041-1.442-.123l-.247 1.64c.536.082 1.112.123 1.648.123 6.137 0 11.121-4.963 11.121-11.075.041-2.01-.535-3.979-1.606-5.742z' transform='translate(42.336)'/%3E%3C/g%3E%3Cellipse cx='44.85' cy='28.562' fill='%23FFF' rx='7.763' ry='10.427'/%3E%3Cg%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='%23A1A0B5' stroke-width='1.64' d='M3.48 19.842l8.571-.028m-6.07-2.99h2.964M.32 13.03H12.68m-.685-3.65h1.118' transform='translate(0 15.117)'/%3E%3C/g%3E%3Cg transform='translate(0 15.117) translate(8.2)'%3E%3Cmask id='ku4839k89d' fill='%23fff'%3E%3Cuse xlink:href='%23j8jaa6q10c'/%3E%3C/mask%3E%3Cg fill-rule='nonzero' mask='url(%23ku4839k89d)'%3E%3Cg%3E%3Cpath fill='%23363547' stroke='%23363547' stroke-width='.841' d='M30.665 13.668h-2.889l-.059 1.111h2.948c.172 0 .333.08.438.218.104.137.14.315.095.481l-1.618 6.114c-.064.243-.282.412-.533.413h-1.714l-.059 1.111h1.773c.75-.001 1.406-.509 1.6-1.238l1.617-6.113c.133-.5.027-1.034-.286-1.445-.313-.41-.798-.652-1.313-.652h0zM34.471 3.611c-.337-.412-.862-.653-1.419-.651h-4.604l-.064 1.111h4.668c.186 0 .36.08.473.218.113.136.151.314.104.481l-1.75 6.114c-.07.243-.306.412-.576.412h-3.334l-.064 1.112h3.398c.81-.001 1.52-.509 1.729-1.238l1.75-6.114c.144-.5.03-1.035-.31-1.445h0zM27.274 2.723c0-1.26-1.06-2.28-2.37-2.283H10.092c-1.309.002-2.37 1.024-2.37 2.283l.001.03L9.5 34.708c.01 1.253 1.067 2.264 2.37 2.267h11.257c1.303-.003 2.36-1.014 2.37-2.267l1.776-31.953.001-.03zM24.313 34.66l-.001.03c0 .63-.53 1.14-1.185 1.142H11.87c-.655-.001-1.185-.512-1.185-1.142l-.001-.03L8.908 2.71c.008-.625.535-1.127 1.184-1.128h14.812c.65 0 1.177.503 1.185 1.127l-1.776 31.95z' transform='translate(7.414 5.23)'/%3E%3Cpath fill='%23363547' stroke='%23363547' stroke-width='.841' d='M16.876 2.96c-1.914-.004-3.641 1.145-4.376 2.91-.735 1.765-.332 3.799 1.02 5.151 1.352 1.353 3.388 1.759 5.156 1.028 1.769-.73 2.922-2.454 2.922-4.365 0-2.606-2.113-4.72-4.722-4.724h0zm0 8.336c-1.464.003-2.785-.876-3.347-2.226-.561-1.35-.253-2.904.78-3.939 1.035-1.034 2.591-1.344 3.943-.786 1.353.56 2.235 1.877 2.235 3.339 0 1.992-1.616 3.608-3.611 3.612h0z' transform='translate(7.414 5.23)'/%3E%3Cpath fill='%23A1A0B5' stroke='%23A1A0B5' stroke-width='.631' d='M17.058 6.386c-.28 0-.506.225-.506.504 0 .278.227.504.506.504.557 0 1.008.451 1.008 1.007 0 .18.096.347.252.437.156.09.349.09.505 0 .156-.09.253-.257.252-.437 0-1.111-.903-2.013-2.017-2.015h0z' transform='translate(7.414 5.23)'/%3E%3Cpath fill='%23363547' stroke='%23363547' stroke-width='.841' d='M16.876 13.668c-1.914-.003-3.641 1.145-4.376 2.91-.735 1.766-.332 3.799 1.02 5.152 1.352 1.352 3.388 1.758 5.156 1.027 1.769-.73 2.922-2.454 2.922-4.365 0-2.606-2.113-4.72-4.722-4.724h0zm0 8.336c-1.464.003-2.785-.876-3.347-2.225-.561-1.35-.253-2.905.78-3.94 1.035-1.034 2.591-1.344 3.943-.785 1.353.558 2.235 1.876 2.235 3.338 0 1.992-1.616 3.608-3.611 3.612z' transform='translate(7.414 5.23)'/%3E%3Cpath fill='%23A1A0B5' stroke='%23A1A0B5' stroke-width='.631' d='M17.058 16.464c-.28 0-.506.226-.506.504s.227.504.506.504c.557.001 1.008.452 1.008 1.008 0 .18.096.346.252.436.156.09.349.09.505 0 .156-.09.253-.256.252-.436 0-1.112-.903-2.014-2.017-2.016h0z' transform='translate(7.414 5.23)'/%3E%3Cpath fill='%23363547' stroke='%23363547' stroke-width='.841' d='M3.787 12.408h3.305l-.066-1.112H3.787c-.277 0-.52-.17-.591-.412L1.4 4.77c-.05-.167-.01-.345.105-.481.116-.137.296-.218.486-.218H6.6L6.534 2.96H1.991c-.57 0-1.11.241-1.457.652-.348.41-.465.944-.318 1.444l1.797 6.114c.214.73.942 1.237 1.774 1.238zM7.722 23.116l-.06-1.111H6.06c-.259 0-.485-.17-.551-.413l-1.673-6.114c-.046-.166-.01-.344.098-.481s.276-.218.453-.218h2.876l-.06-1.111H4.387c-.532 0-1.034.241-1.357.652-.324.41-.433.945-.296 1.445l1.673 6.113c.2.73.877 1.237 1.653 1.238h1.661z' transform='translate(7.414 5.23)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            background-size: auto 42px;
                        }
                        &.icon_3{
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 96 48'%3E%3Cdefs%3E%3Cpath id='6ms1kt213a' d='M0 0H94.875V33.336H0z'/%3E%3Cpath id='hjq1xcpfqc' d='M18.765 37.223c.824 0 2.072-.116 3.742-.347L35.281 17.46C33.59 6.235 27.788.42 17.875.016 7.52-.406 0 7.503 0 18.077s8.401 19.146 18.765 19.146z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-75 -832) translate(51 313) translate(24.827 519.888)'%3E%3Cmask id='rorl5il7qb' fill='%23fff'%3E%3Cuse xlink:href='%236ms1kt213a'/%3E%3C/mask%3E%3Cg fill='%233E3D52' fill-rule='nonzero' mask='url(%23rorl5il7qb)'%3E%3Cg%3E%3Cpath d='M76.763 16.217c.952 0 1.724.807 1.724 1.802v16.218c0 .995-.772 1.801-1.724 1.801L60.9 36.04c.385-.581.744-1.183 1.075-1.802h14.788V18.019h-12.73c-.148-.61-.319-1.212-.513-1.802zM15.634.02c.3-.067.613.04.818.282l4.11 8.724c.639.738.993 1.702.991 2.701v2.251h1.152c-.266.587-.507 1.188-.723 1.8l-9.344.001 3.164 6.587c.594 1.24.536 2.717-.154 3.901-.69 1.185-1.912 1.91-3.232 1.915-.475 0-.946-.093-1.39-.275l-.14-.058c-.801-.33-1.473-.934-1.907-1.715l-3.19-5.74c-.065-.115-.139-.224-.222-.324l-.06-.073v13.34H22.92c.296.617.618 1.218.965 1.801H.856c-.473 0-.856-.404-.856-.9 0-.498.383-.901.855-.901h2.972V18.053c-.004-.048-.004-.096 0-.144l-2.053-2.517C.96 14.402.506 13.14.492 11.831L.415 1.094c0-.497.383-.9.855-.9s.855.403.855.9l.077 10.737c.007.881.31 1.731.855 2.4l3.81 4.668c.15.185.285.384.401.594l3.19 5.74c.237.434.606.77 1.047.955l.142.058c.808.33 1.725.102 2.308-.573.583-.676.71-1.66.321-2.475l-4.801-10.03c-.15-.288-.137-.64.031-.916s.466-.434.777-.412c.311.022.586.22.718.518l.778 1.62h8.064v-2.25c-.005-.543-.2-1.064-.547-1.464L15.17 1.513c-.206-.242-.274-.58-.178-.888.096-.308.34-.539.642-.606z' transform='translate(9.488 2.703)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath stroke='%23A1A0B5' stroke-linecap='round' stroke-linejoin='bevel' stroke-width='1.294' d='M80.568 17.782v-2.72c0-.357-.29-.647-.647-.647h-3.17 0M24.786 24.709H13.573c-.357 0-.647-.29-.647-.647v-3.34h0' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109)'/%3E%3Cpath stroke='%233E3D52' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.186' d='M1.303 27.632L28.862 29.129' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109) rotate(-3.108 15.082 28.38)'/%3E%3Cpath stroke='%233E3D52' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.186' d='M63.874 29.471L88.024 29.281' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109)'/%3E%3Cpath stroke='%23A1A0B5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.186' d='M60.424 32.885L85.437 33.075' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109)'/%3E%3Cpath stroke='%23A1A0B5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.186' d='M9.067 31.365L31.879 32.793' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109) rotate(-3.108 20.473 32.079)'/%3E%3Cg%3E%3Cg fill='%23363547' fill-rule='nonzero' stroke='%23363547' stroke-width='.819'%3E%3Cpath d='M14.649.194c.247-.259.62-.259.867 0h0l2.15 2.112 2.768-1.12c.289-.13.66.043.785.344h0l1.198 2.802 2.934.087c.33.043.62.301.62.646h0l.082 3.06 2.686 1.251c.29.13.455.517.33.82h0l-1.074 2.887 1.23 1.361c-.48.073-.956.189-1.43.348l-.998-1.105c-.165-.173-.206-.474-.124-.69h0l1.075-2.673-2.521-1.164c-.207-.086-.372-.301-.372-.56h0l-.083-2.888-2.768-.086c-.207 0-.455-.173-.537-.388h0l-1.116-2.63-2.562 1.035c-.248.086-.496.043-.661-.13h0L15.144 1.53l-1.983 1.983c-.165.173-.455.216-.661.13h0L9.938 2.608l-1.116 2.63c-.082.215-.29.388-.537.388h0l-2.769.086L5.434 8.6c0 .216-.165.474-.372.56h0l-2.52 1.164.991 2.673c.083.259.041.517-.124.69h0l-1.9 2.069 1.9 2.026c.165.173.207.474.124.69h0l-.992 2.673 2.52 1.163c.208.087.373.302.373.56h0l.082 2.89 2.769.085c.207 0 .455.173.537.388h0l1.116 2.63 2.562-1.035c.041-.043.124-.043.206-.043.124 0 .29.043.414.173h0l1.983 1.983 1.984-1.983c.165-.173.454-.216.66-.13h0l1.62.661c.07.519.168 1.043.297 1.571l-1.999-.81-2.149 2.113c-.124.13-.289.173-.413.173s-.29-.043-.413-.173h0L12.54 29.25l-2.768 1.12c-.29.13-.662-.042-.786-.344h0L7.79 27.223l-2.934-.086c-.33-.043-.62-.302-.62-.647h0l-.082-3.06-2.686-1.25c-.29-.13-.455-.518-.33-.82h0l1.074-2.888L.186 16.23c-.248-.258-.248-.646 0-.905h0l1.983-2.242-1.074-2.888c-.124-.302.041-.69.33-.819h0l2.687-1.25.082-3.06c.041-.346.29-.647.62-.647h0l2.934-.087L8.946 1.53c.124-.301.496-.474.785-.345h0L12.5 2.306zm12.276 20.95l-5.748 8.967c-.041.065-.09.122-.146.169l5.894-9.136z' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109) translate(30.176) translate(3.881 3.887)'/%3E%3C/g%3E%3Cg%3E%3Cg transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109) translate(30.176) translate(.883 .45)'%3E%3Cmask id='abxafw661d' fill='%23fff'%3E%3Cuse xlink:href='%23hjq1xcpfqc'/%3E%3C/mask%3E%3Cpath stroke='%23363547' stroke-width='1.725' d='M35.49 44.598c.608 0 1.53-.086 2.763-.256l9.43-14.334c-1.247-8.287-5.531-12.58-12.85-12.878-7.647-.312-13.199 5.528-13.199 13.334s6.203 14.134 13.855 14.134z' mask='url(%23abxafw661d)'/%3E%3C/g%3E%3Cpath stroke='%23363547' stroke-width='2.156' d='M19.981 37.922c.825 0 2.109-.348 3.85-1.046L36.606 17.46C34.915 6.235 29.113.42 19.2.016 8.844-.406.358 8.181.358 18.754c0 10.574 8.482 20.592 19.623 19.168z' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109) translate(30.176)'/%3E%3C/g%3E%3Cpath stroke='%23363547' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.587' d='M22.384 15.389L17.965 23.458 14.52 21.417' transform='translate(-75 -832) translate(51 313) translate(24.827 519.888) translate(3.461 8.109) translate(30.176) rotate(9 18.452 19.423)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");    
                            background-size: auto 48px;
                        }
                        span.badge{
                            width: 17px;
                            height: 17px;
                            border-radius: 5.1px;
                            border: solid 2px #493b70;
                            background-color: #34ca9e;
                            font-family: 'Museo Slab';
                            font-size: 9.6px;
                            font-weight: 800;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 14px;
                            letter-spacing: -0.42px;
                            color: #493b70;
                            padding: 0;
                            right: 6px;
                            top: 0px;
                            display: block;
                            position: absolute;
                            text-align: center;
                        }
                    }
                    h6{
                        font-family: 'Fjalla One';
                        font-size: 19px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.09;
                        letter-spacing: -0.22px;
                        text-align: center;
                        color: #3e3d52;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }




}