<ion-header>
  <ion-navbar hideBackButton>
    <div class="neweader" id="raceheaderNavbar">
      <div class="dropDown">
        <button>
          <h6>ACTIONS</h6>
          <h5>FROM A - Z</h5>
        </button>
      </div>
      <div class="btn actionbtn"><span class="badge">2</span></div>
      <div class="btn actionbtn"><span class="badge">2</span></div>
      <div class="btn blankBtn"></div>
      <!-- <div class="btn closebtn" (click)="goBack()"></div> -->
    </div>
  </ion-navbar>
</ion-header>
<ion-content no-padding>

  <div class="accordian_list">
    <div class="accordian_listIteam iteamHeader header-image">
      <div class="HeaderBox">
        <h2>MY ELECTED<br>LEADERS</h2>
        <p>A county school board computer, which features many of the same capabilities as a …read more.</p>
      </div>
    </div>
    <div class="main-content">
      <div class="accordian_listIteam">
        <div class="icon icon_1"></div>
        <h6>ENGAGE<br>OFFICIALS</h6>
      </div>
      <div class="accordian_listIteam">
        <div class="icon icon_1"></div>
        <h6>REGISTRATION<br>STATUS</h6>
      </div>
      <div class="accordian_listIteam">
        <div class="icon icon_1"></div>
        <h6>ENGAGE<br>OFFICIALS</h6>
      </div>
      <div class="accordian_listIteam">
        <div class="icon icon_1"></div>
        <h6>REGISTRATION<br>STATUS</h6>
      </div>
      <div class="accordian_listIteam">
        <div class="icon icon_2"></div>
        <h6>MY<br>BALLOT</h6>
      </div>
      <div class="accordian_listIteam">
        <div class="icon icon_2"><span class="badge">2</span></div>
        <h6>VOTE BY<br>MAIL</h6>
      </div>
      <div class="accordian_listIteam">
        <div class="icon icon_3"></div>
        <h6>FIND MY<br>POLL PLACES</h6>
      </div>
      <div class="accordian_listIteam">
        <div class="icon icon_3"></div>
        <h6>REPORT<br>ISSUES</h6>
      </div>
    </div>
  </div>
</ion-content>