.check-in-modal {
	page-check-in-modal {
		ion-content {
		    background-color: rgba(0,0,0,0.66);
		    .scroll-content {
		    	display: flex;
		    	align-items: center;
			    .check-in-popup-sec {
				    max-width: 276px;
				    width: 100%;
				    margin: 0px auto;
				    background-color: #f5ede2;
				    border-radius: 131px;
				    padding: 74px 48px 52px;
				    text-align: center;
				    &.pb-70 {
				    	padding-bottom: 70px;
				    }
				    &.pb-64 {
				    	padding-bottom: 64px;
				    }
				    .title {
					        width: 100%;
						    margin: 0px auto 22px !important;
						    text-align: center;
						    font-size: 21px;
						    letter-spacing: 1.21px;
						    line-height: 25px;
						    color: #282333;
						    font-family: 'Museo Slab';
						    font-weight: 700;
						    text-transform: uppercase;
						    &.mb-42 {
						    	margin-bottom: 42px !important;
						    }
					}
					.pos-imgs {
					    width: fit-content;
					    width: -webkit-fit-content;
					    width: -moz-fit-content;
					    width: -ms-fit-content;
					    width: -o-fit-content;
					    margin: 0px auto;
					    text-align: center;
					    position: relative;
					    svg {
					    	&.map-pin-icon {
								max-width: 100%;
								max-height: 100%;
								height: 56px;
								width: auto;
								object-fit: contain;
							}
					    }
						img {
							&.map-pin-icon {
								max-width: 100%;
								max-height: 100%;
								height: 56px;
								width: auto;
								object-fit: contain;
							}
							&.pos-top-lft-icon {
								max-width: 100%;
								max-height: 100%;
								width: 28px;
							    height: 28px;
							    position: absolute;
							    top: 3px;
							    right: -15px;
							}
							&.pos-center-icon {
								max-width: 100%;
								max-height: 100%;
								width: 28px;
							    height: 28px;
							    object-fit: contain;
								position: absolute;
								top: -1px;
								bottom: 0px;
								left: 0px;
								right: 0px;
								margin: auto;
							}
						}
					}
					.address {
					        width: 100%;
						    margin: 20px auto 17px;
						    text-align: center;
						    font-size: 14px;
						    line-height: 17px;
						    color: #282333;
						    font-weight: 700;
						    font-family: 'Museo Slab';
						    text-transform: capitalize;
						    &.mt-22 {
						    	margin-top: 22px;
						    }
						    &.mb-40 {
						    	margin-bottom: 40px;
						    }
					}
					.check-in-txt {
					    width: 100%;
					    text-align: center;
					    font-size: 13px;
					    line-height: 19px;
					    color: #282333;
					    font-weight: normal;
					    font-family: 'Gibson';
					    margin: 0px 0px 34px;
					    &.txt-clr-red {
					    	color: #A73420 !important;
					    }
					}
					button {
						&.check-in-btn {
							width: auto;
						    height: 33px;
						    line-height: 30px;
						    border-radius: 30px;
						    border: 3px solid #19171F;
						    background-color: #F1E9D5;
						    color: #2B2635;
						    font-size: 11px;
						    font-family: 'Museo Slab';
						    font-weight: 900;
						    text-transform: uppercase;
						    padding: 0px 16px;
						}
						&.txt-line-btn {
							font-family: 'Museo Slab';
						    font-weight: 900;
						    text-transform: uppercase;
						    color: #19171F;
						    font-size: 9px;
						    line-height: 11px;
						    text-align: center;
						    border-bottom: 2px solid #19171F;
						    margin: 20px auto 0px;
						    padding: 0px 0px 3px;
						    background-color: transparent;
						    height: unset;
						    border-radius: 0px;
						}
					}
				}
			}
		}
	}
}
