<!--
  Generated template for the CheckInModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>check In Modal</ion-title>
  </ion-navbar>
</ion-header>
 -->
<ion-content padding>

	<!-- check-in-popup-1-start -->
	<div class="check-in-popup-sec"  *ngIf="checkinTime==0 && checkedIn==false && turnOffLocation==false">
		<h2 class="title">time to<br> check-in</h2>
		<div class="pos-imgs" (click)="getCurrentAddress()">
			<svg class="map-pin-icon" width="33" height="56">
				<path id="Line Copy 4" class="shp0" d="M2.95 53.1L30.13 53.1" filter="blur(1.5px)" fill="none" stroke=" #51504d" stroke-linecap="square" stroke-width="0.533" />
				<path id="Shape" fill-rule="evenodd" class="shp1" d="M30.17 14.71C30.17 16.98 29.62 19.12 28.66 21C25.79 28.38 18.07 37.58 16.5 45.56C14.93 37.58 7.21 28.38 4.34 21C3.38 19.12 2.83 16.98 2.83 14.71C2.83 7.11 8.95 0.95 16.5 0.95C24.05 0.95 30.17 7.11 30.17 14.71ZM21.63 14.67C21.63 11.84 19.33 9.53 16.5 9.53C13.67 9.53 11.37 11.84 11.37 14.67C11.37 17.51 13.67 19.82 16.5 19.82C19.33 19.82 21.63 17.51 21.63 14.67Z" fill="#fffaf0" stroke="#272736" stroke-width="1.892" />
			</svg>
			<!-- <img class="map-pin-icon" src="./assets/img/map-pin-icon-1.svg" alt="" /> -->
		</div>
		<h5 class="address">{{ formatted_address}}</h5>
		<p class="check-in-txt">You must be am-site at the location with your location services turned on to check in.</p>

		<button ion-button class="check-in-btn"  (click)="checkIn()">check-in</button>
		<button ion-button class="txt-line-btn" (click)="dismiss()">DO THIS LATER</button>
	</div>
	<!-- check-in-popup-1-end -->

	<!-- check-in-popup-2-start -->
	<div class="check-in-popup-sec pb-70" *ngIf="checkedIn==true">
		<h2 class="title mb-42">you're<br> checked-in!</h2>
		<div class="pos-imgs">
			<svg class="map-pin-icon" width="33" height="56">
				<path id="Line Copy 4" class="shp0" d="M2.95 53.1L30.13 53.1" filter="blur(1.5px)" fill="none" stroke=" #51504d" stroke-linecap="square" stroke-width="0.533" />
				<path id="Shape" fill-rule="evenodd" class="shp1" d="M30.17 14.71C30.17 16.98 29.62 19.12 28.66 21C25.79 28.38 18.07 37.58 16.5 45.56C14.93 37.58 7.21 28.38 4.34 21C3.38 19.12 2.83 16.98 2.83 14.71C2.83 7.11 8.95 0.95 16.5 0.95C24.05 0.95 30.17 7.11 30.17 14.71ZM21.63 14.67C21.63 11.84 19.33 9.53 16.5 9.53C13.67 9.53 11.37 11.84 11.37 14.67C11.37 17.51 13.67 19.82 16.5 19.82C19.33 19.82 21.63 17.51 21.63 14.67Z" fill="#fffaf0" stroke="#272736" stroke-width="1.892" />
			</svg>
			<!-- <img class="map-pin-icon" src="./assets/img/map-pin-icon-1.svg" alt="" /> -->
			<img class="pos-top-lft-icon" src="./assets/img/check-mark-icon-1.svg" alt="" />
		</div>
		<h5 class="address mt-22 mb-40">{{ formatted_address}}</h5>
		<button ion-button class="check-in-btn"  (click)="dismiss()">GET STARTED</button>
	</div>
	<!-- check-in-popup-2-end -->

	<!-- check-in-popup-3-start -->
	<div class="check-in-popup-sec" *ngIf="checkinTime > 0 && checkedIn==false && turnOffLocation==false">
		<h2 class="title">time to<br> check-in</h2>
		<div class="pos-imgs" (click)="getCurrentAddress()">
			<svg class="map-pin-icon" width="33" height="56">
				<path id="Line Copy 4" class="shp0" d="M2.95 53.1L30.13 53.1" filter="blur(1.5px)" fill="none" stroke=" #51504d" stroke-linecap="square" stroke-width="0.533" />
				<path id="Shape" fill-rule="evenodd" class="shp1" d="M30.17 14.71C30.17 16.98 29.62 19.12 28.66 21C25.79 28.38 18.07 37.58 16.5 45.56C14.93 37.58 7.21 28.38 4.34 21C3.38 19.12 2.83 16.98 2.83 14.71C2.83 7.11 8.95 0.95 16.5 0.95C24.05 0.95 30.17 7.11 30.17 14.71ZM21.63 14.67C21.63 11.84 19.33 9.53 16.5 9.53C13.67 9.53 11.37 11.84 11.37 14.67C11.37 17.51 13.67 19.82 16.5 19.82C19.33 19.82 21.63 17.51 21.63 14.67Z" fill="#fffaf0" stroke="#272736" stroke-width="1.892" />
			</svg>
			<!-- <img class="map-pin-icon" src="./assets/img/map-pin-icon-1.svg" alt="" /> -->
		</div>
		<h5 class="address">{{ formatted_address}}</h5>
		<p class="check-in-txt txt-clr-red">You are to far from this location to check-in.  Please try again once you are closer.</p>
		<button ion-button class="check-in-btn" (click)="checkIn()">TRY AGAIN</button>
		<button ion-button class="txt-line-btn"  (click)="dismiss()">DO THIS LATER</button>
	</div>
	<!-- check-in-popup-3-end -->

	<!-- check-in-popup-4-start -->
	<div class="check-in-popup-sec pb-64" *ngIf="turnOffLocation==true">
		<h2 class="title">TURN ON<br> LOCATION</h2>
		<div class="pos-imgs" (click)="getCurrentAddress()">
			<svg class="map-pin-icon" width="33" height="56">
				<path id="Line Copy 4" class="shp0" d="M2.95 53.1L30.13 53.1" filter="blur(1.5px)" fill="none" stroke=" #51504d" stroke-linecap="square" stroke-width="0.533" />
				<path id="Shape" fill-rule="evenodd" class="shp1" d="M30.17 14.71C30.17 16.98 29.62 19.12 28.66 21C25.79 28.38 18.07 37.58 16.5 45.56C14.93 37.58 7.21 28.38 4.34 21C3.38 19.12 2.83 16.98 2.83 14.71C2.83 7.11 8.95 0.95 16.5 0.95C24.05 0.95 30.17 7.11 30.17 14.71ZM21.63 14.67C21.63 11.84 19.33 9.53 16.5 9.53C13.67 9.53 11.37 11.84 11.37 14.67C11.37 17.51 13.67 19.82 16.5 19.82C19.33 19.82 21.63 17.51 21.63 14.67Z" fill="#fffaf0" stroke="#272736" stroke-width="1.892" />
			</svg>
			<!-- <img class="map-pin-icon" src="./assets/img/map-pin-icon-1.svg" alt="" /> -->
			<img class="pos-center-icon" src="./assets/img/cross-icon-1.svg" alt="" />
		</div>
		<h5 class="address">   </h5>
		<p class="check-in-txt">You must be on-site at the location with your location services turned on to check in.</p>
		<button ion-button class="txt-line-btn"  (click)="dismiss()">DO THIS LATER</button>
	</div>
	<!-- check-in-popup-4-end -->

</ion-content>
