<!--
  Generated template for the AddEditAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


 <ion-content no-padding class="registrationProcess ">
	<div class="registrationProcess-top">
		<div class="headTitles">
			
			<div class="headToolbar">
				<span class="goBackBtn" (click)="goBack()" ><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#282333"/></svg></span>
				<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
			</div>
			<h2>CHANGE MY DISTRICTS.</h2>
			<p>ENTER YOUR PRIMARY ADDRESS BELOW </p>
		</div>
			<div class="register-container">
		<form method="post" name="customSearchform" >
				<!-- <div class="registration-error" *ngIf="failure==true">{{errorMessage}} <a (click)="failure=false;">X</a></div> -->
				<div class="your-address">
				<div class="input-wrapper " [ngClass]="{'has-value':location!='' }">
					<ion-item><ion-input id="googlePlaces" #Address name="location" [(ngModel)]="location" placeholder="Enter Address…" type="text" ng value=""></ion-input></ion-item>
				</div>
				</div>
		</form>
		</div>
			<div class="address-img">
				<img src="./assets/img/address-img.svg" alt="" />
			</div>	 
	</div>
	<ion-footer>
		<!-- <div class="registration-vector"></div> -->
		<div class="registrationProcess-bottom" >
			<div class="cmessage ">
				<svg xmlns="http://www.w3.org/2000/svg" width="33.075" height="35.018" viewBox="0 0 33.075 35.018" fill="#282333"><path d="M3.675,35.018H0V20.58A3.679,3.679,0,0,1,3.675,16.9h.919c0-3.108.2-7.113,1.723-10.519C8.215,2.148,11.716,0,16.721,0s8.507,2.148,10.4,6.385C28.653,9.794,28.849,13.8,28.849,16.9H29.4a3.679,3.679,0,0,1,3.675,3.676V35.016H29.4V20.58H3.675V35.017ZM16.721,3.675c-6.055,0-8.267,3.462-8.453,13.23H25.174c0-4.872-.619-8.109-1.946-10.185S19.834,3.675,16.721,3.675Zm2.074,31.343H15.12V31.631a3.236,3.236,0,0,1-1.47-2.757,3.308,3.308,0,1,1,6.615,0,3.236,3.236,0,0,1-1.471,2.757v3.385Z" transform="translate(0 0)"/></svg>
				<h4>Your Address, Your Districts.</h4>
				<p>Your home address to ensures we provide you access to the right officials based on your districts.</p>
			</div>
		</div>
	</ion-footer>
</ion-content>

