page-new-home {
    .accordian_list {
        background-color: #f4eee2;
        display: flex;
        flex-direction: column;
        min-height: 100%;

        .accordian_listIteam {
            flex: 0 0 auto;
            @include clearfix();

            &.iteamHeader {
                flex: 0 0 auto;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 35px 0 0px;
                /* padding: calc(env(safe-area-inset-top) + 37px) 0 0px; */
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0px;
                margin-right: 0px;

                .newHeaderBox {
                    padding: 0;
                    flex: 1 1 auto;

                    .headerBox {
                        padding: 0 42px 0px;

                        @media(max-width:360px) {
                            padding: 0 20px 0px 36px;
                        }

                        ul.address-btn-list {
                            width: 100%;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                width: auto;
                                display: flex;
                                button {
                                    width: auto;
                                    height: 33px;
                                    margin: 0 10px 0 0;
                                    padding: 0px 16px;
                                    border-radius: 30px;
                                    border: solid 3px #35313f;
                                    background-color: #fffaf0;
                                    font-family: 'Gibson';
                                    font-size: 12px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 27px;
                                    letter-spacing: normal;
                                    color: #282333;
                                    text-align: center;
                                }
                            }
                        }

                        .logotitle {
                            font-family: 'Gibson';
                            font-size: 11px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 18px;
                            letter-spacing: 5px;
                            color: #282333;
                            text-transform: uppercase;
                        }

                        .getEngaged {
                            font-family: 'Museo Slab';
                            font-size: 33px;
                            font-weight: 700;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 31px;
                            letter-spacing: normal;
                            color: #282333;
                            margin-bottom: 18px;
                            margin-top: 10px;
                            text-transform: uppercase;
                        }

                        .tagLine {
                            font-family: 'Gibson';
                            font-size: 17px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 25px;
                            letter-spacing: 1px;
                            color: #282333;
                        }

                        .dropDown {
                            position: relative;
                            display: inline-block;

                            button.toggleBtns {
                                padding: 0 40px 0 10px;
                                border: solid 2px #353647;
                                background-color: #efe7d4;
                                background-position: right 10px center;
                                background-repeat: no-repeat;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.32 4.48'%3E%3Cg id='Group' transform='translate(-0.28 4.72) rotate(-90)'%3E%3Cg id='Path'%3E%3Cpath id='Path-2' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='%23292535'/%3E%3Cpath id='Path-3' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                background-size: auto 6px;

                                h5 {
                                    font-family: 'Gibson';
                                    font-size: 14px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 26px;
                                    letter-spacing: normal;
                                    color: #282333;
                                    text-align: left;
                                    margin: 0;
                                    padding: 0;
                                }
                            }

                            ul.showDropDown {
                                margin: auto;
                                padding: 0;
                                list-style: none;
                                position: absolute;
                                top: calc(100% - 1px);
                                left: -1px;
                                right: -1px;
                                background: #fff;
                                border: 0 solid #46465b;
                                border-radius: 0 0 4px 4px;
                                z-index: 0;
                                transition: all 0.3s ease-in-out;
                                max-height: 0;
                                overflow: hidden;

                                &.open {
                                    max-height: 100vh;
                                    border-width: 1px;
                                }

                                li {
                                    border-top: 0 none;
                                    padding: 10px 20px;
                                    font-family: 'Gibson';
                                    font-size: 12px;
                                    line-height: normal;
                                    letter-spacing: 0.26px;
                                    color: #23232e;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    letter-spacing: 0.61px;
                                    text-align: left;
                                    text-transform: uppercase;
                                    display: flex;
                                    align-items: center;
                                    justify-self: start;
                                    
                                    &.active {
                                        background-color: #f3f3f3;
                                    }

                                    &:nth-of-type(1n+2) {
                                        border-top: 1px solid #3d3e4f;
                                    }
                                }
                            }
                        }
                        .loctionWrap {
                            display: flex;
                            align-items: center;
                            padding-right: 16px;
                            .loctionBox {
                                font-family: 'Gibson';
                                font-size: 13px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 26px;
                                letter-spacing: normal;
                                color: #282333;
                                text-align: left;
                                margin: 0;
                                padding: 0 30px 0 10px;
                                border: solid 2px #353647;
                                background-color: #efe7d4;
                                display: inline-block;
                                border-radius: 15px;
                                flex: 1 0 auto;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='11' viewBox='0 0 12 11'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cg%3E%3Cg%3E%3Cpath d='M1.22 9.63C.545 8.896 0 8.162 0 7.992c0-.14 1.323-1.666 2.932-3.389 2.75-2.965 3.01-3.19 4.93-3.897C9.004.282 9.938-.028 9.99.028c.052.057-.208 1.102-.571 2.344-.623 2.203-.7 2.344-3.529 5.45-1.583 1.724-3.01 3.164-3.166 3.164-.155 0-.83-.621-1.504-1.356z' transform='translate(-328 -244) matrix(-1 0 0 1 339.906 244) matrix(1 0 0 -1 .906 11)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                background-position: calc(100% - 10px) center;
                                background-repeat: no-repeat;
                                background-size: 11px;
                                @media(max-width:360px){
                                    font-size: 12px;
                                }
                            }
                            
                            ion-segment.segment {
                                border: 0 none;
                                padding: 0 0px 0px;
                                flex: 0 0 auto;
                                margin-right: -16px;
                                margin-left: 16px;
                                width: 100px;
                                justify-content: space-between;
                                @media(max-width:360px){
                                    margin-left: 0;
                                    width: auto;
                                    margin-right: 0;
                                    justify-content: flex-start;
                                    flex: 1 0 auto;
                                }
                                ion-segment-button.segment-button {
                                    display: inline-block;
                                    font-family: 'Gibson';
                                    font-size: 13px;
                                    font-weight: 600;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: normal;
                                    letter-spacing: 0px;
                                    text-align: center;
                                    color: #282333;
                                    background: transparent;
                                    border-radius: 0;
                                    contain: inherit;
                                    width: auto;
                                    border: 0 none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 0 auto -3px;
                                    padding: 10px ;
                                    height: auto;
                                    flex: 0 0 auto;
                                    opacity: 1;
                                    overflow: inherit;
                                    @media(max-width:360px){
                                        padding: 10px 5px;
                                    }
                                    &:after{
                                        content: "";
                                        height: 3px;
                                        background-color: rgba(108, 168, 112, 0);
                                        display: block;
                                        position: absolute;
                                        bottom: 2px;
                                        left: 0;
                                        right: 0;
                                        top: auto;
                                        width: 30px;
                                        margin: auto;
                                    }
                                    span.title {
                                        width: 30px;
                                        height: 28px;
                                        display: block;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        text-align: center;
                                        &.civicAgenda{
                                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='24' viewBox='0 0 28 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23282333' fill-rule='nonzero' stroke='%23282333' stroke-width='1.19'%3E%3Cg%3E%3Cpath d='M25.207 0c.32 0 .653.243.653.65h0v18.202c0 .408-.332.651-.653.651-.21 0-.403-.099-.53-.272-1.124-1.534-3.45-3.363-8.143-3.363h0-2.696l1.712 5.357c.074.23.034.474-.108.67-.143.195-.364.308-.606.308h0-3.22c-.327 0-.614-.21-.714-.522h0l-1.858-5.813H6.266c-.035 0-.066-.008-.096-.022-2.308-.045-4.217-1.73-4.613-3.937h0-.242C.59 11.91 0 11.32 0 10.595h0V8.891c0-.724.59-1.314 1.315-1.314h.242c.401-2.237 2.358-3.942 4.709-3.942h10.268c4.693 0 7.02-1.829 8.144-3.363.126-.173.32-.272.529-.272zm-10.28 20.789H11.1l.24.752c.04.12.15.2.276.2h3.22c.092 0 .177-.043.232-.118.055-.075.07-.17.042-.258h0l-.185-.576zm-1.548-4.841H9.554l1.4 4.379h3.825l-1.4-4.379zM25.207.462c-.044 0-.107.014-.157.083-1.188 1.62-3.63 3.552-8.516 3.552h0H6.496v11.31h10.038c4.886 0 7.328 1.931 8.516 3.552.05.068.113.083.157.083.077 0 .191-.05.191-.19h0V.651c0-.14-.114-.19-.191-.19zM6.035 4.102c-2.279.121-4.096 2.013-4.096 4.321h0v2.64c0 2.308 1.817 4.2 4.096 4.32h0zM1.497 8.04h-.182c-.47 0-.853.382-.853.852h0v1.704c0 .47.382.853.853.853h.182c-.01-.128-.02-.255-.02-.385h0v-2.64c0-.13.01-.257.02-.384h0zm20.127-1.983c.09-.071.212-.045.273.06.061.106.038.25-.052.322C20.296 7.678 18.32 8.28 15.8 8.28h0-5.577c-.109 0-.197-.103-.197-.23 0-.128.088-.231.197-.231H15.8c2.437 0 4.342-.577 5.824-1.763z' transform='translate(-321 -231) translate(322 232)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                        }
                                        &.engagement{
                                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23282333' stroke='%23282333' stroke-width='.655'%3E%3Cg%3E%3Cpath d='M18.967 0c.308 0 .563.227.607.523l.006.09v1.878h1.945c1.41 0 2.566 1.103 2.653 2.49l.005.168v16.53c0 1.41-1.102 2.565-2.49 2.652l-.168.006H2.658c-1.41 0-2.566-1.102-2.653-2.49L0 21.68V5.15c0-1.41 1.102-2.566 2.49-2.653l.168-.005h1.945V.614c0-.34.275-.614.614-.614.308 0 .563.227.607.523l.006.09v1.878h12.523V.614c0-.34.275-.614.614-.614zM4.603 3.719H2.658c-.742 0-1.354.568-1.424 1.292l-.006.138v16.53c0 .742.568 1.354 1.292 1.423l.138.007h18.867c.742 0 1.354-.568 1.424-1.292l.006-.138V5.15c0-.742-.568-1.354-1.292-1.424l-.138-.006H19.58v1.56c0 .339-.274.614-.613.614-.308 0-.564-.227-.608-.523l-.006-.091v-1.56H5.83v1.56c0 .339-.274.614-.613.614-.308 0-.564-.227-.608-.523l-.006-.091v-1.56zm1.534 13.83l.105.006c.444.052.788.43.788.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.97 0c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0c.492 0 .892.4.892.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.399-.893.892-.893zm-7.94-3.766l.105.006c.444.052.788.43.788.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.97 0c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0l.103.006c.444.052.789.43.789.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.968 0c.493 0 .893.4.893.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.4-.893.892-.893zm-7.938-3.766c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0l.103.006c.444.052.789.429.789.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.968 0c.493 0 .893.4.893.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.4-.893.892-.893zm-2.095-4.86c.34 0 .614.274.614.613 0 .308-.227.563-.523.607l-.09.007H8.232c-.34 0-.614-.275-.614-.614 0-.308.227-.563.523-.607l.09-.007h7.718z' transform='translate(-264 -230) translate(265 231)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                        }
                                    }

                                    span.badge {
                                        min-width: 24px;
                                        line-height: 20px;
                                        border-radius: 4px;
                                        border: solid 2px #282333;
                                        background-color: #282333;
                                        font-family: 'Museo Slab';
                                        font-size: 12px;
                                        font-weight: 800;
                                        font-stretch: normal;
                                        font-style: normal;
                                        letter-spacing: -0.59px;
                                        color: #efe7d4;
                                        padding: 0 2px;
                                        margin: 0 10px 0px 0;
                                        display: inline-block;
                                        text-align: center;
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        transform: translate(16px, -3px);
                                        @media(max-width:360px){
                                            font-size: 10px;
                                            transform: translate(8px, -2px);
                                            line-height: 16px;
                                            min-width: 20px;
                                        }
                                        &.newmsg {
                                            color: #282333;
                                            background-color: #9bd29f;
                                        }
                                    }
                                    
                                    &.segment-activated {
                                        &:after{
                                            background-color:  rgba(108, 168, 112, 1);
                                        }
                                    }
                                }
                            }
                        }

                        .badgeList {
                            list-style: none;
                            margin: 0px 0px 0;
                            padding: 0;
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                margin: 0;
                                padding: 0;

                                .badge {
                                    display: block;
                                    font-family: 'Gibson';
                                    font-size: 19px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.59;
                                    letter-spacing: normal;
                                    color: #fff;
                                    padding: 0 10px;
                                    margin: 0px;
                                    text-transform: uppercase;

                                    &.bg-purple {
                                        background-color: #4a3b70;
                                    }

                                    &.bg-lightblue {
                                        background-color: #87b8d1;
                                    }

                                    &.bg-violet {
                                        background-color: #b46cb7;
                                    }

                                    &.bg-lightpink {
                                        background-color: #f7d1d1;
                                    }

                                    &.bg-pink {
                                        background-color: #ff9797;
                                    }

                                    &.bg-republican {
                                        background-color: #C94643
                                    }

                                    &.bg-democrat {
                                        background-color: #405AA6
                                    }

                                    &.bg-libertarian {
                                        background-color: #7F3FD6
                                    }

                                    &.bg-green {
                                        background-color: #39A337
                                    }

                                    &.bg-green-party {
                                        background-color: #39A337
                                    }

                                    &.bg-independent {
                                        background-color: #737373
                                    }

                                    &.bg-nonpartisan {
                                        background-color: #000;
                                    }

                                    &.bg-non-partisan {
                                        background-color: #000;
                                    }

                                    &.bg-write-in {
                                        background-color: #000;
                                    }

                                    &.bg-gray {
                                        background-color: #5F5F5F;
                                    }

                                    &.bg-blue {
                                        background-color: #374793;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .main-content {
            // background-image: linear-gradient(to bottom, #daeada, #dbe9fb 29%, #eae4f3 65%, #f9f0e0 100%, #d8d8d8);
            background-color: #f4eee2;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding: 10px 0px 0px;
            flex: 1 1 auto;

            .tab-education {
                padding-bottom: calc(env(safe-area-inset-bottom) + 110px);

                .msgs {
                    padding: 0;

                    .msg {
                        padding: 20px 0px 10px;
                        align-self: stretch;
                        height: auto;
                        width: calc(100% - 84px);
                        @media(max-width:360px) {
                            width: calc(100% - 56px);
                        }
                        // width: 100%;
                        // flex: 0 0 100%;
                        .slide-zoom {
                            height: 100%;
                        }

                        .educationBox {
                            margin-top: 0;
                            border: none;
                            // border: solid 3px #282333;
                            background-color: #fffcf7;
                            padding: 33px 40px 33px 33px;
                            text-align: left;
                            position: relative;
                            height: inherit;
                            border-radius: 6px;
                            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
                            .closeBtn {
                                background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23282333' fill-rule='nonzero'%3E%3Cg%3E%3Cpath d='M13.57.868c.46-.37 1.136-.34 1.56.09.425.43.447 1.106.07 1.562l-.08.088-5.46 5.391 5.46 5.393c.458.453.463 1.192.01 1.65-.424.43-1.1.46-1.56.09l-.09-.08L8 9.64l-5.48 5.412-.09.08c-.46.37-1.136.34-1.56-.09-.425-.43-.447-1.106-.07-1.562l.08-.088L6.34 8 .88 2.608C.422 2.155.417 1.416.87.958c.424-.43 1.1-.46 1.56-.09l.09.08L8 6.36 13.48.948l.09-.08z' transform='translate(-316 -375) translate(316 375)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                left: auto;
                                bottom: auto;
                                z-index: 2;
                            }
                            span.clickspan {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                display: block;
                                left: 0;
                                z-index: 0;
                            }
                            h2 {
                                font-family: 'Museo Slab';
                                font-size: 17px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: 0.11px;
                                color: #282333;
                                margin: 0;

                                span {
                                    color: #a25b94;
                                }
                            }

                            h4 {
                                margin-bottom: -15px;
                                font-family: 'Gibson';
                                font-size: 10px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 28px;
                                letter-spacing: 0.39px;
                                color: #282333;
                                margin: 0;

                                b {
                                    font-weight: 500;
                                }
                            }

                            p {
                                margin: 9px 0 0;
                                font-family: 'Gibson';
                                font-size: 14px;
                                font-weight: 300;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 20.4px;
                                letter-spacing: 0.5px;
                                color: #19171f;

                                .readmore {
                                    font-weight: normal;
                                    // border-bottom: solid 3px #282333;
                                    display: inline-block;
                                }
                            }

                            .badgeList {
                                list-style: none;
                                margin: 0px -3px 10px;
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;

                                li {
                                    margin: 3px;
                                    padding: 0;

                                    .blank-badge {
                                        display: block;
                                        font-family: 'Gibson';
                                        font-size: 10px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 24px;
                                        letter-spacing: 0.46px;
                                        padding: 0 10px;
                                        color: #fff;
                                        border-radius: 4px;
                                        margin: 0;
                                        height: 30px;
                                    }

                                    .badge {
                                        display: block;
                                        font-family: 'Fjalla One';
                                        font-size: 9.8px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 2.42;
                                        letter-spacing: 0.46px;
                                        padding: 0 10px;
                                        background-color: #24232d;
                                        color: #fff;
                                        border-radius: 4px;
                                        margin: 0;
                                        border: solid 2px #282333;
                                        // font-family: FjallaOne;
                                        &.bg-members {
                                            background-color: #ffebc8;
                                            color: #282333;
                                        }
                                        &.bulletin{color: #282333;background-color: #d2d2d2;}
                                        &.civic-job{color: #282333;background-color: #a8ccc2;}
                                        &.donate{color: #282333;background-color: #f4bc88;}
                                        &.education{color: #282333;background-color: #d7c896;}
                                        &.events{color: #282333;background-color: #afe0e1;}
                                        &.invite{color: #282333;background-color: #fde0ae;}
                                        &.lobby{color: #282333;background-color: #e1d0af;}
                                        &.rewards{color: #282333;background-color: #e9839b;}
                                        &.volunteer{color: #282333;background-color: #c4d1b3;}
                                        &.vote{color: #282333;background-color: #d5afe1;}
                                    }
                                }
                            }
                        }
                    }
                    .msg-border {
                        border: 3px solid #282333;
                    }
                }


                .list {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 12px 56px 0;
                    margin: 0px -15px -30px;
                    justify-content: flex-start;

                    .listIteam {
                        -webkit-box-flex: 0;
                        -webkit-flex: 0 0 33.33%;
                        -ms-flex: 0 0 33.33%;
                        flex: 0 0 33.33%;
                        margin: 0;
                        width: 33.33%;

                        &.inTop {
                            order: -1;
                        }

                        .listIteamInner {
                            position: relative;
                            display: block;
                            padding: 15px 15px 15px 7px;
                            height: 100%;

                            .iteamBox {
                                padding: 0;
                                max-width: 100%;
                                height: 100%;
                                margin: 0;
                                text-align: left;
                                // text-align: center;
                                // border-radius: 3px;
                                // border-radius: 15px;
                                // border: 3px solid rgba(40, 35, 51, 0.23);
                                // background-color: #fffaf0;
                                min-width: 100%;
                                position: relative;
                                border-radius: 0px !important;
                                background: transparent !important;
                                border: none !important;
                                -webkit-box-shadow: unset !important;
                                box-shadow: unset !important;
                                .badge {
                                    width: fit-content;
                                    max-width: 60px;
                                    right: 45px;
                                    top: 35px;
                                    position: absolute;
                                    font-family: 'Museo Slab';
                                    font-size: 14px;
                                    line-height: 16px;
                                    font-weight: 700;
                                    font-stretch: normal;
                                    font-style: normal;
                                    letter-spacing: -0.79px;
                                    color: #282333;
                                    padding: 0 5px;
                                    opacity: 0;
                                    transform: translate(50%, -50%);
                                    border-radius: unset !important;
                                    border: none !important;
                                    background-color: transparent !important;
                                }
                                .newBadge{
                                    padding: 0;
                                    width: 72px;
                                    height: 31px;
                                    border-radius: 4.5px;
                                    background: #ffc363;
                                    border: 3px solid #282333;
                                    font-weight: 700;
                                    font-size: 16px;
                                    letter-spacing: -0.04em;
                                    text-align: center;
                                    color: #282333;
                                    text-transform: uppercase;
                                    font-family: 'Museo Slab';
                                    position: absolute;
                                    bottom: -14px;
                                    top: auto;
                                    left:0;
                                    right: 0;
                                    margin-left: auto;
                                    margin-right: auto;
                                    line-height: 26px;
                                }
                                .tab-badge {
                                    width: 36px;
                                    height: 16px;
                                    border-radius: 5.1px !important;
                                    border: solid 2px #282333 !important;
                                    background-color: #9bd29f !important;
                                    font-family: 'Museo Slab';
                                    font-size: 9.6px;
                                    font-weight: 800;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 14px;
                                    letter-spacing: -0.42px;
                                    color: #282333 !important;
                                    padding: 0;
                                    position: absolute !important;
                                    top: 0px !important;
                                    // left: 0px !important;
                                    left: -30px !important;
                                    right: unset !important;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 0px !important;
                                }
                                .curveSVG {
                                    // position: absolute;
                                    // bottom: 4px;
                                    // right: 4px;
                                    position: unset;
                                    width: 23px;
                                    height: 2px;
                                    display: flex;
                                    margin: 8px 0px 0px;
                                    svg {
                                        display: block;
                                    }
                                    &.bulletin{color: #d2d2d2;background-color: #d2d2d2;}
                                    &.civic-job{color: #a8ccc2;background-color: #a8ccc2;}
                                    &.donate{color: #f4bc88;background-color: #f4bc88;}
                                    &.education{color: #d7c896;background-color: #d7c896;}
                                    &.events{color: #afe0e1;background-color: #afe0e1;}
                                    &.invite{color: #fde0ae;background-color: #fde0ae;}
                                    &.lobby{color: #e1d0af;background-color: #e1d0af;}
                                    &.rewards{color: #e9839b;background-color: #e9839b;}
                                    &.volunteer{color: #c4d1b3;background-color: #c4d1b3;}
                                    &.vote{color: #d5afe1;background-color: #d5afe1;}
                                }
                                .vector {
                                    width: 75%;
                                    max-width: 60px;
                                    height: auto;
                                    // padding: 0 0 80px;
                                    padding: 0px;
                                    display: block;
                                    // margin: 15px auto 0;
                                    background-position: center;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    opacity: 0.36;
                                    &.invites {
                                        // background-image: url('../assets/img/invites.svg');
                                        background-image: url('../assets/img/agenda-building.svg');
                                    }voter-icon-1

                                    &.messages {
                                        // background-image: url('../assets/img/messages.svg');
                                        background-image: url('../assets/img/agenda-building.svg');
                                    }

                                    &.volunteer {
                                        // background-image: url('../assets/img/volunteer.svg');
                                        background-image: url('../assets/img/voter-icon-1.svg');
                                    }
                                    
                                    &.lobby {
                                        // background-image: url('../assets/img/lobby.svg');
                                        background-image: url('../assets/img/agenda-building.svg');
                                    }
                                    
                                    &.donate {
                                        // background-image: url('../assets/img/donate.svg');
                                        background-image: url('../assets/img/agenda-building.svg');
                                    }
                                    img {
                                        max-width: 100%;
                                        max-height: 100%;
                                        width: auto;
                                        height: auto;
                                        object-fit: contain;
                                    }
                                    svg {
                                        max-width: 100%;
                                    }
                                }
                                h6 {
                                    font-family: 'Museo Slab';
                                    font-size: 12px;
                                    font-weight: 900;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: normal;
                                    letter-spacing: 1.15px;
                                    text-align: left;
                                    // color: #34303f;
                                    color: #625e58;
                                    margin: 9px 0px 0px;
                                    opacity: 0.36;
                                    -webkit-box-flex: 0;
                                    -webkit-flex: 0 0 auto;
                                    -ms-flex: 0 0 auto;
                                    flex: 0 0 auto;
                                    display: inline-block;
                                    z-index: 1;
                                    position: relative;
                                }
                            }
                        }

                            &.active .listIteamInner {
                                .iteamBox {
                                    background: #fffaf0;
                                    border: 3px solid #282333;

                                    .badge {
                                        // right: 30px;
                                        // top: 8px;
                                        left: unset;
                                        right: 20px;
                                        top: 0px;
                                        color: #282333;
                                        opacity: 1;
                                    }
                                    .vector{
                                        opacity: 1;
                                    }

                                    h6 {
                                        opacity: 1;
                                    }
                                }
                            }
                            
                            &.activeNew  .listIteamInner{
                                .iteamBox {
                                    background: #fffaf0;
                                    border: 3px solid #282333;
                                    box-shadow: 0px 2px 4px #c8b086;

                                    .badge {
                                        // right: -20px;
                                        // left: 0;
                                        right: 20px;
                                        left: unset;
                                        top: 0px;
                                        border-radius: 4.5px;
                                        border: solid 3px #282333;
                                        background-color: #9bd29f;
                                        color: #282333;
                                        opacity: 1;
                                    }
                                    .vector{
                                        opacity: 1;
                                    }

                                    h6 {
                                        opacity: 1;
                                    }
                                
                            }
                        }
                    }
                }
            }

            .tab-politics {
                padding: 30px 42px calc(env(safe-area-inset-bottom) + 110px);

                h4 {
                    font-family: 'Museo Slab';
                    font-size: 30px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 36px;
                    letter-spacing: 0.75px;
                    color: #282333;
                    text-transform: uppercase;
                }

                p {
                    font-family: 'Gibson';
                    font-size: 17px;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 25px;
                    letter-spacing: 1px;
                    color: #282333;
                }

                ion-list.customeStyle.list {
                    margin: auto;
                    padding: 0 0;
                    border: 0;
                    background: transparent;

                    ion-item.item.item-block {
                        margin: 0 0 15px;
                        padding: 0;
                        border: 0;
                        background: transparent;

                        &.item-select {
                            .item-inner {
                                margin: 0;
                                padding: 0;
                            }

                            ion-select {
                                margin: 0;
                                // padding: 25px 15px;
                                border: solid 1px #181818;
                                background-color: #fcf8f2;
                                max-width: none;
                                width: 100%;
                                padding-right: 14px;

                                .select-text {
                                    font-family: 'Museo Slab';
                                    font-size: 17px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 25px;
                                    letter-spacing: 1px;
                                    color: #282333;
                                }
                            }
                        }

                        &.item-textarea {
                            .item-inner {
                                margin: 0;
                                padding: 25px 15px;
                                border: solid 1px #181818;
                                background-color: #fcf8f2;
                            }

                            ion-label {
                                color: #FDFCF1;
                                opacity: 0.7;
                            }

                            ion-textarea {
                                border: 0;
                                background: transparent;

                                textarea {
                                    border: 0;
                                    background: transparent;
                                    margin: 0;
                                    width: 100%;
                                    height: 200px;
                                    font-family: 'Museo Slab';
                                    font-size: 17px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 25px;
                                    letter-spacing: 1px;
                                    color: #282333;
                                }
                            }
                        }
                    }
                }

                .btnArea {
                    max-width: none;
                    width: auto;
                    margin-left: -6px;
                    margin-right: -6px;
                    display: flex;
                    justify-content: space-between;

                    button.btn {
                        font-family: 'Museo Slab';
                        font-size: 15px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: 1.64px;
                        border-radius: 24px;
                        height: 48px;
                        line-height: 48px;
                        padding-left: 1.5em;
                        padding-right: 1.5em;
                        background: #e2b159;
                        color: #24242d;
                        width: auto;
                        margin: auto 6px;
                        display: block;
                        flex: 1 0 auto;

                        span {
                            display: inline-block;
                        }

                        &.btn-primary {
                            border-radius: 4px;
                            border: solid 2px #282333;
                            background-color: #4a4080;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}