<ion-content parallax-header no-padding (ionScroll)="logScrolling($event)" (ionScrollStart)="logScrollStart()"
  (ionScrollEnd)="logScrollEnd()">
  <div class="accordian_list">
    <div class="accordian_listIteam iteamHeader header-image">
      <div class="newHeaderBox">
        <div class="headerBox">
          <div class="logotitle">GET ENGAGED</div>
          <!-- <div class="logotitle">EMPOWRD</div> -->
          <div class="getEngaged">{{currentDay}}<br>{{currentDate}}</div>
          <!-- <div class="tagLine">Community Engagement Your home address to ensures we provide you acce</div> -->

          <!-- <div class="loctionWrap">
            <div class="loctionBox" (click)="editAddress()">
              <span class="checkIcon"></span>
              <span class="locationText">{{shortAddress | uppercase}}</span>
              <span class="editIcon" ></span>
            </div>
          </div> -->
          <ul class="address-btn-list">
            <li><button ion-button type="button">32 PEACHTREE ST NW, ATL</button></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="main-content">
      <!--  <div class="main-contentBG1"></div>
    <div class="main-contentBG2"></div> -->

      <div class="tabs tab-education" [ngClass]="{'hide':navMenu!='getEngaged' && loadPage==true}">

        <ion-slides #orgMessageSlider class="msgs" >
          <ion-slide class="msg" *ngFor="let getNewMail of getNewMailListOrg">
            <div class="educationBox">
              <div class="closeBtn" (click)="removeOrgMessage(getNewMail)"></div>
              <span *ngIf="getNewMail.new_message_count==1" class="clickspan" (click)="messageDetail(getNewMail.umid)"></span>
              <span *ngIf="getNewMail.new_message_count!=1" class="clickspan" (click)="showMessages(getNewMail.message_type_inbox)"></span>
              <ul class="badgeList">
                <li>
                  <div class="badge bg-members {{ getNewMail.class }}">{{getMessageType(getNewMail.message_type_inbox) | uppercase }}</div>
                </li>
              </ul>
              <h2 *ngIf="getNewMail.new_message_count==1">{{getNewMail.subject | uppercase}}</h2>
              <h2 *ngIf="getNewMail.new_message_count!=1">YOU HAVE <span>{{getNewMail.new_message_count}}</span> NEW
                MESSAGES.</h2>
              <p *ngIf="getNewMail.new_message_count==1">{{getNewMail.body}}<span class="readmore">read more</span></p>
              <p *ngIf="getNewMail.new_message_count!=1">View all by <span >clicking here.</span></p>
            </div>


          </ion-slide>
          <ion-slide class="msg1 "  [ngClass]="{'hide':loadedOrgMessageSlider==true}"> </ion-slide>
        </ion-slides>


        <div class="list">
          <div class="listIteam" *ngFor="let getNewMailByType of getNewMailByTypes; let b = index
          "  [ngClass]="{ 'active': getNewMailByType.message_count > 0 && getNewMailByType.new_message_count==0, 'activeNew':  getNewMailByType.message_count > 0 && getNewMailByType.new_message_count > 0 }"
            (click)="showMessages(getNewMailByType.message_type_inbox, getNewMailByType.message_count)"  >
            <div class="listIteamInner " >
              <div class="iteamBox">
                <ion-badge class="tab-badge" ng-reflect-color="default">NEW</ion-badge>
                <div class="badge" *ngIf="getNewMailByType.message_count!='0'">{{getNewMailByType.message_count}}</div>
                <!-- <div class="vector " [ngStyle]="{'background-image': 'url('+ getNewMailByType.message_icon+')'}"></div> -->
                <div class="vector">
                  <!-- <img src="./assets/img/agenda-building.svg"> -->
                  <!-- <svg width="55" height="53">
                    <g id="agenda-building">
                      <path id="Line Copy 4" class="shp0" d="M3.21 43.94L52.04 43.94" filter="blur(1.5px)" fill="none" stroke=" #51504d" stroke-linecap="square" stroke-width="0.563" />
                      <g id="Combined Shape">
                        <path id="Shape" fill-rule="evenodd" fill="#000000" class="shp1" d="M11.28 42.81L11.28 35.41L10.04 35.41C9.74 35.41 9.5 35.17 9.5 34.87C9.5 34.57 9.74 34.32 10.04 34.32L14.39 34.32L14.39 22.7L13.71 22.7C13.41 22.7 13.17 22.45 13.17 22.15C13.17 14.61 19.14 8.45 26.58 8.16L26.58 1.03C26.58 0.73 26.83 0.49 27.12 0.49C27.42 0.49 27.67 0.73 27.67 1.03L27.67 1.19L34.81 1.19C35.11 1.19 35.35 1.43 35.35 1.73L35.35 6.21C35.35 6.51 35.11 6.76 34.81 6.76L27.67 6.76L27.67 8.16C35.11 8.45 41.08 14.61 41.08 22.15C41.08 22.45 40.84 22.7 40.54 22.7L39.86 22.7L39.86 34.32L44.21 34.32C44.51 34.32 44.75 34.57 44.75 34.87C44.75 35.17 44.51 35.41 44.21 35.41L42.97 35.41L42.97 42.81L44.21 42.81C44.51 42.81 44.75 43.06 44.75 43.36C44.75 43.66 44.51 43.9 44.21 43.9L10.04 43.9C9.74 43.9 9.5 43.66 9.5 43.36C9.5 43.06 9.74 42.81 10.04 42.81L11.28 42.81ZM16.74 35.41L16.74 42.81L20.03 42.81L20.03 35.41L16.74 35.41ZM34.22 35.41L34.22 42.81L37.51 42.81L37.51 35.41L34.22 35.41ZM33.14 35.41L29.85 35.41L29.85 42.81L33.14 42.81L33.14 35.41ZM28.77 35.41L25.48 35.41L25.48 42.81L28.77 42.81L28.77 35.41ZM24.4 35.41L21.11 35.41L21.11 42.81L24.4 42.81L24.4 35.41ZM41.89 35.41L38.6 35.41L38.6 42.81L41.89 42.81L41.89 35.41ZM34.27 2.28L27.67 2.28L27.67 5.67L34.27 5.67L34.27 2.28ZM14.26 21.61L39.99 21.61C39.71 14.74 34.04 9.23 27.12 9.23C20.21 9.23 14.54 14.74 14.26 21.61ZM15.47 34.32L38.78 34.32L38.78 22.7L15.47 22.7L15.47 34.32ZM12.36 42.81L15.65 42.81L15.65 35.41L12.36 35.41L12.36 42.81Z" />
                        <path id="Path" fill="#000000" class="shp1" d="M18.87 25.94C18.67 25.94 18.5 26.18 18.5 26.48L18.5 31.38C18.5 31.68 18.67 31.92 18.87 31.92C19.08 31.92 19.25 31.68 19.25 31.38L19.25 26.48C19.25 26.18 19.08 25.94 18.87 25.94Z" />
                        <path id="Path" fill="#000000" class="shp1" d="M23.37 25.94C23.17 25.94 23 26.18 23 26.48L23 31.38C23 31.68 23.17 31.92 23.37 31.92C23.58 31.92 23.75 31.68 23.75 31.38L23.75 26.48C23.75 26.18 23.58 25.94 23.37 25.94Z" />
                        <path id="Path" fill="#000000" class="shp1" d="M27.12 25.94C26.92 25.94 26.75 26.18 26.75 26.48L26.75 31.38C26.75 31.68 26.92 31.92 27.12 31.92C27.33 31.92 27.5 31.68 27.5 31.38L27.5 26.48C27.5 26.18 27.33 25.94 27.12 25.94Z" />
                        <path id="Path" fill="#000000" class="shp1" d="M30.87 25.94C30.67 25.94 30.5 26.18 30.5 26.48L30.5 31.38C30.5 31.68 30.67 31.92 30.87 31.92C31.08 31.92 31.25 31.68 31.25 31.38L31.25 26.48C31.25 26.18 31.08 25.94 30.87 25.94Z" />
                        <path id="Path" fill="#000000" class="shp1" d="M35.37 25.94C35.17 25.94 35 26.18 35 26.48L35 31.38C35 31.68 35.17 31.92 35.37 31.92C35.58 31.92 35.75 31.68 35.75 31.38L35.75 26.48C35.75 26.18 35.58 25.94 35.37 25.94Z" />
                      </g>
                    </g>
                  </svg> -->
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="55" height="53" viewBox="0 0 55 53">
                    <defs>
                      <clipPath id="clip-Canvas">
                        <rect width="45" height="53"/>
                      </clipPath>
                    </defs>
                    <g id="Canvas" clip-path="url(#clip-Canvas)">
                      <rect width="45" height="53" fill="rgba(0,0,0,0)"/>
                      <g id="voter">
                        <line id="Layer" y2="39.35" transform="translate(41.55 1.65)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.439"/>
                        <line id="Layer-2" data-name="Layer" y2="39.35" transform="translate(2.84 1.65)" fill="none" stroke="#282333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.439"/>
                        <line id="Layer-3" data-name="Layer" y2="39.36" transform="translate(32.89 10.71)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.439"/>
                        <line id="Layer-4" data-name="Layer" y2="39.36" transform="translate(10.35 10.71)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.439"/>
                        <path id="Layer-5" data-name="Layer" d="M43.72,3.591c-4.631,1.569-7.4,2.374-8.311,2.329a3.734,3.734,0,0,1-.76-.152h0l.164,31.766,8.907-2.8Z" fill="#fffaf0" stroke="#282333" stroke-linejoin="round" stroke-width="1.439"/>
                        <path id="Layer-6" data-name="Layer" d="M1.26,3.49c3.58,1.555,5.714,2.39,6.4,2.335a2.629,2.629,0,0,0,.763-.25h0l.5,31.362-7.1-2.782Z" fill="#fffaf0" stroke="#625e58" stroke-linejoin="round" stroke-width="1.439"/>
                        <path id="Layer-7" data-name="Layer" d="M7.15,1H37.783l.1,38.79a2.892,2.892,0,0,1-.181,1.012q-.95,2.547-1.9,2.547c-1.04,0-2.728-1.809-3.593-1.645s-2.512,1.645-2.785,1.645c-1.13,0-.652-1.709-2.785-1.645-1.08.032-1.91,1.645-2.785,1.645S22.115,41.7,21.075,41.7c-1.7,0-1.8,1.645-2.785,1.645-1.832,0-2.051-1.645-2.785-1.645-1.31,0-1.382,1.645-2.785,1.645-.58,0-1.354-1.645-2.394-1.645h-.048A1.581,1.581,0,0,1,7.2,41.209L7.15,1Z" fill="#fffaf0" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.439"/>
                        <line id="Layer-8" data-name="Layer" x1="0.12" y2="27.15" transform="translate(40.59 8.41)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.026"/>
                        <line id="Layer-9" data-name="Layer" x2="0.29" y2="27.15" transform="translate(4.19 8.41)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.026"/>
                        <line id="Layer-10" data-name="Layer" y2="25.73" transform="translate(24.75 9.27)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.012"/>
                        <line id="Layer-11" data-name="Layer" y2="25.73" transform="translate(30.23 9.27)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.012"/>
                        <line id="Layer-12" data-name="Layer" y2="25.73" transform="translate(14.49 9.27)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.012"/>
                        <line id="Layer-13" data-name="Layer" y2="25.73" transform="translate(19.96 9.27)" fill="none" stroke="#625e58" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.012"/>
                        <image id="Rectangle_1" data-name="Rectangle 1" width="37" height="5" transform="translate(3 48)" opacity="0.3" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAFCAYAAADCMiU1AAAABHNCSVQICAgIfAhkiAAAAFFJREFUKFNjZIAAJiBmhtJQIbpT/4A2/gXif4xQh/ACaWkg5oc6jt4uAjnoExA/AdEgR4FCCOQgCyCWB2JWersIaN8fqIOOAenHgzakBl2aAgD+rBIN3aiEIAAAAABJRU5ErkJggg=="/>
                      </g>
                    </g>
                  </svg>
                </div>
                <h6>{{(getNewMailByType.short_message_type=='ANNOUNCEMENT')?'UPDATES':getNewMailByType.short_message_type | uppercase}} </h6>
                <span class="curveSVG {{getNewMailByType.class}}">
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="28" height="27" viewBox="0 0 28 27"><g fill="none" fill-rule="evenodd"><g fill="currentColor"><path d="M187.998 470.198L188 487c0 5.523-4.477 10-10 10h-17.42c7.682-7.56 16.821-16.494 27.418-26.802z" transform="translate(-160 -470)"/></g></g></svg> -->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs tab-politics" [ngClass]="{'hide':navMenu!='community'}">
        <h4>Empowrd wants to hear from you.</h4>
        <p>Select from the list below and give us your feedback.</p>
        <ion-list class="customeStyle">
          <ion-item>
            <ion-select [(ngModel)]="problem" placeholder="Select a category below">
              <ion-option value="wronginformation">My Elected Official's Information Is Wrong</ion-option>
              <ion-option value="missinginformation">My Elected Official's Information Is Missing</ion-option>
              <ion-option value="other">Other</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-textarea [(ngModel)]="text" placeholder="Enter a description"></ion-textarea>
          </ion-item>
        </ion-list>
        <div class="btnArea">
          <button ion-button type="button" (click)="sendCommunity()" class="btn btn-primary">SEND</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>