page-add-cause {
    background-color: #F9F0E0;
	ion-footer.footer {
        border: 0 none;
		background: transparent;
		text-align: center;
		margin: 0;
		padding: 0 5.3% 28px;
        &:before {
            border: 0 none;
            background: transparent;
        }
		.btnArea {
			max-width: none;
			width: auto;
			margin-left: 0;
			margin-right: 0;
			display: flex;
			justify-content: space-between;

			button.btn {
				font-family: 'Yanone Kaffeesatz';
				font-size: 16px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				letter-spacing: 5px;
				border-radius: 24px;
				height: 51px;
				line-height: 45px;
				padding-left: 1.5em;
				padding-right: 1.5em;
				background: #e2b159;
				color: #24242d;
				width: auto;
				margin: auto 0;
				display: block;
				flex: 1 0 auto;
				span {
					display: inline-block;
				}
				&.btn-primary {
					border-radius: 5px;
					border: solid 3px #282333;
					background-color: #e6decc;
                    color: #282333;
				}

                &.btn-success {
                    border-radius: 5px;
                    border: solid 3px #282333;
                    background-color: #282333;
                    color: #ffffff;
                }
            }
            
            .btnGroup {
                padding: 0;
                margin: auto 0;
                display: flex;
                flex: 1 1 auto;
                button.btn {
                    margin: 0;
                    border-color: #282333;
                    border-style: solid;
                    border-width: 3px;
                    &.btn-primary {
                        color: #282333;
                        background-color: #efe7d4;
                        width: 50%;
                    }
                    &.btn-secondary {
                        color: #fff;
                        background-color: #4a4080;
                        width: 50%;
                    }
                    &:nth-of-type(1) {
                        border-width: 3px 0 3px 3px;
                        border-radius: 5px 0 0 5px;
                        flex: 0 1 auto;
                    }

                    &:nth-of-type(1n+2) {
                        border-radius: 0 5px 5px 0;
                        flex: 1 0 auto;
                    }
                }
            }
		}
        .workWithOrganizations-bottom {
            .cmessage {
                margin: auto auto;
                max-width: 370px;
                width: 78%;

                svg {
                    display: block;
                    margin: auto auto 1em;
                    width: 14.3vw;
                }

                h4 {
                    font-family: 'Gibson';
                    font-size: 4vw;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.19px;
                    text-align: center;
                    color: #ffffff;
                }

                p {
                    font-family: Gibson;
                    font-size: 3.64vw;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.3px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.53);
                }
            }
        }
    }
    ion-header.header{
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        background-color: #F9F0E0;
        &:after{display: none;}
        ion-navbar.toolbar{
            overflow: unset;
            transform: none !important;
            contain: none !important;
            padding: 119px 33px 0 !important;
            min-height: 0 !important;
            .goBackBtn {
                position: absolute;
                top: 63px;
                /* top: calc(env(safe-area-inset-top) + 63px); */
                left: 30px;
            }

            .closeBtn {
                position: absolute;
                top: 63px;
                /* top: calc(env(safe-area-inset-top) + 63px); */
                right: 30px;
            }
            .navList{
                margin-bottom: 0px;
                position: relative;
                display: flex;
                justify-content: space-between;
                padding-bottom: 16px;
                #headerStrocke{
                    display:block;
                    margin: 0 auto 0 0;
                    height: 3px;
                    background:#4b3c75;
                    transition: all 0.3s ease-in-out;
                    width: 56px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: 0;
                    left:0;
                    right: 0;
                    width: auto;
                }
                .progressBar {
                    display: flex;
                    align-items: flex-end;
                    span{
                        width: 9px;
                        height: 9px;
                        display:block;
                        border: solid 1px #bfb29b;
                        background-color: #bfb29b;
                        border-radius: 50%;
                        &:nth-of-type(1n+2){margin-left: 10px;}
                        &.active{
                            background-color: #28243d;
                            border-color: #28243d;
                        }
                    }
                }
                .navIteam{
                    display: inline-block;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 19px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 2.02px;
                    text-align: center;
                    color: #4b3c75;
                    padding-bottom:0;
                }
                
                .yourPowrscore{
                    display: flex;
                    margin: 0px 0 0px;
                    width: 206px;
                    .title{
                        border-radius: 5px 0 0 5px;
                        background-color: #282333;
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 34px;
                        letter-spacing: 2.32px;
                        text-align: center;
                        color: #ffffff;
                        flex: 1 1 auto;
                        padding: 0 13px;
                    }
                    .count{
                        border-radius: 0 5px 5px 0;
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 18px;
                        font-weight: 500;
                        width: 54px;
                        font-stretch: normal;
                        font-style: normal;
                        line-height:  34px;
                        letter-spacing: 0.66px;
                        text-align: center;
                        color: #f6f6f6;
                        background-color: #df45a2;
                        padding: 0 13px;
                        flex: 1 0 54px;
                    }
                }
            }
        }
        .toolbar-background{
            display: none;
        }
    }

    ion-content.content {
        &.addCause {
            .scroll-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 60px !important;
                margin-bottom: 0px !important;
            }
            &.content-ios{
                .addCause-top {
                    padding-top: 169px;
                }
            }
            .addCause-top {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                background-color: #F9F0E0;
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0;
                margin-right: 0;
                padding: 45px 33px 4px;
                .headTitles {
                    margin: auto auto 0;
                    width: auto;
                    .headToolbar {
                        zoom: 1;
                        padding: 0 11%;
                        &:before,
                        &:after {
                            content: "";
                            display: table;
                        }
                        &:after {
                            clear: both;
                        }
                    }
                    .logotitle {
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        letter-spacing: 5px;
                        color: #282333;
                        text-transform: uppercase;
                    }
                    h2 {
                        color: #282333;
                        font-family: 'Yanone Kaffeesatz';
                        font-weight: bold;
                        font-size: 60px;
                        text-align: left;
                        line-height: 44px;
                        letter-spacing: 0.81px;
                        margin: 10px auto 0.2em;
                        padding: 0;
                    }
                    p {
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        text-align: left;
                        margin: 0;
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 17px;
                        letter-spacing: 1px;
                        color: #282333;
                    }
                }
            }

            .main-content {
                background: #F9F0E0;
                padding: 20px 26px 32px;
                margin-top: 0;
                margin-bottom: auto;
                ion-list.causeList.list {
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					justify-content: flex-start;
                    margin-bottom: 0;
					ion-item.item.item-block {
						flex: 0 0 50%;
						width: 50%;
                        margin: 0px;
                        padding: 6px;
                        overflow: unset;
						contain: unset;
						border: 0;
						background: transparent;
                        .item-inner {
                            margin: 0;
                            padding: 0;
                            border: 0 none;
                            overflow: unset;
							padding: 16px;
							border-radius: 4px;
							display: flex;
							justify-content: center;
							align-items: center;
							height: 100px;
							border: solid 2px #282333;
							background-color: #282333;
							transition: all 0.3s linear;
                            .input-wrapper {
                                overflow: unset;
                            }

                            ion-label.label {
                                margin: 0;
                                padding: 0;
								border: 0 none;
                                text-align: center;
                                white-space: normal;
								h2{
									font-family: 'Yanone Kaffeesatz';
									font-size: 22px;
									font-weight: 500;
									font-stretch: normal;
									font-style: normal;
									line-height: 0.84;
									letter-spacing: 0.51px;
									color: #f9f0e0;
									margin: 0;
                                    padding: 2px 0 0;
                                    height: 44px;
                                    text-transform: uppercase;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                p{
									font-family: 'Gibson';
									font-size: 10px;
									font-weight: bold;
									font-stretch: normal;
									font-style: normal;
									line-height: 1.77;
									letter-spacing: 1.93px;
									text-align: center;
									color: #f9f0e0;
									margin: 0;
									padding: 0;
								}
                            }
						}
						ion-checkbox.checkbox{
							position: absolute;
							top: 4px;
							right: 4px;
							bottom: 4px;
							left: 4px;
							padding: 0;
							margin: 0;
							.checkbox-icon{
								position: absolute;
								top: 0;
								right: 0;
								bottom: auto;
								left: auto;
								background-image: url("data:image/svg+xml,%3Csvg id='Group_8' data-name='Group 8' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 32.9'%3E%3Crect id='Rectangle_Copy' data-name='Rectangle Copy' width='33' height='32.9' rx='16.45' transform='translate(0 0)' fill='%23272736'/%3E%3Cg id='Group_8-2' data-name='Group 8' transform='translate(10 12)'%3E%3Cpath id='Shape' d='M3.458,9.084a1.362,1.362,0,0,0,1.008.438,1.421,1.421,0,0,0,1.008-.438l6.117-6.512a1.574,1.574,0,0,0,0-2.13,1.354,1.354,0,0,0-2,0L4.452,5.881,2.416,4.009a1.354,1.354,0,0,0-2,0,1.574,1.574,0,0,0,0,2.13Z' transform='translate(0.681 0.639)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
								background-color:transparent;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat;
								border: 0;
								border-radius: 0;
								width: 22px;
								height: 22px;
								transform: translate(25%, -25%);
								transition: all 0.3s linear;
								opacity: 0;
								.checkbox-inner{display: none;}
								&.checkbox-checked{
									opacity: 1;
								}
							}
						}
						&.item-checkbox-checked{
							.item-inner {
								border-color: #282333;
                                background-color: #fffcf5;
								ion-label.label {
									h2{color: #28243d;}
									p{color: #28243d}
								}
							}
						}
                    }
                }

                .btnArea {
                    max-width: none;
                    width: auto;
                    margin-left: 20%;
                    margin-right: 20%;
                    display: flex;
                    justify-content: space-between;

                    button.btn {
                        font-family: Yanone Kaffeesatz;
                        font-weight: bold;
                        font-size: 18px;
                        text-align: center;
                        letter-spacing: 2px;
                        border-radius: 24px;
                        height: 48px;
                        line-height: 48px;
                        padding-left: 1em;
                        padding-right: 1em;
                        background: #e2b159;
                        color: #24242d;
                        display: block;
                        width: 100%;
                        margin: auto;
                        text-transform: uppercase;
                        span {
                            display: inline-block;
                        }

                        &.btn-half {
                            max-width: calc(50% - 10px);
                        }

                        &.btn-warning {
                            background-color: #efefef;
                            color: #1c1c1c;
                        }

                        &.btn-secondary {
                            background: #e2b159;
                            color: #24242d;

                            &:disabled {
                                background: #9c7837;
                                color: #AB8541;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}