page-home {
	.home_contentWrap{
		.scroll-content{
			.home_content{
			    min-height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				// padding-top:26vh;
				padding-top:0;
				.notificatoinBoxWrao{
					position:absolute;
					top:40px;
					left: 0;
					right: 0;
					z-index: 0;
					overflow: auto;
					max-height: calc(100% - 60px);
					.notificatoinBox{
						margin: 5vw;
						border-radius: 3px;
						padding:5px 20px 20px;
						background: #f5f5f5;
						border: 3px solid #eaeaea;
						box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.33);
						span.closeBtn {
						    width: 10px;
						    height: 10px;
						    display: block;
						    margin: auto 0 4px auto;
						    svg{width: 100%;height: 100%;}
						}
						h6{
							margin: auto auto 10px;
							display: flex;
							justify-content: flex-start;
							align-items: flex-start;
							span{
								display:inline-flex;
								justify-content: flex-start;
								align-items: center;
								padding:3px 6px 3px ;
								border-radius: 9px;
								font-family: 'Gibson';
								font-weight: 500;
								font-size: 10px;
								letter-spacing: 0.09em;
								margin-right: 5px;
								&.magento{
									background: #4E4074;
									color: #fff;
								}
								&.orange{
									background: #f3c470;
									color: #493B70;
								}
								&.icon_Oval:before{ 
									display: inline-block;
									border-radius:50%;
									background-color: #f9bf00;
									content: "";
									width: 2.6vw;
									height: 2.6vw;
									margin-right: 6px;
									margin-top: 3px;
									vertical-align: top;
								}
								svg{
									vertical-align: middle;
									margin-right: 5px;
								}
							}
						}
						h5{
							color:#493B70;
							font-family: Gibson;
							font-weight: bold;
							font-size: 20px;
							line-height: 27px;
							color: #493b70;
						}
						p{
							font-family: Gibson;
							font-size: 4.4vw;
							font-weight: normal;
							font-stretch: normal;
							line-height: 1.45;
							letter-spacing: -0.45px;
							color: #493B70;
							margin: auto;
							font-style: italic;
							.text-white{
								color:#34CA9E;
							}
							.readMore{
								font-weight: normal;
								color:#4ee3b7;
							    display: inline-block;
							    /*
							    &:after {
									content: "";
									display: inline-block;
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 5px;
									border-color: transparent transparent transparent currentColor;
									margin-left: 6px;
								}
							    */
							}
						}
						.senderInfo{
							display: flex;
							align-items:flex-start;
							justify-content: flex-start;
							margin-top: 10px;
							.profile_wrap{
								margin-right: 10px;
								position:relative;
								.profileImg{
									width: 36px;
									height: 36px;
									border-radius:50%;
									display: flex;
									justify-content: center;
									align-items:center;
									text-align: center;
									background:#fcfcfc;
								}
								img.logoImg{
									width: 15px;
									height: 15px;
									border-radius:50%;
									position:absolute;
									bottom: 5px;
									right: -3px;
									left: auto;
									top:auto;
								}
							}
							p{
								font-style: italic;
								font-weight: normal;
								font-size: 12px;
								line-height: 12px;
								color: #493b70;
								margin: auto auto auto 0;
							}
						}
						.powrPointsWrap{
							display: flex;
							justify-content: flex-end;
							align-items:flex-start;
							.powrPoints{
								font-weight:500;
								font-size: 9.6px;
								letter-spacing: 0.09em;
								color: #fff;
								border-radius: 9px;
								background: #ee5050;
								padding:5px 10px;
								display: block;
								margin-left: 5px;
							}
						}
					}
				}
				.home_infoGraphWrap{
					margin: auto 0 0;
					position:relative;
					z-index: 1;
					&:before{
						content: "";
						background-image: linear-gradient(to bottom, rgba(125, 108, 169, 0), #53718c 38%, #91a8c2);
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: 34vh;
						z-index: -1;
					}
					.charWrap{
						background-image:url('../assets/img/home_infoGraph_char.svg');
					    background-repeat: no-repeat;
					    background-position: top center;
					    height: 16vh;
					    font-family: 'Museo Slab', MuseoSlab-900, Museo Slab;
					    font-size: 14px;
					    font-weight: 900;
					    color: #fff;
					    letter-spacing: 1px;
					    text-align: center;
					    line-height: 31px;
					    margin: auto auto -33px 9px;
					    position: relative;
					    z-index: 1;
					}
					.home_infoGraph{
						background-image:url('../assets/img/home_infoGraph_shadow.svg');
						background-size:auto 80%;
						background-repeat: no-repeat;
						background-position: center bottom;
						padding-bottom: 6vw;
						img{
							max-width: 86%;
							display:block;
							margin: auto;
						}
					}
				}
				.locationList{
					background-color:#211c3a;
					color:#fff;
					list-style: none;
					margin: 0;
					padding:0;
					display: flex;
					li{
						border-left: solid 1px #0f0e14;
						border-right: solid 1px #312b50;
						&:first-of-type{border-left: 0 none;}
						&:last-of-type{border-right: 0 none;}
						padding:3vw 10vw 3vw 5vw ;
						white-space: nowrap;
						flex: 1 1 auto;
						font-family: 'Yanone Kaffeesatz';
						font-size: 3.5vw;
						font-weight: bold;
						letter-spacing: 1.25px;
						&.active{
							background-color:#6844b7;
						}
					}
				}
				.charBoxWrap{
					display: flex;
					justify-content: flex-start;
					background-color:#f9f9f9;
					align-items: center;
					padding: 10px;
					.charBox {
					  width: 42px;
					  height: 42px;
					  border: solid 2px #812e7c;
					  background-color: #bb35ae;
					  font-family: 'Museo Slab', MuseoSlab-900, Museo Slab;
					  font-size: 19px;
					  font-weight: bold;
					  color:#fff;
					  letter-spacing: 1px;
					  text-align: center;
					  line-height:38px; 
					}
					.charBoxTitle{
						padding-left:10px;
						h3{
							font-family: Gibson;
							font-size: 3.8vw;
							font-weight:500;
							font-stretch: normal;
							font-style: normal;
							line-height: normal;
							letter-spacing: -0.22px;
							color: #4a4a4a;
							margin: 0;
						}
						p{
							font-family: Gibson;
							font-size: 3.8vw;
							font-weight: 300;
							font-stretch: normal;
							font-style: normal;
							line-height: normal;
							letter-spacing: normal;
							color: #222222;
							margin: 0;
						}
					}
					.polygonBtn{
						margin-left: auto;
					}
				}
			}
		}
	}
}