<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
  	<div class="btnsWrap">
  		<div class="btn btn-menu" menuToggle start left><svg xmlns="http://www.w3.org/2000/svg" width="16" height="14.911" viewBox="0 0 16 14.911"><g id="Combined_Shape" data-name="Combined Shape" transform="translate(366 6118)"><path id="Combined_Shape-2" data-name="Combined Shape" d="M1.1,14.911a1.1,1.1,0,0,1,0-2.2H14.9a1.1,1.1,0,0,1,0,2.2Zm0-6.356a1.1,1.1,0,1,1,0-2.2H14.9a1.1,1.1,0,1,1,0,2.2ZM1.1,2.2A1.1,1.1,0,1,1,1.1,0H14.9a1.1,1.1,0,1,1,0,2.2Z" transform="translate(-366 -6118)" fill="#493b70"/><path id="Combined_Shape-3" data-name="Combined Shape" d="M1.1,14.911a1.1,1.1,0,0,1,0-2.2H14.9a1.1,1.1,0,0,1,0,2.2Zm0-6.356a1.1,1.1,0,1,1,0-2.2H14.9a1.1,1.1,0,1,1,0,2.2ZM1.1,2.2A1.1,1.1,0,1,1,1.1,0H14.9a1.1,1.1,0,1,1,0,2.2Z" transform="translate(-366 -6118)" fill="none"/></g></svg></div>
  		<div class="locationSearch">
  			<form class="searL"><ion-item><ion-input disabled slot="start" name="search" placeholder="{{addressOnHeader}}"></ion-input></ion-item></form>
  		</div>
  		<custom-header [headerData]="header_data"></custom-header>
  		<div class="btn btn-search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22"><path fill="#493B70" fill-rule="nonzero" d="M10.554 0c5.828 0 10.554 4.725 10.554 10.554 0 2.51-.876 4.814-2.339 6.625l3.08 2.682a1.227 1.227 0 0 1-1.538 1.908l-.104-.084-3.186-2.775-.01-.008a10.508 10.508 0 0 1-6.457 2.206C4.725 21.108 0 16.382 0 10.554 0 4.725 4.725 0 10.554 0zm0 1.963a8.59 8.59 0 1 0 0 17.181 8.59 8.59 0 0 0 0-17.18zm-.107 3.704a.982.982 0 0 1-.712 1.192c-.818.206-1.454.526-1.924.954-.437.398-.77 1.027-.982 1.91a.982.982 0 0 1-1.91-.456c.298-1.242.815-2.219 1.57-2.906.724-.659 1.65-1.125 2.766-1.406a.982.982 0 0 1 1.192.712z"/></svg></div>
  	</div>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="home_contentWrap">
	<div class="home_content">
	<ul class="locationList">

		<li class="active" *ngIf="city!=''">{{city | uppercase}}</li>
		<li *ngIf="county!=''">{{county.replace(" County","") | uppercase}}</li>
		<li *ngIf="state!=''">{{state | uppercase}}</li>
		<!-- <li>UNITED STATES OF AMERICA</li> -->
		<li>USA</li>
	</ul>		
	<div class="notificatoinBoxWrao" *ngIf="newMessagePopup">
	<div class="notificatoinBox">
		<div class="clearfix">
			<span class="closeBtn" (click)="closeNewmessageModal()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#211C3A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#211C3A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></span>
		</div>
		<h6>
			<span class="orange">NEW</span>
			<span class="magento" *ngIf="senderName!=''" ><svg xmlns="http://www.w3.org/2000/svg" width="12.83" height="12.83" viewBox="0 0 12.83 12.83"><g id="Group_8" data-name="Group 8" transform="matrix(1, 0.017, -0.017, 1, -0.111, -0.322)"><circle id="Oval" cx="6.306" cy="6.306" r="6.306" transform="translate(0.337 0.316)" fill="#453a62"/><path id="Shape" d="M1.71,4.493a.674.674,0,0,0,.5.217.7.7,0,0,0,.5-.217L5.733,1.272a.778.778,0,0,0,0-1.054.67.67,0,0,0-.99,0L2.2,2.909,1.2,1.983a.67.67,0,0,0-.99,0,.778.778,0,0,0,0,1.054Z" transform="translate(3.675 4.397)" fill="#fff"/></g></svg>{{ senderName | uppercase}}</span>
		</h6>
		<h5 *ngIf="multipleMessage=='0'">{{newMessagePopupSub}}</h5>
		<p>{{newMessagePopupText}} <span class="readMore" *ngIf="multipleMessage=='0'"  (click)="goToMessageList()">read more</span></p>
		<div class="senderInfo" *ngIf="senderName!=''">
			<div class="profile_wrap">
			<div class="profileImg"  width="36" *ngIf="adminPhoto==''" height="36">{{adminName.substring(0,1) | uppercase}}</div>
			<img class="profileImg" src="{{adminPhoto}}" *ngIf="adminPhoto!=''" width="36" height="36" alt="" />
			<img class="logoImg" src="./assets/img/gna_logo.png" width="15" height="15" alt="" />
			</div>
			<p>{{adminName}},<br>{{senderName}}</p>
		</div>
		<button *ngIf="multipleMessage!='0'" ion-button class="btn btn-warning btn-half" (click)="goToMessages()" flex="50">VIEW MESSAGES</button>

		<!-- <div class="senderInfo">
			<div class="profile_wrap">
			<div class="profileImg" width="36" height="36">TD</div>
			<img class="logoImg" src="./assets/img/gna_logo.png" width="15" height="15" alt="" />
			</div>
			<p>Tim Davis,<br>Georgia Nurses Association</p>
		</div> -->
		<div class="powrPointsWrap" *ngIf="senderName!=''">
			<div class="powrPoints">+ 5 POWR POINTS</div>
		</div>

	</div>
	</div>


	<div class="home_infoGraphWrap">
		<div class="home_infoGraph">
			<img src="./assets/img/home_infoGraph.svg" alt="" />
		</div>
	</div>
	</div>
</ion-content>

<ion-footer>


</ion-footer>