<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the PrivacyPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding class="registrationProcess ">
	<div class="registrationProcess-top">
		<div class="headTitles">
			
				<div class="headToolbar">
					<span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#322e51" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#322e51" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></span>
				</div> 
			
			<h2>HELP</h2>
			
		</div>
		
			
	</div>
	<div class="tabs tab-politics" >
		        <h4>Empowrd wants to hear from you.</h4>
		        <p>Select from the list below and give us your feedback.</p>
		        <ion-list class="customeStyle">
		          <ion-item>
		            <ion-select [(ngModel)]="problem" placeholder="Select a category below">
		              <ion-option value="wronginformation">My Elected Official's Information Is Wrong</ion-option>
		              <ion-option value="missinginformation">My Elected Official's Information Is Missing</ion-option>
		              <ion-option value="other">Other</ion-option>
		            </ion-select>
		          </ion-item>
		          <ion-item>
		            <ion-textarea [(ngModel)]="text" placeholder="Enter a description"></ion-textarea>
		          </ion-item>
		        </ion-list>
		        <div class="btnArea">
		          <button ion-button type="button" (click)="sendCommunity()" class="btn btn-primary">SEND</button>
		        </div>
		    </div>
	
</ion-content>
