@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }

  :-moz-placeholder {
    @content
  }

  ::-moz-placeholder {
    @content
  }

  :-ms-input-placeholder {
    @content
  }
}
page-help {
	background-color: #F9F0E0;
  	ion-content.content {
    &.registrationProcess {
      .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0 !important;
      }

      .registrationProcess-top {
        padding-top: 40px;
        /* padding-top: calc(env(safe-area-inset-top) + 40px); */
        padding-bottom: 0;
        display: flex;
        flex-direction: column;


        .headTitles {
          margin: auto 42px 1.5em;
          width: auto;

          .headToolbar {
              zoom: 1;
              padding: 0 0;

              &:before,
              &:after {
                  content: "";
                  display: table;
              }

              &:after {
                  clear: both;
              }

              .goBackBtn {
                  float: left;
              }

              .closeBtn {
                  float: right;
                  svg{
                    fill: #322e51;
                  }
              }
          }

          h3 {
              color: #f9bf00;
              font-family: 'Fjalla One';
              text-align: center;
              margin: auto auto 10px;
              padding: 0;
              font-weight: normal;
              letter-spacing: 0.5px;
              font-size: 5vw;
          }

          h2 {
              color: #322e51;
              font-family: Yanone Kaffeesatz;
              font-weight: bold;
              font-size: 11vw;
              text-align: center;
              margin: auto;
              padding: 0;
              line-height: 1em;
          }

          p {
            font-family: 'Gibson';
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: 0.3px;
            text-align: center;
            color: #413c67;
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
          }
      	}
  	  }
      .tab-politics{
                padding: 5px 42px calc(env(safe-area-inset-bottom) + 20px);
                h4{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 30px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 36px;
                    letter-spacing: 0.75px;
                    color: #282333;
                    text-transform: uppercase;
                }
                p{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 17px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 25px;
                    letter-spacing: 1px;
                    color: #282333;
                }
                ion-list.customeStyle.list {
                    margin: auto;
                    padding: 0 0;
                    border: 0;
                    background: transparent;
                    ion-item.item.item-block {
                        margin: 0 0 15px;
                        padding: 0;
                        border: 0;
                        background: transparent;
        
                        &.item-select {
                            .item-inner {
                                margin: 0;
                                padding: 0;
                            }
        
                            ion-select {
                                margin: 0;
                                // padding: 25px 15px;
                                border: solid 1px #181818;
                                background-color: #fcf8f2;
                                max-width: none;
                                width: 100%;
                                padding-right: 14px;
                                .select-text{
                                    font-family: 'Yanone Kaffeesatz';
                                    font-size: 17px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 25px;
                                    letter-spacing: 1px;
                                    color:#282333;
                                }
                            }
                        }
        
                        &.item-textarea {
                            .item-inner {
                                margin: 0;
                                padding: 25px 15px;
                                border: solid 1px #181818;
                                background-color: #fcf8f2;
                            }
        
                            ion-label {
                                color: #FDFCF1;
                                opacity: 0.7;
                            }
        
                            ion-textarea {
                                border: 0;
                                background: transparent;
        
                                textarea {
                                    border: 0;
                                    background: transparent;
                                    margin: 0;
                                    width: 100%;
                                    height: 200px;
                                    font-family: 'Yanone Kaffeesatz';
                                    font-size: 17px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 25px;
                                    letter-spacing: 1px;
                                    color:#282333;
                                }
                            }
                        }
                    }
                }
                .btnArea {
                    max-width: none;
                    width: auto;
                    margin-left: -6px;
                    margin-right: -6px;
                    display: flex;
                    justify-content: space-between;

                    button.btn {
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 15px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: 1.64px;
                        border-radius: 24px;
                        height: 48px;
                        line-height: 48px;
                        padding-left: 1.5em;
                        padding-right: 1.5em;
                        background: #e2b159;
                        color: #24242d;
                        width: auto;
                        margin: auto 6px;
                        display: block;
                        flex: 1 0 auto;

                        span {
                            display: inline-block;
                        }

                        &.btn-primary {
                            border-radius: 4px;
                            border: solid 2px #282333;
                            background-color: #4a4080;
                            color: #ffffff;
                        }
                    }
                }                
            }
	  
	}
	}
}
