<!--
  Generated template for the TabsHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-tabs class="bg-warning" #mainTabs selectedIndex="0" >
	<ion-tab [root]="tab1Root" tabTitle="ACTION FEED"><span class="text" data-icon="actionfeed">ACTION FEED</span></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="GET ENGAGED"><span class="text" data-icon="getengaged">GET ENGAGED</span></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="MY LEADERS"><span class="text" data-icon="myleaders">MY LEADERS</span></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="POWRSCORE"  tabBadge="6"><span class="text" data-icon="powrscore">POWRSCORE</span></ion-tab>
</ion-tabs>