page-tabs-home {


	.tabbar.show-tabbar{
		background: #211c3a;
		background: #f4f4f4;
		border-width: 2px 0 0;
		border-style: solid none none;
		border-color:#fff;
		.tab-button{
			height: 88px;
			color:#493B70;
			span.tab-button-text {
				background-repeat:no-repeat;
				background-position: center 5px;
				padding-top:40px;
				font-family: 'Gibson';
				font-weight: 500;
				font-size: 9.2px;
				letter-spacing: 0.06em;
				text-transform: uppercase;
				opacity: 1;
				transition:opacity 0.3s linear;
				transform: none; 
			}
			ion-badge.tab-badge.badge{
				top:0px;
				right:50%;
				transform:translate(20px, 15px);
				margin: auto;
				border-radius: 6px;
				background: #a51a39;
				border: 1px solid #d82950;
			}
			&:nth-of-type(1) span.tab-button-text {background-image:url('../assets/img/home_tab_icon_actionfeed.svg');}
			&:nth-of-type(2) span.tab-button-text {background-image:url('../assets/img/home_tab_icon_getengaged.svg');}
			&:nth-of-type(3) span.tab-button-text {background-image:url('../assets/img/home_tab_icon_myleaders.svg');}
			&:nth-of-type(4) span.tab-button-text {background-image:url('../assets/img/home_tab_icon_powrscore.svg');}
			&[aria-selected=true]{
				background-color: #E9E9E9;
				span.tab-button-text {
					opacity: 1;
				}
			}
		}
	}

}


