<ion-content no-padding class="workWithOrganizations" *ngIf="onboardingComplete">
	<div class="workWithOrganizations-top" >
		<div class="headTitles">
			<div class="headToolbar">
				<span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11.121" height="19.414" viewBox="0 0 11.121 19.414"><path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/></svg></span>
				<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></span>
			</div>
			<h3>CONNECT & COLLABORATE</h3>
			<h2>YOUR ALL SET!</h2>
		</div>




		<div class="progressListWrap" >
			<div class="progressList">
				<div class="progressListIteam">
					<div class="progressListBox completed">
						<img src="./assets/img/progressListIteam_2.svg" alt="">
						<svg xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 79 79"><g id="Group_1" data-name="Group 1" transform="translate(-56 -371)"><g id="Ellipse_1" data-name="Ellipse 1" transform="translate(56 371)" fill="#E97981" stroke="#392c5f" stroke-width="7"><circle cx="39.5" cy="39.5" r="39.5" stroke="none"/><circle cx="39.5" cy="39.5" r="36" fill="none"/></g><path id="Shape" d="M4.611,12.112a1.816,1.816,0,0,0,1.344.584A1.9,1.9,0,0,0,7.3,12.112L15.454,3.43a2.1,2.1,0,0,0,0-2.84,1.805,1.805,0,0,0-2.668,0L5.936,7.841l-2.714-2.5a1.805,1.805,0,0,0-2.668,0,2.1,2.1,0,0,0,0,2.84Z" transform="translate(87 404)" fill="#fff"/><text id="A." transform="translate(87 417)" fill="#fff" font-size="25" font-family="YanoneKaffeesatz-Bold, Yanone Kaffeesatz" font-weight="700"><tspan x="0" y="0">A.</tspan></text></g></svg>
					</div>
				</div>
				<div class="progressListIteam">
				<div class="progressListBox completed">
					<img src="./assets/img/progressListIteam_1.svg" alt="">
					<svg xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 79 79"><g id="Group_1" data-name="Group 1" transform="translate(-56 -371)"><g id="Ellipse_1" data-name="Ellipse 1" transform="translate(56 371)" fill="#9B5BAC" stroke="#392c5f" stroke-width="7"><circle cx="39.5" cy="39.5" r="39.5" stroke="none"/><circle cx="39.5" cy="39.5" r="36" fill="none"/></g><path id="Shape" d="M4.611,12.112a1.816,1.816,0,0,0,1.344.584A1.9,1.9,0,0,0,7.3,12.112L15.454,3.43a2.1,2.1,0,0,0,0-2.84,1.805,1.805,0,0,0-2.668,0L5.936,7.841l-2.714-2.5a1.805,1.805,0,0,0-2.668,0,2.1,2.1,0,0,0,0,2.84Z" transform="translate(87 404)" fill="#fff"/><text id="A." transform="translate(87 417)" fill="#fff" font-size="25" font-family="YanoneKaffeesatz-Bold, Yanone Kaffeesatz" font-weight="700"><tspan x="0" y="0">B.</tspan></text></g></svg>
				</div>
				</div>
				<div class="progressListIteam">
					<div class="progressListBox completed">
						<img src="./assets/img/progressListIteam_3.svg" alt="">
						<svg xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 79 79"><g id="Group_1" data-name="Group 1" transform="translate(-56 -371)"><g id="Ellipse_1" data-name="Ellipse 1" transform="translate(56 371)" fill="#5ED3FE" stroke="#392c5f" stroke-width="7"><circle cx="39.5" cy="39.5" r="39.5" stroke="none"/><circle cx="39.5" cy="39.5" r="36" fill="none"/></g><path id="Shape" d="M4.611,12.112a1.816,1.816,0,0,0,1.344.584A1.9,1.9,0,0,0,7.3,12.112L15.454,3.43a2.1,2.1,0,0,0,0-2.84,1.805,1.805,0,0,0-2.668,0L5.936,7.841l-2.714-2.5a1.805,1.805,0,0,0-2.668,0,2.1,2.1,0,0,0,0,2.84Z" transform="translate(87 404)" fill="#fff"/><text id="A." transform="translate(87 417)" fill="#fff" font-size="25" font-family="YanoneKaffeesatz-Bold, Yanone Kaffeesatz" font-weight="700"><tspan x="0" y="0">C.</tspan></text></g></svg>
					</div>
				</div>

			</div>
		</div>

		<div class="cmessageWrap">
			<h2>LETS GET <br>ENGAGED!</h2>
		</div>
		<div class="btnArea">
			<button ion-button class="btn btn-secondary" (click)="GoToNext()">GET STARTED</button>
		</div>
	</div>

	<ion-footer>
		<div class="workWithOrganizations-bottom" >
			<div class="cmessage ">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="105.959" height="100.269" viewBox="0 0 105.959 100.269"><defs><clipPath id="clip-path"><rect id="Mask" width="104.256" height="98.464" transform="translate(0.396 0.89)" fill="none"/></clipPath><clipPath id="clip-path-2"><path id="Mask-2" data-name="Mask" d="M34.028,94.12a6.124,6.124,0,0,1-4.963-2.514C10.051,64.527,0,44.776,0,34.487A34.614,34.614,0,0,1,9.969,10.1,33.909,33.909,0,0,1,20.786,2.711a33.7,33.7,0,0,1,26.485,0A33.909,33.909,0,0,1,58.087,10.1a34.614,34.614,0,0,1,9.969,24.383c0,6.311-3.7,16.085-10.988,29.053A320.5,320.5,0,0,1,38.991,91.606,6.124,6.124,0,0,1,34.028,94.12Zm-.2-73.847a15.2,15.2,0,1,0,15.2,15.2A15.221,15.221,0,0,0,33.826,20.273Z" transform="translate(0.025 0.422)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="5.792"/></clipPath></defs><g id="Group_5" data-name="Group 5" transform="matrix(1, 0.017, -0.017, 1, 1.338, -0.896)"><rect id="Mask-3" data-name="Mask" width="104.256" height="98.464" transform="translate(0.396 0.89)" fill="none"/><g id="Group_5-2" data-name="Group 5" clip-path="url(#clip-path)"><g id="Group_5-3" data-name="Group 5" transform="translate(17.362 20.701)"><g id="noun_GPS_1932827" transform="translate(0.257 0)"><g id="Group" transform="translate(0.074 0)"><g id="Rectangle" transform="translate(0.575 0)"><path id="Mask-4" data-name="Mask" d="M34.028,94.12a6.124,6.124,0,0,1-4.963-2.514C10.051,64.527,0,44.776,0,34.487A34.614,34.614,0,0,1,9.969,10.1,33.909,33.909,0,0,1,20.786,2.711a33.7,33.7,0,0,1,26.485,0A33.909,33.909,0,0,1,58.087,10.1a34.614,34.614,0,0,1,9.969,24.383c0,6.311-3.7,16.085-10.988,29.053A320.5,320.5,0,0,1,38.991,91.606,6.124,6.124,0,0,1,34.028,94.12Zm-.2-73.847a15.2,15.2,0,1,0,15.2,15.2A15.221,15.221,0,0,0,33.826,20.273Z" transform="translate(0.025 0.422)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="5.792"/></g></g></g></g></g></g></svg>
				<h4>Your Address, Your Districts.</h4>
				<p>Your home address to ensures we provide you access to the right officials based on your districts.</p>
			</div>
		</div>
	</ion-footer>


</ion-content>
