<ion-content no-padding>
    <div class="btnHeader btnHeaderLeft">
      <div class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="15.14" height="10.774"viewBox="0 0 15.14 10.774"><path fill="#2b2b2b" d="M3.649,10.257.368,6.484A1.5,1.5,0,0,1,0,5.387a1.5,1.5,0,0,1,.364-1.1L3.649.516A1.5,1.5,0,0,1,5.912,2.484l-1.219,1.4H13.64a1.5,1.5,0,0,1,0,3H4.693l1.219,1.4a1.5,1.5,0,1,1-2.264,1.967Z" transform="translate(0 0)" /></svg></div>
    </div>
    <div class="btnHeader btnHeaderRight">
      <div class="btn btn-light"><span class="badge">2</span><svg xmlns="http://www.w3.org/2000/svg" width="18.896" height="19.281" viewBox="0 0 18.896 19.281"><path fill="#23232e" d="M15.325,19.281l-2.814-.857-.176.065a9.11,9.11,0,0,1-2.462.449l-.424.009A9.473,9.473,0,1,1,18.9,9.473a9.254,9.254,0,0,1-.646,3.436,8.881,8.881,0,0,1-1.4,2.42l.493,2.056-.123.467a2.12,2.12,0,0,1-1.866,1.427Zm-2.539-2.692,2.668.812-.443-1.868a1.186,1.186,0,0,1,.134-.99l.091-.145a7.273,7.273,0,0,0,1.3-2.159,7.434,7.434,0,0,0,.519-2.765,7.612,7.612,0,1,0-7.611,7.637,7.239,7.239,0,0,0,2.618-.476l-.095.032a.9.9,0,0,1,.371-.113l.176-.005ZM6.577,12.137a.792.792,0,1,1,0-1.583h3.694a.792.792,0,1,1,0,1.583Zm0-3.518a.792.792,0,1,1,0-1.583h5.805a.792.792,0,0,1,0,1.583Z" /><path fill="none" d="M15.325,19.281l-2.814-.857-.176.065a9.11,9.11,0,0,1-2.462.449l-.424.009A9.473,9.473,0,1,1,18.9,9.473a9.254,9.254,0,0,1-.646,3.436,8.881,8.881,0,0,1-1.4,2.42l.493,2.056-.123.467a2.12,2.12,0,0,1-1.866,1.427Zm-2.539-2.692,2.668.812-.443-1.868a1.186,1.186,0,0,1,.134-.99l.091-.145a7.273,7.273,0,0,0,1.3-2.159,7.434,7.434,0,0,0,.519-2.765,7.612,7.612,0,1,0-7.611,7.637,7.239,7.239,0,0,0,2.618-.476l-.095.032a.9.9,0,0,1,.371-.113l.176-.005ZM6.577,12.137a.792.792,0,1,1,0-1.583h3.694a.792.792,0,1,1,0,1.583Zm0-3.518a.792.792,0,1,1,0-1.583h5.805a.792.792,0,0,1,0,1.583Z" /></svg></div>
    </div>
  <div class="candidatesGrid new-abc">
    <!-- Loop start -->
    <div class="candidatesIteam">
      <div class="embed" style="background-image: url(https://i.pravatar.cc/835?img=1);">
        <div class="embedBg"></div>
        <span class="votingDate">NOV, 3 2021</span>
      </div>
      <div class="candidatesInfo">
        <h5>Andre<br>Dickens</h5>
        <div class="candidatesInfoBox">
          <div class="activeCandidates hide"><span>5</span> ACTIVE CANDIDATES</div>
          <h6>City Council Member</h6>
          <p>DISTRICT 3, ATLANTA GEORGIA</p>
        </div>
      </div>
    </div>
    <!-- Loop End -->
    <!-- Loop start -->
    <div class="candidatesIteam">
      <div class="embed" style="background-image: url(https://i.pravatar.cc/835?img=2);">
        <div class="embedBg"></div>
        <span class="votingDate">NOV, 3 2021</span>
      </div>
      <div class="candidatesInfo">
        <h5>Andre<br>Dickens</h5>
        <div class="candidatesInfoBox">
          <div class="activeCandidates hide"><span>5</span> ACTIVE CANDIDATES</div>
          <h6>City Council Member</h6>
          <p>DISTRICT 3, ATLANTA GEORGIA</p>
        </div>
      </div>
    </div>
    <!-- Loop End -->
    <!-- Loop start -->
    <div class="candidatesIteam">
      <div class="embed" style="background-image: url(https://i.pravatar.cc/835?img=3);">
        <div class="embedBg"></div>
        <span class="votingDate">NOV, 3 2021</span>
      </div>
      <div class="candidatesInfo">
        <h5>Andre<br>Dickens</h5>
        <div class="candidatesInfoBox">
          <div class="activeCandidates hide"><span>5</span> ACTIVE CANDIDATES</div>
          <h6>City Council Member</h6>
          <p>DISTRICT 3, ATLANTA GEORGIA</p>
        </div>
      </div>
    </div>
    <!-- Loop End -->
    <!-- Loop start -->
    <div class="candidatesIteam">
      <div class="embed" style="background-image: url(https://i.pravatar.cc/835?img=4);">
        <div class="embedBg"></div>
        <span class="votingDate">NOV, 3 2021</span>
      </div>
      <div class="candidatesInfo">
        <h5>Andre<br>Dickens</h5>
        <div class="candidatesInfoBox">
          <div class="activeCandidates"><span>5</span> ACTIVE CANDIDATES</div>
          <h6>City Council Member</h6>
          <p>DISTRICT 3, ATLANTA GEORGIA</p>
        </div>
      </div>
    </div>
    <!-- Loop End -->
    <!-- Loop start -->
    <div class="candidatesIteam">
      <div class="embed" style="background-image: url(https://i.pravatar.cc/835?img=5);">
        <div class="embedBg"></div>
        <span class="votingDate">NOV, 3 2021</span>
      </div>
      <div class="candidatesInfo">
        <h5>Andre<br>Dickens</h5>
        <div class="candidatesInfoBox">
          <div class="activeCandidates hide"><span>5</span> ACTIVE CANDIDATES</div>
          <h6>City Council Member</h6>
          <p>DISTRICT 3, ATLANTA GEORGIA</p>
        </div>
      </div>
    </div>
    <!-- Loop End -->
    <!-- Loop start -->
    <div class="candidatesIteam">
      <div class="embed" style="background-image: url(https://i.pravatar.cc/835?img=6);">
        <div class="embedBg"></div>
        <span class="votingDate">NOV, 3 2021</span>
      </div>
      <div class="candidatesInfo">
        <h5>Andre<br>Dickens</h5>
        <div class="candidatesInfoBox">
          <div class="activeCandidates hide"><span>5</span> ACTIVE CANDIDATES</div>
          <h6>City Council Member</h6>
          <p>DISTRICT 3, ATLANTA GEORGIA</p>
        </div>
      </div>
    </div>
    <!-- Loop End -->
  </div>
</ion-content>
<ion-footer>
  <div class="dropDown">
    <button class="toggleBtns" (click)="toggleDropDown()">MY ELECTED OFFICIALS</button>
    <ul class="showDropDown" *ngIf="showDropDown">
      <li>Content 1</li>
      <li>Content 2</li>
      <li>Content 3</li>
      <li>Content 4</li>
    </ul>
  </div>
</ion-footer>