page-candidates {
    ion-content.content {
        background: #fff !important;

        .btnHeader{
            position: absolute;
            top: 60px;
            bottom: auto;
            z-index: 4;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            &.btnHeaderLeft{
                left: 30px;
                right: auto;
                justify-self: start;
            }
            &.btnHeaderRight{
                left: auto;
                right: 30px;
                justify-self: end;
            }
            .btn{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.17);
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Museo Slab';
                font-weight: 700;
                position: relative;
                &.btn-light{
                    background: #f6f6f6;
                    border: 3px solid #fff;
                    color:#23232E;
                }
                &.btn-danger{
                    background: #EE5050;
                    border: 3px solid #fff;
                    color:#fff;
                }
                span.badge{
                    border-radius: 5px;
                    background: #34ca9e;
                    border: 2px solid #493b70;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    line-height: 18px;
                    font-family: 'Museo Slab';
                    font-weight: 900;
                    font-size: 10px;
                    letter-spacing: -0.04em;
                    text-align: center;
                    color: #493b70;
                    transform: translate(10px, -10px);
                }
            }
            .btnGroup{
                margin-top: 25px;
                .btn{
                    border-radius: 0;
                    &:first-of-type{
                        border-radius: 50% 50% 0 0 ;
                    }
                    &:last-of-type{
                        border-radius: 0 0 50% 50%;
                    }
                }
            }
        }

        .candidatesGrid {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 3px;

            .candidatesIteam {
                max-width: 500px;
                display: block;
                flex: 0 0 50%;
                max-width: 50%;
                padding: 3px;
                position: relative;
                margin-bottom: 15px;
                .embed {
                    display: block;
                    padding-bottom: 167%;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    .embedBg {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.3);
                        display: block;
                        z-index: 1;
                    }
                    .candidateActive{
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        background: #dd3b97;
                        display: block;
                    }

                    .votingDate {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.912' height='34.743' viewBox='0 0 29.912 34.743'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M18.236,22.84a.4.4,0,0,1-.417-.386V10.161L.833,1.055V12.9a.4.4,0,0,1-.417.386A.4.4,0,0,1,0,12.9V.386A.382.382,0,0,1,.208.052a.445.445,0,0,1,.417,0L18.445,9.6a.382.382,0,0,1,.208.334V22.454a.4.4,0,0,1-.417.386' transform='translate(0 11.902)'/%3E%3Cpath class='a' d='M.417,5.5a.424.424,0,0,1-.362-.194.371.371,0,0,1,.154-.527L9.119.051a.435.435,0,0,1,.569.143.371.371,0,0,1-.154.527L.624,5.451A.44.44,0,0,1,.417,5.5' transform='translate(0 7.172)'/%3E%3Cpath class='a' d='M.417,6.748a.424.424,0,0,1-.362-.194A.371.371,0,0,1,.21,6.027L11.469.051a.435.435,0,0,1,.569.143.371.371,0,0,1-.155.527L.624,6.7a.442.442,0,0,1-.207.051' transform='translate(17.82 15.48)'/%3E%3Cpath class='a' d='M.417,6.745a.423.423,0,0,1-.362-.194A.371.371,0,0,1,.21,6.024L11.465.051a.435.435,0,0,1,.569.143.371.371,0,0,1-.155.527L.624,6.694a.44.44,0,0,1-.207.051' transform='translate(17.82 27.997)'/%3E%3Cpath class='a' d='M9.106,5.43A.44.44,0,0,1,8.9,5.378L.208.72A.371.371,0,0,1,.056.193.436.436,0,0,1,.626.052L9.315,4.71a.371.371,0,0,1,.152.527.424.424,0,0,1-.361.193' transform='translate(20.389 10.822)'/%3E%3Cpath class='a' d='M18.236,10.324a.44.44,0,0,1-.208-.052L.208.72A.371.371,0,0,1,.056.193.435.435,0,0,1,.625.052L18.445,9.6a.371.371,0,0,1,.152.527.424.424,0,0,1-.361.193' transform='translate(0 24.418)'/%3E%3Cpath class='a' d='M.417,13.287A.4.4,0,0,1,0,12.9V.386A.4.4,0,0,1,.417,0,.4.4,0,0,1,.833.386V12.9a.4.4,0,0,1-.417.386' transform='translate(29.075 15.483)'/%3E%3Cpath class='a' d='M.417,12.212A.4.4,0,0,1,0,11.826V.386A.4.4,0,0,1,.417,0,.4.4,0,0,1,.833.386v11.44a.4.4,0,0,1-.417.386' transform='translate(18.567 4.25)'/%3E%3Cpath class='a' d='M.417,12.212A.4.4,0,0,1,0,11.826V.386A.4.4,0,0,1,.417,0,.4.4,0,0,1,.833.386v11.44a.4.4,0,0,1-.417.386' transform='translate(10.639 0)'/%3E%3Cpath class='a' d='M11.347,6.632a.441.441,0,0,1-.208-.052L.208.72A.371.371,0,0,1,.056.193.435.435,0,0,1,.625.052l10.93,5.859a.371.371,0,0,1,.152.527.424.424,0,0,1-.361.193' transform='translate(8.993 10.558)'/%3E%3Cpath class='a' d='M8.345,5.023a.441.441,0,0,1-.208-.052L.208.72A.371.371,0,0,1,.056.193.435.435,0,0,1,.625.052L8.554,4.3a.371.371,0,0,1,.152.527.424.424,0,0,1-.361.193' transform='translate(10.639)'/%3E%3Cpath class='a' d='M.417,6.891A.4.4,0,0,1,0,6.5V.386A.4.4,0,0,1,.417,0,.4.4,0,0,1,.833.386V6.5a.4.4,0,0,1-.417.386' transform='translate(16.177 5.677)'/%3E%3Cpath class='a' d='M1.75,2.671A1.417,1.417,0,0,1,1.1,2.493,2.06,2.06,0,0,1,0,.861.822.822,0,0,1,.425.1.908.908,0,0,1,.86,0a1.4,1.4,0,0,1,.653.179,2.058,2.058,0,0,1,1.1,1.632.824.824,0,0,1-.425.757A.911.911,0,0,1,1.75,2.671ZM.86.772H.842a.038.038,0,0,1,0,.012A.366.366,0,0,0,.833.861a1.338,1.338,0,0,0,.679.963.527.527,0,0,0,.235.075h.018a.037.037,0,0,1,0-.011.365.365,0,0,0,.008-.076A1.341,1.341,0,0,0,1.1.847.528.528,0,0,0,.86.772Z' transform='translate(12.704 4.856)'/%3E%3Cpath class='a' d='M1.75,2.671A1.408,1.408,0,0,1,1.1,2.492,2.058,2.058,0,0,1,0,.86.824.824,0,0,1,.425.1.913.913,0,0,1,.859,0a1.412,1.412,0,0,1,.654.178,2.061,2.061,0,0,1,1.1,1.633.824.824,0,0,1-.425.757A.911.911,0,0,1,1.75,2.671ZM.859.772H.842a.036.036,0,0,1,0,.012A.362.362,0,0,0,.833.86a1.341,1.341,0,0,0,.679.964.527.527,0,0,0,.235.075h.018a.036.036,0,0,1,0-.012.361.361,0,0,0,.008-.076A1.341,1.341,0,0,0,1.1.847.529.529,0,0,0,.859.772Z' transform='translate(12.704 8.202)'/%3E%3Cpath class='a' d='M1.5,4.3a.414.414,0,0,1-.4-.28L.016.492A.383.383,0,0,1,.3.015.422.422,0,0,1,.817.28L1.9,3.8a.383.383,0,0,1-.286.477A.451.451,0,0,1,1.5,4.3' transform='translate(3.199 18.41)'/%3E%3Cpath class='a' d='M.417,3.134A.446.446,0,0,1,.253,3.1.376.376,0,0,1,.033,2.6L1.12.235a.43.43,0,0,1,.547-.2.376.376,0,0,1,.22.507L.8,2.9a.419.419,0,0,1-.383.235' transform='translate(4.286 19.573)'/%3E%3Cpath class='a' d='M1.927,4.121a1.29,1.29,0,0,1-.6-.163L.986,3.775A1.853,1.853,0,0,1,0,2.3V.8A.766.766,0,0,1,.4.1.856.856,0,0,1,.8,0a1.284,1.284,0,0,1,.6.163l.343.184a1.85,1.85,0,0,1,.986,1.47v1.5a.768.768,0,0,1-.4.7A.853.853,0,0,1,1.927,4.121ZM.834.775A.228.228,0,0,0,.833.8V2.3a1.115,1.115,0,0,0,.569.8l.343.184a.482.482,0,0,0,.15.057.211.211,0,0,0,0-.026v-1.5a1.115,1.115,0,0,0-.569-.8L.986.832A.476.476,0,0,0,.834.775Z' transform='translate(6.522 20.492)'/%3E%3Cpath class='a' d='M2.529,1.9a.441.441,0,0,1-.208-.052L.209.721A.371.371,0,0,1,.056.193.435.435,0,0,1,.625.052l2.112,1.13a.371.371,0,0,1,.152.527.424.424,0,0,1-.361.193' transform='translate(9.466 21.762)'/%3E%3Cpath class='a' d='M.417,3.715A.4.4,0,0,1,0,3.329V.386A.4.4,0,0,1,.417,0,.4.4,0,0,1,.833.386V3.329a.4.4,0,0,1-.417.386' transform='translate(10.522 22.327)'/%3E%3Cpath class='a' d='M2.256,1.756A.439.439,0,0,1,2.048,1.7L.208.72A.371.371,0,0,1,.056.193.435.435,0,0,1,.625.052l1.84.984a.371.371,0,0,1,.152.527.424.424,0,0,1-.361.193' transform='translate(12.781 23.536)'/%3E%3Cpath class='a' d='M2.256,1.756A.44.44,0,0,1,2.048,1.7L.208.72A.371.371,0,0,1,.056.193.435.435,0,0,1,.625.052l1.84.984a.371.371,0,0,1,.152.527.424.424,0,0,1-.361.193' transform='translate(12.781 26.479)'/%3E%3Cpath class='a' d='M1.538,1.372A.439.439,0,0,1,1.33,1.32L.208.721A.371.371,0,0,1,.056.193.434.434,0,0,1,.625.052l1.122.6a.371.371,0,0,1,.153.527.424.424,0,0,1-.361.193' transform='translate(12.781 25.007)'/%3E%3Cpath class='a' d='M.417,3.715A.4.4,0,0,1,0,3.329V.386A.4.4,0,0,1,.417,0,.4.4,0,0,1,.833.386V3.329a.4.4,0,0,1-.417.386' transform='translate(12.781 23.536)'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-position: top left;
                        position: absolute;
                        top: 22px;
                        left: 17px;
                        font-family: 'Gibson';
                        font-weight: 500;
                        color: #fff;
                        padding: 4px 0 4px 40px;
                        min-height: 37px;
                        font-size: 12px;
                        z-index: 2;
                    }
                }

                .candidatesInfo {
                    position: absolute;
                    bottom: 3px;
                    left: 3px;
                    right: 3px;
                    top: auto;
                    z-index: 1;
                    padding: 0px;
                    h5 {
                        font-family: 'Gibson', sans-serif;
                        font-weight: normal;
                        font-size: 19px;
                        line-height: 20px;
                        text-align: left;
                        color: #fff;
                        margin: 0 0 10px;
                        padding: 10px;
                    }
                    .candidatesInfoBox {
                        background: #2e2a4e;
                        padding: 15px 10px;
                        position: relative;
                        .activeCandidates {
                            height: auto;
                            border-radius: 9px;
                            background: #dd3b97;
                            font-family: 'Gibson';
                            font-weight: 500;
                            font-size: 10px;
                            letter-spacing: 0.09em;
                            color: #fff;
                            display: block;
                            position: absolute;
                            padding: 4px 8px;
                            right: 5px;
                            left: auto;
                            top: 0px;
                            transform: translateY(-10px);
                        }
                        h6 {
                            font-family: "Gibson", sans-serif;
                            font-weight: normal;
                            font-size: 21px;
                            line-height: 23px;
                            text-align: left;
                            color: #fff;
                            margin: 0;
                            padding: 0;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                            font-family: 'Gibson';
                            font-weight: normal;
                            font-size: 10px;
                            letter-spacing: 0.05em;
                            line-height: normal;
                            text-align: left;
                            color: #fff;

                        }
                    }
                }
            }
        }
        .fixed-content,
        .scroll-content{margin-bottom: 0 !important;}
    }
    ion-footer.footer{
        padding: 10px 20px;
       .dropDown{
            display: block;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            button.toggleBtns{
                height: 39px;
                border-radius: 20px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.006' height='7.513' viewBox='0 0 12.006 7.513'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23525252;%7D.b%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.497 7.756) rotate(-90)'%3E%3Crect class='a' width='8' height='3' rx='1.5' transform='translate(2.508 4.497) rotate(49)'/%3E%3Crect class='b' width='8' height='3' rx='1.5' transform='translate(2.508 4.497) rotate(49)'/%3E%3Crect class='a' width='8' height='3' rx='1.5' transform='translate(0.244 6.535) rotate(-49)'/%3E%3Crect class='b' width='8' height='3' rx='1.5' transform='translate(0.244 6.535) rotate(-49)'/%3E%3C/g%3E%3C/svg%3E");
                background-color: #f6f6f6;
                background-repeat: no-repeat;
                background-position: center right 15px;
                border: 3px solid #fff;
                box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.17);
                font-family: 'Gibson';
                font-weight: 500;
                font-size: 13px;
                letter-spacing: 0.03em;
                line-height: 17.1px;
                text-align: left;
                color: #3a3a3a;
                display: block;
                max-width: none;
                width: 100%;
                padding: 0 38px 0 15px;
            }
            ul.showDropDown {
                margin: 0;
                padding: 0;
                list-style: none;
                background: #f6f6f6;
                border: 3px solid #fff;
                position: absolute;
                bottom: calc(100% - 3px);
                left: 0;
                right: 0;
                display: block;
                padding: 0px;
                li{
                    padding: 5px 15px;
                    &:nth-of-type(1n+2){
                        border-top:1px solid #ccc;
                    }
                }
            }
        }
    }
}