custom-header {
	.app-navbar {
		background: #f7c05d;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 99;
		min-height:50px;
		padding: 0;
		padding: constant(safe-area-inset-top) constant(safe-area-inset-right) 0 constant(safe-area-inset-left) ;
		padding:env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
	}
	.app-navbar .nav-actions .nav-button .ion-button ion-icon {
		width: 18px;
		height: 50px;
		color: #403e57;
	}
	.app-navbar-inverse .nav-actions .nav-button .ion-button ion-icon {
		color: #f7c05d;
	}
	.app-navbar span {
		display: inline-block;
		font-size: 14px;
		color:#403e57;
	}
	.app-navbar ul li {
		list-style-type: none;
	}
	.app-navbar-inverse {
		background: #3d3c4c;
	    border-bottom: 1px solid #000;
	}
	.ion-button.app-navbar-inverse .nav-actions li {
		color: #f7c05d;
	}
	.nav-actions {
		float: left;
		margin: 0;
		padding: 0;
	}
	.nav-actions li span {    
		float: left;
	}
	.app-navbar .nav-actions .nav-button .ion-button {
		display: inline-block;
		min-height: 50px;
		min-width: 0;
		padding: 0;
		text-decoration: none;
		float: left;
		padding: 0 15px 0 18.5px;
	}
	.app-navbar .nav-actions .nav-button .ion-button.ion-focused {
		background:none
	}

	.app-navbar .icon-back {
		height: 50px;
		float: left;
		padding-left: 18.5px;
		margin-left: 0;
		outline: 0;
		display: flex;
		padding-right: 15px;
		align-items: center;
	}
	.app-navbar .icon-back i {
		background: url('../img/icon_back.svg') no-repeat;
		background-size: 100% auto;
		width: 16px;
		height: 7.1px;
		display: block;
		position: relative;
	}
	.app-navbar .icon-nav {
		background: url('../img/main_menu.svg') no-repeat;
		background-size: 100% auto;
		position: relative;
		width: 23px;
		height: 17px;
		display: block;
		margin-top: -1px;
	}
	.app-navbar .burger-menu {
		color: #f7c05d;
	}
	.app-navbar-inverse .icon-nav {
		background: url('../img/main_menu_inverse.svg') no-repeat;
		background-size: 100% auto;
	}
	.nav-actions .icon-back i {
		position: relative;
	}
	.app-navbar-inverse .nav-actions .back-button {
		top: 21px;
	}
	.nav-actions li:hover, .nav-actions li.active {
		background: transparent;
	}
	.nav-actions .nav-button {
		margin-right: 0;
		top: 0;
		position: relative;
	}
	.app-navbar ul li {
		float: left;
		padding: 0;
	}
	.app-navbar-inverse .icon-back i {
		background: url('../img/icon_back_inverse.svg') no-repeat;
		background-size: 100% auto;
	}
	.app-navbar-inverse .back-btn .icon-back i {
		width: 26px;
		height: 14px;
	}
	.app-navbar .nav-actions .back-button {
		top: 0;
		position: relative;
	}
	.app-navbar-inverse span {
		display: inline-block;
		font-size: 17px;
		color: #f7c05d;
	}
	.data-display .more {
		position: absolute;
		top: 70px;
		right: -23px;
	}
	.app-navbar-inverse .more ion-icon {
		/* transform: rotate(270deg); */
		transform: rotate(0deg);
		color: #a7a6af;
		vertical-align: top;
	}
	.app-navbar > ul > li > span {
		max-width: 40vw;
		max-width: calc(100vw - 195px);
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: top;
		white-space: nowrap;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal;
		letter-spacing: 0.42px;
		font-size: 18.9px;
		line-height: 50px;
		padding-top: 1px;
		height: 50px;
		
	}
	/*@media (max-width: 375px) {
		.app-navbar > ul > li > span {
			letter-spacing: 0;
		}
	}*/
	@media (max-width: 320px) {
		.app-navbar > ul > li > span {
			font-size: 19px;
			letter-spacing: 0.21px;
			margin-left: -7px;
		}
	}

	.app-navbar-inverse .nav-close i {
		display: inline-block;
		font-size: 18px;
		color: #f7c05d;
	}
	.app-navbar .data-display {
	  position: absolute;
	  right: 30px;
	}
	.app-navbar .data-label {
		background: #272736;
		border-radius: 3px;
		font-size: 10px;
		letter-spacing: 0;
		color: #b0aec6;
		padding: 5px;
		position: relative;
	}
	/** ellipsis select caret **/
	/*
	.data-menu .ion-select-value .ion-select-icon::after {
		content: '...';
		transform: rotate(270deg);
		font-size: 19px;
	} */

	.data-display ion-icon i {
		color: #f7c05d;
		display: inline-block;
		font-size: 18px;
		vertical-align: top;
	}
	.app-navbar .question-icon {
		float: right;
		margin: 0px -15px 0 0;
		outline: 0;
	}
	.app-navbar .profile-icon {
		float: right;
		margin: 0;
		outline: 0;
	}
	.app-navbar .question-icon a {
		background: url("../img/question.svg") no-repeat right center;
		background-size: 20px auto;
		background-origin: content-box;
		cursor: pointer;
		display: block;
		padding: 0 22px 3px 7px;
		height: 50px;
		width: 49px;
		outline: 0;
	}
	.app-navbar-inverse .question-icon a {
		background: url("../img/question_inverse.svg") no-repeat right center;
		background-size: 20px auto;
		background-origin: content-box;
	}
	.app-navbar-inverse .profile-icon a {
		background: url("../img/news_feed.png") no-repeat right center;
		background-size: 20px auto;
		background-origin: content-box;
		cursor: pointer;
		display: block;
		padding: 0 5px 3px 5px;
		height: 50px;
		width: 32px;
		outline: 0;
	}
	.platform-android4 .app-navbar > ul > li > span {
		line-height: 48px;
	}
	.platform-ios .app-navbar > ul > li > span {
		line-height: 48px;
	}

	.app-navbar .header-links {
		float: right;
		position: relative;
		outline: 0
	}
	.app-navbar-inverse .search1-icon a {
		background: url("../img/search1icon.svg") no-repeat right center;
	}
	.app-navbar-inverse .search1-icon.active a {
		background: url("../img/search1icon-active.svg") no-repeat right center;
	}

	.app-navbar .message-icon a {
		background: url("../img/msg-icon1.svg") no-repeat right center;
	}
	.app-navbar .message-icon.active a {
		background: url("../img/msg-icon-active.svg") no-repeat right center;
	}

	.app-navbar-inverse .message-icon a {
		background: url("../img/msg-icon.svg") no-repeat right center;
	}
	.app-navbar-inverse .message-icon.active a {
		background: url("../img/msg-icon-active.svg") no-repeat right center;
	}
	.app-navbar .header-links a {
		background-size: 20px auto!important;
		background-origin: content-box!important;
		cursor: pointer;
		display: block;
		padding: 0 5px 3px 5px;
		height: 50px;
		width: 32px;
		outline: 0;
	}
	.app-navbar .header-links.active a {
		border-bottom: 3px solid #75738f;
		padding-top: 3px;
	}
	.app-navbar .message-icon1 b {
		width: 20px;
		height: 14.5px;
		position: absolute;
		background: #529984;
		left: 1px;
		top: 10px;
		border-radius: 20px;
		color: #fff;
		font-weight: 500;
		line-height: 14.5px;
		text-align: center;
		font-size: 10.4px;
	}
	.app-navbar .message-icon.active b {
		background: #28282f
	}
	.app-navbar .header-links.message-icon span {
		display: inline;
	}
	.blankHeaderDiv {
		min-height: 50px;
		clear: both;
		display: block;
		width: 100%;
		margin: constant(safe-area-inset-top) constant(safe-area-inset-right) 0 constant(safe-area-inset-left);
		margin: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
	}
	.NavRight {
		float: right;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}


	.NavRight .ion-button ion-icon path {
		fill: #403e57;
	    stroke: #403e57;
	}
	.NavRight .ion-button ion-icon circle {
	    stroke: #403e57;
	}
	.NavRight .ion-button ion-icon ellipse {
	    fill: #403e57;
	    stroke: #403e57;
	}

	.NavRight .ion-button.question-icon1 ion-icon path {
	    stroke: transparent;
	}



	.app-navbar-inverse .NavRight .ion-button ion-icon path {
		fill: #B0AEC6;
	    stroke: #B0AEC6;
	}
	.app-navbar-inverse .NavRight .ion-button ion-icon circle {
	    stroke: #B0AEC6;
	}
	.app-navbar-inverse .NavRight .ion-button ion-icon ellipse {
	    fill: #B0AEC6;
	    stroke: #B0AEC6;
	}

	.app-navbar-inverse .NavRight .ion-button.active ion-icon path {
		fill: #fff;
		stroke: #fff;
	}
	.app-navbar-inverse .NavRight .ion-button.active ion-icon circle {
	    stroke: #fff;
	}
	.app-navbar-inverse .NavRight .ion-button.active ion-icon ellipse {
	    fill: #fff;
	    stroke: #fff;
	}

	.app-navbar-inverse .NavRight .ion-button.question-icon1 ion-icon path, .app-navbar-inverse .NavRight .ion-button.question-icon1.active ion-icon path {
	    stroke: transparent;
	}

	.NavRight .ion-button.active:after {
		position: absolute;
		content: "";
		border-bottom: 2px solid #403e57;
		left: 10px;
		right: 10px;
		bottom: 0;
	}
	.app-navbar-inverse .NavRight .ion-button.active:after {
		border-bottom: 2px solid #f7c05d;
	}
	.NavRight .ion-button.question-icon1.active:after {
		right: 25px;
	}

	.NavRight .ion-button ion-icon {
		height: 50px;
		width: 18px;
	}
	.NavRight .ion-button {
		width: auto;
		min-width: 0;
		padding: 0 10.5px;
		border-radius: 0;
	}

	.NavRight .ion-button.question-icon1 {
		padding-right: 25px;
		padding-left: 11.5px;
	}
	.NavRight .message-icon1 {
		position: relative;
		display: flex;
	}
	.NavRight .ion-button.profile-icon1 ion-icon {
		width: 17px;
	}
	.NavRight .ion-button.message-icon1 ion-icon {
		width: 17px;
	}
	.NavRight .ion-button.hoime-icon ion-icon {
		width: 20.5px;
	}
	.back-arrow-div {
	    background: #4d4b64;
	}

	.white-font span {
	    color: #fff;
	}
	.white-font .icon-back i {
		background: url('../img/icon_back_white.svg') no-repeat;
		background-size: 100% auto;
	}
	@media (max-width: 350px) {
		.NavRight .ion-button {
			padding: 0 6px;
		}
		.NavRight .ion-button.active:after {
			left: 4px;
			right: 4px;
		}
		.NavRight .ion-button.question-icon1 {
			    padding-left: 7px
		}
		.NavRight .ion-button.question-icon1.active:after {
		    right: 23px;
		    left: 5px;
		}
	}
	.white-font .NavRight {
	    display: none;
	}
	.app-navbar.white-font {
	    border-bottom: 0;
	    height: auto;
	    box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.470);
	}
	.message-icon1 > span {
	    display: none!important;
	}
}
