<!-- Generated template for the CustomHeaderComponent component -->
<!-- <div text-right>
    <button ion-button color="light" (click)="goToPage('Search1Page')">
		<ion-icon slot="icon-only" src="./assets/img/home.svg"></ion-icon>
	</button>
	<button (click)="goToPage('MsglistPage')">
		<ion-icon slot="icon-only" src="./assets/img/msg-icon.svg"></ion-icon>
	</button>
	<button (click)="goToPage('NewsEventPage')">
		<ion-icon slot="icon-only" src="./assets/img/news_feed.svg"></ion-icon>
	</button>
	<button ion-button (click)="goToPage('HelpPage')">
		<ion-icon slot="icon-only" src="./assets/img/question.svg"></ion-icon>
	</button>
</div> -->

<div class="btn btn-msg" (click)="goToPage('MsglistPage')">
    <div class="msgCountWrap">
      <span *ngIf="countNewMessage!='0'">{{countNewMessage}}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="21.484" height="21.921" viewBox="0 0 21.484 21.921"><g id="Combined_Shape" data-name="Combined Shape" transform="translate(112.778 6118)"><path id="Combined_Shape-2" data-name="Combined Shape" d="M17.424,21.921l-3.2-.974-.2.073a10.3,10.3,0,0,1-2.8.511l-.482.01a10.771,10.771,0,1,1,10.742-10.77,10.488,10.488,0,0,1-.736,3.907,10.106,10.106,0,0,1-1.6,2.751l.562,2.337-.14.531a2.413,2.413,0,0,1-2.119,1.624ZM14.537,18.86l3.034.923-.5-2.125a1.349,1.349,0,0,1,.152-1.125l.1-.165a8.524,8.524,0,0,0,2.074-5.6,8.654,8.654,0,1,0-8.654,8.683,8.243,8.243,0,0,0,2.977-.542l-.108.038a1.033,1.033,0,0,1,.423-.13l.2-.005ZM7.478,13.8a.9.9,0,1,1,0-1.8h4.2a.9.9,0,0,1,0,1.8Zm0-4a.9.9,0,1,1,0-1.8h6.6a.9.9,0,0,1,0,1.8Z" transform="translate(-112.778 -6118)" fill="#493b70"/><path id="Combined_Shape-3" data-name="Combined Shape" d="M17.424,21.921l-3.2-.974-.2.073a10.3,10.3,0,0,1-2.8.511l-.482.01a10.771,10.771,0,1,1,10.742-10.77,10.488,10.488,0,0,1-.736,3.907,10.106,10.106,0,0,1-1.6,2.751l.562,2.337-.14.531a2.413,2.413,0,0,1-2.119,1.624ZM14.537,18.86l3.034.923-.5-2.125a1.349,1.349,0,0,1,.152-1.125l.1-.165a8.524,8.524,0,0,0,2.074-5.6,8.654,8.654,0,1,0-8.654,8.683,8.243,8.243,0,0,0,2.977-.542l-.108.038a1.033,1.033,0,0,1,.423-.13l.2-.005ZM7.478,13.8a.9.9,0,1,1,0-1.8h4.2a.9.9,0,0,1,0,1.8Zm0-4a.9.9,0,1,1,0-1.8h6.6a.9.9,0,0,1,0,1.8Z" transform="translate(-112.778 -6118)" fill="none"/></g></svg>
    </div>
</div>
