<!-- Generated template for the AddressDropdownComponent component -->
 <ul class="showDropDown " [ngClass]="{'open': popupstatus==true }" *ngIf="addressExist" >
  <li *ngFor="let address of addresslist"  (click)="votingPrimary(address)" class="svgIcon " [ngClass]="{'svg_P': address.type=='PRIMARY RESIDENCE', 'svg_V': address.type=='Registered Voting Location', 'svg_V': address.type=='VOTING ADDRESS', 'svg_W': address.type=='Work Location', 'svg_U': address.type=='School Location','svg_V':address.type=='Validated Voting Address','svg_':address.type=='', 'svg_T':address.type=='Temporary / Out Of Town', 'svg_F':address.type=='Friend Or Family Member', 'svg_G':address.type=='Geo Target Location', 'currentAddress': address.id==addressId }"><span class="address">{{address.address}}</span></li>
  <li class="addNewLocation" (click)="addAddress()">ADD NEW LOCATION</li>
</ul>
