
@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('#{$font-path}/YanoneKaffeesatz-ExtraLight.eot');
    src: url('#{$font-path}/YanoneKaffeesatz-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight.woff2') format('woff2'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight.woff') format('woff'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight.ttf') format('truetype'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight.svg#YanoneKaffeesatz-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('#{$font-path}/YanoneKaffeesatz-Regular.eot');
    src: url('#{$font-path}/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('#{$font-path}/YanoneKaffeesatz-Regular.woff') format('woff'),
        url('#{$font-path}/YanoneKaffeesatz-Regular.ttf') format('truetype'),
        url('#{$font-path}/YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('#{$font-path}/YanoneKaffeesatz-SemiBold.eot');
    src: url('#{$font-path}/YanoneKaffeesatz-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/YanoneKaffeesatz-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/YanoneKaffeesatz-SemiBold.woff') format('woff'),
        url('#{$font-path}/YanoneKaffeesatz-SemiBold.ttf') format('truetype'),
        url('#{$font-path}/YanoneKaffeesatz-SemiBold.svg#YanoneKaffeesatz-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('#{$font-path}/YanoneKaffeesatz-Medium.eot');
    src: url('#{$font-path}/YanoneKaffeesatz-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/YanoneKaffeesatz-Medium.woff2') format('woff2'),
        url('#{$font-path}/YanoneKaffeesatz-Medium.woff') format('woff'),
        url('#{$font-path}/YanoneKaffeesatz-Medium.ttf') format('truetype'),
        url('#{$font-path}/YanoneKaffeesatz-Medium.svg#YanoneKaffeesatz-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('#{$font-path}/YanoneKaffeesatz-ExtraLight_1.eot');
    src: url('#{$font-path}/YanoneKaffeesatz-ExtraLight_1.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight_1.woff2') format('woff2'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight_1.woff') format('woff'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight_1.ttf') format('truetype'),
        url('#{$font-path}/YanoneKaffeesatz-ExtraLight_1.svg#YanoneKaffeesatz-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('#{$font-path}/YanoneKaffeesatz-Light.eot');
    src: url('#{$font-path}/YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('#{$font-path}/YanoneKaffeesatz-Light.woff') format('woff'),
        url('#{$font-path}/YanoneKaffeesatz-Light.ttf') format('truetype'),
        url('#{$font-path}/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('#{$font-path}/YanoneKaffeesatz-Bold.eot');
    src: url('#{$font-path}/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('#{$font-path}/YanoneKaffeesatz-Bold.woff') format('woff'),
        url('#{$font-path}/YanoneKaffeesatz-Bold.ttf') format('truetype'),
        url('#{$font-path}/YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fjalla One';
    src: url('#{$font-path}/FjallaOne-Regular.eot');
    src: url('#{$font-path}/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/FjallaOne-Regular.woff2') format('woff2'),
        url('#{$font-path}/FjallaOne-Regular.woff') format('woff'),
        url('#{$font-path}/FjallaOne-Regular.ttf') format('truetype'),
        url('#{$font-path}/FjallaOne-Regular.svg#FjallaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('#{$font-path}/EdwardianScriptITC.eot');
    src: url('#{$font-path}/EdwardianScriptITC.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/EdwardianScriptITC.woff2') format('woff2'),
    url('#{$font-path}/EdwardianScriptITC.woff') format('woff'),
    url('#{$font-path}/EdwardianScriptITC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('#{$font-path}/gibson-bold.eot');
    src: url('#{$font-path}/gibson-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/gibson-bold.woff2') format('woff2'),
    url('#{$font-path}/gibson-bold.woff') format('woff'),
    url('#{$font-path}/gibson-bold.ttf') format('truetype'),
    url('#{$font-path}/gibson-bold.svg#gibsonbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('#{$font-path}/gibson-light.eot');
    src: url('#{$font-path}/gibson-light.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/gibson-light.woff2') format('woff2'),
    url('#{$font-path}/gibson-light.woff') format('woff'),
    url('#{$font-path}/gibson-light.ttf') format('truetype'),
    url('#{$font-path}/gibson-light.svg#gibsonlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('#{$font-path}/gibson-regular.eot');
    src: url('#{$font-path}/gibson-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/gibson-regular.woff2') format('woff2'),
    url('#{$font-path}/gibson-regular.woff') format('woff'),
    url('#{$font-path}/gibson-regular.ttf') format('truetype'),
    url('#{$font-path}/gibson-regular.svg#gibsonregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('#{$font-path}/gibson-regular.eot');
    src: url('#{$font-path}/gibson-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/gibson-regular.woff2') format('woff2'),
    url('#{$font-path}/gibson-regular.woff') format('woff'),
    url('#{$font-path}/gibson-regular.ttf') format('truetype'),
    url('#{$font-path}/gibson-regular.svg#gibsonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('#{$font-path}/gibson-semibold.eot');
    src: url('#{$font-path}/gibson-semibold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/gibson-semibold.woff2') format('woff2'),
    url('#{$font-path}/gibson-semibold.woff') format('woff'),
    url('#{$font-path}/gibson-semibold.ttf') format('truetype'),
    url('#{$font-path}/gibson-semibold.svg#gibsonsemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('#{$font-path}/gibson-Italic.eot');
    src: url('#{$font-path}/gibson-Italic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/gibson-Italic.woff2') format('woff2'),
    url('#{$font-path}/gibson-Italic.woff') format('woff'),
    url('#{$font-path}/gibson-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gibson';
    src: url('#{$font-path}/gibson-boldItalic.eot');
    src: url('#{$font-path}/gibson-boldItalic.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/gibson-boldItalic.woff2') format('woff2'),
    url('#{$font-path}/gibson-boldItalic.woff') format('woff'),
    url('#{$font-path}/gibson-boldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('#{$font-path}/museoslab-100.eot');
    src: url('#{$font-path}/museoslab-100.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/museoslab-100.woff2') format('woff2'),
    url('#{$font-path}/museoslab-100.woff') format('woff'),
    url('#{$font-path}/museoslab-100.ttf') format('truetype'),
    url('#{$font-path}/museoslab-100.svg#museo_slab100') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('#{$font-path}/museoslab-300.eot');
    src: url('#{$font-path}/museoslab-300.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/museoslab-300.woff2') format('woff2'),
    url('#{$font-path}/museoslab-300.woff') format('woff'),
    url('#{$font-path}/museoslab-300.ttf') format('truetype'),
    url('#{$font-path}/museoslab-300.svg#museo_slab300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('#{$font-path}/museoslab-500.eot');
    src: url('#{$font-path}/museoslab-500.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/museoslab-500.woff2') format('woff2'),
    url('#{$font-path}/museoslab-500.woff') format('woff'),
    url('#{$font-path}/museoslab-500.ttf') format('truetype'),
    url('#{$font-path}/museoslab-500.svg#museo_slab500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('#{$font-path}/museoslab-700.eot');
    src: url('#{$font-path}/museoslab-700.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/museoslab-700.woff2') format('woff2'),
    url('#{$font-path}/museoslab-700.woff') format('woff'),
    url('#{$font-path}/museoslab-700.ttf') format('truetype'),
    url('#{$font-path}/museoslab-700.svg#museo_slab700') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('#{$font-path}/museoslab-900.eot');
    src: url('#{$font-path}/museoslab-900.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/museoslab-900.woff2') format('woff2'),
    url('#{$font-path}/museoslab-900.woff') format('woff'),
    url('#{$font-path}/museoslab-900.ttf') format('truetype'),
    url('#{$font-path}/museoslab-900.svg#museo_slab900') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('#{$font-path}/museoslab-1000.eot');
    src: url('#{$font-path}/museoslab-1000.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/museoslab-1000.woff2') format('woff2'),
    url('#{$font-path}/museoslab-1000.woff') format('woff'),
    url('#{$font-path}/museoslab-1000.ttf') format('truetype'),
    url('#{$font-path}/museoslab-1000.svg#museo_slab1000') format('svg');
    font-weight: 900;
    font-style: normal;
}

@mixin clearfix() {

    &:before,
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin partys() {
    &.color-democrat {color:#405AA6;}
    &.color-green {color: #39A337;}
    &.color-independent {color:#737373;}
    &.color-libertarian {color: #7F3FD6;}
    &.color-republican {color: #C94643;}
    &.bg-democrat {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg transform='translate(-72 -223) translate(72 223)'%3E%3Crect width='22.445' height='20.584' x='1.585' y='1.585' fill='%23405AA6' stroke='%23342F42' stroke-width='3.17' rx='6.3' transform='matrix(1 0 0 -1 0 23.754)'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M12.541 15.883c.757 0 1.382-.066 1.985-.285 1.403-.548 2.313-1.897 2.313-3.662 0-1.995-1.13-3.355-2.719-3.783-.482-.142-1.009-.153-1.6-.153H9v1.688h.833v4.506H9v1.689h3.541zm-.055-1.831h-.285V9.83h.285c.351 0 .625.022.932.164.57.274.976.921.976 1.952 0 .866-.274 1.546-.767 1.875-.33.175-.67.23-1.14.23z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-green {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg transform='translate(-72 -294) translate(72 294)'%3E%3Crect width='22.445' height='20.584' x='1.585' y='1.585' fill='%2339A337' stroke='%23342F42' stroke-width='3.17' rx='6.3' transform='matrix(1 0 0 -1 0 23.754)'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M13.243 16.146c1.13 0 3.442-.384 3.442-1.546v-2.807H13.44v1.689h1.14v.307c0 .307-.592.383-.997.383-1.447 0-2.138-.953-2.138-2.269 0-1.348.713-1.93 1.984-1.93.592 0 .976.132.976.417v.57h2.105V9.535C16.51 8.548 14.712 8 13.276 8 10.787 8 9 9.623 9 12.002c0 2.4 1.809 4.144 4.243 4.144z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-independent {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg transform='translate(-72 -325) translate(72 325)'%3E%3Crect width='22.445' height='20.584' x='1.585' y='1.585' fill='%23737373' stroke='%23342F42' stroke-width='3.17' rx='6.3' transform='matrix(1 0 0 -1 0 23.754)'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M15.035 15.883L15.035 14.194 14.201 14.194 14.201 9.688 15.035 9.688 15.035 8 11 8 11 9.688 11.833 9.688 11.833 14.194 11 14.194 11 15.883z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-libertarian {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg transform='translate(-72 -261) translate(72 261)'%3E%3Crect width='22.445' height='20.584' x='1.585' y='1.585' fill='%237F3FD6' stroke='%23342F42' stroke-width='3.17' rx='6.3' transform='matrix(1 0 0 -1 0 23.754)'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M16.392 15.883L16.392 12.945 14.418 12.945 14.418 14.052 13.201 14.052 13.201 9.831 14.035 9.831 14.035 8 10 8 10 9.831 10.833 9.831 10.833 14.194 10 14.194 10 15.883z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-republican {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg transform='translate(-72 -190) translate(72 190)'%3E%3Crect width='22.445' height='20.584' x='1.585' y='1.585' fill='%23C94643' stroke='%23342F42' stroke-width='3.17' rx='6.3' transform='matrix(1 0 0 -1 0 23.754)'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M12.914 15.883v-1.689h-.713v-.997h.154c.373 0 .46.087.559.296l.899 1.809c.197.405.504.58 1.118.58h1.59v-1.688h-.285c-.241 0-.417-.076-.493-.252l-.373-.811c-.176-.384-.56-.526-.56-.526v-.022c.691-.483 1.13-1.24 1.13-2.171 0-1.14-.658-1.984-1.667-2.27-.46-.131-1.03-.142-1.644-.142H9v1.688h.833v4.506H9v1.689h3.914zm-.132-4.408h-.58V9.831h.405c.767 0 1.009.307 1.009.79 0 .35-.12.602-.34.734-.132.088-.307.12-.494.12z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-rounded-democrat {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg fill='%23405AA6' stroke='%23F8F8F8' stroke-width='8.771' transform='translate(-53 -388) translate(62 397)'%3E%3Ccircle cx='21.077' cy='21.077' r='25.463'/%3E%3C/g%3E%3Cpath fill='%23E9E9E9' fill-rule='nonzero' d='M20.996 27.364c1.416 0 2.586-.123 3.715-.534 2.626-1.026 4.33-3.55 4.33-6.854 0-3.735-2.114-6.28-5.09-7.08-.903-.267-1.888-.287-2.996-.287h-6.588v3.16h1.56v8.435h-1.56v3.16h6.63zm-.103-3.427h-.533v-7.901h.533c.657 0 1.17.04 1.745.308 1.067.513 1.826 1.724 1.826 3.653 0 1.62-.513 2.893-1.436 3.509-.616.328-1.252.43-2.135.43z' transform='translate(-53 -388) translate(62 397)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-rounded-green {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg fill='%2339A337' stroke='%23F8F8F8' stroke-width='8.771' transform='translate(-123 -385) translate(132 394)'%3E%3Ccircle cx='21.077' cy='21.077' r='25.463'/%3E%3C/g%3E%3Cpath fill='%23E9E9E9' fill-rule='nonzero' d='M21.878 27.61c2.114 0 6.444-.718 6.444-2.893v-5.254h-6.074v3.16h2.134v.575c0 .575-1.108.718-1.867.718-2.71 0-4.002-1.785-4.002-4.248 0-2.524 1.334-3.612 3.714-3.612 1.109 0 1.827.247 1.827.78v1.067h3.94v-2.667c0-1.847-3.366-2.874-6.054-2.874-4.658 0-8.004 3.038-8.004 7.491 0 4.494 3.387 7.757 7.942 7.757z' transform='translate(-123 -385) translate(132 394)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-rounded-independent {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg fill='%23737373' stroke='%23F8F8F8' stroke-width='8.771' transform='translate(-53 -526) translate(62 535)'%3E%3Ccircle cx='21.077' cy='21.077' r='25.463'/%3E%3C/g%3E%3Cpath fill='%23E9E9E9' fill-rule='nonzero' d='M24.92 28.364L24.92 25.204 23.36 25.204 23.36 16.769 24.92 16.769 24.92 13.609 17.367 13.609 17.367 16.769 18.927 16.769 18.927 25.204 17.367 25.204 17.367 28.364z' transform='translate(-53 -526) translate(62 535)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-rounded-libertarioan {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg fill='%237F3FD6' stroke='%23F8F8F8' stroke-width='8.771' transform='translate(-53 -457) translate(62 466)'%3E%3Ccircle cx='21.077' cy='21.077' r='25.463'/%3E%3C/g%3E%3Cpath fill='%23E9E9E9' fill-rule='nonzero' d='M27.352 27.364L27.352 21.864 23.658 21.864 23.658 23.937 21.38 23.937 21.38 16.036 22.94 16.036 22.94 12.609 15.388 12.609 15.388 16.036 16.948 16.036 16.948 24.204 15.388 24.204 15.388 27.364z' transform='translate(-53 -457) translate(62 466)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.bg-rounded-republican {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg fill='%23D03330' stroke='%23F8F8F8' stroke-width='8.771' transform='translate(-53 -595) translate(62 604)'%3E%3Ccircle cx='21.077' cy='21.077' r='25.463'/%3E%3C/g%3E%3Cpath fill='%23E9E9E9' fill-rule='nonzero' d='M21.694 27.364v-3.16H20.36v-1.868h.287c.698 0 .862.164 1.047.554l1.683 3.386c.369.76.944 1.088 2.093 1.088h2.976v-3.16h-.534c-.452 0-.78-.144-.924-.472l-.697-1.519c-.329-.718-1.047-.985-1.047-.985v-.041c1.293-.903 2.114-2.32 2.114-4.063 0-2.135-1.231-3.715-3.12-4.249-.861-.246-1.929-.266-3.078-.266h-6.793v3.16h1.56v8.435h-1.56v3.16h7.327zm-.246-8.25H20.36v-3.078h.76c1.436 0 1.887.574 1.887 1.477 0 .657-.226 1.13-.636 1.375-.246.165-.575.226-.923.226z' transform='translate(-53 -595) translate(62 604)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
@mixin newHeaderBox() {
    .newHeaderBox {
        padding: 0;
        flex: 1 1 auto;
        .headerBox{
            padding: 0 42px 0px;
            @media(max-width:360px){
                padding: 0 36px 0px;
            }
            .logotitle {
                font-family: 'Gibson';
                font-size: 11px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 18px;
                letter-spacing: 5px;
                color: #282333;
                text-transform: uppercase;
            }
            .getEngaged {
                font-family: 'Yanone Kaffeesatz';
                font-size: 60px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 57px;
                letter-spacing: normal;
                color: #353647;
                margin-bottom: 22px;
                margin-top: 10px;
                text-transform: uppercase;
            }
            .tagLine {
                font-family: 'Yanone Kaffeesatz';
                font-size: 17px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 25px;
                letter-spacing: 1px;
                color: #282333;
            }
            .dropDown{
                position: relative;
                display: inline-block;
                button.toggleBtns {
                    padding: 0 40px 0 10px;
                    border: solid 2px #353647;
                    background-color: #efe7d4;
                    background-position: right 10px center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.32 4.48'%3E%3Cg id='Group' transform='translate(-0.28 4.72) rotate(-90)'%3E%3Cg id='Path'%3E%3Cpath id='Path-2' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='%23292535'/%3E%3Cpath id='Path-3' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                    background-size: auto 6px;
                    h5{
                        font-family: 'Gibson';
                        font-size: 14px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 24px;
                        letter-spacing: normal;
                        color: #282333;
                        text-align: left;
                        margin: 0;
                        padding: 0;
                    }
                }
                ul.showDropDown {
                    margin: auto;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    top: calc(100% - 1px);
                    left: -1px;
                    right: -1px;
                    background: #fff;
                    border: 0 solid #46465b;
                    border-radius: 0 0 4px 4px;
                    z-index: 0;
                    transition: all 0.3s ease-in-out;
                    max-height: 0;
                    overflow: hidden;
                    &.open{
                        max-height: 100vh;
                        border-width: 1px;
                    }
                    li{
                        border-top:0 none;
                        padding: 10px 20px;
                        font-family: 'Fjalla One';
                        font-size: 12px;
                        line-height: normal;
                        letter-spacing: 0.26px;
                        color: #23232e;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: 0.61px;
                        text-align: left;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-self: start;
                        &.active{
                            background-color: #f3f3f3;
                        }
                        &:nth-of-type(1n+2){
                            border-top: 1px solid #3d3e4f;
                        }
                    }
                }
            }
            .loctionBox {
                font-family: 'Gibson';
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 24px;
                letter-spacing: normal;
                color: #282333;
                text-align: left;
                margin: 0;
                padding: 0 30px 0 10px;
                border: solid 2px #353647;
                background-color: #efe7d4;
                display: inline-block;
            }
            /*
            .loctionBox {
                border: solid 2px #353647;
                background-color: #efe7d4;
                display: inline-flex;
                margin-bottom: 28px;
                .checkIcon {
                    width: 20px;
                    height: 20px;
                    border-right: solid 2px #353647;
                    background-color: #ffac00;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.727' height='7.306' viewBox='0 0 9.727 7.306'%3E%3Cpath id='Stroke_11' data-name='Stroke 11' d='M7,0,4.667,2.489,2.333,4.978,0,2.489' transform='translate(1.363 1.363)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.929'/%3E%3C/svg%3E%0A");
                }
                .editIcon {
                    width: 23px;
                    height: 20px;
                    border-left: 2px solid #353647;
                    background-color: #282333;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.5' height='6.563' viewBox='0 0 7.5 6.563'%3E%3Cpath id='Shape' d='M.331,5.4l.993.869L0,6.563Zm.441-.386L5.294,1.062l.993.868L1.765,5.887ZM5.735.676,6.378.113A.49.49,0,0,1,6.985.1L7,.113l.368.323a.352.352,0,0,1,.017.53L7.371.981l-.644.563Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/svg%3E%0A");
                }
                .locationText {
                    padding: 0 50px 0 10px;
                    font-family: 'Gibson';
                    font-weight: 600;
                    font-size: 11px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    text-align: left;
                    color: #282333;
                }
            }
            */
            .badgeList {
                list-style: none;
                margin: 0px 0px 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
    
                li {
                    margin: 0;
                    padding: 0;
    
                    .badge {
                        display: block;
                        font-family: 'Fjalla One';
                        font-size: 19px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.59;
                        letter-spacing: normal;
                        color: #fff;
                        padding: 0 10px;
                        margin: 0px;
                        text-transform: uppercase;
    
                        &.bg-purple {
                            background-color: #4a3b70;
                        }
    
                        &.bg-lightblue {
                            background-color: #87b8d1;
                        }
    
                        &.bg-violet {
                            background-color: #b46cb7;
                        }
    
                        &.bg-lightpink {
                            background-color: #f7d1d1;
                        }
    
                        &.bg-pink {
                            background-color: #ff9797;
                        }
    
                        &.bg-republican {
                            background-color: #C94643
                        }
    
                        &.bg-democrat {
                            background-color: #405AA6
                        }
    
                        &.bg-libertarian {
                            background-color: #7F3FD6
                        }
    
                        &.bg-green {
                            background-color: #39A337
                        }
    
                        &.bg-green-party {
                            background-color: #39A337
                        }
    
                        &.bg-independent {
                            background-color: #737373
                        }
    
                        &.bg-nonpartisan {
                            background-color: #000;
                        }
    
                        &.bg-non-partisan {
                            background-color: #000;
                        }
    
                        &.bg-write-in {
                            background-color: #000;
                        }
    
                        &.bg-gray {
                            background-color: #5F5F5F;
                        }
    
                        &.bg-blue {
                            background-color: #374793;
                        }
                    }
                }
            }
        }
        ion-segment.segment {
            margin-top: 30px;
            margin-bottom: 0px;
            justify-content: flex-start;
            border-bottom: 3px solid #e6ded0;
            padding: 0 27px 0px;
            ion-segment-button.segment-button {
                display: inline-block;
                font-family: 'Gibson';
                font-size: 13px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0px;
                text-align: center;
                color: #282333;
                padding: 20px 0 25px;
                margin: 0 15px -3px;
                background: transparent;
                border-radius: 0;
                contain: inherit;
                width: auto;
                border-width: 0 0 3px;
                border-style: solid;
                border-bottom-color: rgba(40, 35, 51, 0);
                display: inline-flex;
                height: auto;
                flex: 0 0 auto;
                
                span.title {
                    text-align: left;
                }
                span.badge {
                    line-height: 24px;
                    border-radius: 4.5px;
                    border: solid 3px #282333;
                    background-color: #282333;
                    font-family: 'Museo Slab';
                    font-size: 13px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: -0.59px;
                    color: #efe7d4;
                    padding: 0 5px;
                    margin: 0 10px 0px 0;
                    display: inline-block;
                }
                &.segment-activated {
                    border-bottom-color: rgba(40, 35, 51, 1);
    
                    span.badge {
                        color: #282333;
                        background-color: #9bd29f;
                    }
                }
            }
        }
    }
}

ion-menu {

    // menu overlay
    // ion-backdrop.show-backdrop {}

    .menu-inner {
        width: 100%;

        ion-header.header {
            background-color: #f6f6f6;

            &:after {
                display: none;
            }

            ion-toolbar.toolbar {
                overflow: unset;
                transform: none;
                contain: none;
                padding: 14% 14% 0 12%;
                min-height: 0;
            }

            .toolbar-background {
                display: none;
            }

        }
        
        ion-content.content {
            background-color: #f9f0e0;
            
            .scroll-content {
                padding: 14% 14% 8% 12%;
                padding:calc(env(safe-area-inset-top) + 14%) 14% calc(env(safe-area-inset-top) + 8%) 12%;
                .menuClostBtn {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg id='noun_Arrow_2335736' transform='translate(23.72 0.708)'%3E%3Cpath id='Path_Copy' data-name='Path Copy' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_Copy_2' data-name='Path Copy 2' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 8%;
                    right: 15%;
                    left: auto;
                    bottom: auto;
                }
                .menuContent{
                    display: inline-block;

                }
                .powerScore{
                    border-radius: 8px;
                    border: solid 4px #282333;
                    background-color: #dd3b97;
                    padding: 0 20px;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 29px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 38px;
                    letter-spacing: 2.07px;
                    text-align: center;
                    color: #f9f0e0;
                    display: inline-block;
                    margin-top: 45px;
                }
                h2 {
                    font-family: 'Fjalla One';
                    font-size: 40px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.08;
                    letter-spacing: normal;
                    color: #7661ab;
                    margin-top: 28px;
                    text-transform:uppercase;
                }
        
                .badge {
                    height: auto;
                    border-radius: 9px;
                    background: #4e4074;
                    font-family: 'Gibson';
                    font-weight: 500;
                    font-size: 9px;
                    letter-spacing: 0.09em;
                    color: #fff;
                    display: inline-flex;
                    padding: 2px 5px 3px 3px;
                    align-items: center;
                    text-transform: uppercase;
        
                    span {
                        display: block;
                        margin-right: 5px;
        
                        svg {
                            display: block;
                            width: 13px;
                            height: 13px;
                        }
                    }
                }
        
                h6 {
                    font-family: 'Fjalla One';
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 15px;
                    letter-spacing: normal;
                    color: #423873;
                    text-transform:uppercase;
                    &.needHelp{
                        margin: 30px 0 0;
                        color: #A53378
                    }
                }
                
                hr {
                    background-color: #282333;
                    border: 0 none;
                    margin: 35px 0 15px;
                    height: 2px;
                }

                ion-list.list {
                    margin: 12px 0;
                    padding: 0px;

                    ion-item.item.item-block {
                        background-color: transparent;
                        border: 0;
                        margin: 0;
                        padding: 0;
                        min-height: 0;
                        &:nth-of-type(1n+2){
                            margin-top: 12px;
                        }
                        .item-inner {
                            border: 0 none;
                            padding: 0;
                            ion-label.label {
                                margin: 0;
                                padding:0 ;
                                border: 0 none;
                                text-transform:uppercase;
                                a {
                                    font-family: 'Fjalla One';
                                    font-size: 17px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 17px;
                                    letter-spacing: -0.2px;
                                    color: #3e3d52;
                                    display: block;

                                    &.color-danger {
                                        color: #C62352;
                                    }
                                }
                            }
                        }
                    }
                }

                h6 {
                    font-family: 'Fjalla One';
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.37;
                    letter-spacing: normal;
                    color: #3e3d52;
                    text-transform:uppercase;
                }

                p {
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 15px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.39;
                    letter-spacing: 0.88px;
                    color: #3a3560;
                }
            }
        }
    }
}



.pac-container.pac-logo {
    box-shadow: none;
    border-top:1px solid #282333;
    .pac-item {
        border-color:#282333;
        border-width:0 1px 1px;
        border-style: solid;
        background-color: #fafafa;
        &:nth-of-type(1n+2){
            border-top-width: 0;
        }
        span {
            font-family: 'Yanone Kaffeesatz';
            font-size: 10px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.77px;
            color: #372f48;
            &.pac-icon.pac-icon-marker {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 5 5'%3E%3Ccircle fill='%23282333' cx='2.5' cy='2.5' r='2.5'/%3E%3C/svg%3E");
                background-size: auto 5px;
                background-position: center;
                background-repeat: no-repeat;
                // margin-top: 11px;
                margin-left: 5px;
            }

            &.pac-item-query {
                font-weight: normal;
            }
        }
    }

    &:after {
        display: none;
    }
}

.loaderWrap {
    clear: both;
    display: block;
    text-align: center;
    margin-top: 14px;
}

a {
    text-decoration: none;
}

strong,
b {
    font-weight: 500;
}

button.button{
    box-shadow: none;
}

ion-header.header {
    ion-navbar.toolbar {
        padding: 0;

        .toolbar-content {

            .btnsWrap {
                display: flex;

                .btn {
                    flex: 0 0 14vw;
                    width: 14vw;
                    text-align: center;
                    height: auto;
                    padding: 5vh 0 4%;
                    align-self: flex-start;

                    &.btn-menu {
                        margin-left: 0;
                        margin-right: auto;
                        order: 0;
                        // border-right: 1px solid #e9e9e9;
                    }

                    /*
                        &:nth-of-type(1n+2){
                            border-left: 1px solid #e9e9e9;
                        }
                        */
                    &.btn-msg {
                        .msgCountWrap {
                            position: relative;
                            margin: auto;

                            span {
                                min-width: 21px;
                                height: 21px;
                                font-family: 'Fjalla One';
                                font-weight: normal;
                                font-size: 12px;
                                letter-spacing: -0.04em;
                                color: #fff;
                                display: block;
                                text-align: center;
                                line-height: 18px;
                                position: absolute;
                                transform: translate(50%, -50%);
                                border-radius: 5.7px;
                                background: #34ca9e;
                                border: 1.9px solid #493b70;
                            }
                        }
                    }

                    display: flex;

                    svg {
                        margin: auto;
                        width: 4.3vw;
                        height: 4.3vw;
                    }
                }

                .locationSearch {
                    align-self: flex-start;
                    padding: 4vh 0 0;
                    flex: 1 1 auto;

                    ion-item.item.item-block {
                        padding: 0;
                        margin: auto;
                        background: transparent;

                        .item-inner {
                            border: 0 none;
                            padding: 0;
                            margin: auto;

                            .input-wrapper {
                                align-self: flex-start;
                            }

                            ion-input.input {
                                width: 100%;
                                height: auto;
                                border-radius: 3.25vw;
                                background: transparent;
                                border: 1.5px solid #493b70;
                            }

                            input.text-input {
                                background-position: left 5px center;
                                background-size: auto 4.2vw;
                                background-image: url('../assets/img/icon_map_marker.svg');
                                background-repeat: no-repeat;
                                padding: 0 15px 0 5vw;
                                width: 100%;
                                margin: auto;
                                height: 6.5vw;
                                font-size: 4.2vw;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }

        }
    }
}

.powring span {
    font-weight: 500;
}

.powring {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 60px;
    margin-bottom: 0;
}

.splash-load-bg {
    background: #2d2c3d;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

md-option .md-text {
    font-size: 13px
}

.app-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    float: left;
}

.app-background {
    background: url("../assets/img/background.png") no-repeat 0 0 / cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

/*
*/
.app-background:after {
    background: rgba(45, 44, 61, 0.76);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.app-background-color {
    background: #3a3847;
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.app-panel-header {
    background: #4f4e5f;
    padding: 15px 35px;
    color: #ffffff;
    font-weight: 300;
}

.app-panel-header strong {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.app-panel-header2 {
    padding: 20px 35px;
    text-align: center;
}

.app-panel-header2 strong {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.app-panel-header3 strong {
    font-weight: 500;
}

.app-panel-header3 strong span {
    background: #7ba095 none repeat scroll 0 0;
    border-radius: 3px;
    padding: 0 4px;
    font-family: "Museo Slab";
    font-weight: 800;
}

.app-panel-header4 {
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 300;
}

.back-btn .icon-back {
    top: 1px;
}

.left {
    float: left !important;
}

.app-panel-header p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}

.app-panel-header strong {
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.login-container {
    padding: 0 37.5px;
}

.spt {
    background: url("../assets/img/spt.jpg") repeat-x;
    height: 2px;
    width: 100%;
}

.login-container .select-field {
    margin-top: 25px;
}

.login-form {
    background-color: #2d2c3d;
    padding: 56px 0;
    margin-top: 0;
}

.fixed-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.full-height {
    height: 100%;
}

.error_window {
    background-color: #975253;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 15px 35px;
    position: relative;
}

.close {
    background: url("../assets/img/sprite.png") no-repeat scroll -33px -74px / 250px auto;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 18px;
    width: 17px;
}

.name-tracking-wrap div,
.name-tracking-wrap i {
    float: left;
}

label {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.full-width {
    width: 100%;
}

.no-margin {
    margin: 0 !important;
}

.right {
    float: right;
}

.fblogin {
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    padding: 0;
}

.fblogin img {
    width: 100%;
}

.que-form {
    background-color: #3a3847;
    margin-top: 0;
    padding: 56px 0 0;
}

.que-form1 {
    background-color: #3a3847;
    margin-top: 0;
    padding: 16px 0 5px;
    color: #fff;
}

.que-form2 {
    padding: 30px 0 44px;
}

.que-form2 p {
    margin-bottom: 27px;
}

.pull-right {
    float: right !important;
}

.app-panel-header1 p {
    margin: 5px 0 6px;
}

.app-panel-header1 {
    padding: 22px 35px 15px;
    font-weight: 300;
}

.footer-btn-wrapper {
    background: #3a3847;
}

.no-padding {
    padding: 0 !important;
}

.try-again {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.try-again .try-again-ico {
    margin-right: 10px;
    background: url("../assets/img/tag-arrow.png") no-repeat;
    width: 15px;
    display: inline-block;
    height: 15px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: 100%;
}

.type-note {
    background: #4f4e5f;
    padding: 10px;
    text-align: center;
}

.type-note p {
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.location-pin p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.location-pin .edit-location {
    color: #fff;
    float: right;
}

.location-pin:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #272736;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

md-select-menu:not(.md-overflow) md-content {
    padding: 0;
}

.app-panel-header-inverse {
    background: #f7c05d;
}

.app-panel-header-inverse strong {
    color: #4f4e5f;
}

.login-container md-input-container {
    margin: 0 0 14px;
}

.login-container md-radio-button.md-default-theme .md-off,
md-radio-button .md-off {
    background: #7ba095;
    border-color: #7ba095;
}

.login-container md-radio-group:not([disabled]) .md-primary.md-checked .md-off,
.login-container md-radio-button:not([disabled]).md-primary.md-checked .md-off {
    border-color: #7ba095;
}

.login-container md-radio-group:not([disabled]) .md-primary .md-on,
.login-container md-radio-button:not([disabled]).md-primary .md-on {
    background: #fff;
}

.login-container .md-label {
    color: #7ba095;
    font-weight: 500;
}

.login-container .md-checked .md-label {
    color: #fff;
}

.login-container md-radio-button .md-off {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
}

.bottom-button-wrapper {
    padding: 16px 35px 5px;
}

.clear {
    clear: both;
}

.font-xs {
    font-size: 12px;
    letter-spacing: 1.5px;
}

.nav-close.pull-right {
    position: absolute;
    right: 15px;
}

.fixed-buttom {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 99;
}

.fixed-buttom>img {
    max-width: 60px;
}

.fab1 {
    position: fixed !important;
    bottom: -15px !important;
    right: 0 !important;
    left: 0 !important;
    text-align: right;
    align-items: auto;
    -webkit-align-items: auto;
}

md-fab-speed-dial.md-up.fab1 md-fab-trigger {
    width: 100%;
}

.fab1 md-fab-trigger .md-fab {
    background: rgba(0, 0, 0, 0) !important;
    border-radius: 0;
    box-shadow: none !important;
    height: auto;
    margin-right: 10px !important;
    padding: 0;
    width: auto;
    line-height: normal;
    position: relative;
    top: -25px;
    z-index: 99;
}

.fab1 md-fab-trigger .md-fab>img {
    max-width: 60px;
}

.fab1 .md-button.md-fab.md-mini {
    border-radius: 0;
    width: 100%;
}

.fab1 .md-fab-action-item {
    background: #4f4e5f;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.fab1 .md-fab-action-item:first-child {
    padding-bottom: 33px;
}

.fab1 .md-fab-action-item:last-child {
    padding-top: 33px;
}

.fab1.md-is-open::after {
    background: rgba(56, 55, 71, 0.8);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.fab1 .fabopen {
    display: none
}

.fab1.md-is-open .fabopen {
    display: inline-block
}

.fab1.md-is-open .fabclose {
    display: none
}

md-sidenav {
    max-width: calc(100% - 103px);
    min-width: calc(100% - 103px);
    width: calc(100% - 103px);
}

.location p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.location .edit-location {
    color: #fff;
    float: right;
}

.location:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #272736;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.location1 p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.location1 .edit-location {
    color: #fff;
    float: right;
}

.location1:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #272736;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.filter-btn>img {
    vertical-align: middle;
    width: 12px
}

.pagetab .md-tab.ng-scope.ng-isolate-scope.md-ink-ripple:first-child {
    margin-left: 0;
}

.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
    font-weight: 500;
}

.tabs-wrapper .pagetab .md-tab {
    padding: 13px 20px;
}

md-tabs-canvas.md-paginated {
    margin: 0;
}

.tabs-wrapper md-tabs-wrapper:after {
    color: #000
}

.map {
    min-height: 230px;
}

.map1 {
    min-height: 230px;
    position: relative;
    width: 100%;
    z-index: 0;
    margin-top: 0;
}

#map {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.RC1-OFFICE-PAGE-NO-CANDIDATES .app-background-color2 {
    background: #E7E7E7;
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.edit-location-bg {
    width: 100%;
    height: 45px;
    background: #4f4e5f;
    padding: 0 15px;
}

.edit-location-bg p {
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    float: left;
}

.edit-location-bg .oval-30 {
    background: #7ba095 none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    float: left;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    margin: 17px 0 0 10px;
    text-align: center;
    width: 15px;
}

.edit-location-bg.margin-top {
    float: left;
    margin-top: 20px;
}

.rdo-btn-fl md-radio-button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    white-space: nowrap;
    font-size: 11px;
    margin-left: 6px;
}

.rdo-btn-fl md-radio-button:first-child {
    margin-left: 0px;
}

.no-space md-radio-button {
    margin-left: 0px !important;
}

md-radio-group.radio-group md-radio-button {
    margin-bottom: -5px;
}

.app-background-color1 {
    background: #2d2c3d;
}

.app-background-color2 {
    background: #E7E7E7;
}

.app-background-color3 {
    background-color: #2d2c3d;
    z-index: 1;
}

.groups-header {
    padding: 18px 22px 23px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.groups-header2 {
    text-align: center;
}


/* user detail */
.related-user-info .related-user-role {
    padding: 0 !important;
    position: relative;
}

.related-user-img {
    max-width: 71px;
    position: relative;
    align-self: flex-start;
    -webkit-align-self: flex-start;
}

.related-user {
    background: #f2f2f2 !important;
    margin-bottom: 0 !important;
    display: flex !important;
    padding: 22px 20px 26px 28px !important;
    border-bottom: 1px solid #e5e5e5 !important
}

.related-user-img img {
    min-height: 71px;
    max-width: none;
    width: 71px;
}

.related-user-info {
    margin-left: 20px;
    text-align: left;
    flex: 1
}

.related-user-img span {
    background-size: 100% 100%;
    bottom: -5px;
    color: #ffffff;
    font-family: Museo Slab;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 26px;
    position: absolute;
    right: -5px;
    text-align: center;
    width: 32px;
}

.related-user-info .related-user-name,
.related-user-info .related-user-location {
    color: #484859;
    display: block;
    font-family: gibson;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
}

.related-user-info .related-user-role .cc {
    background: #8d322f;
    border-radius: 3px;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 2px 4px 0 4px;
    font-weight: bold;
    color: #fff;
    font-family: gibson;
    font-size: 14px;

}

.platform-android4 .related-user-info .related-user-role .cc {
    padding: 2px 4px 0 4px
}

.related-user-info .related-user-role .c1c {
    vertical-align: middle;
    color: #272736;
    font-family: Yanone Kaffeesatz;
    font-weight: bold;
    font-size: 21px;
    margin-top: 5px;
}

.chart-icon-label {
    background: #7ba095;
    border-radius: 3px;
    display: inline-block;
    height: 18px;
    padding: 3px;
    position: relative;
    vertical-align: middle;
    width: 18px;
}

.chart-icon-label img {
    max-width: 100%;
    vertical-align: top;
}

.related-user-img p {
    width: 71px;
    height: 71px;
    color: #4e4e58;
    font-family: Gibson;
    font-size: 27px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    overflow: hidden;
    border-radius: 80px;
    line-height: 71px;
    display: block;
    text-transform: uppercase;
    background: #e1e1e1;
}

/** user end **/

/** tabs **/
.tabs-wrapper md-tabs-wrapper {
    background: #4f4e5f;
    position: relative;
}

.tabs-wrapper md-tabs-wrapper:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid;
    z-index: -1;
}

.tabs-wrapper .md-tab {
    color: #b0aec6;
    font-weight: 400;
    font-size: 10px;
    padding: 13px 25px;
}

.tabs-wrapper .md-tab .md-ripple-container {
    display: none;
}

.tabs-wrapper md-tabs .md-tab.md-active {
    color: #fff;
    font-weight: 500;
}

.tabs-wrapper md-tabs[md-border-bottom] md-tabs-wrapper {
    border-width: 0;
}

.tabs-wrapper md-tabs .md-tab.md-active>span {
    position: relative;
}

.tabs-wrapper md-tabs .md-tab.md-active>span:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid;
    left: 0;
    bottom: -15px;
    z-index: 9;
}

.tabs-wrapper md-tabs-canvas {
    height: 46px;
}

.tabs-wrapper md-content {
    background: transparent;
}

.content-wrapper md-pagination-wrapper {
    min-width: 320px !important;
}

.badge {
    padding: 0;
}

/** tabs end **/

/** colors  **/


.countyofficial_header {
    background: #6D3B46 !important;
}

.countyofficial_title.related-user-role {
    background: #764650 !important;
}

.countyofficial_title.related-user-role .cc {
    background: #97555D !important;
    border-color: #6D3B46 !important
}

.countyofficial_title.related-user-role .ssl-cc {
    border-color: #fff !important
}

.countyofficial_photo {
    background: #764650 !important;
}

.municipalofficial_header {
    background: #483550 !important;
}

.municipalofficial_title.related-user-role {
    background: #5c4763 !important;
}

.municipalofficial_title.related-user-role .cc {
    background: #785c81 !important;
    border-color: #483550 !important
}

.municipalofficial_title.related-user-role .ssl-cc {
    border-color: #fff !important
}

.municipalofficial_photo {
    background: #5c4763 !important;
}


.federalexecutive_header,
.uslegislator_header {
    background: #2d3b44 !important;
}

.federalexecutive_title.related-user-role,
.uslegislator_title.related-user-role {
    background: #414e57 !important;
}

.federalexecutive_title.related-user-role .cc,
.uslegislator_title.related-user-role .cc {
    background: #6d828e !important;
    border-color: #2d3b44 !important
}

.federalexecutive_title.related-user-role .ssl-cc,
.uslegislator_title.related-user-role .ssl-cc {
    border-color: #fff !important
}

.federalexecutive_photo,
.uslegislator_photo {
    background: #6d828e !important;
}


.stateofficial_header,
.congressofficial_header,
.houseofficial_header,
.senateofficial_header,
.judicialofficial_header {
    background: #252d1b !important;
}

.stateofficial_title.related-user-role,
.congressofficial_title.related-user-role,
.houseofficial_title.related-user-role,
.senateofficial_title.related-user-role,
.judicialofficial_title.related-user-role {
    background: #485837 !important;
}

.stateofficial_title.related-user-role .cc,
.congressofficial_title.related-user-role .cc,
.houseofficial_title.related-user-role .cc,
.senateofficial_title.related-user-role .cc,
.judicialofficial_title.related-user-role .cc {
    background: #707f5f !important;
    border-color: #252d1b !important
}

.stateofficial_title.related-user-role .ssl-cc,
.congressofficial_title.related-user-role .ssl-cc,
.houseofficial_title.related-user-role .ssl-cc,
.senateofficial_title.related-user-role .ssl-cc,
.judicialofficial_title.related-user-role .ssl-cc {
    border-color: #fff !important
}

.stateofficial_photo,
.congressofficial_photo,
.houseofficial_photo,
.senateofficial_photo,
.judicialofficial_photo {
    background: #485837 !important;
}

.democraticparty {
    background: #527a96 !important;
}

.republican {
    background: #b64949 !important;
}

/** color end **/
/*.height100 {
    height: 100%;
}*/


/** ADD_JOB_HISTORY and voluntee START CSS**/

.add-job-history.login-container {
    padding: 15px;
    display: block;
}

.add-job-history.login-container .md-label {
    color: #fff;
}

.add-job-history.padding-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.add-job-history.padding-h-15.select-box {
    padding-left: 15px;
    padding-right: 15px;
}

.add-job-history.que-form {
    background-color: #3a3847;
    margin-top: 0;
    padding: 56px 0 0;
    overflow-y: auto;
    height: calc(100% - 72px);
}

.add-job-history .label-strong {
    font-size: 10px;
}

.add-job-history .select-box {
    float: left;
    padding: 0 0 90px;
    width: 100%;
}

.add-job-history .select-left-box {
    width: 43%;
    float: left;
}

.add-job-history .select-left-box .select-login-type.select-month-name {
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

.add-job-history .select-left-box .select-login-type.select-days {
    margin-bottom: 0;
    margin-top: 0;
    width: 40%;
    float: left;
    overflow: hidden;
}

.add-job-history .select-left-box .select-login-type.select-years {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    float: right;
    overflow: hidden;
}

.add-job-history .select-left-box .select-login-type md-select-value>span {
    font-size: 10px;
}

.add-job-history .select-left-box .select-login-type.select-days .md-select-value {
    min-width: auto;
}

.add-job-history .select-left-box .select-login-type.select-years .md-select-value {
    min-width: auto;
}

.add-job-history .select-left-box .select-login-type md-select {
    height: 2rem;
}

.add-job-history .select-center-box {
    width: 14%;
    float: left;
    text-align: center;
    padding-top: 34px;
}

.add-job-history .select-center-box img {
    width: 18px;
}

.add-job-history .select-right-box {
    width: 43%;
    float: right;
}

.add-job-history .select-right-box .select-login-type.select-month-name {
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

.add-job-history .select-right-box .select-login-type.select-days {
    margin-bottom: 0;
    margin-top: 0;
    width: 40%;
    float: left;
    overflow: hidden;
}

.add-job-history .select-right-box .select-login-type.select-years {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    float: right;
    overflow: hidden;
}

.add-job-history .select-right-box .select-login-type md-select-value>span {
    font-size: 10px;
}

.add-job-history .select-right-box .select-login-type.select-days .md-select-value {
    min-width: auto;
}

.add-job-history .select-right-box .select-login-type.select-years .md-select-value {
    min-width: auto;
}

.add-job-history .select-right-box .select-login-type md-select {
    height: 2rem;
}

.add-job-history .select-box .btn-ghost-green {
    margin-top: 40px;
    display: inline-block;
}

.add-job-history.padding-h-15.select-box .btn-ghost {
    font-size: 12px;
}

.custom-autocomplete {
    margin-bottom: 24px;
    padding: 2px 0;
}

.custom-autocomplete,
.custom-autocomplete md-autocomplete-wrap {
    height: auto;
}

.custom-autocomplete input {
    background: rgba(0, 0, 0, 0) !important;
    border: 0 !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    color: #ffffff !important;
    font-size: 16px !important;
    height: 56px !important;
    opacity: 0.81 !important;
    padding: 0 10px !important;
}

.custom-autocomplete input[type="search"]:focus {
    border: 0 !important;
}

/** END CSS **/

.leaflet-marker-pane {
    z-index: 660 !important;
}

.leaders .purple-profile .related-user-img p {
    color: #fff;
    background: #503192;
}

.leaders .red-profile .related-user-img p {
    color: #fff;
    background: #993737;
}

.leaders .green-profile .related-user-img p {
    color: #fff;
    background: #752983;
}

.leaders .blue-profile .related-user-img p {
    color: #fff;
    background: #216b84;
}


/** search1 accordion **/

.search_1_accordion .md-accordion .expandCollapse {
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    display: block;
    margin-top: -2px;
    margin-left: -2px;
    overflow: hidden;
}

.search_1_accordion .md-accordion .expandCollapse:active {
    border: 0px;
}

.search_1_accordion .md-accordion .expandCollapse:before {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 32px;
    text-align: center;
    font-size: 9px;
    transition: .3s all ease-out;
    color: #75738c;
}

.search_1_accordion .md-accordion .expandCollapse:before {
    opacity: 1;
    transform: rotate(0deg);
    content: "▼";
    margin-top: -3px;
}

.search_1_accordion .md-accordion .active:before {
    opacity: 1;
    transform: rotate(180deg);
    margin-left: 3px;
    margin-top: 0px;
}




.search_1_accordion .md-accordion .dataContent {
    overflow: hidden;
    transition: .4s all ease-out;
    background: #44425a;
    padding: 0;
}

.search_1_accordion .md-accordion md-toolbar {
    cursor: pointer;
    border-bottom: 0;
    background: #559e88;
    color: #fff;
}

.search_1_accordion .md-accordion md-toolbar .md-toolbar-tools {
    height: auto;
    max-height: none;
    min-height: 75px;
    padding-right: 20px;
    padding-left: 18px;
}

.search_1_accordion .md-accordion md-toolbar.closeBtn .md-toolbar-tools {
    padding-right: 37px;
}

.search_1_accordion md-toolbar .md-toolbar-tools {
    max-height: none;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 18px;
}

.search_1_accordion md-toolbar {
    background: #4e4d62;
    cursor: pointer;
}

.search_1_accordion md-toolbar h2 {
    color: #fff;
    flex: 1 1 0;
    font-family: Yanone Kaffeesatz;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4.63px;
    text-align: right;
}

.search_1_accordion md-toolbar h2 img {
    margin-right: 6px;
    margin-top: -3px;
    vertical-align: middle;
}

.search_1_accordion .dataContent .overlay-acordion {
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.15s ease-out 0s;
    visibility: hidden;
    z-index: -1;
}

.search_1_accordion .dataContent.activeContent .overlay-acordion {
    background: -moz-linear-gradient(top, rgba(71, 69, 94, 0.8) 0%, rgba(48, 47, 61, 1) 60%);
    background: -webkit-linear-gradient(top, rgba(71, 69, 94, 0.8) 0%, rgba(48, 47, 61, 1) 60%);
    background: linear-gradient(to bottom, rgba(71, 69, 94, 0.8) 0%, rgba(48, 47, 61, 1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc47455e', endColorstr='#302f3d', GradientType=0);
    visibility: visible;
}

.search_1_accordion md-toolbar.closeBtn h2 {
    text-align: left;
}

.search_1_accordion md-toolbar .md-toolbar-tools>img {
    display: none;
}

.search_1_accordion md-toolbar.closeBtn .md-toolbar-tools>img {
    display: block;
    margin-top: -5px;
}

.search_1_accordion {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 98;
}

.get_engaged_profile {
    z-index: 99;
}

.search_1_accordion-content span {
    color: #ffffff;
    float: right;
    font-size: 11px;
    height: auto;
    line-height: 2.2;
    margin-right: -2px;
    margin-top: 0;

    transform: scaleY(1) scaleX(0.6) rotate(-90deg);
    -webkit-transform: scaleY(1) scaleX(0.6) rotate(-90deg);
    transition: all 0.2s ease-in-out 0s;
    width: auto;
}

.search_1_accordion-content a {
    border-bottom: 1px solid #4f4c67;
    color: #ffffff;
    display: block;
    font-family: Fjalla One;
    font-size: 20px;
    letter-spacing: 0;
    padding: 31px 38px 34px 29px;
}


/* location filter bar*/
.locationFilterBar {
    background: #262533;
    box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.470);
    padding: 14px 15px 13.5px 9px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.locFilterLeft {
    max-width: 71%;
    max-width: calc(100% - 90px);
}

@media (max-width: 320px) {
    .locFilterLeft {
        max-width: 71%;
        max-width: calc(100% - 70px);
    }
}

.locFilterLeftselected {
    color: #ffffff;
    font-family: Yanone Kaffeesatz;
    font-size: 17.5px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.585px;
}

.locFilterLeftselected .lcFR {
    flex: auto;
}

.locFilterLeftselected .lcFR .lcFRT {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.platform-ios .locFilterLeftselected .lcFR .lcFRT {
    margin-top: -2px;
    padding-bottom: 1px;
}

.locFilterLeftselected>img {
    margin-top: -1px;
    vertical-align: top;
}

.locFilterLeftselected>img:first-child {
    margin-right: 5px;
}

.locFilterLeft .locFilterLeftAddress {
    color: #b0aec6;
    font-weight: 500;
    letter-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1.25px;
    font-family: Gibson;
    font-size: 8.5px;
    max-width: 190px;
}

.locFilterLeft .pencil-edit {
    background: url(../assets/img/pencil-edit.png) no-repeat center 2px;
    background-size: 9px auto;
    float: none;
    height: auto;
    margin-left: 3px;
    margin-top: 0;
    width: 20px;
    display: inline-block;
}

.platform-ios .locFilterLeft .pencil-edit {
    background: url(../assets/img/pencil-edit.png) no-repeat center 7px;
    background-size: 9px auto;
}

.locFilterLeftselected .lcFL {
    padding-right: 6px;
}

.lcFL img {
    width: 66px;
    vertical-align: top;
    margin-bottom: -10px;
    margin-left: -14px;
    margin-right: -13px;

}

.srch_loc {
    border-top: 1px solid #494762;
}

.srch_loc_dropd .lcFL img {
    width: 39.5px;
    vertical-align: top;
    margin: 0;
}

.locFilterRight .md-button md-icon img {
    width: 27px;
    vertical-align: top;
}

.locFilterRight .md-icon-button.md-button md-icon {
    width: 27px;
    height: 27px;
}

.lcFR img {
    width: 12px;
}

.locFilterLeftselected .lcFR .lcFRT i {
    margin-left: 6px;
}

.locFilterRight .md-icon-button.md-button {
    margin: 0;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
    width: 43px;
    padding-right: 6px;
    background: none !important;
}

.myjurisdictions md-select .md-select-value .md-select-icon:after {
    background-image: url(../assets/img/arrow-office-btn1.png);
    content: "";
    width: 10px;
    height: 16px;
    padding: 0;
    margin: auto;
    display: block;
    transform: none;
}

.locFilterRight .md-icon-button.md-button.addRemoveBtn {
    margin: -14px -15px -14px 0;
    padding: 0;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    height: 58.5px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    color: #fff;
    line-height: normal;
}

.locFilterRight .md-icon-button.md-button.addRemoveBtn md-icon {
    line-height: 0.25;
    color: #b0aec6;
    font-size: 33px;
}

.locFilterRightEdit .md-icon-button.md-button {
    width: 40px;
    padding-right: 8px;
    padding-bottom: 0;
    padding-top: 3px;
}

.locFilterRightEdit .md-icon-button.md-button md-icon {
    width: 24px;
    height: 24px;
}



ion-app.app-root {
    // background-image: url('../assets/img/new_backupground.png') !important;
    background-size: cover;
    background-position: center;
    background:#f4eee2 !important;

    page-mobile-number-verification, page-verify-mobile, page-register, page-steptwoprofile, page-verify-email, page-email-verified {
        &.ion-page.show-page {
            ion-content.content {
                background-color: transparent;
            }
        }
    }  
    
}
ion-modal page-mobile-number-verification.ion-page.show-page {
    opacity: 0.9;
}

ion-app.app-root .app-root .ion-page ion-content.content {
    background-color: transparent;
}


ion-app.app-root.ios .app-root .ion-page.show-page~.nav-decor {
    display: none;
}

.profile-image {
    height: 50px;
    border: none;
    border-radius: 50%;
}

.searchBarSection {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // transform: translateY(120%);
    opacity: 0;
    display: block;
    visibility: hidden;

    .searForm {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
        font-size: 20px;
        background: #fff;
        transition: all 0s linear 0s;
        transform: translateY(25%);
        opacity: 0;

        ion-item.item.item-block {
            padding: 5px 20px;
            margin: auto;

            &.moreOptionsWrap {
                background: #f8f8f8;
                box-shadow: 0px 16px 13px rgba(0, 0, 0, 0.1);
                border-top: 2px solid #e9e9e9;

                .moreOptions {
                    svg {
                        align-self: center;
                        margin-right: 10px;
                        transform: translateY(-1px);
                    }
                }
            }

            .item-inner {
                border: 0 none;
                padding: 0;
                margin: auto;

                ion-label.label {
                    order: 2;
                    padding: 0;
                    margin: 0;
                    pointer-events: auto;

                    button.btn.btn-search.button.button-default {
                        background: transparent;
                        border: 0 none;
                        padding: 0;
                        color: rgba(86, 58, 112, 1);
                        margin: 0;
                        width: 40px;
                        height: 40px;
                        position: relative;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: all;

                            &.active {
                                opacity: 0;
                            }
                        }
                    }
                }

                ion-input.input {
                    padding: 0;
                    margin: 0;

                    input.text-input {
                        height: 30px;
                        line-height: 30px;
                        margin: 0;
                        padding: 0;
                        font-family: 'Yanone Kaffeesatz';
                    }
                }
            }

            &.item-input-has-value {
                .item-inner ion-label.label button.btn.btn-search.button.button-default img.active {
                    opacity: 1;
                }
            }

        }
    }

    .overlaySearch {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        background: rgba(86, 58, 112, 0);
        z-index: -1;
        opacity: 1;
        transition: all 0.2s linear 0.1s;
    }

    &.animated {
        display: block;
        visibility: visible;
        opacity: 1;

        // transform: translateY(0%);
        .searForm {
            // transition: all 0.5s linear 0.5s;
            transition: all 0.3s linear 0.3s;
            transform: translateY(0%);
            opacity: 1;
        }

        .overlaySearch {
            background: rgba(86, 58, 112, 0.8);
        }
    }
}

.progressList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .progressListIteam {
        flex: 1 1 auto;
        padding: 5px;
        display: flex;
        align-items: flex-end;

        .progressListBox {
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            background: rgba(28, 24, 41, 24);
            display: inline-block;
            position: relative;
            transition: all 0.3s linear;
            position: relative;

            span.char {
                opacity: 1;
                font-family: 'Yanone Kaffeesatz';
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                color: rgb(255, 255, 255);
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: bold;
            }

            .progressListIteamImgWrap {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                opacity: 0;
                transition: all 0.3s linear;

                // position:relative;
                span {
                    display: block;
                    border-radius: 14px;
                    background: #9c6aa8;
                    border: 2px solid #774285;
                    font-family: 'Yanone Kaffeesatz';
                    font-weight: Bold;
                    color: #fff;
                    position: absolute;
                    top: auto;
                    left: auto;
                    bottom: 10px;
                    right: 0;
                    letter-spacing: 0.05em;
                    line-height: normal;
                    font-size: 10px;
                    padding: 2px 7px 2px;
                }
            }

            svg {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                opacity: 1;
                transition: all 0.3s linear;
                top: auto;
                margin: auto;
                height: auto;
                opacity: 0.41;

                path {
                    opacity: 0;
                }
            }

            &.activated {
                z-index: 1;
                background: rgba(28, 24, 41, 0);
                transform: scale(1.3);

                &:after {
                    border-radius: 50%;
                    transform: scale(1);
                    content: "";
                    box-shadow: 0 2px 50px 0 #000000;
                    top: 5%;
                    right: 5%;
                    bottom: 5%;
                    left: 5%;
                    display: inline-block;
                    position: absolute;
                    z-index: -1;
                }

                .progressListIteamImgWrap {
                    opacity: 1;
                }

                svg {
                    opacity: 0;
                }

            }

            &.completed {
                background: rgba(28, 24, 41, 0);

                svg {
                    opacity: 1;

                    text {
                        opacity: 0;
                    }

                    path {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
ion-alert.select-alert.multiple-select-alert{
    &.election-date-dropdown{
        .alert-wrapper{
            background: #fffaf0;
            border: 4px solid #282333;
            max-width: 313px;
            border-radius: 0;
            .alert-head{
                background: #f9f0e0;
                border-bottom: solid 3px #282333;
                padding: 28px 22px 21px;
                .alert-title{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 30px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: #353647;
                    text-align: left;
                    margin: 0;
                }
            }
            .alert-message:empty{display: none;}
            .alert-checkbox-group{
                padding: 12px 0;
                .alert-tappable.alert-checkbox.alert-checkbox-button{
                    .alert-checkbox-icon{
                        border-color:#353647;
                        display: none;
                    }
                    .alert-checkbox-label{
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: normal;
                        color: #353647;
                        padding-left: 22px;
                        padding-right: 40px;
                    }
                    &[aria-checked=true]{
                        .alert-checkbox-icon{
                            border-color: #374793;
                            .alert-checkbox-inner{
                                background-color: #374793;
                            }
                        }
                        .alert-checkbox-label{
                            // color: #374793;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.727 7.306'%3E%3Cg id='Group_15' data-name='Group 15' transform='translate(1.363 1.363)'%3E%3Cpath id='Stroke_11' data-name='Stroke 11' d='M7,0,4.667,2.489,2.333,4.978,0,2.489' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.929'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-size: auto 8px;
                            background-position: center right 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .alert-button-group{
                background: #f9f0e0;
                border-top: solid 3px #282333;
                padding: 0;
                button.alert-button.alert-button-default{
                    padding: 5px 10px;
                    background-color: #f9f0e0;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 44px;
                    letter-spacing: 2px;
                    color: #282333;
                    flex: 1 1 auto;
                    justify-content: center;
                    margin: 0;
                    text-transform: uppercase;
                    span.button-inner{
                        justify-content: center;
                    }
                    &:nth-of-type(1n+2){
                        border-left: solid 3px #282333;
                    }
                }
            }
        }
    }
}

ion-alert.select-alert.single-select-alert{
    &.election-date-dropdown{
        .alert-wrapper{
            background: #fffaf0;
            border: 4px solid #282333;
            max-width: 313px;
            border-radius: 0;
            .alert-head{
                background: #f9f0e0;
                border-bottom: solid 3px #282333;
                padding: 28px 22px 21px;
                .alert-title{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 30px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: #353647;
                    text-align: left;
                    margin: 0;
                }
            }
            .alert-message:empty{display: none;}
            .alert-radio-group{
                padding: 12px 0;
                .alert-tappable.alert-radio.alert-radio-button{
                    .alert-radio-icon{
                        border-color:#353647;
                        display: none;
                    }
                    .alert-radio-label{
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: normal;
                        color: #353647;
                        padding-left: 22px;
                        padding-right: 40px;
                    }
                    &[aria-checked=true]{
                        .alert-radio-icon{
                            border-color: #374793;
                            .alert-radio-inner{
                                background-color: #374793;
                            }
                        }
                        .alert-radio-label{
                            // color: #374793;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.727 7.306'%3E%3Cg id='Group_15' data-name='Group 15' transform='translate(1.363 1.363)'%3E%3Cpath id='Stroke_11' data-name='Stroke 11' d='M7,0,4.667,2.489,2.333,4.978,0,2.489' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.929'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-size: auto 8px;
                            background-position: center right 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .alert-button-group{
                background: #f9f0e0;
                border-top: solid 3px #282333;
                padding: 0;
                button.alert-button.alert-button-default{
                    padding: 5px 10px;
                    background-color: #f9f0e0;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 44px;
                    letter-spacing: 2px;
                    color: #282333;
                    flex: 1 1 auto;
                    justify-content: center;
                    margin: 0;
                    text-transform: uppercase;
                    span.button-inner{
                        justify-content: center;
                    }
                    &:nth-of-type(1n+2){
                        border-left: solid 3px #282333;
                    }
                }
            }
        }
    }
}
ion-alert.address-popup{
        .alert-wrapper{
            background: #fffaf0;
            border: 4px solid #282333;
            max-width: 313px;
            border-radius: 0;
            max-width: 80%;
            .alert-head{
                background: #f9f0e0;
                border-bottom: solid 0px #282333;
                padding: 28px 32px 21px;
                .alert-title{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 24px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: #353647;
                    text-align: center;
                    margin: 0;
                }
                .alert-sub-title{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 24px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: #353647;
                    text-align: center;
                    margin: 20px 0 0;
                }
            }
            .alert-message:empty{display: none;}
            .alert-button-group{
                background: #f9f0e0;
                border-top: solid 3px #282333;
                padding: 0;
                button.alert-button.alert-button-default{
                    padding: 5px 10px;
                    background-color: #f9f0e0;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 44px;
                    letter-spacing: 2px;
                    color: #282333;
                    flex: 1 1 auto;
                    justify-content: center;
                    margin: 0;
                    text-transform: uppercase;
                    span.button-inner{
                        justify-content: center;
                    }
                    &:nth-of-type(1n+2){
                        border-left: solid 3px #282333;
                    }
                }
            }
        }
}
ion-alert.confirm-register-modal{
        .alert-wrapper{
            background: #fffaf0;
            border: 4px solid #282333;
            max-width: 313px;
            border-radius: 0;
            max-width: 80%;
            .alert-head{
                background: #f9f0e0;
                border-bottom: solid 0px #282333;
                padding: 28px 22px 21px;
                .alert-title{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 30px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: #353647;
                    text-align: left;
                    margin: 0;
                }
                .alert-sub-title{
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 30px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: #353647;
                    text-align: left;
                    margin: 20px 0 0;
                }
            }
            .alert-message:empty{display: none;}
            .alert-button-group{
                background: #f9f0e0;
                border-top: solid 3px #282333;
                padding: 0;
                button.alert-button.alert-button-default{
                    padding: 5px 10px;
                    background-color: #f9f0e0;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 44px;
                    letter-spacing: 2px;
                    color: #282333;
                    flex: 1 1 auto;
                    justify-content: center;
                    margin: 0;
                    text-transform: uppercase;
                    span.button-inner{
                        justify-content: center;
                    }
                    &:nth-of-type(1n+2){
                        border-left: solid 3px #282333;
                    }
                }
            }
        }
}


ion-picker-cmp.custom-date-picker{
    .picker-wrapper{
        border-color: #282333;
        border-style: solid;
        border-width: 4px 4px 0;
        background-color: #fffaf0;
        .picker-toolbar{
            display: flex;
            height: auto;
            border-bottom: solid 3px #282333;
            contain: initial;
            .picker-toolbar-button{
                border: 0 none;
                flex: 1 1 auto;
                button.picker-button{
                    background-color: #f9f0e0;
                    border: 0 none;
                    width: 100%;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 2px;
                    color: #282333;
                    height: 54px;
                }
                &:nth-of-type(1n+2){
                    border-left: solid 3px #282333;
                }
            }
        }
        .picker-columns{
            button.picker-opt{
                font-family: 'Yanone Kaffeesatz';
                font-size: 24px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #282333;
            }
        }   
    }
}
ion-popover.new-message-secondary-menu .popover-wrapper .popover-content {
    width: 152px;
    width: auto;
}
