<!--
  Generated template for the TestBPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Header</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-slides>
		<ion-slide>
		  <div class="slide-box">
		  	<div class="slide-img">
		  		<ion-img src="../../assets/img/email-verified-img.png"></ion-img>
		  	</div>
		  	<div class="slide-cnt">
		  		<h1>Lorem Ipsum</h1>
		  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		  	</div>
		  </div>
		</ion-slide>
		<ion-slide>
		  <div class="slide-box">2</div>
		</ion-slide>
		<ion-slide>
		  <div class="slide-box">3</div>
		</ion-slide>
	</ion-slides>
	<div class="ion-contact-form">
		<ion-list>
			<ion-item>
		  		<ion-label>select date</ion-label>
			  	<ion-datetime value="2021-10-01T15:43:40.394Z" display-timezone="utc" placeholder="Select Date"></ion-datetime>
			  	<!-- <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime> -->
			</ion-item>
			<ion-item>
				<ion-label position="floating">Floating Label</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item>
			  	<ion-label position="floating">Description</ion-label>
			  	<ion-textarea></ion-textarea>
			</ion-item>
			<ion-item>
		  		<ion-label>select</ion-label>
			  	<ion-checkbox color="dark"></ion-checkbox>
			</ion-item>
		    <ion-item>
				<ion-label>other 1</ion-label>
				<ion-radio value="other 1"></ion-radio>
		    </ion-item>
		    <ion-item>
				<ion-label>other 2</ion-label>
				<ion-radio value="other 2"></ion-radio>
		    </ion-item>
			<ion-item>
		    	<ion-label>other 3</ion-label>
		    	<ion-radio slot="start" value="other 3"></ion-radio>
		    </ion-item>

			<ion-item>
			    <ion-range color="active" pin="true"></ion-range>
			</ion-item>

			<button class="submit">Submit</button>

			<!-- <ion-item></ion-item> -->
		</ion-list>
	</div>
</ion-content>

<ion-footer></ion-footer>