page-test-b {
	.slide-img ion-img {
	    min-width: 100px;
	    min-height: 100px;
	}
}
.ion-contact-form{
	ion-list {
		background-color: #fff;
    	padding: 20px 0px;
    	margin: 0 0 20px;
	}
}
.ion-contact-form{
	ion-list {
		button.submit {
			display: inline-block;
			width: 80px;
		    height: 35px;
		    line-height: 35px;
		    border-radius: 6px;
			background-color: lighten(#666, 0.9);
			color: #fff;
			margin-top: 20px;
			margin-left: 16px;
    		font-size: 16px;
		}
	}
}