<!--
  Generated template for the LeadersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
	<ion-navbar hideBackButton>
      <div class="btnsWrap">
		<div class="btn btn-goBackBtn"><svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" viewBox="0 0 11.121 19.414"><path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none" stroke="#493b70" stroke-miterlimit="10" stroke-width="2"/></svg></div>
      <div class="locationSearch">
        <form class="searL"><ion-item><ion-input slot="start" name="search" placeholder="32 Peachtree St."></ion-input></ion-item></form>
      </div>

<div class="btn btn-msg">
        <div class="msgCountWrap">
          <span>2</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="21.484" height="21.921" viewBox="0 0 21.484 21.921"><g id="Combined_Shape" data-name="Combined Shape" transform="translate(112.778 6118)"><path id="Combined_Shape-2" data-name="Combined Shape" d="M17.424,21.921l-3.2-.974-.2.073a10.3,10.3,0,0,1-2.8.511l-.482.01a10.771,10.771,0,1,1,10.742-10.77,10.488,10.488,0,0,1-.736,3.907,10.106,10.106,0,0,1-1.6,2.751l.562,2.337-.14.531a2.413,2.413,0,0,1-2.119,1.624ZM14.537,18.86l3.034.923-.5-2.125a1.349,1.349,0,0,1,.152-1.125l.1-.165a8.524,8.524,0,0,0,2.074-5.6,8.654,8.654,0,1,0-8.654,8.683,8.243,8.243,0,0,0,2.977-.542l-.108.038a1.033,1.033,0,0,1,.423-.13l.2-.005ZM7.478,13.8a.9.9,0,1,1,0-1.8h4.2a.9.9,0,0,1,0,1.8Zm0-4a.9.9,0,1,1,0-1.8h6.6a.9.9,0,0,1,0,1.8Z" transform="translate(-112.778 -6118)" fill="#493b70"/><path id="Combined_Shape-3" data-name="Combined Shape" d="M17.424,21.921l-3.2-.974-.2.073a10.3,10.3,0,0,1-2.8.511l-.482.01a10.771,10.771,0,1,1,10.742-10.77,10.488,10.488,0,0,1-.736,3.907,10.106,10.106,0,0,1-1.6,2.751l.562,2.337-.14.531a2.413,2.413,0,0,1-2.119,1.624ZM14.537,18.86l3.034.923-.5-2.125a1.349,1.349,0,0,1,.152-1.125l.1-.165a8.524,8.524,0,0,0,2.074-5.6,8.654,8.654,0,1,0-8.654,8.683,8.243,8.243,0,0,0,2.977-.542l-.108.038a1.033,1.033,0,0,1,.423-.13l.2-.005ZM7.478,13.8a.9.9,0,1,1,0-1.8h4.2a.9.9,0,0,1,0,1.8Zm0-4a.9.9,0,1,1,0-1.8h6.6a.9.9,0,0,1,0,1.8Z" transform="translate(-112.778 -6118)" fill="none"/></g></svg>
        </div>
      </div>
      <div class="btn btn-search" (click)="showSearchBarSection()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22"><path fill="#493B70" fill-rule="nonzero" d="M10.554 0c5.828 0 10.554 4.725 10.554 10.554 0 2.51-.876 4.814-2.339 6.625l3.08 2.682a1.227 1.227 0 0 1-1.538 1.908l-.104-.084-3.186-2.775-.01-.008a10.508 10.508 0 0 1-6.457 2.206C4.725 21.108 0 16.382 0 10.554 0 4.725 4.725 0 10.554 0zm0 1.963a8.59 8.59 0 1 0 0 17.181 8.59 8.59 0 0 0 0-17.18zm-.107 3.704a.982.982 0 0 1-.712 1.192c-.818.206-1.454.526-1.924.954-.437.398-.77 1.027-.982 1.91a.982.982 0 0 1-1.91-.456c.298-1.242.815-2.219 1.57-2.906.724-.659 1.65-1.125 2.766-1.406a.982.982 0 0 1 1.192.712z"/></svg></div>


    </div>
	</ion-navbar>
</ion-header>
 <ion-content no-padding class="leaders_contentWrap">
  <div class="searchBarSection" [ngClass]="{'animated':searchBarSection}">
    <form class="searForm">
      <ion-item>
        <ion-input slot="start" placeholder="Search by Name or Keyword…"></ion-input>
        <ion-label position="fixed" slot="end">
          <button ion-button class="btn btn-search">
            <img class="inactive" src="./assets/img/search_inactive.svg" width="40" height="40" alt="" />
            <img class="active" src="./assets/img/search_active.svg" width="40" height="40" alt="" />
          </button>
        </ion-label>
        </ion-item>
    </form>
    <!-- <div *ngIf="searchBarSection" (click)="showSearchBarSection()" class="overlaySearch"></div> -->
    <div (click)="showSearchBarSection()" class="overlaySearch"></div>
  </div>
  <ion-list class="leaders_content"  [ngClass]="{'animationOut':showLeaders, 'animationIn':!showLeaders}">
    <ion-item>
      <ion-label>
      	<span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5>Atlanta, Georgia </h5>
        <h6 (click)="viewAll('city')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
	    </div>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="cityCheckbox" (ionChange)="changeCheckbox($event,'city')" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
      	<span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5>Atlanta, Georgia </h5>
        <h6 (click)="viewAll('state')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
	    </div>
      </ion-label>
      <ion-checkbox slot="end"  [(ngModel)]="stateCheckbox"  (ionChange)="changeCheckbox($event,'state')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
      	<span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5>Atlanta, Georgia </h5>
        <h6  (click)="viewAll('county')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
	    </div>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="countyCheckbox"  (ionChange)="changeCheckbox($event,'county')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
      	<span class="checkIcon"><svg xmlns="http://www.w3.org/2000/svg" width="12.806" height="10.157" viewBox="0 0 12.806 10.157"><path id="Shape" d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#529984"/></svg></span>
        <div class="">
        <h5>Atlanta, Georgia </h5>
        <h6  (click)="viewAll('country')">View all<svg xmlns="http://www.w3.org/2000/svg" width="3.351" height="6.843" viewBox="0 0 3.351 6.843"><path id="Path_2" data-name="Path 2" d="M0,0,2,2.633,0,5.267" transform="translate(0.788 0.788)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.125"/></svg></h6>
	    </div>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="countryCheckbox"  (ionChange)="changeCheckbox($event,'country')"></ion-checkbox>
    </ion-item>
  </ion-list>


  <ion-list class="leadersResultList_content"  [ngClass]="{'show':showLeaders, 'hide':!showLeaders}">
    <ion-item>
      <ion-label>
        <h5>New Listing </h5>
        <h6>Bhai bhai navu list hae....</h6>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>New Listing </h5>
        <h6>Bhai bhai navu list hae....</h6>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>New Listing </h5>
        <h6>Bhai bhai navu list hae....</h6>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>New Listing </h5>
        <h6>Bhai bhai navu list hae....</h6>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>New Listing </h5>
        <h6>Bhai bhai navu list hae....</h6>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
</ion-list>



</ion-content>
<ion-footer [ngClass]="{'animationIn':totalLeaderSelected > 0,'animationOut':totalLeaderSelected==0}">
  	<ion-toolbar>
  			<div class="btnArea">
			<button ion-button class="btn btn-secondary btn-half" flex="50">VIEW (34) SELECTED</button>
			<button ion-button class="btn btn-warning btn-half" flex="50">ADD SELECTED</button>
		</div>
	</ion-toolbar>
</ion-footer>