  <div class="contactInformation">
    <h2>CONTACT<br>{{leaderDetail.first_name}} {{leaderDetail.middle_name}} {{leaderDetail.last_name}}</h2>
    <ul>
      <li  *ngIf="leaderDetail.phone!=''" (click)="callToNumber(leaderDetail.phone)">
        <p>
          <b>PRIMARY PHONE NUMBER</b><br>
          <span >{{leaderDetail.phone}}</span>
        </p>
      </li>
      <li *ngIf="leaderDetail.alt_phone!=''" (click)="callToNumber(leaderDetail.alt_phone)">
        <p>
          <b>SECONDARY PHONE NUMBER</b><br>
          <span >{{leaderDetail.alt_phone}}</span>
        </p>
      </li>
      <li *ngIf="leaderDetail.email!=''" (click)="sendEmail(leaderDetail.email)">
        <p>
          <b>PRIMARY EMAIL ADDRESS</b><br>
          <span>{{leaderDetail.email}}</span>
        </p>
      </li>
      <li  *ngIf="leaderDetail.facebook!=''" (click)="facebook(leaderDetail.facebook)">
        <p>
          <b>FACEBOOK</b><br>
          <span >{{leaderDetail.facebook}}</span>
        </p>
      </li>
      <li  *ngIf="leaderDetail.twitter!=''" (click)="twitter(leaderDetail.twitter)">
        <p>
          <b>TWITTER</b><br>
          <span >{{leaderDetail.twitter}}</span>
        </p>
      </li>
      <li  *ngIf="leaderDetail.instagram!='' && leaderDetail.instagram!=null" (click)="instagram(leaderDetail.instagram)">
        <p>
          <b>INSTAGRAM</b><br>
          <span >{{leaderDetail.instagram}}</span>
        </p>
      </li>
      <li  *ngIf="leaderDetail.website!='' && leaderDetail.website!='none'" (click)="website(leaderDetail.website)">
        <p>
          <b>WEBSITE</b><br>
          <span >{{leaderDetail.website}}</span>
        </p>
      </li>
    </ul>
    <ion-footer>
      <div class="btnArea">
        <button ion-button class="btn btn-warning" (click)="closeModel()">Close</button>
      </div>
    </ion-footer>
  </div>