page-leader-popup {
    &.ion-page.show-page{
        background: rgba(71, 69, 91, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ion-footer.footer {
        border: 0 none;
        background: transparent;
        text-align: center;
        margin: 0;
        padding: 0;
        position: static;
        &:before {
            border: 0 none;
            background: transparent;
        }

        .btnArea {
            max-width: none;
            width: auto;
            margin-left: -6px;
            margin-right: -6px;
            display: flex;
            justify-content: space-between;

            button.btn {
                height: 66px;
                line-height: 66px;
                padding-left: 1.5em;
                padding-right: 1.5em;
                width: auto;
                margin: auto 6px;
                display: block;
                flex: 1 0 auto;
                text-transform: uppercase;
                font-family: 'Fjalla One';
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0.34px;
                border: solid 2px #181818;
                background-color: #181818;
                color: #ffffff;
                border-radius: 0px;
                span {
                    display: inline-block;
                }
            }
        }

    }
    .contactInformation {
        background: #f9f0e0;
        border: 0px none #f9f0e0;
        width: 82%;
        h2{
            margin: 50px 30px 40px;
            padding: 0;
            text-transform: uppercase;
            font-family: 'Fjalla One';
            font-size: 25px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #181818;
        }
        ul {
            margin: 0 0 30px;
            padding: 0;
            list-style: none;
            li{
                margin: 0;
                padding: 18px 50px 18px 30px;
                list-style: none;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='332.501' height='1.251' viewBox='0 0 332.501 1.251'%3E%3Cpath id='Line_2' data-name='Line 2' d='M0,.75,331.5.5' transform='translate(0.5 0)' fill='none' stroke='%23181818' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' stroke-dasharray='1 5'/%3E%3C/svg%3E%0A");
                background-repeat: repeat-x;
                background-position: top left;
                position: relative;
                &:after{
                    content:"";
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.576' height='18.028' viewBox='0 0 9.576 18.028'%3E%3Cpath id='Path_9' data-name='Path 9' d='M-8,0,0,8.5-8,17' transform='translate(8.546 0.514)' fill='none' stroke='%23828282' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/svg%3E%0A");
                    width: 10px;
                    height: 20px;
                    display: block;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    right: 30px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                p{
                    font-family: 'Gibson';
                    font-size: 11px;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.83px;
                    color: #181818;
                    span{
                        letter-spacing: 0;
                        font-size: 16px;
                        color: #3c3c3c;
                    }
                }
            }
        }
    }
}
