page-msglist {
    .accordian_list {
        background: #f4eee2;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        .accordian_listIteam {
            flex: 0 0 auto;
            @include clearfix();
            &.iteamHeader {
                flex: 0 0 auto;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 119px 0 0px;
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0px;
				margin-right: 0px;
				background-color: #f4eee2;
                .newHeaderBox {
                    padding: 0;
                    flex: 1 1 auto;
                    .headerBox {
                        padding: 0 30px 0px;
						.goBackBtn {
							position: absolute;
							top: 63px;
							left: 30px;
						}
			
						.closeBtn {
							position: absolute;
							top: 63px;
							right: 30px;
						}
                        .logotitle {
                            font-family: 'Gibson';
                            font-size: 11px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 18px;
                            letter-spacing: 5px;
                            color: #282333;
                            text-transform: uppercase;
                        }

                        .getEngaged {
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 55px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #282333;
                            margin-bottom: 10px;
                            margin-top: 10px;
                            text-transform: uppercase;
                            position: relative;
                            padding-right: 40px;
                            white-space: normal;
                            .dropDownBtn {
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.2' height='4.8' viewBox='0 0 23.2 4.8'%3E%3Cg id='Group_19' transform='translate(23.2) rotate(90)'%3E%3Ccircle id='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 0)' fill='%23282333'/%3E%3Ccircle id='Oval-2' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 8.8)' fill='%23282333'/%3E%3Ccircle id='Oval-3' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 18.4)' fill='%23282333'/%3E%3C/g%3E%3C/svg%3E%0A");
                                background-color: #f4eee2;
                                background-size: auto;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 36px;
                                height: 36px;
                                position: absolute;
                                top: 0;
                                right: 6px;
                                left: auto;
                                bottom: auto;
                                display: block;
                            }
                        }
						button.button.button-default.button-small{
							border-radius: 4px;
                            border: solid 2px #4a4080;
                            background-color: #4a4080;
                            color: #ffffff;
                            font-family: 'Yanone Kaffeesatz';
                            font-weight: 600;
						}
                    }
                }
            }
		}
		.main-content {
            background: #f4eee2;
            padding: 16px 30px 36px;
            .msgs {
                padding: 0;
                padding: 0 0 0px;

                .msg {
                    padding: 50px 0px 35px 36px ;
                    transition: transform 0.3s linear;
                    height: auto;
                    margin: 0 auto;
                    align-self: stretch;
                    background-color: #FFFBF5;
                    border-radius: 10px;
                    border: 3px solid #282333;
                    position: relative;

                    &:nth-of-type(1n+2) {
                        margin-top: 30px;
                    }

                    .slide-zoom {
                        align-self: flex-start;
                    }

                    .educationBox {
                        margin-top: 0;
                        padding: 0 ;
                        text-align: left;
                        .closeBtn {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.928' height='10.828' viewBox='0 0 10.928 10.828'%3E%3Cg id='close' transform='translate(0.964 0.914)'%3E%3Cg id='Group_4' data-name='Group 4' transform='translate(0.45 0.5)'%3E%3Cpath id='Line_18' data-name='Line 18' d='M.9,1,9,9' transform='translate(-0.9 -1)' fill='none' stroke='%23343448' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Line_18-2' data-name='Line 18' d='M-9,1l-8.1,8' transform='translate(17.1 -1)' fill='none' stroke='%23343448' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            top: 29px;
                            right: 27px;
                            left: auto;
                            bottom: auto;
                        }

                        h2 {
                            letter-spacing: 0px;
                            font-family: 'Fjalla One';
                            font-weight: normal;
                            font-size: 22px;
                            line-height: 26px;
                            color: #282333;
                            margin: 0;
                            position: relative;
                            padding: 0 42px 0 0;
                            .dropDownBtn {
                                background-image: url("data:image/svg+xml,%3Csvg id='Group_19' data-name='Group 19' xmlns='http://www.w3.org/2000/svg' width='4.8' height='23.2' viewBox='0 0 4.8 23.2'%3E%3Ccircle id='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 0)' fill='%23282333'/%3E%3Ccircle id='Oval-2' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 8.8)' fill='%23282333'/%3E%3Ccircle id='Oval-3' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 18.4)' fill='%23282333'/%3E%3C/svg%3E%0A");
                                background-color: #FFFBF5;
                                background-size: auto;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 36px;
                                height: 36px;
                                position: absolute;
                                top: 0;
                                right: 6px;
                                left: auto;
                                bottom: auto;
                                display: block;
                            }
                        }

                        h3 {
                            margin-bottom: -15px;
                            font-family: 'Gibson';
                            font-size: 10px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 12px;
                            letter-spacing: 0;
                            color: #282333;
                            margin: 6px 0 8px;
                            padding-right: 36px;
                            b {
                                font-weight: 500;
                            }
                        }

                        p {
                            margin: 0;
                            font-family: 'Gibson';
                            font-size: 15px;
                            font-weight: 300;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 22px;
                            letter-spacing: -0.55px;
                            color: #282333;
                            padding-right: 36px;
                            .readmore {
                                font-weight: 500;
                                color: #282333;
                                font-size: 10px;
                                letter-spacing: 0.33px;
                                border-bottom: solid 3px #282333;
                                display: inline-block;
                            }
                        }

                        .badgeList {
                            list-style: none;
                            margin: 0px -3px 10px;
                            padding: 0 36px 0 0;
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                margin: 3px;
                                padding: 0;

                                .blank-badge {
                                    display: block;
                                    font-family: 'Fjalla One';
                                    font-size: 13px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 28px;
                                    letter-spacing: 0.61px;
                                    padding: 0 10px;
                                    color: #fff;
                                    border-radius: 4px;
                                    margin: 0;
                                    height: 30px;
                                }

                                .badge {
                                    display: block;
                                    font-family: 'Fjalla One';
                                    font-size: 13px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 28px;
                                    letter-spacing: 0.61px;
                                    padding: 0 10px;
                                    background-color: #24232d;
                                    color: #fff;
                                    border-radius: 4px;
                                    margin: 0;

                                    &.bg-members {
                                        background-color: #282333;
                                    }

                                    &.bg-new {
                                        background-color: #9bd29f;
                                        color: #282333;
                                    }

                                    &.bulletin{color: #282333;background-color: #d2d2d2;}
                                    &.civic-job{color: #282333;background-color: #a8ccc2;}
                                    &.donate{color: #282333;background-color: #f4bc88;}
                                    &.education{color: #282333;background-color: #d7c896;}
                                    &.events{color: #282333;background-color: #afe0e1;}
                                    &.invite{color: #282333;background-color: #fde0ae;}
                                    &.lobby{color: #282333;background-color: #e1d0af;}
                                    &.rewards{color: #282333;background-color: #e9839b;}
                                    &.volunteer{color: #282333;background-color: #c4d1b3;}
                                    &.vote{color: #282333;background-color: #d5afe1;}
                                }
                            }
                        }

                        .viewMessage {
                            font-family: 'Gibson';
                            font-size: 10px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.33px;
                            color: #282333;
                            border-bottom: solid 2px #282333;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}