<ion-content parallax-header no-padding (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()" scroll-events="true">

<div class="accordian_list">
  <div class="accordian_listIteam iteamHeader header-image">
    <div class="newHeaderBox">
      <div class="headerBox">
        <div class="headToolbar">
          <span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#282333"/></svg></span>
          <span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
        </div>
        <div class="logotitle" *ngIf="eventMessages==false">CIVIC ENGAGEMENT</div>
        <div class="getEngaged" >{{(eventMessages==false)?messageSelectedTypeText:'EVENT MESSAGES' | uppercase}} <span class="dropDownBtn" (click)="openMenuPopupForDeleteAll($event)" *ngIf="eventMessages==false"></span></div>
        <!-- <button ion-button type="button" small (click)="confirmDeleteAllMessagepopup()">DELETE ALL</button> -->
      </div>
    </div>
  </div>
  <div class="main-content">
    <ion-refresher (ionRefresh)="onRefresh($event)" class="text-center" [enabled]="cache && !refreshSubscription">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="msgs" *ngIf="placeholderProvider.placeholder$ | async as placeholder; else loading">
        <p *ngIf="refreshSubscription" class="text-center">
          <ion-spinner name="bubbles"></ion-spinner>
        </p>
        <div class="msg" *ngFor="let mail of messageList; let i = index">
          <div class="educationBox">
            <div class="msgbox-header">
              <!-- <ion-icon class="trashBtn" name="trash" (click)="confirmDeleteMessagepopup(mail, i)"></ion-icon> -->
              <!-- <div class="closeBtn" (click)="removeMessageFromList(mail,i)" ></div> -->
              <ul class="badgeList" >
                <li>
                  <div class="badge bg-default">{{ mail.acronym | uppercase}}</div>
                </li>
                <li>
                  <div class="badge {{ mail.class }}">{{ messageSelectedTypeText | uppercase }}</div>
                </li>
                <li *ngIf="mail.status==0">
                  <div class="badge bg-new">New</div>
                </li>
              </ul>
              <h2 >{{ mail.subject }} <span class="dropDownBtn"  (click)="openMenuPopup($event, mail,i)"></span></h2>
              <h3 ><span>{{mail.first_name}},</span><b>{{mail.org_name}}</b></h3>
              <p [innerHTML]="mail.body"></p>
              <div class="viewMessage" (click)='gotoMailDetail(mail.umid,mail.usercomposed,mail.mid,mail)'>VIEW MESSAGE</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
