<ion-menu [content]="content" type="overlay" persistent="true">
  <!-- 
    <ion-header>
      <ion-toolbar>
        
      </ion-toolbar>
    </ion-header>
  -->

  <ion-content>
    <div class="menuClostBtn" menuClose></div>
    <div class="menuContent">
    <div class="powerScore"  (click)="goToCivicProfilePage()" menuClose>{{powerScore}}</div>
    <h2>Welcome<br>{{firstname}}</h2>
    <div>
      <h6 (click)="goToCivicProfilePage()" menuClose>MY CIVIC PROFILE</h6>
    </div>
    <div>
      <h6 (click)="goToHelpPage()" class="needHelp" menuClose>NEED HELP? ASK EMPOWRD!</h6>
    </div>
    <hr>
    <ion-list>
      <ion-item>
        <a  (click)="goToUpcommingRace('2','support')" menuClose><span>CIVIC AGENDA</span></a>
      </ion-item>
      <ion-item>
        <a  (click)="goToUpcommingRace('3','getEngaged')" menuClose><span>CIVIC ENGAGEMENT</span></a>
      </ion-item>     
      <ion-item>
        <a (click)="goToUpcommingRace('4','CURRENT REPS')" menuClose><span>MY REPS</span></a>
      </ion-item>
      <ion-item>
        <a (click)="goToPage('MySocialFollowersPage')" menuClose><span>SHARE WITH FRIENDS</span></a>
      </ion-item>
      <ion-item>
        <a (click)="goToPage('MyCommunityPage')" menuClose><span>MY COMMUNITY</span></a>
      </ion-item>
      <!-- <ion-item>
        <a  (click)="goToPage('SelectedEventsPage')" menuClose><span>EVENT SCHEDULE</span></a>
      </ion-item> -->
     <!--  <ion-item>
        <a (click)="goToUpcommingRace('4','UPCOMING RACES')" menuClose><span>MY RACES</span></a>
      </ion-item> -->
      <!-- <ion-item>
        <a (click)="goToTabPage('6')" menuClose><span>MY INBOX</span></a>
      </ion-item> -->
    </ion-list>
    <hr>
    <ion-list>
      <ion-item>
        <a (click)="goToPrivacyPolicy()" menuClose><span>PRIVACY POLICY</span></a>
      </ion-item>
      <ion-item>
        <a menuClose (click)="goToMyDataPage()" ><span>MY DATA</span></a>
      </ion-item>
      <ion-item>
        <a menuClose (click)="goToMyDataSourcesPage()" ><span>DATA SOURCES</span></a>
      </ion-item>
    </ion-list>
    <!-- <div class="mydata" menuClose (click)="goToMyDataPage()">
      <h6>MY DATA</h6>
      <p>See who has access to your data and make adjustments to your data allowances.</p>
    </div> -->
    <hr>
    <ion-list>
      <ion-item>
        <a menuClose class="" (click)="logout()"><span>LOGOUT</span></a>
      </ion-item>
      <ion-item>
        <a menuClose class="" (click)="confirmCloseAccount()"><span>CLOSE ACCOUNT</span></a>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>