<!--
  Generated template for the AddOrganizationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="showOrganizationHeader">
  <ion-navbar hideBackButton>
    
      <div class="btnsWrap"    >
    <div class="btn " [ngClass]="{'btn-goBackBtn':showbuttons==true}" (click)="goToBack()" ><svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" viewBox="0 0 11.121 19.414"><path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none" stroke="#493b70" stroke-miterlimit="10" stroke-width="2"/></svg></div>
        <div class="btn ml-auto" [ngClass]="{'btn-search':showbuttons==true}" (click)="showSearchBarSection()"><svg xmlns="http://www.w3.org/2000/svg" width="20.778" height="22" viewBox="0 0 20.778 22"><path id="Combined_Shape" data-name="Combined Shape" d="M19.782,22a.974.974,0,0,1-.686-.285l-4.5-4.509-.257.16-.375.223a9.442,9.442,0,1,1,2.389-1.929l-.239.269,4.376,4.387.1.123a.966.966,0,0,1-.122,1.269A.987.987,0,0,1,19.782,22ZM9.375,1.968A7.432,7.432,0,1,0,16.763,9.4,7.43,7.43,0,0,0,9.375,1.968Z" fill="#493b70"/></svg></div>
    
    <div class="btn " [ngClass]="{'btn-closeBtn':showbuttons==true}" (click)="goToBack()"><svg xmlns="http://www.w3.org/2000/svg" width="16"height="22" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#493b70" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#493b70" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></div>
    </div>
  
  </ion-navbar>
</ion-header>

<ion-content no-padding class="leaders_contentWrap" *ngIf="showOrganizationHeader">
  
  <div class="searchBarSection" [ngClass]="{'animated':searchBarSection}">
    <form class="searForm">
      <ion-item>
        <ion-input slot="start" [(ngModel)]="searchValue" name="search" placeholder="Search by Name or Keyword…"></ion-input>
        <ion-label position="fixed" slot="end"  >
          <button ion-button class="btn btn-search" (click)="searchOrganization()" >
            <img src="./assets/img/search_inactive.svg" *ngIf="searchValue==''" width="40" height="40" alt="" />
            <img src="./assets/img/search_active.svg" *ngIf="searchValue!=''" width="40" height="40" alt="" />
          </button>
        </ion-label>
        </ion-item>
    </form>
    <div (click)="showSearchBarSection()" class="overlaySearch"></div>
  </div>
  <div class="orgs_content">
  <ion-list >
   
    <ion-item  *ngFor="let org of Organization; let i = index" [ngClass]="{'isChecked':org.isChecked}">
      <div class="orgs_contentBox">
        <div class="orgs_contentBoxBadges">
            <div class="badge">

            <span class="icon" *ngIf="org.isChecked"><svg height="10.157" viewBox="0 0 12.806 10.157" width="12.806" xmlns="http://www.w3.org/2000/svg"><path d="M3.689,9.689a1.453,1.453,0,0,0,1.075.467,1.516,1.516,0,0,0,1.075-.467l6.525-6.946a1.679,1.679,0,0,0,0-2.272,1.444,1.444,0,0,0-2.135,0l-5.48,5.8-2.171-2a1.444,1.444,0,0,0-2.135,0,1.679,1.679,0,0,0,0,2.272Z" fill="#997900" id="Shape"></path></svg></span>


              <span class="icon"><svg id="Group_15" data-name="Group 15" xmlns="http://www.w3.org/2000/svg" width="16.697" height="17.33" viewBox="0 0 16.697 17.33"><ellipse id="Oval" cx="7.235" cy="7.2" rx="7.235" ry="7.2" transform="translate(1.809 0.9)" fill="#c69a41"/><path id="Fill_26" data-name="Fill 26" d="M8.366,17.33H8.328a7.982,7.982,0,0,1-5.9-2.835A9.55,9.55,0,0,1,0,8.283,8.115,8.115,0,0,1,2.437,2.491,8.44,8.44,0,0,1,8.436,0h.142a8.47,8.47,0,0,1,5.782,2.6,8.168,8.168,0,0,1,2.334,5.945,9.53,9.53,0,0,1-2.5,6.024A7.887,7.887,0,0,1,8.366,17.33Zm-2.077-13-.1.139c-.042.059-.072.1-.1.145a11.086,11.086,0,0,1-3.3,3.374c-.683.42-.735.881-.591,1.637A6.7,6.7,0,0,0,8,15.151c.128.01.259.015.388.015a6.529,6.529,0,0,0,5.924-4.776,6.008,6.008,0,0,0,.28-1.912c-.329.019-.643.028-.932.028a9.439,9.439,0,0,1-3.822-.718A9.086,9.086,0,0,1,6.289,4.333Z" transform="translate(0 0)" fill="#8e6d11"/></svg></span><span class="text"><span *ngIf="org.isChecked">You + </span> 234</span></div>
            <div class="badge"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="12.643" height="15.3" viewBox="0 0 12.643 15.3"><g id="Group_5" data-name="Group 5" transform="translate(1.8 1.8)"><path id="Shape" d="M0,7.035V6.17c0-1,.326-1.576,1.528-1.576H5.06a.825.825,0,0,1,.827.853A.825.825,0,0,1,5.06,6.3h-2.5a.336.336,0,0,0,0,.671h2.5A1.5,1.5,0,0,0,6.538,5.447a1.544,1.544,0,0,0-.355-.988,1.471,1.471,0,0,0,.875-.545,1.46,1.46,0,0,0,1.153.573,1.434,1.434,0,0,0,.831-.266V7.035A4.594,4.594,0,0,1,4.522,11.7,4.6,4.6,0,0,1,0,7.035ZM7.381,3.067V2.046a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.248a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V.855a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.678A.841.841,0,0,1,1.287.823a.841.841,0,0,1,.829.855v1.39a.84.84,0,0,1-.829.855A.84.84,0,0,1,.458,3.067Z" fill="#e2b159" stroke="#8e6d11" stroke-miterlimit="10" stroke-width="3.6"/><g id="noun_Fist_1261452" transform="translate(0 0)"><g id="Group"><path id="Shape-2" data-name="Shape" d="M0,7.035V6.17c0-1,.326-1.576,1.528-1.576H5.06a.825.825,0,0,1,.827.853A.825.825,0,0,1,5.06,6.3h-2.5a.336.336,0,0,0,0,.671h2.5A1.5,1.5,0,0,0,6.538,5.447a1.544,1.544,0,0,0-.355-.988,1.471,1.471,0,0,0,.875-.545,1.46,1.46,0,0,0,1.153.573,1.434,1.434,0,0,0,.831-.266V7.035A4.594,4.594,0,0,1,4.522,11.7,4.6,4.6,0,0,1,0,7.035ZM7.381,3.067V2.046a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.248a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V.855a.83.83,0,1,1,1.659,0V3.067a.83.83,0,1,1-1.659,0Zm-2.308,0V1.678A.841.841,0,0,1,1.287.823a.841.841,0,0,1,.829.855v1.39a.84.84,0,0,1-.829.855A.84.84,0,0,1,.458,3.067Z" fill="#e2b159"/></g></g></g></svg></span><span class="text">05</span></div>
        </div>
      <div class="orgs_titleBox">
        <div class="titleWrap">
        <div class="aVatar" data="icon_1" [attr.data-index]="i">
            <img src="./assets/img/icon-organization-1.svg" width="54" height="54" alt="" />
        </div>
          <div class="title">{{org.name}}</div>
        </div>
        <div class="orgs_descWrap text-wrap">
            <div class="orgs_desc">Focused on helping Nurses get the access to practice fairly nationwide Focused on helping irly …</div>
            <div class="orgActionWrap">
              <span class="orgActionBtn orgAdd" *ngIf="org.isChecked==false" (click)="addOrg(org)"><img src="./assets/img/icon-orgAdd.svg" width="33" height="33" alt="" /></span>
              <span class="orgActionBtn orgRemove" *ngIf="org.isChecked"  (click)="removeOrg(org)"><img src="./assets/img/icon-orgRemove.svg" width="33" height="33" alt="" /></span>
            </div>
        </div>
        <div class="orgs_captions">
          <div class="orgs_caption">Nursing Rights</div>
          <div class="orgs_caption">Marijuana</div>
        </div>
      </div>
      </div>
    </ion-item>
    
  </ion-list>
  </div>


</ion-content>
<ion-footer *ngIf="showOrganizationHeader" [ngClass]="{'animationIn':totalOrgSelected > 0,'animationOut':totalOrgSelected==0}">
    <ion-toolbar>
        <div class="btnArea">
      <button ion-button class="btn btn-secondary btn-half" *ngIf="showall=='0'" flex="50" (click)="showSelected()">VIEW ({{totalOrgSelected}}) SELECTED</button>
      <button ion-button class="btn btn-secondary btn-half" *ngIf="showall=='1'" flex="50" (click)="showAll()">VIEW ALL OPTIONS</button>
      <button ion-button class="btn btn-warning btn-half" flex="50" (click)="addSelected()">ADD SELECTED</button>
    </div>
  </ion-toolbar>
</ion-footer>