page-add-organization {
	ion-header.header{
		ion-navbar.toolbar{
			padding:0;
			overflow: unset;
			transform: none;
			contain: none;
			.toolbar-content{
				.btnsWrap{
					display: flex;
					.btn{
						flex: 0 0 20.85vw;
						width: 20.85vw;
						text-align: center;
						align-self:center;
						height: auto;
						padding:5vh 0 4%;
						&.btn-goBackBtn,
						&.btn-menu{
							margin-left: 0;
							margin-right: auto;
							order: 0;
							border-right: 1px solid #e9e9e9;
						}
						&.ml-auto{
							margin-left: auto;
						}
						&:nth-of-type(1n+2){
						
						}
						&.btn-search1,
						&.btn-closeBtn
						{
							border-left: 1px solid #e9e9e9;
						}
						&.btn-msg{
							.msgCountWrap{
								position:relative;
								margin: auto;
								span{
								    min-width: 21px;
								    height: 21px;
								    border-radius: 2.5px;
								    background: #18b083;
								    font-weight: normal;
								    font-size: 13px;
								    letter-spacing: -0.04em;
								    font-family: 'Museo Slab';
								    color: #493B70;
								    display: block;
								    text-align: center;
								    line-height: 23px;
								    position: absolute;
								    transform: translate(50%, -50%);
								}
							}
						}
						&.btn-search{
							border-left: 1px solid #e9e9e9;
						}
						display: flex;
						svg{
							margin:auto;
							width: 4.3vw;
							height: auto;
						}
					}
				}

			}
		}
	}

	.orgs_content{
		height: 100%;
		overflow: auto;
		ion-list{
		display: flex;
		flex-direction: column;
		margin: 0;
		padding:0;
		background:#f3f3f3;
		ion-item.item.item-block{
			background:#F9F9F9;
			flex: 1 1 auto;
			margin: 0;
			padding:16px;
			border-top:1px solid #dfdfdf;
			.item-inner{
				margin: 0;
				padding:0;
				border:0 none;
				ion-label.label{
					margin: 0;
					padding:0;
					border:0 none;
				}
				.orgs_contentBox{
	 			white-space: normal;
				.orgs_contentBoxBadges{
					display: flex;
					justify-content: flex-end;
					.badge{
						height: 25px;
						border: 3px solid #f3f3f3;
						display: flex;
						align-items:center;
						padding:0 5px;
						border-radius:13px;
						&:nth-of-type(1n+2){margin-left: 12px; }
						.icon {
							margin: auto 10px auto 0;
							svg{
								margin: auto;
							}
						}
						.text{
							font-weight: 500;
							font-size: 14px;
							letter-spacing: 0em;
							line-height: 25px;
							color: #8e6d11;
						}
					}
				}
				.orgs_titleBox{
					 .titleWrap{
					 	display: flex;
					 	.aVatar{
							flex: 0 0 53px;
							width: 53px;
							padding-right:10px;
							align-self:flex-start;
							margin: 0;
					 	}
					 	.title{
					 		flex: 0 0 calc(100% - 53px);
							font-family: 'Yanone Kaffeesatz';
							font-weight: bold;
							font-size: 20px;
							letter-spacing: 0.02em;
							line-height: 20.64px;
							color: #2c2b3e;
							padding:5px 0 0;
							max-width:50%;
							margin: 0 auto 0 0;
					 	}
					 }
					 .orgs_descWrap{
					 	display: flex;
					 	.orgs_desc{
					 		flex: 1 1 auto;
							font-weight: normal;
							font-size: 12px;
							line-height: 18px;
							color: #7d7b97;
					 	}
						.orgActionWrap{
							flex: 1 0 43px;
							width: 43px;
							padding-left: 10px;
							.orgActionBtn{
								font-family: 'Yanone Kaffeesatz';
								font-weight: normal;
								font-size: 30px;
								letter-spacing: 0.15em;
								line-height: 30.36px;
								text-align: center;
								width: 33px;
								min-width: 33px;
								height: 33px;
								border-radius: 16.45px;
								display: block;
								display:flex;
								justify-content: center;
								align-items:center;
								&.orgAdd{
									color: #2c2c3f;
									background: #f7c05d;								
								}
								&.orgRemove{
									color: #fff;
									background: #272736;								
								}

							}
						}
					 }
					 }
				}
				.orgs_captions{
					display: flex;
					margin-top: 10px;
					.orgs_caption{
						border-radius: 3px;
						padding:5px 10px;
						background: #272736;
						font-family: 'Gibson';
						font-weight: 500;
						font-size: 11.20px;
						letter-spacing: 0.04em;
						text-align: left;
						color: #fff;
						&:nth-of-type(1n+2){margin-left: 12px; }
					}
				}
			}
			&.isChecked{
				background:#f3c470;
				.item-inner .orgs_contentBox {
					.orgs_contentBoxBadges .badge{
					border-color:#fff;
					background:#fff;
					.text{color:#997900;}
					}
					.orgs_titleBox {
						.titleWrap .title{
							color:#323148;
						}
						.orgs_descWrap .orgs_desc{
							color:#323148;
						}
					}
				}
			}
		}
	}
	}


	ion-footer.footer {
	    height: 0;
	    overflow: hidden;
	    transition: all 0.3s linear;
	    &.animationIn {
		    height: 86px;
		}
		.btnArea{
			max-width: none;
			width: auto;
		    margin-left: 5%;
		    margin-right: 5%;
		    display: flex;
		    justify-content:center;
			button.btn{
			    font-family: Yanone Kaffeesatz;
			    font-weight: bold;
			    font-size: 17px;
			    text-align: center;
			    letter-spacing: 2px;
			    border-radius: 24px;
			    height: 48px;
			    line-height: 48px;
			    padding-left: 1em;
			    padding-right: 1em;
			    background: #e2b159;
			    color: #24242d;
			    display: block;
			    width: 100%;
			    margin:15px 5px;
				span{display:inline-block;}
				&.btn-half{
					flex: 1 0 auto;
				    // max-width: calc(50% - 10px);
				    width: auto;
				}
				&.btn-warning{
					background: #529984;
					border: 2px solid #fff;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
					color: #fff;
				}
				&.btn-secondary{
					background: #efefef;
					border: 2px solid #fff;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
					color: #2d2d3c;
					&:disabled{
						opacity: 0.7;
					}
				}
			}
		}
	}
	ion-footer.footer.animationOut{
		ion-toolbar.toolbar{
			.toolbar-background{
				background: #f8f8f8;
				border-top: 1px solid #fff;			
			}
		}
	}
}