<!--
  Generated template for the PrivacyPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding class="registrationProcess ">
	<div class="registrationProcess-top">
		<div class="headTitles">
			
				<div class="headToolbar">
					<span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#322e51" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#322e51" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></span>
				</div> 
			
			<h2>PRIVACY POLICY</h2>
			<div class="privacypolicy1">
				<p>Last updated November 20, 2020</p>
				<p>Thank you for choosing to be part of our community at Empowrd Apps LLC., doing business as Empowrd (Empowrd, we, us, or our). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at <a href="mailto:questions@empowrd.com">questions@empowrd.com</a>.</p>
				<p>When you visit our website <a href="http://empowrd.com" target="_blank">http://empowrd.com</a>, mobile application, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites or Apps and our services.</p>
				<p>This privacy policy applies to all information collected through our website (such as <a href="http://empowrd.com" target="_blank">http://empowrd.com</a>), mobile application, ("Apps"), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Sites")</p>
				<p>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.</p>
				<h5>PRIVACY POLICY</h5>
				<div id="bookmark1" class="bookmarkdiv"></div>
				<h6 >1. Personal information you disclose to us</h6>
				<p>In Short, we collect personal information that you provide to us such as name, address, contact information, security data, social media login data, civic profile data (personal details, causes, partners).</p>

				<p>We collect personal information that you voluntarily provide to us when registering at the Sites or Apps, expressing an interest in obtaining information about us or our products and services, when participating in activities on the Sites or Apps (such as posting messages in our online forums or entering competitions, contests or giveaways) or otherwise contacting us.</p>

				<p>The personal information that we collect depends on the context of your interactions with us and the Sites or Apps, the choices you make and the products and features you use. The personal information we collect can include the following:</p>

				<p>Name and Contact Data. We collect your first and last name, email address, postal address, phone number, and other similar contact data.</p>

				<p>Credentials. Phone numbers are used to authenticate and provide users protected access to our app.</p>

				<p>Social Media Login Data. We provide you with the option to register using social media account details, like your Facebook, Twitter, Apple ID, or other social media account. If you choose to register in this way, we will collect the Information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS " below.</p>

				<p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>

				<p>Information collected through our Apps
				In Short We may collect information regarding your geolocation, mobile device, push notifications, when you use our apps.</p>

				<p>If you use our Apps, we may also collect the following information: <br/>GeoLocation. Information. We may request access or permission to and track location based information from your mobile device, either continuously or while you are using our mobile application, to provide location based services.</p>

				<p>Mobile Device Access. We may request access or permission to certain features from your mobile device, including your mobile device social media accounts, and other features. If you wish to change our access or permissions, you may do so in your device settings.</p>

				<p>Mobile Device Data. We may automatically collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and IP address. Push Notifications. We may request to send you push notifications regarding your account or the mobile application.</p>

				<p>If you wish to optout from receiving these types of communications, you may turn them off via the MY DATA section
				</p>


				<div id="bookmark2" class="bookmarkdiv"></div>
				<h5>2. HOW DO WE USE YOUR INFORMATION?</h5>
				<p>In short, We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</p>

				<p>We use personal information collected via our Sites or Apps for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.</p>

				<p>We use the information we collect or receive: <br/>To facilitate account creation and logon process. If you choose to link your account with us to a third party account *(such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process. See the section below headed " HOW DO WE HANDLE YOUR SOCIAL LOGINS " for further information. To send administrative information to you. We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.</p>

				<p>Request Feedback. We may use your information to request feedback and to contact you about your use of our Sites or Apps.</p>

				<p>To protect our Sites. We may use your information as part of our efforts to keep our Sites or Apps safe and secure (for example, for fraud monitoring and prevention).</p>

				<p>To enable user to user communications with our civic partners and public servants We may use your information in order to enable user to user communications with each user’s consent.</p>

				<p>To enforce our terms, conditions and policies. To respond to legal requests and prevent harm. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</p>

				<p>For other Business Purposes. We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Sites or Apps, products, services, marketing and your experience.</p>

				<div id="bookmark3" class="bookmarkdiv"></div>
				<h5>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h5>

				<p>In short, We only share information with your consent, to comply with laws, to protect your rights, or to fulfill business obligations. Personal details are not shared but are used in aggregate to provide general information to Civic Partners and Public Servants you opt-into.</p>
				<p>We may process or share data based on the following legal basis: <br>
					<b>Consent:</b> We may process your data if you have given us specific consent to use your personal information for a specific purpose.</p>

				<p><b>Legitimate Interests:</b> We may process your data when it is reasonably necessary to achieve our legitimate business interests.</p>

				<p><b>Performance of a Contract:</b> Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.</p>

				<p><b>Legal Obligations:</b> We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements). </p>

				<p><b>Vital Interests:</b> We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</p>

				<p>More specifically, we may need to process your data or share your personal information in the following situations:</p>

				<p><b>Business Transfers.</b> We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</p>

				<p>ThirdParty Advertisers. We may use thirdparty advertising companies to serve ads when you visit the Sites or Apps. These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you.</p>

				<p>Business Partners. We may share your information with our business partners / Civic Partners to offer you certain products, services or promotions, but primarily to power opportunities for Civic Engagement and to inspire your participation in those opportunites. These business partners are limited to Organizations you follow in the Empowrd App and Your Elected Officials based on the locations you select in our applications.</p>

				<div id="bookmark4" class="bookmarkdiv"></div>
				<h5>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h5>

				<p>In Short, We may use cookies and other tracking technologies to collect and store your information. We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>

				<div id="bookmark5" class="bookmarkdiv"></div>
				<h5>5. DO WE USE GOOGLE MAPS?</h5>

				<p>In Short, Yes, we use Google Maps for the purpose of providing better service. This website, mobile application, or Facebook application uses Google Maps APIs. You may find the Google Maps APIs Terms of Service <a href="https://cloud.google.com/maps-platform/terms/">here</a>. To better understand Google's Privacy Policy, please refer to this <a href="https://policies.google.com/privacy">link</a>.</p>

				<p>By using our Maps API Implementation, you agree to be bound by Google’s Terms of Service. By using our implementation of the Google Maps APIs, you agree to allow us to gain access to information about you including personally identifiable information (such as usernames) and non personally identifiable information (such as location). We will be collecting the following information:</p>

				<ul>
					<li>We use your address to identify the political jurisdictions you reside in For a full list of what we use information for, please see the previous section titled " <span>HOW DO WE USE YOUR INFORMATION?</span>" and <span>WILL YOUR INFORMATION BE SHARED WITH ANYONE?</span> We use information about location in conjunction with data from other data providers. <br> The Maps APIs that we use store and access cookies and other information on your devices. If you are a user currently in the European Union, please take a look at our EU User Consent Policy.</li>
				</ul>

				<div id="bookmark6" class="bookmarkdiv"></div>
				<h5>6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</h5>

				<p>In Short, If you choose to register or log in to our websites using a social media account, we may have access to certain information about you. Our Sites or Apps offer you the ability to register and login using your third party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, email address, friends list, profile picture as well as other information you choose to make public.</p>

				<p>We will use the information we receive only for the purposes that are described in this privacy policy or that are otherwise made clear to you on the Sites or Apps. Please note that we do not control, and are not responsible for, other uses of your personal information by your third party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.</p>

				<div id="bookmark7" class="bookmarkdiv"></div>
				<h5>7. HOW LONG DO WE KEEP YOUR INFORMATION?</h5>

				<p>In Short, We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.</p>

				<p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than the period of time in which users have an account with us. </p>

				<p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>

				<div id="bookmark8" class="bookmarkdiv"></div>
				<h5>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</h5>

				<p>In Short, We aim to protect your personal information through a system of organizational and technical security measures. We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Sites or Apps is at your own risk. You should only access the services within a secure environment.</p>

				<div id="bookmark9" class="bookmarkdiv"></div>
				<h5>9. DO WE COLLECT INFORMATION FROM MINORS?</h5>

				<p>In Short, We do not knowingly collect data from or market to children under 18 years of age. We do not knowingly solicit data from or market to children under 18 years of age. By using the Sites or Apps, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Sites or Apps. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact us at <a href="mailto:questions@empowrd.com">questions@empowrd.com</a>. </p>

				<div id="bookmark10" class="bookmarkdiv"></div>
				<h5 scroll-to-bookmark="bookmark10">10. WHAT ARE YOUR PRIVACY RIGHTS?</h5>

				<p>In Short, In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time. In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the <span>contact details</span> provided below. We will consider and act upon any request in accordance with applicable data protection laws.</p>

				<p>If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal. </p>

				<p>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: <a href="http://ec.europa.eu/justice/dataprotection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/dataprotection/bodies/authorities/index_en.htm</a></p>


				<h6>Account Information</h6>

				<p>If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
				<ul>
					<li>Log into your Civic Profile and update your Account Settings</li>
					<li>Contact us using the contact information provided.</li>
				</ul>

				<p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</p>

				<p>Opting out of email marketing from Civic Partners: You can unsubscribe from our marketing email list at any time by going into the app and selecting MY DATA clicking on which information you wish to provide organizations access to</p>

				<ul>
					<li>Access your account settings and update preferences.</li>
					<li>Contact us using the contact information provided.</li>
					<li>Note your preferences when you register an account with the site.</li>
				</ul>

				<div id="bookmark11" class="bookmarkdiv"></div>
				<h5>11. CONTROLS FOR DONOTTRACK FEATURES</h5>

				<p>Most web browsers and some mobile operating systems and mobile applications include a DoNotTrack (DNT) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy.</p>

				<div id="bookmark12" class="bookmarkdiv"></div>
				<h5>12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h5>

				<p>In Short, Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information. California Civil Code Section 1798.83, also known as -Shine The Light- law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below. If you are under 18 years of age, reside in California, and have a registered account with the Sites or Apps, you have the right to request removal of unwanted data that you publicly post on the Sites or Apps. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Sites or Apps, but please be aware that the data may not be completely or comprehensively removed from our systems.</p>		
				<div id="bookmark13" class="bookmarkdiv"></div>
				<h5>13. DO WE MAKE UPDATES TO THIS POLICY?</h5>

				<p>In Short, Yes, we will update this policy as necessary to stay compliant with relevant laws. We may update this privacy policy from time to time. The updated version will be indicated by an updated-Revised- date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information. </p>

				<div id="bookmark14" class="bookmarkdiv"></div>
				<h5>14. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h5>

				<p>If you have questions or comments about this policy, you may email us at <a href="mailto:questions@empowrd.com">questions@empowrd.com</a> or by post to:</p>

				<p>
					Empowrd Apps LLC.<br>
					32 Peachtree Street NW<br>
					Suite 707<br>
					Atlanta, GA 30303<br>
					United States
				</p>

			</div>
		</div>
		
			
	</div>
	
</ion-content>