<!--
  Generated template for the NotvalidatedaddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>

		<div class="app-container  stepTwoProfile">
			
			<div class="confirm-voter-ad ValidateAdd">
				<button (click)="hideModal()" class="md-icon-button closeStepThreeProfile">
                    <img src="./assets/img/closebtn1.svg" />
                </button >
				<div class="registerd-confirm">
					<div>
						<div class="registerd-confirm-icon">
							<img src="./assets/img/confirmed/validate_voting/drawable-mdpi/group_24_copy_4.png" srcset="./assets/img/confirmed/validate_voting/drawable-hdpi/group_24_copy_4.png 2x, ./assets/img/confirmed/validate_voting/drawable-xhdpi/group_24_copy_4.png 3x, ./assets/img/confirmed/validate_voting/drawable-xxhdpi/group_24_copy_4.png 4x">
						</div>
					</div>
					<h3>SORRY</h3>
					<h4>We don’t have you as Registered Under that Address.</h4>
				</div>
				<button ion-button (click)="registerAddress('registered')" class="registerd-btn">CONTINUE WITHOUT VALIDATION</button>
				<button ion-button (click)="registerAddress('voter')" class="registerd-btn">SAVE AS MY PRIMARY LOCATION</button>
				<button ion-button (click)="hideModal()" class="not-registerd-btn">SEARCH AGAIN</button>

			</div>  
		</div>        
	
</ion-content>
