<!--
  Generated template for the Search1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title>{{header_data.title}}</ion-title>
		<custom-header [headerData]="header_data"></custom-header>
	</ion-navbar>
</ion-header>

<ion-content padding>
   <div class="app-container rc1prmapnuxturnongps "  [ngClass]="{'eventdashboard': showEventAddress=='true'}" >
      <div class="content-wrapper  ">


          <address-dropdown></address-dropdown>

          <div class="dash-cont">
              <div class="lc-status">
                  <h3>{{yourEngagementStart}}</h3><!--YOUR ENGAGEMENT STARTS AT:-->
                  <h2 *ngIf="showEventAddress=='false'">
                      <div class="lc-ics" *ngIf="titleonHeader">


                              <img *ngIf="titleonHeader=='CURRENT LOCATION'" src="./assets/img/location/gps/drawable-mdpi/group_17.png"
                              srcset="./assets/img/location/gps/drawable-hdpi/group_17.png 2x,
                              ./assets/img/location/gps/drawable-xhdpi/group_17.png 3x, ./assets/img/location/gps/drawable-xxhdpi/group_17.png 4x">


                              <img *ngIf="titleonHeader=='Registered Voting Location' || titleonHeader=='VOTING ADDRESS'" src="./assets/img/confirmed/voting/drawable-mdpi/group_24_copy.png"
                              srcset="./assets/img/confirmed/voting/drawable-hdpi/group_24_copy.png 2x,
                              ./assets/img/confirmed/voting/drawable-xhdpi/group_24_copy.png 3x, ./assets/img/confirmed/voting/drawable-xxhdpi/group_24_copy.png 4x">

                              <img *ngIf="titleonHeader=='Work Location'" src="./assets/img/confirmed/work/drawable-mdpi/group_24_copy_2.png"
                              srcset="./assets/img/confirmed/work/drawable-hdpi/group_24_copy_2.png 2x,
                              ./assets/img/confirmed/work/drawable-xhdpi/group_24_copy_2.png 3x, ./assets/img/confirmed/work/drawable-xxhdpi/group_24_copy_2.png 4x">

                              <img  *ngIf="titleonHeader=='Geo Target Location'" src="./assets/img/confirmed/gps/drawable-mdpi/group_17.png"
                              srcset="./assets/img/confirmed/gps/drawable-hdpi/group_17.png 2x,
                              ./assets/img/confirmed/gps/drawable-xhdpi/group_17.png 3x, ./assets/img/confirmed/gps/drawable-xxhdpi/group_17.png 4x">

                              <img *ngIf="titleonHeader=='PRIMARY RESIDENCE' || titleonHeader=='Primary Residence'" src="./assets/img/confirmed/primary/drawable-mdpi/group_24_copy_3.png"
                              srcset="./assets/img/confirmed/primary/drawable-hdpi/group_24_copy_3.png 2x,
                              ./assets/img/confirmed/primary/drawable-xhdpi/group_24_copy_3.png 3x, ./assets/img/confirmed/primary/drawable-xxhdpi/group_24_copy_3.png 4x">

                              <img *ngIf="titleonHeader=='Validated Voting Address'" src="./assets/img/confirmed/validate_voting/drawable-mdpi/group_24_copy_4.png"
                              srcset="./assets/img/confirmed/validate_voting/drawable-hdpi/group_24_copy_4.png 2x,
                              ./assets/img/confirmed/validate_voting/drawable-xhdpi/group_24_copy_4.png 3x, ./assets/img/confirmed/validate_voting/drawable-xxhdpi/group_24_copy_4.png 4x">

                              <img *ngIf="titleonHeader=='School Location'" src="./assets/img/confirmed/university/drawable-mdpi/group_24_copy_5.png"
                              srcset="./assets/img/confirmed/university/drawable-hdpi/group_24_copy_5.png 2x,
                              ./assets/img/confirmed/university/drawable-xhdpi/group_24_copy_5.png 3x, ./assets/img/confirmed/university/drawable-xxhdpi/group_24_copy_5.png 4x">

                              <img *ngIf="titleonHeader=='Friend Or Family Member'" src="./assets/img/confirmed/friend/drawable-mdpi/group_24_copy_6.png"
                              srcset="./assets/img/confirmed/friend/drawable-hdpi/group_24_copy_6.png 2x,
                              ./assets/img/confirmed/friend/drawable-xhdpi/group_24_copy_6.png 3x, ./assets/img/confirmed/friend/drawable-xxhdpi/group_24_copy_6.png 4x">

                              <img *ngIf="titleonHeader=='Temporary / Out Of Town'" src="./assets/img/confirmed/temporary/drawable-mdpi/group_24_copy_7.png"
                              srcset="./assets/img/confirmed/temporary/drawable-hdpi/group_24_copy_7.png 2x,
                              ./assets/img/confirmed/friend/drawable-xhdpi/group_24_copy_7.png 3x, ./assets/img/confirmed/temporary/drawable-xxhdpi/group_24_copy_7.png 4x">

                              <img *ngIf="titleonHeader=='Volunteer Assignment'" src="./assets/img/confirmed/volunteer/drawable-mdpi/group_24.png"
                              srcset="./assets/img/confirmed/volunteer/drawable-hdpi/group_24.png 2x,
                              ./assets/img/confirmed/volunteer/drawable-xhdpi/group_24.png 3x, ./assets/img/confirmed/volunteer/drawable-xxhdpi/group_24.png 4x">
                              

                              <img  *ngIf="titleonHeader==''" src="./assets/img/confirmed/custom/drawable-mdpi/group_24.png"
                              srcset="./assets/img/confirmed/custom/drawable-hdpi/group_24.png 2x,
                              ./assets/img/confirmed/custom/drawable-xhdpi/group_24.png 3x, ./assets/img/confirmed/custom/drawable-xxhdpi/group_24.png 4x">
                                     
                      </div>
                      
                   <div>{{addresstext}}</div>

                  </h2>
                  <h2 *ngIf="showEventAddress=='true'">
                      <div class="lc-ics" *ngIf="titleonHeader" style="width: 100px;text-align: center;margin-right: -15px;" >
                              <img src="./assets/img/eventIcon_01.png"
                              srcset="./assets/img/eventIcon_01@2x.png 2x,
                              ./assets/img/eventIcon_01@3x.png 3x" style="width: 50px;margin: auto;display: block;float: none;">
                      </div>
                   <div>{{headerAddressTitle}}</div>
                  </h2>
                  <p *ngIf="showEventAddress=='false'">{{textatlast}}</p> 
                  <p *ngIf="showEventAddress=='true'"><b>Select any of the options below to begin.</b><br><br>To view additional EMPOWRD civic engagement features click on the location bar below the header.</p>
              </div>

              <div class="dash-icons" *ngIf="showEventAddress=='false'" >

                  <a class="{{classLessOpacity}} first" (click)="showLeaders()" *ngIf="leaderlist$ | async as leaderlist; else loading">
                      <span>
                          <img src="./assets/img/ele-lea.png"
                              srcset="./assets/img/ele-lea@2x.png 2x,
                              ./assets/img/ele-lea@3x.png 3x, ./assets/img/ele-lea@4x.png 4x">
                          <span *ngIf="leaderlist.data.totalLeader!=0"><b class="msgs-count-elected-leader">{{leaderlist.data.totalLeader}}</b></span>
                      </span><br>
                      MY ELECTED <br>
                      LEADERS
                  </a>

                  
                  <a *ngIf="headerAddressTitle =='Volunteer Assignment' && volunteerDetails == 'Volunteer ASSIGNMENT'" class=" second one" (click)="showCanvasTools()">
                      <span>
                          <img src="./assets/img/icons/canvas_tools/drawable-mdpi/canvas_tools.png" srcset="./assets/img/icons/canvas_tools/drawable-hdpi/canvas_tools.png 2x, ./assets/img/icons/canvas_tools/drawable-xhdpi/canvas_tools.png 3x, ./assets/img/icons/canvas_tools/drawable-xxhdpi/canvas_tools.png 4x">
                      </span><br>
                      CANVAS<br>TOOLS
                  </a>
                  <a  class="second" *ngIf="headerAddressTitle !='Volunteer Assignment' || volunteerDetails != 'Volunteer ASSIGNMENT'" (click)="showLeaderList()">
                      <span>
                          <img src="./assets/img/icons/search/drawable-mdpi/group_10.png"
                              srcset="./assets/img/icons/search/drawable-hdpi/group_10.png 2x,
                              ./assets/img/icons/search/drawable-xhdpi/group_10.png 3x, ./assets/img/icons/search/drawable-xxhdpi/group_10.png 4x">
                      </span><br>
                      LEADER<br>SEARCH
                  </a>
                  <a class="third" (click)="gotoMessageList()">
                      <span>
                              <img src="./assets/img/msg-poll.png"
                              srcset="./assets/img/msg-poll@2x.png 2x,
                              ./assets/img/msg-poll@3x.png 3x, ./assets/img/msg-poll@4x.png 4x">
                          
                          <span *ngIf="countNewMessage!=0"><b class="msgs-count">{{countNewMessage}}</b></span>
                      </span><br>
                      INBOX
                  </a>
                  <a class="fourth" (click)="showNewsEvent()">
                      <span>
                              <img src="./assets/img/lea-follow1.png"
                              srcset="./assets/img/lea-follow1@2x.png 2x,
                              ./assets/img/lea-follow1@3x.png 3x">
                              <span *ngIf="countNewNewsEvent!=0"><b class="msgs-count">{{countNewNewsEvent}}</b></span>
                      </span><br>
                      NEWS & <br>EVENTS
                  </a>
                  <a class="fifth" (click)="showAskEmpowrd()">
                      <span>
                              <img src="./assets/img/searchbyissue.png"
                              srcset="./assets/img/searchbyissue@2x.png 2x,
                              ./assets/img/searchbyissue@3x.png 3x, ./assets/img/searchbyissue@4x.png 4x">

                      </span><br>
                      ASK <br>EMPOWRD
                  </a>
                  <a class="sixth" (click)="goToProfile()">
                      <!-- <div class="profileProgressbar"><span style="width: 36%;"></span></div> -->
                      <span>
                              <img src="./assets/img/profile.png"
                              srcset="./assets/img/profile@2x.png 2x,
                              ./assets/img/profile@3x.png 3x, ./assets/img/profile@4x.png 4x">
                              <i>{{name | uppercase }}</i>
                      </span><br>
                      CIVIC <br>PROFILE
                  </a>
              </div>
              <div class="dash-icons" *ngIf="showEventAddress=='true'" >
                  <a class="first" (click)="gotoMessageList()">
                      <span>
                              <img src="./assets/img/eventschedule.svg" />
                          
                          <!-- <span><b class="msgs-count">03</b></span> -->
                      </span><br>
                      EVENT SCHEDULE
                  </a>
                  <a class="third" (click)="gotoMessageList()">
                      <span>
                              <img src="./assets/img/msg-poll.png"
                              srcset="./assets/img/msg-poll@2x.png 2x,
                              ./assets/img/msg-poll@3x.png 3x, ./assets/img/msg-poll@4x.png 4x">
                          
                          <span *ngIf="countNewMessage!=0"><b class="msgs-count">{{countNewMessage}}</b></span>
                      </span><br>
                      INBOX
                  </a>
                  <a class="fifth" (click)="showAskEmpowrd()">
                      <span>
                              <img src="./assets/img/searchbyissue.png"
                              srcset="./assets/img/searchbyissue@2x.png 2x,
                              ./assets/img/searchbyissue@3x.png 3x, ./assets/img/searchbyissue@4x.png 4x">

                      </span><br>
                      ASSISTANCE
                  </a>
                  <a class="sixth" (click)="goToProfile()">
                      <!-- <div class="profileProgressbar"><span style="width: 36%;"></span></div> -->
                      <span>
                              <img src="./assets/img/profile.png"
                              srcset="./assets/img/profile@2x.png 2x,
                              ./assets/img/profile@3x.png 3x, ./assets/img/profile@4x.png 4x">
                              <i>{{name | uppercase }}</i>
                      </span><br>
                      CIVIC <br>PROFILE
                  </a>
              </div>
          </div>
      </div>
      
  </div>
  <div class="app-background-dashboard"></div>
</ion-content>
