<!--
  Generated template for the RegistereventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding class="registrationProcess" >
	<div class="registrationProcess-top" >
		<div class="headTitles">
			
			<h2 >WE DIDN’T FIND YOUR EMAIL REGISTERED WITH {{eventName | uppercase}}</h2>
			
			<p>PLEASE PROVIDE THE EMAIL YOU USED TO REGISTER FOR {{eventName | uppercase}} EVENT</p>
		</div>
		<div class="cmessageWrap" >
			<div class="yourmobile-number" [ngClass]="{'has-error':emailMessageShow==true, 'has-velid': sendButtonEnabled==true}">
				<ion-list>
					<ion-item  id="phoneNumberWrap1" class="full"><ion-input class="email-input" type="email" [(ngModel)]="userEmail"></ion-input></ion-item>
					
				</ion-list>
			</div>			
			<p class="error" *ngIf="emailMessageShow">THIS EMAIL IS NOT REGISTERED</p>
			<p class="registereventtxt1">OR</p>
			<p class="registereventtxt2">PROVIDE AN EVENT CODE BELOW</p> 
			<div class="yourmobile-number" [ngClass]="{'has-error':codeMessageShow==true, 'has-velid': sendButtonEnabled==true}">
				<ion-list>
					
					<ion-item  id="phoneNumberWrap1" class="full"><ion-input class="yourmobile-number-input" maxlength="10"  #phone1 [(ngModel)]="phoneNumber1"  type="tel"  id="phoneNumber1"  ></ion-input></ion-item>
				</ion-list>
			</div>	
			<p class="error" *ngIf="codeMessageShow">THIS CODE DOES NOT WORK, TRY AGAIN.</p>

		</div>



		<div class="btnArea">
			<button ion-button class="btn btn-primary" [disabled]="userEmail=='' && phoneNumber1==''" flex="50"  (click)="addToProfile()">VERIFY</button>
			<button ion-button type="submit" class="btn btn-primary color-dark"  (click)="goBackButton()" [disabled]="userEmail!='' || phoneNumber1!=''"><span translate>CANCEL</span></button>
			<div class="loaderWrap" *ngIf="showLoader">
			<ion-spinner name="ios" ></ion-spinner>
			</div>
			
		</div>
		 <!-- *ngIf="backEnabled==false" -->
		<!-- <p class="accessaccount">You will use this number to access your account.</p> -->
	</div>

	
</ion-content>
<!-- <ion-content padding>
	
		<div class="registereventtitle">
			
			<h3>WE DIDN’T FIND YOUR EMAIL REGISTERED WITH {{eventName | uppercase}}</h3>
			<p class="registereventtxt2">PLEASE PROVIDE THE EMAIL YOU USED TO REGISTER FOR {{eventName | uppercase}} EVENT</p>
			<ion-input class="email-input" type="email" [(ngModel)]="userEmail"></ion-input>
			<p class="errormessage" *ngIf="emailMessageShow">THIS EMAIL IS NOT REGISTERED</p>
			<p class="registereventtxt1">OR</p>
			<p class="registereventtxt2">PROVIDE AN EVENT CODE BELOW</p> 
			<div class="yourmobile-number ">
			<ion-input class="yourmobile-number-input"  #phone1 [(ngModel)]="phoneNumber1"  type="number" placeholder="0000000000" [attr.maxlength]="10" id="phoneNumber1"></ion-input>
			</div>
			<p class="errormessage" *ngIf="codeMessageShow">THIS CODE DOES NOT WORK, TRY AGAIN.</p>
			
			<div class="btnArea">
				<button ion-button class="skipBtn finishedBtn-half" flex="50" (click)="goBackButton()" >CANCEL</button>
				<button ion-button class="finishedBtn finishedBtn-half" [disabled]="userEmail=='' && phoneNumber1==''" flex="50"  (click)="addToProfile()">SUBMIT</button>
			</div>
		</div>
	
</ion-content>
 -->