page-civic-profile {
	background-color: #F9F0E0;
    ion-footer.footer {
        border: 0 none;
        background: transparent;
        text-align: center;
        margin: 0;
        padding: 0 10% 28px;

        &:before {
            border: 0 none;
            background: transparent;
        }

        .btnArea {
            max-width: none;
            width: auto;
            margin-left: -6px;
            margin-right: -6px;
            display: flex;
            justify-content: space-between;

            button.btn {
                font-family: 'Yanone Kaffeesatz';
                font-size: 15px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: 1.64px;
                border-radius: 24px;
                height: 48px;
                line-height: 48px;
                padding-left: 1.5em;
                padding-right: 1.5em;
                background: #e2b159;
                color: #24242d;
                width: auto;
                margin: auto 6px;
                display: block;
                flex: 1 0 auto;

                span {
                    display: inline-block;
                }

                &.btn-half {
                    max-width: calc(50% - 10px);
                }

                &.btn-warning {
					border: solid 2px #282333;
					background-color: #4a4080;
                    color: #ffffff;
                    border-radius: 4px;
                }
			}
			.btnGroup{
				padding: 0;
				margin: auto 6px;
				display: flex;
				flex: 1 1 auto;
				button.btn{
					margin:0;
					border-color: #282333;
					border-style: solid;
					border-width: 2px;
					&.btn-primary {
						color: #4b3c75;
						background-color: #f0ecfb;
					}
					&.btn-secondary {
						color: #fff;
						background-color: #4a4080;
					}
					&:nth-of-type(1){
						border-width: 2px 0 2px 2px;
						border-radius: 4px 0 0 4px;
						flex: 0 1 auto;
					}
					&:nth-of-type(1n+2){
						border-radius: 0 4px 4px 0;
						flex: 1 0 auto;
					}
				}
			}
        }

        .workWithOrganizations-bottom {
            .cmessage {
                margin: auto auto;
                max-width: 370px;
                width: 78%;

                svg {
                    display: block;
                    margin: auto auto 1em;
                    width: 14.3vw;
                }

                h4 {
                    font-family: 'Gibson';
                    font-size: 4vw;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.19px;
                    text-align: center;
                    color: #ffffff;
                }

                p {
                    font-family: Gibson;
                    font-size: 3.64vw;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.3px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.53);
                }
            }
        }
    } 

    ion-header.header{
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        background-color: #F9F0E0;
        &:after{display: none;}
        ion-navbar.toolbar{
            overflow: unset;
            transform: none !important;
            contain: none !important;
            padding: 100px 42px 0 !important;
            min-height: 0 !important;
            .goBackBtn {
                position: absolute;
                top: 30px;
                top: calc(env(safe-area-inset-top) + 30px);
                left: 30px;
            }
            .closeBtn {
                position: absolute;
                top: 30px;
                top: calc(env(safe-area-inset-top) + 30px);
                right: 30px;
            }
            .headTitles {
                margin: auto auto 0;
                width: auto;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span.goBackBtn{
                    padding: 12px 10px;
                    position: static;
                }
                .headToolbar {
                    zoom: 1;
                    padding: 0 11%;
                    &:before,
                    &:after {
                        content: "";
                        display: table;
                    }
                    &:after {
                        clear: both;
                    }
                }
                h2 {
                    font-family: 'Fjalla One';
                    font-size: 40px;
                    letter-spacing: normal;
                    font-weight: normal;
                    line-height: 29px;
                    color: #353343;
                    text-transform: uppercase;
                    margin:0;
                    padding:0;
                }
            }
        }
        .toolbar-background{
            display: none;
        }
    }

    ion-content.content {
        &.civicProfile {
            .scroll-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 0px !important;
            }
            .civicProfile-top {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                background-color: #F9F0E0;
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0;
                margin-right: 0;
                padding: 10px 42px 15px;
                padding: calc(env(safe-area-inset-top) + 10px) 42px 15px;
                .headTitles {
                    margin: auto auto 0;
                    width: auto;
                    .headToolbar {
                        zoom: 1;
                        padding: 0 11%;
                        &:before,
                        &:after {
                            content: "";
                            display: table;
                        }
                        &:after {
                            clear: both;
                        }
                    }
                    .yourPowrscore{
                        display: flex;
                        border: 3px solid  #1c1732;
                        background-color: #423873;
                        border-radius: 5px;
                        margin: 16px auto 10px;
                        .title{
                            font-family: 'Gibson';
                            font-size: 11px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 35px;
                            letter-spacing: 2.32px;
                            text-align: center;
                            color: #ffffff;
                            flex: 1 1 auto;
                            padding: 0 13px;
                        }
                        .count{
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 32px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height:  35px;
                            letter-spacing: 1.34px;
                            text-align: center;
                            color: #f6f6f6;
                            background-color: #df45a2;
                            border-left: 3px solid  #1c1732;
                            padding: 0 13px;
                            flex: 1 0 auto;
                        }
                    }
                    h2 {
                        font-family: 'Fjalla One';
                        font-size: 29px;
                        font-weight: normal;
                        line-height: 29px;
                        letter-spacing: -0.34px;
                        color: #3e3d52;
                        margin: 50px auto 0;
                        padding: 0;
                        text-transform: uppercase;
                    }
                    p {
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        text-align: left;
                        margin: 0;
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 17px;
                        letter-spacing: 1px;
                        color: #403c68;
                        line-height: 28px;
                    }
                }
            }

            .main-content {
                background: #F9F0E0;
                padding: 5px 42px 0px;
                min-height: auto;
                flex: 1 1 auto;
                display: flex;
                height: 100%;
                .cardList {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 50px;
                    padding-bottom: calc(env(safe-area-inset-bottom) + 50px);
                    width: 100%;
                    .cardItem{
                        border-bottom: 1px solid #4b3c75;
                        padding:10px 0;
                        h6{
                            font-family: 'Fjalla One';
                            font-size: 29px;
                            font-weight: normal;
                            line-height: 29px;
                            letter-spacing: -0.34px;
                            color: #3e3d52;
                            margin:0;
                            padding:0;
                            text-transform: uppercase;
                        }
                        p{
                            font-family: 'Gibson';
                            font-size: 14px;
                            font-weight: 500;
                            letter-spacing: 1.1px;
                            color: #322e51;
                            text-transform: uppercase;
                            margin:0;
                            padding:0;
                        }

                    }
                }
            }
        }
    }
}
