<ion-header>
  <ion-navbar hideBackButton>
    <div class="headToolbar">
      <span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828"
          viewBox="0 0 19.028 18.828">
          <g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)">
            <path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#343448"
              stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" />
            <path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none"
              stroke="#343448" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" />
          </g>
        </svg></span>
    </div>
    <div class="HeaderBox">
      <div class="headTitles">
       <!--  <span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11.121"
            height="19.414" viewBox="0 0 11.121 19.414">
            <path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none"
              stroke="#343448" stroke-miterlimit="10" stroke-width="2" /></svg></span> -->
        <h2>CIVIC PROFILE</h2>
      </div>
    </div>
  </ion-navbar>
</ion-header>
<ion-content parallax-header no-padding class="civicProfile">
  <div class="civicProfile-top header-image">
    <div class="HeaderBox">
      <div class="headTitles">
        <h2>MY POWRSCORE</h2>
        <div class="yourPowrscore"  (click)="goToPage('PowerscorePage')">
          <div class="title">YOUR POWRSCORE</div>
          <div class="count">{{powerScore}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="cardList">
      <div class="cardItem" (click)="goToPage('MySupportPage')">
          <h6>MY SUPPORT</h6><!--  PSE, BGV, GNA, UAPRN + 5 -->
          <p>{{organizationText}}</p>
      </div>
      <div class="cardItem" (click)="goToPage('MyCausesPage')">
          <h6>MY CAUSES</h6> <!-- ENERGY EQUITY, CLIMATE, +4 -->
          <p>{{causesText}}</p>
      </div>
      <div class="cardItem" (click)="goToPage('MyLifePage')">
          <h6>MY LIFE</h6>
          <p>{{profileCompletedCount}} OF 8 OPTIONS COMPLETED</p>
      </div>
      <div class="cardItem" (click)="goToPage('MyDataPage')">
          <h6>MY DATA</h6>
          <p>{{organizationCount}} ORGANIZATIONS</p>
      </div>
      <div class="cardItem" (click)="goToPage('AccountSettingPage')">
          <h6>ACCOUNT SETTINGS</h6>
          <p>  </p>
      </div>
    </div>
  </div>
</ion-content>