page-email-verified {
    background-color: #F9F0E0;

    ion-content.content {
        &.verify-email-form {
            .scroll-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 0 !important;

                .registrationProcess-top {
                    padding-top: 35px;
                    /* padding-top: calc(env(safe-area-inset-top) + 35px); */
                    padding-bottom: 0;
                    .headTitles {
                        margin: auto auto 30px;
                        width: auto;

                        .headToolbar {
                            zoom: 1;
                            padding: 0 11%;

                            &:before,
                            &:after {
                                content: "";
                                display: table;
                            }

                            &:after {
                                clear: both;
                            }
                            .goBackBtn {
                                float: left;
                            }

                            .closeBtn {
                                float: right;
                            }
                        }
                    }
                    .main-content{
                        text-align: center;
                        padding-bottom: 35px;
                        img{
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            max-width: 274px;
                            width: 66%;
                        }
                        h3{
                            color: #282333;
                            font-family: Yanone Kaffeesatz;
                            font-weight: bold;
                            font-size: 60px;
                            line-height: 45px;
                            letter-spacing: 0.41px;
                            margin: 22px auto 32px;
                            padding: 0;
                            span{
                                color:#c36e6e;
                            }
                        }
                        p{
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 17px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 29px;
                            letter-spacing: 1px;
                            color: #282333;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 0;
                            max-width: 285px;
                            b{
                                font-weight: 500;
                            }
                        }
                        button.btn-primary {
                            height: 51px;
                            padding-left: 50px;
                            padding-right: 50px;
                            display: block;
                            width: auto;
                            font-size: 16px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 41px;
                            letter-spacing: 5px;
                            text-align: center;
                            font-family: 'Yanone Kaffeesatz';
                            border-radius: 5px;
                            background: #282333;
                            border: 3px solid #282333;
                            color: #fff;
                            box-shadow: none;
                            margin-left: auto;
                            margin-right: auto;
                            &[disabled] {
                                display: none;
                            }
                          }
                    }
                }
            }
        }
    }
}