new-message-menu {
    ion-list.list {
        margin: auto;
        padding: 0;
        border: 0;
        background: transparent;
        ion-item.item.item-block {
            margin: 0;
            padding: 0 10px;
            border: 0;
            background: transparent;
            width: auto;
            .item-inner {
                border: 0 none;
                flex: 0 0 auto;
                padding:0;
                .input-wrapper{
                    flex: 0 0 auto;
                }
            }
        }
        ion-label {
            font-family: 'Gibson';
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            color: #222222;
            opacity: 1;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.81px;
        }
    }
}
