<!-- Generated template for the NewMessageMenuComponent component -->
<ion-list>
	<ion-item *ngIf="all=='0'" (click)="deleteMessage()">
		<ion-label>Delete {{type}}</ion-label>
		<ion-icon name="trash-outline" item-end></ion-icon>
	</ion-item>
	<ion-item *ngIf="all=='1'" (click)="deleteAllMessage()">
		<ion-label>Delete All</ion-label>
		<ion-icon name="trash-outline" item-end></ion-icon>
	</ion-item>
</ion-list>
