<!--
  Generated template for the DataSourcesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding class="registrationProcess ">
	<div class="registrationProcess-top">
		<div class="headTitles">
			
				<div class="headToolbar">
					<span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#322e51" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#322e51" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></span>
				</div> 
			
			<h2>DATA SOURCES</h2>
			<div class="privacypolicy1">
				
				<p><b>EMPOWRD DATA SOURCES</b></p>
				<p>EMPOWRD aggregates civic and political data that is acquired from a plethora of sources and then modeled and managed from within our own Civic Data Manager. Our specific sources for data are as follows:</p>
				<p>PARTNER ORGANIZATION DATA  >> EMPOWRD works directly with each organization to ensure we are using proper content for their civic engagement activities.</p>

				<p>JURISDICTION BOUNDARIES DATA  >> Boundary files are acquired from the Secretary of State's (example: <a (click)="openUrl('https://sos.ga.gov/OpenRecords/')" >https://sos.ga.gov/OpenRecords/</a>) office and via open data request that we directly send to municipalities via their respective city websites</p>
				<p>Download MOXY today and help bring change for the better.</p>

				<p>ELECTED LEADER DATA [Contact Info, Election Dates, Terms] >> Elected Leader Data is acquired from the .GOV official websites of all the Cities, Counties, and States EMPOWRD has elected leader data for. (For example, for Atlanta related data we go to <a (click)="openUrl('https://www.atlantaga.gov/government')" >atlantaga.gov/government</a> - we take a similar approach to other elected officials as well)</p>

				<p>PHOTOS >> Elected Leader and Candidate Photo Data is collected from Ballotpedia (<a (click)="openUrl('https://ballotpedia.org/')" >ballotpedia.org</a>)</p>

				<p>CANDIDATE DATA [Websites, Photos, Office Information] >> Candidate Data is collected via EMPOWRD's partnership with Represent Georgia (<a (click)="openUrl('https://www.repga.org/')" >repga.org</a>) who provides us candidate data gathered from their team of volunteers for the state of Georgia, for other states we use a combination of Official Candidate websites and Ballotpedia (<a (click)="openUrl('https://ballotpedia.org/')" >ballotpedia.org</a>)</p>

				<p><b>LEGAL DISCLAIMER</b></p>

				<p>Disclaimer: the EMPOWRD app is created by EMPOWRD APPS LLC. a Georgia based, U.S. privately owned, non-partisan company and is not affiliated nor represents any government nor any other private company.</p>
				<p>EMPOWRD APPS LLC licenses, legally acquires, civic engagement data, almost all of which is directly from the government sources, candidate websites and partnerships, with exception of photos and ballot  measure data which is sometimes acquired via Ballotpedia (<a (click)="openUrl('https://ballotpedia.org/')" >ballotpedia.org</a>) but mostly acquired directly from the source and then managed via our Civic Data Management Platform. If you have any questions about data source, please email<a (click)="sendEmail('questions@empowrd.com')">questions@empowrd.com</a> or call <a (click)="callToNumber('4048613530')">404.861.3530</a>.</p>

				<p>Get ENGAGED. Get EMPOWRD!</p>
			</div>
		</div>
		
			
	</div>
	
</ion-content>
