page-data-sources {
  background-color: #F9F0E0;
    ion-content.content {
          background-color: #F9F0E0;
    &.registrationProcess {
      .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0 !important;
      }
     

      .registrationProcess-top {
        padding-top: 40px;
        /* padding-top: calc(env(safe-area-inset-top) + 40px); */
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        position: relative;


        .headTitles {
          margin: auto auto 1.5em;
          width: 100%;
          // width: auto;
          // max-width: 300px;

          .headToolbar {
              zoom: 1;
              padding: 0 0;

              &:before,
              &:after {
                  content: "";
                  display: table;
              }

              &:after {
                  clear: both;
              }

              .goBackBtn {
                  float: left;
              }

              .closeBtn {
                  float: right;
                  position: absolute;
                  top: 10px;
                  right: 20px;
                  svg{
                    fill: #322e51;
                  }
              }
          }

          h3 {
              color: #f9bf00;
              font-family: 'Fjalla One';
              text-align: center;
              margin: auto auto 10px;
              padding: 0;
              font-weight: normal;
              letter-spacing: 0.5px;
              font-size: 5vw;
          }

          h2 {
              color: #322e51;
              font-family: Yanone Kaffeesatz;
              font-weight: bold;
              font-size: 11vw;
              text-align: center;
              margin: auto;
              padding: 0;
              line-height: 1em;
          }

          div {
            font-family: 'Gibson';
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: 0.3px;
            color: #413c67;
            // max-width: 250px;
            width: 100%;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0px 20px;
            a {
              color: #413c67;
              font-weight: 400;
              text-decoration-line: underline;
              text-decoration-style: dotted;
            }
          }
      }        



      }
    }
  }
}
