<!--
  Generated template for the ContentModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
	<div *ngIf="officeData==false" class="role-dialog-content">
		<button ion-button (click)="hideFullRoleDescription()" class="role-dialog-close">CLOSE</button>
		<div>
			<span class="role-label">{{data.abbreviation}}</span>
		</div>
		<h3>Role & Responsibilities:</h3>
		<p [innerHTML]="data.description"></p>
		
	</div>
	<div *ngIf="officeData==true && showRunForThisOfficeThankYou ==false" class="followPopup" >
		<div class="followPopupHeader">
			<div class="title">Run for this Office</div>
			<div class="logo"><img src="./assets/img/represent_georgia.png" alt="Represent Georgia"></div>
		</div>


		<div class="followPopupContent">
			<p>By Clicking below you confirm you are a resident within the jurisidction of this office and that you would like to have REPRESENT GEORGIA contact you via email to help you get started?</p>
			<ul>
				
				<li id="followersoffice" [ngClass]="{'active':letsGetStartedChecked==1}" class="" (click)="LetsStarted('1')">
					<h5>YES, LETS GET STARTED!</h5>
					
				</li>
			</ul>
			<button ion-button (click)="sendMyInfoToRep()" [disabled]="letsGetStartedChecked==0">SEND MY INFO TO REP GA.</button>
		</div>
	</div>
	<div  *ngIf="officeData==true && showRunForThisOfficeThankYou==true" class="followPopup" >
		<div class="followPopupHeader">
			<div class="title">Run for this Office</div>
			<div class="logo"><img src="./assets/img/represent_georgia.png" alt="Represent Georgia"></div>
		</div>

		<div class="followPopupContent">
			<p>Thank you.<br/> <br/>You will hear from REPRESENT GEORGIA <br/>within 24 Hours.</p>
			<button ion-button (click)="hideFullRoleDescription()">BACK TO OFFICE DETAILS</button>
		</div>
	</div>
</ion-content>
