<!--
  Generated template for the EventViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>event-view</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content> -->

<ion-header>
  <ion-navbar hideBackButton>
		<div class="headToolbar">
			<span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#282333"/></svg></span>
			<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
		</div>
  </ion-navbar>
</ion-header>
<ion-content parallax-header scroll-events="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()" no-padding class="myCauses EventView">
  <div class="addCause-top header-image">
    <div class="HeaderBox">
      <div class="headTitles">
        <div class="logotitle">YOU ARE ATTENDING</div>
        <h2>UNITY<br> CONFERENCE</h2>
        <p>Civic Partners power engagement opportunities in your experience and get you engaged.</p>
      </div>
    </div>
  </div>
  <div class="main-content">
      <ion-list class="causeList">
        <ion-item *ngFor="let cause of causes">
          <ion-label>
            <h2>{{cause.name}}</h2>
            <p>{{cause.accronym}}</p>
          </ion-label>
          <ion-checkbox name="causeId-{{cause.id}}" [(ngModel)]="cause.isChecked"
            (ionChange)="insertinvited(cause.isChecked,cause.accronym,cause.name,cause.id)"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div class="loaderWrap" *ngIf="loaderShow">
        <ion-spinner name="dots"></ion-spinner>
        <!-- <ion-spinner name="bubbles"></ion-spinner> -->
    </div>
  </div>
</ion-content>