<ion-header>
  <ion-navbar hideBackButton>
    <div class="headToolbar">
      <span class="goBackBtn" (click)="cancel()"><svg xmlns="http://www.w3.org/2000/svg" width="11.121" height="19.414" viewBox="0 0 11.121 19.414"><path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none" stroke="#343448" stroke-miterlimit="10" stroke-width="2" /></svg></span>
      <span class="closeBtn" (click)="cancel()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#343448" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" /><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#343448" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" /></g></svg></span>
    </div>
  </ion-navbar>
</ion-header>
<ion-content parallax-header no-padding class="inviteviaSms">
  <div class="inviteviaSms-top  header-image">
    <div class="HeaderBox">
      <div class="headTitles">
        <h2>INVITE VIA SMS</h2>
        <p>The more we know about you, the more we can guide you towards an impactful civic engagement experience.</p>
        <div class="actionButtons">
          <button ion-button class="btn btn-sm" (click)="addAll()">ADD ALL</button>
          <button ion-button class="btn btn-sm" (click)="clearAll()">CLEAR ALL</button>
        </div>

      </div>
    </div>
  </div>
  <div class="main-content">
    <ion-list>
      <ion-item *ngFor="let contact of contactlist" (click)="inviteContacts(contact)">
        <ion-label (click)="inviteContacts(contact)">{{contact.name.formatted}}</ion-label>
        <ion-checkbox color="dark" [checked]="contact.selected" [(ngModel)]="contact.selected" (click)="inviteContacts(contact)"></ion-checkbox>
      </ion-item>
      
    </ion-list>
    <div class="loaderWrap" *ngIf="loaderShow">
      <!-- <ion-spinner name="dots"></ion-spinner> -->
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="btnArea">
    <div class="btnGroup">
      <button ion-button class="btn btn-primary" (click)="cancel()">CANCEL</button>
      <button ion-button class="btn btn-success" (click)="inviteFriends()">INVITE [{{inviteContactsCount}}] FRIENDS</button>
    </div>
  </div>
</ion-footer>