page-candidate-details {
	/*** office page state ***/

	.office .content7-wrapper {
	  background-color: #2d2c3d;
	  margin-top: 0;
	  padding: 56px 0 0 0;
	}
	.office .related-user-info {
		text-align: left;
		float: none;
		width: auto;
		margin-left: 0;
	}
	.office .related-user-info .related-user-role .cc {
	  background: #97555d none repeat scroll 0 0;
	  border-top-left-radius: 3px;
	  border-bottom-left-radius: 3px;
	  border-right: 2px solid #79454b;
	  vertical-align: middle;
	  text-transform: capitalize;
	  display: table-cell;
	  padding: 3px 10px;
	  font-size: 22px;
	  font-weight: 800;
	}  
	.office .view-header-box-munipal-leader > p { font-family: "Museo Slab"; font-weight: 100;
		color: #fff;
		font-size: 20px;
		margin: 10px 0 8px;
		letter-spacing: 1.3px;
	}
	.office .view-header-box-munipal-leader > span { font-family: "Museo Slab"; font-weight: 100;
	  color: #ffffff;
		display: block;
		font-size: 13px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
	.office .active {
		font-weight: 600;
	}
	.office .location-pin::after {
	  border-left: 4px solid rgba(0, 0, 0, 0);
	  border-right: 4px solid rgba(0, 0, 0, 0);
	  border-top: 8px solid #65373d;
	  bottom: -6px;
	  content: "";
	  left: 50%;
	  position: absolute;
	  transform: translateX(-50%);
	}
	.office .location-pin {
	  background: #65373d none repeat scroll 0 0;
	  border-radius: 4px;
	  color: #ffffff;
	  font-weight: 700;
	  margin: 0 auto;
	  padding: 4px 9px;
	  position: relative;
	  text-align: center;
	  top: 55px;
	}
	.office .convo-user {
	  background: #272736 none repeat scroll 0 0;
	  float: left;
	  padding: 10px 20px;
	  position: relative;
	  width: 100%;
	  z-index: 2;
	}
	.office .convo-user-info { color: #fff;
	  float: left;
	  left: 8px;
	  position: relative;
	  width: 73%;
	}
	.office .convo-user-info > h4 {
	  font-family: "Museo Slab";
	  font-size: 19px;
	  font-weight: 600;
	  margin: 0 0 3px 0;
	  color: #fff;
	  letter-spacing: 2.1px;
	  word-wrap: break-word;
	}
	.office .badge label {
	  background: #f7c05d none repeat scroll 0 0;
	  border-radius: 5px;
	  font-family: "Museo Slab";
	  font-size: 13px;
	  font-weight: 900;
	  padding: 4px 5px 2px;
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.office .pamela-hoffman1 .related-user-img img {
	  border: 3px solid #f7c05d;
	  border-radius: 5px;
	  max-width: 100%;
	}
	.office .related-user-img {
	  margin-top: -25px;
	}
	.office .convo-user-info .related-user-info .related-user-role {
	  background: #527a96 none repeat scroll 0 0;
	  display: inline-block;
	  font-size: 9px;
	  padding: 5px 8px 5px 8px !important;
	}

	.office .accordion {
		clear: both;
		padding: 10px 10px 0 10px;
	}
	.office .accordion .accordion-header {
	  background: #f1f1f1;
	  color: #606060;
	  cursor: pointer;
	  display: block;
	  font-size: 12px;
	  height: 55px;
	  letter-spacing: 1.7px;
	  line-height: 55px;
	  padding: 0 22px;
	  font-weight: 500;
	  border-bottom: 2px solid #e3e3e3;    
	}
	.office .accordion-content.accordion-active-content {
	  background: #fafafa none repeat scroll 0 0;
	  display: inline-block;
	  padding: 0 25px;
	  top: 0;
	  border-bottom: solid 2px #F1F1F1;    
	  width: 100%;
	}
	.office #accordion-1.accordion-content > p, .office #accordion-2.accordion-content > p, .office #accordion-3.accordion-content > p {
	  font-size: 12px;
	  line-height: 17px;
	  font-family: "Museo Slab";
	}
	.office #accordion-1.accordion-content > a, .office #accordion-2.accordion-content > a {
	  color: #403e57;
	  display: inline-block;
	  font-size: 11px;
	  padding: 7px;
	  font-weight: 500;
	}
	.office .last-accordion{
		padding-bottom: 10px !important;
	}
	.office .accordion-content b {
	  color: #4f4e5f;
	  font-size: 11px;
	  font-family: "Gibson";
	}
	.office .lrg-fnt {
	  font-size: 17px !important;
	  margin-top: 0 ;
	  font-family: "Museo Slab";
	}
	.office .op-label {
		margin-bottom: 2px;
		letter-spacing: 2px;
	}
	.office .tabs-wrapper .ng-scope {
		font-size: 9px;
	}
	.office .tabs-wrapper .md-tab {
		padding: 12px 6px;
		position: relative;
		letter-spacing:0.7px
	}
	.office #map {
		bottom: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
	.office .map1 {
		 min-height: 250px;
	}


	/*** rc1 office page state (dashboard)_1 ***/
	.office .view-header-box-munipal-leader {
		width: 100%;
		padding: 25px;
		background-color: #6d3b46;
	}
	.office .content12-wrapper { position: relative; z-index: 2;
	  background-color: #2d2c3d;
	  margin-top: 0;
	  padding: 56px 0 0 0;
	}
	.office .accordion-content.accordion-active-content {
	  background: #F1F1F1 none repeat scroll 0 0;
	  padding: 0 20px;
	}
	.office #accordion-1.accordion-content  > span {
	  color: #4f4e5f;
	  display: block;
	  font-size: 11px;
	  font-weight: 500;
	  margin-bottom: 10px;
	}
	.office #accordion-1.accordion-content  > p, .office #accordion-2.accordion-content  > p, .office #accordion-3.accordion-content  > p {
	  font-family: "Gibson-SemiBold;";
	}
	.office .lrg-fnt {
	  color: #4f4e5f;
	 
	}
	.office .op-label {
		margin-bottom: 10px;
	}
	.office .accordion-content.accordion-active-content2 {
	  background: #fff none repeat scroll 0 0;
	  border-bottom: 2px solid #f1f1f1;
	  display: inline-block;
	  margin-top: 0;
	  padding: 0 20px;
	  width: 100%;
	}
	.office .accordion3 {
	  padding-top: 1px;
	}
	.office .accordion4 {
	  padding-top: 2px;
	  margin-bottom: 20px;
	}
	.office .lee-morries-bg .pamela-hoffman .s-txt  {
	  width: 70px;
	  height: 70px;
	  background: #764650;
	  border: solid #e5e5e5 3px;
	  /*border-radius: 4px;*/
	  overflow:hidden
	}
	.office .related-user-img.badge.s-txt > p {
	  font-size: 34px;
	  border: 0;
	  width:auto;
	  height:auto;
	  line-height: 70px;
	}

	/*** rc1 office candidate ***/
	.office .view-header-box-munipal-leader {
		width: 100%;
		padding: 25px 15px;
		background-color: #6d3b46;
	}
	.office .related-user-info .related-user-role {
		background: #764650;
		font-size: 14px;
	}


	.office md-content.md-content {
		background: #272736;
	}
	.office .tabs-wrapper .md-active .ng-scope {
		color: #ffffff;
	}

	.office .accordion4 {
		clear: both;
		padding: 10px 10px 0;
	}
	.office #accordion-1.accordion-content  > p, .office #accordion-2.accordion-content  > p, .office #accordion-3.accordion-content  > p {
		font-family: "Museo Slab";
		font-size: 17px;
		line-height: 17px;
		font-weight: 100;
	}

	.office .accordion-content.accordion-active-content {
		background: #f8f8f8;
		border-bottom: 2px solid #f8f8f8;
	}

	.office .tabs-wrapper .md-tab:first-child {
		margin-left: 10px;
	}

	.office .related-user-info .related-user-role .c1c {
		padding:4px 7px;
	}
	.office .location-pin1 {
		background: #373648 none repeat scroll 0 0;
		border: 2px solid #4f4e5f;
		border-radius: 8px;
		margin: 0 auto;
		max-width: 52%;
		padding: 5px;
		position: relative;
		right: 0px;
		text-align: center;
		top: 40px;
	}

	.office .location-pin1.location h1 {
		background: #97555d none repeat scroll 0 0;
		border-radius: 3px;
		color: #ffffff;
		font-size: 13px;
		font-weight: 500;
		margin: 0;
		padding: 2px 5px;
		text-align: left;
		width: 100%;
	}
	.office .location-pin1 p {
		color: #ffffff;
		display: inline-block;
		font-size: 13px;
		font-weight: 600;
		margin: 0;
	}
	.office .location-pin1.location p {
		font-size: 10px;
		font-weight: normal;
		text-align: left;
	}

	.office .convo-user-info .related-user-info .related-user-role.cc2-label {
		background:#b64949;
		font-size: 14px;
	}
	.office .related-user-role.pull-right {
		border-radius: 3px;
		color: #ffffff !important;
		display: inline-block !important;
		font-family: "Museo Slab";
		font-size: 10px;
		margin-bottom: 5px;
		padding: 3px 8px 3px 35px !important;
		position: relative;
		text-transform: uppercase;
		background: #4f4e5f none repeat scroll 0 0;
		font-size: 15px !important;
		font-weight: 900 !important;
	}
	.office .related-user-role.pull-right .cc {
		border-bottom-left-radius: 5px;
		border-right: 2px solid #ffffff;
		border-top-left-radius: 5px;
		height: 100%;
		left: 0;
		padding: 3px 7px;
		position: absolute;
		text-transform: capitalize;
		top: 0;
		background: #4f4e5f none repeat scroll 0 0;
	}
	.office .camp .camp-content {
		background-color: #3e3d4d;
		float: left;
		width: 100%;
		padding: 10px 10px 0;
	}
	.office .camp {
		color: #ffffff;
		float: left;
		padding: 0 10px 0;
		width: 100%;
		margin-top: 10px;
	}
	.office .camp i {
		color: #f7c05d;
		float: left;
		font-size: 35px;
		line-height: 1;
		text-align: center;
		width: 50px;
	}
	.office .camp .camp-right {
		padding-left: 53px;
	}
	.office .camp h3 {
		font-family: 'Museo Slab';
		font-size: 16px;
		margin: 0;
	}
	.office .camp p {
		font-size: 12px;
		font-weight: 500;
		margin-top: 5px;
	}
	.office .republican {
		background: #b64949;
		font-size: 12px;
		border-radius: 3px;
		color: #ffffff;
		display: inline-block;
		font-family: "Museo Slab";
		font-weight: 600;
		margin-bottom: 5px;
		padding: 5px 8px !important;
		position: relative;
		text-transform: uppercase;
		margin: 5px 0;
		min-height: 25px;
	}
	.office .democrat {
		background:#527a96;
	}
	.office .accordion-content .left .lrg-fnt {
		clear: both;
		float: left;
		font-weight: 100;
		margin-bottom: 8px;
		width: 100%;
	}
	.office .accordion-content  .left .op-label {
		margin-top: 10px;
	}

	.office .accordion .left .btn-ghost, .office .accordion .left .btn-large  {
		float: right;
		font-family: 'Gibson';
		font-size: 10px;
		height: auto;
		line-height: normal;
		margin-bottom: 0;
		min-width: 70px;
		padding: 0;
		width: auto;
	}
	.office .accordion .left .btn-large {
		min-width: 80px;
	}
	.office .accordion-content .left {
		padding: 10px 0;
		width: 100%;
	}
	.office .tabs-wrapper md-tabs-wrapper {
		background: transparent;
		position: relative;
	}
	.office .related-user-info .related-user-role.cc-label {
		font-size: 15px;
	}
	/* .tabs-wrapper .ng-scope {
		font-size: 9px;
		color: #b0aec6;
	}
	.tabs-wrapper .md-tab {
		padding: 12px 6px;
	}
	.tabs-wrapper .md-tab.ng-scope.ng-isolate-scope.md-ink-ripple:first-child {
		margin-left: 10px;
	}
	.tabs-wrapper .md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
		font-weight: 500;
	} */
	.office .app-container .accordion.accordion.contact-accordion #accordion-1.accordion-content p {
		font-family: 'Museo Slab';
		font-size: 17px;
		line-height: 17px;
	}
	/* .app-container.office-page  md-content { background: #272736 ;}
	.app-container.office-page md-tabs.md-default-theme md-ink-bar, .app-container.office-page md-tabs md-ink-bar {
		background: #272736;
		color: #272736;
	}
	.app-container.office-page .tabs-wrapper md-tabs .md-tab.md-active {color: #fff;}
	.app-container.office-page .tabs-wrapper md-tabs .md-tab.md-active > span::after { color: #272736;}
	.app-container.office-page .tabs-wrapper .md-tab { padding: 13px 10px;letter-spacing: 0;} */
	.office .md-content .tabs-wrapper .md-tab { font-size: 9px;  font-size: 9px;}
	.office .md-content .view-header-box-munipal-leader > p { font-family: "Museo Slab";}
	.office .md-content .view-header-box-munipal-leader > span { font-family: "Museo Slab";}

	.leaflet-top.leaflet-left .leaflet-control-zoom { display: none;}

	.office .tabs-wrapper {box-shadow: 0 -5px 10px 7px #000000; position: relative; z-index: 1;}

	/* Map Pin Css */
	/*.mylocation-city h1 { background:#5C4763 !important;color: #fff; font-family: Museo Slab; font-size: 12px; margin: 0;     padding: 0;}
	.mylocation-county h1 { background: #97555d !important;color: #fff; font-family: Museo Slab; font-size: 12px; margin: 0;
		padding: 0;}
	.mylocation-state h1 { background:#485837!important;color: #fff; font-family: Museo Slab; font-size: 12px; margin: 0;
		padding: 0;}


	.mylocation-city p { padding: 6px 0 2px 0 ;margin:-4px; font-size: 11px; font-weight: 700;}
	.mylocation-county p { padding:6px 0 2px 0 ;margin:-4px; font-size: 11px; font-weight: 700;}
	.mylocation-state p { padding: 6px 0 2px 0 ;margin:-4px; font-size: 11px; font-weight: 700;}

	.mylocation-city {
	  background: #373648 none repeat scroll 0 0; border: 2px solid #4f4e5f; border-radius: 8px; margin: 0 auto; width: 162px;
	  height: 28px; padding: 3px; position: relative; right: 30px; text-align: center; top: 80px; text-transform: uppercase; }
	.mylocation-city::after { border-left: 10px solid rgba(0, 0, 0, 0); border-right: 10px solid rgba(0, 0, 0, 0); border-top: 8px solid #373648; bottom: -8px; content: ""; left: 50%; position: absolute; transform: translateX(-50%); z-index:1; }
	.mylocation-county { background: #373648 none repeat scroll 0 0; border: 2px solid #4f4e5f; border-radius: 8px; margin: 0 auto;
	  width: 162px; height: 28px; padding: 3px; position: relative; right: 30px; text-align: center; top: 80px; text-transform: uppercase; }
	.mylocation-county::after { border-left: 10px solid rgba(0, 0, 0, 0); border-right: 10px solid rgba(0, 0, 0, 0);
	  border-top: 8px solid #373648;
	  bottom: -8px;
	  content: "";
	  left: 50%;
	  position: absolute;
	  transform: translateX(-50%);
	  z-index:1;
	}
	.mylocation-state {
	  background: #373648 none repeat scroll 0 0;
	  border: 2px solid #4f4e5f;
	  border-radius: 8px;
	  margin: 0 auto;
	  width: 162px;
	  height: 28px;
	  padding: 3px;
	  position: relative;
	  right: 30px;
	  text-align: center;
	  top: 80px; text-transform: uppercase;
	}
	.mylocation-state::after {
	  border-left: 10px solid rgba(0, 0, 0, 0);
	  border-right: 10px solid rgba(0, 0, 0, 0);
	  border-top: 8px solid #373648;
	  bottom: -8px;
	  content: "";
	  left: 50%;
	  position: absolute;
	  transform: translateX(-50%);
	  z-index:1;
	}
	*/
	.office .lrg-fnt .republican {
		margin: 0;
	}
	.office .related-user-role.pull-right .ion-android-star::before {
		color: #f7c05d;
		font-size: 15px;
	}
	.telephoneicon{height: 20px; width: 20px; margin-bottom: -5px;}
	.color-original{color:#4f4e5f}
	div.map-full-screen {
		height: 100%;
	}


	/* new office page */

	.backbtnpopup {
		background: url("../img/sprite.png") no-repeat scroll -29px -27px;
		background-size: 66px auto;
		display: inline-block;
		height: 11px;
		margin-left: 22px;
		margin-top: 20px;
		width: 22px;
	}
	.leader-detail-popup {
		background: -moz-linear-gradient(top, rgba(31,31,44,0.7) 0%, rgba(31,31,44,1) 100%);
		background: -webkit-linear-gradient(top, rgba(31,31,44,0.7) 0%,rgba(31,31,44,1) 100%);
		background: linear-gradient(to bottom, rgba(31,31,44,0.7) 0%,rgba(31,31,44,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31f1f2c', endColorstr='#1f1f2c',GradientType=0 );
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.office-container {
		margin-top: 40px;
		padding: 0 30px;
	}
	.of-lead-pro-pic {
		border: 6px solid #272736;
		border-radius: 15px;
		margin-right: 26px;
		position: relative
	}
	.of-lead-pro-pic img {
		border-radius: 10px;
		height: 66px;
		vertical-align: top;
		width: 66px;
	}
	.of-lead-pro-pic span {
		background: #527a96;
		border: 6px solid #272736;
		border-radius: 80px;
		bottom: -16px;
		color: #ffffff;
		font-family: museo slab;
		font-size: 20px;
		font-weight: 800;
		height: 44px;
		line-height: 33px;
		position: absolute;
		right: -18px;
		text-align: center;
		width: 44px;
	}
	.of-lead-pro-name {
		color: #ffffff;
		font-size: 18px;
		font-weight: normal;
		margin-right: -15px;
		padding-top: 5px;
	}
	.of-lead-pro-name div {
		font-size: 14px;
		font-weight: 500;
		margin-top: 3px;
	}
	.of-lead-type {
		margin-top: 30px;
	}
	.of-lead-type .shortform {
		background: #97555d ;
		border-radius: 3px;
		color: #ffffff;
		display: inline-block;
		font-family: museo slab;
		font-size: 21px;
		font-weight: 800;
		padding: 2px 4px;
		vertical-align: top;
	}
	.of-lead-type .longform {
		background: #572c35;
		border-radius: 3px;
		color: #ffffff;
		display: inline-block;
		font-family: museo slab;
		font-size: 14px;
		font-weight: 600;
		padding: 7px 6px;
		vertical-align: top;
	}
	.of-adres {
		margin-top: 20px;
	}
	.of-adres div {
		background: #181822;
		border-radius: 4px;
		clear: both;
		color: #ffffff;
		display: inline-block;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		margin-top: -8px;
		padding: 8px;
		vertical-align: top;
	}
	.of-time {
		align-items: center;
		background: #4f4e5f url("../img/curve1.png") no-repeat scroll 1px 1px;
		background-size:  30px auto;
		border-radius: 50px;
		color: #ffffff;
		display: flex;
		float: left;
		font-weight: 500;
		padding:11px 20px;
		margin-top: 20px;
	}
	.of-time div img {
		margin-right: 11px;
		max-width: 35px;
		vertical-align: top;
	}
	.of-map-btn {
		background: #4f4e5f url("../img/curve1.png") no-repeat scroll 1px 1px;
		background-size: 30px auto;
		border-radius: 50px;
		float: right;
		height: 63px;
		padding: 19px 12px;
		text-align: center;
		width: 63px;
		margin-top: -30px;
	}
	.of-map-btn img {
		max-width: 44px;
		vertical-align: top;
	}
	.of-map {
		background: #181822 none repeat scroll 0 0;
		clear: both;
		float: left;
		height: 60px;
		margin-top: 50px;
		padding: 0 22px;
		width: 100%;
	}

	/** new office **/ 
	.office-new {
		background: #f2f2f2;
	}
	.office-new header .header2 {
		background: #b7445b;
		color: #ffffff;
		font-family: Museo Slab;
		font-size: 14px;
		font-weight: 800;
		padding: 36px 0;
		text-align: center;
		width: 103px;
	}
	.office-new header .header1 {
		flex: 1;
		background: #802e3e;
		color: #ffffff;
		font-family: Gibson;
		font-size: 13px;
		font-weight: 500;
		padding: 36px 40px 36px 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.office-new header {
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
		display: flex;
		position: relative;
		z-index: 1;
	}
	.office-new header .header1 a img {
		margin-left: 27px;
		margin-right: 23px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		width: 22px;
	}
	.locationaddress {
		background: #272736;
		color: #ffffff;
		font-size: 14px;
		padding: 23px 20px 38px;
		text-align: center;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
		position: relative
	}
	.boe {
		background: #272736;
		border-radius: 4px;
		bottom: -15px;
		font-family: museo slab;
		font-weight: 800;
		height: 35px;
		left: 0;
		line-height: 31px;
		margin: 0 auto;
		padding: 2px;
		position: absolute;
		right: 0;
		width: 55px;
	}
	.boe-inner {
		background: #ba455d;
		border-radius: 4px;
	}

	.boe::after {
		border-left: 8px solid rgba(0, 0, 0, 0);
		border-right: 8px solid rgba(0, 0, 0, 0);
		border-top: 8px solid #272736;
		content: "";
		display: block;
		height: 0;
		margin: auto;
		width: 0;
	}
	.boe-inner::after {
		border-left: 5px solid rgba(0, 0, 0, 0);
		border-right: 5px solid rgba(0, 0, 0, 0);
		border-top: 5px solid #ba455d;
		content: "";
		display: block;
		height: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
		width: 0;
	}

	.officemap {
		background: #000000 url("../img/map1.jpg") no-repeat scroll center center / cover ;
		height: 150px;
		position: relative;
		z-index: -10;
	}
	.officemap::after {
		background: rgba(30, 30, 43, 0.65) none repeat scroll 0 0;
		content: "";
		display: block;
		height: 100%;
		width: 100%;
	}
	.of-pro {
		background: #272736 none repeat scroll 0 0;
		color: #ffffff;
		position: relative;
		text-align: center;
	}
	.of-pro-pic {
		display: inline-block;
		margin-top: -50px;
		position: relative;
	}
	.of-pro-pic img {
		border: 10px solid #272736;
		border-radius: 100px;
		height: 103px;
		width: 103px;
	}
	.of-pro-pic span {
		background: #527a96;
		border: 5px solid #272736;
		border-radius: 100px;
		bottom: 0;
		font-family: museo slab;
		font-size: 19px;
		font-weight: 800;
		height: 44px;
		line-height: 33px;
		position: absolute;
		right: 0;
		width: 44px;
	}
	.of-pro-name div {
		font-size: 14px;
		font-weight: 300;
		line-height: 30px;
	}
	.of-pro-name .of-pro-designation {
		background: #1e1e2b none repeat scroll 0 0;
		display: inline-block;
		font-size: 11px;
		font-weight: 500;
		margin-bottom: 10px;
		padding: 0 30px;
	}
	.engage {
		background: #333346 none repeat scroll 0 0;
		color: #ffffff;
		font-size: 11px;
		font-weight: 500;
		line-height: 60px;
		text-align: center;
	}
	.btn-group1 {
		align-items: center;
		background: #242431 none repeat scroll 0 0;
		border-bottom: 1px solid #1c1c27;
		display: flex;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;
		height: 110px;
	}
	.btn-group1::after {
		border-bottom: 1px solid #323245;
		clear: both;
		content: "";
		display: block;
		margin-bottom: -2px;
		width: 100%;
	}
	.btn-group1:last-child::after {
		display: none;
	}
	.btn-group1 .btn1 {
		border-right: 1px solid #1c1c27;
		color: #ffffff;
		display: flex;
		-moz-flex: 1 1 0;
		flex: 1 1 0;
		-moz-flex-direction: column;
		flex-direction: column;
		font-size: 50px;
		font-weight: 300;
		height: 100%;
		-moz-justify-content: center;
		justify-content: center;
		line-height: 1;
		position: relative;
		text-align: center;
		-moz-align-items: center;
		align-items: center;
	}
	.btn-group1 .btn1::after {
		border-right: 1px solid #323245;
		content: "";
		height: 100%;
		position: absolute;
		right: -2px;
		top: 0;
	}
	.btn-group1 .btn1:last-child::after {
		display: none;
	}
	.btn-group1 .btn1 div {
		font-size: 9px;
		font-weight: normal;
		line-height: normal;
		margin-top: 10px;
	}
	.phadress {
		background: #f2f2f2 none repeat scroll 0 0;
		display: flex;
		padding: 50px 40px 0 0;
	}
	.phadress-left {
		color: #ffffff;
		font-size: 14px;
		position: relative;
		text-align: center;
		width: 95px;
	}
	.phadress-left .boe {
		bottom: auto;
	}
	.phadress-right {
		flex: 1 1 0;
		font-size: 13px;
	}
	.phadress-right span {
		font-size: 10px;
		font-weight: 500;
	}
	.phadress:last-child {
		padding-bottom: 50px;
	}
	.divider1 {
		background: #fff;
		border-top: 1px solid #d7d7d7;
	}
	.ofcontainer {
		background: #f2f2f2;
		padding: 2px 30px 60px;
	}
	.ofdate {
		color: #303042;
		font-size: 14px;
	}
	.ofterm {
		color: #303042;
		font-size: 10px;
	}
	.ofdate1 {
		display: flex;
		padding-bottom: 40px;
		padding-top: 30px;
		text-align: center;
	}
	.ofdate1 > div {
		flex: 1 1 0;
		padding: 0 5px 0 0;
	}
	.ofdate1 > div:last-child {
		padding-right: 0;
	}
	.btn-group1 .btn1 img {
		max-width: 38px;
	}
	.office_new_map {
		min-height: 150px;
		position: relative;
		z-index: -10;
	}
	.office_new_map .leaflet-marker-icon {
		display: none;
	}
	.office_new_map::after {
		background: rgba(9, 9, 14, 0.35);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 1245;
	}
	.ofdatebig span {
		display: inline-block;
		font-size: 36px;
		margin-top: -6px;
		padding-bottom: 10px;
	}
	.ofdate1 .divider1 {
		margin: 3px 0;
	}
	.btn-group1 .btn1 a {
		color: #ffffff;
	}
	.photo_size_office_detail {
	  background: #ba455d none repeat scroll 0 0;
	  border: 10px solid #272736;
	  border-radius: 100px;
	  color: #fff;
	  font-family: Museo Slab;
	  font-size: 30px;
	  font-weight: 800;
	  height: 103px;
	  line-height: 84px;
	  margin: 0 0 12px;
	  overflow: hidden;
	  text-align: center;
	  width: 103px;
	}



	/*** Office page 1 **/

	.office_page_1 {
		background: #2d2c3d;
		min-height: 100vh;
	}

	.office_page_1 header {
	    clear: both;
	    display: flex;
	    flex-direction: row;
		position: relative;
	    z-index: 5;
	}
	.office_page_1 header .bkaero {
	    cursor: pointer;
	    padding: 28px 20px 0;
	}
	.office_page_1 header .bkaero img {
		max-width: 21px;
		vertical-align: top;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
	.office_page_1 header .memb-add {
		background: #b7445b;
	    color: #fff;
	    flex: 1;
	    font-family: 'Museo Slab';
	    font-size: 25px;
	    min-height: 70px;
	    overflow: hidden;
	    padding-right: 10px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		display: flex;
		text-transform: uppercase;
		letter-spacing: 0;
		padding-top: constant(safe-area-inset-top);
		padding-top: env(safe-area-inset-top);
	}
	.office_page_1 header .memb-add-desig {
	    align-items: center;
	    background: #a43d51 none repeat scroll 0 0;
	    color: #f2f2f2;
	    display: flex;
	    font-family: 'Museo Slab';
	    font-size: 32px;
	    font-weight: 700;
	    padding: 0 22px;
	    padding-top: constant(safe-area-inset-top);
		padding-top: env(safe-area-inset-top);
	}
	.platform-ios .office_page_1 header .memb-add, .platform-ios .office_page_1 header .memb-add-desig {
	    min-height: 80px;
	}
	.office_page_1 header .memb-add div div {
	    font-size: 15px;
		font-family: 'Gibson', sans-serif;
		 overflow: hidden;
	}
	.office_page_1 header .memb-add > div {
	    align-self: center;
	    overflow: hidden;
	}
	.memb-desig .memb-desig-img div {
	    border: 5px solid #f2f2f2;
	    border-radius: 100px;
	    overflow: hidden;
	}
	.memb-desig .memb-desig-img img {
	    height: 68px;
	    width: 68px;
		vertical-align: top;
	}
	.memb-desig-img {
	    float: left;
	    margin-right: 5px;
	    margin-top: -10px;
	    position: relative;
		margin-bottom: -18px;
	}
	.memb-desig .memb-desig-img span {
	    background: #527a96 none repeat scroll 0 0;
	    border: 5px solid #f2f2f2;
	    border-radius: 50px;
	    bottom: 0;
	    color: #ffffff;
	    font-family: Museo Slab;
	    font-weight: 600;
	    height: 35px;
	    line-height: 27px;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    width: 35px;
	}

	.memb-desig {
	    background: #f2f2f2;
	    padding: 12px 10px;
	}
	.memb-desig-name > div {
	    font-family: 'Museo Slab';
	    font-size: 20px;
	    font-weight: normal;
		color: #4f4e5f
	}
	.memb-desig-name > div span {
	    font-weight: 300;
	}
	.memb-desig-name small {
	    color: #1e1e2b;
	    font-family: gibson;
	    font-size: 11px;
		font-weight: 500
	}
	.memb-location {
	    background: #702937;
	    color: #f2f2f2;
	    font-family: 'Museo Slab';
	    font-size: 19px;
	    font-weight: 700;
	    line-height: 36px;
	    padding-right: 32px;
	    text-align: right;
	}

	.office_page_1_accordion1 {
	    bottom: 60px;
	    left: 0;
	    position: absolute;
	    right: 0;
	}
	.office_page_1_accordion2 {
	    bottom: 0;
	    left: 0;
	    position: absolute;
	    right: 0;
		z-index: 5;
	}

	/* accorion */
	.office_page_1_accordion1 .md-accordion md-toolbar{
		cursor:pointer;
		border-bottom:1px solid #272736;
		background: #4f4e5f;
		color: #f2f2f2;
	}

	.office_page_1_accordion1 .md-toolbar-tools h2 {
	    color: #f2f2f2;
	    font-family: 'Museo Slab';
	    font-size: 22px;
	}
	.office_page_1_accordion1 .md-accordion md-toolbar .md-toolbar-tools {
	    height: auto;
	    max-height: none;
	    min-height: 63px;
		padding-right: 20px;
		padding-left: 30px;
	}
	.office_page_1_accordion1 .md-toolbar-tools h2 img {
	    margin-right: 11px;
	}
	.office_page_1_accordion2 md-toolbar .md-toolbar-tools {
	    max-height: none;
	    min-height: 64px;
		padding-right: 24px;
		padding-left: 18px;
	}
	.office_page_1_accordion2 md-toolbar {
	    background: #4e4d62;
		cursor: pointer;
	}
	.office_page_1_accordion2 md-toolbar h2 {
	    color: #ffffff;
	    flex: 1 1 0;
	    font-family: 'Museo Slab';
	    font-size: 25px;
	    font-weight: 700;
	    letter-spacing: 2.5px;
	    text-align: right;
	}
	.office_page_1_accordion2 md-toolbar h2 img {
	    margin-right: 4px;
		margin-top: -7px;
		vertical-align: middle;
	}
	.office_page_1_accordion1 .md-accordion .dataContent {
		background: #363547;
	}
	.office-addresses {
	    border-bottom: 1px solid #dddddd;
	    display: flex;
	    margin: 0 -20px;
	    padding:20px 20px 12px 30px
	}

	.office-addresses h3 {
	    color: #aaaaaa;
	    font-family: 'Museo Slab';
	    font-size: 20px;
	    font-weight: 700;
	    margin-bottom: 0;
	    margin-top: 16px;
	}
	.office-addresses h2 {
	    align-self: center;
	    color: #4f4e5f;
	    flex: 1 1 0;
	    font-family: 'Gibson',sans-serif;
	    font-size: 15px;
	    font-weight: normal;
	    letter-spacing: 0;
	    margin-bottom: 0;
	    margin-top: -2px;
	    padding-left: 25px;
	}
	.office-addresses h4 {
	    color: #ffffff;
	    font-size: 15px;
	    font-weight: 100;
	    margin-bottom: 0;
	    margin-top: 2px;
	}
	.office-addres1 {
	    border-bottom: 1px solid #dddddd;
	    display: flex;
	    margin: 0 -20px;
	    padding: 15px 20px 20px 30px;
	}
	.office-addres1 .office-addres1-label div {
	    background: #246b83 none repeat scroll 0 0;
	     border-radius: 3px;
	    color: #ffffff;
	    font-family: 'Museo Slab';
	    font-size: 33px;
	    font-weight: 700;
	    height: 45px;
	    line-height: 31px;
	    padding: 0 8px 0 10px;
	}
	.office-addres1 .office-addres1-text {
	    color: #246b83;
	    font-family: 'Museo Slab';
	    font-size: 22px;
	    font-weight: normal;
	    line-height: 1.25;
	    padding: 0 0 0 26px;
		letter-spacing: 0;
	}
	.office-addres1 .office-addres1-text div {
		 color: #4f4e5f;
	    font-family: 'Gibson';
	    font-size: 13px;
	    font-weight: normal;
	}
	.office-addresses:first-child {
	    padding-top: 5px;
	}
	.office_page_1_accordion2 .md-accordion .dataContent {
	    background: #282735 none repeat scroll 0 0;
	}
	.office_page_1_accordion2 .md-tab {
	    background: #363547 none repeat scroll 0 0;
	    color: rgba(255, 255, 255, 0.5);
	    font-family: 'Gibson';
	    font-size: 13px;
	    font-weight: normal;
	    letter-spacing: 0.7px;
	    padding: 8px;
	}
	.office_page_1_accordion2 .md-tab.md-active {
	    background: #282735;
		color: #fff;
	}
	.office_page_1_accordion2 md-pagination-wrapper, .office_page_1_accordion2 md-tabs-canvas {
	    height: auto;
	}
	.msg-tab-txt1 {
		background: #4e4d62 ;
	    clear: both;
	    color: #f5be5d;
	    display: inline-block;
	    font-family: 'Museo Slab';
	    font-size: 20px;
	    font-weight: 700;
	    padding: 7px 15px;
	    border-radius: 3px;
		margin: 30px 0 5px 0;
		position: relative
	}
	.msg-tab-txt1 div {
		color: #fff;
		font-size: 26px;
	}
	.msg-tab-txt2 {
	    color: #ffffff;
	    font-size: 16px;
	    font-weight: 500;
	}
	.office_page_1_accordion2 .msg-tab-content {
	    padding: 0;
	}
	.email-tab-txt1 {
	    border-bottom: 1px solid #403f57;
	    padding: 30px 25px 22px 32px;
	}

	.email-tab-txt1:last-child {
	    border: 0;
	}
	.email-tab-txt1 div {
	    color: #f5be5d;
	    font-size: 10px;
	    font-weight: 500;
	    margin-top: 8px;
	}
	.email-tab-txt1 a {
	  color: #ffffff;
	  font-family: 'Gibson';
	  font-size: 20px;
	  display: inline-block;
	  overflow: hidden;
	  max-width: 78%;
	  text-overflow: ellipsis;
	}
	.email-tab-txt2 a {
		color: #559e88
	}

	.call-tab-txt1 {
	    border-bottom: 1px solid #403f57;
	    padding: 35px 25px 30px 30px;
	}
	.call-tab-txt1:last-child {
		 border: 0;
	}
	.call-tab-txt1 div {
	    color: #f5be5d;
	    font-size: 10px;
	    font-weight: 500;
	}
	.call-tab-txt1 a {
	    color: #ffffff;
	    font-family: 'Gibson';
	    font-size: 31px;
	    font-weight: normal;
		letter-spacing: 0;
	}
	.call-tab-txt1 a.phone-pad {
	    background: #363547 none repeat scroll 0 0;
	    border: 6px solid #2d2d39;
	    border-radius: 60px;
	    float: right;
	    height: 50px;
	    text-align: center;
	    width: 50px;
		margin-top: -3px;
	}
	.office_page_1_accordion2 .dataContent .overlay-acordion {
	    background: rgba(0, 0, 0, 0);
	    bottom: 0;
	    content: "";
	    left: 0;
	    position: fixed;
	    right: 0;
	    top: 0;
	    z-index: -1;
		visibility: hidden;
		transition: all 0.15s ease-out 0s;
	}
	.office_page_1_accordion2 .dataContent.activeContent .overlay-acordion {
	    background: linear-gradient(rgba(70, 69, 94, 0.8), #302f3d 60%);
		visibility: visible;
	}
	.social-tab a img {
	    clear: both;
	    display: block;
	    margin: auto auto 2px auto;
		max-width: 100%;
	}
	.social-tab a {
	    color: #ffffff;
	    font-family: 'Gibson';
	    font-size: 11px;
	    text-align: center;
	}
	.has-no-social a {
	    color: #2d2c3d;
	}
	.has-no-social {
	    position: relative;
		display: inline-block;
	    vertical-align: top;
	}
	.has-no-social a {
	    opacity: 0.41;
	}
	.has-no-social a.has-remove {
	    position: absolute;
	    right: 0;
	    top: -6px;
		opacity: 1
	}
	.has-detail .has-no-social {
		display:none
	}
	.has-no-detail .has-social {
		display:none
	}


	.social-tab {
	    display: flex;
	    padding: 34px 25px 38px;
	    text-align: center;
	}
	.social-tab .has-detail, .social-tab .has-no-detail {
	    flex: 1;
	}


	/* */
	.office_page_1_tab1 {
	    background: #f2f2f2 none repeat scroll 0 0;
	    // bottom: 64px;
	    // left: 0;
	    // position: absolute;
	    // right: 0;
	}
	.office_page_1_tab1 .md-tab {
	    background: #fbfbfb none repeat scroll 0 0;
	    color: rgba(79, 78, 95, 0.5);
	    font-family: 'Gibson';
	    font-size: 13px;
	    font-weight: normal;
	    letter-spacing: 0;
	    padding: 10px 4px;
		text-transform: uppercase
	}
	.office_page_1_tab1 .md-tab.md-active {
	    background: #f2f2f2 none repeat scroll 0 0;
		color: #4f4e5f;
	}
	.office_page_1_tab1 md-pagination-wrapper, .office_page_1_tab1 md-tabs-canvas {
	    height: auto;
	}
	.office_page_1_tab1 md-content {
	    padding: 0 20px;
		
	}



	.elected-official .elected-official-img div {
	    background: #246b83 none repeat scroll 0 0;
	    border: 0 none;
	    border-radius: 100px;
	    color: #ffffff;
	    font-family: 'Gibson';
	    font-size: 29px;
	    height: 69px;
	    line-height: 71px;
	    overflow: hidden;
	    text-align: center;
	    width: 72px;
	}
	.elected-official .elected-official-img img {
	    min-height: 72px;
	    width: 72px;
		vertical-align: top;
	}
	.elected-official-img {
	    float: left;
	    margin-right: 15px;
		display: table-cell;
	    position: relative;
	}
	.elected-official .elected-official-img span {
		background-size: 100% 100%!important;
	    bottom: -5px;
	    color: #ffffff;
	    font-family: Museo Slab;
	    font-size: 14px;
	    font-weight: 900;
	    height: 31px;
	    line-height: 24px;
	    position: absolute;
	    right: -5px;
	    text-align: center;
		width: 32px;
		z-index: 4;
	}

	.elected-official {
	    padding: 5px 0 20px;
		display: table;
		letter-spacing: 0;
		width: 100%;
		position: relative
	}
	.elected-official-name > div {
	    font-family: 'Museo Slab';
	    font-size: 26px;
	    font-weight: normal;
		color: #4f4e5f
	}
	.elected-official-name > div span {
	    font-weight: 300;
	}
	.elected-official-name small {
	    color: #4f4e5f;
	    font-family: 'Gibson';
	    font-size: 15px;
		font-weight: 300;
		letter-spacing: -0.56px;
		text-transform: uppercase
	}
	.elected-official-name {
	    display: table-cell;
	    vertical-align: middle;
		width: 100%;
	}
	.md-accordion .dataContent {
		max-height: 0;
		height: initial!important;
	}
	.md-accordion .activeContent {
		max-height: 100vh;
		height: initial!important;
	}
	.office-term {
		background: #449ab7;
		margin: 0 -20px;	
		padding: 13px 25px 20px 25px
	}
	.office-term-title {
		font-size: 10px;
		color: #fff;
		font-weight: 500;
		margin-bottom: 5px;
	}
	.office-term-period {
		display: flex;
		width: 100%;
		flex-direction: row;
		color: #fff;
		font-family: 'Gibson';
		font-size: 17px;
		letter-spacing: 0;
	}
	.office-term-period .office-term-period-line div {
		height: 3px;
		background: #fff;
	}
	.office-term-period .office-term-period-line {
	    flex: 1 1 0;
	    margin: 0 15px;
	    padding-top: 10px;
	}

	.office-addresses .office-addres-ic {
	    position: relative;
	}
	.office-addres-ic > img {
	    vertical-align: top;
	}
	.office-addres-ic span {
	    color: #ffffff;
	    font-size: 10px;
	    font-weight: 500;
	    left: 38px;
	    position: absolute;
	    top: 40px;
	}
	.next-election {
	    display: flex;
	}
	.next-election .next-election-date {
	    align-self: center;
	    flex: 1 1 0;
	    padding-left: 30px;
	    padding-top: 9px;
	}
	.next-election .next-election-date h5 {
	    color: #4f4e5f;
	    font-size: 10px;
	    font-weight: 500;
	    margin: 0;
	}
	.next-election .next-election-date h1 {
	  color: #4f4e5f;
	  font-family: 'Gibson';
	  font-size: 32px;
	  font-weight: normal;
	  letter-spacing: -1px;
	  margin: 0;
	}
	.next-election-img > img {
	  vertical-align: middle;
	}
	.msg-tab-txt1::after {
	    border-left: 10px solid rgba(0, 0, 0, 0);
	    border-right: 0 solid rgba(0, 0, 0, 0);
	    border-top: 12px solid #4e4d62;
	    bottom: -12px;
	    content: "";
	    position: absolute;
	    right: 15px;
	}
	.email-tab-ic {
	    background: #363547 none repeat scroll 0 0;
	    border: 5px solid #2d2d39;
	    border-radius: 100px;
	    float: right;
	    height: 50px;
	    margin-top: -5px;
	    padding: 9px 0;
	    text-align: center;
	    width: 50px;
	}

	.office_page_1_tab_accordion {
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 64px;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.45);
	}
	.office_page_1_tab_accordion .md-accordion .dataContent {
	    max-height: 44px;
	}
	.office_page_1_tab_accordion .md-accordion .activeContent {
	    max-height: 100vh;
		padding: 0
	}
	.office_page_1_tab_accordion md-tabs-wrapper.md-stretch-tabs md-pagination-wrapper {
	    margin: 0;

	}
	.office_page_1_tab_accordion md-toolbar {
	    height: 44px;
	    min-height: 44px;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    top: 0;
	    width: 45px;
	}
	.office_page_1_tab_accordion md-toolbar .md-toolbar-tools {
	    background: #fbfbfb;
	    height: auto;
	    justify-content: center;
	    min-height: 44px;
	    padding: 0;
	}
	.office_page_1_tab_accordion md-tabs, .office_page_1_accordion2 md-tabs {
		border-radius: 0!important;
	}
	.office_page_1_accordion2 md-toolbar.closeBtn h2 {
	    text-align: left;
	}
	.office_page_1_accordion2 md-toolbar .md-toolbar-tools > img {
	    display: none;
	}
	.office_page_1_accordion2 md-toolbar.closeBtn .md-toolbar-tools > img {
	    display: block;
		margin-top: -6px;
	}

	.office_page_1 .map1 {
		min-height: 80vh;
		
	}
	.office_page_1_accordion2 .md-accordion .dataContent {
		padding: 0;
	}
	@media (max-width: 320px) {
		.office_page_1 header .memb-add {
			font-size: 21px;
		}
		.office_page_1 header .memb-add div div {
			font-size: 13px
		}
		.office_page_1_tab1 .md-tab {
			font-size: 12px;
		}
	}
	.role {
	    border-top: 1px solid #dcdcdc;
	    padding: 0 20px;
	    margin: 0 -20px;
	}
	.role h3 {
	    color: #246b83;
	    font-family: 'Museo Slab';
	    font-size: 22px;
	    font-weight: normal;
	    letter-spacing: 0;
	    margin: 25px 0 0 0;
	}
	.role p {
	    font-size: 15px;
	    color: #48485a;
	    line-height: 18px;
	    letter-spacing: 0;
	    margin-top: 10px;
	}
	.dialog-btn {
	    float: right;
	    font-family: 'Gibson';
	    color: #4f4e5f;
	    font-size: 13px;
	    letter-spacing: 0;
	    border: 1px solid #d1d1d1;
	    background: #fbfbfb!important;
	    border-radius: 0;
	    min-height: 0;
	    height: auto;
	    line-height: 29px;
	    padding: 0 12px;
	    margin-right: -20px;
	}
	.office_page_1 header .follow-btn {
		position: absolute;
	    font-family: 'Gibson';
	    color: #4f4e5f;
	    font-size: 13px;
	    letter-spacing: 0;
	    border: 1px solid #d1d1d1;
	    background: #fbfbfb!important;
	    border-radius: 0;
	    min-height: 0;
	    height: auto;
	    line-height: 29px;
	    padding: 0 8px;
	    right: 18px;
	    bottom: -46px;
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	}
	.office_page_1 header .follow-btn img {
	    width: 16px;
	    vertical-align: text-top;
	    margin-right: 4px;
	}
	.elected-official-name > div img {
	    width: 16px;
	    margin-left: 14px;
	}

	/* dialog */


	.role-dialog .role-dialog-overlay {
		background: -webkit-linear-gradient(top, rgba(71,69,94,0.83) 0%,rgba(48,47,61,1) 100%);
		background: linear-gradient(to bottom, rgba(71,69,94,0.83) 0%,rgba(48,47,61,1) 100%);
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 64px;
	    z-index: 100;
	}
	.role-dialog-content {
	    position: fixed;
	    background: #f2f2f2;
	    left: 0;
	    top: 0;
	    z-index: 100;
	    margin: auto 20px;
	    max-height: 381px;
	    bottom: 0;
	    overflow: auto;
	    padding: 20px 25px 25px 25px;
	}
	.role-dialog-content .role-dialog-close {
	    position: absolute;
	    font-family: 'Gibson';
	    color: #4f4e5f;
	    font-size: 13px;
	    letter-spacing: 0;
	    border: 1px solid #d1d1d1;
	    background: #fbfbfb!important;
	    border-radius: 0;
	    min-height: 0;
	    height: auto;
	    line-height: 29px;
	    padding: 0 6px;
	    right: 13px;
	    top: 13px;
	    min-width: 0;
	}
	span.role-label {
	    background: #246b83;
	    font-family: 'Museo Slab';
	    color: #fff;
	    font-size: 33px;
	    font-weight: 700;
	    letter-spacing: 1.6px;
	    vertical-align: top;
	    display: inline-block;
	    min-height: 45px;
	    padding: 7px 9px 3px;
	    border-radius: 3px;
	}
	.role-dialog-content h3 {
	    font-family: 'Museo Slab';
	    font-weight: normal;
	    letter-spacing: 0;
	    font-size: 22px;
	    line-height: 20px;
		color: #246b83;
		margin: 13px 0 16px 0;
	}
	.role-dialog-content p {
	    font-size: 15px;
	    color: #48485a;
	    letter-spacing: 0;
	    line-height: 20px;
	}
	.followPopupOverlay {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 11;
	}
	.followPopupBG {
		background: -moz-linear-gradient(top, rgba(71,69,94,0.84) 0%, rgba(48,47,61,1) 100%);
		background: -webkit-linear-gradient(top, rgba(71,69,94,0.84) 0%,rgba(48,47,61,1) 100%);
		background: linear-gradient(to bottom, rgba(71,69,94,0.84) 0%,rgba(48,47,61,1) 100%);
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: -1;
	}

	.followPopupContent {
	    color: rgb(255, 255, 255);
	    padding: 21px 25px;
	}
	.followPopup {
	    margin: 37.5px;
	    background: rgb(78, 77, 98);
	}
	.followPopupHeader {
	    background: rgb(61, 60, 76);
	    color: rgb(255, 255, 255);
	    font-family: 'Museo Slab';
	    font-size: 22px;
	    padding: 21px 25px;
	}



	.login-container md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
	    background: rgb(106, 192, 166);
	    border-color: rgb(85, 158, 136);
	    width: 22px;
	    height: 22px;
	    border-radius: 3px;
	    top: 0;
	    bottom: auto;
	}


	.followPopupContent ul {
		margin:auto;
		padding: 0;
	}
	.followPopupContent ul li{
		margin:auto auto 15px;
		padding: 2px 0 0 40px;
		list-style: none;
		position: relative;
	}

	.candidate_details .followPopupContent ul li:before{
	    background-color: rgb(61, 60, 78);
	    border: 1px solid rgb(95, 94, 118);
	    background-size: 10.5px;
	    background-position: center;
	    background-repeat: no-repeat;
	    width: 22px;
	    height: 22px;
	    border-radius: 3px;
	    bottom: auto;
	    transform: none;
	    margin: auto;
	    left: 0;
	    top: 0;
	    content: "";
	    display: block;
	    position: absolute;
	}
	.candidate_details .followPopupContent ul li.active:before{
	    background-image: url(../img/rectangle_2393.svg);
	}
	.platform-ios .followPopupContent ul li:before {
		top: 6px;
	}
	.followPopupContent ul li h5 img {
	    height: 41px;
	    position: absolute;
	    top: 0;
	    right: 0;
	}
	.followPopupContent ul li h5 {
		padding:0 48px 0 0;
	    margin: 1px auto;
	    font-family: 'Museo Slab';
	    font-size: 22px;
	    font-weight: normal;
	    position: relative;
	}

	.followPopupContent ul li h6 {
	    font-family: 'Gibson';
	    color: rgb(234, 183, 93);
	    font-size: 15px;
	    margin: 5px auto auto;
	    padding: 0;
	    font-weight: normal;
	}
	.followPopupContent ul li p{
		font-size: 12px;
	    font-weight: 300;
	    line-height: 16px;
	    font-family: 'Gibson';
	}
	.followPopupContent ul li p b{
		font-size: 12px;
	    line-height: 16px;
	    font-family: 'Gibson';
	}




	.followPopupContent button.md-button.md-ink-ripple {
	    background: rgb(85, 158, 136);
	    width: 100%;
	    height: 37.5px;
	    font-size: 16px;
	    font-family: 'Museo Slab';
	    font-weight: normal;
	}
	.social_ic {
	    display: flex;
	    padding: 0 10px;
	}
	.social_ic .md-icon-button {
	    height: auto;
	    width: auto;
	    flex: auto;
	    margin: 0;
	    padding: 35px 7px;
	    max-width: 69px;
	}
	.social_ic md-icon {
	    height: auto;
	    width: auto;
	}
	.start_conv {
	    color: #fff;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 20px 10px 30px;
	}
	.start_conv > div {
	    font-size: 20px;
	    font-family: 'Gibson';
	    letter-spacing: 0;
	}
	.start_conv .md-icon-button {
	    width: auto;
	    height: auto;
	    margin: 0;
	    padding-left: 3px;
	}
	.start_conv .md-icon-button md-icon {
	    width: 46px;
	    height: auto;
	}


	.start_conv_message {
	    color: #fff;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 30px 20px 30px 30px;
	    background: #302f3f;
	    border-top: 1px solid #403f57;
	}
	.start_conv_message > div:first-child {
	    flex: 0 0 76%;
	    overflow: hidden;
	}
	.start_conv_message h3 {
	    font-family: 'Museo Slab';
	    font-size: 24.5px;
	    line-height: 20px;
	    letter-spacing: 0;
	    margin: 0;
	    font-weight: normal;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    padding-top: 3px;
	    padding-bottom: 2px;
	}
	.start_conv_message p {
	    font-weight: 500;
	    font-size: 10px;
	    letter-spacing: 0.75px;
	    color: #fff;
	    margin-bottom: 0;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    margin-top: 8px;
	}
	.start_conv_message .md-icon-button img {
	    max-width: 19px;
	}
	.start_conv_message .md-icon-button {
	    background: #343442;
	    border: 6px solid #2d2d39;
	    width: 48px;
	    height: 48px;
	    padding: 0;
	    line-height: normal;
	}
	.start_conv_message .md-icon-button md-icon {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.learnmore {
	    background: #48475c;
	    color: #fff;
	    font-family: 'Museo Slab';
	    font-weight: 700;
	    text-transform: uppercase;
	    font-size: 12px;
	    letter-spacing: 1.5px;
	    padding: 13PX 25px;
	}
	.learnmore a {
	    color: #559e88;
	}

	.candidate_details{
	    .candidate_detailsTitle{
	        color: #fff;
	        font-family: 'Museo Slab';
	        font-weight: 700;
	        text-transform: uppercase;
	        font-size: 24px;
	        display: flex;
	        justify-content: space-between;
	        align-items: center;
	        padding:0px;
	        > div {
	            padding: 20px;
	        }
	    }
	    .candidateList {
	        background: rgb(66, 65, 85);
	        padding: 30px;
	        color:#fff;
	        border-bottom:1px solid #504F6B;
	        .title{
	            font-size: 26px;
	            font-weight: 700;
	            font-family: 'Museo Slab';
	        }
	        .republican {
	        	background: #d2304f;
	        }
	        .democrat {
	        	background: #527a97;
	        }
	        .democratic {
	        	background: #527a97;
	        }
	        .independent {
	        	background: #878787;
	        }
	        .libertarian {
	        	background: #3d1e68;
	        }
	        .green {
	        	background: #7eab5b;
	        }
	        .notselected {
	        	background: #878787;
	        }

	        .type{
	           /* background: rgb(82, 122, 151);*/
	            font-size: 18.5px;
	            letter-spacing: 0.87pt;
	            font-weight: 500;
	            padding: 5px 7px 1px;
	            display: inline-block;
	            border-radius: 4px;
	            font-family: 'Museo Slab';
	            margin: 4px auto;
	        }
	        .socialInfo{
	            font-family: "Gibson";
	            font-size:15px;
	            font-weight: normal;
	            a {
	            	display: block;
	    			word-break: break-all;
	            }
	        }
	    }
	    button.searchresult_btn  {
	        background: rgb(247, 192, 93) !important;
	        color: rgb(78, 77, 98);
	        text-align: center;
	        width: 100%;
	    }
	 	.followPopupOverlay{
	 		z-index:100;
	 	}
		.followPopupContent {
		    font-size: 16px;
		    line-height: 28px;
		    ul li h5{
		    padding-right:0;
			color: rgb(234, 192, 94);
			font-size: 15px;
			line-height: 30px;
			font-weight: normal;
		    }
		}
		.followPopupHeader{
			color: #fff;
		    font-family: 'Museo Slab';
		    font-weight: 700;
		    text-transform: uppercase;
		    font-size: 24px;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-pack: justify;
		    justify-content: space-between;
		    -ms-flex-align: center;
		    align-items: center;
		    padding: 0px;
		    > div{
		    	padding:20px;
		    }
		}
		.followPopupContent button.md-button.md-ink-ripple{
		    letter-spacing: 2px;
		}
		.md-body {
		  display: flex;
		  flex-direction: column;
			.stickyHeader,
			.stickyFooter {
			  flex: 0 0 auto;
			}
			.stickyContent {
			  flex: 1 1 auto;
			  overflow-y: scroll;
			  padding-bottom: 63px;
			}
		}
	}
}
