page-follow-elected-officials {
	ion-content.content{
		&.workWithOrganizations{
			.scroll-content{
			    display: flex;
			    flex-direction: column;
			    justify-content: space-between;
			    padding-bottom:0 !important;
			}
			.workWithOrganizations-top{
				margin-top: 10%;
				margin-bottom: 10%;
				.headTitles{
				    margin: auto auto 1.5em;
					width:auto;
					.headToolbar{
						zoom: 1;
						padding:0 11%;
						&:before,
						&:after {content: "";display: table;}
						&:after {clear: both;}
						.closeBtn{float: right;}
					}
					h3{
						color: #f9bf00;
						font-family: 'Fjalla One';
						text-align: center;
						margin: auto auto 10px;
						padding: 0;
						font-weight: normal;
						letter-spacing: 0.5px;
						font-size: 5vw;
					}
					h2{
					    color: #fff;
					    font-family: Yanone Kaffeesatz;
					    font-weight: bold;
					    font-size: 11vw;
					    text-align: center;
					    margin: auto;
					    padding: 0;
					    line-height: 1em;
					}
				}
				.progressListWrap{
					max-width: 370px;
					width: 78%;
					margin:2em auto;
					.progressList{
						display: flex;
						align-items:flex-start;
						justify-content: space-between;
						.progressListIteam{
							flex: 1 1 auto;
							padding:5px;
							display: flex;
							align-items:flex-end;
							.progressListBox{
								width: 100%;
								padding-top:100%;
								border-radius:50%;
								background: rgba(28, 24, 41, 24);
								display: inline-block;
								position:relative;
							    transition: all 0.3s linear;
							    position:relative;
								img {
								    position: absolute;
								    bottom: 0;
								    left: 0;
								    right: 0;
								    width: 100%;
								    opacity: 0;
								    transition: all 0.3s linear;
								}
								&.activated{
									z-index: 1;
									background: rgba(28, 24, 41, 0);
							    	transform: scale(1.7);
							    	&:after{
							    		border-radius:50%;
							    		transform: scale(1);
							    		content: "";
							    		box-shadow:0 2px 50px 0 #000000;
							    		top:5%;
							    		right:5%;
							    		bottom:5%;
							    		left: 5%;
							    		display: inline-block;
							    		position:absolute;
							    		z-index: -1;
							    	}
									img{
								    	opacity: 1;
									}

								}
							    svg {
								    position: absolute;
								    bottom: 0;
								    left: 0;
								    right: 0;
								    width: 100%;
								    opacity: 0;
								    transition: all 0.3s linear;
								    top:auto;
								    margin: auto;
								    height: auto;
								}
								&.completed{
									background: rgba(28, 24, 41, 0);
								    svg{
										opacity: 1;
								    }
								}
							}
						}
					}
				}
				.cmessageWrap{
					p{
						font-family: 'Gibson';
						font-weight: 300;
						font-size: 4.26vw;
						letter-spacing: 0.03em;
						line-height: normal;
						text-align: center;
						color: #fff;
						margin:1.5em auto auto;
						span{
							font-weight:500;
							&.text-orange{
								color: #E7BB5B;
							}
						}
					}
					h4{
						font-family: 'Yanone Kaffeesatz';
						font-weight: bold;
						font-size: 6.5vw;
						letter-spacing: 0.04em;
						line-height: normal;
						text-align: center;
						color: #fff;
						text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.18);
						margin: 0.5em auto 1em;
					}
				}
				.btnArea{
					max-width: none;
					width: auto;
				    margin-left: 20%;
				    margin-right: 20%;
				    display: flex;
				    justify-content: space-between;
					button.btn{
					    font-family: Yanone Kaffeesatz;
					    font-weight: bold;
					    font-size: 18px;
					    text-align: center;
					    letter-spacing: 2px;
					    border-radius: 24px;
					    height: 48px;
					    line-height: 48px;
					    padding-left: 1.5em;
					    padding-right: 1.5em;
					    background: #e2b159;
					    color: #24242d;
					    display: block;
					    width: 100%;
					    margin: auto;
						span{display:inline-block;}
						&.btn-half{
						    max-width: calc(50% - 10px);
						}
						&.btn-warning{
							background-color: #efefef;
						    color: #1c1c1c;
						}
						&.btn-secondary{
						    background: #e2b159;
						    color: #24242d;
							&:disabled{
								background: #9c7837;
								color:#AB8541;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	ion-footer.footer{
		border: 0 none;
		background:transparent;
		text-align: center;
		position: static;
		margin: auto auto 10%;
		&:before{
			border: 0 none;
			background:transparent;
		}
		.workWithOrganizations-bottom{
			.cmessage{
				margin:auto auto ;
				max-width: 370px;
				width: 78%;
				svg{
					display: block;
					margin:  auto auto 1em;
					width: 14.3vw;
				}
				h4{
				    font-family: 'Gibson';
				    font-size: 4vw;
				    font-weight: 500;
				    font-stretch: normal;
				    font-style: normal;
				    line-height: normal;
				    letter-spacing: 0.19px;
				    text-align: center;
				    color: #ffffff;
				}
				p{
					  font-family: Gibson;
					  font-size:3.64vw;
					  font-weight: normal;
					  font-stretch: normal;
					  font-style: normal;
					  line-height:normal;
					  letter-spacing: 0.3px;
					  text-align: center;
					  color: rgba(255,255,255,0.53);
				}
			}			
		}
	}
}
