<!--
    Generated template for the AddEventsActivitiesPage page.
    
    See http://ionicframework.com/docs/components/#navigation for more info on
    Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar hideBackButton>
        <div class="headToolbar">
            <!-- <span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#282333"/></svg></span> -->
            <span class="closeBtn" (click)="cancel()">
                <svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056">
                    <g id="close" transform="translate(0.633 0.528)">
                        <path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/>
                    </g>
                </svg>
            </span>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding parallax-header scroll-events="true" class="add-events-activities">
    <div class="HeaderBox">
        <div class="headTitles">
            <div class="logotitle">{{eventName | uppercase}}</div>
            <h2>EDIT SCHEDULE</h2>
            <p>Thank you for attending this event, to get<br> started, check-in below and get </p>
        </div>
    </div>
    <div class="main-content">
        <ion-list class="causeList">
	        <ion-item  *ngFor="let activity of eventActivity let i = index"   [ngClass]="{'little-revet-design' : activity.isChecked==false}">
	          <ion-label>
                <div class="pos-plus-icon" *ngIf="!activity.isChecked">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.507" height="16.507" viewBox="0 0 16.507 16.507"><g id="plus-icon-2" transform="translate(8.21) rotate(45)"><path id="Path" d="M10.243.2a.917.917,0,0,1,1.282,1.3l-.063.069L7.171,5.8l4.289,4.237a.917.917,0,0,1-1.218,1.367l-.07-.062L5.867,7.094,1.561,11.347l-.07.062a.917.917,0,0,1-1.282-1.3l.063-.069L4.561,5.8.273,1.569A.917.917,0,0,1,1.491.2l.07.062L5.867,4.517,10.173.264Z" transform="translate(0 0)" fill="#f9f0df"/></g></svg>
                </div>
	            <h6 class="date-n-time"><span class="txt-bold">{{activity.date}} -</span> {{activity.starttime}} - {{activity.endtime}}</h6>
	            <h2 class="title">{{activity.activity_title }}</h2>
                <h6 class="sub-txt" *ngIf="!activity.isChecked">{{activity.administator_name}}</h6>
	            <p class="address">{{activity.location}} {{activity.formatted_address }}</p>
	          </ion-label>
	          <ion-checkbox name="activitylist" [(ngModel)]="activity.isChecked" (click)="insertActivity(activity)"></ion-checkbox>
	        </ion-item>
           
	    </ion-list>
        <div class="loaderWrap" *ngIf="loaderShow">
            <ion-spinner name="dots"></ion-spinner>
            <!-- <ion-spinner name="bubbles"></ion-spinner> -->
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="btnArea">
        <div class="btnGroup">
            <button ion-button class="btn btn-success"  (click)="addToProfile()" >UPDATE SCHEDULE</button>
        </div>
    </div>
</ion-footer>