page-add-events-activities {
	background-color: #F9F0E0;
	ion-footer.footer {
        border: 0 none;
		background: transparent;
		text-align: center;
		margin: 0;
		padding: 0 5.3% 28px;
        &:before {
            border: 0 none;
            background: transparent;
        }
		.btnArea {
			max-width: none;
			width: auto;
			margin-left: 0;
			margin-right: 0;
			display: flex;
			justify-content: center;
            text-align: center;

			button.btn {
				width: fit-content;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: -ms-fit-content;
                width: -o-fit-content;
                height: 45px;
                line-height: 45px;
                border-radius: 30px;
                border: 3px solid #19171F;
                background-color: #F1E9D5;
                color: #2B2635;
                font-size: 14px;
                font-family: 'Museo Slab';
                font-weight: 900;
                text-transform: uppercase;
                padding: 0px 26px;
            }
        }
    }

    ion-header.header{
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        background-color: #F9F0E0;
        &:after{display: none;}
        ion-navbar.toolbar{
            overflow: unset;
            transform: none !important;
            contain: none !important;
            padding: 0px 33px 0 !important;
            min-height: 0 !important;
            .goBackBtn {
                position: absolute;
                top: 49px;
                /* top: calc(env(safe-area-inset-top) + 63px); */
                left: 40px;
            }

            .closeBtn {
                position: absolute;
                top: 49px;
                /* top: calc(env(safe-area-inset-top) + 63px); */
                right: 40px;
            }
            .navList{
                margin-bottom: 0px;
                position: relative;
                display: flex;
                justify-content: space-between;
                padding-bottom: 16px;
                #headerStrocke{
                    display:block;
                    margin: 0 auto 0 0;
                    height: 3px;
                    background:#4b3c75;
                    transition: all 0.3s ease-in-out;
                    width: 56px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: 0;
                    left:0;
                    right: 0;
                    width: auto;
                }
                .progressBar {
                    display: flex;
                    align-items: flex-end;
                    span{
                        width: 9px;
                        height: 9px;
                        display:block;
                        border: solid 1px #bfb29b;
                        background-color: #bfb29b;
                        border-radius: 50%;
                        &:nth-of-type(1n+2){margin-left: 10px;}
                        &.active{
                            background-color: #28243d;
                            border-color: #28243d;
                        }
                    }
                }
                .navIteam{
                    display: inline-block;
                    font-family: 'Gibson';
                    font-size: 19px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 2.02px;
                    text-align: center;
                    color: #4b3c75;
                    padding-bottom:0;
                }
                
                .yourPowrscore{
                    display: flex;
                    margin: 0px 0 0px;
                    width: 206px;
                    .title{
                        border-radius: 5px 0 0 5px;
                        background-color: #282333;
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 34px;
                        letter-spacing: 2.32px;
                        text-align: center;
                        color: #ffffff;
                        flex: 1 1 auto;
                        padding: 0 13px;
                    }
                    .count{
                        border-radius: 0 5px 5px 0;
                        font-family: 'Gibson';
                        font-size: 18px;
                        font-weight: 300;
                        width: 54px;
                        font-stretch: normal;
                        font-style: normal;
                        line-height:  34px;
                        letter-spacing: 0.66px;
                        text-align: center;
                        color: #f6f6f6;
                        background-color: #df45a2;
                        padding: 0 13px;
                        flex: 1 0 54px;
                    }
                }
            }
        }
        .toolbar-background{
            display: none;
        }
    }

    ion-content.content {
        &.add-events-activities {
            .fixed-content {
                margin-top: 0px !important;
            }
            .scroll-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 16px 36px 90px !important;
                margin-bottom: 0px !important;
            }
            &.content-ios{
                .addCause-top {
                    padding-top: 169px;
                }
            }
            .addCause-top {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                background-color: #F9F0E0;
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0;
                margin-right: 0;
                padding: 45px 33px 4px;
                /* padding-top: 169px; */
                .headTitles {
                    margin: auto auto 0;
                    width: auto;
                    .headToolbar {
                        zoom: 1;
                        padding: 0 11%;
                        &:before,
                        &:after {
                            content: "";
                            display: table;
                        }
                        &:after {
                            clear: both;
                        }
                    }
                    .logotitle {
                        font-family: 'Gibson';
                        font-size: 21px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        letter-spacing: 5px;
                        color: #282333;
                        text-transform: uppercase;
                    }
                    h2 {
                        color: #282333;
                        font-family: 'Museo Slab';
                        font-weight: 700;
                        font-size: 33px;
                        text-align: left;
                        line-height: 31px;
                        letter-spacing: 0.81px;
                        margin: 8px 0px 18px;
                        padding: 0;
                    }
                    p {
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        text-align: left;
                        margin: 0;
                        font-family: 'Gibson';
                        font-size: 17px;
                        letter-spacing: 1px;
                        color: #282333;
                    }
                }
            }

            .HeaderBox {
                padding: 66px 0px 0px;

                .headTitles {
                    .logotitle {
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        letter-spacing: 5px;
                        color: #282333;
                        text-transform: uppercase;
                    }
                    h2 {
                        color: #282333;
                        font-family: 'Museo Slab';
                        font-weight: 700;
                        font-size: 33px;
                        text-align: left;
                        line-height: 31px;
                        letter-spacing: 0.81px;
                        margin: 8px 0px 18px;
                        padding: 0;
                    }
                    p{
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        text-align: left;
                        margin: 0;
                        font-family: 'Gibson';
                        font-size: 17px;
                        letter-spacing: 1px;
                        color: #282333;
                    }
                }
            }

            .main-content {
               background: #F9F0E0;
                padding: 38px 0px 40px;
                margin-top: 0;
                margin-bottom: auto;
            }
            ion-list.list{
                margin: 0px;

                ion-item.item.item-block {
                    -webkit-box-flex: 0;
                    -webkit-flex: 0 0 100%;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    width: 100%;
                    margin: 0px 0px 40px;
                    padding: 0px;
                    overflow: unset;
                    contain: unset;
                    border: 0;
                    background: transparent;

                    .item-inner {
                        margin: 0;
                        padding: 0;
                        border: 0 none;
                        overflow: unset;
                        padding: 54px 36px 44px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        border: solid 3px #272432;
                        background-color: #272432;
                        transition: all 0.3s linear;

                        .input-wrapper {
                            overflow: unset;
                        }

                        ion-label.label {
                            margin: 0;
                            padding: 0;
                            border: 0 none;
                            text-align: center;
                            white-space: normal;
                            // position: relative;

                            .pos-plus-icon {
                                position: absolute;
                                top: 22px;
                                right: 26px;
                                width: 14px;
                                height: 14px;
                                line-height: 14px;

                                svg {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .date-n-time {
                                width: 100%;
                                text-align: left;
                                font-size: 13px;
                                line-height: 17px;
                                color: #F9F0DF;
                                letter-spacing: 1px;
                                font-weight: normal;
                                font-family: 'Gibson';
                                margin: 0px 0px 12px;
                                .txt-bold {
                                    font-weight: bolder;
                                }
                            }
                            .title {
                                width: 100%;
                                text-align: left;
                                font-size: 21px;
                                line-height: 26px;
                                color: #F9F0DF;
                                font-weight: 700;
                                font-family: 'Museo Slab';
                                margin: 0px 0px 18px;
                            }
                            .sub-txt {
                                width: 100%;
                                text-align: left;
                                font-size: 11px;
                                line-height: 20px;
                                color: #F9F0DF;
                                font-family: 'Gibson';
                                font-weight: normal;
                                margin: 0;
                            }
                            .address {
                                width: 100%;
                                text-align: left;
                                font-size: 13px;
                                line-height: 21px;
                                color: #F9F0DF;
                                letter-spacing: 1px;
                                font-family: 'Gibson';
                                font-weight: normal;
                                margin: 24px 0px 0px;
                                padding: 20px 0px 0px;
                                border-top: 0.5px solid #F9F1E0;
                            }
                        }
                    }

                    ion-checkbox.checkbox {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        bottom: 4px;
                        left: 4px;
                        padding: 0;
                        margin: 0;

                        .checkbox-icon {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: auto;
                            left: auto;
                            background-image: url("data:image/svg+xml,%3Csvg id='Group_8' data-name='Group 8' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 32.9'%3E%3Crect id='Rectangle_Copy' data-name='Rectangle Copy' width='33' height='32.9' rx='16.45' transform='translate(0 0)' fill='%23272736'/%3E%3Cg id='Group_8-2' data-name='Group 8' transform='translate(10 12)'%3E%3Cpath id='Shape' d='M3.458,9.084a1.362,1.362,0,0,0,1.008.438,1.421,1.421,0,0,0,1.008-.438l6.117-6.512a1.574,1.574,0,0,0,0-2.13,1.354,1.354,0,0,0-2,0L4.452,5.881,2.416,4.009a1.354,1.354,0,0,0-2,0,1.574,1.574,0,0,0,0,2.13Z' transform='translate(0.681 0.639)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-color: transparent;
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            border: 0;
                            border-radius: 0;
                            width: 33px;
                            height: 33px;
                            transform: translate(35%, -35%);
                            transition: all 0.3s linear;
                            opacity: 0;

                            .checkbox-inner {
                                display: none;
                            }

                            &.checkbox-checked {
                                opacity: 1;
                            }
                        }
                    }

                    &.item-checkbox-checked {
                        .item-inner {
                            border-color: #FFFFFF;
                            background-color: #FFFFFF;

                            ion-label.label {
                                .date-n-time, h6 {
                                    color: #19171F;
                                }
                                .title, h2 {
                                    color: #19171F;
                                }
                                .sub-title {
                                    color: #19171F;
                                }
                                .address {
                                    color: #19171F;
                                    border-color: #19171F;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
