page-elections {
     .accordian_list {
        background-color: #f4eee2;
        display: flex;
        flex-direction: column;
        min-height: 100%;

        .accordian_listIteam {
            flex: 0 0 auto;
            @include clearfix();

            &.iteamHeader {
                flex: 0 0 auto;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 35px 0 20px;
                /* padding: calc(env(safe-area-inset-top) + 37px) 0 0px; */
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0px;
                margin-right: 0px;

                .newHeaderBox {
                    padding: 0;
                    flex: 1 1 auto;

                    .headerBox {
                        min-height: 162px;
                        display: flex;
                        flex-direction: column;
                        padding: 0 42px 0px;
                        @media(max-width:360px){
                            padding: 0 36px 0px;
                        }
                        span.closeBtn {
                            width: 22px;
                            margin-left: auto;
                            margin-top: 25px;
                            transform: translateY(16px);
                        }
                        .logotitle {
                            font-family: 'Gibson';
                            font-size: 11px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 18px;
                            letter-spacing: 5px;
                            color: #282333;
                            text-transform: uppercase;
                        }

                        .getEngaged {
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 55px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 43px;
                            letter-spacing: normal;
                            color: #282333;
                            margin-bottom: 18px;
                            margin-top: 10px;
                            text-transform: uppercase;
                        }

                        .tagLine {
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 17px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 25px;
                            letter-spacing: 1px;
                            color: #282333;
                        }

                        .dropDownWrap {
                            display: inline-block;
                            margin-top: auto;

                            .dropDown {
                                position: relative;
                                display: block;

                                button.toggleBtns {
                                    padding: 0 40px 0 10px;
                                    border: solid 2px #353647;
                                    background-color: #efe7d4;
                                    background-position: right 10px center;
                                    background-repeat: no-repeat;
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.32 4.48'%3E%3Cg id='Group' transform='translate(-0.28 4.72) rotate(-90)'%3E%3Cg id='Path'%3E%3Cpath id='Path-2' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='%23292535'/%3E%3Cpath id='Path-3' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                                    background-size: auto 6px;
                                    width: 100%;

                                    h5 {
                                        font-family: 'Gibson';
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 26px;
                                        letter-spacing: normal;
                                        color: #282333;
                                        text-align: left;
                                        margin: 0;
                                        padding: 0;
                                    }
                                }

                                ul.showDropDown {
                                    margin: auto;
                                    padding: 0;
                                    list-style: none;
                                    position: absolute;
                                    top: calc(100% - 1px);
                                    left: -1px;
                                    right: -1px;
                                    background: #fff;
                                    border: 0 solid #46465b;
                                    border-radius: 0 0 4px 4px;
                                    z-index: 0;
                                    transition: all 0.3s ease-in-out;
                                    max-height: 0;
                                    overflow: hidden;

                                    &.open {
                                        max-height: 100vh;
                                        border-width: 1px;
                                    }

                                    li {
                                        border-top: 0 none;
                                        padding: 10px 20px;
                                        font-family: 'Fjalla One';
                                        font-size: 12px;
                                        line-height: normal;
                                        letter-spacing: 0.26px;
                                        color: #23232e;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        letter-spacing: 0.61px;
                                        text-align: left;
                                        text-transform: uppercase;
                                        display: flex;
                                        align-items: center;
                                        justify-self: start;

                                        &.active {
                                            background-color: #f3f3f3;
                                        }

                                        &:nth-of-type(1n+2) {
                                            border-top: 1px solid #3d3e4f;
                                        }
                                    }
                                }
                            }

                            .loctionBox {
                                font-family: 'Gibson';
                                font-size: 14px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 24px;
                                letter-spacing: normal;
                                color: #282333;
                                text-align: left;
                                margin: 0;
                                padding: 0 30px 0 10px;
                                border: solid 2px #353647;
                                background-color: #efe7d4;
                                display: inline-block;
                            }

                            .badgeList {
                                list-style: none;
                                margin: 0px 0px 0;
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;

                                li {
                                    margin: 0;
                                    padding: 0;
                                    flex: 1 0 auto;

                                    .badge {
                                        display: block;
                                        font-family: 'Fjalla One';
                                        font-size: 19px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.59;
                                        letter-spacing: normal;
                                        color: #fff;
                                        padding: 0 10px;
                                        margin: 0px;
                                        text-transform: uppercase;

                                        &.bg-purple {
                                            background-color: #4a3b70;
                                        }

                                        &.bg-lightblue {
                                            background-color: #87b8d1;
                                        }

                                        &.bg-violet {
                                            background-color: #b46cb7;
                                        }

                                        &.bg-lightpink {
                                            background-color: #f7d1d1;
                                        }

                                        &.bg-pink {
                                            background-color: #ff9797;
                                        }

                                        &.bg-republican {
                                            background-color: #C94643
                                        }

                                        &.bg-democrat {
                                            background-color: #405AA6
                                        }

                                        &.bg-libertarian {
                                            background-color: #7F3FD6
                                        }

                                        &.bg-green {
                                            background-color: #39A337
                                        }

                                        &.bg-green-party {
                                            background-color: #39A337
                                        }

                                        &.bg-independent {
                                            background-color: #737373
                                        }

                                        &.bg-nonpartisan {
                                            background-color: #000;
                                        }

                                        &.bg-non-partisan {
                                            background-color: #000;
                                        }

                                        &.bg-write-in {
                                            background-color: #000;
                                        }

                                        &.bg-gray {
                                            background-color: #5F5F5F;
                                        }

                                        &.bg-blue {
                                            background-color: #374793;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .loctionWrap {
                        display: flex;
                        align-items: center;
                        margin-top: 18px;
                        .loctionBox {
                            font-family: 'Gibson';
                            font-size: 14px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 26px;
                            letter-spacing: normal;
                            color: #282333;
                            text-align: left;
                            margin: 0;
                            padding: 0 30px 0 10px;
                            border: solid 2px #353647;
                            background-color: #efe7d4;
                            display: inline-block;
                            border-radius: 15px;
                            flex: 1 0 auto;
                            @media(max-width:360px){
                                font-size: 13px;
                            }
                        }
                        
                        ion-segment.segment {
                    justify-content: center;
                    border: 0 none;
                    // border-bottom: 3px solid #e6ded0;
                    padding: 0 0px 0px;
                    margin-left: 15px;
                    margin-right: auto;
                    justify-content: flex-start;
                    flex: 0 0 auto;
                    @media(max-width:360px){
                        margin-left: 0px;
                    }
                    ion-segment-button.segment-button {
                        display: inline-block;
                        font-family: 'Gibson';
                        font-size: 13px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #282333;
                        background: transparent;
                        border-radius: 0;
                        contain: inherit;
                        width: auto;
                        border: 0 none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 0px -3px;
                        padding: 10px ;
                        height: auto;
                        flex: 0 0 auto;
                        opacity: 1;
                        overflow: inherit;
                        &:after{
                            content: "";
                            height: 3px;
                            background-color: rgba(108, 168, 112, 0);
                            display: block;
                            position: absolute;
                            bottom: 2px;
                            left: 0;
                            right: 0;
                            top: auto;
                            width: 30px;
                            margin: auto;
                        }
                        span.title {
                            width: 30px;
                            height: 28px;
                            display: block;
                            background-position: center;
                            background-repeat: no-repeat;
                            text-align: center;
                            &.civicAgenda{
                                background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='24' viewBox='0 0 28 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23282333' fill-rule='nonzero' stroke='%23282333' stroke-width='1.19'%3E%3Cg%3E%3Cpath d='M25.207 0c.32 0 .653.243.653.65h0v18.202c0 .408-.332.651-.653.651-.21 0-.403-.099-.53-.272-1.124-1.534-3.45-3.363-8.143-3.363h0-2.696l1.712 5.357c.074.23.034.474-.108.67-.143.195-.364.308-.606.308h0-3.22c-.327 0-.614-.21-.714-.522h0l-1.858-5.813H6.266c-.035 0-.066-.008-.096-.022-2.308-.045-4.217-1.73-4.613-3.937h0-.242C.59 11.91 0 11.32 0 10.595h0V8.891c0-.724.59-1.314 1.315-1.314h.242c.401-2.237 2.358-3.942 4.709-3.942h10.268c4.693 0 7.02-1.829 8.144-3.363.126-.173.32-.272.529-.272zm-10.28 20.789H11.1l.24.752c.04.12.15.2.276.2h3.22c.092 0 .177-.043.232-.118.055-.075.07-.17.042-.258h0l-.185-.576zm-1.548-4.841H9.554l1.4 4.379h3.825l-1.4-4.379zM25.207.462c-.044 0-.107.014-.157.083-1.188 1.62-3.63 3.552-8.516 3.552h0H6.496v11.31h10.038c4.886 0 7.328 1.931 8.516 3.552.05.068.113.083.157.083.077 0 .191-.05.191-.19h0V.651c0-.14-.114-.19-.191-.19zM6.035 4.102c-2.279.121-4.096 2.013-4.096 4.321h0v2.64c0 2.308 1.817 4.2 4.096 4.32h0zM1.497 8.04h-.182c-.47 0-.853.382-.853.852h0v1.704c0 .47.382.853.853.853h.182c-.01-.128-.02-.255-.02-.385h0v-2.64c0-.13.01-.257.02-.384h0zm20.127-1.983c.09-.071.212-.045.273.06.061.106.038.25-.052.322C20.296 7.678 18.32 8.28 15.8 8.28h0-5.577c-.109 0-.197-.103-.197-.23 0-.128.088-.231.197-.231H15.8c2.437 0 4.342-.577 5.824-1.763z' transform='translate(-321 -231) translate(322 232)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            }
                            &.engagement{
                                background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23282333' stroke='%23282333' stroke-width='.655'%3E%3Cg%3E%3Cpath d='M18.967 0c.308 0 .563.227.607.523l.006.09v1.878h1.945c1.41 0 2.566 1.103 2.653 2.49l.005.168v16.53c0 1.41-1.102 2.565-2.49 2.652l-.168.006H2.658c-1.41 0-2.566-1.102-2.653-2.49L0 21.68V5.15c0-1.41 1.102-2.566 2.49-2.653l.168-.005h1.945V.614c0-.34.275-.614.614-.614.308 0 .563.227.607.523l.006.09v1.878h12.523V.614c0-.34.275-.614.614-.614zM4.603 3.719H2.658c-.742 0-1.354.568-1.424 1.292l-.006.138v16.53c0 .742.568 1.354 1.292 1.423l.138.007h18.867c.742 0 1.354-.568 1.424-1.292l.006-.138V5.15c0-.742-.568-1.354-1.292-1.424l-.138-.006H19.58v1.56c0 .339-.274.614-.613.614-.308 0-.564-.227-.608-.523l-.006-.091v-1.56H5.83v1.56c0 .339-.274.614-.613.614-.308 0-.564-.227-.608-.523l-.006-.091v-1.56zm1.534 13.83l.105.006c.444.052.788.43.788.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.97 0c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0c.492 0 .892.4.892.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.399-.893.892-.893zm-7.94-3.766l.105.006c.444.052.788.43.788.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.97 0c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0l.103.006c.444.052.789.43.789.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.968 0c.493 0 .893.4.893.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.4-.893.892-.893zm-7.938-3.766c.493 0 .893.4.893.893s-.4.892-.893.892-.893-.4-.893-.892c0-.493.4-.893.893-.893zm3.97 0l.103.006c.444.052.789.429.789.887 0 .493-.4.892-.893.892s-.892-.4-.892-.892c0-.458.344-.835.788-.887l.104-.006zm3.968 0c.493 0 .893.4.893.893s-.4.892-.893.892-.892-.4-.892-.892c0-.493.4-.893.892-.893zm-2.095-4.86c.34 0 .614.274.614.613 0 .308-.227.563-.523.607l-.09.007H8.232c-.34 0-.614-.275-.614-.614 0-.308.227-.563.523-.607l.09-.007h7.718z' transform='translate(-264 -230) translate(265 231)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            }
            }

                        span.badge {
                            min-width: 24px;
                            line-height: 20px;
                            border-radius: 4px;
                            border: solid 2px #282333;
                            background-color: #282333;
                            font-family: 'Museo Slab';
                            font-size: 12px;
                            font-weight: 800;
                            font-stretch: normal;
                            font-style: normal;
                            letter-spacing: -0.59px;
                            color: #efe7d4;
                            padding: 0 2px;
                            margin: 0 10px 0px 0;
                            display: inline-block;
                            text-align: center;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: translate(16px, -3px);
                            @media(max-width:360px){
                                font-size: 10px;
                                transform: translate(8px, -2px);
                                line-height: 16px;
                                min-width: 20px;
                            }
                            &.newmsg {
                                color: #282333;
                                background-color: #9bd29f;
                            }
                        }
                        
                        &.segment-activated {
                            &:after{
                                background-color:  rgba(108, 168, 112, 1);
                            }
                        }
                    }
                }
                    }

                    
                }

                button.button.button-default[color="dark"] {
                    height: 26px;
                    border-radius: 3px;
                    background-color: #353647;
                    font-family: 'Fjalla One';
                    font-size: 10px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: 2px;
                    color: #ffffff;
                }
            }
        }
    }
    .elections {
        &.accordian_list {
            background: #f4eee2;
            display: flex;
            flex-direction: column;
            min-height: 100%;
            padding: 0 42px 100px;
            @media(max-width:360px){
                padding: 0 36px 100px;
            }
            .main-content {
                background: #f4eee2;
                padding: 7px 0;
            }

            .accordian_listIteam {
                flex: 0 0 auto;
                @include clearfix();

                &.iteamHeader {
                    flex: 0 0 auto;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    padding: 162px 42px 50px;
                    background-color: #e6dfd1;
                    border-radius: 0 0 12px 12px;
                    border-radius: 0;
                    margin-left: 0px;
                    margin-right: 0px;

                    h2 {
                        font-family: 'Fjalla One';
                        font-size: 46px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.08;
                        letter-spacing: -2px;
                        color: #353647;
                        margin-top: 0;
                        margin-bottom: 20px;
                    }

                    .dropDown {
                        position: relative;

                        button.toggleBtns {
                            padding: 0 20px 0 0;
                            border-bottom: solid 2px #24232d;
                            background-color: transparent;
                            background-position: right center;
                            background-repeat: no-repeat;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.32 4.48'%3E%3Cg id='Group' transform='translate(-0.28 4.72) rotate(-90)'%3E%3Cg id='Path'%3E%3Cpath id='Path-2' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='%23292535'/%3E%3Cpath id='Path-3' data-name='Path' d='M3.182.246A.764.764,0,0,1,4.233.177a.67.67,0,0,1,.135.888l-.063.082L1.608,4.16,4.286,7.151l.06.072a.667.667,0,0,1-.036.844l-.077.075-.088.064a.769.769,0,0,1-.876-.051l-.087-.082L.2,4.736.128,4.654A.709.709,0,0,1,0,4.23L0,4a.664.664,0,0,1,.1-.3l.068-.089Z' transform='translate(0.241 0.28)' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            background-size: auto 6px;

                            h5 {
                                font-family: 'Yanone Kaffeesatz';
                                font-size: 19px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: 2px;
                                color: #353647;
                                text-align: left;
                                margin: 0;
                                padding: 0;
                            }
                        }

                        ul.showDropDown {
                            margin: auto;
                            padding: 0;
                            list-style: none;
                            position: absolute;
                            top: calc(100% - 1px);
                            left: -1px;
                            right: -1px;
                            background: #fff;
                            border: 0 solid #353647;
                            border-radius: 0 0 4px 4px;
                            z-index: 0;
                            transition: all 0.3s ease-in-out;
                            max-height: 0;
                            overflow: hidden;

                            &.open {
                                max-height: 100vh;
                                border-width: 1px;
                            }

                            li {
                                border-top: 0 none;
                                padding: 10px 20px;
                                font-family: 'Fjalla One';
                                font-size: 12px;
                                line-height: normal;
                                letter-spacing: 0.26px;
                                color: #23232e;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                letter-spacing: 0.61px;
                                text-align: left;
                                text-transform: uppercase;
                                display: flex;
                                align-items: center;
                                justify-self: start;

                                &.active {
                                    background-color: #f3f3f3;
                                }

                                &:nth-of-type(1n+2) {
                                    border-top: 1px solid #3d3e4f;
                                }
                            }
                        }
                    }

                    >svg {
                        margin-top: 30px;
                        margin-bottom: 16px;
                    }

                    .badgeList {
                        list-style: none;
                        margin: 20px -8px 20px 0;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            margin: 0;
                            padding: 0;

                            .badge {
                                display: block;
                                font-family: 'Fjalla One';
                                font-size: 27px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.59;
                                letter-spacing: normal;
                                padding: 0 10px;
                                background-color: #24232d;
                                color: #fff;

                                &.bg-members {
                                    background-color: #47455B;
                                }

                                &.bg-purple {
                                    background-color: #4a3b70;
                                }

                                &.bg-lightblue {
                                    background-color: #87b8d1;
                                }

                                &.bg-violet {
                                    background-color: #b46cb7;
                                }

                                &.bg-lightpink {
                                    background-color: #f7d1d1;
                                }

                                &.bg-pink {
                                    background-color: #ff9797;
                                }

                                &.bg-republican {
                                    background-color: #C94643
                                }

                                &.bg-democrat {
                                    background-color: #405AA6
                                }

                                &.bg-libertarian {
                                    background-color: #7F3FD6
                                }

                                &.bg-green {
                                    background-color: #39A337
                                }

                                &.bg-green-party {
                                    background-color: #39A337
                                }

                                &.bg-independent {
                                    background-color: #737373
                                }

                                &.bg-nonpartisan {
                                    background-color: #000;
                                }

                                &.bg-non-partisan {
                                    background-color: #000;
                                }

                                &.bg-write-in {
                                    background-color: #000;
                                }

                                &.bg-gray {
                                    background-color: #5F5F5F;
                                }

                                &.bg-blue {
                                    background-color: #374793;
                                }

                                &.city {
                                    background: #4a3b70;
                                }

                                &.federal {
                                    background: #374793;
                                }

                                &.county {
                                    background: #87b8d1;
                                }

                                &.state {
                                    background: #b46cb7;
                                }
                            }
                        }
                    }
                }

                .iteamBox {
                    padding: 20px 36px 20px;
                    position: relative;
                    border: solid 3px #282333;
                    background-color: #f7f7f7;
                    margin-top: -3px;
                    margin-left: 0;
                    margin-right: 0;

                    .badgeList {
                        list-style: none;
                        margin: 20px -6px 10px 0;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            margin: 3px;
                            padding: 0;

                            .badge {
                                display: block;
                                font-family: 'Fjalla One';
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 28px;
                                letter-spacing: 0.61px;
                                padding: 0 10px;
                                background-color: #24232d;
                                color: #fff;
                                border-radius: 4px;
                                margin: 0;

                                &.bg-members {
                                    background-color: #47455B;
                                }

                                &.bg-purple {
                                    background-color: #4a3b70;
                                }

                                &.bg-lightblue {
                                    background-color: #87b8d1;
                                }

                                &.bg-violet {
                                    background-color: #b46cb7;
                                }

                                &.bg-lightpink {
                                    background-color: #f7d1d1;
                                }

                                &.bg-pink {
                                    background-color: #ff9797;
                                }

                                &.bg-republican {
                                    background-color: #C94643
                                }

                                &.bg-democrat {
                                    background-color: #405AA6
                                }

                                &.bg-libertarian {
                                    background-color: #7F3FD6
                                }

                                &.bg-green {
                                    background-color: #39A337
                                }

                                &.bg-green-party {
                                    background-color: #39A337
                                }

                                &.bg-independent {
                                    background-color: #737373
                                }

                                &.bg-nonpartisan {
                                    background-color: #000;
                                }

                                &.bg-non-partisan {
                                    background-color: #000;
                                }

                                &.bg-write-in {
                                    background-color: #000;
                                }

                                &.bg-gray {
                                    background-color: #5F5F5F;
                                }

                                &.bg-blue {
                                    background-color: #374793;
                                }

                                &.city {
                                    background: #4a3b70;
                                }

                                &.federal {
                                    background: #374793;
                                }

                                &.county {
                                    background: #87b8d1;
                                }

                                &.state {
                                    background: #b46cb7;
                                }
                            }
                        }
                    }


                    .embed-responsive {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-left: -8px;
                        overflow: auto;
                        margin-right: 12px;

                        .embed-responsive-1by1 {
                            display: block;
                            width: 62px;
                            height: 62px;
                            flex: 0 0 62px;
                            margin: 0 3px;
                            position: relative;

                            .embed {
                                border: 5px solid #393752;
                                background-color: #393752;
                                border-radius: 100%;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                display: block;
                                z-index: 1;

                                span {
                                    border-radius: 100%;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center;
                                    background-color: #47455b;
                                    font-family: 'Gibson';
                                    font-size: 17px;
                                    font-weight: bold;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.03;
                                    letter-spacing: -0.38px;
                                    text-transform: uppercase;
                                    color: #ffffff;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    &.saturate {
                                        filter: saturate(25%) grayscale(1);
                                    }
                                }
                            }

                            &.white_border .embed {
                                border-color: #FCFCFC;
                            }

                            .indicators {
                                display: block;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                z-index: 2;
                                width: 23px;
                                height: 23px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                @include partys();
                                /*
                                width: 23px;
                                height: 23px;
                                border-radius: 5px;
                                background: #c94643;
                                border: 3px solid #393752;
                                font-family: 'Museo Slab';
                                font-size: 9px;
                                font-weight: 900;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 17px;
                                letter-spacing: normal;
                                color: #ffffff;
                                text-align:center;
                                &.bg-purple{background-color: #4a3b70;}
                                &.bg-lightblue{background-color: #87b8d1;}
                                &.bg-violet{background-color: #b46cb7;}
                                &.bg-lightpink{background-color: #f7d1d1;}
                                &.bg-pink{background-color: #ff9797;}
                                &.bg-republican { background-color: #C94643}
                                &.bg-democrat { background-color: #405AA6}
                                &.bg-libertarian { background-color: #7F3FD6}
                                &.bg-green { background-color: #39A337}
                                &.bg-independent { background-color: #737373}
                                &.bg-nonpartisan {background-color: #000;}
                                &.bg-write-in {background-color: #000;}
                                &.bg-gray{background-color: #5F5F5F;}
                                &.bg-blue{background-color: #374793;}
                                */
                            }

                        }
                    }

                    h2 {
                        font-family: 'Fjalla One';
                        font-size: 22px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 22px;
                        letter-spacing: 0.6px;
                        color: #47455b;
                        margin: 0 0 6px;
                        text-transform: uppercase;
                    }

                    p {
                        font-family: 'Fjalla One';
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 16px;
                        text-transform: uppercase;
                        letter-spacing: 0.61px;
                        color: #363547;
                        text-align: left;
                        margin: 0;
                    }

                    .btnToggle {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 30px;
                        left: auto;
                        width: 8px;
                        height: 13px;
                        display: block;
                        margin: auto;

                        svg {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}