<!--
  Generated template for the ActivityEvaluationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
	<div class="app-container msg-detail-app-container eventevaluation">
            <div class="eventevaluationHeader">
                <span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#e6decc"/></svg></span>
                <h3>
                    Activity Evaluation:

                </h3>
                <span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#e6decc"/></g></svg></span>
               
            </div>
            <div class="msgdetail-bg">

                <div class="eventDetailsContent">
                    <div id="divClipboard">
                       

                            <h6><span class="text-orange">Evaluation</span><br>
                                {{activityDetail.activity_title}}</h6>
                            <p>Once you complete the evaluation below you will receive an e-mail and message with your
                                <b>{{activityDetail.CEUCount}} CEU Credit(s)</b></p>
                            <hr>

                            <div class="eventDetailsContentBOx" *ngFor="let objective of questionFirstObj; let i = index" >
                                <h6 *ngIf="i==0">1. As a result of my participation in this activity, I am better able to:</h6>
                                <p>{{objective.objective}}</p>
                                <ion-list radio-group [(ngModel)]="objectiveValueQue1[objective.id]">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
                           
                            <div class="eventDetailsContentBOx" *ngFor="let objective of questionSecondObj; let i=index" >
                                <h6 *ngIf="i==0" class="mt-15">2. The following speakers demonstrated experiential knowledge of the topic</h6>
                                <p>{{objective.objective}}</p>
                                <ion-list radio-group [(ngModel)]="objectiveValueQue2[objective.id]">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
    
                            <div class="eventDetailsContentBOx">
                                <h6  class="mt-15">3.The content provided a fair and balanced coverage of the topic.
                                </h6>
                               
                                <ion-list radio-group [(ngModel)]="question3">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                               
                            </div>
                            <div class="eventDetailsContentBOx">
                                <h6 class="mt-15">4.The content was free of commercial bias
                                </h6>
                                <ion-list radio-group [(ngModel)]="question4">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="eventDetailsContentBOx">
                                <h6 class="mt-15">5.Speaker(s) fully disclosed any conflict of interest and discussion of off-label
                                    usage of medication and/or medical devices at beginning of, or during the
                                    presentation
                                </h6>
                                <ion-list radio-group [(ngModel)]="question5">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>

                            <div class="eventDetailsContentBOx">
                                <h6 class="mt-15">6. The individual objectives/content topics were cohesive with one another
                                </h6>
                                <ion-list radio-group [(ngModel)]="question6">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="eventDetailsContentBOx">
                                <h6 class="mt-15">7. This Activity enhanced my current knowledge base <span
                                        class="optional">(optional):</span></h6>
                                <ion-list radio-group [(ngModel)]="question7">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="eventDetailsContentBOx">
                                <h6 class="mt-15">8.I would recommend this activity to my colleauges <span
                                        class="optional">(optional):</span></h6>
                                <ion-list radio-group [(ngModel)]="question8">
                                    <ion-item>
                                        <ion-label word-wrap><b>4 </b><span class="label">STRONGLY AGREE</span></ion-label>
                                        <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>3 </b><span class="label">AGREE</span></ion-label>
                                        <ion-radio value="3"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>2 </b><span class="label">SOMEWHAT DISAGREE</span></ion-label>
                                        <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label word-wrap><b>1 </b><span class="label">STRONGLY DISAGREE</span></ion-label>
                                        <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div class="eventDetailsContentBOx">
                                <h6 class="mt-15">9. What topics would you like to be offered in the future? <span
                                        class="optional">(optional):</span></h6>
                                <textarea [(ngModel)]="question9"></textarea>

                            </div>
                            <div class="eventDetailsContentBOx">
                                <h6 class="mt-15">10.What, if any, reccomendations would you like to share for future improvement of
                                    this activity. <span class="optional">(optional):</span></h6>
                                <textarea [(ngModel)]="question10"></textarea>

                            </div>
                            <button ion-button type="button"  class="finishedBtn full-width fixed-bottom button md-ink-ripple" (click)="showactivityComplete()">SUBMIT!</button>
                    </div>
                </div>
            </div>
        </div>
        
</ion-content>
