page-activity-evaluation {
	.eventevaluation {
		.msgdetail-bg{
			height:100%;
		}
		.eventevaluationHeader{
			border-radius: 0px;
			margin: 0 -7px 5px -7px;
			padding: 14px 19px 14px 40px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background: #262533;
			border-top: 1px solid #494762;
			h3 {
			    color: #fff;
			    font-family: 'Museo Slab';
			    font-weight: 500;
			    font-size: 17.5px;
			    letter-spacing: 0.585px;
			    margin:0 auto 0 0;
			    text-transform: uppercase;
			}
			.goBackBtn {
            	position: absolute;
				left: 15px;
            }
	   }

		.eventDetailsContent {
			padding: 20px 22px 40px 22px;
			height: auto;
			-ms-flex: 1 1 100%;
			flex: 1 1 100%;
			position: relative;
			margin-bottom: 0;
			overflow: auto;

			h6 {
				color: #4f4e5f;
				font-family: 'Gibson';
				margin: auto auto 15px;
				font-size: 17px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.29;
				letter-spacing: normal;
				.text-orange{
				color: #e2b159;
				}
				span.optional{
					font-weight:normal;
				}
			}

			p {
				color: #4f4e5f;
				font-size: 14px;
				font-family: 'Gibson';
				font-weight: 300;
			}

			md-radio-group {
				.options {
					md-checkbox {
						vertical-align: top;
						max-width: 50px;
						.md-container {
							width: 21px;
							height: 21px;
							top: 0;
							transform: translateY(4px);

							&:before,
							&:after {
								display: none;
							}

							.md-icon {
								border: solid 1px #bfbfbf;
								background-color: #efefef;
								background-size: 15px 15px;
								background-position: center;
								background-repeat: no-repeat;
								width:21px;
								height:21px;
							}
						}

						.md-label {
							margin-left: 0;

							b {
								display: block;
								text-align: left;
								font-family: 'Gibson';
								font-size: 18px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.39;
								letter-spacing: normal;
								color: #4f4e5f;
								margin-left: 30px;
							}

							span.label {
								display: block;
								text-align: left;
								font-family: 'Gibson';
								font-size: 9.4px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: normal;
								color: #4f4e5f;
								margin-top: 5px;
							}
						}

						&.md-checked .md-container .md-icon {
							background-image: url('../img/checkmark_square.svg');

							&:after {
								display: none;
							}
						}
					}



					md-radio-button {
						vertical-align: top;
						max-width: 50px;
						display: inline-block;
						margin: 0 16px 0 0;
						.md-container {
							width: 21px;
							height: 21px;
							top: 0;
							transform: translateY(4px);
							border: solid 1px #bfbfbf;
							background-color: #efefef;
							background-size: 15px 15px;
							background-position: center;
							background-repeat: no-repeat;
							&:before,
							&:after {
								display: none;
							}

							> div{display: none;;}
						}

						&.md-checked .md-container {
							background-image: url('../img/checkmark_square.svg');

							&:after {
								display: none;
							}
						}
						.md-label {
							margin-left: 0;

							b {
								display: block;
								text-align: left;
								font-family: 'Gibson';
								font-size: 18px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.39;
								letter-spacing: normal;
								color: #4f4e5f;
								margin-left: 30px;
							}

							span.label {
								display: block;
								text-align: left;
								font-family: 'Gibson';
								font-size: 9.4px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: normal;
								color: #4f4e5f;
								margin-top: 5px;
							}
						}

					}

				}
			}
			textarea{
			height: 118px;
			border: solid 1px #bfbfbf;
			background-color: #efefef;
			width: 100%;
			margin-bottom: 30px;
			}
			hr{
				margin-left: -22px;
				margin-right:-22px;
				border:0 none;
				height:2px;
				background: #eaeaea;
			}
			.finishedBtn {
				font-family: 'Museo Slab';
				font-weight: 900;
				font-size: 16px;
				line-height: 44px;
				border-radius: 24px;
				text-align: center;
				letter-spacing: 2px;
				border-radius: 0px;
				height: 42.5px;
				background: rgb(226, 177, 89) !important;
				color: rgb(36, 36, 45);
			}
		}
		.mt-15 {
	   		margin-top:15px !important;
	   	}
	}

	
}
