page-powerscore-modal {

	background-color: #F9F0E0;
	

    ion-header.header{
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        background-color: #F9F0E0;
        &:after{display: none;}
        ion-navbar.toolbar{
            overflow: unset;
            transform: none !important;
            contain: none !important;
            padding: 119px 33px 0 !important;
            min-height: 0 !important;
            .goBackBtn {
                position: absolute;
                top: 63px;
                /* top: calc(env(safe-area-inset-top) + 63px); */
                left: 30px;
            }

            .closeBtn {
                position: absolute;
                top: 63px;
                /* top: calc(env(safe-area-inset-top) + 63px); */
                right: 30px;
            }
            .navList{
                margin-bottom: 0px;
                position: relative;
                display: flex;
                justify-content: space-between;
                padding-bottom: 16px;
                #headerStrocke{
                    display:block;
                    margin: 0 auto 0 0;
                    height: 3px;
                    background:#4b3c75;
                    transition: all 0.3s ease-in-out;
                    width: 56px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: 0;
                    left:0;
                    right: 0;
                    width: auto;
                }
                .progressBar {
                    display: flex;
                    align-items: flex-end;
                    span{
                        width: 9px;
                        height: 9px;
                        display:block;
                        border: solid 1px #bfb29b;
                        background-color: #bfb29b;
                        border-radius: 50%;
                        &:nth-of-type(1n+2){margin-left: 10px;}
                        &.active{
                            background-color: #28243d;
                            border-color: #28243d;
                        }
                    }
                }
                .navIteam{
                    display: inline-block;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 19px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 2.02px;
                    text-align: center;
                    color: #4b3c75;
                    padding-bottom:0;
                }
                
                .yourPowrscore{
                    display: flex;
                    margin: 0px 0 0px;
                    width: 206px;
                    .title{
                        border-radius: 5px 0 0 5px;
                        background-color: #282333;
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 34px;
                        letter-spacing: 2.32px;
                        text-align: center;
                        color: #ffffff;
                        flex: 1 1 auto;
                        padding: 0 13px;
                    }
                    .count{
                        border-radius: 0 5px 5px 0;
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 18px;
                        font-weight: 500;
                        width: 54px;
                        font-stretch: normal;
                        font-style: normal;
                        line-height:  34px;
                        letter-spacing: 0.66px;
                        text-align: center;
                        color: #f6f6f6;
                        background-color: #df45a2;
                        padding: 0 13px;
                        flex: 1 0 54px;
                    }
                }
            }
        }
        .toolbar-background{
            display: none;
        }
    }
    

    ion-content.content {
        &.powerscore {
            .scroll-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               
                margin-bottom: 0px !important;
            }
            &.content-ios{
                .addCause-top {
                    padding-top: 169px;
                }
            }
            .addCause-top {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                background-color: #F9F0E0;
                border-radius: 0 0 12px 12px;
                border-radius: 0;
                margin-left: 0;
                margin-right: 0;
                padding: 45px 33px 4px;
                /* padding-top: 169px; */
                .headTitles {
                    margin: auto auto 0;
                    width: auto;
                    .headToolbar {
                        zoom: 1;
                        padding: 0 11%;
                        &:before,
                        &:after {
                            content: "";
                            display: table;
                        }
                        &:after {
                            clear: both;
                        }
                    }
                    .logotitle {
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        letter-spacing: 5px;
                        color: #282333;
                        text-transform: uppercase;
                    }
                    h2 {
                        color: #282333;
                        font-family: 'Yanone Kaffeesatz';
                        font-weight: bold;
                        font-size: 56px;
                        text-align: left;
                        line-height: 44px;
                        letter-spacing: 0.81px;
                        margin: 10px auto 0.2em;
                        padding: 0;
                    }
                    p {
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 18px;
                        text-align: left;
                        margin: 0;
                        font-family: 'Yanone Kaffeesatz';
                        font-size: 17px;
                        letter-spacing: 1px;
                        color: #282333;
                    }
                }
            }

            .main-content {
               background: #F9F0E0;
                padding: 20px 33px 40px;
                margin-top: 0;
                margin-bottom: auto;
                ion-list.customeStyle.list {
                    margin: auto;
                    padding: 0;
                    border: 0;
                    background: transparent;
                    ion-note.note {
                        font-size: 12px;
                        line-height: 12px;
                        text-align: left;
                        color: rgba(253, 252, 241, 0.7);
                        opacity: 1;
                        margin-top: 10px;
                    }

                    p {
                        font-family: 'Gibson';
                        font-size: 13.6px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #3c3c3c;
                    }

                    ion-item.item.item-block {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        background: transparent;
                        width: auto;
                    }

                    .item-inner {
                        border: 0 none;
                        border-bottom: 1px solid #4b3c75;
                    }
                    ion-label {
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 500;
                        letter-spacing: 1.83px;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        color: #222222;
                        opacity: 1;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}