<!--
  Generated template for the PowerscoreModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<div class="headToolbar">
			<span class="closeBtn" (click)="close()"><svg xmlns="http://www.w3.org/2000/svg" width="20.267"
					height="20.056" viewBox="0 0 20.267 20.056">
					<g id="close" transform="translate(0.633 0.528)">
						<path id="Path"
							d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z"
							transform="translate(-0.633 -0.528)" fill="#282333" />
					</g>
				</svg></span>
		</div>
		
	</ion-navbar>
</ion-header>


<ion-content no-padding class="powerscore">
	<div class="addCause-top header-image">
		<div class="HeaderBox">
			<div class="headTitles">
				<div class="logotitle">CIVIC PROFILE</div>
				<h2>{{community.first_name | uppercase}} POWERSCORE</h2>
				
			</div>
		</div>
	</div>
	<div class="main-content">
		<ion-list class="customeStyle">
			<ion-item *ngFor="let powerscore of powerScoreList">
				<ion-label>{{powerscore.type}} {{powerscore.point}}</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
