page-activity-detail {
	// .eventDetails {
	// 	.eventdetails-bg{
	// 		background: #f8f8f8;
	// 		display: -webkit-flex;
	// 		-webkit-flex-direction: column;
	// 		display: flex;
	// 		flex-direction: column;
	// 		padding: 0 0 0px 0;
	// 		overflow: auto;
	// 		min-height: 0;
	// 		.eventdetailsHeader{
	// 			border-radius: 0px;
	// 			margin: 0 -7px 5px -7px;
	// 		    padding: 14px 19px 14px 19px;
	// 			display: flex;
	// 			flex-direction: row;
	// 			align-items: center;
	// 			justify-content: space-between;
	// 			background: #262533;
	// 			border-top: 1px solid #494762;
	// 			h3 {
	// 				color: #fff;
	// 				font-family: Yanone Kaffeesatz;
	// 				font-weight: normal;
	// 				font-size: 17.5px;
	// 				letter-spacing: 0.585px;
	// 				margin:0 auto 0 0;
	// 				text-transform: uppercase;
	// 			}
	// 			.goBackBtn {
 //                	position: absolute;
 //                	right: 15px;
 //                }
	// 		}
	// 		.eventdetailsContent {
	// 			margin: auto;
	// 			padding: 20px 22px 0px 22px;
	// 			height: auto;
	// 			flex: 1 1 auto;
	// 			position: relative;
	// 			overflow: auto;
	// 			h3 {
	// 				color: #4f4e5f;
	// 				font-size: 17px;
	// 				font-family: 'Gibson';
	// 				font-weight: 500;
	// 				letter-spacing: 0;
	// 				margin: auto;
	// 				padding:0;
	// 				.text-orange{
	// 					color:#e2b159;
	// 				}
	// 				&.mt-3{
	// 					margin-top: 30px;;
	// 				}
	// 			}
	// 			.btnArea {
	// 				max-width: none;
	// 				width: 55%;
	// 				margin-left: 0;
	// 				margin-right: 0;
	// 				display: flex;
	// 				justify-content: space-between;

	// 				button.btn {
	// 					font-family: 'Yanone Kaffeesatz';
	// 					font-size: 16px;
	// 					font-weight: bold;
	// 					font-stretch: normal;
	// 					font-style: normal;
	// 					letter-spacing: 5px;
	// 					border-radius: 24px;
	// 					height: 51px;
	// 					line-height: 45px;
	// 					padding-left: 1.5em;
	// 					padding-right: 1.5em;
	// 					background: #e2b159;
	// 					color: #24242d;
	// 					width: auto;
	// 					margin: auto 0;
	// 					display: block;
	// 	                flex: 1 0 auto;
	// 	                text-transform: uppercase;
	// 					span {
	// 						display: inline-block;
	// 					}
	// 					&.btn-primary {
	// 						border-radius: 5px;
	// 						border: solid 3px #282333;
	// 						background-color: #e6decc;
	// 	                    color: #282333;
	// 					}

	// 	                &.btn-success {
	// 	                    border-radius: 5px;
	// 	                    border: solid 3px #282333;
	// 	                    background-color: #282333;
	// 	                    color: #ffffff;
	// 	                }
	// 	            }
	// 			}

	// 			p {
	// 				color: #4f4e5f;
	// 				font-size: 16px;
	// 				font-family: 'Gibson';
	// 				font-weight: 100;
	// 				b{
	// 					font-weight:normal;
	// 				}
	// 				&.mb-0{
	// 					margin-bottom: 0;
	// 				}
	// 			}
	// 			button.btn.removeActivity.md-button{
	// 			border-radius: 26.4px;
	// 			background-color: #3d3c4c;
	// 			font-size: 15px;
	// 			font-weight: bold;
	// 			font-stretch: normal;
	// 			font-style: normal;
	// 			letter-spacing: 2.2px;
	// 			text-align: center;
	// 			color: #ffffff;
	// 			font-family: 'Yanone Kaffeesatz';
	// 			line-height: 33px;
	// 			height: auto;
	// 			margin-top:15px;
	// 			}
	// 			hr {
	// 				margin: 30px -22px;
	// 				border: 0 none;
	// 				height: 2px;
	// 				background: #eaeaea;
	// 			}
	// 			ol{
	// 				list-style-position: inside;
	// 				margin: auto;
	// 				padding: 0;
	// 				li{
	// 					color: #4f4e5f;
	// 					font-size: 16px;
	// 					font-family: 'Gibson';
	// 					font-weight: 100;
	// 					margin-bottom: 18px;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	.finishedBtn {
	// 		font-family: Yanone Kaffeesatz;
	// 		font-weight: bold;
	// 		font-size: 16px;
	// 		line-height: 44px;
	// 		border-radius: 24px;
	// 		text-align: center;
	// 		letter-spacing: 2px;
	// 		border-radius: 0px;
	// 		height: 42.5px;
	// 		background: rgb(226, 177, 89) !important;
	// 		color: rgb(36, 36, 45);
	// 	}
	// }
	.scroll-content {
		padding: 16px 26px !important;
		.headToolbar {
			position: absolute;
		    top: 50px;
			right: 40px;
		    width: fit-content;

			.closeBtn {
				svg {
					fill: #282233;
				}
			}
		}
		.HeaderBox {
			padding: 66px 20px 0px 10px;

			.headTitles {
				position: relative;
				.logotitle {
					font-family: 'Gibson';
				    font-size: 11px;
				    font-weight: 600;
				    font-stretch: normal;
				    font-style: normal;
				    line-height: 18px;
				    letter-spacing: 5px;
				    color: #282333;
				    text-transform: uppercase;
				}
				h2 {
					    color: #282333;
					    font-family: 'Museo Slab';
					    font-weight: 700;
					    font-size: 33px;
					    text-align: left;
					    line-height: 32px;
					    letter-spacing: 0.81px;
					    margin: 8px auto 18px;
					    padding: 0;
				}
				p{
					font-weight: normal;
				    font-stretch: normal;
				    font-style: normal;
				    text-align: left;
				    font-family: 'Gibson';
				    font-size: 14px;
				    line-height: 21px;
				    letter-spacing: 1px;
				    color: #19171F;
				    margin: 0;
				}
				.three-bots-btn {
				    position: absolute;
				    right: 0px;
				    bottom: 5px;
				    width: fit-content;
				    width: -webkit-fit-content;
				    width: -moz-fit-content;
				    width: -ms-fit-content;
				    width: -o-fit-content;
				    height: fit-content;
				    height: -webkit-fit-content;
				    height: -moz-fit-content;
				    height: -ms-fit-content;
				    height: -o-fit-content;
				}
			}
		}
		.arrivals-details-box {
		    width: 100%;
		    margin: 50px auto 0px;
		    background-color: #fff;
		    border-radius: 5px;
		    padding: 38px 48px;
		    position: relative;
		    .arrival-detail-item {
			    width: 100%;
			    display: flex;
			    flex-flow: column;
			    position: relative;
			    margin-bottom: 28px;
			    .title {
			    	font-size: 19px;
				    line-height: 26px;
				    font-family: 'Museo Slab';
				    font-weight: 500;
				    color: #19171F;
				    margin: 0px 0px 8px !important;
				    text-transform: capitalize;
			    }
			    .text {
			    	font-size: 14px;
				    line-height: 21px;
				    color: #19171F;
				    font-family: 'Gibson';
				    font-weight: normal;
				    margin: 0px;
				    .bold-txt {
					    font-weight: 600;
					}
			    }
			    .plus-item {
				    position: absolute;
				    bottom: 0px;
				    right: -8px;
				    width: fit-content;
				    width: -webkit-fit-content;
				    width: -moz-fit-content;
				    width: -ms-fit-content;
				    width: -o-fit-content;
				    height: fit-content;
				    height: -webkit-fit-content;
				    height: -moz-fit-content;
				    height: -ms-fit-content;
				    height: -o-fit-content;
				    button.add-item-icon {
					    background-color: transparent;
					    color: transparent;
					    border-radius: unset;
					    padding: 0px;
					    margin: 0px;
					    width: fit-content;
					    height: fit-content;
					}
				}
			}
		}
	}
	ion-footer {
		width: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: -ms-fit-content;
		width: -o-fit-content;
	    display: block;
		border: 0 none;
	    background: transparent;
	    text-align: center;
	    position: fixed;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 10;
	    margin: 0 auto;
	    padding: 0 5.3% 28px;
		.btnArea {
			width: fit-content;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: -ms-fit-content;
			width: -o-fit-content;
			button.activity-btn {
				width: auto;
			    min-width: 222px;
			    height: 45px;
			    line-height: 45px;
			    border-radius: 30px;
			    border: 3px solid #19171F;
			    background-color: #F1E9D5;
			    color: #2B2635;
			    font-size: 15px;
			    font-family: 'Museo Slab';
			    font-weight: 900;
			    text-transform: uppercase;
			    padding: 0px 16px;
  				box-shadow: 0 16px 29px 0 rgba(111, 111, 111, 0.35);
  				-webkit-box-shadow: 0 16px 29px 0 rgba(111, 111, 111, 0.35);
			}
		}
	}
}