<!--
  Generated template for the ActivityDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>activityDetail</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content padding>
 	 <!-- <div class="app-container eventDetails">
            <div class="eventdetails-bg"> -->
                <!-- <div class="eventdetailsHeader">
                    <h3>ACTIVITY DETAILS</h3>
                    <span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"><path id="Path_9" data-name="Path 9" d="M8.439.439a1.5,1.5,0,0,1,2.224,2.007l-.1.114L3.621,9.5l6.94,6.939a1.5,1.5,0,0,1,.1,2.007l-.1.114a1.5,1.5,0,0,1-2.007.1l-.114-.1-8-8a1.5,1.5,0,0,1-.1-2.007l.1-.114Z" fill="#e6decc"/></svg></span>
                </div> -->
                <!-- <div class="eventdetailsContent">
                    <h3><span class="text-orange">Activity Title:</span><br>{{activityDetail.activity_title}}</h3>
                    <hr>
                    <h3 class="mt-3">Details:</h3> 
                    <p><b>Administrator:<br></b>{{activityDetail.administator_name}}</p>
                    <p><b>Date: </b>{{activityDetail.date}}</p>
                    <p><b>Date & Time: </b>{{activityDetail.startEvent}} - {{activityDetail.endEvent}}</p>
                    <p><b>Location: </b><br>{{activityDetail.address}}<br>{{activityDetail.location}}</p>
                    <p><b>Summary: </b><br>{{activityDetail.description}}</p>
                </div>
                <button ion-button type="button" *ngIf="footerButtonShow"  class="finishedBtn full-width fixed-bottom md-button md-ink-ripple" (click)="goToEvaluation()" >{{footerButtonTest}}</button>
            </div>
        </div> -->

    <div class="headToolbar">
        <span class="closeBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg"  width="20.267" height="20.056" viewBox="0 0 20.267 20.056"><g id="close" transform="translate(0.633 0.528)"><path id="Path" d="M17.692.349A1.583,1.583,0,0,1,19.905,2.59l-.109.12-7.409,7.317L19.8,17.346a1.583,1.583,0,0,1-2.1,2.361l-.121-.108-7.437-7.346L2.7,19.6l-.121.108A1.583,1.583,0,0,1,.361,17.465l.109-.12,7.408-7.319L.471,2.71A1.583,1.583,0,0,1,2.575.349L2.7.457,10.133,7.8,17.571.457Z" transform="translate(-0.633 -0.528)" fill="#282333"/></g></svg></span>
    </div>
    <div class="HeaderBox">
        <div class="headTitles">
          <div class="logotitle">{{ eventName | uppercase }}</div>
          <h2>{{activityDetail.activity_title}}</h2>
          <span class="three-bots-btn" (click)="openMenuPopup($event, activityDetail)"><svg id="Group_19" data-name="Group 19" xmlns="http://www.w3.org/2000/svg" width="4.8" height="23.2" viewBox="0 0 4.8 23.2"><circle id="Oval" cx="2.4" cy="2.4" r="2.4" transform="translate(0 0)" fill="#282333"/><circle id="Oval-2" data-name="Oval" cx="2.4" cy="2.4" r="2.4" transform="translate(0 8.8)" fill="#282333"/><circle id="Oval-3" data-name="Oval" cx="2.4" cy="2.4" r="2.4" transform="translate(0 18.4)" fill="#282333"/></svg></span>
        </div>
    </div>
    <div class="arrivals-details-box">
        <div class="arrival-detail-item">
            <h2 class="title">Administrator</h2>
            <p class="text">{{activityDetail.administator_name}}</p>
        </div>
        <div class="arrival-detail-item">
            <h2 class="title">Date & Time</h2>
            <p class="text"><span class="bold-txt">{{activityDetail.date}} -</span> {{activityDetail.startEvent}} - {{activityDetail.endEvent}}</p>
        </div>
        <div class="arrival-detail-item">
            <h2 class="title">Location</h2>
            <p class="text">{{activityDetail.address}}<br>{{activityDetail.location}}</p>
        </div>
        <div class="arrival-detail-item">
            <h2 class="title">Summary</h2>
            <p class="text">{{activityDetail.description}}</p>
            <div class="plus-item">
                <button ion-button type="button" class="add-item-icon"><img src="./assets/img/plus-icon-2.svg"></button>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="btnArea">
        <button ion-button type="button" *ngIf="footerButtonShow"  class="activity-btn finishedBtn full-width fixed-bottom md-button md-ink-ripple" (click)="goToEvaluation()" >{{footerButtonTest}}</button>
    </div>
</ion-footer>
