<ion-content no-padding class="registrationProcess" >
	<div class="registrationProcess-top">
		<div class="headTitles">
			
			<h2>Update Your Account</h2>
			<p>EDIT EMAIL</p>
		</div>
		<form method="post" [formGroup]="registerForm" (ngSubmit)="registerMember(registerForm.value)">
			<div class="register-container">
				<div class="shadowWRap  " [ngClass]="{'shadow-show' :  registerForm.controls['email'].valid }">
					<ion-list>
						<div class="input-wrapper {{emailFocusClass}} {{ successEmailClass}}">
							<ion-item>
								<ion-input tabindex="1" #email id="memberemail" (focus)="inputFocusEmail()"
									(blur)="inputBlurEmail()" formControlName="email" type="email"
									placeholder="Enter Address…"></ion-input>
							</ion-item>
						</div>
						
					</ion-list>
				</div>
				<div class="btnArea">
					<button ion-button type="submit"  [disabled]="!registerForm.valid" flex="50" class="btn btn-primary " ><span translate>UPDATE</span></button>
					<button ion-button class="btn btn-primary color-dark" flex="50" (click)="close()" type="button" ><span translate>CANCEL</span></button>
					
				</div>
				
			</div>
		</form>

	</div>
	
	
	<ion-footer>
		<div class="registrationProcess-bottom" >
			<div class="cmessage ">
				<svg xmlns="http://www.w3.org/2000/svg" width="33.075" height="35.018" viewBox="0 0 33.075 35.018" fill="#282333"><path d="M3.675,35.018H0V20.58A3.679,3.679,0,0,1,3.675,16.9h.919c0-3.108.2-7.113,1.723-10.519C8.215,2.148,11.716,0,16.721,0s8.507,2.148,10.4,6.385C28.653,9.794,28.849,13.8,28.849,16.9H29.4a3.679,3.679,0,0,1,3.675,3.676V35.016H29.4V20.58H3.675V35.017ZM16.721,3.675c-6.055,0-8.267,3.462-8.453,13.23H25.174c0-4.872-.619-8.109-1.946-10.185S19.834,3.675,16.721,3.675Zm2.074,31.343H15.12V31.631a3.236,3.236,0,0,1-1.47-2.757,3.308,3.308,0,1,1,6.615,0,3.236,3.236,0,0,1-1.471,2.757v3.385Z" transform="translate(0 0)"/></svg>
				<h4>Your Email is Safe.</h4>
				<p>We do not share your email address with third parties without asking your permission first.</p>
			</div>
		</div>
	</ion-footer>
</ion-content>
