page-leader-detail {
    ion-header.header {
        top: 60px;
        left: 36px;
        right: 36px;
        width: auto;

        &:after {
            display: none;
        }

        ion-navbar.toolbar {
            overflow: unset;
            transform: none !important;
            contain: none !important;
            padding: 0 !important;
            min-height: 0 !important;
        }

        .toolbar-background {
            display: none;
        }

        .neweader {
            display: flex;
            z-index: 1;
            border-radius: 4px;
            background: #fff;
            border: 2px solid #2a2536;
            padding: 0px;
            transition: all 0.4s ease-in-out 0.35s;
            transform: translateY(0);

            // box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.17);
            /*
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 96%;
                left: 0;
                right: 0;
                z-index: -2;
                bottom: auto;
                height: 23px;
                background: #000;
                opacity: 0;
                transition: all 0s;
                filter: blur(16px);
            }
            */
            &.fadeUp {
                transform: translateY(-30vh);
                transition: all 0.3s ease-in-out 0s;
            }
            /*
            &.shadow {
                &:after {
                    transition: all 0.65s ease-in-out 0.45s;
                    opacity: 0.33;
                }
            }
            */

            .neweaderBox {
                padding: 11px 10px;
                border-width: 0 2px;
                border-style: solid;
                border-color: #fff #342f42 #fff #fff;
                background: #fff;
                flex: 0 0 0;
                display: flex;
                align-items: center;

                &:nth-of-type(1) {
                    flex: 1 1 0;
                    border-left: 0 none;
                }

                &:first-of-type {
                    border-radius: 4px 0 0 4px;
                }

                &:last-of-type {
                    border-right: 0 none;
                    border-radius: 0 4px 4px 0;
                }

                .titleText {
                    .badge {
                        height: auto;
                        border-radius: 9px;
                        background: #4e4074;
                        font-family: 'Gibson';
                        font-weight: 500;
                        font-size: 9px;
                        letter-spacing: 0.09em;
                        color: #fff;
                        display: inline-flex;
                        padding: 2px 5px 3px 3px;
                        align-items: center;

                        span {
                            display: block;
                            margin-right: 5px;

                            svg {
                                display: block;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }

                    h6 {
                        margin: 5px 0 0;
                        padding: 0;
                        font-family: 'Fjalla One';
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: 0.31px;
                        color: #23232e;
                    }
                }

                .btn {
                    width: auto;
                    padding: 0 12px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Yanone Kaffeesatz';
                    font-weight: bold;
                    position: relative;

                    &.btn-link {
                        padding: 0 0px;
                        margin: auto 10px;

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &.btn-light {
                        background: #f6f6f6;
                        border: 2px solid #363D51;
                        color: #23232E;
                    }

                    &.btn-danger {
                        background: #DD3B97;
                        border: 2px solid #363D51;
                        color: #fff;
                    }

                    span.badge {
                        border-radius: 5px;
                        background: #34ca9e;
                        border: 2px solid #493b70;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: auto;
                        display: block;
                        width: 20px;
                        height: 20px;
                        line-height: 18px;
                        font-family: 'Museo Slab';
                        font-weight: 900;
                        font-size: 10px;
                        letter-spacing: -0.04em;
                        text-align: center;
                        color: #493b70;
                        transform: translate(-10px, -3px);
                    }
                }

                .btnGroup {
                    display: flex;

                    .btn {
                        border-radius: 0;

                        span {
                            display: block;
                            line-height: 29px;
                            letter-spacing: 1px;
                        }

                        &:first-of-type {
                            border-radius: 6px 0 0 6px;
                            margin-right: -2px;
                            font-size: 13px;
                        }

                        &:last-of-type {
                            border-radius: 0 6px 6px 0;
                        }
                    }
                }
            }

            .btn.backbtn {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.846 10.815'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(6.661 0.607) rotate(90)'%3E%3Cg id='Group' transform='translate(0 6.16) rotate(-90)'%3E%3Cg id='Path'%3E%3Cpath id='Path-2' data-name='Path' d='M3.346.46A1.4,1.4,0,0,1,5.287.328,1.31,1.31,0,0,1,5.5,2.118l-.078.1L3.108,4.8,5.423,7.386a1.31,1.31,0,0,1-.136,1.886A1.4,1.4,0,0,1,3.346,9.14L.338,5.778A1.308,1.308,0,0,1,0,4.8,1.3,1.3,0,0,1,.25,3.931l.088-.109Z' fill='%23514e66'/%3E%3Cpath id='Path-3' data-name='Path' d='M3.346.46A1.4,1.4,0,0,1,5.287.328,1.31,1.31,0,0,1,5.5,2.118l-.078.1L3.108,4.8,5.423,7.386a1.31,1.31,0,0,1-.136,1.886A1.4,1.4,0,0,1,3.346,9.14L.338,5.778A1.308,1.308,0,0,1,0,4.8,1.3,1.3,0,0,1,.25,3.931l.088-.109Z' fill='none' stroke='%23f6f6f6' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-size: auto 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #fff;
                border-right: 1px solid #342F42;
                width: 16%;
                flex: 0 0 16%;
                border-radius: 3px 0 0 3px;
            }

            .btn.closebtn {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.989' height='23.633' viewBox='0 0 23.989 23.633'%3E%3Cg transform='translate(23.72 0.708)'%3E%3Cpath fill='none' stroke='%23000' stroke-linejoin='miter' d='M-11.55,11.13-.45,0,0,.45-10.68,11.13,0,21.81l-.45.42Z' transform='translate(-0.45 0)' /%3E%3Cpath fill='none' stroke='%23000' stroke-linejoin='miter' d='M11.55,11.13.45,0,0,.45,10.68,11.13,0,21.81l.45.42Z' transform='translate(-23 0)' /%3E%3C/g%3E%3C/svg%3E");
                background-size: auto 25%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #fff;
                border-left: 2px solid #342F42;
                width: 18%;
                flex: 0 0 18%;
                border-radius: 0 3px 3px 0;
            }

            .dropDown {
                width: 100%;
                position: relative;
                z-index: 1;

                button {
                    background-color: #fff;
                    border: 0;
                    border-radius: 4px;
                    box-shadow: none;
                    text-align: left;
                    line-height: normal;
                    margin: auto 0;
                    display: block;
                    width: 100%;
                    padding: 10px 20px 16px;
                    text-transform: uppercase;
                    &.toggleBtns {
                        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='21' viewBox='0 0 11 21'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg fill='%23292535' fill-rule='nonzero'%3E%3Cpath d='M3.423.526c.267-.298.742-.33 1.05-.07.272.23.322.606.136.889l-.063.082L1.849 4.44l2.678 2.991.06.073c.192.258.173.604-.036.844l-.077.075-.088.064c-.272.168-.63.146-.876-.051l-.087-.082L.436 5.016l-.068-.082c-.08-.11-.122-.236-.127-.424l.001-.228c.01-.107.044-.21.104-.304l.068-.089L3.423.526z' transform='translate(-339 -83) translate(339 83) translate(0 13) rotate(-90 3.5 2.5)'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg fill='%23292535' fill-rule='nonzero'%3E%3Cpath d='M3.423.526c.267-.298.742-.33 1.05-.07.272.23.322.606.136.889l-.063.082L1.849 4.44l2.678 2.991.06.073c.192.258.173.604-.036.844l-.077.075-.088.064c-.272.168-.63.146-.876-.051l-.087-.082L.436 5.016l-.068-.082c-.08-.11-.122-.236-.127-.424l.001-.228c.01-.107.044-.21.104-.304l.068-.089L3.423.526z' transform='translate(-339 -83) translate(339 83) matrix(1 0 0 -1 0 8) rotate(-90 3.5 2.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        background-size: auto 21px;
                        background-position: center right 18px;
                        background-repeat: no-repeat;
                        padding-right: 45px;
                    }

                    h6 {
                        text-transform: uppercase;
                        font-family: 'Gibson';
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 18px;
                        text-align: left;
                        color: #000;
                        margin: 0;
                        padding: 0;
                    }

                    h5 {
                        text-transform: uppercase;
                        font-family: 'Fjalla One';
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        color: #23232e;
                        text-align: left;
                        margin: 0;
                        padding: 0;
                    }
                }

                ul.showDropDown {
                    margin: auto;
                    padding: 0;
                    list-style: none;

                    li {
                        border-top: 1px solid #e6e6e6;
                        padding: 10px 20px;
                        font-family: 'Fjalla One';
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: 0.61px;
                        color: #363547;
                        text-align: left;

                        &:nth-of-type(1n+2) {
                            border-top: 1px solid #3d3e4f;
                        }
                    }
                }
            }


        }
    }
    ion-footer.footer {
        border: 0 none;
        background: transparent;
        text-align: center;
        margin: 0;
        padding: 0 10% 28px;

        &:before {
            border: 0 none;
            background: transparent;
        }

        .btnArea {
            max-width: none;
            width: auto;
            margin-left: -6px;
            margin-right: -6px;
            display: flex;
            justify-content: space-between;

            button.btn {
                font-family: 'Yanone Kaffeesatz';
                font-size: 15px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: 1.64px;
                border-radius: 24px;
                height: 48px;
                line-height: 48px;
                padding-left: 1.5em;
                padding-right: 1.5em;
                background: #e2b159;
                color: #24242d;
                width: auto;
                margin: auto 6px;
                display: block;
                flex: 1 0 auto;
                text-transform: uppercase;
                span {
                    display: inline-block;
                }

                &.btn-half {
                    max-width: calc(50% - 10px);
                }

                &.btn-dark {
                    border: solid 2px #181818;
                    background-color: #181818;
                    color: #ffffff;
                    border-radius: 4px;
                }
            }
        }

        .workWithOrganizations-bottom {
            .cmessage {
                margin: auto auto;
                max-width: 370px;
                width: 78%;

                svg {
                    display: block;
                    margin: auto auto 1em;
                    width: 14.3vw;
                }

                h4 {
                    font-family: 'Gibson';
                    font-size: 4vw;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.19px;
                    text-align: center;
                    color: #ffffff;
                }

                p {
                    font-family: Gibson;
                    font-size: 3.64vw;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.3px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.53);
                }
            }
        }
    }

    ion-content.content {
        background: #fff !important;
        .main-content {
            z-index: 1;
            background: #fff;
            svg.dashed{
                width: 100%;
                height: 2px;
                display: block;
                margin-bottom: 35px;
            }
        }

        .fixed-content,
        .scroll-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .mapWrap {
            border: 0 none;
            display: block;
            z-index: 1;
            height: 55vh;
            position: relative;

            div#mapIdLeader {
                position: absolute !important;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .loaderWrap {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .leaflet-popup {
                    bottom: 40px;

                    .leaflet-popup-tip {
                        background: #efefef;
                    }
                }

                .leaflet-popup-content-wrapper {
                    border-radius: 10px;
                    background: #efefef;
                    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);

                    .leaflet-popup-content {
                        width: auto !important;
                        margin: 0;
                        padding: 7px 10px;

                        .popup-contentBox {
                            display: flex;
                            width: 162px;

                            img {
                                flex: 0 0 52px;
                                width: 52px;
                                height: auto;
                                align-self: flex-start;
                            }

                            .popup-content-info {
                                flex: 0 0 100px;
                                width: 100px;
                                margin-left: 10px;

                                .badge {
                                    border-radius: 7px;
                                    background: #f8f8f8;
                                    border: 2px solid #fff;
                                    font-family: 'Museo Slab';
                                    font-weight: 800;
                                    font-size: 10px;
                                    letter-spacing: 0.03em;
                                    line-height: 15.59px;
                                    text-align: center;
                                    color: #7f7f7f;
                                    width: auto;
                                    height: auto;
                                    padding: 0 8px 0px;
                                    display: inline-block;
                                }

                                .title {
                                    width: auto;
                                    height: auto;
                                    font-family: 'Gibson';
                                    font-weight: 500;
                                    font-size: 13px;
                                    letter-spacing: 0.03em;
                                    line-height: normal;
                                    text-align: left;
                                    color: #3a3a3a;
                                    display: block;
                                    margin-top: 6px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
        }

        .profileInfo {
            background: #F8F8F8;
            position: relative;
            z-index: 1;
            padding: 0 26px 12px;
            display: flex;
            justify-self: start;

            .profileImg {
                display: block;
                background: #F8F8F8;
                border: 10px solid #F8F8F8;
                width: 140px;
                height: 200px;
                border-radius: 33px;
                // transform: translateY(-100px);
                margin-top: -36px;
                position: relative;
                flex: 0 0 140px;

                span {
                    &.img {
                        border-radius: 28px;
                        display: block;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        filter: saturate(25%);
                        filter: saturate(25%) grayscale(1);
                    }
                    &.noimg {
                        border-radius: 28px;
                        background-color: #47455b;
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-family: 'Gibson';
                        font-size: 56px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.03;
                        letter-spacing: -0.38px;
                        text-transform: uppercase;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &.char {
                        position: absolute;
                        top: auto;
                        right: 0;
                        bottom: 14%;
                        left: auto;
                        width: 50px;
                        height: 50px;
                        display: block;
                        transform: translateX(50%);
                        @include partys();
                        /*
                        border-radius: 50%;
                        line-height: 39px;
                        text-align: center;
                        font-family: 'Museo Slab';
                        font-weight: 900;
                        font-size: 20px;
                        letter-spacing: 0.09em;
                        background: #d03330;
                        border: 6px solid #f8f8f8;
                        color: #e9e9e9;
                        &.bg-purple{background-color: #4a3b70;}
                        &.bg-lightblue{background-color: #87b8d1;}
                        &.bg-violet{background-color: #b46cb7;}
                        &.bg-lightpink{background-color: #f7d1d1;}
                        &.bg-pink{background-color: #ff9797;}
                        &.bg-republican { background-color: #C94643}
                        &.bg-democrat { background-color: #405AA6}
                        &.bg-libertarian { background-color: #7F3FD6}
                        &.bg-green { background-color: #39A337}
                        &.bg-green-party { background-color: #39A337}
                        &.bg-independent { background-color: #737373}
                        &.bg-nonpartisan {background-color: #000;}
                        &.bg-non-partisan {background-color: #000;}
                        &.bg-write-in {background-color: #000;}
                        &.bg-gray{background-color: #5F5F5F;}
                        &.bg-blue{background-color: #374793;}
                        */
                    }
                }
            }

            .profileDesc {
                margin: 0 -6px 0 18px;
                .rectangle {
                    width: auto;
                    height: 33px;
                    border-radius: 10px;
                    border: solid 4px #dddddd;
                    background-color: #dfdfdf;
                    display: block;
                    margin: 20px 0 10px;
                }
                .social-share {
                    position: absolute;
                    top: 16px;
                    right: 13px;
                    font-size: 25px;
                }
                h3 {
                    font-family: 'Fjalla One';
                    font-size: 25px;
                    line-height: 25px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    color: #181818;
                    text-transform: uppercase;
                    margin: 20px 0 4px;
                    padding: 0;
                }

                h5.candidate {
                    display: inline-block;
                    background-color: #ffbb41;
                    font-family: 'Yanone Kaffeesatz';
                    font-size: 11px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 12px;
                    letter-spacing: 2px;
                    color: #342f42;
                    text-transform: uppercase;
                    padding: 5px 10px 3px;
                    min-width: 80%;
                }
                .btnWrap{
                    display: flex;
                    flex-wrap: wrap;
                    .btn {
                        border-radius: 0px;
                        text-transform: uppercase;
                        background: transparent;
                        border: 1px solid #181818;
                        font-family: 'Gibson';
                        font-size: 11px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 11px;
                        letter-spacing: 1.5px;
                        color: #222222;
                        padding: 8px 10px;
                        margin: -1px 0 0px -1px;
                        display: block;
                        text-align: center;
                        &.btn-half{
                            flex: 1 1 auto;
                        }
                        &.btn-full{
                            flex: 1 1 auto;
                        }
                        &.active{
                            background-image: url("data:image/svg+xml,%3Csvg id='Group_27' data-name='Group 27' xmlns='http://www.w3.org/2000/svg' width='16.5' height='16.45' viewBox='0 0 16.5 16.45'%3E%3Crect id='Rectangle_Copy' data-name='Rectangle Copy' width='16.5' height='16.45' rx='8.225' transform='translate(0 0)' fill='%23272736'/%3E%3Cg id='Group_8' data-name='Group 8' transform='translate(5 6)'%3E%3Cpath id='Shape' d='M1.729,4.542a.681.681,0,0,0,.5.219.711.711,0,0,0,.5-.219L5.8,1.286A.787.787,0,0,0,5.8.221a.677.677,0,0,0-1,0L2.226,2.94,1.208,2a.677.677,0,0,0-1,0,.787.787,0,0,0,0,1.065Z' transform='translate(0.34 0.32)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-position: right 12px center;
                            background-size: auto 15px;
                            background-repeat: no-repeat;
                            text-align: left;
                        }
                    }
                    
                }

                p {
                    font-family: 'Gibson';
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 1px;
                    color: #222;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .voterPledges {
            background: #f9f9f9;
            padding: 20px 36px 10px;
            h2 {
                font-family: 'Fjalla One';
                font-weight: 400;
                font-size: 25px;
                letter-spacing: 0.77px;
                line-height: 29px;
                color: #181818;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }
            h6 {
                font-family: 'Gibson';
                font-weight: 500;
                font-size: 11px;
                letter-spacing: 1px;
                color: #a25b94;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }
            .embed-responsive {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow: auto;
                margin:0 12px 26px 0px;
                .embed-responsive-1by1 {
                    display: block;
                    width: 62px;
                    height: 62px;
                    flex: 0 0 62px;
                    margin: 0 -8px 0 0px;
                    position: relative;
                    .embed {
                        border: 5px solid #393752;
                        background-color: #393752;
                        border-radius: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        display: block;
                        z-index: 1;
                        span{
                            border-radius: 100%;
                            display: block;
                            width: 100%;
                            height:100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            background-color: #47455b;
                            font-family: 'Gibson';
                            font-size: 17px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.03;
                            letter-spacing: -0.38px;
                            text-transform: uppercase;
                            color: #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &.saturate{
                                filter: saturate(25%) grayscale(1);
                            }
                        }
                    }
                    &.white_border .embed {
                        border-color:#FCFCFC;
                    }
                    .indicators{
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 2;
                        width:23px;
                        height:23px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include partys();
                    }
                }
            }
        }
        .endorsments {
            background: #f9f9f9;
            padding: 0px 18% 30px 36px ;
            h2 {
                font-family: 'Fjalla One';
                font-weight: 400;
                font-size: 25px;
                letter-spacing: 0.77px;
                line-height: 29px;
                color: #181818;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }
            h6 {
                font-family: 'Gibson';
                font-weight: 500;
                font-size: 11px;
                letter-spacing: 1px;
                color: #a25b94;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }
            
            .embed-responsive {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow: auto;
                margin:0 12px 5px 0px;
                .embed-responsive-1by1 {
                    display: block;
                    width: 34px;
                    height: 34px;
                    flex: 0 0 34px;
                    margin: 0 12px 0 0px;
                    position: relative;
                    .embed {
                        border: 4px solid #393752;
                        background-color: #393752;
                        border-radius: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        display: block;
                        z-index: 1;
                        span{
                            border-radius: 100%;
                            display: block;
                            width: 100%;
                            height:100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            background-color: #47455b;
                            font-family: 'Gibson';
                            font-size: 17px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.03;
                            letter-spacing: -0.38px;
                            text-transform: uppercase;
                            color: #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &.saturate{
                                filter: saturate(25%) grayscale(1);
                            }
                        }
                    }
                    &.white_border .embed {
                        border-color:#FCFCFC;
                    }
                    .indicators{
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 2;
                        width:12px;
                        height:12px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 2.5px;
                        border: solid 2px #393752;
                        // @include partys();
                        &.bg-democrat {background-color:#405AA6;}
                        &.bg-green {background-color: #39A337;}
                        &.bg-independent {background-color:#737373;}
                        &.bg-libertarian {background-color: #7F3FD6;}
                        &.bg-republican {background-color: #C94643;}
                    }
                }
                h3{
                    font-family: 'Gibson';
                    font-size: 11px;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 1px;
                    color: #222222;
                }
            }
            .shortDesc{
                font-family: 'Gibson';
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #3c3c3c;
                b{
                    font-weight: 500;
                }
            }
            svg.dashed{
                margin: 10px 0 10px;
            }
            .viewAll{
                font-family: 'Gibson';
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0;
                color: #342f42;
                text-transform: uppercase;
                svg{
                    margin: -2px 4px 0;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .profileSec1 {
            background: #f2f2f2;
            padding: 20px 36px 10px;

            h2 {
                font-family: 'Fjalla One';
                font-weight: normal;
                font-size: 25px;
                letter-spacing: 0.77px;
                line-height: 29px;
                color: #181818;
                text-transform: uppercase;
                margin-top: 3px;
                padding-top: 0;
            }

            h6 {
                font-family: 'Gibson';
                font-weight: 500;
                font-size: 11px;
                letter-spacing: 1px;
                color: #a25b94;
                text-transform: uppercase;
                margin: 15px 0 0;
                padding: 0;
            }

            p {
                font-family: 'Gibson';
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #3c3c3c;
                b{
                    font-weight: 500;
                }
            }

            ion-grid.grid {
                margin-left: -10px;
                margin-right: -20px;
                width: auto;
            }

            .badge {
                display: block;
                line-height: 32px;
                border-radius: 16px;
                font-family: 'Fjalla One';
                font-weight: normal;
                font-size: 13px;
                letter-spacing: 0.02em;
                padding: 0 10px;
                text-align: center;
                text-transform: uppercase;
                &.badge-info {
                    background: #f7c05d;
                    color: #28253d;
                }
            }
        }

        .profileSec2 {
            background: #f2f2f2;
            padding: 20px 36px 10px;

            h2 {
                font-family: 'Fjalla One';
                font-weight: normal;
                font-size: 25px;
                letter-spacing: 0.77px;
                line-height: 29px;
                color: #181818;
                margin-top: 0;
                margin-bottom: 24px;
                text-transform: uppercase;
            }

            .dataCarousel {
                overflow: auto;
                width: 100%;

                .carousel {
                    display: flex;
                    flex-wrap: nowrap;

                    .carouselBox {
                        background-color: #342F42;
                        border-radius: 4px;
                        margin-right: 12px;
                        overflow: hidden;
                        padding: 0;
                        display: block;
                        width: auto;
                        flex: 0 0 auto;
                        text-align: center;
                        overflow: hidden;

                        h4 {
                            margin: 0;
                            padding: 0;
                            font-family: 'Yanone Kaffeesatz';
                            font-size: 33px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.76px;
                            color: #ffffff;
                            padding: 18px 22px 12px;
                        }

                        p {
                            background-color: #f7c05d;
                            font-family: 'Fjalla One';
                            font-size: 13px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.3px;
                            color: #342f42;
                            margin: 0;
                            padding: 8px 22px 7px;
                            border-radius: 0 0 4px 4px;
                            text-transform: uppercase;
                        }

                        .candidatesCount {
                            width: auto;
                            line-height: 23px;
                            padding: 0 15px;
                            border-radius: 9px;
                            background: #28253d;
                            display: inline-block;
                            font-family: 'Gibson';
                            font-weight: 500;
                            font-size: 10px;
                            letter-spacing: 0.09em;
                            color: #fff;
                        }

                        h6 {
                            font-family: 'Gibson';
                            font-weight: 400;
                            font-size: 16px;
                            letter-spacing: 0.08em;
                            color: #fff;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .officeAddress {
            background: #f2f2f2;
            padding: 20px 36px 10px;

            h2 {
                font-family: 'Fjalla One';
                font-weight: normal;
                font-size: 25px;
                letter-spacing: 0.03em;
                line-height: 29px;
                color: #181818;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 0 0 20px;
                    padding: 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;

                    svg {
                        flex: 0 0 43px;
                        width: 43px;
                    }

                    .info {
                        flex: 1 1 calc(100% - 43px);
                        padding-left: 10px;

                        h6 {
                            font-family: 'Gibson';
                            font-size: 11px;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.83px;
                            color: #a25b94;
                            margin: 0;
                        }

                        p {
                            font-family: 'Gibson';
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.02;
                            letter-spacing: normal;
                            color: #3c3c3c;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .contactInformation {
            background: #f2f2f2;
            padding: 20px 36px 82px;

            h2 {
                font-family: 'Fjalla One';
                font-weight: normal;
                font-size: 25px;
                letter-spacing: 0.03em;
                line-height: 29px;
                color: #181818;
            }

            ul {
                margin: 0 -10px;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;

                li {
                    margin: 0 0 20px;
                    padding: 0 10px;

                    p {
                        font-family: Gibson;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.02;
                        letter-spacing: normal;
                        color: #3c3c3c;
                        margin: 0;
                        padding: 0;

                        b {
                            font-family: 'Gibson';
                            font-size: 11px;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.83px;
                            color: #a25b94;
                            text-transform: uppercase;
                        }
                        span.email{
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }

    .callPopup {
        position: absolute;
        left: auto;
        bottom: 15px;
        right: 10px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 54px;
            height: 61px;
            opacity: 0.31;
            filter: blur(16px);
            background-color: #000000;
            left: 4px;
            top: 14px;
        }
    }
}
