<!--
  Generated template for the LeaderFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{header_data.title}}</ion-title>
	<custom-header [headerData]="header_data"></custom-header>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="app-container">
        <div class="content11-wrapper ">
            <div class="leaderlistfilter_page"> 
               	
                  
                 <form method="post" name="customSearchformSearch" (ngSubmit)="getSearchResult()" >
                 	
                <ion-list>
                	<ion-item *ngIf="showCampaignData=='true'">
                		<ion-select name="campaignOnly" [(ngModel)]="campaignOnly" tabindex="3" placeholder="SELECT TYPE…" >
                            <ion-option value="2">
                                INCUMBENT OFFICIAL
                            </ion-option>
                            <ion-option value="1">
                               INCUMBENTS & CANDIDATES
                            </ion-option>
                            <ion-option value="0">
                                CANDIDATES ONLY
                            </ion-option>
                        </ion-select>
                        <ion-label>OFFICIAL TYPE
                        </ion-label>
                	</ion-item>
                	<ion-item>
                		<ion-select name="nextElectionYear" [(ngModel)]="nextElectionYear" tabindex="3" placeholder="SELECT YEAR…">
                            <ion-option value="2019">
                                2019
                            </ion-option>
                            <ion-option value="2020">
                                2020
                            </ion-option>
                            <ion-option value="2021">
                                2021
                            </ion-option>
                            <ion-option value="2022">
                                2022
                            </ion-option>
                            <ion-option value="2023">
                                2023
                            </ion-option>
                            <ion-option value="2024">
                                2024
                            </ion-option>
                        </ion-select>
                        <ion-label>
                            SEARCH BY NEXT ELECTION YEAR
                        </ion-label>
                	</ion-item>
                	<ion-item>
                		 <ion-input name="searchbyfirstname" tabindex="1" [(ngModel)]="searchbyfirstname" placeholder="FIRST &/OR LAST NAME" type="text">
                            
                        </ion-input>
                        <ion-label>
                            SEARCH BY NAME
                        </ion-label>
                	</ion-item>
                	<ion-item>
                		
                         <ion-input name="selectedItem" tabindex="1" [(ngModel)]="selectedItem" placeholder="MAYOR? SHERIFF? ETC…" type="text">
                            
                        </ion-input>
                        <ion-label>
                        	SEARCH BY OFFICE
                        </ion-label>
                	</ion-item>
                	<ion-item>
                		<ion-select name="juri_type" [(ngModel)]="juri_type" tabindex="3" placeholder="SELECT TYPE…">
                            <ion-option value="City">
                                City
                            </ion-option>
                            <ion-option value="County">
                                County
                            </ion-option>
                            <ion-option value="State">
                                State
                            </ion-option>
                            <ion-option value="Federal">
                                Federal
                            </ion-option>
                        </ion-select>
                        <ion-label>
                            SEARCH BY JURISDICTION TYPE
                        </ion-label>
                	</ion-item>
                	<ion-item>
                		<ion-input name="juriName" type="text" [(ngModel)]="juriName" placeholder="EX: ATLANTA, NEW YORK..."></ion-input>
						<ion-label>SEARCH BY CITY, COUNTY, OR STATE</ion-label>
                	</ion-item>
                	<ion-item>
                		<button ion-button tabindex="4" class="fixed-bottom leaderlistfilter_btn" (click)="getSearchResult()">
	                        <img src="./assets/img/searchic2.svg" width="19" />
	                            SEARCH
	                        
	                    </button>
                	</ion-item>
                </ion-list>
                    
                </form>
            </div>
        </div>
    </div>
</ion-content>
