.notice-approval-modal{
    .modal-wrapper{
        opacity: 0;
        transform: none !important;
        transition: all 0.3s linear;
    }
    &.show-page{
        .modal-wrapper{
            opacity: 1;
        }
    }
}
new-message.ion-page {
    padding: 0px;
    display: flex;
    .notification-overlay {
        background: red;
        background: rgba(23, 23, 23, 0.49);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .message-notification{
        display: block;
        margin-top: auto;
        margin-bottom: 0;
        background: #ffac00;
        position: relative;
        width: 100%;
        &:before{
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='414' height='60' viewBox='0 0 414 60'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1' data-name='Rectangle 1' width='414' height='60' transform='translate(609.5 -1)' fill='%23fff' stroke='%23707070' stroke-width='1' opacity='0.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Mask_Group_1' data-name='Mask Group 1' transform='translate(-609.5 1)' clip-path='url(%23clip-path)'%3E%3Cg id='Rectangle' transform='translate(0 1889)' fill='%23ffac00' stroke-miterlimit='10'%3E%3Cpath d='M 2.317679882049561 -9.430488586425781 L 53.36894607543945 -1530.0048828125 C 54.95396423339844 -1531.639404296875 60.07552337646484 -1536.87255859375 68.30452728271484 -1544.832153320313 C 77.53214263916016 -1553.757568359375 92.66571807861328 -1568.033813476563 112.3580932617188 -1585.359008789063 C 134.4897613525391 -1604.830200195313 157.7509460449219 -1624.10498046875 181.4954833984375 -1642.648071289063 C 211.1726226806641 -1665.824096679688 241.6926116943359 -1687.915283203125 272.2076110839844 -1708.30859375 C 349.8583374023438 -1760.202392578125 427.9438171386719 -1801.54638671875 504.2950134277344 -1831.1923828125 C 526.35693359375 -1839.758544921875 548.5654907226563 -1847.447387695313 570.3040771484375 -1854.045043945313 C 593.181884765625 -1860.988525390625 616.1690673828125 -1866.914794921875 638.6266479492188 -1871.659057617188 C 662.1747436523438 -1876.6337890625 685.7923583984375 -1880.446411132813 708.8237915039063 -1882.9912109375 C 732.8969116210938 -1885.651245117188 756.9981079101563 -1887 780.4580688476563 -1887 C 803.9194946289063 -1887 827.5343017578125 -1885.651245117188 850.6464233398438 -1882.99072265625 C 872.7533569335938 -1880.446166992188 894.9883422851563 -1876.63427734375 916.7335815429688 -1871.660766601563 C 937.4685668945313 -1866.918334960938 958.3059692382813 -1860.994506835938 978.6669311523438 -1854.054321289063 C 998.0116577148438 -1847.460205078125 1017.4326171875 -1839.776000976563 1036.390502929688 -1831.214965820313 C 1101.993041992188 -1801.589721679688 1165.112670898438 -1760.275512695313 1223.995971679688 -1708.419555664063 C 1247.135009765625 -1688.042114257813 1269.666870117188 -1665.968139648438 1290.965454101563 -1642.810668945313 C 1308.004760742188 -1624.284790039063 1324.296630859375 -1605.028564453125 1339.388549804688 -1585.577392578125 C 1352.812133789063 -1568.276245117188 1362.779296875 -1554.023559570313 1368.77685546875 -1545.11376953125 C 1374.232788085938 -1537.008422851563 1377.469482421875 -1531.755249023438 1378.3798828125 -1530.257690429688 L 1417.953369140625 -154.6730194091797 C 1406.45068359375 -152.08837890625 1334.848999023438 -136.1064910888672 1253.402099609375 -120.3145217895508 C 1201.431884765625 -110.2378540039063 1155.68408203125 -102.2095260620117 1117.429565429688 -96.45262145996094 C 1069.675537109375 -89.26618957519531 1033.563598632813 -85.62214660644531 1010.096923828125 -85.62214660644531 C 1007.45166015625 -85.62214660644531 1004.930969238281 -85.66904449462891 1002.605224609375 -85.76119232177734 C 979.9962158203125 -86.65833282470703 958.0421142578125 -88.04523468017578 935.4878540039063 -90.00166320800781 C 915.423583984375 -91.74214172363281 895.3630981445313 -93.89452362060547 874.1604614257813 -96.58238220214844 C 834.8031005859375 -101.571662902832 797.6868896484375 -107.6561889648438 761.7926025390625 -113.5404739379883 C 720.9435424804688 -120.2369079589844 678.7037963867188 -127.1614303588867 634.26806640625 -132.2247619628906 C 610.3685913085938 -134.9480895996094 587.6502685546875 -136.9461975097656 564.8152465820313 -138.3328552246094 C 539.2290649414063 -139.8866729736328 514.1135864257813 -140.6421356201172 488.0330810546875 -140.6421356201172 C 460.8290405273438 -140.6421356201172 434.2200012207031 -140.1176147460938 408.9447631835938 -139.0835723876953 C 384.7642822265625 -138.0940551757813 361.1614379882813 -136.6116638183594 338.7923889160156 -134.6773834228516 C 317.4588012695313 -132.8328552246094 296.6838073730469 -130.528564453125 277.0442810058594 -127.8288116455078 C 258.3814392089844 -125.2633361816406 240.2552337646484 -122.2735748291016 223.1690521240234 -118.9423828125 C 163.9964294433594 -107.4057159423828 114.4066696166992 -91.30690765380859 75.77714538574219 -71.09309387207031 C 60.55904769897461 -63.1297607421875 47.02023696899414 -54.49809646606445 35.53666687011719 -45.43738174438477 C 26.32023811340332 -38.16547775268555 18.39476203918457 -30.59904670715332 11.98047637939453 -22.94761848449707 C 7.540801525115967 -17.65178108215332 4.442770957946777 -13.05652809143066 2.317679882049561 -9.430488586425781 Z' stroke='none'/%3E%3Cpath d='M 4.559189796447754 -16.58514976501465 C 6.205704689025879 -18.93279838562012 8.153209686279297 -21.49546051025391 10.44785690307617 -24.23261833190918 C 16.94976234436035 -31.98857116699219 24.97404670715332 -39.65119171142578 34.29785537719727 -47.00738143920898 C 45.87857055664063 -56.14476013183594 59.52214431762695 -64.84452056884766 74.84999847412109 -72.865234375 C 113.6509552001953 -93.16880798339844 163.4238128662109 -109.331901550293 222.7864227294922 -120.9054794311523 C 239.9090423583984 -124.2435684204102 258.0723876953125 -127.2397613525391 276.7719116210938 -129.8102416992188 C 296.4445190429688 -132.5145263671875 317.2533264160156 -134.8226165771484 338.6199951171875 -136.6699981689453 C 361.019287109375 -138.6066741943359 384.6523742675781 -140.0911865234375 408.8628540039063 -141.0816650390625 C 434.1652526855469 -142.1171417236328 460.8019104003906 -142.6421356201172 488.0330810546875 -142.6421356201172 C 514.154296875 -142.6421356201172 539.3095092773438 -141.8854827880859 564.9364013671875 -140.3292846679688 C 587.806884765625 -138.9402313232422 610.5595092773438 -136.9392852783203 634.4945068359375 -134.2118988037109 C 678.9790649414063 -129.1430969238281 721.2433471679688 -122.2145233154297 762.1162109375 -115.514045715332 C 797.9926147460938 -109.6326217651367 835.0906982421875 -103.5511932373047 874.4121704101563 -98.56642913818359 C 895.5880737304688 -95.88214111328125 915.6228637695313 -93.73238372802734 935.6607055664063 -91.99428558349609 C 958.183349609375 -90.04047393798828 980.1071166992188 -88.65547943115234 1002.684753417969 -87.759765625 C 1004.983825683594 -87.6683349609375 1007.477600097656 -87.62214660644531 1010.096923828125 -87.62214660644531 C 1033.46337890625 -87.62214660644531 1069.473510742188 -91.25833129882813 1117.126953125 -98.42952728271484 C 1155.352416992188 -104.1819076538086 1201.070434570313 -112.2050018310547 1253.01123046875 -122.2759552001953 C 1331.271728515625 -137.4499206542969 1400.444580078125 -152.8007202148438 1415.906860351563 -156.2638092041016 L 1376.396118164063 -1529.668823242188 C 1375.220458984375 -1531.587524414063 1372.104248046875 -1536.589233398438 1367.117797851563 -1543.996948242188 C 1361.137329101563 -1552.881469726563 1351.197875976563 -1567.09423828125 1337.80859375 -1584.351196289063 C 1322.75048828125 -1603.7587890625 1306.494995117188 -1622.971923828125 1289.493530273438 -1641.456909179688 C 1268.2421875 -1664.562866210938 1245.760986328125 -1686.58740234375 1222.67431640625 -1706.918579101563 C 1163.940185546875 -1758.642822265625 1100.98828125 -1799.848754882813 1035.5673828125 -1829.39208984375 C 1016.667358398438 -1837.927124023438 997.3062133789063 -1845.587646484375 978.0216674804688 -1852.1611328125 C 957.7259521484375 -1859.079345703125 936.9555053710938 -1864.984008789063 916.28759765625 -1869.7109375 C 894.6135864257813 -1874.668334960938 872.451904296875 -1878.467651367188 850.4176025390625 -1881.004028320313 C 827.3811645507813 -1883.655517578125 803.8433227539063 -1885 780.4580688476563 -1885 C 757.0755004882813 -1885 733.0526123046875 -1883.656005859375 709.056884765625 -1881.004760742188 C 686.0945434570313 -1878.468139648438 662.5462036132813 -1874.667114257813 639.066162109375 -1869.707885742188 C 616.6685791015625 -1864.977172851563 593.7418823242188 -1859.0673828125 570.923095703125 -1852.142822265625 C 549.2362060546875 -1845.561889648438 527.0792846679688 -1837.892333984375 505.06787109375 -1829.346923828125 C 428.8621520996094 -1799.762084960938 350.9159545898438 -1758.496704101563 273.3949890136719 -1706.696411132813 C 242.9211883544922 -1686.333618164063 212.4416656494141 -1664.274291992188 182.8028564453125 -1641.131469726563 C 159.0857086181641 -1622.612182617188 135.8509521484375 -1603.361694335938 113.7440490722656 -1583.91455078125 C 94.07190704345703 -1566.609252929688 78.95381164550781 -1552.348999023438 69.73523712158203 -1543.433349609375 C 62.27297210693359 -1536.21630859375 57.36833572387695 -1531.242919921875 55.3420524597168 -1529.1650390625 L 4.559189796447754 -16.58514976501465 M 0 0 L 51.39595413208008 -1530.840942382813 C 51.39595413208008 -1530.840942382813 394.0400085449219 -1889 780.4580688476563 -1889 C 1166.876220703125 -1889 1380.364013671875 -1530.840942382813 1380.364013671875 -1530.840942382813 L 1420 -153.0840454101563 C 1420 -153.0840454101563 1113.416381835938 -83.62223052978516 1010.096984863281 -83.62223052978516 C 1007.4384765625 -83.62223052978516 1004.906616210938 -83.66841125488281 1002.525939941406 -83.76285552978516 C 799.9838256835938 -91.79881286621094 690.5752563476563 -138.6421356201172 488.0330810546875 -138.6421356201172 C 41.86761856079102 -138.6421356201172 0 0 0 0 Z' stroke='none' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            display: block;
            background-position: top left;
            background-size: 103% auto;
            background-repeat: no-repeat;
            padding: 0 0 13%;
            position: absolute;
            top: 0;
            transform: translateY(-98%);
            left: 0;
            right: 0px;
            width: auto;
            margin: auto;
        }
        h1{
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 30px;
            line-height: 32px;
            text-align: left;
            color: #282333;
            margin: 30px 37px 25px;
        }
        .sliderWrap{
            padding: 0 0 30px;
            .msgs {
                padding: 0;
                padding: 0 0 0px;
                &.msgOne ion-slide.msg.swiper-slide {
                    margin-right: auto !important;
                }
                .msg {
                    padding: 50px 36px 35px;
                    transition: transform 0.3s linear;
                    height: auto;
                    margin: 0 auto;
                    align-self: stretch;
                    background-color: #FFFBF5;
                    border-radius: 10px;
                    border: 3px solid #282333;
                    position: relative;
                    .slide-zoom{
                        align-self: flex-start;
                    }
                    .educationBox {
                        margin-top: 0;
                        padding: 0;
                        text-align: left;
                        // min-height: 350px;
                        .closeBtn {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.928' height='10.828' viewBox='0 0 10.928 10.828'%3E%3Cg id='close' transform='translate(0.964 0.914)'%3E%3Cg id='Group_4' data-name='Group 4' transform='translate(0.45 0.5)'%3E%3Cpath id='Line_18' data-name='Line 18' d='M.9,1,9,9' transform='translate(-0.9 -1)' fill='none' stroke='%23343448' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Line_18-2' data-name='Line 18' d='M-9,1l-8.1,8' transform='translate(17.1 -1)' fill='none' stroke='%23343448' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            top: 29px;
                            right: 27px;
                            left: auto;
                            bottom: auto;
                        }
                        
                        h2 {
                            letter-spacing: 0px;
                            font-family: 'Fjalla One';
                            font-weight: normal;
                            font-size: 22px;
                            line-height: 26px;
                            color: #282333;
                            margin: 0;
                            position: relative;
                            padding: 0;
                            .dropDownBtn {
                                background-image: url("data:image/svg+xml,%3Csvg id='Group_19' data-name='Group 19' xmlns='http://www.w3.org/2000/svg' width='4.8' height='23.2' viewBox='0 0 4.8 23.2'%3E%3Ccircle id='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 0)' fill='%23282333'/%3E%3Ccircle id='Oval-2' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 8.8)' fill='%23282333'/%3E%3Ccircle id='Oval-3' data-name='Oval' cx='2.4' cy='2.4' r='2.4' transform='translate(0 18.4)' fill='%23282333'/%3E%3C/svg%3E%0A");
                                background-size: auto;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 26px;
                                height: 24px;
                                position: absolute;
                                top: 5px;
                                right: -18px;
                                left: auto;
                                bottom: auto;
                                display: inline-block;
                            }
                        }
        
                        h3 {
                            margin-bottom: -15px;
                            font-family: 'Gibson';
                            font-size: 10px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 12px;
                            letter-spacing: 0;
                            color: #282333;
                            margin: 6px 0 8px;
        
                            b {
                                font-weight: 500;
                            }
                        }
        
                        p {
                            margin: 0;
                            font-family: 'Gibson';
                            font-size: 15px;
                            font-weight: 300;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 22px;
                            letter-spacing: -0.55px;
                            color: #282333;
        
                            .readmore {
                                font-weight: 500;
                                color: #282333;
                                font-size: 10px;
                                letter-spacing: 0.33px;
                                border-bottom: solid 3px #282333;
                                display: inline-block;
                            }
                        }
        
                        .badgeList {
                            list-style: none;
                            margin: 0px -3px 10px;
                            padding: 0;
                            display: flex;
                            flex-wrap: wrap;
        
                            li {
                                margin: 3px;
                                padding: 0;
        
                                .blank-badge {
                                    display: block;
                                    font-family: 'Fjalla One';
                                    font-size: 13px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 28px;
                                    letter-spacing: 0.61px;
                                    padding: 0 10px;
                                    color: #fff;
                                    border-radius: 4px;
                                    margin: 0;
                                    height: 30px;
                                }
        
                                .badge {
                                    display: block;
                                    font-family: 'Fjalla One';
                                    font-size: 13px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 28px;
                                    letter-spacing: 0.61px;
                                    padding: 0 10px;
                                    background-color: #24232d;
                                    color: #fff;
                                    border-radius: 4px;
                                    margin: 0;
        
                                    &.bg-members {
                                        background-color: #282333;
                                        /* &.bulletin{background-color: #d2d2d2;}
                                        &.civic-job{background-color: #a8ccc2;}
                                        &.donate{background-color: #f4bc88;}
                                        &.education{background-color: #d7c896;}
                                        &.events{background-color: #afe0e1;}
                                        &.invite{background-color: #fde0ae;}
                                        &.lobby{background-color: #e1d0af;}
                                        &.rewards{background-color: #e9839b;}
                                        &.volunteer{background-color: #c4d1b3;}
                                        &.vote{background-color: #d5afe1;} */
                                    }
                                }
                            }
                        }
                        .viewMessage {
                            font-family: 'Gibson';
                            font-size: 10px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.33px;
                            color: #282333;
                            border-bottom: solid 2px #282333;
                            display: inline-block;
                          }
                    }
                }
            }
        }
    }
}