<!--Generated template for the NewMessageComponent component -->
<div class="notification-overlay" (click)="closepopup()"></div>
<div class="message-notification">
	<h1 *ngIf="multipleMessage=='0'">NEW<br>MESSAGE!</h1>
	<h1 *ngIf="multipleMessage!='0'">YOU HAVE NEW<br>MESSAGES!</h1>
	<div class="sliderWrap">
		<ion-slides #mainSlider class="msgs" [ngClass]="{ 'msgOne' : multipleMessage=='0' }" centeredSlides="false" direction="horizontal" autoHeight="false" pager="false"
			loop="false" spaceBetween="24" zoom="false" speed="500" slidesPerView="1.3" effect="'slide'">
			<ion-slide class="msg" *ngFor="let message of MultipleUnReadMessage; let i = index">
				<div class="educationBox">
					<div class="closeBtn" (click)="removeMessage(message,i)"></div>
					<ul class="badgeList">
						<li>
							<div class="badge bg-members {{message.class}}">{{getMessageType(message.message_type_inbox) | uppercase }}</div>
						</li>
					</ul>
					<h2>{{message.subject}} <span class="dropDownBtn" (click)="openMenuPopup($event, message,i)"></span></h2>
					<h3>{{message.first_name | uppercase}} {{message.last_name| uppercase}}, {{message.name | uppercase}}</h3>
					<p [innerHTML]="message.body"></p>
					<div class="viewMessage" (click)="messageDetails(message)">VIEW MESSAGE</div>
				</div>
			</ion-slide>
			<ion-slide class="msg" *ngIf="multipleMessage=='0'">
				<div class="educationBox">
					<div class="closeBtn" (click)="closepopup()"></div>
					<ul class="badgeList">
						<li>
							<div class="badge bg-members {{class}}">{{message_type_inbox}}</div>
						</li>
					</ul>
					<h2>{{newMessagePopupSub}} <span class="dropDownBtn" (click)="openSingleMessagePopup($event)"></span></h2>
					<h3>{{adminName}}, {{senderName}}</h3>
					<p [innerHTML]="newMessagePopupText"></p>
					<div class="viewMessage" (click)="viewSingleMessage()">VIEW MESSAGE</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</div>
<!-- 
	<button ion-button (click)="closepopup()" class="notification-close">CLOSE</button>
	<div class="notification-content">
	<h1 *ngIf="multipleMessage=='1' && senderName!=''">{{senderName}} Just sent you a New Message!</h1>
	<h1 *ngIf="multipleMessage=='0'">{{senderName}} Just sent you a New Message!</h1>
	<h1 *ngIf="multipleMessage=='1' && senderName==''">{{newMessagePopupText}}</h1>
	<h3 *ngIf="multipleMessage=='0'">{{newMessagePopupSub}}</h3>
	<p *ngIf="multipleMessage=='1'  && senderName!=''">{{newMessagePopupText}}</p>
	<p *ngIf="multipleMessage=='0'">{{newMessagePopupText}}</p>

	<button ion-button *ngIf="multipleMessage=='0'" class="readfull" (click)="messageDetails()">READ FULL
		MESSAGE</button>
		<button ion-button *ngIf="multipleMessage=='1'" class="readfull" (click)="goToMessage()">VIEW MESSAGES</button>
	</div>
-->