page-canvas-tool {
	.mapWrap {
        border: 0 none;
        display: block;
        z-index: 1;
        height: 80vh;
        position: relative;

        div#canvasToolMap {
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .loaderWrap {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .leaflet-popup {
                bottom: 40px;

                .leaflet-popup-tip {
                    background: #efefef;
                }
            }

            .leaflet-popup-content-wrapper {
                border-radius: 10px;
                background: #efefef;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);

                .leaflet-popup-content {
                    width: auto !important;
                    margin: 0;
                    padding: 7px 10px;

                    .popup-contentBox {
                        display: flex;
                        width: 162px;

                        img {
                            flex: 0 0 52px;
                            width: 52px;
                            height: auto;
                            align-self: flex-start;
                        }

                        .popup-content-info {
                            flex: 0 0 100px;
                            width: 100px;
                            margin-left: 10px;

                            .badge {
                                border-radius: 7px;
                                background: #f8f8f8;
                                border: 2px solid #fff;
                                font-family: 'Museo Slab';
                                font-weight: 800;
                                font-size: 10px;
                                letter-spacing: 0.03em;
                                line-height: 15.59px;
                                text-align: center;
                                color: #7f7f7f;
                                width: auto;
                                height: auto;
                                padding: 0 8px 0px;
                                display: inline-block;
                            }

                            .title {
                                width: auto;
                                height: auto;
                                font-family: 'Gibson';
                                font-weight: 500;
                                font-size: 13px;
                                letter-spacing: 0.03em;
                                line-height: normal;
                                text-align: left;
                                color: #3a3a3a;
                                display: block;
                                margin-top: 6px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    .btnArea {
		max-width: none;
		width: auto;
		margin-left: 0;
		margin-right: 0;
		display: flex;
		justify-content: space-between;

		button.btn {
			font-family: 'Museo Slab';
			font-size: 16px;
			font-weight: 700;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: 5px;
			border-radius: 24px;
			height: 51px;
			line-height: 45px;
			padding-left: 1.5em;
			padding-right: 1.5em;
			background: #e2b159;
			color: #24242d;
			width: auto;
			margin: auto 0;
			display: block;
            flex: 1 0 auto;
            text-transform: uppercase;
			span {
				display: inline-block;
			}
			&.btn-primary {
				border-radius: 5px;
				border: solid 3px #282333;
				background-color: #e6decc;
                color: #282333;
			}

            &.btn-success {
                border-radius: 5px;
                border: solid 3px #282333;
                background-color: #282333;
                color: #ffffff;
            }
        }
        
        .btnGroup {
            padding: 0;
            margin: auto 0;
            display: flex;
            flex: 1 1 auto;
            button.btn {
                margin: 0;
                border-color: #282333;
                border-style: solid;
                border-width: 3px;
                &.btn-primary {
                    color: #282333;
                    background-color: #efe7d4;
                    width: 50%;
                }
                &.btn-secondary {
                    color: #fff;
                    background-color: #4a4080;
                    width: 50%;
                }
                &:nth-of-type(1) {
                    border-width: 3px 0 3px 3px;
                    border-radius: 5px 0 0 5px;
                    flex: 0 1 auto;
                }

                &:nth-of-type(1n+2) {
                    border-radius: 0 5px 5px 0;
                    flex: 1 0 auto;
                }
            }
        }
	}
	.canvasToolPage .bottomDropdown h5:before {
		opacity: 0;
	}
	.canvasToolPage .bottomDropdown h5 {
		padding: 12px 20px 12px 19px;
	}
	.canvasToolPage .found-jurisdictions {
		font-size: 11.5px;
		font-weight: normal;
		letter-spacing: 0;
	}

	.newSignUpBtn {
	    background: #262533!important;
	    color: #fff;
	    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.317);
	    width: 51px!important;
	    height: 51px!important;
	    position: absolute;
	    right: 15px;
	    bottom: 105px;
        z-index: 1;
	}
	.newSignUpBtn md-icon {
	    color: #fff;
	    font-family: Museo Slab;
	    font-weight: 800;
	    font-size: 25px;
	    letter-spacing: 1.2px;
	    line-height: 22px;
	    text-align: center;
	}
}
