<!--
  Generated template for the CanvasToolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>CANVAS TOOLS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="mapWrap ">
		<div id="canvasToolMap" #canvasToolMap>
	    </div>
	</div>
	<div class="jurisdictions-footer">
		<button ion-button (click)="gotoNewSignup()" class="md-icon-button newSignUpBtn">
			<ion-icon>+</ion-icon>
		</button>
	</div>	
</ion-content>
<ion-footer>
	<div> You have {{numberOfSignUp}} Sign Ups</div>
	<div class="bottomDropdown">
		<ul *ngIf="showSignUpList" >
			<li *ngFor="let jurisdictions of addressDropdown" (click)="editNewSignup(jurisdictions);" >

				<div>{{jurisdictions.fullname}} {{jurisdictions.lastname}}</div> 

				<span *ngIf="jurisdictions.address_type=='n'"><img src="https://dev3.empowrd.com/img/icons/n/drawable-mdpi/group_3_copy_7.png" ></span>
				<span *ngIf="jurisdictions.address_type=='r'"><img src="https://dev3.empowrd.com/img/icons/r/drawable-mdpi/group_3_copy_8.png"></span>
				<span *ngIf="jurisdictions.address_type!='n' && jurisdictions.address_type!='r'"><img src="https://dev3.empowrd.com/img/multiple/voting/drawable-mdpi/group_3.png" ></span>
			</li>
		</ul>
	</div>
	<div class="btnArea">
	   	<button ion-button class="btn btn-primary"  (click)="showSignUpList = !showSignUpList" >SHOW ALL SIGN UPS</button>
  	</div>
</ion-footer>
