emoji-picker {

  .emoji-picker {
    height: 195px;
    border-top: 1px solid #999;

    .emoji-items {
      padding: 20px;
      width: 100%;
      height: 100%;
      overflow-x: scroll;

      .emoji-item {
        display: block;
        float: left;
        width: 12.5%;
        height: 42px;
        font-size: 1.2em;
        line-height: 42px;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
