<ion-content no-padding class="registrationProcess" *ngIf="registerStepTwoMobileShowContent">
	<div class="registrationProcess-top" >
		<div class="headTitles">
			<div class="headToolbar">
				<span class="goBackBtn" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="11.121" height="19.414" viewBox="0 0 11.121 19.414"><path id="Path_9" data-name="Path 9" d="M9,0,0,9l9,9" transform="translate(1.414 0.707)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/></svg></span>
				<span class="closeBtn" (click)="goToRoot()"><svg xmlns="http://www.w3.org/2000/svg" width="19.028" height="18.828" viewBox="0 0 19.028 18.828"><g id="Group_4" data-name="Group 4" transform="translate(0.514 0.414)"><path id="Line_18" data-name="Line 18" d="M.9,1,17.1,17" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/><path id="Line_18-2" data-name="Line 18" d="M-.9,1-17.1,17" transform="translate(18)" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/></g></svg></span>
			</div>
			<h3>STEP 2. CREATE YOUR ACCOUNT</h3>
			<h2>FIRST & LAST NAME</h2>
		</div>
		<form method="post" [formGroup]="registerForm" (ngSubmit)="registerMember(registerForm.value)"  >
			<div class="register-container">
				<div class="shadowWRap  " [ngClass]="{'shadow-show' : registerForm.controls['first_name'].valid ||  registerForm.controls['last_name'].valid }">
				<div class="input-wrapper {{firstnameFocusClass}}  {{ successFirstnameClass}}">
			  		<ion-item ><ion-input tabindex="1" #firstName id="memberfirst_name" (focus)="inputFocusFirstname()" (blur)="inputBlurFirstname()"  required name="first_name" 
			  		formControlName="first_name" [(ngModel)]="member.first_name" type="text"  placeholder="First Name"></ion-input></ion-item>
				</div>
				<div class="input-wrapper {{lastnameFocusClass}} {{ successLastnameClass}}">
			  		<ion-item ><ion-input tabindex="2" id="memberlast_name" required   (focus)="inputFocusLastname()" (blur)="inputBlurLastname()"  name="member.last_name" formControlName="last_name" [(ngModel)]="member.last_name" type="text" placeholder="Last Name"></ion-input></ion-item>
				</div>
					
				</div>
				<button ion-button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">NEXT</button>
			</div>
		</form>
	   
	</div>
	<ion-footer>
		<div class="registrationProcess-bottom" >
			<div class="cmessage ">
				<svg id="_" data-name="@" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="98.685" height="58.14" viewBox="0 0 98.685 58.14"><defs><clipPath id="clip-path"><rect id="Mask" width="98.685" height="58.14" fill="none"/></clipPath></defs><rect id="Mask-2" data-name="Mask" width="98.685" height="58.14" fill="none"/><g id="_2" data-name="@" clip-path="url(#clip-path)"><path id="_3" data-name="@" d="M23.866,49.725A25.549,25.549,0,0,1,14.5,48.009,22.155,22.155,0,0,1,1.85,35.418,27.178,27.178,0,0,1,0,25.3,25.262,25.262,0,0,1,2.127,15.017,24.509,24.509,0,0,1,7.808,7.023a25.749,25.749,0,0,1,8.187-5.18A26.093,26.093,0,0,1,25.639,0C32.6,0,38.563,2.141,42.891,6.19a18.931,18.931,0,0,1,6.069,14,21.543,21.543,0,0,1-1.483,7.982,18.447,18.447,0,0,1-3.836,6.014c-2.89,3.118-6.714,4.979-10.229,4.979-3.247,0-5.174-1.426-5.728-4.239-2.81,2.773-5.829,4.239-8.728,4.239a7.886,7.886,0,0,1-5.251-2.052c-1.991-1.826-3-4.621-3-8.309a20.8,20.8,0,0,1,4.254-12.213c2.947-3.84,6.837-5.955,10.953-5.955a10.625,10.625,0,0,1,6.12,1.682A6.1,6.1,0,0,1,33.754,14l.682-2.154h4.432l-5.8,17.966c-.514,1.667-1.006,3.714-.235,4.759a2.238,2.238,0,0,0,1.939.759c2.262,0,4.795-1.56,6.776-4.172A17.97,17.97,0,0,0,45.005,20.32c0-9.865-7.907-16.754-19.229-16.754C13.453,3.566,4.16,12.909,4.16,25.3c0,12.477,8.056,20.859,20.048,20.859A32.683,32.683,0,0,0,42.1,41.077c.147-.092.274-.171.38-.234l1.5,2.759c-.123.079-.284.192-.488.336C41.463,45.37,35.282,49.725,23.866,49.725ZM25.411,13.77c-2.9,0-5.512,1.529-7.551,4.423a17.82,17.82,0,0,0-3.325,10.019c0,6.072,3.342,6.979,5.334,6.979a8.1,8.1,0,0,0,4.788-1.771,13.113,13.113,0,0,0,4.425-6.8l3.048-9.466A.734.734,0,0,1,32.02,17,7.518,7.518,0,0,0,25.411,13.77Z" transform="matrix(0.966, 0.259, -0.259, 0.966, 32.514, 9.046)" fill="#fff"/></g></svg>

				<h4>Your Name & Email are Safe.</h4>
				<p>Mobile numbers allow you to secure your account and log in without a password.</p>
			</div>
		</div>
	</ion-footer>	
</ion-content>
