page-register-step-two {
  ion-content.content {
    &.registrationProcess {
      .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom:0 !important;
      }
      .registrationProcess-top {
        margin-top: 10%;
        margin-bottom: 100px;

        .headTitles {
          margin: auto auto 1.5em;
          width: auto;

          .headToolbar {
            zoom: 1;
            padding: 0 11%;

            &:before,
            &:after {
              content: "";
              display: table;
            }

            &:after {
              clear: both;
            }

            .goBackBtn {
              float: left;
            }

            .closeBtn {
              float: right;
            }
          }

          h3 {
            color: #f9bf00;
            font-family: 'Fjalla One';
            text-align: center;
            margin: auto auto 10px;
            padding: 0;
            font-weight: normal;
            letter-spacing: 0.5px;
            font-size: 5vw;
          }

          h2 {
            color: #fff;
            font-family: Yanone Kaffeesatz;
            font-weight: bold;
            font-size: 11vw;
            text-align: center;
            margin: auto;
            padding: 0;
            line-height: 1em;
          }
        }

        .register-container {
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;

          .shadowWRap {
            position: relative;
            margin-bottom: 30px;

            &:before {
              content: "";
              background: url(../assets/img/shadow-Oval.png);
              background-repeat: no-repeat;
              width: 100%;
              position: absolute;
              top: 0;
              z-index: -1;
              padding-top: 100%;
              background-size: 140%;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              background-position: center;
              opacity: 0;
            }

            &.shadow-show {
              &:before {
                opacity: 1;
              }
            }
          }

          .input-wrapper {
            padding: 0px;
            border-radius: 10px;
            background: rgba(27, 27, 41, 0.5);
            border: 2px solid #3a3a4a;
            margin: auto auto 18px;
            position: relative;
            
            ion-item.item.item-block{margin:0;padding:0;background:transparent;border:0 none;.item-inner{margin:0;padding:0;background:transparent;border:0 none;box-shadow: none;.input-wrapper{margin:0;padding:0;background:transparent;border:0 none;}}}
            
            input.text-input {
              padding: 0 20px;
              margin: 0;
              width: 100%;
              height: 44px;
              color: #fff;
              font-family: 'Yanone Kaffeesatz';
              font-weight: bold;
              font-size: 22px;
              letter-spacing: 1.8;
            }

            &.has-focus {
              background: #1b1b29;
              border-color: #fff;
            }

            &.has-success {
              background: #111114;
              border-color: #190b41;

              &:after {
                content: "";
                background-image: url('../assets/img/icon_check-mark.svg');
                position: absolute;
                width: 20px;
                height: 20px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                right: 15px;
                top: 12px;
              }
            }

            &.has-error {
              background: #741c29;
              border-color: #a1304a;

              &:after {
                content: "";
                background-image: url('../assets/img/icon-exclamation-mark.svg');
                position: absolute;
                width: 20px;
                height: 20px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                right: 15px;
                top: 12px;
              }
            }
          }

          button.btn-primary {
            font-family: Yanone Kaffeesatz;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            letter-spacing: 2px;
            border-radius: 24px;
            height: 45px;
            line-height: 44px;
            padding-left: 1.5em;
            padding-right: 1.5em;
            display: block;
            margin: auto;
            width: 62%;
            background: #e2b159;
            color: #24242d;
          }
        }

        .orWrap {
          max-width: 370px;
          width: auto;
          margin-left:19%;
          margin-right:19%;

          .orBox {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 100%;
            margin: 30px auto 26px;

            .or-line {
              display: block;
              height: 1px;
              width: auto;
              background:rgba(255,255,255,0.2);
              flex: 1 1 auto;
            }
            .or-text {
              text-transform: uppercase;
              color: #fff;
              padding: 0 20px;
              font-size:3.2vw;
              font-weight: normal;
              letter-spacing: 0.04em;
              font-weight: normal;
              font-family: 'Fjalla One';
            }
          }
        }

        .btnArea {
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          button.btn {
            font-family: Yanone Kaffeesatz;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 0.06em;
            line-height: 45px;
            text-align: center;
            border-radius: 10px;
            height: 45px;
            padding-left: 0.6em;
            padding-right: 0.6em;
            display: block;
            margin: 20px auto auto;
            width: 100%;
            &.btn-half{
              max-width: calc(50% - 10px);
            }
            &.btn-secondary {
              background: #fff;
              border: 2px solid #d0d0d0;
              color: #444;

            }

            span.button-inner {
              justify-content: flex-start;

              svg {
                width: 20px;
                height: 20px;
                fill: #fff;
                margin-right: auto;
                flex: 0 0 20px;
                margin-left: 0;
                fill:#3B5998;
              }
              span {
                flex: 1 1 auto;
              }
            }
          }
        }
      }
      ion-footer.footer{
        border: 0 none;
        background:transparent;
        text-align: center;
        position: static;
        margin: auto auto 10%;
        &:before{
          border: 0 none;
          background:transparent;
        }
        .registrationProcess-bottom{
          .cmessage{
            margin:auto auto ;
            max-width: 370px;
            width: 78%;
            svg{
              display: block;
              margin: auto auto 0;
            }

            h4 {
                margin-top: 0;
                font-family: 'Gibson';
                font-size: 4vw;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.19px;
                text-align: center;
                color: #ffffff;
            }
            p{
              font-family: Gibson;
              font-size:3.64vw;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height:normal;
              letter-spacing: 0.3px;
              text-align: center;
              color: rgba(255,255,255,0.53);
            }
          }     
        }

        .not-receive{
          font-family: 'Yanone Kaffeesatz';
          text-align: center; 
          max-width: 370px;
          width: 78%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          color: #e2596d;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 1.2px;
        }
        .error{
          font-family: Yanone Kaffeesatz;
          color: #e2596d;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          display: block;
          margin-top: 20px;
        }
      }
    }
  }
}
